[2018-10-30 21:42] zimmerle commented on #1845
ModSecurity version 2 saves a verbose string with all the matching details. Like the example below:

https://github.com/SpiderLabs/ModSecurity/blob/49495f1925a14f74f93cb0ef01172e5abc3e4c55/apache2/re_operators.c#L3719-L3720

In version 3 we just have the matching ip address:

https://github.com/SpiderLabs/ModSecurity/blob/065c2e67b64656e1db0026c3f3307d7ee3cddd6f/src/operators/rbl.cc#L226-L227

It

[2018-10-30 21:42] #1845 closed, assigned to victorhora

[2018-10-30 21:49] zimmerle commented on #1728
I am going to close this issue as @dune73 , seems to be assured instrumentation should really work. As stated at SpiderLabs/ModSecurity-nginx#99. Thank you @defanator.

[2018-10-30 21:49] #1728 closed

[2018-10-30 23:40] kjakub commented on #1945
:+1: thank you

[2018-10-31 00:21] zimmerle commented on #1398
Hi @7ym0n,

This leak seems to be related to the Count variable modification which was closed few iterations ago. I would like to invite you to test it again with the latest version on **v3/master**. Please re-open this issue if you see a leak.

[2018-10-31 00:29] zimmerle commented on #850
Closing this in favor of #89

[2018-10-31 00:29] #850 closed

[2018-10-31 00:34] zimmerle commented on #1089
Hi @stig,

The information on different segments was documented here: https://github.com/SpiderLabs/ModSecurity/wiki/ModSecurity-2-Data-Formats#parts

As of version 3 we have the logging in a JSON format, those letters are not used any longer. For backwards compatibility we still have an option to use this old format. We are not thinking in changing it, to keep the compatibility.

[2018-10-31 00:34] #1089 closed

[2018-11-01 10:04] Roger-Man commented on #1141
@HOSTED-POWER
Hi,
If you have lmdb installed, you could enable it by passing `--with-lmdb` to modsecurity `configure` script.
Good luck

[2018-11-01 13:04] ghost commented on #1941
Thanks a lot  to Developers/Maintainers @zimmerle @victorhora ,
SecUnicodeMapFile unicode.mapping file is no-longer creating errors atleast  _in my setup_

Ubuntu cosmic minimal
Nginx 1.15.5
Modsec v3/master

kudos

[2018-11-01 14:08] HankQuiter commented on #1941
I am still seeing this issue in docker containers with alpine linux, nginx (1.15.5 and 1.15.3).
I cannot second the statement that Shubham-Panwar just made about it not throwing errors anymore.  I would also like to further the claim that this is not fixed by pointing out that the unicode.mapping file that is sought after by the configuration does not get created.  I May be missing something - but

[2018-11-01 14:38] ghost commented on #1941
@HankQuiter I don't know much about your system,

but if you use  `$ git clone --recursive -b v3/master https://github.com/SpiderLabs/ModSecurity `

there is unicode.mapping file inside ModSecurity Folder , Which you can copy to the configuration folder.

[2018-11-01 15:40] defanator commented on #652
@victorhora @zimmerle just got a similar issue with a simplest multipart payload:

[code]

Error log:

[code]

I'm on a recent v3/master, nginx/1.15.5, connector from master.

[2018-11-01 16:08] gwo5002 commented on #1941
It appears that e3b9f7c9131b16a260044755a08edf94715bf705 broke `libmodsecurity` compilation for me.
Output from `make`:
[code]
FWIW I'm on Amazon Linux and can still build on 84ece3edcba162fcea37a11588a99890ef92293e

[2018-11-01 17:03] zimmerle commented on #1941
Fixed at: 18cdffdbca75e6b9f790f6df2807a32cd805c0a0

[2018-11-01 17:49] HankQuiter opened #1946 "rules_properties.cc fails to build - worked earlier today."
Building in Docker Alpine linux fails on "rules_properties.cc" it built properly earlier on today.

Here is all I can get out of the Docker build process.   I started the copy of the text a number of files before rules_properties.cc for context.
/bin/bash ../libtool  --tag=CXX   --mode=compile g++ -DHAVE_CONFIG_H -I.  -std=c++11 -I.. -g -I../others -fPIC -O3 -I../headers -DWITH_GEOIP -I/usr/includ

[2018-11-01 18:02] victorhora commented on #1946
@HankQuiter

This was already fixed earlier today at https://github.com/SpiderLabs/ModSecurity/commit/18cdffdbca75e6b9f790f6df2807a32cd805c0a0

See https://github.com/SpiderLabs/ModSecurity/issues/1941 for more information.

Thanks.

[2018-11-01 18:02] #1946 closed, assigned to victorhora

[2018-11-01 20:08] adaminato42 commented on #1658
I seem to be having a similar issue, I posted to the mailing list:

https://sourceforge.net/p/mod-security/mailman/message/36453758/

Is this also not supported in 2.7.7?

Unfortunately moving to a newer version of isn't possible at the moment, and the highest we'd get to is stock Ubuntu 16.04 LTS (Apache 2.4.18, ModSecurity 2.9.0), due to limitations in our vendor application stack.

[2018-11-01 20:44] HOSTED-POWER commented on #1141
Hey Roger-Man,

Thanks a lot for your feedback! Just pass it and it will use it? :)

Any idea about redis by coincidence?

[2018-11-01 21:23] zimmerle commented on #1141
Hi @HOSTED-POWER,

Redis is not yet supported. Check #1139.

[2018-11-01 21:26] zimmerle commented on #652
Hi @defanator,

Please check #1924.

[2018-11-02 00:17] #741 closed

[2018-11-02 00:37] zimmerle commented on #598
Hi @derhansen,

Indeed that is a limitation on version 2. There is a hard limit set here:
https://github.com/SpiderLabs/ModSecurity/blob/f66cd4111f08a26d4429cb0071e992deb050928a/apache2/apache2_util.c#L205-L206

This is no longer a limitation on v3.

[2018-11-02 00:37] #598 closed

[2018-11-02 08:18] airween commented on #652
Issue of @defanator is valid, the well-formed multipart upload is denied with "!\@eq 0" operator.
There is a [PR](https://github.com/victorhora/ModSecurity/pull/1) - should I sent it to directly to ModSecurity (instead of @victorhora)?

[2018-11-02 08:53] tomsommer commented on #1255
Can confirm this, 408 errors are not being received by mod_security2 so there is no way to capture or parse them

[2018-11-02 14:16] chrisxchrisxchrisx commented on #934
I am getting the same error with

xampp-win32-7.2.11-0-VC15-installer
mod_security-2.9.2-win32-VC15

In line with the mod_security package documentation I performed the following steps:

1. Copied mod_security2.so to apache/modules
2. Renamed apache/bin/libcurl.dll
3. Copied yajl.dll and libcurl.dll to apache/bin
4. Inserted in apache/conf/httpd.conf "LoadModule security2_module modules/mod_securi

[2018-11-02 21:31] victorhora commented on #948
Although this issue is closed, I wanted to provide feedback on testing of a fresh installation of Windows Server 2016 and IIS 10 with ModSecurity 2.9.2 MSI package.

Running the MSI package, successfully installs ModSecurity 2.9.2 IIS module which gets added to the main site configuration as expected:

![image](https://user-images.githubusercontent.com/15767386/47941272-db0f4480-dec3-11e8-990f-38d

[2018-11-02 21:37] victorhora commented on #1122
Testing of a fresh installation of Windows Server 2016 and IIS 10 with ModSecurity 2.9.2 MSI package shows that the MSI installer is performing as expected when it comes to installing and uninstalling.

That being so, we have reasons to believe the issue faced by some of the users could be due to particularities on a given environment (hardening, permissions, other packages, modules etc).
Please c

[2018-11-02 21:37] #1122 closed

[2018-11-02 22:56] victorhora commented on #1868
Following up on the MSI issues reported at #1122 / #948, I can confirm that the issue reported here happens on Windows 10.

The problem seems to be related with the condition MSIUSEREALADMINDETECTION set [here](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/iis/installer.wxs#L93) not being satisfied by default.

I believe it has to do with the that Windows 10 handles "RunAs" here. If you

[2018-11-02 23:02] victorhora commented on #1868
Commit https://github.com/SpiderLabs/ModSecurity/commit/1843b79adbceec6152987efb157a45fe1f152b66 make the error message more helpful for these edge cases.

Thanks for your report @dmarlow :)

[2018-11-02 23:02] #1868 closed, assigned to victorhora

[2018-11-04 14:22] Marcool04 opened #1947 "Memory leak on apache"
**Describe the bug**

I am seeing a memory leak on a Raspberrypi running archlinuxarm, on an Apache webserver.

**Logs and dumps**
Here is the clearest illustration of the leak:
![screenshot 2018-11-04 at 14 51 26](https://user-images.githubusercontent.com/15948152/47964992-62ce8d80-e041-11e8-9176-f35181dd3c4d.png)
Server is started at 14:23:00 with mod_security included. Then restarted a little a

[2018-11-04 23:57] kwenjoe commented on #1842
I still has the same problem , after nginx and modsecurity run about 7-8 days, only 1 cpu working and performance will become poor.
I use ubuntu 16.04 , nginx 14.0 and have 12 vcpus 8G ram .
If any other things I provide can help fix this issue, please let me know.

[2018-11-05 02:28] victorhora commented on #1241
Renaming the function seems to work fine. Since https://github.com/SpiderLabs/ModSecurity/commit/b3fa87dc7cc8eec21adf8c26e7f0e373b0bb935d this should not be a problem anymore and I can confirm compilation now completes successfully on NetBSD 8.0.

Thanks for the report! :)

[2018-11-05 02:28] #1241 closed

[2018-11-05 03:06] victorhora commented on #979
The proposed patch has been fixed and the improvement was added to the master branch as of https://github.com/SpiderLabs/ModSecurity/commit/9be0a407ebc8a7972b129a76109d54500e19bb41.

Thanks! :)

[2018-11-05 03:06] #979 closed

[2018-11-05 03:11] victorhora commented on #1780
Hi @tomascal

Can you let us know if adding [SecStreamOutBodyInspection](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecStreamOutBodyInspection) makes any difference?

[2018-11-05 19:33] victorhora commented on #1947
Hi @Marcool04

Thanks for your comprehensive report :)

From what I can tell, the [libModSecurity package for ArchLinuxARM](https://archlinuxarm.org/packages/aarch64/libmodsecurity/files/PKGBUILD) is built on top of 3.0.2 released version.

I believe the issue you are reporting should not happen on the current codebase (pre-3.0.3) from v3/master. There are significant [changes and improvements](ht

[2018-11-05 19:33] #1947 closed, assigned to victorhora

[2018-11-05 21:24] dune73 opened #1948 "@pmf operator on libModSecurity3 is not ignoring "#" on an otherwise empty line as it should"
**The CRS rule 913100 is based on scanners-user-agents.data and this file contains lines with only a `#`. A user-agent with a `#` leads to a false positive.**

**Logs and dumps**

See https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1215

_Notice:_ Be carefully to not leak any confidential information.

**To Reproduce**

Steps to reproduce the behavior:

```curl -v localhost -H "User-Age

[2018-11-05 23:00] Marcool04 commented on #1947
Hi @victorhora
Thanks for getting back to me so fast.
Indeed, I see a number of memory leek fixes in the changelog from 3.0.2 to 3.0.3. As the arch linux policy is to stick to upstream (stable) as close as possible, I would imagine that the upgrade will happen only when v3.0.3 is released (oh, I see it just was 2 hours ago, well, lets give the libmodsecurity package maintainer a while to get to it

[2018-11-06 00:30] victorhora commented on #1948
Hi @dune73

Thanks for the report. It seems like this is a duplicate of https://github.com/SpiderLabs/ModSecurity/issues/1645. Do you mind sharing your findings there so we can better keep track of the issues?

Thanks.

[2018-11-06 00:30] #1948 closed, assigned to victorhora

[2018-11-06 04:04] dune73 commented on #1645
I can confirm this issue. Surfaced with CRS.

See SpiderLabs/owasp-modsecurity-crs#1215

[2018-11-06 04:05] dune73 commented on #1948
Don't mind at all. Thanks for the pointer.

[2018-11-06 14:21] lifeforms commented on #1645
We have included a workaround for this problem in CRS 3 development branch by removing lonely `#` lines in pmf data files.

https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/1230

We plan to issue a release candidate 3.1-RC2 around Nov 11th. Those suffering from this issue please testdrive it if you can.

For those who hit this problem in the future, upgrading your CRS to 3.1 or later will

[2018-11-07 17:17] defanator commented on #902
@zimmerle have you had a chance to take a look at this one?

[2018-11-07 23:02] zimmerle commented on #902
Hi @defanator,

Unfortunately not at this exactly moment. Our efforts are dedicated to release version 2.x. Once the release is shipped we are going to make e re-prioritization of the opened issues.

[2018-11-08 01:18] victorhora commented on #1931
Hi @Montorce,

You probably need to set [SecStreamInBodyInspection](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecStreamInBodyInspection) to ```On```. See https://github.com/SpiderLabs/ModSecurity/issues/1300#issuecomment-272767239

[2018-11-08 08:29] Montorce commented on #1931
Hi @victorhora ,

thank you for your feedback.

Unfortunately I have already enabled this option all the time, so this isn't a solution for me.

Perhaps you have some more ideas to approach my problem.

Regards

[2018-11-08 15:48] victorhora commented on #1931
Hi @Montorce,

Thanks for your feedback. If that's the case, it warrants further investigation then. Reopening and tagging it properly.

[2018-11-08 23:12] victorhora commented on #563
This is a known limitation with the IIS module. Depending on the environment and Windows version, recursive permission has to be given to the files being opened for writing by ModSecurity (e.g. AuditLog, DebugLog, collection files etc.)

See https://github.com/SpiderLabs/ModSecurity/issues/812

Issue https://github.com/SpiderLabs/ModSecurity/issues/812 was tagged to be addressed for 2.9.4 release.

[2018-11-08 23:12] #563 closed

[2018-11-08 23:13] victorhora commented on #562
Closing due to being resolved based on @smytht and @tizzythegrey comments. Thanks.

[2018-11-08 23:13] #562 closed

[2018-11-08 23:19] victorhora commented on #727
The build process was [refactored](https://github.com/SpiderLabs/ModSecurity/pull/1487) and should be easier to test these changes if needed.

MLogC should be working as of the current v2 code in master. Please let us know if this issue persist with the current release/code.

Thanks.

[2018-11-08 23:19] #727 closed

[2018-11-08 23:38] victorhora commented on #1435
Hi @globules-io

As a follow up from uninstallation issues: When uninstalling, please try to run the .msi as Administrator or using msiexec. See https://github.com/SpiderLabs/ModSecurity/issues/1868#issuecomment-435532593 for more information.

 As for the issue you described about ModSec blocking other process on a different port, I could not reproduce it here. I'm wondering if it's any particula

[2018-11-08 23:38] #1435 closed

[2018-11-08 23:45] victorhora commented on #1931
See if you can enable [SecDebugLog](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecDebugLog) on your environment and look for error messages on these. You might need to tinker with the log file permissions as Windows 2016 / IIS 10 seems to be more picky with permissions now. (See https://github.com/SpiderLabs/ModSecurity/issues/812)

Additionally, please be aware tha

[2018-11-08 23:48] victorhora commented on #1642
Setting [SecStreamInBodyInspection](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecStreamInBodyInspection) to "On" should solve your issue.

Thanks.

[2018-11-08 23:48] #1642 closed

[2018-11-08 23:49] victorhora commented on #1648
Yes, setting [SecStreamInBodyInspection](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecStreamInBodyInspection) to "On" should solve the issue.

Thanks for your help @okazakov :)

[2018-11-08 23:49] #1648 closed

[2018-11-09 20:54] victorhora commented on #887
This doesn't seem to be a problem on the current code/version of the IIS module.

A rule like so:
[code]

Results in a successful match:

[code]

If there's an issue  with specific path format, please provide reproducible steps for the issue and we can investigate further. Thanks.

[2018-11-09 20:54] #887 closed

[2018-11-09 21:43] victorhora commented on #1656
Hi @Hystreal

I can't reproduce this issue on 2.9.2.

Also, when trying to add to custom sites in IIS, this is the supported syntax:
[code]

[2018-11-09 21:43] #1656 closed

[2018-11-09 21:48] victorhora commented on #754
Hi @doublej42

You probably need to set SecStreamInBodyInspection to On. See #1300 (comment).

[2018-11-09 21:48] #754 closed

[2018-11-09 22:09] victorhora commented on #1656
Oh, now I understand why I couldn't reproduce this. This issue was fixed on the current codebase (see #1787).

See also issue https://github.com/SpiderLabs/ModSecurity/issues/787.

[2018-11-09 23:11] victorhora commented on #788
Fixed as of https://github.com/SpiderLabs/ModSecurity/commit/22322ce355a24e50de18b530b52b0bf9e57660cb

Thanks!

[2018-11-09 23:11] #788 closed

[2018-11-09 23:35] victorhora commented on #593
Hi @frioux

This happens due to the fact that every transaction that ModSecurity is supposed to process, requires an unique ID and, in the case ModSecurity v2, this is done through the unique_id module. Otherwise the internal transaction representation is not even built and the create_tx_context() returns NULL.

As inspecting transactions / requests is by far the most popular functionality of a WA

[2018-11-09 23:35] #593 closed

[2018-11-09 23:37] victorhora commented on #581
This shouldn't be an issue with libModSecurity. Please upgrade.

Thanks.

[2018-11-09 23:37] #581 closed

[2018-11-09 23:45] victorhora commented on #1364
Hi @maverick64

Yes, It seems like this was on purpose. See [mymodule.cpp#L625-L627](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/iis/mymodule.cpp#L625-L627)

Processing of chunked might not be completely implemented / handled by the IIS module. See: [mymodule.cpp#L450-L452](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/iis/mymodule.cpp#L450-L452)

[2018-11-10 16:29] weliu opened #1950 "Should we cancel Macro Expansion support to tag action?"
This Macro Expansion support was discussed in #324, but I found that the example in that issue is not very convincing:
tag:'http://www.owasp.org/index.php?title=ModSecurity_CRS_RuleID-%{rule.id}
The rule id can be determined during writing this rule, so there is no need to get its value at run time.

I think we may cancel this Macro Expansion support to tag action because:
A. It impacts performanc

[2018-11-12 12:48] zimmerle commented on #1950
Hi @weliu,

For sure removing the run time calculation on the tags will speed up things, not sure however if it will be a big boost or not. As we don't consider the macro expansion on **SecRule(*)ByTag**.

I complete agree with your argument. I don't see why have the tags run-time-computed. But I also don't want to brake the compatibility fro those who are using. Do you thing you can have it as a

[2018-11-12 13:12] cano-devel opened #1951 "Error parsing a commented line ends witch \"
**Describe the bug**

Hi,
Really I don’t know if it is a bug or an expected behaviour but when libmodsecurity is parsing the rules configuration file, if a commented line ends with the character ‘\’ , the following rule is skipped.

**To Reproduce**

Here a rules file example named testsrules.txt:
[code]
Executing the command:

I get:

Test ok.

The command output shows that 0 rules was loaded

**

[2018-11-12 13:17] zimmerle commented on #1951
Hi @alvarocano-zevenet,

Thank you for the report. Interesting finding. I am going to investigate.

To take into consideration:

The following is a desirable feature:
[code]

This should comment the entire rule. Regardless of having a syntax error or not.

[2018-11-12 15:26] cano-devel commented on #1951
Thanks for your information

[2018-11-13 01:48] weliu commented on #1950
Hi @zimmerle ,

I am afraid it would be difficult for me to add such a compilation flag. Because changing the behavior of tag action involves parser modification. I am no expert on bison, is it possible to add such a flag in seclang-scanner.ll and seclang-parser.yy?
How about adding a new action 'dtag' which means dynamic tag, and change current 'tag' action to configuration kind? Those who need m

[2018-11-13 13:25] nachtsheim opened #1952 "Multipart: Skipping invalid part 7f94eed17be8 (part name missing)"
Hi! I get the metioned error message in apache error log and there is no way to exclude this check or anything like this. The request gets respondet by http status 200, so everything works as supposed. The error seems to be more like a warning?

Is there a way to stop this warning. I don't want it in the apache error.log

modsec audit log:
--91566c04-A--
[13/Nov/2018:13:49:19 +0100] W@rITcWtEVqF0W

[2018-11-14 01:15] victorhora commented on #1208
This makes sense for me. I've submitted a commit for testing here: https://github.com/SpiderLabs/ModSecurity/commit/6926f404d1c662302fa92e7b4a9d902fde5b562a
And v3 branch here: https://github.com/SpiderLabs/ModSecurity/commit/318d45236fb872f984e5308fc8c0a117a68d9c7e

If all goes well, I believe we can merge for 2.9.3.

Thanks :)

[2018-11-14 04:11] pfischermx opened #1953 "Be able to set path for shared-locations"
First off I'm aware of https://github.com/SpiderLabs/ModSecurity/issues/1388

However I wonder if there are some workarounds you are aware. I'm building the module with the OS (Centos) packages of libmodsecurity, those packages unfortunately were compiled with libmdbm so even if I build a local libmodsecurity during my build this would still depend on the libmodsecurity library that is running on

[2018-11-14 05:43] luchy0120 opened #1954 "How to use pm operator with mutex ?"
Dear Modsecurity team , I want to ask when using Modsecurity with pm operator ,  whether we should add --enable-mutex-on-pm during configuration .
Is it used under multithread situation ?

[2018-11-14 07:32] marcstern commented on #1952
This is a real protocol violation and should be detected (and blocked), otherwise we allow for (easy) attacks evasions.
If you allow this, you should force the url-encoded parser to parse the body correctly.

[2018-11-14 08:53] nachtsheim commented on #1952
Currently it is not blocked (http response status code 200). Maybe because we did
"SecRuleRemoveById" 200003 and 920140.

So IE11 works not rfc compliant and so we have to change the frontend javascript code to work around this IE11 behavior?

[2018-11-14 13:38] zimmerle commented on #1953
Hi @pfischermx,

You can set the prefix of libModSecurity with the`--prefix` option, passed to the `./configure` script. Is that what you are looking for?

[2018-11-14 13:38] #1953 closed, assigned to zimmerle

[2018-11-14 16:29] zimmerle commented on #1954
Hi @luchy0120,

This is not meant to be used in a regular environment. That was implemented to facilitate the testing of the library in different environments. Should be safe to use without the mutex. Do you have any specific use case that you can think in a benefit of using it?

[2018-11-14 16:29] #1954 closed, assigned to zimmerle

[2018-11-14 18:23] pfischermx commented on #1953
@zimmerle Not precisely. modsecurity will create modsec-shared-collections and modsec-shared-collections-lock files under /:

$ ls -1 /mod*
/modsec-shared-collections
/modsec-shared-collections-lock
[pfischer@staging-traffic-manager03.dev ~]$

From what I understand there is no way to change the path of those files (to something like /var/run or /var/db or something) and the way to prevent those f

[2018-11-14 21:31] theseion opened #1956 "ctl:ruleRemoveById doesn't handle all ranges equally"
**Describe the bug**

I want to remove a couple of rules conditionally with a range operation like `ctl:ruleRemoveById=913100-913105`. This has previously worked fine with Apache httpd 2.4 (ModSecurity v2) but does not with nginx 1.14.1. (ModSecurity v3.0.3). I have experimented with different ranges and removing the rules individually and that works mostly. But some ranges do not lead to the excl

[2018-11-14 22:16] victorhora commented on #1658
Hi @ITILMaster / @adaminato42 ,

According to #185, internal redirects should be working on the current codebase. The supported versions of ModSecurity as of today are 2.9.2 and 3.0.3.

I would suggest first testing the issue with a more current version (i.e. 2.9.2 or cloning from master). If the issue persists on the latest version, let us know and we can reopen the issue and investigate further.

[2018-11-14 22:16] #1658 closed

[2018-11-14 22:18] victorhora commented on #1582
Closing due to lack of feedback.

If the issue persists, let us know and we can try to investigate further. Thanks!

[2018-11-14 22:18] #1582 closed

[2018-11-14 22:39] victorhora commented on #1364
It seems like this commit from Microsoft / @allanbomsft does a workaround on this behaviour on IIS: https://github.com/SpiderLabs/ModSecurity/commit/2bf03002fd7d132156d1533a8cecb8d5a4363b32

[2018-11-14 22:49] victorhora commented on #1333
You can do this kind of customization by tweaking with your web.config files. See the [README.TXT](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/iis/wix/README.TXT) for IIS.

Also these comments / issues may provide additional information to help you:

https://github.com/SpiderLabs/ModSecurity/issues/1656#issuecomment-437504283
https://github.com/SpiderLabs/ModSecurity/issues/1386#issue

[2018-11-14 22:49] #1333 closed

[2018-11-14 22:54] victorhora commented on #1149
@dcoli Thanks for the comprehensive report.

Can you let us know if this issue persists on the latest codebase for v2 (2.9.3-pre)?

Also, you could be facing this issue due to [SecStreamInBodyInspection](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecStreamInBodyInspection) being disabled by default on IIS. Try enabling this feature and see if solves your issue.

Tha

[2018-11-14 23:08] victorhora commented on #1072
Can't reproduce this issue with the current codebase of v2.

I believe commit https://github.com/SpiderLabs/ModSecurity/commit/a24957469261873d8596aac005677cac3d0abbd2 should have fixed this already. Thanks.

[2018-11-14 23:08] #1072 closed

[2018-11-14 23:19] victorhora commented on #555
Marking this one as duplicate as already being discussed at #687. Tagged for to be implemented for 3.x.

[2018-11-14 23:19] #555 closed

[2018-11-14 23:45] victorhora commented on #404
With the advent of libModSecurity, I think the requirements are changed.

An initial implementation is ongoing here: https://github.com/shukitchan/ats-luajit-modsecurity

HAProxy + ModSecurity also seems like a viable solution: https://github.com/git001/haproxy-waf

[2018-11-14 23:45] #404 closed

[2018-11-15 06:38] luchy0120 commented on #1954
Hi @zimmerle , is acmp_process_quick thread-safe ? Could pm be used in a multi-thread environment ?

[2018-11-16 20:01] victorhora commented on #1208
Fixed in v2: https://github.com/SpiderLabs/ModSecurity/commit/b600669d02d2344089c8b024f75c806619cb3135

And v3: https://github.com/SpiderLabs/ModSecurity/commit/ecad8c6c7e0aca3225c432f0ea5b11e160c6c5ce

Thanks for your contribution @katef :)

[2018-11-16 20:01] #1208 closed

[2018-11-18 22:02] beatinger commented on #613
Hello Victor,

I would like to CONFIRM with you that this issue still exists exactly the same as described above, even whilst using v2.9.2.  When I uninstall ModSecurity, the issue goes away.  I will try v3 next, and let you know what happens by coming back here and adding another note.  Please let me know when this will be fixed, as I desperately need to block Chinese IP addresses from accessing

[2018-11-18 22:06] beatinger commented on #613
Hello Victor,

Actually I just found that v3 is not available as an MSI for installation on Windows (at: http://www.modsecurity.org/download.html).  Please let me know when you think there might be a fix in place.  I really need a way to stop IP addresses from China from accessing my servers.  I suppose I could add the PeerBlock firewall, but don't really want to go that route.  Thank you very muc

[2018-11-18 22:28] beatinger commented on #69
There is actually another issue with ModSecurity with IIS, and that is, it does not allow objects to be created (error '80004005').  Took quite a while for us to figure this out.  Using very latest version, and problem still exists.

[2018-11-19 03:01] ghost opened #1958 "is this a false flag?"
I'm getting errors due to ``` ``` in wp posts
[code]

[2018-11-19 22:52] victorhora commented on #613
Still could not reproduce the issue on a recent IIS build for 2.9.x.

![image](https://user-images.githubusercontent.com/15767386/48739563-5c840800-ec22-11e8-8cbd-dfd53980d321.png)

[code]

Please bear in mind that the for the IIS build, we currently recommend setting [SecStreamInBodyInspection](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecStreamInBodyInspection) t

[2018-11-19 22:52] victorhora commented on #613
There's a chance that the behaviour @beatinger is experiencing on the newer version could be related with a false positive. To be certain, check the EventViewer / audit_logs and debug_logs.

If certain is not a false positive, please provide a detailed description of the running environment (IIS plugins, versions, customization, ruleset) and preferably with reproducible steps leading to the issue

[2018-11-19 23:50] victorhora commented on #1958
Based on your logs, you might be facing a false positive with the Core Rule Set (CRS) or you are missing proper tuning of the ruleset.

Please see available help resources at https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/README.md you can also direct questions and someone from the community should be able to support you.

[2018-11-19 23:50] #1958 closed, assigned to victorhora

[2018-11-19 23:59] luckyraul commented on #1873
@inittab Hi, any updates about these packages?

[2018-11-20 00:00] #1149 closed

[2018-11-20 01:24] beatinger commented on #613
Thank you for responding.  This is a clean and fresh IIS install on Windows server 2012.  The issue has to do strictly with the instantiation of objects, such as a COM object or SQL server object.  In fact, the following code (contained in the GLOBAL.ASA file), will fail immediately after restarting IIS (iisrestart):

<object runat="server" scope="session" id="oBrowserType" progid="MSWC.BrowserTyp

[2018-11-20 01:26] beatinger commented on #613
Unfortunately, something in this editor, stripped out the HTML code.  I am going to try to include it again here, but will remove the less than/greater than brackets, and use apostrophes instead, as follows:

'object runat="server" scope="session" id="oBrowserType" progid="MSWC.BrowserType"'

'/object'

[2018-11-20 08:46] inittab commented on #1873
Hi, I uploaded the first packaging to Debian Sid some weeks ago, but the build daemons are failing to build them, some tests fail in some archs. Here's my call for help on the packagers list:
https://sourceforge.net/p/mod-security/mailman/mod-security-packagers/?viewmonth=201810
Still working on it.
Oh, and the packaging repo:
https://salsa.debian.org/agi/modsecurity

[2018-11-20 15:16] RosscoeP commented on #613
I had similar issues.

Windows Web Server 2008 R2, IIS 7.5 and ModSecurity 2.9.1.

I found the ASP request object had TotalBytes that made sense, but BinaryRead(request.TotalBytes) returned 80004005. What was occurring was that ModSecurity was reading (and emptying the return buffer) but leaving all other properties intact.

Therefore it may be that the SecStreamInBodyInspection change will fix th

[2018-11-20 18:33] Roger-Man commented on #1141
Hi @HOSTED-POWER

Hi just pass it and the `configure` script uses it. But, Hey just don't pass it. Its so buggy and ends up in [nginx](http://nginx.org/) worker process to crash and exit. This result in user session termination with empty responses. The logs complain about

May be thats why no one including @zimmerle answered you how to configure it for a long time. I know he actively replies the

[2018-11-20 19:08] beatinger commented on #613
Where is that SecStreamInBodyInspection setting at?

[2018-11-20 22:59] katef commented on #1208
Wonderful, thank you :)

[2018-11-21 09:34] feamsr00 commented on #1648
Whoa, slow down there @victorhora. That might be a **workaround** but that doesn't make any semantical sense as a solution.

SecStreamInBodyInspection (which is only documented to be appropriate up to ver 2.9.x) seems to be designed as a way to widen visibly into incoming data. Which I would assume would allow richer analysis in some way. That said, there remains no meaningful reason why the DO mo

[2018-11-21 09:44] feamsr00 commented on #1648
In a further effort to be helpful, if you closed this bug report in an effort to triage issues, might I suggest instead using a "Has-Workaround" label?

[2018-11-21 15:22] theMiddleBlue opened #1960 "SecRuleEngine ignore DetectionOnly"
**Describe the bug**
it seems that the latest v3/master completely ignores the DetectionOnly SecRuleEngine configuration.  When a rule match, I get always the default disruptive action even if SecRuleEngine is set to DetectionOnly… in the debug logs I can see the "deny" action

**Logs and dumps**
debug log
[code]
for the same request:
[code]
don't know why for `pass` it skip the disruptive action

[2018-11-21 18:15] victorhora commented on #653
Fixed at  https://github.com/SpiderLabs/ModSecurity/commit/7af8363fd46fd5a0bb21cc6b623d6b344f27be2a

Thanks for reporting!

[2018-11-21 18:15] #653 closed

[2018-11-21 21:47] kavvalos commented on #1941
![capture](https://user-images.githubusercontent.com/45245191/48870026-eaf5b680-ede7-11e8-9a98-572df4d02149.PNG)
I had an issue after update nginx

Nov 21 23:22:49 vpbx.voipcom.gr nginx[19879]: nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /etc/nginx/modsec/modsecurity.conf. Line: 236. Column: 17. Failed to open the unicode map file from
Nov 21 23:22:49 vpbx.voipcom.gr syste

[2018-11-22 01:20] victorhora commented on #1941
Hey @kavvalos

Thanks for your report.

I'm surprised that you stumbled on this. Adding the "./" to the file name shouldn't be necessary. Can you confirm that if you remove this libModSecurity is unable to open the file?

Also, commit https://github.com/SpiderLabs/ModSecurity/commit/662fe63a47d012b89175ea7da5be1a8f7e76014c should add the unicode.mapping to your setup so that you don't need to copy

[2018-11-22 08:23] kavvalos commented on #1941
If I put fulll path or I remove "./" nginx does not start

[2018-11-22 14:14] theseion commented on #1956
@victorhora Do you have any idea about what the impact of this is yet? In particular, could this affect the rules that remove ranges of rules in the OWASP CRS? If so we'll be forced to wait for a fix.

Sorry for the hassle, we're in a bit of a hurry to move our infrastructure to NGiNX and ModSecurity is currently the show stopper.

[2018-11-23 16:28] soonum opened #1961 "Rule variable interpolation broken"
Hi there,

I'm currently in the process to move from libmodsecurity v3.0.2 to v3.0.3. I'm also using the owasp-crs v3.0.2. I've notice after looking at the Modsecurity log file (level 8) that the interpolation of rule variable is broken for a specific case.

Let's take the rule 941100 for illustrating the purpose.
Here what's defined in the rule file : `setvar:tx.%{rule.id}-OWASP_CRS/WEB_ATTACK/XS

[2018-11-24 17:23] victorhora commented on #1780
Please see https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#RESPONSE_STATUS.

This should not be a problem with libModSecurity.

Thanks for your report.

[2018-11-24 17:24] #1780 closed, assigned to victorhora

[2018-11-26 13:52] zimmerle commented on #1576
Thanks @marcstern.

Merged as part of: 9b6d4b2bb9887e6647be585db1dfb03bd7114925 and 25e5543c7f66c97871d9202cd15b9945de90faf1.

[2018-11-26 13:52] #1576 closed

[2018-11-26 16:19] slushz opened #1962 "Comodo WAF Rules doesnt work with Modsecurity v3.0.3"
Comodo WAF Rules doesnt work with Modsecurity v3.0.3

[2018-11-26 21:00] zimmerle commented on #1618
Hi @madmox, I guess that you are using the old 2.x family where this was an issue till today.  Having #1576 and #1577 closed, this was consequently closed. Notice that the solution adopted on 2.x is not fancy as it is on v3. However, should solve this specific problem.

[2018-11-26 21:00] #1618 closed

[2018-11-26 21:01] zimmerle commented on #1962
Hi @slushz,

I am not sure what exactly i can do to help. Can you explain to us what is the exactly problem?

[2018-11-26 22:55] zimmerle commented on #1961
Hi @soonum,

Sorry for the inconvenience. The variables is asked to be resolved here:
https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/actions/set_var.cc#L68

before cbf2fe97034e49c9ea48b56bb7d34dcd9e8d1bb3, the rule parameter was not being passed to the method ```evaluate```, which was considering the rule to be null. After cbf2fe97034e49c9ea48b56bb7d34dcd9e8d1bb3 the resolution shoul

[2018-11-26 22:55] #1961 closed, assigned to nobody

[2018-11-26 23:55] zimmerle commented on #1956
The support for ranges was added at ce3abf262695dd857938caa8ee5fb30235651ddc. This is no longer an issue.

[2018-11-26 23:55] #1956 closed, assigned to victorhora

[2018-11-27 00:56] ldbobby opened #1963 "sanitise* actions implementation"
**Describe the bug**

A bit confused the below sanitise* actions are supported yet as I see code for it, but I get errors similar to "SanatiseMatched is not yet supported." when trying to use them. If they're not yet supported, curious if you might have an ETA for implementation?

sanitiseArg
sanitiseMatched
sanitiseMatchedBytes
sanitiseRequestHeader
sanitiseResponseHeader

**Logs and dumps**

Nov

[2018-11-27 01:49] victorhora commented on #1963
@ldbobby

Yes, these are still pending implementation. See the entries about the sanitise actions on the reference manual: (e.g. [sanitiseArg](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#sanitisearg))

(To be implemented)

As of now, a number of issues are targeted to be fixed for the 3.0.4 release. See the [milestone for 3.0.4](https://github.com/SpiderLabs/ModSecur

[2018-11-27 01:49] #1963 closed, assigned to victorhora

[2018-11-27 07:22] theseion commented on #1956
Awesome! Thanks a lot!

[2018-11-27 10:22] 001appsec007 opened #1964 "JSON parsing error: lexical error: invalid char in json text.\\x0a"
OWASP CRS 3.0

"message": "Failed to parse request body.",
 "details": {
   "message": "Warning. Match of \"eq 0\" against \"REQBODY_ERROR\" required.",
   "data": "JSON parsing error: lexical error: invalid char in json text.\\x0a",
   "file": "rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf",
   "line": "143"
 },

POST request with JSON payload sent but not special characters or empty string and it'

[2018-11-27 10:41] 001appsec007 commented on #1964
Please find dummy JSON format which is similar to actual payload..

{"test_val":false,"test":[{"test":"test_test_test.doc","_val":"1-a1b2c3d4e5e7e8e9te","testTypeDiff":"valueTest","state":"process","_values":{"test":0,"testone":["a1b2c3d4e5e7e8e9te"]},"testID":"test:+0000000000","testQ":"test:+0000000000","_test":"test_test_test.doc","testType":"dummy","testValue":"testValue","work":"8.0"}]}

[2018-11-27 10:54] 001appsec007 commented on #1964
@victorhora
This is "BLOCKER" for us which triggered for many requests. Could you please help in suggesting FIX ASAP for same ?

[2018-11-27 12:18] zimmerle commented on #1964
Hi @001appsec007,

What happens to be the ModSecurity version that you are currently running? Can you give more details on the request?

[2018-11-27 12:19] zimmerle commented on #1962
I am going to close this issue as we are not having feedback.

[2018-11-27 12:19] #1962 closed, assigned to zimmerle

[2018-11-27 13:44] 001appsec007 commented on #1964
@zimmerle

I figured out this issue when JSON payload string contains ENTER (/n character identical to ASCII value //xoa) which is reproducible when request made through Burp and captured following issue as violation which is blocking all requests..

This ENTER i have added manually then posted via Burp found same issue in logs. But unclear cut is JSON is not creating any ENTER or /n  in middle of

[2018-11-27 13:46] zimmerle commented on #1927
Closed as of: #1949

[2018-11-27 13:46] #1927 closed, assigned to zimmerle

[2018-11-27 13:47] 001appsec007 commented on #1964
This is first time we introduced WAF OWASP CRS 3.0 to our existing application & earlier we don't have CRS rule engine.

[2018-11-27 14:00] zimmerle commented on #1964
@001appsec007 there are two different things: **ModSecurity** which is your WAF engine. The **CRS** which is a set of rules that once loaded into ModSecurity attempts to mitigate generic attacks on our web application. Depends where is the enter it may lead you to a invalid JSON. Which may be correctly report by the conjunction: ModSecurity + set of rules.

[2018-11-27 18:12] lexugax opened #1965 "ModSecurity 3.x closed network installation."
**Describe the bug**

I need to install ModSecurity for Apache in RedHat servers. Previous to version 3, it was easy to do this as the installation did not involve reaching a GIT repository. Is there a way to install it without the installation process requiring connection to the internet?

**Logs and dumps**

**To Reproduce**

**Expected behavior**

**Rule Set (please complete the following infor

[2018-11-27 18:35] ldbobby commented on #1963
@victorhora Would you know of any other way to achieve the same effect via libmodsecurity without the Sanitise* directives? Or would the best route be to modify the log_format in the nginx.conf?

[2018-11-27 19:36] victorhora commented on #1963
@ldbobby you could try stripping parts of your audit_log by tuning the [SecAuditLogParts](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecAuditLogParts) but be advised there's not too much fine grained tuning.

You could maybe create a script that sanitizes the audit_log for you once in a while with the risk that the data would be saved on disk first and only then be

[2018-11-27 19:59] victorhora commented on #1965
@lexugax there should be numerous ways to accomplish that. For instance:

* Simply download the released v3.0.3 zip package from the [releases page](https://github.com/SpiderLabs/ModSecurity/releases/tag/v3.0.38);
* Run a git checkout anywhere that has connectivity and then zip the folder;
* See if you can use any of the pre-built RPM packages available ;(https://pkgs.org/download/libmodsecurity)

[2018-11-27 19:59] #1965 closed, assigned to victorhora

[2018-11-28 04:51] 001appsec007 commented on #1964
In below JSON payload a Line Break is entered after "1-a1b2c3d" results to same error when manually sent this request via CRS 3.0

{"test_val":false,"test":[{"test":"test_test_test.doc","_val":"1-a1b2c3d
4e5e7e8e9te","testTypeDiff":"valueTest","state":"process","_values":{"test":0,"testone":["a1b2c3d4e5e7e8e9te"]},"testID":"test:+0000000000","testQ":"test:+0000000000","_test":"test_test_test.doc",

[2018-11-28 12:58] zimmerle commented on #1964
Hi @001appsec007,

This is indeed a invalid json:
[code]

[2018-11-28 12:58] #1964 closed, assigned to zimmerle

[2018-11-28 16:11] 001appsec007 commented on #1964
@zimmerle

Could you please parse this json format...

{"test_val":false,"test":[{"test":"test_test_test.doc","_val":"1-a1b2c3d4e5e7e8e9te","testTypeDiff":"valueTest","state":"process","_values":{"test":0,"testone":["a1b2c3d4e5e7e8e9te"]},"testID":"test:+0000000000","testQ":"test:+0000000000","_test":"test_test_test.doc","testType":"dummy","testValue":"testValue","work":"8.0"}]}

[2018-11-28 16:25] 001appsec007 commented on #1964
@zimmerle

The above one is valid JSON but still we are getting "JSON parsing error: lexical error: invalid char in json text.\\x0a".

We verified HEX values \x0A (Line Feed Character) & 5C also in PCAP but still facing same error. Could you please help on this.

[2018-11-28 16:32] lexugax commented on #1965
Thanks for your reply.
I am still having issues with some of these options. I tried downloading the zip file or running a git checkout in another location, but when I run sh build.sh, the script also tries to connect to git, which takes me back to square one. Also, due to my company's policies, I can't just download the pre-build packages from the specified site.

[2018-11-28 16:45] 001appsec007 opened #1967 "JSON parsing error: lexical error: invalid char in json text.\\x0a (Unsolved)"
This issue is unsolved & closed in #1964  JSON payload is not valid which is known already because ENTER is added in payload and asked to verify to reproduce this issue which is expected..

But in actual payload which we don't have any ENTER or special character still it's failing below VALID dummy payload shared to verify once again..

OWASP CRS 3.0

"message": "Failed to parse request body.",
"d

[2018-11-28 18:31] zimmerle commented on #1967
Hi @001appsec007,

Please use [gits](https://gist.github.com/) to send the payload, as the payload that you have placed here is invalid. JSON cannot contains **x0A** or **\n** or even **new line** (_all the same_, represented differently).

In order to help you, we need to understand several things, to begin with: What is your ModSecurity version? Is that happens in all payloads or just in this sp

[2018-11-28 20:11] victorhora commented on #1965
As far as I can recall, the git errors that you might be getting when you run build.sh should only be warnings as I think the script tries to figure out the version using git. I believe you should still be able to move forward and run the configure script (./configure) and then compile (make).

You might also check the feasibility of running buid.sh elsewhere, zipping the package and then running

[2018-11-28 20:19] lexugax commented on #1965
Thanks!

[2018-11-28 20:21] victorhora commented on #1964
@001appsec007 you could use any online JSON lint tool such as: https://jsonlint.com/

This JSON in particular shows as valid.

There's a chance that your particular client/library that handles the JSON that gets sent to ModSecurity is screwing up something and breaking the JSON.

Please go over issue https://github.com/SpiderLabs/ModSecurity/issues/1879 as a user was complaining about a similar pr

[2018-11-28 21:48] victorhora opened #1968 "Add interface in libModSecurity for reopening log files"
This is related with feature request https://github.com/SpiderLabs/ModSecurity-nginx/issues/121

As noted at https://github.com/SpiderLabs/ModSecurity-nginx/issues/121#issuecomment-420619429, we could leverage a similar approach as described at https://forum.nginx.org/read.php?29,247488,247500#msg-247500 (i.e. use standard nginx API to open some stub-file with ngx_conf_open_file(), add required ha

[2018-11-28 22:50] victorhora commented on #1648
@feamsr00 Please bear in mind that the for the IIS build, we currently recommend setting SecStreamInBodyInspection to On. This feature will be enabled by default in 2.9.3 (See #1299).

The problem with the slowdown with the uploads is not present anymore since afae690 (issue #1366), so it should be safe to add this for most environments.

The issue is closed due to the workaround being fit for mos

[2018-11-28 22:52] victorhora commented on #1648
I like the idea of a "Has-Workaround" label as we can use it for other issues. Done. Thanks!

[2018-11-28 22:55] victorhora commented on #1967
@001appsec007 please see: https://github.com/SpiderLabs/ModSecurity/issues/1964#issuecomment-442591207

[2018-11-29 12:59] zimmerle commented on #1967
Hi @001appsec007,

Did you had a chance to figure what was happening?

[2018-11-29 14:35] zimmerle commented on #1392
Closing this issue again as discussed on #1822

[2018-11-29 14:35] #1392 closed

[2018-11-29 16:36] zimmerle commented on #1916
Closing as described in #1919

[2018-11-29 16:36] #1916 closed, assigned to victorhora

[2018-11-30 00:48] zimmerle opened #1969 "Avoid to use ENV:TERM in the regression tests."
A while ago there was a discussion on the developer and packagers mailing lists [[1](https://sourceforge.net/p/mod-security/mailman/mod-security-developers/?viewmonth=201811)] [[2](https://sourceforge.net/p/mod-security/mailman/message/36455922/)] about the utilization of the environment variable TERM as part of a regression test. The objective of the test was to certify that ModSecurity was capab

[2018-11-30 00:52] zimmerle commented on #1969
Changes was changed accordingly.

https://github.com/SpiderLabs/ModSecurity/blob/07330e53f1f84eabec8fd075a0ef85d2c0502e19/CHANGES#L4-L7

[2018-11-30 00:52] #1969 closed, assigned to zimmerle

[2018-11-30 12:21] zimmerle commented on #1967
I mma

[2018-11-30 12:21] #1967 closed, assigned to zimmerle

[2018-11-30 12:44] zimmerle opened #1970 "Implements the ability to reload the rules without restart"
As a ModSecurity user I want to relaod/rehash my rules without restart my webserver. Rules will be able to be dynamic injected in a live traffic.

[2018-12-03 10:28] MZSN opened #1971 "ModSecurity: JSON parsing error: lexical error: invalid char in json text."
I am getting the error written in the title whenever my application hits my server. It is blocking all requests even the login requests as well. The difference only here is I have used end to end encryption. Is it why I am getting this error?

[2018-12-03 10:33] MZSN commented on #1971
I am using these versions:
[Mon Dec 03 15:30:04.000666 2018] [:notice] [pid 21180] ModSecurity for Apache/2.9.0 (http://www.modsecurity.org/) configured.
[Mon Dec 03 15:30:04.000895 2018] [:notice] [pid 21180] ModSecurity: APR compiled version="1.5.1"; loaded version="1.5.2"
[Mon Dec 03 15:30:04.000905 2018] [:warn] [pid 21180] ModSecurity: Loaded APR do not match with compiled!
[Mon Dec 03 15:30:

[2018-12-03 11:52] zimmerle commented on #1971
Hi @MZSN,

Do you mind to post the JSON that is triggered such rule? You can use [Gits](https://gist.github.com/) to do it. Without actually seen the data it will be very hard to help you.

[2018-12-03 12:07] zimmerle opened #1972 "Switch the default branch to v3/master"
v3/master is the place where most of the code is being done, therefore it makes sense to make it the default branch. Also it has a more fancy and modern looking landing page.

[2018-12-04 06:44] MZSN commented on #1971
The data is encrypted with AES-256 so even if I share it. It will be useless to look at? The login call was also encrypted so it blocked it as well using rule

ModSecurity: JSON parsing error: lexical error: invalid char in json text.\n [hostname "xyz"] [uri "/login"] [unique_id "W-@dDn8AAQEAAGpoh3UAAAAA"]

ModSecurity: Access denied with code 400 (phase 2). Match of "eq 0" against "REQBODY_ERROR"

[2018-12-04 06:49] MZSN commented on #1971
My application is end to end encrypted and when it hits modsecurity ssl offloading occurs and at app server the end to end encryption is removed. But modsecurity is blocking everything as end to end encrypted so if its not possible to scan the payload can I just allow URLs in these request? Like if the packet is destined to my desired url it should not be scanned? Thanks

[2018-12-05 12:20] zimmerle commented on #1951
IMHO, we should consider this as a feature. Although this can lead to a scenario where a rule is expected to be loaded but it is not. Maybe a warning is the best thing to do here.

[2018-12-05 13:14] zimmerle commented on #1950
Hi @weliu,

Sorry for the long delay. Let me share a little bit of my thinking specifically on how to improve tags.

## Currently implementation

Currently we save the tags as a text string for each rule. Here is the detailed steps on the tags life cycle:

**Loading**
 - The parser reads a tag action:
https://github.com/SpiderLabs/ModSecurity/blob/1ecd9713061c3534626bf6a5f59d1c928c0c52bb/src/parse

[2018-12-05 17:56] zimmerle commented on #1972
Done!

[2018-12-05 17:56] #1972 closed, assigned to zimmerle

[2018-12-05 18:01] zimmerle commented on #1971
Hi @MZSN,

It seems like you have to whitelist the urls that are giving you trouble. How to whitelist rally depends on your application logic. You can use "virtual folders" or add exceptions within action tags.

[2018-12-05 21:22] airween commented on #1969
Sorry to tell you, but building of ModSecurity v.3.0.3 in sbuild is failed:

[code]

When I make the package in native shell, then tests successfully finished:
[code]

This issue affects only ModSecurity v3.0.3, from [releases](https://github.com/SpiderLabs/ModSecurity/releases) page.

To track the issue is very hard in sbuild environment - do you have any idea, what do I need to see?

[2018-12-06 03:30] porjo commented on #1727
@emphazer I too am interested in converting v2 to v1 as a workaround. I see you have a Python script for this: https://github.com/emphazer/mmdb-convert  but I note the warning about it being 'alpha'...

[2018-12-06 09:40] airween commented on #1969
Solved - the pkg-config package is needed to build, and sbuild doesn't contain it by default.

Sorry.

[2018-12-06 11:36] tdoubley opened #1974 "unit test for utf8ToUnicode"
**Describe the bug**
The name of utf8ToUnicode is wrong.
In this function the class name is utf8**T**oUnicode
Transformation* Transformation::instantiate(std::string a) {
    ...
    IF_MATCH(utf8ToUnicode) { return new Utf8ToUnicode(a); }
    return new Transformation(a);
}
but in test file utf8toUnicode.json the class name is utf8**t**oUnicode,
it will lead to IF_MATCH return false， and return i

[2018-12-06 14:07] zimmerle commented on #1974
Hi @tdoubley,

Wants to make a patch for it?

[2018-12-06 19:35] victorhora commented on #1951
I agree with you @zimmerle. I don't see as an issue/bug, but more like normal behaviour.

Unless more people from the community believe this is an issue, I think we are safe to close this one.
But lets keep it open for a while to see what happens :)

Anyways, thanks for reporting this @alvarocano-zevenet. Do you want maybe to write this particularity in the form of a "Note" so we can add it to the

[2018-12-07 21:18] erikvdijk opened #1975 "Information disclosure - statuscode response containing WAF type"
The response status code of a blocked request contains the text: "ModSecurity Action"
This way an attacker could find for specific security holes in this product.

It would be great if this text could be changed by parameter, or not send at all.

Code:
https://github.com/SpiderLabs/ModSecurity/blob/v2/master/iis/mymodule.cpp#L670

(this is my first bug report, sorry for any possible missing inform

[2018-12-07 23:12] victorhora commented on #1952
Can you confirm if this also happens in libModSecurity (3.x)?

Thanks.

[2018-12-07 23:14] victorhora commented on #1941
Reopening this one for further investigation.

[2018-12-08 01:00] tdoubley commented on #1974
Hi @zimmerle ，
Yes， I will do it，It's mypleasure

[2018-12-08 03:40] tdoubley opened #1976 "CssDecode have some problem"
**Describe the bug**
[code]
the ret size is equal value, but in pritical the size should equal to the return value of css_decode_inplace, it could be lead to bug, although the unit test is all pased, it because the '\0' on the end of tmp, when call construcator of string ,it will be cut of by '\0'.

**Logs and dumps**

**To Reproduce**

**Expected behavior**

**Server (please complete the followin

[2018-12-08 21:52] chang-zhao opened #1977 "Add "Compilation Recipe" ModSecurity 3.0 as a dynamic module"
https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes-for-v3.x

Please add:

## ModSecurity 3.0 as a dynamic module.

CentOS 7 minimal.

For Ubuntu/Debian, see the instructions here: https://www.nginx.com/blog/compiling-and-installing-modsecurity-for-open-source-nginx/

Check `nginx -v` for the NGINX version and change appropriately; here it's 1.15.7.

[code]

Then add `load_module` i

[2018-12-09 09:29] weliu commented on #1950
Hi @zimmerle, it is a great idea. In my opinion, we need to address 2 problems:
1. Since we have to go through all the rules to know all the tags, we must introduce a phase after all rules being parsed, so that we can build such a tag table. That means we have to add an API in rules.h, which brights a compatibility issue.
2. The total size of the tag table can only be get in that phase, so the sta

[2018-12-09 23:08] rlovell3 commented on #1941
I just got involved with modsecurity today.  Went through the Nginx guide to compiling/installing just like several people above.  Had the same nginx -t config failures which quickly led me here.  It seems I have moved past the fail by manually downloading the unicode.mapping file and placing it in the /etc/nginx/modsec directory.  Subsequent nginx -t test passes.  Running Ubuntu 18.04.1 on Digita

[2018-12-10 06:18] AnnuA opened #1981 "Installing modsecurity 3.0.3 using yum repository"
I want to install latest stable modsecurity for apache on Ubuntu and Centos.
But  when I am installing using 'yum install mod_security' it is installing 2.9.2 version.
The 3.0.3 version is not available in repositories?
I would have to install it by compiling source code only?

[2018-12-10 07:43] emphazer commented on #1727
@porjo this is just a part of a bash script to generate a v1 geoip.dat file
https://github.com/emphazer/GeoIP_convert-v2-v1

[2018-12-10 07:43] emphazer commented on #1727
@tomsommer
here can you find a script for the conversion
https://github.com/emphazer/GeoIP_convert-v2-v1

[2018-12-10 08:42] defanator commented on #1981
@AnnuA it's better to use https://github.com/SpiderLabs/ModSecurity project for reports like this one. In regards to the question, I'm not aware of any Linux distribution providing recent packages for libmodsecurity and nginx connector. If there is a clear demand on this, perhaps adding necessary packaging bits into the projects would be helpful so one could build rpm or deb right from the git cod

[2018-12-10 13:56] ghost opened #1979 "GeoIP2 ModSecurity 3.x"
**Describe the bug**

Does ModSecurity 3.x+ support GeoIP2?

I've seen a few comments online that seem to indicate GeoIP2 is supported in V3. Here is one example: https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1063#issuecomment-381714580

That being said, I can still configure Geo-Blocking via the mod_maxminddb library and use an `<If>` directive in `apache2.conf`, so this is not a big

[2018-12-10 18:09] zimmerle opened #1980 "Fix inet addr handling on 64 bit big endian systems"
Contribution from @airween :)

Originally reported at: https://github.com/airween/ModSecurity/commit/db4bd42d18ed1dd1844f1c0ce596237349f0d997

[2018-12-10 18:10] zimmerle commented on #1980
Merged! ;) Thanks.

[2018-12-10 18:10] #1980 closed, assigned to zimmerle

[2018-12-10 18:42] zimmerle commented on #1980
Back ported to v2 at 0dcbb8b08796a08fc043fa53134e85fc9d207cba

[2018-12-10 18:52] zimmerle commented on #1979
Yes ModSecurity v3 fully supports GeoIPv2.

Notice the configure summary:
[code]

In this example the libMaxMind will be used. Thus, It will be safe to load tho GeoIP2 database.

[2018-12-10 18:52] #1979 closed, assigned to zimmerle

[2018-12-10 18:56] zimmerle commented on #1977
Thank you @chang-zhao  :)

The wiki has being updated.

[2018-12-10 18:56] #1977 closed, assigned to zimmerle

[2018-12-10 19:04] zimmerle commented on #1976
Hi @tdoubley,

The term **inplace**, in the _css_decode_inplace_ function means that no memory is allocated to produce the output. Instead the transformation is saved in the same memory area of its input. In this particular case, the decoded string may be shorter than the original, so a ```\0``` is placed following its last character, as described here:

https://github.com/SpiderLabs/ModSecurity/b

[2018-12-10 19:04] #1976 closed, assigned to zimmerle

[2018-12-10 19:06] zimmerle commented on #1975
Hi @erikvdijk,

Thank you for the report. This issue was placed in triage.

[2018-12-10 20:00] zimmerle commented on #1731
As of now, I don't think this information is up to date. @p0pr0ck5 already confirm that he is going to prepare a new version of the flame charts. Closing this issue.

[2018-12-10 20:00] #1731 closed

[2018-12-10 20:03] p0pr0ck5 commented on #1731
I don't think this should be closed @zimmerle. The codebase still doesn't make use of memory pooling, and the performance values noted in https://github.com/defanator/modsecurity-performance/wiki#2018-12-07 still indicates a several-orders of magnitude drop in performance when running the full CRS.

[2018-12-10 20:12] zimmerle commented on #1732
Dynamic allocations are not so popular on v3.0.3 as used to be in v3.0.2. As now the shared pointers are in place. Therefore, i am closing the issue as i it is kinda out of date.

[2018-12-10 20:12] #1732 closed

[2018-12-10 20:13] zimmerle commented on #1731
That argument does not make the information on this issue valid. There is a performance meta issue here: #1734.

[2018-12-10 20:15] p0pr0ck5 commented on #1731
Yes, an issue that's received 0 attention in the last six months, and has had two linked issues closed without valid justification.

[2018-12-10 20:18] zimmerle commented on #1950
it may be relate to #1734

[2018-12-10 20:27] zimmerle commented on #1950
Hi @weliu,

Not really. Regarding rules manipulation in general, we have two different use-cases:

1. When they are loaded.
2. In execution.

We better keep the heavier processing time to the item "1". The item "2" is executed per-request, so it means that it has a directly relation to latency and it is also executed repetitively.

Hum... i am not sure about boost. We are avoiding to add it just f

[2018-12-10 20:30] zimmerle commented on #1981
I've just tested the Transfer issue in GitHub :) it seems to work fine.

@AnnuA as @defanator mentioned, that is the best place to questions related to libModSec. We have some info on the wiki here:
https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes-for-v3.x

[2018-12-10 23:29] victorhora commented on #1981
3.x (including 3.0.3) is available in a number of RPM-based distros:

https://pkgs.org/download/libmodsecurity

But I think there's no RHEL version. But it should be possible to create your own RPM package by using the spec file of these packages as starting point.

Its also available in some APT-based distros:

https://tracker.debian.org/pkg/modsecurity
https://packages.ubuntu.com/disco/libmodsec

[2018-12-11 03:19] meigea commented on #828
@John-D-B @victorhora
Do you have the outdated rules based on modseucurity origin by Trustware, and i want to know and get more rules to start and use ; can you give me some , i wish you all the best and hope.

[2018-12-11 08:47] airween commented on #1980
Thanks for the help to point the solution to @jrtc27. :)

And special thanks to @glaubitz for sparc64 access.

[2018-12-11 12:44] #1981 closed, assigned to zimmerle

[2018-12-12 14:51] pi0tr90 commented on #902
Hi @victorhora,
Did you find a solution to this problem?
I'm facing the same issue (with ModSecurity 2) and can't figure out what to do.
Thanks

[2018-12-13 11:33] paissad commented on #902
Hello,
I'm facing the same issue as well.
Is there at least any workaround that would let avoid the parsing of the messages of some content-type ?
Or whatever else

Regards

[2018-12-13 11:41] markblackman commented on #1827
We still see this issue with mod_proxy_ajp and Tomcat backends. We'll provide more details of a reproducible setup with a RH7 environment. I would be grateful if you could consider trying to reproduce what we see.  In summary, ignoring the weblogic problem, mod_proxy_ajp configurations exhibit this behaviour, but mod_proxy_http configurations do not.

[2018-12-13 13:42] jwillberg opened #1982 "SecRemoteRules (2.9.3) - Segfault"
SecRemoteRules cause Segmention fault, when try load remote rules:

**ModSecurity_rules.conf**
`SecRemoteRules serial.1 https://rules.malware.expert/download.php?rules=generic`

Same rules working perfect 2.9.2 version.

**#systemctl status httpd.service**
[code]

**#journalctl -xe**
[code]

[2018-12-13 21:41] victorhora commented on #902
@pi0tr90 / @paissad unfortunately I'm not aware of any other method for proper inspection of MTOM requests without writing a new multipart handler or changing our current handler to take MTOM request into account.

As mentioned above, MTOM uses multipart/related [[RFC2112](https://tools.ietf.org/html/rfc2112)] and ModSecurity accepts and understands the much more common multipart/form-data [[RFC23

[2018-12-14 10:37] Marekxbx commented on #1982
I also confirm the problem on several servers with ModSecurity 2.9.3

[2018-12-14 21:04] chuckwolber opened #1983 "Use of AC_CHECK_FILE prevents cross compilation."
When cross compiling modsecurity via a Yocto Project bitbake recipe, the use of AC_CHECK_FILE in configure.ac causes an error:

`configure: error: cannot check for file existence when cross compiling`

I am working on a fix and should be submitting a pull request shortly.

[2018-12-15 02:48] zimmerle commented on #1982
Fixed as of: 52532a1bce0b705c0aa4365fecf727b836d37f00

[2018-12-15 02:48] #1982 closed, assigned to victorhora

[2018-12-15 06:50] jwillberg commented on #1982
How this fix goes to: https://www.modsecurity.org/tarball/2.9.3/modsecurity-2.9.3.tar.gz because they offering broken version of this ?

Yes, can download github correct version:

https://github.com/SpiderLabs/ModSecurity/tree/v2/master

[2018-12-17 08:20] pi0tr90 commented on #902
Hi @victorhora
OK this is what I feared/guessed from my testing: you can let MTOM content through, but it won't be inspected. Too bad.
Regardless, thank you for taking the time to reply on a 3+ yo issue, much appreciated! :)

[2018-12-17 10:56] cyberblackhole opened #1985 "XSS not getting detected"
The URL am expecting to get blocked is:

`http://example.com/search.aspx\?txtSearch\=\<script\>alert\(1\)\</script\>`

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
[code]
Steps to reproduce the behavior:

`curl http://example.com/search.aspx\?txtSearch\=\<script\>alert\(1\)\</script\>`

**Expected behavior**

The above request should be blocked and I don't know why it is not getting bloc

[2018-12-17 13:18] zimmerle commented on #1985
Hi @Goron,

Thank you for the report, but that is more likely to be addressed if you open it on [crs project](https://github.com/SpiderLabs/owasp-modsecurity-crs).

[2018-12-17 13:18] #1985 closed, assigned to nobody

[2018-12-17 13:22] #1983 closed, assigned to zimmerle

[2018-12-17 13:23] zimmerle commented on #1971
Marking it as 'close' as it seems the user already solved the problem.

[2018-12-17 13:23] #1971 closed, assigned to zimmerle

[2018-12-19 07:44] yuynagforhacker opened #1986 "Uploading images"
Hi:
Recently, there has been a problem that has been bothering me. When I upload the image, the image binary exists ../ and I know this is not compliant, but there is no way to make smart judgments. This has affected my business and needs help. thanks

[2018-12-19 09:11] theseion opened #1987 "Rule set to block requests to overloaded proxied hosts"
I'd like to contribute this set of rules. Feel free to use them as you wish (e.g. in the CRS). While writing the rules I ran into a couple of issues that I'd like to highlight.

We use NGiNX as reverse proxy for multiple hosts.
I've written a rule set that does the following:
- if a host answers with 503 or times out (NGiNX will set status code 504 which I replace with 503 using `proxy_intercept_e

[2018-12-19 10:51] theseion commented on #1987
I think I figured out how to check whether a variable has been initialised: `SecRule &RESOURCE.timeout_flag "@eq 0"`.
The trick is to use the counter mode (`&`). I stumbled across this by accident in the CRS. PLEASE document this "trick".

[2018-12-19 12:21] zimmerle commented on #1986
Hi @yuynagforhacker,

This may not be related to ModSecurity, but to the rules set that you have loaded. Are you using any public ruleset?

[2018-12-19 12:23] zimmerle commented on #1982
Hi @jwillberg,

The fix is current on the branch v2/master. Eventually 2.9.4 will be released and this fix will be part of it.

[2018-12-20 07:00] #1986 closed, assigned to zimmerle

[2018-12-20 07:10] yuynagforhacker commented on #1986
Using the owasp rule base, the problem occurs again LFI rules, rule number 930110. It has been temporarily resolved, but I believe that my solution must not be the best, the solution is to replace the `..\ ../` in the rule with `\..\ /../` This issue has been posted in the owasp issue[https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1264](url)

[2018-12-21 19:25] paissad commented on #902
@victorhora Thanks
Thanks for the reply.
I tried the following workaround (skip one SecRule rather than everything)

`
SecRule REQUEST_HEADERS:Content-Type @contains "multipart/related" \
     "id:'666',phase:2,t:none,t:lowercase,log,logdata:'ALERT:Ignoring inspection for multipart/related request',pass,skipAfter:200002,severity:5"
`

Knowing that SecRule 200002 is

`SecRule REQBODY_ERROR "!@eq 0"

[2018-12-24 11:08] erikvdijk opened #1988 "Modsecurity IIS remote_address empty in case of IPv6 address - IPmatch: bad IPv4 specification"
Using Modsecurity 2.9.3 with IIS and OWASP-CRS in combination with IPv6, the IPv6 address does not show up in remote_address and thereby always false-positive.

Auditlog:
`{"transaction":{"time":"24/Dec/2018:10:29:11 +0100","transaction_id":"17221764977212260572","remote_address":"","remote_port":80,"local_address":"127.0.0.1","local_port":80},"request":{"request_line":"GET / HTTP/1.1","headers":{

[2018-12-24 12:44] paissad commented on #902
@victorhora
Finally, i made it by doing the following workaround

`SecRule REQUEST_HEADERS:Content-Type "@contains multipart/related" \
     "id:'666',phase:1,t:none,t:lowercase,log,logdata:'ALERT:Ignoring XML Processing for multipart/related request',pass,severity:5,ctl:ruleRemoveById=200000"`

[2018-12-25 12:58] narookak opened #1989 "Build Failing on Ubuntu 16.04"
**Describe the bug**

Build Failing while installing on Ubuntu 16.04 with below error: This was working fine until today.
**fatal error: src/actions/disruptive/drop.h: No such file or directory**
---------------
**Logs and dumps**
Making all in src
make[1]: Entering directory '/opt/ModSecurity/src'
make  all-recursive
make[2]: Entering directory '/opt/ModSecurity/src'
make[3]: Entering directory '

[2018-12-25 14:25] defanator commented on #1989
@narookak it seems like `drop.h` wasn't included (if even should be) in
https://github.com/SpiderLabs/ModSecurity/commit/d00ea5111d445f49513c3968596646d9cf858aea, FWIW, I was able to move further with creating empty `src/actions/disruptive/drop.h`, but eventually I got:

[code]

Let's wait for @zimmerle. :)

[2018-12-26 08:58] vuhanthanhtung commented on #1989
My case is the same with you. Hope @zimmerle has the solution soon.

[2018-12-26 09:58] caerly commented on #1989
Ubuntu 18.04

Making all in others
make[1]: Entering directory '/opt/ModSecurity/others'
depbase=`echo libinjection/src/libinjection_html5.lo | sed 's|[^/]*$|.deps/&|;s|\.lo$||'`;\
/bin/bash ../libtool  --tag=CC   --mode=compile gcc -DHAVE_CONFIG_H -I. -I../src     -g -O2 -MT libinjection/src/libinjection_html5.lo -MD -MP -MF $depbase.Tpo -c -o libinjection/src/libinjection_html5.lo libinjection/s

[2018-12-26 14:25] zimmerle commented on #1989
Sorry guys. My fault. The file was added and the compilation is now running smoothly.

https://travis-ci.org/SpiderLabs/ModSecurity

[2018-12-26 14:25] #1989 closed, assigned to zimmerle

[2018-12-27 05:23] cyberblackhole opened #1991 "Attack signatures in GET requests not detected"
This is in reference to the issue which I created recently [here](https://github.com/SpiderLabs/ModSecurity-apache/issues/50#issue-393055861) .

The GET requests containing attack signatures are not detected. However the same signatures sent over POST are detected.

Im using
latest modsecurity version with owasp CRS 3.0 and my environment is setup correct.
I'm facing this issue since I pulled [thi

[2018-12-27 21:16] victorhora commented on #1991
Hi @Goron

Due to the fact that the problem you are reporting doesn't seem to happen with the nginx-connector, I believe that the issue you're reporting is not related with libModSecurity itself, but rather with the apache-connector.

Being so, no need to have a duplicate here. Please add comments to issue https://github.com/SpiderLabs/ModSecurity-apache/issues/50.

Thanks.

[2018-12-27 21:16] #1991 closed, assigned to victorhora

[2018-12-30 22:35] n0sign4l commented on #1941
I get this error using openresty `sbin/nginx -c conf/nginx.conf -t
nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /usr/local/openresty/nginx/conf/modsecurity.conf. Line: 236. Column: 17. Failed to locate the unicode map file from: unicode.mapping Looking at: 'unicode.mapping', 'unicode.mapping', '/usr/local/openresty/nginx/conf/unicode.mapping', '/usr/local/openresty/nginx/co

[2019-01-06 17:16] n0sign4l commented on #1941
Hey, any news on this issue? How can I solve it? @zimmerle @victorhora

[2019-01-07 14:39] HankQuiter commented on #1941
see above shubham-panwar said

[2019-01-07 15:52] rlovell3 commented on #1941
Check ownership/permissions at the file level and also the directory level.

Manually retrieve the unicode.mapping file from the repository.
Store in /etc/nginx/modsec/unicode.mapping.
Duplicate the ownership/permissions of your modsecurity.conf file.
In my case that is:  root:root, 644.

If you have the unicode.mapping file and the modsecurity.conf file in the same directory, confirm the followin

[2019-01-07 21:18] airween commented on #1960
- ModSecurity 3.0.3 (tar) - comes from Debian as package
- ModSecurity-nginx 1.0.0 (tar)
- Nginx (Debian SID version)
- the whole Nginx collection is here: https://salsa.debian.org/airween-guest/nginx/tree/modsecurity
- OWASP CRS 3.1 (tar)
- configure SecRuleEngine DetectionOnly
- configure a default action to "deny" - sorry, I didn't found any info about this

in modsecurity.conf:
[code]
libmodse

[2019-01-08 13:44] zimmerle commented on #1974
@tdoubley you can find me an felipe at zimmerle dot org. Lets fix this together ;)

[2019-01-08 15:16] celesteking commented on #890
Problem persists.

EL6 latest, stock kernel.
ea-apache24-mod_security2-2.9.2-10.10.1.src.rpm
[code]

[code]

[2019-01-08 15:28] DeoMortis opened #1993 "ModSecurity 2.9.3 removes headers on nginx"
**Describe the bug**

We included modsecurity into our nginx. If only we set ModSecurityEnabled On all custom response headers are gone. The only that are left are:
* Content-Type
* Transfer-Encoding
* Connection
* Location
* Cache-Control
* Expires
* Date
* Server - this one is an empty string, doesn't occur with ModSecurityConfig Off so i seems being added by it.

Response body is fine.
Request

[2019-01-08 20:33] celesteking commented on #890
This might be related to mlogc being specified via `SecAuditLog "|/usr/bin/mlogc /etc/apache2/conf/mlogc.conf"`. It looks like this is happening after graceful restart has been invoked. Maybe somehow modsec is impeding the pool cleanup? Or maybe there's a stack corruption of some sort?

[2019-01-08 20:54] chrisconlan commented on #652
Same issue here.

A sequence of dashes `--------` in markdown is shorthand for `<hr>`. My users are triggering `eq 0` when writing markdown.

[2019-01-08 21:03] airween commented on #652
@chrisconlan could you show an example - headers, content and your relevant config?

[2019-01-08 21:13] chrisconlan commented on #652
OS: AWS Linux
Apache version: `httpd24.x86_64                       2.4.37-1.83.amzn1             @amzn-updates`
Mod security version: `mod24_security.x86_64                2.8.0-5.27.amzn1              @amzn-main`

HTML form sending POST processing as `multipart/form-data`. Only `<textarea>` and `<input>` tags. No files.

That's the best I can do as for details right now. Hope it helps.

[2019-01-08 21:15] airween commented on #652
Yes, helped - sorry, 2.8 is (I guess) a little bit old version, I don't know that the fix exists for that... :(

[2019-01-08 21:19] chrisconlan commented on #652
No problem. Thanks.

[2019-01-09 07:23] LeeShan87 commented on #1993
Hi @DeoMortis,

ModSerurity v2.9 has many memory issues with Nginx. This is one of the main reasons why libmodsecury (v3) was created.

You can compile it, like: [https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes-for-v3.x#centos-7-minimal](https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes-for-v3.x#centos-7-minimal)

We are using Nginx 1.13.8 wiht libmodsecury v3.0

[2019-01-09 07:46] DeoMortis commented on #1993
Thanks @LeeShan87
I will give it a try.

[2019-01-09 15:21] theMiddleBlue commented on #1960
@airween could you check if your modsecurity version is `v3.0.3-4-gcbf2fe97` because before this commit it works fine for me.

configure a default action with `SecDefaultAction`, as you can find on the OWASP CRS config `crs-setup.conf`, for example:
[code]

[2019-01-09 16:03] airween commented on #1960
@theMiddleBlue I'll see that soon - I just prepared the packages for Debian, and catched the released versions from all components (libmodsecurity3, ModSecurity-nginx).

Could you help me with the link of this release? I didn't found gcbf2fe97 in git log. And the version number (3.0.3-4) is also interesting for me.

The SecDefaultAction is clear now - I searched it in modsecurity.conf, sorry :).

[2019-01-09 21:37] gwijayas opened #1994 "Ubuntu 16.04.4 build failed, lua problem"
My OS is Ubuntu 16.04.4. Using modsecurity 3.0.3 from release section (not git)

Building is failed:
[code]

configuring command that I use: `./configure` I still didn't know how to specify the lua version that I want to use with libmodsecurity. I try with argument `--with-lua=/usr/bin/lua5.3` or `--with-lua=lua5.3`, still produce the configuring log like below.

Output of configuring process:
[co

[2019-01-09 22:43] victorhora commented on #1993
Hi @DeoMortis

As precisely pointed out by @LeeShan87, ModSecurity 2.9.x with Nginx is not recommended. This setup is not supported anymore.

Please move to libModSecurity (aka 3.x) for Nginx. Thanks :)

[2019-01-09 22:43] #1993 closed, assigned to victorhora

[2019-01-09 22:52] victorhora commented on #1994
Hi @gwijayas,

Most likely this problem is happening due to the multiple versions of Lua installed on your system. It's probably leading to a confusion when finding/picking the headers/library for later compilation. I would suggest removing the Lua versions that you don't actually need.

Also, the configure script will try to prioritize using LuaJIT if available as users normally can [benefit ](lu

[2019-01-10 05:17] gwijayas commented on #1994
if configure script has choose luajit library, I think, it should choose `/usr/include/luajit-2.0` as header directory. But, in my case, using `/usr/include/lua5.3` instead.

This is what I do to successfully build libmodsecurity. I still haven't test the libmodsecurity. Just successfully compile against the apache connector.

First, make linking of `libluajit.so` to `/usr/local/lib`:
[code]
With

[2019-01-10 05:37] #1994 closed, assigned to victorhora

[2019-01-10 05:52] gwijayas opened #1995 "configuration script can't receive environment variables"
**Describe the bug**

configuration script can't receive environment variables

From issue #1994 I think more simpler if we could override environment for configuration. On my Ubuntu 16.04, the result of configuration script `./configure`:
[code]
I try to focus just for lua. So, the library tha choose is luajit. But, the header location is for lua-5.3.

I have try these:
[code]
But the result of c

[2019-01-10 08:22] DeoMortis commented on #1993
Hi @victorhora

Thank you for your reply.

I think that site https://www.modsecurity.org/download.html should be updated. The section at the bottom has links for modsecurity for nginx which point to version 2.9.3. This caused my confusion.

[2019-01-10 08:40] theMiddleBlue commented on #1960
No problem, my first message was not very clear. At the time I'm writing, the version is v3.0.3-35-gcbf2fe97. I'm just compiling it with the latest modsecurity-nginx connector. I give you an update asap.

[2019-01-10 09:14] theMiddleBlue commented on #1960
Ok, I confirm that the issue is still present with version `v3.0.3-35-g3c1fba27`. With the drop disruptive action, the "DetectionOnly" doesn't work as expected. Following my tests (both using `SecRuleEngine DetectionOnly`) that shows which rules are matched by the request `curl -v 'http://localhost/?a=exec("/bin/bash");'`:

[code]
with the pass action, it seems work as expected to be for `Detectio

[2019-01-10 13:10] markblackman commented on #1827
As a further data point, this issue only occurs with with Content-type: multipart/form-data  although typically, this is what you would use for bigger bodies anyway.

[2019-01-10 17:00] WGH- opened #1996 "Support for RE2 regular expression engine"
RE2 (https://github.com/google/re2) is a regular expression engine written in C++ and developed by Google.

Unlike libpcre, RE2 runtime is always linear to the size of the input. It comes at some cost: the engine inherently doesn't support certain features, like backreferences and lookaround assertions.

Still, even the CRS has some regular expressions in its rules that run very slowly (minutes) o

[2019-01-10 20:43] zimmerle commented on #1996
Hi @WGH-,

Thinking in that possibility, in ModSecurity v3 we have this as plug able interface. So that we could support provide for different regular expression engines. It just demands a single file change, here:

https://github.com/SpiderLabs/ModSecurity/blob/3c1fba278c14fe9b63cff80a3ae32df82ba042ac/src/utils/regex.cc#L41-L129

Ideally the regular expression back-end could be selected with a co

[2019-01-11 22:12] victorhora opened #1998 "IIS 64b MSI contains 32b dll's causing errors"
**Describe the bug**

Our friends from Apache Lounge (@SteffenAL) have reported an issue with ModSecurity IIS build/msi installer seems to be missing correct DLLs when installed on some versions of Windows.

The 32b works fine. Wonder what happens when install the 64b on a clean machine without Modsec installed before and the dependent dll's are not in the machine path.

You can try it on a machin

[2019-01-11 22:24] victorhora opened #1999 "IIS MSI installers not following MS standard for digital signature"
**Describe the bug**

Our friends from Apache Lounge (@SteffenAL) have reported that the ModSecurity IIS build/msi installer seems to be missing proper digital signatures leading to error / warning messages on modern versions of Windows.

This demands further investigation to see where it happens, workarounds and additional steps recommended for a future release.

**To Reproduce**

Steps to reprod

[2019-01-11 22:40] victorhora opened #2000 "SecAuditLogParts "H" not being written in some cases"
**Describe the bug**

Our friend @defanator have recently reported a strange behaviour where SecAuditLogParts "H" is not being written to the audit_log in some cases. Namely:

```SecRule ARGS:testparam "@contains test" "id:1234,deny,log,status:403"```
- this rule does not produce anything in H section

```SecRule ARGS:testparam "@contains test" "id:1234,block,log,status:403"```
- while this one do

[2019-01-13 22:05] ibertrix opened #2001 "mod_security issues with rule 217130 and errors 500"
Hi,

  I have Apache as SSL proxy server with http2 enabled and Apache as non-SSL backend since I have Varnish in between.

  Since around one week I am having issues with rule 217130 and getting this in my logs:

  Access denied with code 500 (phase 1) (Error: Connection drop requested but failed to close the  socket

  since I have CSF as a firewall, a ddos attack is reported and the IP is block

[2019-01-14 08:53] icing commented on #1999
FYI: I have nothing to do with ApacheLounge or Windows builds. You are probably talking about @SteffenAL here?

[2019-01-14 08:53] icing commented on #1998
FYI: I have nothing to do with ApacheLounge or Windows builds. You are probably talking about @SteffenAL here?

[2019-01-14 18:12] victorhora commented on #1998
Correct @icing. My bad. It's now fixed. Thanks! :)

[2019-01-14 18:12] victorhora commented on #1999
Correct @icing. My bad. It's now fixed. Thanks! :)

[2019-01-14 23:09] WGH- commented on #1996
It seems nobody is sitting on an unpublished patch (or at least doesn't admit to), so I'll try to clean up and submit mine this week.

[2019-01-14 23:26] victorhora commented on #1999
References:

https://docs.microsoft.com/en-us/windows-hardware/drivers/devtest/signtool
https://docs.microsoft.com/en-us/windows/desktop/appxpkg/how-to-sign-a-package-using-signtool

[2019-01-16 11:56] zimmerle commented on #2001
Hi @ibertrix,

Can you give me further details on what is rule 217130?

[2019-01-16 11:59] zimmerle commented on #1996
Great to hear that you have a patch already. Let us known if you need further assistance.

[2019-01-16 12:13] zimmerle commented on #1995
Hi @gwijayas,

There are different problems here, the first problem is the version mismatch in between the lua header and the lua library. A possible solution for it is an attempt to compile something that is exclusively available in a given header version, therefore identify the mismatch.

The support for adding CFLAGS via environment variable seems to be a neat feature, and it is already support

[2019-01-16 16:07] markblackman commented on #1827
For the moment, we have addressed our issue by making this change

From

    SecRequestBodyNoFilesLimit 4096
    SecRequestBodyLimit 4096
    SecRequestBodyInMemoryLimit 4096

To

    SecRequestBodyNoFilesLimit 8192
    SecRequestBodyLimit 2147483646
    SecRequestBodyInMemoryLimit 8192

For us, it is extremely counter-intuitive for modsecurity to permanently and irretrievably throw away body cont

[2019-01-16 16:18] markblackman commented on #1827
In other words, always buffer the entire request, but only process up to the point requested. Other filters may need that body.  Buffering and processing are two very logically separate processes. Any generic body truncation should only be handled by core Apache directives.

[2019-01-16 18:39] muzammel111 commented on #1819
Respected Zimmerle,
I am confusing about seeing thread -> https://github.com/SpiderLabs/ModSecurity/issues/1661 which is older from this thread, in which you suggest apache connector for V3. But in this thread you said you need v3 only for nginx ? kindly please clear.

[2019-01-16 19:57] celesteking commented on #1845
Can we have docs updated with what match goes where? What happens if RBL returns 127.1.2.3 , what ends up in what var? tx.0? tx.1?

[2019-01-17 08:29] huifeidexingyuner opened #2004 "nginx module + libmodsecurity not support "Transfer-Coding:chunked" request?"
1.  Browser access  http://192.168.192.131/?id=1 and 1=1   ，Can intercept

2.
but,use burpsuit send the request as follows->

POST /simplepost/info.php HTTP/1.1
Host: 192.168.192.131
Origin: http://192.168.192.131
User-Agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.100 Safari/537.36
Content-Type: application/x-www-form-urlencoded
Accept: */*

[2019-01-18 03:12] zimmerle commented on #2004
Hi @huifeidexingyuner,

Did you created a custom rule? or are you using any public rule set?

[2019-01-18 13:23] zimmerle commented on #1996
@WGH- starts the work in that feature with an excellent patch submitted at #2003. Patch is already merged.

[2019-01-18 20:50] zimmerle commented on #2004
@huifeidexingyuner I am going to close this issue until we here more form you. Chunked transfer is supported in modsec.

[2019-01-18 20:50] #2004 closed, assigned to zimmerle

[2019-01-18 20:57] zimmerle commented on #2001
@ibertrix i am assuming you found the answer to your problem. If not, please reopen the issue, answering the question above.

[2019-01-18 20:57] #2001 closed, assigned to zimmerle

[2019-01-18 21:02] zimmerle commented on #1995
Hi @gwijayas,

I am assuming ```--with-lua ``` worked for you, therefore I am closing this issue. Please re-open the issue, if that was not the case.

[2019-01-18 21:02] #1995 closed, assigned to zimmerle, victorhora

[2019-01-18 22:18] zimmerle commented on #1996
Hi, @WGH-,

As commented on your patch review, I've made a branch with a couple of suggestions on a refactoring, to make our code a little bit more elegant. Also, I've made some suggestions on how to tackle the architecture to support multiples regex engines. Instead of write about I guess it was faster just to had, it implemented. The code is available here: [v3/dev/re2](https://github.com/Spider

[2019-01-18 22:27] zimmerle commented on #1996
The **verify_cc** implementation is not using the regex encapsulation:

https://github.com/SpiderLabs/ModSecurity/blob/1f5e168370af001678ffb450026566bd3c9492fa/src/operators/verify_cc.cc#L130

That will be in our way.

[2019-01-18 23:59] WGH- commented on #1996
I had slightly different idea.

Since RE2 doesn't support certain constructs, it might make sense to do a run-time fallback instead. That is, if RE2 support is built, every regular expression is first attempted to be compiled using RE2, and if that fails, it's compiled with libpcre instead.

This way RE2 can be enabled even if some rules are not supported by RE2, and at the same time, rules that a

[2019-01-19 10:10] ibertrix commented on #2001
I had to downgrade mod_security:

ea-apache24-mod_security2-2.9.2-10.10.1.cpanel.x86_64

I have to say that the rules are coming from Comodo free mod_security rules, sorry for the confusion

[2019-01-20 13:23] GoldenBookCover opened #2005 "SecRuleUpdateActionById redirect not working"
**Describe the bug**
The redirect action doesn't work. I wanted to redirect a php-leakage page back to the index page, but it never did. This is the rule I used in RESPONSE-999-EXCLUSION-RULES-AFTER-CRS.conf file:
[code]

**Logs and dumps**
Here are the DebugLogs (level 9), AuditLogs and Error logs
I also attached the "test.php" file, which I accessed to test the rule. You can easily expect the ou

[2019-01-20 22:48] porjo opened #2006 "Extra whitespace in some configuration directives causing error"
**Describe the bug**

Putting more than one space or tab between *some* configuration directives and their value causes an error.

For example:
[code]
If I put 2 or more spaces between `SecAuditLog` and `/usr/local...` (or any number of tabs) I get this error:

[code]

Other configuration directives don't have this problem. For example I can put many spaces between `SecAuditLogFormat` and `JSON`

[2019-01-21 15:15] revilzs commented on #1754
Hi,

This could lead to problems with owasp-modsecurity-crs rules: REQUEST-912-DOS-PROTECTION and REQUEST-910-IP-REPUTATION.

For example the vars are set in lowercase: setvar:'ip.dos_counter=+1' and accessed in uppercase: SecRule IP:DOS_COUNTER

[2019-01-21 15:31] zimmerle commented on #1996
Is that any specific ModSecurity-wise regular expression that concerns you regarding functionality? As far as I understand the syntax may be a little different in some corner cases, but both can accomplish the same mission. That said, we may not need a fallback. In case the rules are not syntax-wise supported and the user wants to use re2, he can always change the rule. Unless some functionality i

[2019-01-21 17:49] zimmerle commented on #2006
Hi @porjo,

Thanks for the report. Fixed at: dc78c0e180d09aa1b2f0ffad1a8d6967e69f984f

[2019-01-21 17:49] #2006 closed, assigned to zimmerle

[2019-01-21 18:24] victorhora commented on #1754
Hey @revilzs / @LeeShan87

Can you please check if this still happens in the current master of libModSecurity?

As far as I can recall, PR #1810 was targeted to fix this inconsistency, but then #1820 covered this fix and other improvements which was merged at https://github.com/SpiderLabs/ModSecurity/commit/d810de9166794be2bee972fffb0e09cb0b8d6ec5

[2019-01-21 21:53] porjo commented on #2006
Thanks for the quick fix! :smile:

[2019-01-22 01:23] WGH- commented on #1996
As I said in my first message, some functionality is indeed missing. There's extensive reference of RE2 syntax here - https://github.com/google/re2/wiki/Syntax - and it also includes features found in other regular expression engines, but not supported by RE2.

Some of them are purely syntantic ones (like comments, numbered and named (at the same time) groups, etc.), but some features cannot be re

[2019-01-22 16:58] francoislarouche commented on #1618
Hi @victorhora and @zimmerle,

I see that the issue has been closed but it would seem I still have the same issue (rule id 0) with a json call.

I'm using WAF with Azure which uses the version 3.0. If I understood well it should have fixed that issue.

In my case I POST an array of values without any key, something like that:

`["value1", "value2", value3", "value-n"]`

Like madmox I believe that

[2019-01-22 19:21] LeeShan87 commented on #1754
Hi @victorhora @revilzs

It's looks really fixed to me in v3.0.3.

[nginx.conf.txt](https://github.com/SpiderLabs/ModSecurity/files/2784229/nginx.conf.txt)

[modsec_debug.txt](https://github.com/SpiderLabs/ModSecurity/files/2784218/modsec_debug.txt)

Nginx: 1.15.6
ModSecurity: v3.0.3
Nginx-connector: git commit 4b50399a4499c1e97e118bea3df0fd2801824e45

It' not related to this issue, but in can be

[2019-01-22 19:38] LeeShan87 commented on #1139
It seem VultureProject stopped implementing redis backend for modsecurity. :(

[https://github.com/VultureProject/ModSecurity/](https://github.com/VultureProject/ModSecurity/)

[2019-01-22 23:53] jrfondren commented on #890
We're seeing this bug after a big update to our WAF. Today, after deploying it to 35 servers, within an hour Apache'd broken down and tried to use 100% of CPU on 7 of those servers. There's nothing in strace on the broken processes, and ltrace shows why: they're all infinite loops, executing a dummy function over and over again:

[code]

which is consistent with the backtrace above.

I only see fo

[2019-01-23 02:55] victorhora commented on #1618
Hi @francoislarouche

As far as I can recall, Azure WAF uses ModSecurity 2.9.x branch (not libModSecurity/v3). I think they use the Core Rule Set (CRS) 3.0.

That being said, this should not be an issue with both ModSecurity 2.9.x and 3.x, but you will only see the fix on your Azure WAF if Microsoft decides to backport our patches (9b6d4b2bb9887e6647be585db1dfb03bd7114925 and 25e5543c7f66c97871d92

[2019-01-23 03:01] victorhora commented on #890
@celesteking / @jrfondren

I see that the issues you're reporting are related with ModSecurity 2.9.2 released in July/2017.

Since the [change set between 2.9.2 and 2.9.3](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/CHANGES#L10-L87) is quite large, there's a chance that this is not an issue anymore.

Please let us know if the issue persists with [2.9.3](https://github.com/SpiderLabs/M

[2019-01-23 15:07] francoislarouche commented on #1618
Thanks for your prompt feedback.

I see, I didn't know there were different builds and branches, and you right it's the CRS 3.0. I was assuming it was the same thing.

It seems they didn't port in it unfortunately and the way Azure WAF is built is we have 0 control on how it works, as a matter of fact I wonder how a normal modern website can use the Azure WAF with blocking mode without impeding bu

[2019-01-23 16:55] madmox commented on #1618
After a few weeks of testing, I agree with you: Azure's ModSecurity implementation is just a selling argument for Azure in general ("we have everything you need so join us"). It's really difficult to imagine a production site using it in real life. Too many false positives required disabling half of the CRS rules, thus rendering the WAF useless.

We can still hope that it will become more flexible

[2019-01-23 18:28] francoislarouche commented on #1618
Exactly. You end up disabling half the rules so it's useless at the end.

I suspect they will improve it but they should have been smarter on what to deploy first, people like us lost faith and will end up getting something else. Are we ever going back? Perhaps. It's a real shame being managed and fully integrated in the pipeline of a Web Azure and Logs it's sad. I came from AWS and if I recall we

[2019-01-23 21:06] jrfondren commented on #890
@victorhora I've tested with 2.9.3 and get the same behavior.

The loop itself is in apr:memory/unix/apr_pools.c:

[code]

so modsec is giving this a circular list somehow.

[2019-01-23 22:06] victorhora commented on #890
I'm not sure if we'll be able to fix it on 2.9.x since this issue doesn't seem to happen on the current version of libModSecurity (3.x).

Still I'm reopening this one for further investigation.

[2019-01-23 23:03] victorhora commented on #890
@jrfondren you're not using mLogC right? Can you provide more info about environment? Version of the CRS, any custom rules, custom conf, custom Apache directives, loaded modules, particularity on the environment?

Due to some reports related with cPANEL (cc @celesteking) can you confirm if you're using ModSecurity from cPANEL? There has been some known issues with modules that cPANEL uses. See htt

[2019-01-23 23:41] jrfondren commented on #890
We've seen this problem on Apache 2.2 servers with APR 1.5.2 using some of our own builds, and Apache 2.4 servers with APR 1.6.3, using cPanel's EA4 RPMs, in both cases the APR is the same as what mod_security2.so was compiled with. Mutxes around apr cleanup stuff sounds like it might be helpful, but that patch seems to be concerned only with database access. You probably don't put pointers into t

[2019-01-25 02:39] mdunc opened #2008 "Compilation fails with --with-lmdb"
**Describe the bug**

When compiling with LMDB, compilation fails with an error regarding Regex

**Logs and dumps**

Output of:
 Compilation error:
[code]

**To Reproduce**

Steps to reproduce the behavior:

Easily reproducible in a fresh Ubuntu 16.04 Docker container, but I imagine other distros are also affected.

`docker run --rm -ti ubuntu:16.04 bash`

[code]

**Expected behavior**

The expect

[2019-01-25 03:41] mdunc commented on #2008
If I checkout e0a0fa05cc6a1419f5e7f5085af50ec5b9f1915f, it compiles just fine.

[2019-01-25 09:15] herono2010 opened #2009 "hello, I want ask some question about rules"
hello, I want ask some question about rules. How do I write a rule that:

blocking upload files ending in ".php/.aspx" . these  upload files are handled in the body of the POST request .

thanks very much .

[2019-01-25 09:44] WGH- commented on #2008
The fix is simple, I wonder why CI didn't catch this though. I'll check that.

[2019-01-25 16:22] spstsdev commented on #1663
@zimmerle Thanks so much for your suggestion... I was having big problems while reloading nginx configuration: huge CPU, time and memory needed. Finally it was because of loading large ruleset inside servers and locations, instead of loading it simply once in main nginx.conf http section.

I think this problem/solution may be pointed out in main modsecurity documentation for Nginx.

Thanks!!!

[2019-01-25 23:40] JaiHarpalani opened #2010 "Xml and Json Parsers send error messages to console when parsing fails"
**Describe the bug**

If the xml or json parser is enabled, and parsing fails, error messages are dumped to the console. There should be a way to disable these error messages.

**Logs and dumps**

An example of an error message for an xml parse error:

body.xml:1: parser error : Extra content at the end of the document
^

**To Reproduce**

Steps to reproduce the behavior:

With XML parsing enabled

[2019-01-28 19:28] #2008 closed, assigned to zimmerle

[2019-01-28 19:39] zimmerle commented on #2010
Hi @JaiHarpalani,

Thank you for the report. In the past, we had a clash between the "catch-all" error method for modsec/libxml and the method utilized by the API consumer. Which made us remove the error handler function. In order to circumvent the problem, we have been compiling without stdout output.

Let's see if you can find an elegant way to deal with that problem.

[2019-01-29 05:04] victorhora commented on #2009
Hi @herono2010

Have a look at the [endsWith](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#endsWith) operator and [FILES_NAMES](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#FILES_NAMES) variable.

The full link to the Reference Manual is here: https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29.

And although some o

[2019-01-29 05:04] #2009 closed, assigned to victorhora

[2019-01-29 11:12] defanator commented on #2000
@victorhora were you able to check deeper on this one? Let me know if I could help.

[2019-01-29 17:26] celesteking commented on #890
Alright, I'm able to reproduce this on 2.9.3 built from v2.9.3 tag against cpanel-provided apr 1.6.3 on EL6, no global mutex patch applied.
Same backtrace, same problem.
@victorhora I've got the coredump if you're interested.

[2019-01-30 02:31] herono2010 commented on #2009
I've solved this problems. the rule like this:
SecRule FILES_NAMES|FILES "^.*\.(php|exe|pcap|html)$" "deny,msg:'Attempted multipart/form-data bypass', severity:'2', id:'100000087', ver:'OWASP_CRS/2.2.9', rev:'1', maturity:'9', accuracy:'7', logdata:'%{matched_var} wangzhao FILES value:%{FILES} FILE_NAMES value:%{FILES_NAMES}', phase:2, t:none,t:urlDecodeUni, tag:'OWASP_CRS/PROTOCOL_VIOLATION/INVAL

[2019-01-30 02:33] herono2010 commented on #2009
the FILES is upload file names .  the FILE_NAMES is Web page code . like filewz .
<input type="file" name="filewz" id="fileww" />

[2019-01-31 02:52] chuckwolber opened #2013 "Build commands replaced with pkg-config in yocto project bitbake builds"
When building modsecurity v3 in a (Yocto) bitbake recipe for embedded environments, the builds can fail because xml2-config and pcre-config are deprecated in favor of pkg-config.

I am working on a fix to replace the xml2-config and pcre-config references in the m4 macro files with pkg-config. I should have a pull request shortly.

[2019-01-31 06:32] alaa-ahmed commented on #2005
what if you changed the rule of outbound anomaly score at RESPONSE-959-BLOCKING-EVALUATION.conf to be:

SecRule TX:OUTBOUND_ANOMALY_SCORE "@ge %{tx.outbound_anomaly_score_threshold}" \
  "phase:4,\
  id:959100,\
  tag:'anomaly-evaluation',\
  t:none,\
  redirect:'https://%{request_headers.host}/',\
  msg:'Outbound Anomaly Score Exceeded (Total Score: %{TX.OUTBOUND_ANOMALY_SCORE})'"

just delete de

[2019-01-31 07:06] alaa-ahmed commented on #2005
more investigation:
using modsecurity V2.9.2,Apache/2.4.6 and CRS v3.0.0
when using
SecRuleUpdateActionById 959110 "t:none,msg:'testing if it triggered',deny,redirect:'https://%{request_headers.host}/'"

the request with anomaly score 18 will not be blocked nether redirected nor writing the message, even it appears in modsecurity audit log as it matched the rules

by taking (msg:'testing if it tri

[2019-01-31 10:18] markblackman commented on #1827
Despite these changes, we're still seeing problems with body content being discarded by modsecurity on a POST.  In a case observed yesterday, modsecurity claimed a body size of 16315

'[30/Jan/2019:14:42:30 +0000] [server1.some.domain.com/sid#a72c368][rid#e1ac640][/dat/restservice/admin/userProvision][4] Input filter: Completed receiving request body (length 16315).'

yet a following filter believ

[2019-02-01 09:02] shallot commented on #768
It's not quite clear how this is related to the global mutex from #1224

The fixed allocator mentioned in the original reports is still around https://github.com/SpiderLabs/ModSecurity/blob/v2/master/apache2/mod_security2.c#L481

[2019-02-01 23:41] victorhora commented on #902
Thanks for sharing your rule with the community @paissad. I'm sure others will find useful until this new feature is added on a future release. :)

[2019-02-02 01:44] victorhora commented on #768
hummm indeed @shallot. My bad. It was closed by mistake when looking for issues related with the mutex.

Reopening and tagging for review prior to 2.9.4 release.

If you would like to help the community by testing the proposed patch and reporting back it would be great too!

Thanks!

[2019-02-02 01:47] victorhora commented on #2000
Hey @defan,

Going to have a look at it this week and let you know! :)

[2019-02-02 01:51] victorhora commented on #2009
Hi @herono2010

Thanks for reporting back on a rule that works for you. I'm sure other people from the community will find this useful :)

[2019-02-03 16:33] dwreski commented on #652
I'm seeing this problem with 2.9.2 on fedora28. I've had this version installed since October, but only started seeing the error today after changing the virtual domain name. It looks like this was built back in Feb 2018. Is there something I can do to fix this without upgrading?

`[Sun Feb 03 11:31:58.614670 2019] [:error] [pid 9771:tid 140119080138496] [client 185.136.156.195:40896] [client 185.

[2019-02-05 15:11] marcstern commented on #527
Actually, the fix is trivial.
The code would allow to modify the ARGS collection (same for cookie); we're using this for a long time.
It simply isn't enabled for these collections - which is a pity.
I'd love to advocate to include this feature, although I know that some people are reluctant to include advanced features that basic users don't understand easily :-(

Example for allowing ARGS modif (

[2019-02-05 15:19] marcstern commented on #1131
ipMatch & validateByteRange also don't accept expansion on operators.
Is there any reason?
Can we add this to 2.9 also?

[2019-02-07 08:27] miyurusankalpa commented on #1727
If anyone want them, I posts the DAT files I convert [here](https://www.miyuru.lk/geoiplegacy)

[2019-02-07 12:21] dune73 commented on #1727
Very cool initiative. Thanks.

One question: You are sharing this via Creative Commons Attribution-ShareAlike 4.0. I presume the original databases are those of MaxMind. Are they OK with what you are doing here? In other words, do you have their formal OK? If yes, I will help to share the word. If not, it's legally dangerous to link to your site.

[2019-02-07 12:30] miyurusankalpa commented on #1727
https://creativecommons.org/licenses/by-sa/4.0/

The licenses of both databaes are free to adapt, must share under the same license and must give attribution. All of which I have done on the page.

I will contact both maxmind and dbip to check if what I have done is ok.

Update1: I have contacted both providers, wating for reply.
Update2: Maxmind said OK.
Update3: DB-IP said OK.

[2019-02-07 14:18] dune73 commented on #1727
Sounds like a plan. Thank you.

[2019-02-08 08:36] theMiddleBlue opened #2019 "nginx + v3: high CPU usage on rule 200001"
I'm not sure if this issue was already reported. Anyway:

What reported here https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1133 seems to be related to the rule 200001 and the `requestBodyProcessor=JSON` on each request with `Content-Type: application/json`.

With a long JSON string in the request body, the rule 200001 takes a very long time to process it, and the nginx worker CPU usag

[2019-02-08 19:42] victorhora commented on #2019
Hey @theMiddleBlue,

We had a similar issue in the past that was brought on the Nginx-connector issue tracker: https://github.com/SpiderLabs/ModSecurity-nginx/issues/89. This was found to be resolved a number of performance improvements added last year.

Can you re-run your tests without the CRS loaded? With CRS it was taking a significant amount to process, but with the basic configuration (which

[2019-02-08 20:37] dmarlow opened #2020 "Windows Event Log"
I'm curious how logs are controlled for ModSec. For example, is it possible to disable writing to the event log for anything that isn't an "error" in ModSec? Or maybe there are other logging options?

Reason I ask is that during load tests and vulnerability scans the event log can end up receiving a lot of warning messages and things slow down considerably (svchost.exe process starts to consume a

[2019-02-08 20:48] victorhora commented on #1131
@marcstern I would suggest submitting a pull request. I think the main concern is indeed performance as @zimmerle pointed out. If there's no clear performance impact when handling a ruleset that uses macro expansion somewhat heavily (e.g. CRS).

If performance remains a concern, I think we could have this as a compile time option (i.e. --extended-macro-expansion-operators) and then adding this to

[2019-02-09 03:09] dwreski commented on #1804
Can someone tell me if this issue is related to this error? This is on fedora28 with mod_security-2.9.2-5.fc28.x86_64

[Fri Feb 08 22:06:50.144344 2019] [:error] [pid 11255:tid 140146947102464] [client 151.106.0.210:54982] [client 151.106.0.210] ModSecurity: Access denied with code 403 (phase 2). Match of "eq 0" against "MULTIPART_UNMATCHED_BOUNDARY" required. [file "/etc/httpd/conf.d/mod_security

[2019-02-09 03:20] dwreski opened #2021 "Match of "eq 0" against "MULTIPART_UNMATCHED_BOUNDARY" required"
**Describe the bug**
For unknown reasons, we're see "access denied" errors with mod_security-2.9.2-5 on fedora28

A clear and concise description of what the bug is.
[Fri Feb 08 22:06:50.144344 2019] [:error] [pid 11255:tid 140146947102464] [client 151.106.0.210:54982] [client 151.106.0.210] ModSecurity: Access denied with code 403 (phase 2). Match of "eq 0" against "MULTIPART_UNMATCHED_BOUNDARY"

[2019-02-10 22:34] trafico10 opened #2022 "make check errors"
Can you tell me what it means?
and how to solve it
use ubuntu 18 nginx

Making check in others
make[1]: Entering directory '/opt/ModSecurity-nginx/ModSecurity/others'
/bin/bash: libinjection/src/.dirstamp: Permission denied
make[1]: *** [Makefile:510: libinjection/src/.dirstamp] Error 1
make[1]: Leaving directory '/opt/ModSecurity-nginx/ModSecurity/others'
make: *** [Makefile:1018: check-recursive

[2019-02-10 23:03] trafico10 commented on #2022
okay. sorry
do not add sudo

Testsuite summary for modsecurity 3.0
============================================================================
# TOTAL: 0
# PASS:  0
# SKIP:  0
# XFAIL: 0
# FAIL:  0
# XPASS: 0
# ERROR: 0
============================================================================
make[3]: Leaving directory '/opt/ModSecurity-nginx/ModSecurity'
make[2]: Leaving directory '/opt/ModSe

[2019-02-11 05:11] jrfondren commented on #890
Replication:
[code]

The single request lays the trap, and then once some traffic causes Apache to try to expire children, the trap is sprung.

[2019-02-11 05:43] jrfondren commented on #890
~~The above replication survived several changes I tried, but finally stopped triggering the bug with s/REQUEST_URI/REQUEST_URI_RAW/~~ Previous replication and fix invalidated by phase of moon.

The following replication works in seconds on a vanilla cPanel CentOS 6 and CentOS 7 environment with a worker MPM and suPHP. It was replicated with a very old CentOS 7 image, and then again after massive

[2019-02-11 12:47] marcstern commented on #1131
Actually, expansion should be performed only if we detected - at config time - that there is something to expand. This would be as effective as the compile flag, more flexible/generic, and would speed up parsing of currently expanded operators.

[2019-02-11 19:20] victorhora commented on #2022
@trafico10

I would guess that your problem is here:
[code]

Check that the user compiling the code (running $make) owns and have appropriate permissions to run the compiler/linker and create the output files on the same folder where the source for ModSecurity is.

[2019-02-11 19:20] #2022 closed, assigned to victorhora

[2019-02-12 18:35] pvasilevich opened #2025 "Direct upgrade from 2.9.2 to 2.9.3 is not available"
**Describe the bug**

The following MSI error appeared when trying to upgrade one version of ModSecurity to another:
"Another version of this product is already installed.  Installation of this version cannot continue.  To configure or remove the existing version of this product, use Add/Remove Programs on the Control Panel."
Looks like ModSecurity need to be uninstalled, server rebooted and then

[2019-02-12 18:44] pvasilevich commented on #2025
Looks like the issue cause by this line:
https://github.com/SpiderLabs/ModSecurity/blob/v2/master/iis/installer.wxs#L10

    <Product Id="22B04FDB-9BAB-46B0-87B8-A39544ECECD3" Name="ModSecurity IIS" Language="1033" Version="2.9.1" Manufacturer="ModSecurity" UpgradeCode="82F09489-1678-4C38-ADCB-08C3757653DB">

You have hardcoded UpgradeCode here, this is good, it shouldn't be changed in a whole lin

[2019-02-14 00:32] victorhora commented on #2025
Thanks for your report @pvasilevich :)

Your input here makes sense to me. I can regenerate a test version of the installer to check that the issue doesn't happen anymore with this changeset.

But I would suggest that you can submit a pull request to fix this issue and have your name as contributor. How does that sound? :)

[2019-02-14 07:45] trippl opened #2026 "INBOUND_DATA_ERROR not set"
There seems to be an issue, that INBOUND_DATA_ERROR is not always set, when SecRequestBodyLimit is reached. We have set SecRequestBodyLimit to 10485760 (10 MB). If we try to upload a file with 25MB we get a HTTP status 413 and INBOUND_DATA_ERROR is set to 1. Good so far. Now if we try to upload a file with 200MB we still get a HTTP status 413 (good) but INBOUND_DATA_ERROR is NOT set. Are we missin

[2019-02-14 17:14] victorhora commented on #2026
Hi @trippl, thanks for your report.

Can you please provide more details about the issue you are experiencing so that we can investigate further? More importantly the version (v2, v3?) where you notice the issue.

It would be great if you could use our bug report templates to fill the issue with as much information as possible:

https://github.com/SpiderLabs/ModSecurity/issues/new?template=bug-rep

[2019-02-15 08:42] trippl commented on #2026
**Describe the bug**

INBOUND_DATA_ERROR is not always set, when SecRequestBodyLimit is reached.

**Logs and dumps**

Output of:

**To Reproduce**

Steps to reproduce the behavior:

 - Works when uploading a 20MB file
 - Does not work when uploading a 200MB file

**Expected behavior**

INBOUND_DATA_ERROR is always set to 1 when the defined body limit is reached.

**Server (please complete the foll

[2019-02-16 11:03] JeffCleverley opened #2027 "Docs for ctl go nowhere"
https://www.modsecurity.org/CRS/Documentation/exceptions.html

Link to ctl

goes nowhere.

[2019-02-19 07:28] pangbit opened #2028 "audit log part H(Matched Rules) dont log the entire chain rule"
I want to log the entire chain, but the audit log repeat the last rule of the chain in part H.
Pls help me, thanks.

below is the demo config:
nginx.conf
[code]

DebugLogs (level 9)
[code]

 AuditLogs
[code]

**Server:**
 - ModSecurity version (and connector): ModSecurity v3.0.4 with nginx-connector v1.0.x
 - WebServer: nginx-1.15.8
 - OS (and distro): CentOS 7.6.1810

[2019-02-19 10:47] marcstern commented on #1131
Before submitting a PR (actually 2 PR), I'd like to have some feedback about my proposal.
Logic (for v2):
 1. in msre_rule_create(), we check if the operator param contains "%{" and set a flag accordingly
 2. in all exec() functions, we only try to expand if the flag is set
Does anybody see a problem with this?

Structural detail: this is merely what the rule->re_precomp means.
Three solutions:
 1

[2019-02-19 10:54] iniwidi opened #2029 "Matched "Operator `Eq' with parameter `0' against variable `MULTIPART_STRICT_ERROR' (Value: `1' ) [id "200003"] v.3.2"
Hello I got this error :

`ModSecurity: Access denied with code 400 (phase 2). Matched "Operator `Eq' with parameter `0' against variable `MULTIPART_STRICT_ERROR' (Value: `1' ) [file "/etc/nginx/modsec/conf/example.org/modsecurity.conf"] [line "55"] [id "200003"] [rev ""] [msg "Multipart request body failed strict validation: \\x0aPE 0, \\x0aBQ 0, \\x0aBW 0, \\x0aDB 0, \\x0aDA 0, \\x0aHF 0, \\x0aL

[2019-02-20 01:57] victorhora commented on #2027
This is probably due to the wiki page for the Reference Manual of 2.x being renamed. Last year. The correct link for it is: https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29.

So the correct to ctl would be the following: https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#ctl

If you head to the [wiki main page](https://github.com/SpiderLabs/ModSecu

[2019-02-20 01:57] #2027 closed, assigned to victorhora

[2019-02-20 01:59] victorhora commented on #2028
@zhanbu1990 thanks for your detailed report.

This seems like a duplicate of https://github.com/SpiderLabs/ModSecurity/issues/2000. If that's the case, can you please add your observations there?

Thanks

[2019-02-20 03:45] victorhora commented on #2029
Hi @iniwidi

I believe you mean the [OWASP CRS rules from v3.2/master](https://github.com/SpiderLabs/owasp-modsecurity-crs/branches). ModSecurity itself is currently [heading to 3.0.4 at master.](https://github.com/SpiderLabs/ModSecurity/branches).

This is an old commit/version. I would recommend upgrading to [3.0.3](https://github.com/SpiderLabs/ModSecurity/releases/tag/v3.0.3) or getting the cu

[2019-02-20 03:45] #2029 closed, assigned to victorhora

[2019-02-20 03:48] victorhora commented on #1131
@marcstern if I'm not mistaken, this is already the case with v3. Macro-expansion is handled at the parser and only performed if there really is something to expand.

[2019-02-20 04:59] iniwidi commented on #2029
Hi @victorhora

Thanks for you help man, noted will upgrade to 3.0.3

[2019-02-20 07:35] marcstern commented on #1131
possible, but not in v2

[2019-02-20 07:35] marcstern commented on #1131
possible, but not in v2

[2019-02-20 12:59] pangbit commented on #2028
@victorhora Thanks for your help, I will follow #2000.

[2019-02-20 18:37] picklesrein opened #2030 "wiki points to IP address instead of mirror"
**Describe the bug**
The bug is that the compilation recipe for CentOS 7 suggests installing an RPM from a specific IP address:
`yum install ftp://195.220.108.108/linux/fedora/linux/updates/23/x86_64/b/bison-3.0.4-3.fc23.x86_64.rpm`

From a security standpoint this is very questionable.

Secondly, from Issue #907 it appears that the reliance on bison 3.0.4 might only be for users who wish to "chan

[2019-02-20 19:38] #2028 closed, assigned to victorhora

[2019-02-21 09:29] StrathCole commented on #1909
There is still a problem when using Luajit-2.1
the configure script outputs as CFLAGS:
[code]
as /usr/include/lua is a symlink to luajit-2.1 this leads to non-working make.
The -DWITH_LUA_JIT_2_1 is only added inside an if block from line 6383
[code]
But at this point the LUA_CFLAGS is already set so the if block is never executed.
When I disable the check (change test -z to test -n temporarily) c

[2019-02-21 22:03] airween commented on #1960
A possible solution:
https://github.com/airween/ModSecurity/tree/v3/issue-1960

[2019-02-22 08:11] iniwidi commented on #2029
hi @victorhora

For update the Modsecurity to 3.0.3 i'm using :

`git pull origin v3/master`

my question is, is still need to run ./configure, make && make install again ? or just simply copy modsecurity.conf without re-configure again ?

Thanks.

[2019-02-22 13:49] theMiddleBlue commented on #1960
Thanks @airween

I did a test using your branch, and it seems working like a dream!

[2019-02-22 17:04] victorhora commented on #1960
This looks sane to me @airween and working here too. Thanks! :)

My initial concern was if the value of `it->status` is expected to be filled later on and it won't be if `DetectionOnlyRuleEngine` is set... Can you submit a pull request to trigger the tests on the buildbots too?

[2019-02-22 17:08] victorhora commented on #2029
Yes @iniwidi. If you simply pull the code it won't compile and install by itself. You need re-compile and install again.

It's a good idea to "clean" your current compiled code by running a `make clean` or `make maintainer-clean`.

[2019-02-26 08:38] airween commented on #1960
Another solution:
https://github.com/airween/ModSecurity/tree/v3/issue-1960-2

[2019-02-26 09:55] theMiddleBlue commented on #1960
https://github.com/airween/ModSecurity/tree/v3/issue-1960-2

@airween I've just tested it and it seems works as expected!

thanks

[2019-02-27 09:51] studersi opened #2033 "Segmentation fault ctl:ruleRemoveTargetById without target"
Leaving out the target for `ctl:ruleRemoveTargetById` causes segmentation faults.

This has already been reported and fixed for `ctl:ruleRemoveTargetByTag`: https://github.com/SpiderLabs/ModSecurity/issues/1353.

My guess is that `ctl:ruleRemoveTargetByMsg` is affected as well but I did not test this.

Steps to reproduce the behavior:
Add a rule exclusion containing `ctl:ruleRemoveTargetById=94113

[2019-02-28 00:24] jrfondren commented on #890
Some more information about this bug: it's a data race(?) within libapr in a highly-threaded environment as with the Worker MPM. In one thread libapr will break a data structure, and then before it can go on to unbreak the data structure, elsewhere libapr will fork() and the "unbreak" steps won't come along. Even though libapr intends to then exec(), it tries to clean up a bit first, and this clea

[2019-02-28 04:28] ravthiru opened #2034 "Sanitise XML Request body"
We are using 2.9.3 and logging both header and body of the request and response.  As we don't want sensitive information to be logged, we want  sanitize XML request body.
tried using sanitizeArgs but this is not helping.

Any suggestions on how to sanitize  XML request payload

[2019-02-28 08:05] kfkawalec commented on #2000
Any progress? I also had problem with missing "H" log part.

[2019-02-28 14:29] vitolo78 commented on #1658
It seems that it doesn't work even on the 2.9.3. These are my current environment versions:
Producer: ModSecurity for Apache/2.9.3 (http://www.modsecurity.org/).
Server: Apache/2.4.37 (Amazon) OpenSSL/1.0.2k-fips PHP/5.6.39

I'm interested in logging phase (audit) of response body.

If you request an url like domain.org/index.php final lines of modsec_debug.log are similar to:
[code]

and modsec_a

[2019-02-28 19:49] gspaivaequals opened #2035 "[Apache] YAJL JSON support was not enabled"
Hi, I'm using modsecurity 2.8.0 and having a problem about JSON parser. When I try to make content-type json requests I'm having the following log:

ModSecurity: JSON support was not enabled
ModSecurity: Access denied with code 400 (phase 2). Match of "eq 0" against "REQBODY_ERROR" required. [file "/usr/local/apache2/conf/extra/modsecurity.conf"] [line "64"] [id "200002"] [msg "Failed to parse req

[2019-03-02 17:36] damnms opened #2036 "false positive with matrix synapse's homeserver"
**Describe the bug**
When matrix clients contact my reverse-proxy apache2, they can not send messages. These are blocked by mod-security.

**Logs and dumps**

Output of:
[Sat Mar 02 17:57:16.032830 2019] [:error] [pid 6747] [client 8.15.22.21:51244] [client 8.15.22.21] ModSecurity: Access denied with code 403 (phase 2). Match of "within %{tx.allowed_methods}" against "REQUEST_METHOD" required. [fi

[2019-03-04 14:13] ledzepp4eva opened #2037 "REQUEST_BODY logged causes error.log to truncate"
**Describe the bug**

The issue isn't so much a bug I guess, but when a 403 is logged then ensure REQUEST_BODY is being logged. This is causing the nginx error log to be truncated at the hardcoded 2048bytes limit.

**Logs and dumps**

Output example:
[code]

**To Reproduce**

[code]

**Expected behavior**

Not so much expected, but would be good if instead of dumping the whole request_body just do

[2019-03-04 15:00] ledzepp4eva commented on #2037
I'm wondering if the following configuration, can be amended so only part of `%{MATCHED_VAR}` or just remove `%{MATCHED_VAR}` from the logdata

REQUEST-930-APPLICATION-ATTACK-LFI.conf:
[code]

[2019-03-04 18:08] jptosso opened #2038 "Audit logs not being submitted to server on deny"
**Describe the bug**
I'm sending my audit logs to a HTTP server, I have been receiving every request but somehow modsecurity stopped sending logs if a rule was being triggered and denied.
I expect modsecurity to send every request to the server.

**Current testing configuration**

**Logs and dumps**

Logs for request with triggered rule and deny

But when I send a normal request (200 status):

**S

[2019-03-04 19:36] #2038 closed, assigned to nobody

[2019-03-04 21:51] victorhora commented on #2034
@ravthiru It's worth checking if using sanitizeMatchedBytes against the REQUEST_BODY could work for you.

Otherwise, you could do something like per transaction using ctl:auditLogParts, removing part the REQUEST_BODY (part C) from the audit logs (ctl:auditLogParts=-C) whenever there's a match with the [rule that enables XML inspection](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/modse

[2019-03-04 21:51] #2034 closed, assigned to victorhora

[2019-03-04 21:59] victorhora commented on #2036
@damnms It seems like you are having a false positive with the OWASP Core Rule Set.

From the error message "Method is not allowed by policy", it seems like rule ID 911100 needs tuning for your setup to allow the given HTTP method (PUT).

For issues/questions with the Core Rule Set, please direct them at the project page: https://github.com/SpiderLabs/owasp-modsecurity-crs.

Thanks

[2019-03-04 21:59] #2036 closed, assigned to victorhora

[2019-03-04 22:27] victorhora commented on #2037
@ledzepp4eva the behaviour you are experiencing due to the verbosity of the CRS rules. This is the default configuration to assist with customizations and handling FPs.

A workaround is changing the rule as you mentioned, but you might need to do for many rules and having a high cost of maintenance with every update of the CRS.

A simpler solution could be disabling the logging for Nginx error_log

[2019-03-04 22:27] #2037 closed, assigned to victorhora

[2019-03-04 22:36] victorhora commented on #2035
@gspaivaequals

I suggest checking the path where your LoadModule Apache directive is set to load ModSecurity. Based on the description of your issue, it might be possible that the path of your recompiled ModSecurity with support for YAJL is not matching what's on Apache configuration.

In addition, make sure you run a ```make clean``` before compiling again as the configuration script might not t

[2019-03-04 22:36] #2035 closed, assigned to victorhora

[2019-03-04 23:18] victorhora commented on #1658
@vitolo78 You might be hitting a limitation within ModSecurityV2 due to the internal redirect. See #1294.

You can try instead to pull the rewrite block out of the Directory context (note the extra beginning slash required) as suggested at https://github.com/SpiderLabs/ModSecurity/issues/184#issuecomment-26541668.

[2019-03-05 10:35] Metztli opened #2039 "Debian 9 build package fails with undefined reference to lua_*"
Debian 9 AMD64 build fails with four(4) undefined reference to lua_* directives

...
Making all in rules-check
make[3]: Entering directory '/usr/src/build/tekitl/ModSecurity/tools/rules-check'
/bin/bash ../../libtool  --tag=CXX   --mode=link g++  -g -O2 -fdebug-prefix-map=/usr/src/build/tekitl/ModSecurity=. -fstack-protector-strong -Wformat -
Werror=format-security   -Wl,-z,relro -lpcre  -L/usr/li

[2019-03-05 10:58] gnzhoutian opened #2040 "How to use the folder test to unit-test and regression test"
I have tried  to excute the following commands. But it doesn`t worked.  (from  the file  README.md )
################
The regression test and unit test utilities are native and do not demand any
external tool or script, although you need to fetch the test cases from other
repositories, as they are shared with other versions of ModSecurity, those
others repositories git submodules. To fetch the sub

[2019-03-05 11:57] jleproust commented on #2019
I tested this with modsecurity 3.0.3, nginx 1.15.8, modsecurity-nginx 1.0.0 and crs 3.1.0.

Actually the problem is not the JSON parser itself. The real issue is that a relatively small JSON payload can generate thousands of arguments, which fill the ARGS and ARGS_NAMES collections, and then the OWASP CRS rules spend a lot of matching all of these values. This is why disabling the JSON processing

[2019-03-05 12:08] #2040 closed, assigned to nobody

[2019-03-05 12:09] gnzhoutian commented on #2040
The reason: lost of the *-devel*.rpm

[2019-03-05 22:25] victorhora commented on #2039
Hi @Metztli,

These error messages related with Lua:

[code]

Suggests that the configure script failed to select the proper libLua src/headers and it might be trying to compile with a given feature (e.g. JIT) that is not present.

I suggest checking for the version of libLua installed. You may have issues if you have multiple versions of it installed.

Do you get different results If you try comp

[2019-03-06 12:30] gspaivaequals commented on #2035
@victorhora Thank you! I ran `make clean` and it works!

[2019-03-06 13:44] Metztli commented on #2039
Niltze, @victorhora-

Thank you for the lua -related hints. I made sure to install/leave only latest and gave the build one more try. Unlike yesterday (where I spent considerable time online searching for a similar error and thus a proper solution) this time build succeeded.

If interested in the log of the build:
https://metztli.it/blog/index.php/amatl/aO0

Once again, thanks Victor.

Best Profes

[2019-03-06 13:44] #2039 closed, assigned to victorhora

[2019-03-07 02:45] jptosso opened #2041 ""Database is not open. Use: SecGeoLookupDb directive." after reload"
**Describe the bug**

I'm using mmdb to block countries from my website and it works fine until I reload my nginx server and I start getting the message "Database is not open. Use: SecGeoLookupDb directive." in the debug log and no country would be blocked anymore.

**Logs and dumps**

Before reload:

After reload:

ModSecurity config log:

**To Reproduce**

Use the following configuration with yo

[2019-03-07 13:52] celesteking commented on #890
Great work! I was able to replicate that reliably, too, with the specified simple regex rule from the above.

If apr is compiled with APR_POOL_DEBUG, httpd won't even start because of the error:
`apr_table_copy: t's pool is not an ancestor of p`

The error is produced because apparently, modsecurity is using apr functions in a weird way, and that bites in the ass thereafter , as exactly seen in th

[2019-03-08 08:48] trippl commented on #2026
Hi @victorhora,

do we have to set "SecRequestBodyLimitAction ProcessPartial" in order for INBOUND_DATA_ERROR to work properly?

Best regards,
Thomas

[2019-03-08 12:15] gspaivaequals opened #2042 "[ModSecurity 2.9.3] Apr crypto unknown type name"
Hey guys, I'm trying to install 2.9.3 version od modsecurity and after I run 'make' I'm getting the following error :
[code]
In configure I used the following:
`./configure --with-apxs=/usr/local/apache2/bin/apxs --with-yajl`

I'm using Apache 2:
[code]
My operational system is:
CentOS Linux release 7.5.1804

Is there something I've be missing?

Already thanks!

[2019-03-08 22:08] victorhora commented on #2042
Hi @gspaivaequals,

The error message suggest that your version for Apache Runtime (APR) does not have support for crypto routines. This is required by some functionalities of ModSecurity.

I would suggest checking if your version of APR support crypto and upgrading or installing a proper version that have such support.

[2019-03-09 10:55] mhzauser opened #2043 "modsecurity_rules_file directive Rules error"
I use this guide for add ModSecurity nginx module
[https://www.nginx.com/blog/compiling-and-installing-modsecurity-for-open-source-nginx/](url)
and create Dockerfile
[https://github.com/mhosseinz75/nginx-modsecurity/blob/master/Dockerfile](url)
and I have this bug for build image
`2019/03/09 08:50:17 [emerg] 1#1: "modsecurity_rules_file" directive Rules error. File: /etc/nginx/modsec/modsecurity.c

[2019-03-09 11:45] surajy93 opened #2044 "Modsecuirty : Loaded APR does not match with complied"
Kindly review image error log
![log](https://user-images.githubusercontent.com/42316893/54073410-bdf0e500-42ac-11e9-92d6-b4d01141e992.PNG)

[2019-03-09 21:02] victorhora commented on #2026
Hi @trippl,

I'm not sure since, imo, the action to take for that directive shouldn't impact on the decision of the variable being filled. Also, according to the [example of INBOUND_DATA_ERROR variable on the Reference Manual](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#INBOUND_DATA_ERROR), it should be available as early as Phase 1.

Can you check what happens if yo

[2019-03-09 21:14] victorhora commented on #2044
Hi @surajy93,

This means that your build of ModSecurity was **compiled** with a given version of Apache Runtime (APR) but it is now **running** with a different version of APR. You can either recompile ModSecurity or change your APR version (this can be more tricky to do).

ModSecurity may still work with that inconsistency, but you may face some stability issues or crashes.

[2019-03-09 21:14] #2044 closed, assigned to victorhora

[2019-03-09 21:39] victorhora commented on #2043
@mhosseinz75

This is probably due to the fact that the default configuration file ([modsecurity.conf-recommended](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/modsecurity.conf-recommended)) have an entry looking for the [SecUnicodeMapFile](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/modsecurity.conf-recommended#L255) on the "current folder" (you can change during compile

[2019-03-09 21:39] #2043 closed, assigned to victorhora

[2019-03-10 00:44] victorhora commented on #2041
I believe the issue is probably due to the fact that the call to [GeoLookup::setDataBase](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/utils/geo_lookup.cc#L57-L105) is made only at the parser here:  https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/parser/seclang-parser.cc#L2706-L2723

The leads me to believe that on a reload, when [GeoLookup::evaluate](https://github.co

[2019-03-10 03:18] jptosso commented on #2041
Tested your workaround and it does work:

[2019-03-10 08:48] mhzauser commented on #2043
thanks, I try it
and sorry about Dockerfile repo link
this is a correct link repository
[https://github.com/mhosseinz75/nginx-modsecurity](url)

[2019-03-10 08:48] mhzauser commented on #2043
https://github.com/mhosseinz75/nginx-modsecurity

[2019-03-10 17:01] victorhora commented on #1645
@tdoubley provided a possible solution here: https://github.com/SpiderLabs/ModSecurity/pull/1992/commits/fb020c5d41ab04bbbfbf313d6d0b3b77a7bb8eda

My suggestion would be having [isComment()](https://github.com/SpiderLabs/ModSecurity/pull/1992/commits/fb020c5d41ab04bbbfbf313d6d0b3b77a7bb8eda#diff-5dba61cba9754b3b7bb325e7b67c72e3R28) as a more "global" solution for all features that loads content fr

[2019-03-10 17:34] victorhora commented on #2030
@picklesrein,

Thanks for your contribution. We [updated the URLs](https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes-for-v3.x/_history) due to this report and the fact that some of those packages are now considered "archive" and at a different URL (see [README](http://fr2.rpmfind.net/linux/fedora/linux/updates/23/README)).

But please bear in mind that these compilation recipes ar

[2019-03-10 17:34] #2030 closed, assigned to victorhora

[2019-03-10 17:34] #2042 closed, assigned to victorhora

[2019-03-10 18:05] victorhora commented on #2020
Hey @dmarlow,

Sorry for the delayed response. Please see my comments below:

You basically have three types of logs: [auditlog](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#auditlog), [log](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#log) and [debuglog](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecDebugL

[2019-03-10 18:05] #2020 closed, assigned to victorhora

[2019-03-10 18:10] victorhora commented on #613
@beatinger

This issue was already fix on the 2.9.3 release. You may consider upgrading.

If you want to change it manually on your local installation, search for a file named _modsecurity.conf_ on your disk. If I remember correctly, by default it will be located on the folder where your ModSecurityIIS package is installed.
 https://github.com/SpiderLabs/ModSecurity/commit/45337265f1df8f45908390ca

[2019-03-10 19:25] victorhora commented on #2013
Let us know if you need support with a pull request @chuckwolber. Thanks :)

[2019-03-10 19:33] victorhora commented on #2021
@dwreski this seems like a false positive or maybe a request that doesn't follow the RFC. This should not be an issue with libModSecurity (aka v3.0). 7def498 Please consider upgrading or disabling the rule.

If the issue persists, please provide the exact request (request line, request headers, request body) that triggers the issue and let us know and we can reopen it for further investigation. Th

[2019-03-10 19:33] #2021 closed, assigned to victorhora

[2019-03-10 20:43] beatinger commented on #613
I installed PeerBlock and paid for the yearly subscription service to obtain daily updates to block lists.  It seems to be working well, but there are so many blocks going on, that it is slowing down my server.  I really need to block all of this nonsense in my firewall, which is a Cisco ASA 5450, but I do not know how.

[2019-03-11 06:01] chuckwolber commented on #2013
Thanks, and sorry for the delay. I will try to get it fixed shortly.

[2019-03-11 07:40] studersi commented on #902
Could the workaround, suggested by @paissad, be abused to bypass the XML body parser by having the string `multipart/related` somewhere unexpected in the `Content-Type` header?
A simple example that comes to mind would be a `multipart/form-data` request which contains `multipart/related` as part of the part boundary.

I think using `@beginsWith` instead of `@contains` should prevent this bypass te

[2019-03-11 11:35] trippl commented on #2026
@victorhora we already tried using SecRequestBodyNoFilesLimit in addition/instead. It had no effect on the behavior. However setting "SecRequestBodyLimitAction ProcessPartial" seems to work. Not with phase 1 though.

[2019-03-11 19:45] AndyJAllen commented on #1727
Thank you for sharing!

[2019-03-12 18:44] victorhora commented on #2041
Thanks for the feedback @asdfuken. Good to know that it works as intended this way :)

Regardless, we'll try to get it fixed prior to 3.0.4 release. Thanks for reporting!

[2019-03-13 01:40] shigeya-t commented on #582
https://modsecurity.org/download.html

The Github issues mentioned above is this issue? Is this NOTE still true and should wait for version 4, not version 3?

[2019-03-13 03:36] jptosso commented on #1803
Hello, any update on this? I have been testing and the collection file under /modsec-shared-collections is not being expired according to expirevar nor SecCollectionTimeout.
I'm using --with-lmdb because the standard method would destroy each collection on reload.

[2019-03-13 06:55] airween commented on #1803
Not yet - but I'll see that soon.

[2019-03-13 09:39] defanator commented on #2000
@victorhora @zimmerle any chance to address this one before 3.0.4? :)

[2019-03-14 00:21] victorhora commented on #1909
Hi @StrathCole,

Thanks for the report.

Can you let us know if your environment have more than one version of Lua (or LuaJIT) installed? Sometimes the configure script can get a bit confused if that's the case.

If the issue still persists it would be great if you could provide details on your environment (e.g. distro).

Thanks!

[2019-03-14 16:27] Paladin opened #2047 "Improve tag support in JSON logger"
**Describe the bug**
It's not a bug it's a feature.....request?

When using JSON log output, any tagging the rules do is not exposed to a json parser. In the audit_data attributes "messages" and "error_messages" the tags are shown as [tag "tagName"] but that doesn't make them visible to any JSON parser looking at them, without doing further regex or other string handling operations. (Likewise for

[2019-03-14 18:12] zimmerle commented on #2047
Hi @Paladin,

Thank you for the report.  What is your ModSecurity version?

[2019-03-15 15:14] Paladin commented on #2047
Oh, sorry about that:

OWASP Rule Set : 3.0.2
mod_security: 2.9.2
OS: Centos 7.6.1010
webserver: apache 2.4.37

I've been thinking about v3, but haven't had the time to spin up something to test it on, yet. It's not in the repos I normally pull from, so TBH I've been lazy about it.

[2019-03-15 22:26] victorhora commented on #2000
Hi @defanator, sorry the delay :(

The problem seems to be that the conditions to push ruleMessage below is not met when only [deny](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#deny) action is used:

https://github.com/SpiderLabs/ModSecurity/blob/6d5198b1a60992416c9c8f1d77754e8e5edba996/src/rule.cc#L815-L822

Then when the for loop to append m_rulesMessages to the au

[2019-03-15 23:00] victorhora commented on #2000
We could fix with a condition to check if the "deny" action is present (or any disruptive action), but PR https://github.com/SpiderLabs/ModSecurity/pull/2048 is up for evaluation. Let's see if the buildbots flag any issue :)

[2019-03-19 20:36] lightsey commented on #890
This example httpd.conf reproduces the bug with only core Apache modules and ModSecurity.

[test.conf.txt](https://github.com/SpiderLabs/ModSecurity/files/2985299/test.conf.txt)

I was able to isolate the corruption of the linked list  to the functions in re_operators.c that are using rule->ruleset->mp (a global per-process pool) in the threads that handle individual HTTP requests. These should us

[2019-03-20 15:28] theseion commented on #1803
Meanwhile here's a workaround for everyone who needs DOS protection to work. The hack uses dedicated variables in conjunction with the `TIME_EPOCH` variable to explicitly expire the DOS variables.

[REQUEST-912-DOS-PROTECTION.conf.txt](https://github.com/SpiderLabs/ModSecurity/files/2988887/REQUEST-912-DOS-PROTECTION.conf.txt)

[2019-03-22 09:49] prajyodh commented on #1911
I get the same error.
I have installed GeoIP-devel by sudo yum install GeoIP-devel
before configure and build module for nginx connector.
Modsecurity : Using v3/master
Nginx version : 1.14.1
ModSecurity-nginx : master

[2019-03-22 16:29] mhoran commented on #1845
@zimmerle this seems to break https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/46171c0ef335f92b26787ce269e397c480286155/rules/REQUEST-910-IP-REPUTATION.conf#L168-L171. While pointed out in this thread that there is a performance penalty to the `@rbl` check in nginx, I still spent a few hours trying to track down why this didn't work.

Perhaps the `@rbl` rules should be removed from `REQUES

[2019-03-22 16:53] victorhora commented on #1911
@prajyodh

Check if the Compilation Recipes helps you:

https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes-for-v3.x

Also check if using MaxMind instead works better. This issue might help you: https://github.com/SpiderLabs/ModSecurity/issues/2041#issuecomment-471242930

If your problem persists, please open a new issue and provide as many details as possible as per the issue templ

[2019-03-24 15:10] szepeviktor opened #2050 "Preferred way to add firewall rule"
Hello!

I've searched for "iptables" without success.

Could you tell me what solution **you guys are using** for making ModSecurity _tell_ (Linux) firewall to block an IP address?
Thank you.

[2019-03-25 13:02] Hello-Linux opened #2051 "Nginx 403 display is incorrect"
After installing modsecurity, I customized the 403 page., but it always redirected to nginx's own 403. Does modsecurity force the 403 page to redirected to the default 403 page?

This is my config:
 error_page  403       /403.html;
    location = /403.html {
        root html;
      }
    location = /wangjun {
        return 403;
          }
when I curl /wangjun It‘s working for 403  But when I tr

[2019-03-25 14:49] microphone-mathematics opened #2052 "JSON Parser error: parse error: premature EOF\x0a - POST request with valid JSON and libYAJL compiled on Centos7"
**The Problem**
I'm getting the following rule triggered when parsing a POST request with a JSON body:

ty/mod_security.conf"] [line "53"] [id "200002"] [rev ""] [msg "Failed to parse request body."] [data "JSON parsing error: parse error: premature EOF\x0a"
] [severity "2"] [ver ""] [maturity "0"] [accuracy "0"] [hostname "hostname.local"] [uri "/Path/To/Endpoint
"] [unique_id "154342236916.28525

[2019-03-25 15:20] microphone-mathematics commented on #2052
**Here is a snippet from the debug log set to level 9:**

[155352621654.189888] [/PATH/to/Endpoint] [4] Starting phase REQUEST_BODY. (SecRules 2)
[155352621654.189888] [/PATH/to/Endpoint] [9] This phase consists of 380 rule(s).
[155352621654.189888] [/PATH/to/Endpoint] [4] (Rule: 200002) Executing operator "Eq" with param "0" against REQBODY_ERROR.
[155352621654.189888] [/PATH/to/Endpoint] [9] Tar

[2019-03-25 21:21] molu8bits opened #2053 "SecAuditLogParts - only A, F works, H partially and only for blocking action"
**Describe the bug**

SecAuditLogParts configuration works only for A,F and only partially for H. Partially - means that if hits the rule with drop/deny action that one line message is visible in section H. But even then  it produces only one message without complete information which rules were hit.

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)

 2. AuditLogs

modsec_audit.log example e

[2019-03-26 07:03] defanator commented on #2053
Looks like duplicate of #2000.

[2019-03-26 07:04] defanator commented on #2053
@molu8bits could you please try the PR from #2048?

[2019-03-26 08:41] jimant opened #2054 "Nginx libmodsecurity v3.0 JSON Log format don't show alert action description"
I want to set up and use json logformat. See the modsecurity.conf settings below.

SecAuditEngine RelevantOnly
SecAuditLogRelevantStatus "^(?:5|4(?!04))"
SecAuditLogParts ABIJDEFHZ
SecAuditLogFormat JSON
SecAuditLogType Concurrent
SecAuditLogStorageDir /var/log/modsec

However, the log file does not display an Alert Action Description such as "Message: Access denied with code 403 (phase 2)." And A

[2019-03-26 09:15] kjbmobile1 commented on #2054
Please remove me from your system as a new member and remove me from your email subscriber UNSCRIBE me

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: jimant <notifications@github.com>
Sent: Tuesday, March 26, 2019 1:41:18 AM
To: SpiderLabs/ModSecurity
Cc: Subscribed
Subject: [SpiderLabs/ModSecurity] Nginx libmodsecurity v3.0 JSON Log format don't show alert

[2019-03-26 10:43] molu8bits commented on #2053
I tried it already before raising the issue. PR #2048 adds a message when block action is given. But that doesn't solve the issue.

Please take a look at simplest case
Rule:
`SecRule REQUEST_FILENAME "/phpmyadmin" "id:20000,phase:1,pass,log,t:lowercase,t:normalisePath,msg:'Blocking access to %{MATCHED_VAR}.',tag:'Blacklist Rules'"`

The same url has been tested for Modsecurity2 and Modsecurity3:
`

[2019-03-28 03:46] ibeata opened #2055 "There is error with my rule not running even producing error with start nginx"
**Describe the bug**

myenv
- openresty 1.13.6.2
- Modsecruity-nginx 1.0.0

**Logs and dumps**
[code]

/var/local/share/patch_rules/dynamic.conf.
[code]

In other machine , I run it well , but now it not run; what reason is it .

[2019-03-28 03:57] ibeata commented on #2055
I have tried it many times and it can be loaded if the string without '\\', but the crs-rules can be run if ruletxt having '\'.

[2019-03-28 11:32] theMiddleBlue commented on #2055
Hi @ibeata

have you tried to avoid newline before the action? something like:

[code]

?

[2019-03-29 05:39] ibeata commented on #2055
Not useful too, it can be effect unless seting all line in one line.

[2019-03-29 05:40] ibeata commented on #2055
@theMiddleBlue Not useful too, it can be effect unless seting all line in one line.  this error pruduced when i   remove `iptables` in cenots7. and then i can't run many packages.

[2019-03-30 01:33] victorhora commented on #2051
Hi @Hello-Linux

This is known limitation and it's being tracked at https://github.com/SpiderLabs/ModSecurity-nginx/issues/76.

Please check the issue and follow up with your observations there.

Thanks!

[2019-03-30 01:33] #2051 closed, assigned to victorhora

[2019-03-30 01:44] kjbmobile1 commented on #2051
Stop tracking i am revoking your permission as of right now get out of my ass and my device now your rights have been revoke now do i need to report it to the proper uthorities

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Victor Hora <notifications@github.com>
Sent: Friday, March 29, 2019 6:33:58 PM
To: SpiderLabs/ModSecurity
Cc: Subscribed
Subject: Re: [

[2019-04-01 19:24] zimmerle commented on #2055
Hi @ibeata,

Can you share with us what is your ModSecurity version? I want to check the version of your libModsecurity.

[2019-04-03 10:01] B8033783 opened #2056 "Customer is unable to purchase an order from my site because mod_security is blocking it!"
Neither me or my customer is using mod security, my site is neopharmacies.com. She is getting the following message at checkout when using both pc and iphone on 2 different browsers:

"Not Acceptable!

An appropriate representation of the requested resource could not be found on this server. This error was generated by mod_security."

I have a screenshot but I can't attach it here, neither I can c

[2019-04-04 19:09] vkrivopalov opened #2061 "ModSec for Nginx leaks memory for HTTP/1.0 requests"
**Describe the bug**

We have observed a memory leak in ModSecurity for Nginx that happens in both detection-only and prevention modes for HTTP/1.0 requests. This leak reproduces with both v2.9.2 and 2.9.3

Steps to reproduce the behavior:
1) Create a simple payload file like this:
[code]

2) Run Apache Bench against your v2 gateway. Apache Bench uses HTTP/1.0:
[code]

3) Observe the memory consum

[2019-04-05 04:45] victorhora commented on #2056
Hi @B8033783,

I believe you might be facing a false positive with your current ruleset or your improper configuration of ModSecurity on your environment.

In order for the community to help you, you need to create an issue following the guidelines from our issue template available below providing as much information as possible from your environment:

https://github.com/SpiderLabs/ModSecurity/iss

[2019-04-05 04:45] #2056 closed, assigned to victorhora

[2019-04-05 04:56] victorhora commented on #2061
Hi @argenet,

ModSecurity 2.x for Nginx is no longer supported for a while since we introduced libModSecurity and the [Nginx connector](https://github.com/SpiderLabs/ModSecurity-nginx).

For instance you can see many of the issues present on 2.9.x with Nginx which were (or are) being addressed with the new architecture of libModSecurity + Nginx connector by looking at the "[**TBF by libmodsec**](h

[2019-04-05 04:56] #2061 closed, assigned to victorhora

[2019-04-06 15:53] Rufus125 opened #2062 "Add new operator @verifySVNR"
Adding a new operator that detects Austrian social security numbers.

Meaning and calculation:
https://de.wikipedia.org/wiki/Sozialversicherungsnummer#%C3%96sterreich
https://de.wikipedia.org/wiki/Sozialversicherungsnummer#Berechnung
Unfortunately, I could only find links in German.

I have already written the code and will open a PR.

[2019-04-09 02:48] ibeata commented on #2055
i have redeploy it and run ok. i will open it until it happens. so i would close it at now.

[2019-04-09 02:48] #2055 closed, assigned to victorhora

[2019-04-09 07:32] pakjiddat commented on #1941
I was able to fix the problem by copying the unicode.mapping file to /etc/nginx/modsec

[2019-04-09 16:16] franGimenez opened #2064 "Detection Mode in modse 2.9.0"
**Describe the bug**
I've configure the modsec 2.9 to run with an apache server.
The engine is set to Detection only, with a rule to test that behaviour

SecRuleEngine DetectionOnly
SecRule ARGS:testparam "@contains test" "id:'1234', phase:2, t:none, deny, status:403, msg:'Testing de DetectionOnly en WAF'"

For what I understad, that rule should appear in the audit log file, but dont do any disrup

[2019-04-09 16:41] franGimenez commented on #2064
Sorry for not deleting the generated text. First time posting here

[2019-04-09 17:54] franGimenez commented on #2064
I found the error. There was an error in the configuration of the virtual host

[2019-04-09 17:54] #2064 closed, assigned to nobody

[2019-04-10 12:07] tomsommer commented on #1471
Also a problem in 2.9.3

There is no way to bypass this check: https://github.com/SpiderLabs/ModSecurity/blob/b392a1ca36181a786a6d68b6eab57a8bb0bd558e/src/request_body_processor/multipart.cc#L1050

[2019-04-11 07:08] ghost opened #2065 "Hex encoding with wrong display"
**Describe the bug**

Hex encoding with wrong display:

   t:hexEncode: "ffffff91ffffffecffffffe6334bffffffebffffff87f...

in place of

   t:hexEncode: "91ece6334beb879a824a06c33b4cb4240e4c6f56"

I join patch in attachment.
[0001-fix-minor-Error-encoding-hexa-decimal.patch.txt](https://github.com/SpiderLabs/ModSecurity/files/3067352/0001-fix-minor-Error-encoding-hexa-decimal.patch.txt)

**To Repro

[2019-04-11 10:37] theMiddleBlue commented on #1960
Hi guys, any news on this? Is #2032 ok to be merged?

[2019-04-12 01:47] hbt19860104 commented on #1905
ok, thank you very much

[2019-04-12 03:44] xizeng opened #2066 "Audit log show response body using different logParts between oldAuditLog and JSON Format"
**Describe the bug**

If audit log using OldAuditLogFormat,  m_responseBody show in E LogParts:

    if (parts & audit_log::AuditLog::EAuditLogPart
        && m_responseBody.tellp() > 0) {
        std::string body = utils::string::toHexIfNeeded(m_responseBody.str());
        audit_log << "--" << trailer << "-" << "E--" << std::endl;
        if (body.size() > 0) {
            audit_log << body << s

[2019-04-12 19:58] victorhora commented on #2065
Hi @tech-ozon-io,

Thanks for your contribution! :)

Do you mind submitting it in the form of a Pull Request? That way it triggers our buildbots to test the patch and makes it easy to have your name under as one of the contributors of ModSecurity ;)

Thanks!

[2019-04-13 02:05] ghost commented on #2065
HI Victor,

unfortunately, I'm a little bit dumb. I don't understand the pull-request system.

I understood:

- I checked out the Modsec project,

- I write the patch in a new branch,

- I push the branch,

- I create the pull-request.

Git says me that I can't push new branch because I do not have right on the Modsec project.
I'm sure that something is wrong in this process, but I don't understan

[2019-04-13 10:14] EscherPenrose opened #2067 "Problem with message on EventLog"
Hello,

I'm using Mod Security 2.9.3 with IIS 10.
It works well but I can’t distinguish the impacted site in the message generated in the EventLog.

Here an example:
[client x.x.x.x] ModSecurity: Warning. detected XSS using libinjection. [file "C:\/Program Files/ModSecurity IIS/owasp_crs/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf"] [line "64"] [id "941100"] [rev "2"] [msg "XSS Attack Detected v

[2019-04-14 19:52] EscherPenrose commented on #2067
I found the solution
 In crs-setup.conf i change
SecDefaultAction "phase:1,log,auditlog,pass"
SecDefaultAction "phase:2,log,auditlog,pass"
by
SecDefaultAction "phase:1,log,auditlog,pass,tag:'VirtualHost: %{request_headers.host}'"
SecDefaultAction "phase:2,log,auditlog,pass,tag:'VirtualHost: %{request_headers.host}'"
And i obtain:
[client x.x.x.x] ModSecurity: Access denied with code 403 (phase 2).

[2019-04-14 19:52] #2067 closed, assigned to nobody

[2019-04-15 06:03] ghost commented on #2065
I found the way for pull request. that's done.

[2019-04-15 06:12] yashhere opened #2069 "Not able to access ModSecurity v3 reference manual"
<img width="1440" alt="Screenshot 2019-04-15 at 11 39 14 AM" src="https://user-images.githubusercontent.com/13733968/56110772-4ed57300-5f73-11e9-8e97-5d557b533c62.png">

Not sure, if this is the right place to post this issue. If this is not, please give proper directions, where I can get a fix.

[2019-04-15 14:59] victorhora commented on #2069
Hi @yashhere

Yes, we've been working on a major update for the reference manual specifically for 3.x, but that is not ready yet.

For now, please use the link to the v2 reference manual which also covers for v3.x version:

https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29

Thanks.

[2019-04-15 14:59] #2069 closed, assigned to victorhora

[2019-04-16 04:39] pkamlapuri opened #2070 "Modsecurity is not preventing the URL as per defined ruleset in modsecurity.conf Over IIS"
The issue is regarding for implementation of  ModSecurity (Version 2.8/2.9) over IIS 7.5 in Window server 2008 R2.  I have followed below mentioned 2 link and have tried to implemented it one of our test server using below 2 link:

https://admin-ahead.com/forum/server-security-hardening-21/installing-and-configuring-mod_security-on-windows-server/

https://jesscoburn.com/archives/2013/05/14/instal

[2019-04-17 00:47] zimmerle opened #2072 "How can we avoid ReDoS without trust on PCRE limits"
PCRE is one of the most popular regex libraries available out there. It is heavily used in ModSecurity although it may be optional on 3.1 where Hyperscan and RE2 are likely to be added to the soup as well.

ModSecurity assumes that the one who is written the rules are not an attacker, rather someone that is trying to protect the application. Unfortunately, some times, not-so-experienced users may

[2019-04-17 01:22] zimmerle commented on #2072
I would also like to mention that @s0md3v was the one that brought our eyes to this very problem. Thank you @s0md3v and @airween for open the pull request #2071.

[2019-04-17 03:43] s0md3v commented on #2072
There are two popular regex algorithms:

- NFA
- DFA

### Key Differences
#### Handling alternatives

Regex: `(b|c|m)at`
String: `cat`
- NFA favors first alternative. It starts with the first one and skips the other alternatives when a match is found and hence it will stop at `cat`. An ideal exploit string will have the last alternative to make sure the engine has to go through all the alternative

[2019-04-18 08:27] airween commented on #2072
Hi @zimmerle

thanks for reply here too :).

Do you think about for example check the regular expressions when ModSec starts, and notify user if there is a potential wrong syntax? Or what? Could you show some example?

[2019-04-18 15:06] pranavstark opened #2074 "Nginx gzip compression is not working with ModSecurity 2.9.4"
**Gzip Compression not working with Modsecurity 2.9.4**
Hi,
I am using Modsecurity v2.9.4  with Nginx v1.14.2. Ngnix is not picking up gzip compression settings. Can you confirm Modsecurity lateset version or v3.x is  working with Nginx correctly and gzip compression is also working?

[2019-04-20 07:35] ossie-git commented on #685
I recently ran into this issue on v2.9.3

I'm using rotatelogs.exe from here: https://www.apachehaus.com/cgi-bin/download.plx and the relavent part in my config file looks like this:

[code]

ModSecurity throws the following error in the Event Log where line 199 points to the SecAuditLog line shown above:

[code]

Any ideas?  Thanks.

[2019-04-21 20:17] ossie-git opened #2075 "rotatelogs.exe Not Working in IIS 10 with v2.9.3"
**Describe the bug**

I tried configuring and using rotatelogs.exe with v2.9.3 on IIS 10.  According to this issue - https://github.com/SpiderLabs/ModSecurity/issues/685, it should have worked

I'm using rotatelogs.exe from here: https://www.apachehaus.com/cgi-bin/download.plx and the relavent part in my config file is shown below

**Logs and dumps**

ModSecurity throws the following error in the

[2019-04-22 12:41] plamer commented on #1754
I'm having trouble with lmdb and enabling it so processes can communicate with one another. I've compiled modsecurity (3.0.3) with `--with-lmdb` - both with the package manager provided one (`v0.9.18-1`) and with manually compiled one - `v0.9.23`. But neither works - for example if I limit DOS tries to 5 in a minute (for testing) I can issue 10+ requests before getting denied. If I lower the worke

[2019-04-23 11:17] ghost opened #2076 "Parser issue"
**Describe the bug**

I'm rewriting my old OWASP ruleset for modsecurity 3.0.3. I encounter an error with one file. After searching the error for a time

**Logs and dumps**

See below

**To Reproduce**

Steps to reproduce the behavior:

This config file (called a.conf):

[code]

Returns the following error:

Modsecurity msc_rules_add_file("a.conf"): Rules error. File: a.conf. Line: 3. Column: 7. E

[2019-04-23 20:18] rkolias commented on #2052
I am using CSR v3.1.0 and experiencing this exact same issue. Perfectly valid json trips this rule. I see the label "workaround available" and v3.0.4. What is the workaround? Is This supposed to be fixed in v3.1.0?

[2019-04-23 22:16] victorhora commented on #2052
@rkolias This issue is pending analysis and fix as it's in the [pipeline of the 3.0.4 release](https://github.com/SpiderLabs/ModSecurity/milestone/13).

"Workaround available" in this case means that the issue is not a blocker. Temporarily disabling the rule denying due to errors with the body parsing (200002) or creating a custom exception for JSON should work.

[2019-04-23 22:29] victorhora commented on #1754
@plamer SDBM is the default collection backend. It means that if you don't specify other collection backends such as LMDB, SDBM will be used by default. See here the collections backends here:

https://github.com/SpiderLabs/ModSecurity/tree/v3/master/src/collection/backend

Please notice that LMDB support is still experimental, so I would advise trying to reproduce the same scenario without LMDB.

[2019-04-23 22:33] victorhora commented on #2076
Hi @tech-ozon-io,

Thanks for your detailed report. I think that this issue is already fixed in the current master branch ([3.0.4-pre](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/CHANGES#L1-L55)). Please let us know if the issue persists with a build from a clone from master.

Thanks.

[2019-04-23 22:36] victorhora commented on #2074
@pranavstark ModSecurity 2.x for Nginx is no longer supported for a while since we introduced libModSecurity and the [Nginx connector](https://github.com/SpiderLabs/ModSecurity-nginx).

For instance you can see many of the issues present on 2.9.x with Nginx which were (or are) being addressed with the new architecture of libModSecurity + Nginx connector by looking at the "[**TBF by libmodsec**](ht

[2019-04-23 22:36] #2074 closed, assigned to victorhora

[2019-04-23 22:39] victorhora commented on #2070
@pkamlapuri, please upgrade your version of ModSecurity. The latest available packaged version is 2.9.3: https://github.com/SpiderLabs/ModSecurity/releases/tag/v2.9.3

If your issue persists after upgrading, let us know and we can investigate further.

[2019-04-23 22:39] #2070 closed, assigned to victorhora

[2019-04-23 22:43] victorhora commented on #2075
@ossie-git There's a chance that your issue is related with permissions. Some newest versions of Windows are quite unsigned binaries writing data to some folders.

You can try testing by setting RWX permissions to Everyone and see if the issue persists. If it does, please also provide [ModSecurity debug logs](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecDebugLog) t

[2019-04-23 22:45] victorhora commented on #1471
Reopening for further investigation. Thanks for the report @tomsommer.

[2019-04-24 00:01] ossie-git commented on #2075
Hi @victorhora.  I set Everyone permission RX to rotatelogs.exe and Everyone permission to RWX to the directory c:\inetpub\logs and still get the same error.  I enabled the Debug Log to Log Level 9 but it doesn't write anything to the debug log.  I know debug logging works fine because when my configuration doesn't have rotatelogs, it writes to the debug log

[2019-04-24 02:54] ossie-git commented on #2075
Here is the output of related commands:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2019-04-25 09:19] meigea opened #2077 "RESPONSE_STATUS not effect well"
**Describe the bug**

I have set my rule like this but not run . and it stayed in ppending not returned the error403page.

it always pending and not returend , how can i solve it to make the response_status like 5xx all returned 403page.

[code]
A clear and concise description of what the bug is.

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
 2. AuditLogs
 3. Error logs
 4. If there is a

[2019-04-25 09:43] meigea commented on #2077
i have tried it in phaser:4/5 and also that.
[code]
can i set some ctl:skip to solve it ?  if can , how can i solve.

[2019-04-25 11:29] swamisvr commented on #1661
hello ,

I need to disable the modssecurity V3 on single domain

[2019-04-25 17:19] victorhora commented on #2077
Hi @meigea

I believe your problem is probably on this line from your debug logs:

[code]

For some reason the Content-Type header of your response is empty.

Make sure your webserver is returning a valid Content-Type that matches your [SecResponseBodyMimeType](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecResponseBodyMimeType) configuration (see [modsecurity.conf-r

[2019-04-25 17:19] #2077 closed, assigned to victorhora

[2019-04-25 21:50] GustavoKatel opened #2078 "Incomplete type declaration for `KeyExclusions` [pymodsecurity]"
**Describe the bug**

Hello, guys! Nice work on version 3.0.3. We have been working towards compatibility. We have an initial support, but we noticed that `KeyExclusions` declared in `src/variables/variable.h` is not published in the final/installed headers for version 3.0.3. I couldn't find a way to handle this in pybind without the complete declaration, therefore we're having compiling issues wi

[2019-04-26 00:55] meigea commented on #2077
@victorhora thank you very much . i really worked.

[2019-04-26 11:23] NizarBlond commented on #1641
I cannot find this branch.

I still face the issue. I have 98 sites hosted on my server (most of the content is CDN + static). Turning on modsecurity will make nginx reach 100% CPU.

root      2649  0.0 45.8 1949448 1825280 ?     Ss   11:07   0:00 nginx: master process /usr/sbin/nginx
nginx     2650  0.0 45.9 1950956 1827908 ?     S    11:07   0:00 nginx: worker process
nginx     2653  0.0 45.9 19

[2019-04-26 21:28] davewichers commented on #1779
It appears that YAJL is still used in ModSecurity v3, since this exists: https://github.com/SpiderLabs/ModSecurity/blob/v3/master/build/yajl.m4

Are there any plans to eliminate the use of YAJL in ModSecurity since its not available on RHEL/Centos?

Or, is the modsecurity v3 library built in such a way that if simply install YAJL ourselves on our Centos instance, it will start using it? (i.e., we

[2019-04-27 13:46] xjjy1083 opened #2079 "A thread deadlock occurred when writing to SecAuditLog"
**A thread deadlock occurred  when writing to SecAuditLog**

`220 bool SharedFiles::write(const std::string& fileName,
221     const std::string &msg, std::string *error) {

222     std::pair<msc_file_handler *, FILE *> a;
223     std::string lmsg = msg;
224     size_t wrote;
225     bool ret = true;
226
227     a = find_handler(fileName);
228     if (a.first == NULL) {
229         error->assign("

[2019-04-27 13:48] xjjy1083 commented on #2079
@zimmerle @victorhora

[2019-04-29 04:13] pkamlapuri commented on #2070
Hi,

I have tried with 2.9.3 version too, same error persist. Please help if  anyone has idea or faced this issue.,
But why this issue is marked as closed.

[2019-04-29 10:06] meigea opened #2080 "How can test SecResponseBodyMimeType Really effect with ResponseBody Check"
**Describe the bug**

How can i test it really run as ConetentType sets {text/plain text/html text/xml} then passed the ResponseBodyCheck . So there is no audit log produced.

[code]
I have tried it like this

**what i set in nginx**
[code]
**what i set in modsecurity rule**
[code]

But sometimes it not check RESPONSE_BODY in phaser4
[code]

[2019-04-30 01:03] meigea commented on #2080
I have trid it again. it seems that send a request to server two times when it `Running (disruptive) `. but there is no any log in modsec_audit.log that's what i really care, then how can i get the reject page and get the audit log. currently it returned 500 and not log to local audit log file.

[code]

**Important: it get 500 reponse_status with Empty Reply .**
[code]
**debug.txt**
[code]

[2019-04-30 07:43] meigea commented on #1883
@victorhora Is there other setting to replace `SecContentInjection` that can produced token with every phaser.

[2019-05-04 16:29] victorhora commented on #2079
Hi @xjjy1083,

Thanks for your report. Can you please provide more specific details on the ModSecurity version that this is happening? Does this behaviour also happens on the latest code from master?

Based on the output of the function names of your debugging session I believe you are talking about v3, but it help us a lot if you can tell us in detail and preferably follow the guidelines of the i

[2019-05-04 16:36] victorhora commented on #2080
Hi @meigea,

Thanks for your report. Can you please provide more specific details on the ModSecurity version that this is happening? Does this behaviour also happens on the latest code from master?

It help us a lot if you can tell us in detail and preferably follow the guidelines of the issue report template: https://github.com/SpiderLabs/ModSecurity/issues/new?template=bug-report-for-version-3-x

[2019-05-05 06:00] xx-zhang commented on #2080
@victorhora
**env*
- centos7 + openresty1.13.5 modsecurity-v3/master + crs3.0.2

[2019-05-05 06:01] meigea commented on #2080
@victorhora centos7 + openresty1.13.5 + modsecurity-v3/master + crs3.0.2

[2019-05-06 09:28] Hello-Linux commented on #2051
thank you

[2019-05-06 10:56] Hello-Linux opened #2081 "The client is not blocked for 600 seconds for cc attack"
**Describe the bug**
When a client is making more than 60 requests (excluding static files) within
5 seconds, this is considered a 'burst'. After two bursts, the client is
not blocked for 600 seconds

my config is:
SecAction \
 "id:900700,\
  phase:1,\
  nolog,\
  pass,\
  t:none,\
  setvar:'tx.dos_burst_time_slice=5',\
  setvar:'tx.dos_counter_threshold=60',\
  setvar:'tx.dos_block_timeout=600'"

[2019-05-06 17:46] jdornan opened #2082 "Windows Server 2016 / IIS Cannot Disable for site"
I have installed version 2.9.3 using the ModSecurityIIS_2.9.3-64b.msi.  My web server has multiple sites configured in IIS.  ModSecurity is working but I'm unable to disable it for a specific site in the sites web.config file.  I have tried adding the items below to the system.webServer section but neither seems to disable ModSecurity.

remove name="ModSecurityIIS"

ModSecurity enabled="false"

[2019-05-07 00:42] #2080 closed, assigned to victorhora

[2019-05-07 06:58] Hello-Linux commented on #1803
The document you provided really works. But if I change the browser I'll have normal access the web server So I think this disabling policy is only for the combination of the browser and the IP address and not for the IP address alone  I feel the authorities should fix this problem or adopt your document @theseion

[2019-05-07 07:15] theseion commented on #1803
Good to hear that, thanks.
As for switching browsers: that shouldn't make a difference. AFAICT, only the IP is considered for the blocking logic. Are you sure that you don't have a proxy configured in one of those browsers?

[2019-05-07 14:11] plamer commented on #1754
@victorhora I did compile libmodsecurity without `--with-lmdb flag`, but the result is the same:

[code]
I'm using v3 from master (cloned and compiled today):

libmodsecurity compiled with:

`./configure --with-yajl=/opt/lloyd-yajl-66cb08c/build/yajl-2.1.0/ --with-curl=/opt/curl/`

nginx compiled with:

`./configure --add-module=/opt/ModSecurity-nginx --with-pcre=/opt/pcre-8.43 --with-http_geoip_m

[2019-05-07 21:13] tomsommer opened #2083 "SecRuleRemoveByTag regex wildcard"
`SecRuleRemoveByTag` is apparently a wildcard, so `SecRuleRemoveByTag WEB` by default removes any tags with `WEB*`

This is not well documented nor perhaps intended?

It makes it hard to remove isolated tags, for instance if your tags are called `foo` and `foo-bar` and you do `SecRuleRemoveByTag foo`, even `foo-bar` tags are removed

[2019-05-07 23:45] victorhora commented on #2083
Hi @tomsommer

Thanks for reporting. Can you please let us know if this behaviour happens both in v2 and v3?

It would be great if you could follow the issue template (eg. https://github.com/SpiderLabs/ModSecurity/issues/new?template=bug-report-for-version-2-x.md).

[2019-05-07 23:48] victorhora commented on #2081
Hi @Hello-Linux

Isn't your issue the same as the one already being tracked at #1803 ?

[2019-05-08 06:34] tomsommer commented on #2083
modsecurity-2.9.3
httpd-2.4.39
Linux 2.6.32-954.3.5.lve1.4.63.el6.x86_64

SecRuleRemoveByTag actions are not logged in debugLog, I checked

[2019-05-08 06:47] Ezizeay opened #2084 "Neither audit.log nor debug.log"
Dear

 Modsecurity does not record any log information.
1) Is it because of "nolog" as below?
 [root@server modsecurity.d]# cat modsecurity.conf
<img width="339" alt="Capture" src="https://user-images.githubusercontent.com/49372377/57355071-7df39480-716d-11e9-967a-e92b9becac72.PNG">

2)  by the way, following two config files contain information as follows.
 [root@server modsecurity.d]#cat  httpd.

[2019-05-08 14:59] absike015 commented on #1441
Hello evryone can anyone help here i can t find the /etc/modsecurity/ after i installed the modsecurity package !!!!!

[2019-05-09 10:04] xx-zhang opened #2085 "RESPONSE_BODY rewrite and returned Empty Content"
**Describe the bug**

I have trid it like this in my nginx and modsecrule, it do reject the response_body. but not produce the audit log， and also returned the empty response.

- nginx.conf
[code]

- my sec rule
[code]

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
[code]
 2. AuditLogs
[code]

 3. nginx Error logs
[code]

[2019-05-09 15:25] stevendore opened #2086 "Segfault with PCRE"
**Describe the bug**

A segmentation fault happens within `pcre_exec()`.

**Logs and dumps**

Output of:
backtrace of segfault:

[code]

**Expected behavior**

To not segfault.

**Rule Set (please complete the following information):**

modsecurity.conf, owasp.conf and the entire owasp rule set.

**Additional context**

Using libmodsecurity from CenOS 7 `libmodsecurity.so.3.0.2`.

[2019-05-09 15:26] stevendore commented on #2086
Would this be fixed by raising/lowering `SecPcreMatchLimit` or `SecPcreMatchLimit`?

[2019-05-09 20:53] stevendore commented on #2086
I increased the thead pool stack size and the error went away.

[2019-05-09 20:53] #2086 closed, assigned to nobody

[2019-05-10 09:16] theMiddleBlue opened #2087 "inspect REQUEST_BODY when XML Processor is on"
Hi all,

we're trying to define few rules in order to start handling XXE payloads. The problem (as you can see here https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/1320#issuecomment-491217557) is that when the request comes with a Content-Type that match the rule `200000`, and the body processor is set to XML, we can't access the REQUEST_BODY and we can't also copy it elsewhere (something

[2019-05-10 21:05] victorhora commented on #2084
There's many possibilities. Check your apache error_log to see if you spot any error message. Also ensure that your log files (e.g. [SecAuditLog](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecAuditLog)) have the proper permissions your file system for Apache/ModSecurity to write on them.

Also, by default the audit log messages are not generated for harmless request

[2019-05-10 21:05] #2084 closed, assigned to victorhora

[2019-05-10 21:08] victorhora commented on #2085
Make sure you have [SecResponseBodyAccess](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecResponseBodyAccess) enabled and that the [SecResponseBodyMimeType](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecResponseBodyMimeType) is set correctly.

Also make sure you are running a recent version of the Nginx connector as well.

[2019-05-10 21:08] #2085 closed, assigned to victorhora

[2019-05-11 09:29] xjjy1083 opened #2088 "SecRuleUpdateActionById can not update "status""
**Describe the bug**

A clear and concise description of what the bug is.

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
 2. AuditLogs
 3. Error logs
 4. If there is a crash, the core dump file.

_Notice:_ Be carefully to not leak any confidential information.

**To Reproduce**

Steps to reproduce the behavior:

A **curl** command line that mimics the original request and reproduces the p

[2019-05-13 08:30] theMiddleBlue opened #2089 "Support for sanitise/sanitize args, headers, etc... in v3"
Hi,

is there a plan on when "sanitize actions" will be implemented in v3?

- sanitiseArg
- sanitiseMatched
- sanitiseMatchedBytes
- sanitiseRequestHeader
- sanitiseResponseHeader

thanks!

[2019-05-13 12:11] Vaibhavgoe opened #2090 "Regarding Custom rules in Modsecuirty - whitelisting parameters"
We are trying to whitelist the pasword parameter in our application .  below rule is not working
SecRule ARGS_NAMES "password" "id:2,phase:2,log,allow,ctl:ruleEngine=Off"

can anyone please suggest, how to achieve the same.

[2019-05-13 18:16] csanders-git commented on #2090
That will work, it is likely the location of that rule that is the problem - This rule should be placed BEFORE rules you want it to effect. ALSO, and maybe more important. be very precise if your going to use the default regex operator. i.e ^passworod$, i'd recommend using @streq instead (https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#streq)

For more examples check out htt

[2019-05-14 22:16] victorhora commented on #2090
Closing this one based @csanders-git comment. Thanks.

[2019-05-14 22:16] #2090 closed, assigned to victorhora

[2019-05-14 22:18] victorhora commented on #2088
@xjjy1083 can you please fill in the template from your issue with the required information (ModSecurity and webserver version etc...)?

Thanks.

[2019-05-14 23:17] rainerjung opened #2091 "ProcessPartial can truncate request bodies in combination with mod_proxy_ajp and mod_wl"
Version: 2.9.3

Symptom: when uploading files to a backend using mod_proxy_ajp or mod_wl, the request body (file contents) can get truncated. The problem is reproducible when using

SecRuleEngine DetectionOnly
SecRequestBodyAccess On
SecRequestBodyLimitAction ProcessPartial

and setting SecRequestBodyNoFilesLimit, SecRequestBodyLimit and SecRequestBodyInMemoryLimit to a value smaller than the file

[2019-05-14 23:42] rainerjung opened #2093 "Don't run request body completion checks when ProcessPartial and the input filter has't seen all of the body"
Version: 2.9.3

Only run completion checks for request bodies, if we have
actually seen all of the body. In case ProcessPartial is configured
and our input filter only processed part of the request body, checking
for a complete request body makes no sense.

I will provide a pull request.

[2019-05-15 08:24] Vaibhavgoe commented on #2090
Thanks a lot....it is working

[2019-05-15 13:01] dune73 commented on #2093
Thank you Rainer.

[2019-05-16 15:57] Ezizeay opened #2096 "does not record any log in apache"
Dear

Modsecurity simply not working.

1) If following permision is problematic, what is right set of permission please?
![permission](https://user-images.githubusercontent.com/49372377/57868372-2905ed00-7803-11e9-9236-05f5e93c3263.PNG)

2) SecAuditLog looks OK.
![logs](https://user-images.githubusercontent.com/49372377/57868354-20151b80-7803-11e9-8e05-de68ba1f1e72.PNG)

3) Apache error log did no

[2019-05-16 18:57] victorhora commented on #2089
Hi @theMiddleBlue,

Yes, the sanitize actions are currently **planned** to be implemented as part of 3.0.4 and we already have an issue to track these here at https://github.com/SpiderLabs/ModSecurity/issues/1898. Please add your comments/concerns to that issue.

You can see all the issues/improvements tagged for 3.0.4/2.9.4 by checking the milestones:

https://github.com/SpiderLabs/ModSecurity/mi

[2019-05-16 18:57] #2089 closed, assigned to victorhora

[2019-05-16 19:10] victorhora commented on #2096
Hi @Ezizeay

You should set your permissions according to your environment. If you run Apache as root those permissions should be fine for Apache to write to the log files. If you don't you need to change your permissions to allow the user that runs Apache to write on these files.

Your Apache error log seems to be configured in a verbose or debug mode. All those messages doesn't seem closely rela

[2019-05-16 19:10] #2096 closed, assigned to victorhora

[2019-05-17 09:55] tomsommer commented on #2093
Relates to https://github.com/SpiderLabs/ModSecurity/issues/1600 https://github.com/SpiderLabs/ModSecurity/issues/1471

[2019-05-20 08:42] LocalHeroPro opened #2098 "mod security is blocking Mattermost"
**Describe the bug**
When I set **SecRuleEngine** to **On** and reload **Apache** I can't use **Mattermost**.
It's false positive?

**Logs and dumps**
[20/May/2019:08:19:22 +0000] [chat.example.com/sid#7f56afd36cc0][rid#7f56b7d210a0][/api/v4/users/iodhzwdcffyf8madecttob4jre/preferences][1] Access denied with code 403 (phase 2). Operator GE matched 5 at TX:anomaly_score. [file "/etc/modsecurity/rul

[2019-05-20 14:47] theMiddleBlue opened #2099 "CRS and v3 incompatibility due to ruleRemoveByTag"
Hi all,

it seems that we've a compatibility problem with CRS and v3 due to missing `ctl:ruleRemoveTargetByTag` and `ctl:ruleRemoveByTag`. Can you confirm the following two issues?

- https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1418
- https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1419

If yes, is there a plan on when they will be implemented on v3?

thank you!

[2019-05-20 15:54] theMiddleBlue commented on #2099
<del>additional bit: it seems that `ctl:ruleRemoveById` works only if the first argument is an id and not a range, example:</del>

- <del>`ctl:ruleRemoveById=1234` work</del>
- <del>`ctl:ruleRemoveById=900000-999999` doesn't work (used in some CRS exclusion rule files)</del>

thanks.

[2019-05-20 17:35] ghost opened #2100 "Deocdage of UTF8 with utf8toUnicode() => urlDecodeUni() is wrong"
Hi,

**Describe the bug**

I have an issue with urlDecodeUni(). It seems that this function does
corruption on decoded strings. I detect the problem with a Russian
POST (luckyly it was crap).

I receive this url-encoded string:

[code]

Once decoded, this string is UTF8 Russian message. Modsec/OWASP rules
decodes with the function utf8toUnicode(), it seems that this function
decodes UTF8 and encod

[2019-05-21 13:47] theseion commented on #1845
I don't understand the rational behind this change. It is now no longer possible to determine the type of threat for which an IP was listed, which means I can only use `@rbl` to block unconditionally. The CRS rules make a nice distinction between the different categories and I really don't want to block search IP's for example.

A fix would be trivial in my opinion: simply put the fake encoding IP

[2019-05-22 16:21] markblackman opened #2101 "mod_security causes CGI scripts to timeout"
**Describe the bug**

After enabling mod_security in our Apache 2.4 configuration, more and more, but not all, CGI scripts will timeout and not usually immediately after restart but after a few minutes. As soon as mod_security is disabled, the issue goes away and all CGI scripts behave normally.

**Logs and dumps**

There are no mod_security logs, only Apache error logs like so....

[Wed May 22 12

[2019-05-22 16:24] markblackman commented on #2093
Also relates to #1827

[2019-05-22 20:45] theMiddleBlue commented on #2099
all problems seems to be related just to `ctl:ruleRemoveTargetByTag` and `ctl:ruleRemoveByTag` (thanks @airween). I'm trying to understand why some of my exclusion rules that use ranges in `ctl:ruleRemoveById` doesn't work as expected on v3.

[2019-05-23 13:05] airween commented on #2099
Okay, the ruleRemoveById issue had been cleared :).

Here is a possible solution for ruleRemoveByTag:
https://github.com/airween/ModSecurity/tree/v3/issue2099
https://github.com/SpiderLabs/ModSecurity/compare/v3/master...airween:v3/issue2099

Please check that if works as well or you found any other problem (only with ruleRemoveByTag ctl action).

I'll continue with the ruleRemoveTargetByTag inves

[2019-05-23 15:52] theMiddleBlue commented on #2099
Thank you @airween

after testing your patch it seems that all works like a charm! Maybe I've tested `ctl: ruleRemoveTargetByTag` with a buggy rule because it works too!

thank you so much for your support, as always!

[2019-05-23 18:47] airween commented on #2099
PR sent: https://github.com/SpiderLabs/ModSecurity/pull/2102

[2019-05-23 22:47] victorhora commented on #2098
Hi @LocalHeroPro,

Yes, it's a false positive. But according to your issue description, it's probably a FP with the CRS and you probably need to tune your rules and/or create exceptions for your environment.

The [CRS docs](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/INSTALL) may help you, but if you still have issues I would suggest checking with the [CRS community](https://

[2019-05-23 22:47] #2098 closed, assigned to victorhora

[2019-05-23 22:54] victorhora commented on #2101
@markblackman, I'm wondering if any other Apache module is interfering? Do you have any other module enabled other than mod_cgi and mod_security? It could be great if you could test with a very minimal Apache configuration and a minimal set of modules to exclude the possibility of some other module interfering...

[2019-05-23 23:06] victorhora commented on #2100
Hi @tech-ozon-io, I believe you could be hitting a known issue such as this one: https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/794#issuecomment-307599677

In most cases, this can be solved by correctly setting the UnicodeMapping codepage through the [SecUnicodeCodePage](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecUnicodeCodePage).

[2019-05-24 08:05] markblackman commented on #2101
@victorhora Hi, we certainly have a large number of modules, however, the behaviour we see is very binary.  When we enable mod_security, our CGI scripts start failing, although not immediately, and when we disable mod_security, our CGI scripts start working again. This is a very repeatable and reproducible pattern and we have seen it many times in the last year.   Unfortunately, what we cannot do

[2019-05-26 16:52] dvdknaap commented on #1941
copying the unicode.mapping doesn't work for me so i have to disable it :(

[2019-05-27 16:34] zimmerle commented on #2099
Hi @theMiddleBlue,

The issue within **ctl:ruleRemoveByTag** is indeed confirmed. There was a missing check on the rules execution loop. @airween provided a pull request on #2102, which is under revision; Waiting for @airween appreciation.

Did not managed yet to reproduce the issue within **ctl:ruleRemoveTargetByTag**. Do you mind to clarify the version of ModSecurity that you have been spotted t

[2019-05-27 16:59] zimmerle commented on #2093
All these three issues seem to be a consequence of ModSecurity been holding the filter data whenever the limit threshold is reached. However, in this very issue @rainerjung is not treating this specific problem. He did treat on #2092, therefore I am making a comment there mention the relation with the listed issues.

[2019-05-27 17:24] zimmerle commented on #2093
Hi @rainerjung,

Thank you for your patch.

I do have some concerns that, if you don't mind, I would like to discuss and understand your point of view.

**SecRequestBodyLimitAction** can assume two different values: _Reject_ and _ProcessPartial_. When it is marked to _Reject_ I understand that we may not need to inspect the request body contents. However, in the case of _ProcessPartial_ we need to

[2019-05-27 18:02] zimmerle commented on #2091
Fixed at #2092.

[2019-05-27 18:02] #2091 closed, assigned to victorhora

[2019-05-27 18:03] zimmerle commented on #1600
Fixed at #2092.

[2019-05-27 18:03] #1600 closed

[2019-05-27 18:03] zimmerle commented on #1827
Fixed at #2092.

[2019-05-27 18:03] #1827 closed, assigned to zimmerle

[2019-05-28 10:07] theMiddleBlue commented on #2099
Hi @zimmerle

thanks for taking the time to evaluate this problem. After doing some test with @airween, it turns out that `ctl:ruleRemoveTargetByTag` is working as expected. Maybe I've wrong something during my tests, sorry.

[2019-05-28 10:12] airween commented on #2099
@theMiddleBlue - thanks for summary. Could you clarify that you're using version 3.0 of ModSecurity?

[2019-05-28 14:06] theMiddleBlue commented on #2099
Yes, sorry: `ModSecurity - v3.0.3-62-gd292a852 for Linux`

[2019-05-29 09:46] j0k2r commented on #1872
Hi,

Same problem here with the version 3.0.3.

The rule is ignored when i set the full request cookie name:
[code]

But it still triggered when using the regex:

[code]

[2019-05-29 10:44] sblondon opened #2104 "Minor spellcheck in wiki ('sigle')"
In https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29 an 'n' character is lacking:
`deleting all sigle quotes` -> `deleting all single quotes`

I don't send a PR because I didn't find a way to fork the wiki.

[2019-05-29 13:14] SheldonLaw commented on #442
I got almost the same problem when I upload an big image （32KB）.

[code]

But the solution list below don't work for me.

[2019-05-30 12:28] ghost commented on #2100
Thanks Victor, I'll check this !

[2019-05-30 13:33] zimmerle commented on #2099
Thank you @theMiddleBlue and @airween. #2102 was merged therefore this issue can be considered closed. Let me know if you face any further issue.

We don't have an ETA for the release yet. Likely this became 3.1 due to the lack of resources to make two different releases.

[2019-05-30 13:33] #2099 closed, assigned to zimmerle, victorhora

[2019-05-30 14:15] zimmerle commented on #1872
Hi @j0k2r and @anush-cr,

Thank you for the report. This issue is currently under investigation.

I am also looking at the behavior of SecRuleUpdateTargetByTag which does not seems to be working as expected either.

[2019-05-31 14:53] zimmerle commented on #1872
Thank you for the report the issue is closed as of: 1b8d69da02419664af719f628bf7d0a6cb13daaf

[2019-05-31 14:53] #1872 closed, assigned to zimmerle, victorhora

[2019-05-31 15:37] jtaczanowski opened #2105 "problem with rules which I want ONLY to log (in auditlog)"
Hi :)

I have problem with rules which I want ONLY to LOG (in auditlog).
For example - I just want to only log the following rule. Unfortunetely I can't see any entries in auditlog about this rule.
`SecRule REQUEST_HEADERS:X-Test "@streq 1" "phase:1,pass,log,auditlog,id:5,msg:'X-Test1'"`

Debug log from this action:
[code]

When the same rule is blocking (deny), I can see entries in auditlog
`SecR

[2019-05-31 19:48] zimmerle commented on #2093
@rainerjung: Waiting for your considerations here.

@tomsommer && @markblackman: in case you are interested, you are invited to discuss as well.

@dune73: it seems that you have agreed with @rainerjung's original idea, what is your opinion considering my comments?

[2019-05-31 19:57] markblackman commented on #2093
In my case I don't currently have the requirement to validate a full request body even in the processpartial case, so I am content with the implicit ignore, but I can imagine others will not be. You could also just print a warning to that effect ("ProcessPartial limit exceeded, validation not done") in the logs.

We are already using Rainer's patch to very positive effect and these will go into pr

[2019-05-31 20:57] rainerjung commented on #2093
What the patch adds is checking msr->if_seen_eos to decide, whether a failed completion check should be escalated. If !msr->if_seen_eos, the mod:security has not seen all othe the request body. This will be due to ProcessPartial and a request body size that is bigger than the configured limits. In that case, mod_security only buffers a part of the request and lets the remaining bytes through unche

[2019-06-01 10:14] marduone opened #2106 "Missing throw in Operator::instantiate?"
Building ModSecurity 3.0.3 package (openSUSE Tumbleweed, GCC 9) produced the following compiler warning which the build system flagged as an error:
[code]

Looking at the code in question, it seems that the warning is caused by a missing throw keyword right at the end of the function, where I suppose you want to throw an invalid argument exception if none of operator checks match.

The following p

[2019-06-01 13:02] kulitkerang opened #2108 "Error Compile nginx 1.13.4+modsecurity"
my folder :
- cd /usr/src/nginx-1.13.4
- and i try #./configure --user=www-data --group=www-data --add-module=/usr/src/ModSecurity/nginx/modsecurity --with-http_ssl_module --with-http_v2_module
- and next i try make

this error i see is :
cc: error: /usr/src/ModSecurity/nginx/modsecurity/../../standalone/.libs/standalone.a: No such file or directory
objs/Makefile:253: recipe for target 'objs/nginx

[2019-06-01 13:31] tomsommer commented on #2093
Perhaps a `SecRequestBodyLimitAction SkipProcessing` to solve this?

[2019-06-01 16:57] kulitkerang commented on #805
i have same trouble at it

[2019-06-02 04:42] dune73 commented on #2093
@zimmerle: I do not have a qualified opinion here.

[2019-06-02 09:37] joppino commented on #1135
It depends on how you declare the module: use
**AP_DECLARE_MODULE(use_your_module_name_here) = {**
  STANDARD20_MODULE_STUFF,
  NULL, /\* Per-directory configuration handler \*/
  NULL,  /\* Merge handler for per-directory configurations \*/
  xxxxxx, /\* Per-server configuration handler \*/
  NULL,  /\* Merge handler for per-server configurations \*/
 yyyyyy, /\* Configure parameter \*/
 zzzzzz,

[2019-06-03 11:53] aspyct commented on #804
This fixed the issue for me, on Debian Buster (inside docker):

[code]

[2019-06-03 13:46] theMiddleBlue opened #2109 "v3/master: ruleRemoveTargetByTag works only on exact string match"
Hi,

referring to https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1444 opened by @j0k2r it seems that in the v3/master there's a bug on `ruleRemoveTargetByTag`. It removes the target only if the specified tag matches exactly a rule tag. In v2 it removes the target even if the specified tag is contained in a tag string of a rule.

example:

**test rules**:
[code]

**test request**:
[code

[2019-06-03 15:31] theMiddleBlue commented on #2109
thanks to @airween we've started to investigate more, we've got a regression test:

**Regression test:**
[code]

**Executing test:**
[code]

[2019-06-03 20:52] zimmerle commented on #2109
Thank you, @theMiddleBlue.  That was o great catch!

In your regression test, you may want to narrow down to the resources to precisely what you want to test. For instance, there is no need to have ```SecRequestBodyAccess On``` nor ```pass, log,msg:'arg foo contains bar'``` as the test is just looking for the http return code. The main reason for that is to make it simple to read (and further to i

[2019-06-03 23:48] zimmerle commented on #1960
Hi,

This issue has been discussed on Slack channel a while ago, back on February 25th. Part of the conversation is here: https://gist.github.com/zimmerle/0b12878f563c023a4d2b93837fd4c774 [Full conversation is available on Slack]

One thing that I was explaining is that ModSecurity has different state machines, one particular machine state dictates the **SecEngineState**. Transactions between the

[2019-06-03 23:48] #1960 closed, assigned to zimmerle, victorhora

[2019-06-04 08:23] theMiddleBlue commented on #2109
thanks @zimmerle!

in the meantime we're replacing each `ctl:ruleRemoveTargetByTag=CRS` with `ctl:ruleRemoveTargetById=910000-999999` on CRS in order to include it in the upcoming 3.1.1

[2019-06-04 09:47] theMiddleBlue opened #2110 "v3/master: ruleRemoveTargetById doesn't work with range id"
Hi,

it seems that a "range id" can't be used on `ctl:ruleRemoveTargetById=<range>;ARGS:foo`, it works only by using a specific rule id.

**regression test**
[code]

**executing test**
[code]

I can't find the relative documentation, but in v2 it works as expected.

Thanks!

[2019-06-04 10:06] theMiddleBlue opened #2111 "v3/master: ctl:ruleRemoveById invalid range"
Hi,

the secrule parser give me an error when the first argument of `ctl:ruleRemoveById` is a valid range:

- `ctl:ruleRemoveById:101-1999` -> OK
- `ctl:ruleRemoveById:200-1999` -> parse failed *Invalid range: 200-1999*

**regression test**
[code]

**executing test**
[code]

[2019-06-04 10:16] ledzepp4eva opened #2112 "500 internal server error instead of 403"
**Describe the bug**

When a particular modsecurity rule is matched we receive a 500 error response instead of a 403.

**Logs and dumps**

Output of:
 1.
[code]
Note: I have changed the website to example.net, so if you see the word example this was originally the websites name. I have also changed the upstream IP to 8.8.8.8 and the listen IP to 1.1.1.1

 3. Error logs
[code]
Note: I have changed

[2019-06-04 10:51] airween commented on #2111
PR sent #2113

[2019-06-04 11:43] airween commented on #1960
Something is wrong with the attached test case at Travis CI, eg:
https://travis-ci.org/SpiderLabs/ModSecurity/jobs/541176491#L2048

But can reproduce it as locally too.

[2019-06-04 12:23] zimmerle commented on #2109
Hi @theMiddleBlue,

In fact, the match for a tag in v2 is a regular expression by default, that is why it matches partially a string.
When implemented on v3 we made it a string comparison; due to performance reasons, and, because there may not be a reasonable reason for it to be a regex.

Allow me to explain, instead of matches partially the tag we can simply split the data into multiple tags. Let

[2019-06-04 12:45] zimmerle commented on #2112
Hi @ledzepp4eva,

Thank you for detailed your report. The reason for that is the fact that when this rule was trigged, the response headers were already delivered to the client. The user likely got the original HTTP response code, and later _nginx_ finalized the request with a 500, whenever ModSecurity rule matched.

This problem is not actually related to libModSecurity but to the _nginx_ connect

[2019-06-04 12:45] #2112 closed, assigned to nobody

[2019-06-04 12:47] zimmerle commented on #2108
Hi @kulitkerang,

Make sure you have followed the compilation recipes stated here:
https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes-for-v3.x

[2019-06-04 12:47] #2108 closed, assigned to zimmerle

[2019-06-04 13:08] zimmerle commented on #2104
Fixed! Thank you @sblondon!

[2019-06-04 13:08] #2104 closed, assigned to zimmerle

[2019-06-04 13:33] #2111 closed, assigned to zimmerle

[2019-06-04 13:33] zimmerle commented on #2111
Fixed as of cbd15ec1382f7e2c3e19a93ea9ca3e8b4ced44f6