[2021-01-18 16:28] #2087 closed, assigned to victorhora

[2021-01-18 16:38] zimmerle commented on #2501
Best thing to do in those cases is to use the **DebugLogs** to understand what is going on. I would do:

   - Reduce the number of nginx workers to 1 - https://nginx.org/en/docs/ngx_core_module.html#worker_processes
   - Enable the DebugLogs on ModSecurity -
[code]

Once it notice it is working in the way you expect, try to increase the _work_numbers_ to the default value. The multiple workers wil

[2021-01-18 16:40] zimmerle commented on #1546
no longer an issue in v3.1-experimental.

[2021-01-18 16:40] #1546 closed

[2021-01-18 16:41] zimmerle commented on #1134
No longer an issue in v3/master.

[2021-01-18 16:41] #1134 closed

[2021-01-18 16:42] #2013 closed, assigned to victorhora

[2021-01-18 20:40] albgen commented on #2360
If you enable modsec module on each server directive, you will get the exact slow behaviour.
Currentlt, to avoid the issue, I have enabled it on the main nginx.conf file

[2021-01-19 11:52] marcstern commented on #2472
@zimmerle: in case you're waiting for the use case, sorry, I forgot about it.
When you have tokens (like JWT) that are very long, you may want to get something like the first 20 bytes. Another example: a basic auth "Authorization: Basic ..."); with 9 characters, you only get the 3 first characters of the username (and less with Bearer, Digest, etc.).

[2021-01-19 12:46] zimmerle commented on #2360
@albgen, The slowness to load the rules was reduced. If the load time is "N" and you load  "Z" amount of times, the total time spent on loading will be in the order of magnitude ```N*Z```; Not to mention that the memory utilization will also be a factor of "Z". It could be especially slow if you are using external resources that demand download from an external server.

The recommendation is to lo

[2021-01-20 07:01] defanator commented on #2465
@dune73 the issue can be 100% reproduced with the following versions of libmodsecurity && nginx connector module:

[code]

CRS v3.3.1-rc1:

[code]

diff for CRS:

[code]

I haven't checked with libmodsecurity 3.0.4 and nginx connector 1.0.1 yet.

[2021-01-20 07:13] dune73 commented on #2465
Thank you very much @defanator. This helps a lot.

If you could check 3.0.4 and 1.0.1 too, that would be neat.

For the record: We are investigating this issue and a 2nd unexpected ModSec v3 misbehavior that CRS 3.3.1-RC1 triggers.

[2021-01-20 07:46] airween commented on #2465
hi @defanator,

here are the versions what I'm using:

[code]
Note, that I cloned the repository about 8 days ago, but looks like there isn't any relevant modification in that [two](https://github.com/SpiderLabs/ModSecurity-nginx/commit/3f016fcf8545324c61dc954da304f05292da9dea) [commits](https://github.com/SpiderLabs/ModSecurity-nginx/commit/3dbe4da390656acead38f8a7ae4ce5877be6657a).

As you can s

[2021-01-20 12:21] defanator commented on #2465
@airween here's the error log:

[code]

I was about to collect debug log as well, but nginx fails to start with debug version of the connector module with my current configuration, producing segfault. Will share additional details a bit later.

BTW, I'm using reproducible environment from https://github.com/defanator/modsecurity-performance/ for tests. You can adjust CRS version in https://github.

[2021-01-20 12:33] defanator commented on #2465
Backtrace from coredump obtained after running `nginx-debug -t`:

[code]

Output of the `nginx-debug -t`:

[code]

[2021-01-20 12:55] defanator commented on #2465
With the libmodsecurity 3.0.4 and modsecurity-nginx 1.0.1 there's no segfault, but the CRS v3.3.1-rc2 with tx.blocking_early is still behaving incorrectly:

[code]

nginx debug log:

[code]

[2021-01-20 13:57] IamLunchbox commented on #2486
I have compiled libmodsecurity.so.3.0.4 and use modsecurity-nginx with the coreruleset.

A notes app I am using via webdav (Joplin) seemed to mangle http-requests and triggered the crs:
[code]
After removing rule `921110 ` via `SecRuleRemoveByID 921110` requests are not blocked by modsecurity anymore, but nginx reports an Error code 500:

[code]
Disabling modsecurity altogether fixes this problem.

[2021-01-20 14:22] zimmerle commented on #2486
That seems to be an issue with coreruleset. You may want to open this same issue on the CRS project.

[2021-01-20 14:55] IamLunchbox commented on #2486
The error persists even if I fully delete coreruleset. I specifically downloaded the default modsecurity.conf and unicode.mapping, the error 500 persists.

I guess Modsecurity somehow changes the http-request and Joplin fails to communicate with the server due to this - attaching to the dav and to other webservices with other clients does not reproduce the issue. Since it could be an issue solely

[2021-01-20 14:58] zimmerle commented on #2486
In that case it will be interesting to have the _debug_ and _error_ log while CRS is not loaded.

[2021-01-20 19:39] IamLunchbox commented on #2486
[nginx_debug.txt](https://github.com/SpiderLabs/ModSecurity/files/5844864/nginx_debug.txt)

This is it, I used `error_log /var/log/nginx/error.log debug;`  in nginx.conf to generate it. If that does not contain enough information, let me know. I didn't have the time to recompile nginx and libmodsecurity with the necessary flags yet.

[2021-01-21 04:27] Hello-Linux opened #2502 "It often leads memory leak on nginx reload"
**Describe the bug**

**We publish more frequently every day, and often reload nginx，every few days nginx has a memory leak,How to fix it?**

**Logs and dumps**

Output of:
[code]

**Expected behavior**

A clear and concise description of what you expected to happen.

**Server (please complete the following information):**
 -  Modsecurity:   v3.0.4-92-gd72be1c  for  Linux with nginx-connector v1.0

[2021-01-21 08:06] airween commented on #2465
Hi @defanator,

thanks for sharing this resource, I built your environment and successfully reproduced the behavior.

Just a quick note: I think in this case **not** the rule set produces this behavior.

First of all, this modification in your `nginx.conf` fixes it:

[code]

Thanks to @theMiddleBlue for solution.

I think this behavior comes when Nginx uses `proxy_pass` directive. As I wrote [here

[2021-01-21 08:25] defanator commented on #2465
@airween good to see you were able to trigger that as well.

I'm not blaming CRS - I admit that the bug could be either in library or in connector module, that's fine.

The root cause (as I see it) is that nginx connector tries to do all the processing as early as possible (in the pre-access phase, iirc), and by some unclear reasons it does NOT send response headers in the discussed configuration

[2021-01-21 08:44] airween commented on #2465
Hi @defanator,

oh, sure - sorry if I was ambiguous.

I'm really happy that you found the root case.

ah, good to know.

you're welcome.

I don't know. As a customer, I'm curious how many rules I have. If a rule loaded twice (I mean loaded for two different contexts), IMHO it's only one rule. But it's not an important question...

Should I open an issue under [ModSecurity-nginx](https://github.com

[2021-01-21 09:21] defanator commented on #2465
I don't have any strong opinion here. As you can see from the sources, nginx connector simply counts everything returned by every `msc_rules_add()` / `msc_rules_add_file()` / `msc_rules_add_remote()` library functions. I'm not sure it's a good idea to implement any additional logic at the connector's side as it could be subjected to race conditions (local file as well as remote contents may change

[2021-01-21 09:38] airween commented on #2465
oh, sorry again - I thought about connector problem (to open an issue), not the rule counting. As I wrote, the counting issue isn't an important thing.

[2021-01-21 09:39] defanator commented on #2465
@airween yes please - go ahead then! Thanks.

[2021-01-21 12:08] zimmerle commented on #2502
Duplicate of #2381

[2021-01-21 14:02] GarethHards opened #2503 "Dynamic IP can't get a static on MTN lte"
I recently installed mod security for apache2 on my pi4 4gb, running a Samsung 250G ssd without a GUI, I went and installed RaspAp, with a VPN and DNS server aswell, with a DNS client

All installed and set my above servers and clients with a router allocated IP, called them yesterday and said my router has an eth0 issue and my eth0 data connection has failed and has little or no connectivity, fur

[2021-01-21 15:24] zimmerle commented on #2503
Hi @GarethHards,

What exactly ModSecurity role in this system? is it the one to block access to your "AP web interface"?

[2021-01-21 15:47] GarethHards commented on #2503
Hi I want to add a blacklist for a captive portal to be running on the RaspAp and don't know how to yet, I would like to have connected users of RaspAp browzer my html host, would mod security block my eth0 connection from my router and prevent my current internet sharing?

[2021-01-21 16:02] GarethHards opened #2504 "Just curious"
My apache2 is secured with mod security 2 basic rules so far which is installed on my raspberry Pi 4, with Ubuntu and no GUI,
Does mod security provide the security for hosts on my local machine and remote clients /and or remote PC's with html folders that are using my system for the VPN,DNS, servers and FTP server,  where can I get more help with regards to rules for this situation I want to "iro

[2021-01-21 17:00] zimmerle commented on #2504
ModSecurity is a WAF engine. It depends on **rules** to protect you against any potential threat. Together with ModSecurity, it is necessary to deploy a set of rules to implement some "protection" level.

[2021-01-21 17:00] #2504 closed, assigned to zimmerle

[2021-01-22 01:08] Hello-Linux commented on #2502
@zimmerle  From #2381, I don't see how to fix this problem? Now what do I need to do

[2021-01-22 05:38] Hello-Linux commented on #2381
I have the same problem. How can I fix it? The impact of this problem is very serious. I hope that the government will pay close attention to the repair and repair version 3.0.4 as soon as possible

[2021-01-24 07:59] adrelanos opened #2506 "allow logging to systemd journal"
`SecAuditLog` currently does not allow logging to systemd journal. Or at least that's not documented.

Could you please allow logging to systemd journal?

Might be simple to implement. For example any daemon written in `bash` just has to do `echo message` and that will end up in systemd journal. No very special code required in ModSecurity. Just write to stdout/stderr normally. Perhaps `SecAuditLo

[2021-01-25 01:54] Hello-Linux commented on #2502
@zimmerle  How to solve this problem?　The impact of this problem is very serious. I hope that the government will pay close attention to the repair and repair version 3.0.4 as soon as possible

[2021-01-25 03:11] Hello-Linux commented on #2381
Is anyone there?

[2021-01-25 11:49] zimmerle commented on #2381
(a) Try to restart instead of reload; (b) Experiment the master branch and provide feedback; (c) experiment 3.1 and provide feedback.

[2021-01-25 11:49] zimmerle commented on #2381
?

[2021-01-25 11:56] zimmerle commented on #2502
@Hello-Linux copy in paste the same comments across multiple issues is not good for the project index. Please avoid doing it.

 Typically, users search for the existing issues before opening a new topic. Sometimes they get a response by just reading a similar problem.

[2021-01-25 11:58] zimmerle commented on #2506
@adrelanos v3 is safe to output the logs to /dev/stdout. Have you faced any issues by doing that?

[2021-01-26 01:21] Hello-Linux commented on #2502
@zimmerle Sorry, I don't know what you mean. What I want to ask is how to solve this memory leak?

[2021-01-26 05:14] adrelanos commented on #2506
I wouldn't know why that wouldn't be safe. Lots of daemons doing that.

`SecAuditLog /dev/stdout` however doesn't work. Nothing ends up in journal.

[2021-01-26 13:43] zimmerle commented on #2506
Can you perform a test with the **DebugLogs**? I am going to check the **AuditLogs** here as well.

[2021-01-27 02:05] realseanwatson opened #2507 "ModSecurity: APR compiled version="1.6.2"; loaded version="1.6.3""
**Describe the bug**
Hi Team, I have been getting this warning in apache log, so far my server is utilizing over 70% of my system RAM since I installed mod_security:
ModSecurity: Loaded APR do not match with compiled!
Tutorial followed: https://www.inmotionhosting.com/support/server/apache/install-modsecurity-apache-module/

I checked out issue: [#2139](https://github.com/SpiderLabs/ModSecurity/is

[2021-01-27 10:08] azurit opened #2508 "[Feature request] Offset support for SecRuleUpdateTargetById"
**Describe the bug**

Currently, there's no way how to update target of chained rules. Would be cool to have support for offsets similar to `SecRuleUpdateActionById` directive.

**Server (please complete the following information):**
 - ModSecurity version (and connector): modsecurity 2.9.3, embedded
 - WebServer: Apache 2.4
 - OS (and distro): Debian

[2021-01-27 12:13] #2503 closed, assigned to zimmerle

[2021-01-27 12:13] GarethHards commented on #2503
Cool thanks

[2021-01-27 12:38] zimmerle commented on #2507
Hi @realseanwatson,

That means that your ModSecurity was compiled using the source files for APR 1.6.2 and it is loading in runtime the version 1.6.3. That incompatibility leads to unexpected behavior such this high memory usage that you are facing. My advice to you is to re-compile your ModSecurity using the same version of the APR that you have in run-time.

[2021-01-27 12:38] #2507 closed, assigned to zimmerle

[2021-01-27 12:41] zimmerle commented on #2508
Hi @azurit -- that sounds interesting to support.

[2021-01-27 20:59] realseanwatson commented on #2507
@zimmerle - Thank you for your quick response, I figured much... Do you have a guide on how to do so? I am pretty new to this, my apologies for the back and forth.

[2021-01-28 01:22] Hello-Linux commented on #2381
＠zimmerle Has the master branch been fixed the memory leak?

[2021-01-29 19:59] martinhsv commented on #2468
Hello @azrdev ,

Could you please include debug log output (at level '9').

[2021-02-01 11:07] IamLunchbox commented on #2486
Will there be a follow up regarding this issue or shall I create a separate bugreport?

[2021-02-03 03:44] xiangwang1 commented on #2072
Hi @zimmerle,

I am the Hyperscan maintainer and developer.

Hyperscan delivers high performance for both multiple literal matching and regex matching, so it could naturally replace Aho Corasick algorithm and PCRE to get performance boost.
We conduct performance comparisons in our paper at https://www.usenix.org/system/files/nsdi19-wang-xiang.pdf.

There is also a published whitepaper at https://w

[2021-02-04 09:57] prince-java opened #2509 "Question about initcol"
I want to create a new collection by using "initcol",such as:
`SecAction "id:10000,phase:1,pass,nolog,t:none,initcol:newcol=%{remote_addr}_%{tx.ua_hash}"`
`SecAction "id:10001,phase:1,pass,nolog,t:none,setvar:newcol.param=+1"`

Apache can restart successfully,the collection and parameter also can be created.
The contents of the debug log are as follows:
`[4] Recipe: Invoking rule 1de5370; [file "/

[2021-02-05 06:24] #2509 closed, assigned to nobody

[2021-02-05 11:23] defanator commented on #2465
JFTR, this has been fixed with the following change (thanks @zimmerle):
https://github.com/SpiderLabs/ModSecurity/commit/50fc347ed4d0852d54561e15559de07c698fbb16

(I see it hasn't been arrived to v3/master yet but hopefully it will be there soon.)

[2021-02-05 16:36] dune73 commented on #2465
@defanator : Could be very clear what exactly [50fc347](https://github.com/SpiderLabs/ModSecurity/commit/50fc347ed4d0852d54561e15559de07c698fbb16) fixes? There are quite a few deviations being discussed here and I'd hate to run into misunderstandings.

[2021-02-05 17:12] zimmerle commented on #2465
Now on [v3/master](https://github.com/SpiderLabs/ModSecurity) :rocket: :rocket:

it was under tests at [Workflow: Quality Assurance - 50fc347](https://github.com/SpiderLabs/ModSecurity/actions/runs/537351472),  QA is happy about it :satisfied::satisfied::satisfied::satisfied:

[2021-02-05 17:42] zimmerle commented on #2072
Hi @xiangwang1,

We definitely want to support [Hyperscan](https://github.com/intel/hyperscan) :fireworks:.

To make the transition **smoothly** to our users, we want to have a compilation flag that allows the user to change the regular expression engine to whatever they feel comfortable with, including [Hyperscan](https://github.com/intel/hyperscan).

On issue #2012, the researcher @WGH- offered

[2021-02-07 09:17] defanator commented on #2465
It fixes segfault on starting up nginx with debug version of the ModSecurity-nginx connector module and loaded CRS.

[2021-02-08 02:54] xiangwang1 commented on #2072
Hi @zimmerle,

Since current ModSecurity rules are written for PCRE support only, one problem with replacing PCRE with Hyperscan or RE2 is lack of full syntax support such as zero-width assertion, back reference, etc. Do you have any idea or plan to address this issue?

If we stick to PCRE syntax, then we can't achieve 100% replacement. Here is what we do for PCRE replacement in other systems like

[2021-02-08 07:26] airween commented on #2072
Just an idea for **introduction** of Hyperscan (and RE2 too) instead of **replacing** of PCRE.

It would be better to use a new operator (similar to [rxGlobal](https://github.com/SpiderLabs/ModSecurity/pull/2396)): if somebody wants to use Hyperscan compatible expressions, then it would be the `@rxHyper`, for RE2 would be `@re2`.

Another solution would be that user can decide in compilation time

[2021-02-08 07:47] dune73 commented on #2072
@xiangwang1 : In the prefiltering mode is the construction of the superset of matches automatic, or is this pattern something that a user needs to provide?

If it's automatic, does the following work in practice:

* PCRE specific pattern: prefiltering mode constructs superset, hyperscan is executed, superset match, pcre is invoked, original pattern match is executed, pcre match is being returned.

[2021-02-08 12:53] WGH- commented on #2072
RE2 is largely compatible with PCRE. My pull request (#2012) is built on idea that the patterns that can't be compiled on RE2 can use PCRE as a fallback.

Also, some people apparently use CRS outside of ModSecurity, and contributed fixing the patterns to make them RE2-compatible, where it's possible.

Hyperscan, however, is a different beast. It shines when you match a set of multiple patterns aga

[2021-02-08 13:36] rwiglenda opened #2510 "Kubernetes modsecurity annotations: nginx: [emerg] "modsecurity_rules_file" directive Rule id: 900990 is duplicated"
Dear all,
i've tried to implement modsecurity on our kubernetes nginx as described in https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#modsecurity.

i ran following configuration:

[code]

With this i'm getting frequently errors like **nginx: [emerg] "modsecurity_rules_file" directive Rule id: 900990 is duplicated**

And we also faced unavailability of the web

[2021-02-08 14:40] zimmerle commented on #2072
(...)

Sounds like a plan :rocket: :+1:. That seems to be an easy improvement with a real benefit to our users. I think we can start to work on that one as the change is more stragithforward.

As a **roadmap** I would consider -

- [ ]  Having the _hyperscan_ detected on the build system.
   - [ ]  Make sure that _hyperscan_ info is shown on the _configure_.
   - [ ]  Having a definition set, such

[2021-02-08 14:44] rwiglenda commented on #2510
Seems like i had an issue with the configuration... removing nginx.ingress.kubernetes.io/enable-owasp-core-rules: "true" seems do made it work.

[2021-02-08 14:44] #2510 closed, assigned to zimmerle

[2021-02-08 15:22] zimmerle commented on #2072
#### Regular expression engine replacement

Although I like @WGH-'s _run time fallback_ option, I most say that it could be confusing while supporting **n+2 engines**. I would go for the compilation option. One option may include the combination of **RE+RE2** as suggested on #2012.

@xiangwang1 Compatibility is with older versions is important, however, we understand that sometimes - in order to e

[2021-02-08 20:27] tRamq opened #2511 "SecRemoteRules what frequency to update rules"
I'm thinking about using SecRemoteRules feauture. But i want to learn about after i add the line in my conf. file . My url continuously updated. After every update am i need the reload my web server . Is mod_sec control the link freqeuntly or do it for just one time .

 - ModSecurity version (and connector): [ModSecurity v3.0.1 with nginx-connector v1.0.0]
 - WebServer: [nginx-1.19.5]
 - OS (and d

[2021-02-09 02:00] xiangwang1 commented on #2072
Yes, I think we can leverage the existing PoC as starting point.
I personally prefer the compilation option to let users can select the regex engine (PCRE, RE2 and Hyperscan) based on their configured rules and requirements (performance and usability v.s. syntax support).

[2021-02-10 12:01] Neko-Chang-Taiwan commented on #1411
Hi All

Can help to confirm the issue still exist or not possible?

History...
I got segment fault in Apache 2.4 @ FreeBSD as below.
[https://github.com/SpiderLabs/ModSecurity-apache/issues/59](https://github.com/SpiderLabs/ModSecurity-apache/issues/59)
In FreeBSD, build by GCC ("USE_GCC= yes") and error occur from GCC found in  GDB result.

So I tried to remove it and rebuild use FreeBSD build-in

[2021-02-10 12:02] #2511 closed, assigned to zimmerle

[2021-02-11 12:44] zimmerle commented on #2511
Currently is necessary to reload ModSecurity in order to get the rules updated.

[2021-02-11 12:45] zimmerle commented on #1411
@Neko-Chang-Taiwan apache connector for ModSecurity v3 is still not ready.

[2021-02-11 13:54] WGH- opened #2512 "Only the last match of a rule is logged"
This program

[code]

prints out a single message
[code]

even though the rule matches both query arguments.

This is the place where the operator is applied to every variable.

https://github.com/SpiderLabs/ModSecurity/blob/50fc347ed4d0852d54561e15559de07c698fbb16/src/rule_with_operator.cc#L310-L332

Note that there is `performLogging` call. It doesn't log anything here, because [`lastLog=false,

[2021-02-11 17:01] Neko-Chang-Taiwan commented on #1411
Hi @zimmerle

Because log as below
`[Wed Feb 10 19:36:53.893064 2021] [:notice] [pid 15168:tid 34370637824] ModSecurity: ModSecurity-Apache v0.1.1-beta configured.`
And segment fault disappeared @ modsecurity3.
Workable I think 😅

[2021-02-11 17:06] zimmerle commented on #1411
It is not ready for production yet. For Apache, we suggest our users to keep using the stable version: [2.9.3](https://github.com/SpiderLabs/ModSecurity/releases/tag/v2.9.3)

[2021-02-11 17:16] Neko-Chang-Taiwan commented on #1411
Hi @zimmerle

Thanks your replied.
Please confirm the issue by latest version of LLVM/CLANG if possible when it ready for production. 😄

[2021-02-11 17:34] zimmerle commented on #2512
Hi, @WGH-,

That is an interesting observation. Indeed that is what to expect on **mod_security**  (2.x) -

[code]

As opposed to the last hit on v3 -
[code]

(a) We aim to reduce the amount of logging that goes over the **error log**. (b) Having a more meaningful log;

On the **error log**, we want to justify why a certain disruptive action was taken. In the case of a given rule with more than on

[2021-02-11 17:48] WGH- commented on #2512
Yes. We use ModSecurity as a library, and we need info about every match to make a better decision. For example, some matches of a rule might be false positives, so if only one match is reported, we lose information.

[2021-02-12 12:09] zimmerle commented on #2512
If I understood it right, I am afraid that the described use case was not considered while the library was being defined.

It seems that you use the intervention output (logging) as input to a 3rd party software to decide whatever action you will be taken. That ignores the default actions from ModSecurity and place the logic outside ModSecurity. Is it the case?

[2021-02-12 21:24] dotiq opened #2513 "Web form & Multipart parsing error: Multipart: Final boundary missing (Rule 200002)"
**Describe the bug**

Uploading a file via a webform (size & filename don't seem to matter) triggers rule 200002.

**Logs and dumps**
The DebugLog and AuditLog are from 2 different sessions, however the errors/results are identical.
DebugLog
[code]

AuditLog
[code]

**To Reproduce**

This is a simple form with a 4 fields including a File upload field.  The form processes fine as long as there isn'

[2021-02-13 12:11] ponasromas commented on #2373
No, issue still not resolved. Using Mainline nginx 1.19 and latest modsec. After enabling module, nginx just hangs out after ~30sec.

[2021-02-13 14:14] wutchzone commented on #2373
I am sorry for the late response. The issue still persists. I am unable to get a better backtrace, but the issue occurs more frequently on machines with more workers.

[2021-02-14 11:09] WGH- commented on #2512
Pretty much, yes.

[2021-02-16 07:49] pgajdos opened #2514 "bad request leads to two responses"
**Bug Description**

After specific wrong request I get second response from Apache httpd server:

[code]
Where
[code]
is content of index.html in docroot.

**Logs and dumps**

Not necessary.

**To Reproduce**

Minimal httpd config:

[code]

**Expected behavior**

[code]

**Server (please complete the following information):**
 - ModSecurity version (and connector): ModSecurity v2.9.3, v2.9.2
 - W

[2021-02-16 09:34] ylavic commented on #2514
Please do if needed ;)

[2021-02-16 14:22] martinhsv commented on #2513
Hello @dotiq ,

You mentioned: "ModSecurity version (and connector): ModSecurity v3.0.4 (compiled from .tar.gz) with ModSecurity-apache connector"

Unfortunately, the ModSecurity-apache connector is not yet considered complete.

For using ModSecurity with Apache,, the current recommendation is to use ModSecurity v2.9.3.

[2021-02-18 06:28] ahasanaki opened #2515 "Block Request when Copy Text From MS Word Format"
**Describe the bug**
hi;
in POST Request When user copy and paste text from ms word and send to server, the request will be blocked

**Log Example**
Feb 16 13:20:55 sap journal: 2021/02/16 13:20:55 [error] 22#22: *192440 [client IP] ModSecurity: Access denied with code 403 (phase 2). Matched "Operator `Ge' with parameter `5' against variable `TX:ANOMALY_SCORE' (Value: `10' ) [file "/etc/modsecurit

[2021-02-18 12:18] zimmerle commented on #2515
Hi @ahasanaki,

This is very likely to be an issue within the _ruleset_ that you have loaded.  Given the log message, I am assuming that you have CRS running. You may want to open an issue at: https://github.com/coreruleset/coreruleset

[2021-02-18 12:18] #2515 closed, assigned to zimmerle

[2021-02-19 14:31] albgen opened #2516 "sudo ./build.sh not building correctly"
hello,

I have two installation of modsec module and basically whenever there is a new version of nginx, i recompile modsec from the main branch.
Unfortunately, i have a problem with only the compilation in one installation instead the other one is ok.
Basically the commands i execute are the following:

[code]

the script ./build.sh does not create the makefile.in and i have no idea why.
A soluti

[2021-02-19 17:16] zimmerle commented on #2516
@albgen can you paste the output of the ./build.sh script?

[2021-02-19 19:06] albgen commented on #2516
![image](https://user-images.githubusercontent.com/7231968/108549778-f0efe000-72ed-11eb-996e-f1e7c16f585c.png)

[2021-02-19 20:25] dotiq commented on #2513
Thanks for your response.  I've had good luck with this setup so far on other servers (not realizing the Apache connector wasn't production ready), it's just this specific form that's giving me a hard time.  Is there anything else I can do to help troubleshoot this (so we have more debug data) before I downgrade?

[2021-02-22 02:05] Olament opened #2517 "Conflict between t:jsDecode and t:cssDecode"
**Describe the bug**

Using ```t:jsDecode``` and ```t:cssDecode``` together in a transformation sequence is a common practice in CRS (ex. APPLICATION-ATTACK-XXS). However, placing ```t:jsDecode``` before ```t:cssDecode``` may cause ModSecurity's failure to decode CSS-encoded string under some circumstance.

This is because both JS-encoded string and CSS-encoded string use "\\" as the escaping char

[2021-02-22 14:08] zimmerle commented on #2516
Double check if you have the following installed -
   - libtoolize
   - aclocal
   - autoheader
   - autoconf
   - automake

[2021-02-22 15:09] martinhsv commented on #2517
Hi @Olament ,

Each transformation is a specific tool with certain uses.  And it is, of course, possible to use them in sequence.

But that doesn't mean that all combinations are sound, or that all sequences are sound.  And it definitely doesn't mean that all permutations are sound in all circumstances.

Ideally, a ModSecurity rule should 'see' the data in the same way that the end application wil

[2021-02-22 15:20] albgen commented on #2516
they are installed...

- libtoolize - libtool package
- aclocal - automake package
- autoheader - autoconf
- autoconf -  autoconf  package
- automake - automake package

![image](https://user-images.githubusercontent.com/7231968/108728411-db66fa00-7529-11eb-9ff2-6f1ea09409bc.png)

![image](https://user-images.githubusercontent.com/7231968/108727588-09980a00-7529-11eb-8de1-ff33bd2d5428.png)

but th

[2021-02-22 15:39] martinhsv commented on #2513
When I have seen the 'Final boundary missing' occur with nginx with libmodsecurity (assuming the final boundary is in fact _not_ absent from the request), it's typically because a problem use case was encountered during body processing, such that body parsing ended early.

Often you can get more information about what triggered this by examining the debug log (using SecDebugLogLevel 9).

One of th

[2021-02-22 17:31] Olament commented on #2517
Thanks for the detailed reply @martinhsv

I think one of the solution is to swap the order of ```t:jsDecode``` and ```t:cssDecode``` in CRS.

Another solution would be changing the implementation of ```t:jsDecode``` such that it will return the consumed backslash "\\" if the following character sequence does not form a valid encoding. For input string "\6A\6B\6C", current implementation will consu

[2021-02-22 18:52] martinhsv commented on #2517
In this case, however, it _is_ a valid encoding.

Octal escape sequences have a backslash followed by one, two or three octal digits.

The two-character sequence "\6" is a valid octal escape sequence encoding of '6'

When the jsDecode transformation is happening, the code sees "\6" which so far is a valid octal escape sequence.  The next character is not an octal digit, which means that the the "\

[2021-02-24 08:18] amsnek commented on #2405
using modsecurity 3.0.4 and local compiled lua (5.4.2) and have the same issue. Is this supposed to be fixed in 3.0.4 or in 3.1.0? not sure i understand. using the fix from #2389 (#377fb72)  does not work for me.

am i missing something here?

[2021-02-24 10:32] amsnek opened #2519 "compiling modsecurity fails to find curl.h using --with-curl="
**Describe the bug**

When compiling modsecurity with local compiled versions of curl/yajl/pcre, it fails to find the curl.h on make stage.

`./configure --prefix=$MODSEC--disable-apache2-module --without-lua --with-pcre=$PCRE --with-yajl=$YAJL --with-curl=$CURL`

[code]

looks good -> running make

[code]

but the file is there

[code]

curl-config knows it too

`$ /builds/work/target/curl-7.75.0

[2021-02-24 16:10] zimmerle commented on #2516
Maybe you want to run a ```git status```and ```git diff``` to understand what has been changed.

[2021-02-24 16:21] zimmerle commented on #2519
Can you check 2e69ce6ccf8536b49d59f314dbc20089a6735796 ?

[2021-02-24 17:11] ghost opened #2521 "JSON extraction from an API request"
Hello,

I want to extract information that is in body JSON following the execution of an API request.

Here is the Body JSON when transmitting the API request:

  "emails": [
    {
      "test_label": "Email",
      "primary": true,
      "type": "work",
      "value": "name.familyname@test.com",
      "x": 2,
      "x": 2,
      "x": true
    }
  ],
  "test": {
    "username": "name.familyname@te

[2021-02-24 17:54] zimmerle commented on #2521
@vova91 What is your ModSecurity version? Apache or Nginx?

[2021-02-24 18:19] ghost commented on #2521
@zimmerle Hello, it's **ModSecurity 2.9.2-1.el7** and **Apache/2.4.6**

[2021-02-24 18:45] amsnek commented on #2519
getting further but now it hits an automake error?

[code]

rhel7 automake is sadly a bit older...

[code]

[2021-02-24 19:04] zimmerle commented on #2519
Instead of ./build.sh can you run manually -

https://github.com/SpiderLabs/ModSecurity/blob/2e69ce6ccf8536b49d59f314dbc20089a6735796/build.sh#L3-L11

[2021-02-24 19:08] amsnek commented on #2519
yes, that worked!  thanks, most awesome! 👍

[2021-02-24 19:26] zimmerle commented on #2519
my pleasure

[2021-02-24 19:26] #2519 closed, assigned to zimmerle

[2021-02-25 06:34] Olament commented on #2517
You're right! Thanks for the explanation.

[2021-02-25 06:34] #2517 closed, assigned to zimmerle, martinhsv

[2021-02-25 09:31] emerzon commented on #1062
Not only, this also causes a segfault when running over musl. Glibc seems to wrap this error silently.

[2021-03-01 08:19] ghost commented on #2521
Hello,
Do you have any idea why the solution suggested on the link does not work in my case. Is there a solution to extract these 3 pieces of information from the Json body, when executing the API request in PUT.

Thank you very much @zimmerle

[2021-03-01 09:11] hygeiavvv opened #2523 "The modsecurity-apache v2.9 rule chain always appears #conforms"
I deployed modsecurity-apache v2.9 on my linux server. As shown in the figure, this is the log I saved to the database. There are always more # signs in front of the rule chain, which causes some problems when the rule is executed. May I ask How can we avoid this situation.
![image](https://user-images.githubusercontent.com/40749820/109475885-34e2a200-7ab1-11eb-89f9-f37a708c73d1.png)

[2021-03-01 09:35] senzi-jp opened #2524 "Nginx process has an abnormal exit, and the number of 'Reading' increases every time the nginx process exits unexpectedly"
openresty:1.19.3.1
modsecurity-nginx-v1.0.1
modsecurity-v3.0.4

modsecurity.conf:
SecRuleEngine DetectionOnly

I found that the nginx process has an abnormal exit, and the number of 'Reading' increases every time the nginx process exits unexpectedly.

Thanks.

[2021-03-01 13:46] zimmerle commented on #2521
@vova91 The best thing to do in those cases is broken down the rules (remove the chained rules), and read the output of the **debuglogs**. The **debuglogs** contains all the information that you may need, including the value of the variables in question.

You can place a rule like "@pm ARGS" and double check how the keys are computed from the JSON.

To enable the debuglogs, you can use -
[code]

[2021-03-01 13:51] zimmerle commented on #2524
Hi @senzi-jp,

I did not quite understood the problem. Did you observed a bad behavior based o [stub_stastus](http://nginx.org/en/docs/http/ngx_http_stub_status_module.html) output or is it something that happens due to the usage of  [stub_stastus](http://nginx.org/en/docs/http/ngx_http_stub_status_module.html)?

[2021-03-01 13:59] zimmerle commented on #2523
Hi @hygeiavvv

ModSecurity rules can be [chained](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#chain), that means that a subsequent rule will be evaluated in order for a former to be considered a match. The **#** is used to mark a line as comment. In the example above, you have commented some chained rules, but, left the main rule with a [chain](https://github.com/Spi

[2021-03-01 13:59] #2523 closed, assigned to zimmerle

[2021-03-01 14:00] zimmerle commented on #2516
@albgen any progress?

[2021-03-01 15:36] albgen commented on #2516
Nope...i have no idea what to check. There are a lot of changes and i'm not familiar with the solution. All i can give is that from when it broke...but nothing else

[2021-03-01 17:55] zimmerle commented on #2516
@albgen  there is something out of the ordinary. I would expect to have a small list of changes, not a huge one.

[2021-03-02 02:33] hygeiavvv commented on #2523
Thank you very much for your reply. After I revised it in accordance with the document:`Error creating rule: The & modificator does not apply to non-collection variables.`;remind me of this, is it because mine is version 2.9.3, maybe I am not clear about it, I mean I wrote a rule myself:
`SecRule SERVER_NAME "@eq test.com.cn" "chain,phase:2,deny,nolog,auditlog,id:440001,exec:/www/wwwroot/yunfang/s

[2021-03-02 05:35] senzi-jp commented on #2524
@zimmerle ，Let me see if something else is causing it, Thanks.

[2021-03-02 09:17] albgen commented on #2516
hi @zimmerle,

as written previously, i usually compile ModSec everytime a new version of nginx is shipped.
So, basically nginx 1.19.6 released on 15 Dec 2020, worked perfectly.  Current version of nginx is 1.19.7  released on                                     16 Feb 2021 showd me some issues.

So, the commits  on ModSec between 15dec and 16 feb, broke the build. Make sense?

[2021-03-02 12:31] zimmerle commented on #2516
It is hard to investigate with limited details on the issue/machine, the build is working fine on the buildbots; I have tried to replicate the scenario that you have with the details provided here and I manage to compile it well.

The reason why you have -
[code]
Is because you are downloading a specific branch from git, without the tags information. Tags are use to name the version. You may want

[2021-03-02 12:31] #2521 closed, assigned to zimmerle, martinhsv

[2021-03-02 14:00] albgen commented on #2516
The issue with "fatal..."is not a problem.

![image](https://user-images.githubusercontent.com/7231968/109659107-a2510a00-7b67-11eb-90ca-45304bc58038.png)

i can give access on the server, i have no issue

[2021-03-02 15:03] zimmerle commented on #2516
[configure.ac](https://github.com/SpiderLabs/ModSecurity/blob/a18d18a28f486894b26c4f7258fe05a6d0300a2f/configure.ac) is part of the repository. You can download this file.

https://github.com/SpiderLabs/ModSecurity/blob/a18d18a28f486894b26c4f7258fe05a6d0300a2f/configure.ac#L1-L10

the output of ```git status``` will tell us more about what is missing.

[2021-03-02 16:06] albgen commented on #2516
sorry but i was not on the ModSec directory.
so basically now, the following command fixed the issue:
 libtoolize && aclocal && autoheader && autoconf && automake --add-missing
![image](https://user-images.githubusercontent.com/7231968/109677466-fbc23480-7b79-11eb-9bc3-5f4b74f9d7a0.png)

[2021-03-02 17:34] martinhsv commented on #2521
I suspect the problem in this case is that you are trying to do incompatible things in the same rule.

For a request body to be processed as JSON, the JSON parser must be enabled before the request body is read -- i.e. in phase:1.  Your rule is setting ctl:requestBodyProcessor=JSON in phase:2 which is too late as the request body has already been processed at that point.

Of course you cannot just

[2021-03-03 03:55] hygeiavvv opened #2525 "Cannot execute lua script"
![image](https://user-images.githubusercontent.com/40749820/109750279-1e565b00-7c17-11eb-96c5-e8440e5dc414.png)
![image](https://user-images.githubusercontent.com/40749820/109750312-2d3d0d80-7c17-11eb-94f9-4d2afc2e4b84.png)
`    1: module 'socket.http' not found:
	no field package.preload['socket.http']
	no file './socket/http.lua'
	no file '/usr/local/share/luajit-2.0.4/socket/http.lua'
	no file

[2021-03-03 12:04] hack3rcon opened #2526 "AH00526: Syntax error on line 829 of..."
Hello,
I'm using CentOS 8 x86_64. I created a "owasp-modsecurity-crs" directory in the "/etc/httpd/modsecurity.d" directory, then downloaded OWASP ModSecurity Rules from "https://coreruleset.org/installation/" and extracted it in the "owasp-modsecurity-crs" directory.
I renamed "crs-setup.conf.example" file to "crs-setup.conf". In the "rules" directory, I renamed below files too:
[code]
I added be

[2021-03-03 16:09] dune73 commented on #2465
We have published a blog post covering this vulnerability and what users can do about it while there is no official fix.

https://coreruleset.org/20210302/disabling-request-body-access-in-modsecurity-3-leads-to-complete-bypass/

Sorry this took so long, but we ran into several issues while testing our workaround. These issues also include another ModSecurity3 bug (see above).

[2021-03-03 16:25] zimmerle commented on #2516
Yes, that is the command that I shared with you. I cannot tell you why you have the missing configure.ac and/or if there are more files missing.

[2021-03-03 16:26] zimmerle commented on #2524
@senzi-jp any news?

[2021-03-03 16:39] martinhsv commented on #2526
Hi @hack3rcon ,

The name of the file is cut off in the paste of the log messages, but I'll assume that it's crs-setup.conf.

It is the whole rule/directive that is what ModSecurity is complaining about as opposed to the particular line.  I'm assuming the content is something like the following (which is what I have setting that var, although my line numbers are different):
[code]

The error messa

[2021-03-03 18:06] hack3rcon commented on #2526
Thank you.
Yes, that file is "crs-setup.conf". I have the number "900990" in below files:

[code]
I think, both files are same!!
For installing the ModSecurity, I did:

`$ sudo yum install mod_security mod_security_crs`

Then downloaded OWASP ModSecurity Rules from "https://coreruleset.org/installation/" and extracted it in the "owasp-modsecurity-crs" directory.

[code]

Is this kind of duplicatio

[2021-03-03 20:03] martinhsv commented on #2526
That would be it.  I am quite sure you are intended to only have one crs-setup.conf file.

I haven't installed crs from scratch recently, but I'm pretty sure that if you install it from repo (as you have with yum), you should not also do a manual install as described in the link that you cite.

[2021-03-03 20:09] hack3rcon commented on #2526
Thank you.
Thus, Must I remove "owasp-modsecurity-crs" directory.
How can I disable ModSecurity temporary?

[2021-03-04 06:11] hygeiavvv opened #2527 "Can I use m.getvar("RULE.id") to get the current rule id in 3.x version?"
Can I use `m.getvar("RULE.id")` to get the current rule id in the 3.x version? It is normal for me to use `m.getvar("REMOTE_ADDR")`. How do I get the rule in the 3.x version? id, thanks

[2021-03-04 06:12] #2525 closed, assigned to nobody

[2021-03-04 06:13] hygeiavvv commented on #2527
I want to get the id that triggers the rule in the lua script. It is normal in version 2.9, but it cannot be obtained after upgrading to 3.x.

[2021-03-04 08:35] 065191 opened #2528 ""Make error" on centos 6"
**Describe the bug**

[code]

[code]

**Info**
gcc version 8.3.1 20190311 (Red Hat 8.3.1-3) (GCC)
OS - Centos 6.8
scl enable devtoolset-8 bash
git clone --branch v3/master

On ubuntu assembled without problems. On centos 6 - problems

[2021-03-04 14:32] 065191 commented on #2528
fix : scl enable devtoolset-2 bash
and new error
Centos 6
[code]

[2021-03-04 16:49] martinhsv commented on #2528
Hi @065191 ,

For the first of the two issues that you report, my guess is that your version of pcre is sufficiently out of date that that constant is not defined.  I believe the relevant package for CentOS is pcre-devel.

[2021-03-05 05:44] 065191 commented on #2528
Package pcre-devel-7.8-7.el6.x86_64 already installed and latest version

[2021-03-05 15:43] martinhsv commented on #2528
Hi @065191 ,

From this source: https://www.pcre.org/original/changelog.txt ...

PCRE_NOTEMPTY_ATSTART

... was added to pcre in version 8, which is later than yours.  Version 8.00 itself is already very old.  If the 7.8 version of pcre that you have is the most recent available via repo, that may be because CentOS 6.8 itself is past end-of-life.

I would suggest upgrading to a supported version o

[2021-03-05 15:43] #2528 closed, assigned to martinhsv

[2021-03-06 11:00] hack3rcon commented on #2526
Thank you.
I removed the rules that I installed manually and problem solved.

[2021-03-06 11:00] #2526 closed, assigned to martinhsv

[2021-03-06 11:47] 065191 commented on #2528
cd /opt
wget https://ftp.pcre.org/pub/pcre/pcre-8.44.tar.gz
tar -xvzf pcre-8.44.tar.gz
cd pcre-8.44
./configure
make
make install

[2021-03-08 13:17] zimmerle commented on #2527
Hi @hygeiavvv is this a Lua script? How you are running it?

[2021-03-08 13:17] #2516 closed, assigned to zimmerle

[2021-03-10 10:30] cello86 opened #2529 "Modsecurity v3 : nginx POST data not printed into auditlog"
We tried to configure the logging of Request Body for blocked request via Nginx + modsecurity v3 but don't have the printed options H and C. The config of SecAuditLogParts is ABCIJDEFHZ and we noticed that this rule doesn't print the action options (suggested info https://github.com/SpiderLabs/ModSecurity-nginx/issues/76).

[code]

**Logs and dumps**
N/A

**Server (please complete the following in

[2021-03-10 11:23] vncloudsco opened #2530 "branch v3/dev/3.1-experimental not compile via make command"
I'm having trouble building the source code please support me.
history my command

[code]

My OS:

[code]

gcc version:
[code]
run make command get error

[code]
make version

[code]

[2021-03-10 15:23] martinhsv commented on #2530
Hi @vncloudsco ,

As I mentioned in that other posting, there is a known compiler bug that could cause an error like that:

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=58541

You have included your gcc version above (4.8.5).  Although that version is not specifically listed in in that page's "Known to fail" (the listed versions are 4.9.3, 5.3.0, 6.1.0, 7.0), it seems to me reasonable likely that

[2021-03-10 16:48] sorin-costea opened #2531 "Github site links broken, cannot buy Spiderlabs rules"
Neither the project link, nor the buying link, nor the applications list are working, they receive 404 or just redirect to the main page. I cannot even buy the rules package because there's no way to figure out the shop page.

[2021-03-10 17:04] sorin-costea commented on #1059
And now it's broken again.

[2021-03-11 03:13] vncloudsco commented on #2530
@martinhsv  thank you.  I built it but i user a docker ubuntu 18.04 :( I was unable to use it through the normal way. Is there a way to get around this without I having to choose the make version?

[2021-03-11 03:15] vncloudsco commented on #2381
@zimmerle hello admin. I used the one you specified (3.1-experimental) but I noticed the problem still occurs if you need the environment to test, I'll give it to you. this issues not fix in 3.1-experimental. thank you!

[2021-03-11 09:45] 065191 opened #2532 "Questions version 3.x"
**Describe the bug**

Questions version 3.3.0 (v3/master +-05.03.2021)

**Questions**

1. Can I block by IP address using modsec?
2. In case of possibility of blocking. Where is the log written to?
3. I did not see in the documentation for version 3. Is it possible to check the contents of "cookies" and the presence of "Referer" (which would block if there is no Referer) - Can you tell me somethin

[2021-03-11 10:00] LDR0305 opened #2533 "about unit test"
hello,Can you tell me how to use ModSecurity's own unit tests? thanks
@Zimmerle

[2021-03-11 12:03] artemMartynenko opened #2534 "Next release version and date"
Hello. I`m trying to create ModSecurity binding for Java.  I saw that your last published release was [3.0.4 ](https://github.com/SpiderLabs/ModSecurity/releases/download/v3.0.4/modsecurity-v3.0.4.tar.gz) but there are a lot of significant changes in the master branch. My question is what will be the next release number and went it could be released? Thanks!

[2021-03-11 16:57] martinhsv commented on #2532
Hi @065191 ,

First, note that there is no version 3.3.0 of ModSecurity.  You may be confusing the version of CRS (coreruleset) with your version of ModSecurity.  The most recent version of ModSecurity 3.x (aka libmodsecurity) is 3.0.4 . (v3/master does have additional changes since then).

To your questions:
1) Yes you can block by client IP address.  There are several pieces of functionality to

[2021-03-11 18:04] martinhsv commented on #2529
Hi @cello86,

I'm not completely clear on the problem you are outlining.  From your first sentence, it sounded like you were talking about an overall issue with section 'C' output not appearing in the audit log, but from the later pasted content it sounds like you are talking about only an error-page redirection scenario.

I have just checked and section C output is _generally_ available in v3.0.3

[2021-03-11 20:07] cello86 commented on #2529
Hi @martinhsv,
We already updated the version of nginx connector to 1.0.1 but we had to rollback the change for this issue https://github.com/SpiderLabs/ModSecurity-nginx/issues/176.

Marcello

[2021-03-11 21:02] martinhsv commented on #2529
So, are you saying you are re-reporting the issue https://github.com/SpiderLabs/ModSecurity-nginx/issues/176 that was closed as a duplicate?

[2021-03-11 22:51] cello86 commented on #2529
No there are two different issues. Into the nginx-connector  1.0.1 whole audit log didn't work and in this issue with the nginx-connector the C part doesn't work.

[2021-03-11 23:20] martinhsv commented on #2529
Did you try using v1.0.1 of the connector with the fix https://github.com/SpiderLabs/ModSecurity-nginx/pull/175 as suggested by @victorhora here: https://github.com/SpiderLabs/ModSecurity-nginx/issues/176 ?

[2021-03-12 05:39] 065191 commented on #2532
You answered all my questions. Thank you very much!

[2021-03-12 05:39] #2532 closed, assigned to martinhsv

[2021-03-12 09:11] cello86 commented on #2529
I tried to replicate all the scenarion and I started with:
- nginx: 1.19.7
- nginx-connector : 1.0.0
- mod_security 3.0.4
-  OWASP CRS: 3.2.0
- config SecAuditLogParts: "ABCIJDEFHZ"

### Scenario 1.
Nginx basic configuration

**Curl result**
OK
[code]

**Audit log**
OK
[code]
### Scenario 2
Nginx configuration with custom error page and fix reported to issue https://github.com/SpiderLabs/ModSecuri

[2021-03-12 09:27] cello86 commented on #2529
I tried to replicate all the scenarion and I started with:
- nginx: 1.19.7
- nginx-connector : 1.0.1
- mod_security 3.0.4
-  OWASP CRS: 3.2.0
- config SecAuditLogParts: "ABCIJDEFHZ"

### Scenario 1.
Nginx basic configuration

**Curl result**
OK
[code]

**Audit log**
OK
[code]
### Scenario 2
Nginx configuration with custom error page and fix reported to issue https://github.com/SpiderLabs/ModSecuri

[2021-03-12 12:37] cello86 commented on #2529
I tried to replicate all the scenarion and I started with:
- nginx: 1.19.7
- nginx-connector : 1.0.1 + patch https://github.com/SpiderLabs/ModSecurity-nginx/commit/ac3e8a9ac65877ab0eeebf416c26f2457ffe8296.patch
- mod_security 3.0.4
-  OWASP CRS: 3.2.0
- config SecAuditLogParts: "ABCIJDEFHZ"

### Scenario 1.
Nginx basic configuration

**Curl result**
OK
[code]

**Audit log**
OK
[code]
### Scenario

[2021-03-12 14:29] martinhsv commented on #2529
Can you provide more of your configuration?
 - the block that does the redirect to @403_json?
 - other blocks that have any modsecurity config?

Content from debug log could also be helpful (at level 9).  One thing in particular,is that the debug log should show the parts that are configured to report (and I suspect that it is not what you think you have configured).

[2021-03-12 15:00] cello86 commented on #2529
This is the configuration used:

[code]

[2021-03-13 13:26] 065191 commented on #2196
Is this fix already included in v3 / master?
[code]

....
nginx version: nginx/1.16.1
I see this problem recurring

[2021-03-15 13:07] martinhsv commented on #2196
The fixes referenced in this ticket were in place as of v3.0.4 and later.

[2021-03-15 14:24] iosetek opened #2536 "Loading Rule is not thread safe"
**Describe the bug**

A seclang_parser used for loading rules in ModSecurity uses global variables.
Due to that I was able to create a simple test proving that loading rules by different rule sets at the same time with multiple threads causes some random issues

https://github.com/SpiderLabs/ModSecurity/pull/2535/files

**Logs and dumps**

For trying to load the same rule `SecAction "id:900000,pha

[2021-03-15 15:30] martinhsv commented on #2529
Thanks for the additional detail.  It looks like I am able to reproduce what you have reported -- even using v3.0.4 and the current version of the connector.

I will take a closer look.

[2021-03-15 20:06] zimmerle commented on #2536
@iosetek The bison LALR parser is not thread safe. I don't think it is meant to be thread safe. Why do want to load it with multiple threads/process?

[2021-03-16 06:37] 065191 commented on #2196
[code]
ModSecurity: Warning. Matched "Operator `Eq' with parameter `0' against variable `REQUEST_HEADERS:Refere' (Value: `0' ) [file "/usr/local/nginx/conf/modsec/coreruleset/rules/1.conf"] [line "2"] [id "1920280"]
ModSecurity: Warning. Matched "Operator `Eq' with parameter `0' against variable `REQUEST_HEADERS:Refere' (Value: `0' ) [file "/usr/local/nginx/conf/modsec/coreruleset/rules/1.conf"] [

[2021-03-16 07:30] aminbaik88 opened #2537 "create secremoteruls server"
Hello,
how i can create a secremoterulss server ?
i try to search but i don't  find any thing about it.
Thanks.

[2021-03-16 09:48] iosetek commented on #2536
@zimmerle Multiple threads are meant to be spawned in the environment to scan the upcoming requests. I couldn't figure out how to copy an existing ModSecurity::Rules object as it contains multiple raw pointers.

1. How would you suggest to have a multiple threads where each of them has one ModSecurity::Rules instance.
2. Is it the only place where ModSecurity is not thread safe? How about parsing

[2021-03-16 15:20] zimmerle commented on #2537
Hi @aminbaik88,

**SecRemoteRules** performs a regular HTTP request on a _webserever_. ModSecurity expects to process a text file that is no different from a regular file that you may want to load using the **include** directive.

As part of the request headers, ModSecurity also includes:
   * ModSec-status: [further info](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#

[2021-03-16 15:20] #2537 closed, assigned to zimmerle

[2021-03-16 15:23] zimmerle commented on #2533
@LDR0305  I am assuming that you are asking about v3.

ModSecurity has ```make check``` as part of the build system. ```make check``` will run the **regression** and the **unit tests**.
Is that answer your question?

[2021-03-16 15:23] #2533 closed, assigned to zimmerle

[2021-03-16 16:05] martinhsv commented on #2529
As background, keep in mind that error redirects effectively create a second transaction.  I.e. ModSecurity sees the original POST transaction and successfully parses the request body and triggers on any rules that examine these.  The error redirect creates a second transaction that ModSecurity also sees.

In your configuration, when processing the second transaction (the one processed within the

[2021-03-16 17:29] zimmerle commented on #2531
Hi @sorin-costea,

Please contact sales@trustwave.com they will help you in this process.

[2021-03-16 17:29] #2531 closed, assigned to zimmerle

[2021-03-16 17:32] zimmerle commented on #2530
@vncloudsco it is possible for you to use 20.04 LTS instead of 18.04?

[2021-03-16 17:33] sorin-costea commented on #2531
I don't think sales can fix the website links...

[2021-03-16 17:37] zimmerle commented on #2531
@sorin-costea sales can help you with the commercial rules license and commercial information. As for ModSecurity, what kind of information are you looking for that is not on the GitHub project page?

[2021-03-16 23:28] zimmerle commented on #2536
@iosetek

The modSecurity life cycle is divided into different stages. The stage that the rules are loaded is not threading safe by design. The rules are meant to be loaded in a serial fashion, one file at a time, line by line. As the order of the rules matter, it is important to load it in the user-specified sequence. Changing the order expressed by the user may lead to a behavior that was not wh

[2021-03-16 23:48] zimmerle commented on #2534
Hi, @artemMartynenko  thanks for the interest in expanding ModSecurity bindings! That is awesome!!! :1st_place_medal: :+1:

Our effort towards releases is expressed on [GitHubProjects](https://github.com/SpiderLabs/ModSecurity/projects). What kind of bindings do you want to provide? To cover all library functionality or to cover pieces such as the rules parser?

I would focus on [v3/master](https:

[2021-03-17 01:45] liuyi commented on #2463
Sorry for the late feedback.

Log in modesec_audit.log at below:

[code]

[2021-03-17 04:01] vncloudsco commented on #2530
@zimmerle
On ubuntu 20.04 I did not get an error, this only happens when I use centos.

[2021-03-17 08:32] leancz commented on #2181
I am also seeing a handles leak. I narrowed it down to OWASP rule 901321.
Windows 2016, Apache 2.4.46, ModSecurity for Apache/2.9.3 (actual v2/master from github)
With rule 901321 - handles leak. Rule 901321 commented out: no handles leak.

[2021-03-17 09:34] cello86 commented on #2529
Hi @martinhsv,
Thanks for the tips and I configured the error page only for the 403 to file and i provide directly from the location /error. I noticed that the final configuration required on our target the propagation of the $request_id into the JSON payload. I used the sub_filter module to achieve this job and the final configuration is:

[code]

[2021-03-17 10:42] sorin-costea commented on #2531
I'm talking about the v2 GitHub site: [https://github.com/SpiderLabs/ModSecurity/tree/v2/master](https://github.com/SpiderLabs/ModSecurity/tree/v2/master)
Image 1: the project link (in red) is broken, the download link does NOT lead to any download at all:

![image](https://user-images.githubusercontent.com/3449432/111455054-a2c7d400-8715-11eb-9442-2dd31553be57.png)

Image 2 further below, another

[2021-03-17 14:20] iosetek commented on #2536
@zimmerle Could I reach you on slack or any other chat? I feel it would be quicker to solve this and I could paste the conclusion here.

I am afraid that ModSecurity Rules are not thread safe not only during the process of reading files.

In `ModSecurity/src/transaction.cc` we can see that there is called `m_rules->incrementReferenceCount();` in two places. This method looks like this:
[code]
This

[2021-03-17 14:45] azrdev commented on #2468
log with debug=9 is in this gist: https://gist.github.com/azrdev/fcd54cc8ee96f011c3d0b50fb4b744eb

I think the relevant excerpt is this:
[code]

those are lines 2522-2622 in the full dump, I removed the line headers for readability

sorry for the delay!

[2021-03-17 14:59] zimmerle commented on #2463
It seems like this block was not related to ModSecurity. Is that happens even with ModSecurity off? or in DetectionOnly?

[2021-03-17 15:07] zimmerle commented on #2530
As @martinhsv mentioned there is this bug on the compiler that I believe cannot be overcoming without an upgrade. Have a look at the issue thread to see if there is a workaround.

[2021-03-17 15:07] #2530 closed, assigned to zimmerle

[2021-03-17 15:09] zimmerle commented on #2181
@leancz  Thanks for narrow down to one rule. For the reference -

[code]

[2021-03-17 15:46] zimmerle commented on #2531
@sorin-costea fixed! thank you for let us know.

[2021-03-17 15:49] zimmerle commented on #2536
Sure - http://modsecurity.slack.com/ -- you can contact me over email as well: felipe@zimmerle.org

----

For the reference, here is the **m_referenceCount**  being used on Transaction ([v3.0.4](https://github.com/SpiderLabs/ModSecurity/blob/v3.0.4/src/transaction.cc)) -

https://github.com/SpiderLabs/ModSecurity/blob/753145fbd1d6751a6b14fdd700921eb3cc3a1d35/src/transaction.cc#L134-L139

On [v3/ma

[2021-03-18 15:29] martinhsv commented on #743
I just saw this older issue, and suspect that it is out-of-date (or possibly misclassified).

In investigating #2357, I found that ModSecurity 3.0.4 does not escape special characters in either the macro value or in the static portion of the regex pattern.

In other words I don't believe this is an issue in ModSecurity 3.x.

It is a legitimate issue in v2.9.x, however.  Escaping the special charac

[2021-03-18 15:49] henricook commented on #2534
This issue caught my eye, thanks for the projects link. Does that mean 3.1.0 is ready to go and will be released any day now?

[2021-03-18 19:30] martinhsv commented on #2468
The key portion of the output:

[code]

For this rule in your chain:
[code]

... I suspect you meant rx rather than rsub

[2021-03-19 07:25] artemMartynenko commented on #2534
Hello. Thanks a lot. The binding will cover main library functionality like Transaction, RuleMessage and so on.
From my personal plan, the first step will be just to allow usage of library functionality from Java. [Pull Request](https://github.com/bytedeco/javacpp-presets/pull/1012) for this is already created. The next step will be a WebFilter for Spring Framework which will allow using ModSecuri

[2021-03-19 10:42] senzi-jp commented on #2524
@senzi-jp Thank you very much.The problem still exists.

openresty-1.19.3.1
modsecurity-nginx-v1.0.1
modsecurity-v3.0.4

modsecurity.conf:
SecRuleEngine DetectionOnly

---------------------------------------------------------------------------------

./configure -j4 --prefix=/usr/local/openresty --conf-path=/usr/local/openresty/nginx/conf/nginx.conf --error-log-path=/opt/ngx_log/error.log --http-l

[2021-03-19 10:44] senzi-jp commented on #2524
I started four nginx processes, but one of them would periodically abort.

[2021-03-19 17:15] #2529 closed, assigned to martinhsv

[2021-03-22 11:11] senzi-jp commented on #2524
@

Thank you very much,The issue has been resolved.This is because the nginx-module-vts module was used when compiling nginx.I think there might be a compatibility problem.

[2021-03-22 13:40] #2513 closed, assigned to martinhsv

[2021-03-22 14:39] senzi-jp commented on #2524
Thank you very much.The problem still exists, and I haven't figured out why.

[2021-03-23 08:27] Olament opened #2538 "Inserting a "rule-hits" entry to response header"
Hi, I am currently working on testing the correctness of CRS and some customized rule sets with ModSecurity. For now, every time I sent a request, I need to go through the debug log to determine if the request hit the targeted rule. I am wondering if it is  possible to make ModSecurity inserting a "rule-hits" entry that contains all of the matched rules in the response header.

Something like this

[2021-03-23 15:08] martinhsv commented on #2538
Hi @Olament ,

What setup are you using?  Apache HTTP Server with ModSecurity 2.9.x?  nginx with ModSecurity 3.0.x?

Do you only need this to work for blocked requests?  I.e. you are only looking for the rule information to be in the response if the request never reached the web server (and you do _not_ need the information to be added to real responses from the web server)?

If hypothetically it

[2021-03-23 16:52] Olament commented on #2538
I am using Nginx with ModSecurity 3.x and yes it only need to be worked for blocked request. It does not have to be inside the Response header and having it inside response body is perfectly fine. So it is bascially like a customized 403 page from ModSecurity.

I did some research myself and the closest thing I can find is the Content Injection (prepend and append element into html body). But unfo

[2021-03-23 17:19] rudy500 opened #2539 "modsecurity 3.0.4 - Apache-Error with rules"
recusive error in Apache 2.4.41, PHP 7.4.16 fpm modsecurity 3.0.4-1bulid1, modsecurity CRS 3.2.0-1 and Ubuntu 20.04.2

don't see id code of rule and repeat this error everytime:

Apache-Error: [file "apache2_util.c"] [line 273] [level 3] [client XXX.XXX.XXX.XXX] ModSecurity: Rule 7fcb5152c980 [id "-"][file "/usr/share/modsecurity-crs/rules/RESPONSE-951-DATA-LEAKAGES-SQL.conf"][line "89"] - Executi

[2021-03-24 02:41] hsluoyz commented on #2538
@martinhsv , we have made some testcases for the CRS rules. For example, the testcases for rule 920170 are intended to trigger the rule in ModSec by manupulating some fields of the HTTP headers. But when we send the testcase request to ModSec, we can only get response of HTTP status like 200 or 403. If we got 403, we don't know which rule has been triggered and blocked our request.

For a better w

[2021-03-24 05:21] liuyi commented on #2463
This happens again when ModSecurity is turned off, but not when all the code in the NGINX configuration file is commented out.

[2021-03-24 06:48] airween commented on #2538
@hsluoyz - a couple of years ago I also picked up on this idea. This would be a good help.

For testing, especially for CRS you can use [ftw](https://github.com/coreruleset/ftw) (with Python 2.7).

There are two alternative solutions: [go-ftw](https://github.com/fzipi/go-ftw), which is beta, and [ftwrunner](https://github.com/digitalwave/ftwrunner), which tests only libmodsecurity3 without any HTT

[2021-03-24 07:14] hsluoyz commented on #2538
@airween actually we are also developing a test framework which is similar to the listed ones. And currently we are stuck at the place: how to get the triggered rules elegantly from the response of the challenging request.

I think it's a valuable feature which even can be integrated into the ModSec core code, as end-2-end testing is very important for WAF. Another obstacle is the new libmodsecuri

[2021-03-24 09:15] c4simba opened #2540 "SecRuleRemoveBy does not work with regexp"
**Describe the bug**

SecRuleRemoveBy does not work with regexp

**Logs and dumps**

Error log:
`[8:38 PM] Line: 1. Column: 39. Invalid input:  |wp_theme`

**To Reproduce**

Example of config

`modsecurity_rules "SecRuleRemoveByTag ^(wp_core|wp_theme)$"`

**Server (please complete the following information):**
Centos 8 + Cpanel server with installed ModSecurity3 from cpanel repository
https://docs

[2021-03-24 13:04] martinhsv commented on #2540
Hello @c4simba ,

For ModSecurity v3, the tag matching behaviour was intentionally implemented to not use regex.

Please see the discussion in https://github.com/SpiderLabs/ModSecurity/issues/2109 , regarding SecRuleRemoveTargetByTag.

[2021-03-24 13:32] martinhsv commented on #2539
Hi @rudy500 ,

If you are using ModSecurity v3 with Apache HTTP Server, please be aware that that is not recommended.  For Apache HTTP Server, ModSecurity v2.9.3 is recommended.

As a general statement for ModSecurity, you have correctly identified useful configuration items to adjust.  Your values are not particularly high and you could try adjusting them much higher (I would try at least 500000

[2021-03-24 14:10] Sachin-M-Desai opened #2541 "Query params not included in ARGS_NAMES|ARGS in GET request at phase:2 evaluation"
Not sure if this is a bug or a CRS rule limitation.

With the CRS rule ID 942270, any GET requests with SQL injections params in them arent detected. Assumption here is ARGS|ARGS_NAMES should contains query params as well (is it still true for libmodsecurity 3.x?).

_However, for GET requests this rules doesnt get hit unless phase level is changed to "phase:1"._

SecRule REQUEST_COOKIES|!REQUEST_C

[2021-03-24 14:38] airween commented on #2541
Are you sure there isn't any exception? I can't find the rule 942270 all in your attached debug.log - it should be at there. I tried your request (with `SecRuleEngine DebugOnly` - I assume your config has this setting), and the rule was triggered:

[code]
with this request:
[code]

See the last line in log snippet (`Rule returned 1`).

[2021-03-24 14:57] martinhsv commented on #2538
Hi @hsluoyz ,

If it were me, I would probably pursue one of two options as the simplest that I can think of at the moment -- and they are both variations on two of the three approaches you have already considered:

1. Use your option (1).  To match up audit log entries to the requests that triggered them, I would simply include a test-case identifier as part of the request data that will be in th

[2021-03-24 21:53] rudy500 commented on #2539
Hi @martinhsv,

Review your comments and apply changes but we have this comments:

--------------------------------------------------------------------------------------------------------
Review versión of modsecurity library for Apache

rys@moodleweb:/var/log/apache2$ sudo dpkg -l libapache2-mod-security2
||/ Name                     Version      Architecture Description
+++-=====================

[2021-03-25 03:50] Sachin-M-Desai commented on #2541
Root cause is found. We werent evaluating phase 2 and 4 unconditionally. Will provide an image today for this

[2021-03-25 04:18] Sachin-M-Desai commented on #2541
Thanks. Your simple response got me thinking in the right direction. The issue was that we werent running processing for phase 2 unconditionally. Now am able hit it.

Thanks for the help. Will close the ticket.

[2021-03-25 04:18] #2541 closed, assigned to nobody

[2021-03-25 06:08] Olament commented on #2538
@martinhsv, Thanks a lot! The second option is what we are looking for. This is a nice workaround.

[2021-03-26 13:50] kirana2507 commented on #2501
Hi I wanna ask, is modsecurity protect and give log when brute force attack web app based on Apache?

[2021-03-26 15:52] kirana2507 opened #2543 "Mod Security not detect Brute force attack on Apache server"
Hi, I wanna ask. Why mod security not detect Brute force attack on Log? and where can I find rules to protect brute force on mod security? thank you

[2021-03-26 19:05] #2540 closed, assigned to martinhsv

[2021-03-26 19:15] martinhsv commented on #2543
Hello @kirana2507 ,

ModSecurity is WAF engine with functionality to support detection of a wide variety of attacks.  However, you need rules to actually utilize that functionality.

There are numerous providers of rule sets, both paid commercial rules and free rule sets (the latter typically are generic rule sets).  One popular generic rule set is https://github.com/coreruleset/coreruleset.  Depe

[2021-03-29 08:05] Olament commented on #2538
Hi @martinhsv

Your proposed solutions works well in our testing environment. However, we ran into a problem of displaying correct response status.  Let's say there is a request that trigger a non-critical rule (which means that we expect ModSecurity not to deny the request but log it instead) and there is a request that trigger a critical rule. If we use the redirect method, we cannot tell the di

[2021-03-29 15:46] #2543 closed, assigned to nobody

[2021-03-29 15:51] zimmerle commented on #2539
@rudy500

The **pcre limit** values are set globally. Every other _mod__ could be changing this value in _run-time_. It is common having **php** overwriting those values. If you happens to have the _mod_php_ (or equivalent) loaded, double check the values you have for:  **pcre.backtrack_limit**, **pcre.recursion_limit**.

You can find further instructions here -
https://www.php.net/manual/en/pcre.

[2021-03-29 15:51] #2539 closed, assigned to nobody

[2021-03-30 01:32] martinhsv commented on #2538
That looks like a pretty reasonable solution to me.

[2021-03-30 05:12] #2538 closed, assigned to martinhsv

[2021-03-30 17:59] sachintendulkar10 opened #2544 "How to tell mod Security to use TLSv1.2 by default while Communicating with Auditconsole?"
How to tell mod Security to use TLSv1.2 by default while Communicating with Auditconsole?

Currently modsecurity is  using tlv1.1 by default and working see [1].

If i update Auditconsole SSL Protocol to use TLS1.2 then communication fails with unsupported protocol. see [2]

[1]
CURL: HEADER_IN HTTP/1.1 200 OK
CURL: HEADER_IN Server: Apache-Coyote/1.1
CURL: HEADER_IN Set-Cookie: JSESSIONID=0186B0F

[2021-03-31 01:37] Hello-Linux commented on #2381
@zimmerle   It often leads memory leak on nginx reload for branch 3.1-experimental

Describe the bug

We publish more frequently every day, and often reload nginx，every few days nginx has a memory leak,How to fix it?

Logs and dumps

Output of:
[code]

[2021-03-31 01:42] Hello-Linux opened #2545 "It often leads memory leak on nginx reload"
@zimmerle   It often leads memory leak on nginx reload using modsecurity branch 3.1-experimental and master,I hope that the official will fix this problem as soon as possible, which has a serious impact on the production environment.

And There is also why this problem #2381 was closed without being resolved!!!

I suggest that you officially do a test yourself. First, create a lot of virtual hosts

[2021-03-31 06:06] Hello-Linux opened #2546 "The modsecurity log is output to the nginx error log instead of /var/log/modsec_audit.log"
I set the input log to /var/log/modsec_audit.log in the modsecurity configuration file, why doesn't it take effect?
the config is
![2021-03-31 14-05-59 的屏幕截图](https://user-images.githubusercontent.com/17851645/113097886-47740680-922a-11eb-86ea-46debc11f222.png)

[2021-04-01 06:43] senzi-jp commented on #2524
@zimmerle
I found that the nginx process has an abnormal exit, and the number of 'Reading' increases every time the nginx process exits unexpectedly.

'2021/04/01 02:29:59 [alert] 61058#61058: worker process 21869 exited on signal 11 (core dumped)'

[2021-04-01 13:35] willyamcts opened #2547 "SecRuleEngine in VirtualHost"
In mod_security2 it was possible to use "SecRuleEngine" in VirtualHost, however in version 3 I am not able to use it. When I make the identical change from version 2, when trying to start Apache it returns a syntax error:
AH00526: Syntax error on line 8 of apache2/conf/extra/httpd-vhosts.conf:

[code]

Within the VirtualHost:
[code]

In version 3 not is possible use de SecRuleEngine in VirtualHost

[2021-04-01 14:20] martinhsv commented on #2547
Hi @willyamcts ,

ModSecurity v3 (aka libmodsecurity) is not recommended for use with Apache HTTP Server.

If using that web server, ModSecurity v2.9.x is still the recommended version to use.

[2021-04-01 14:33] martinhsv commented on #2546
Hi @Hello-Linux ,

Logging is impacted by several different settings.

First, What code branch are you talking about?  (I think you've looked at 3.1-experimental in the context of other issues)  Or should I assume that you are using ModSecurity v3.0.4 or the current v3/master.

Also:
- what rule is being logged to the server's error log, but that is not being logged to the audit_log?
- what disrup

[2021-04-01 14:36] martinhsv commented on #2545
Hi @Hello-Linux ,

What is this issue meant to convey that is different from your issue https://github.com/SpiderLabs/ModSecurity/issues/2502 ?

[2021-04-01 14:40] willyamcts commented on #2547
Hi @martinhsv,

I saw this recommendation on the main page, but nowhere does it say why. Could you tell me why?

Version 3 was announced in 2018 on the SpiderLabs blog by @zimmerle, for this reason we are in doubt.

Very thanks.

[2021-04-01 14:50] martinhsv commented on #2547
libmodsecurity with Apache is alpha code.  Although large portions of the functionality work correctly, it is not considered production ready.

[2021-04-01 20:30] #2547 closed, assigned to nobody

[2021-04-02 12:51] olivermoellmann commented on #2181
The token handle leak is not caused by ModSecurity directly but by function apr_uid_current (userinfo.c) from APR library. In version 2.9.3 apr_uid_current is called from function collection_retrieve_ex (persist_dbm.c). It was added with the following commit.

https://github.com/SpiderLabs/ModSecurity/commit/a3dc60212883186fb71ea421c237664fecbda35f

There is already a fix in APR trunk version.

ht

[2021-04-04 22:23] noloader opened #2549 "Response rules are running with 'SecResponseBodyAccess Off'"
I help maintain the Crypto++ library. Our online manual is at https://www.cryptopp.com/docs/ref/. ModSecurity is blocking _some_ of the pages served from the manual, like the documentation for our Base64 classes. The Base64 decoder docs are at https://www.cryptopp.com/docs/ref/class_base64_decoder.html.

We turned off response scanning with `SecResponseBodyAccess Off`, but response rules are still

[2021-04-05 16:15] fahmiegerton commented on #2480
I'm using nginx for Windows, but not IIS. Any tutorial or docs that I could take a look so I could set it up with nginx for Windows? Thanks

[2021-04-05 19:56] willyamcts commented on #2547
Hi, thanks for explanation #martinhsv.

just to keep it registered, using **modsecurity on** and **modsecurity_rules_file** it is possible to use it by VirtualHost.

Very thanks.

[2021-04-06 15:42] zimmerle commented on #2549
Hi @noloader,

According to the log message you have OWASP CRS enabled. The OWASP CRS is asking ModSecurity to block the request. It is likely that you have a second ```SecResponseBodyAccess``` entry that is enabling the request body in your system. Have a look at your configuration to see if you have this second entry.

[2021-04-06 15:42] zimmerle commented on #2549
Related to #2465

[2021-04-06 15:42] #2549 closed, assigned to nobody

[2021-04-06 15:43] zimmerle commented on #2546
No feedback from the user, closing the issue.

[2021-04-06 15:43] #2546 closed, assigned to nobody

[2021-04-06 15:45] zimmerle commented on #2545
Duplicate of #2502.

[2021-04-06 15:45] #2545 closed, assigned to nobody

[2021-04-06 15:47] zimmerle commented on #2544
@sachintendulkar10 What is your Modsecurity version? Can you share the logs?

[2021-04-06 16:28] noloader commented on #2549
Thanks @zimmerle,

It looks like `SecResponseBodyAccess` is `Off`:

[code]

[2021-04-06 16:58] airween commented on #2549
@noloader there is no correlation: `SecResponseBody Off` means that the affected variables (eg. `RESPONSE_BODY`) will empty for rules which uses. See the [reference](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#SecResponseBodyAccess).

The rules will be evaluated always (if there is no any exception), you can't control it with this directive - and this is the normal behav

[2021-04-06 17:01] noloader commented on #2549
Thanks @airween,

So I'm not sure what to do now.

We installed and enabled ModSecurity, and we started having problems serving pages. We tried to turn off outbound scanning because our pages are static and trusted. The pages are still being scanned.

At this point we've disabled ModSecurity. We can't have it DoS'ing our site.

Do you have any other suggestions?

[2021-04-06 17:11] airween commented on #2549
Please close this issue, and open a new one [here](https://github.com/coreruleset/coreruleset/issues). Please fill the issue template carefully: share all relevant info, but don't forget to anonymize it.

You can set the engine to detect the attacks but don't block them with `SecRuleEngine DetectOnly` - in that case all rule will evaluated, and you will have the necessary log entries.

[2021-04-07 10:00] Doriangaensslen opened #2550 "Mulltipart-XML: ModSecurity Fails to parse the request body as XML"
**Describe the bug**

When a multipart request with XML body in it is sent, Modsecurity fails to parse the request body as XML.

**Logs and dumps**

relevant debug.log
[code]
relevant error.log
[code]

**To Reproduce**

Configure in the http.conf the following:
[code]

Then make a multipart Request that contains XML as Body

Example:
[code]

**Expected behavior**

Wed expect ModSec to parse first

[2021-04-07 14:03] martinhsv commented on #2550
Hello @Doriangaensslen ,

The short answer is that support for that use case has never been implemented.

There is some explanation at https://github.com/SpiderLabs/ModSecurity/issues/902 that may be of interest.

Basically what is happening:
- there is no specific support in the ModSecurity parser for 'multipart/related'
- rule 200000 is matching the pattern and engaging the XML body parser
- the

[2021-04-07 17:12] ghost commented on #2418
I have same issue. Can anybody help ? @zimmerle  it's possible open this ticket again ?

[2021-04-07 17:27] zimmerle commented on #2418
@msavara Do you happens to have the file ```ngx_http_modsecurity_module.so``` at ```/etc/nginx/modules/```? What is the output of: ```ldd /etc/nginx/modules/ngx_http_modsecurity_module.so```

[2021-04-07 18:13] #2550 closed, assigned to martinhsv

[2021-04-09 07:54] Doriangaensslen commented on #902
@paissad
Thanks for sharing your solution, this helped us not just to deactivate the rule

@studersi
well thought. Indeed the beginsWith seems the more specific option.

```@beginsWith``` worked in our case too

[2021-04-11 04:54] Piju99 commented on #2418
You can try to disable SELinux temporarily. It will works.. The error are caused by SELinux

[2021-04-12 16:07] #2544 closed, assigned to zimmerle

[2021-04-14 05:58] Hello-Linux commented on #2381
@zimmerle It often leads memory leak on nginx reload using modsecurity branch 3.1-experimental and master,I hope that the official will fix this problem as soon as possible, which has a serious impact on the production environment.

And There is also why this problem #2381 was closed without being resolved!!!

I suggest that you officially do a test yourself. First, create a lot of virtual hosts,

[2021-04-14 06:11] Hello-Linux commented on #2381
I feel that this kind of problem has been going on for a long time, and I hope that the official will seize the time to fix it. This is a fatal problem and the priority should be the highest.

[2021-04-15 06:46] Hello-Linux opened #2552 "ngin reload memory leak"
It often leads memory leak on nginx reload using modsecurity branch 3.1-experimental and master,I hope that the official will fix this problem as soon as possible, which has a serious impact on the production environment.
I have raised this serious problem several times. When will the official fix it?

I feel that this problem should be solved first, but why haven’t you fixed it after so long?

An

[2021-04-15 20:59] andrewroazen commented on #2352
I have a situation where a form submitting to PHP has `INPUT type="file"` elements with attributes such as `name="obj_size['a1b3ff']"` that trigger IQ 1 even though the filenames are fine. I remove the single quotes and the problem disappears. This seems like a very bad parser at work if it can't discern a name attribute value (which the rule isn't supposed to detect or object to) from a passed fi

[2021-04-16 02:38] martinhsv commented on #2352
Hi @andrewroazen ,

Please see the earlier comment in this thread https://github.com/SpiderLabs/ModSecurity/issues/2352#issuecomment-737414748 .

Yes, the check was made more stringent due to idiosyncrasies -- and hence potential evasions -- due to PHP's parsing.

The reason this ticket is still open is because the current behaviour is indeed inconvenient and probably unnecessarily restrictive.

I

[2021-04-16 11:09] tomsommer opened #2553 "Parser breaks on % char"
This rule breaks the 3.0.4 parser

[code]

The `%`-char results in a "directive Rules must have an ID." error

[2021-04-16 11:38] tomsommer opened #2554 "ipMatchFromFile does not support comments in v3"
`ipMatchFromFile` supported `#`-comments in v2, this is not possible in v3 and just reports a generic error

[2021-04-16 13:35] martinhsv commented on #2553
Hi @tomsommer ,

While the error message that you are seeing is misleading, the underlying problem is that certain characters do need different treatment.  The '%' has special meaning for macro expansion, so I expect that is the reason you are encountering a problem.

For the rule in question, I would suggest trying one of these alternatives:
"@rx <[%]"
"@rx <\x25"

[2021-04-16 13:44] tomsommer commented on #2553
Should add this doesn't produce any errors in v2 (but now I'm unsure if it even works in v2)

[2021-04-19 14:44] andrewroazen commented on #2352
Where's the documentation as to how this is done, I commented out some lines and restarted httpd but the errors still occur on filenames with `'` in them suggesting I did it wrong (or there's some compilation step I overlooked).

[2021-04-19 14:56] willyamcts opened #2555 "SecConnReadStateLimit not yet supported"
In the current ModSecurity version 3.0.4, the SecConnReadStateLimit Apache directive does not initialize, return:
"SecConnReadStateLimit is not yet supported."

Not will have support to limit from connection in the current version?

[2021-04-19 15:02] martinhsv commented on #2352
There is no recompilation involved.

The detection in question happens because of rules, so the way to turn 'off' this detection is to modify your rules.

Have you had a look at discussion in https://github.com/SpiderLabs/ModSecurity/issues/2267 ? (This was referenced earlier in this issue -- in the July 7 comment).  That goes over some options.

[2021-04-20 18:15] willyamcts opened #2556 "Use of temporary variables in v3"
In tests to make temporary blocks with setvar and expirevar I noticed that the time and the increment of the variable seem to be failing. Rules used in the test below:

[code]

When reaching the limit configured  of 404 response (3 times == rule id:21) the variable resumes counting, the behavior does not always occur in the same way, sometimes the variable is reset to 3 times until the block is ma

[2021-04-20 18:45] airween commented on #2556
Fyi: `expirevar` [doesn't supported](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#expirevar) in libmodsecurity v3, it's a [known issue](https://github.com/SpiderLabs/ModSecurity/issues/1803).

[2021-04-20 19:16] karthik53 opened #2557 "How to identify if there are any attachments in REQUEST_BODY for creating an exclusion rule"
We are using ModSecurity CRS 3.0.2 and need to exclude rule 930110 which blocks requests if it contains patterns '../' and '..\'(Path Traversal Attack). If we attach a file while submitting the request, this pattern gets matched frequently and request is blocked which we want to avoid.

I was able to exclude the REQUEST_BODY using below:
SecRuleUpdateTargetById 930110 "!REQUEST_BODY"

Is there a w

[2021-04-20 19:26] willyamcts commented on #2556
Excusme, for lack attention. Very thanks

Is an equivalent directive foreseen?

[2021-04-20 20:02] airween commented on #2556
no prob :)

you may have to check [this](https://github.com/SpiderLabs/ModSecurity/issues/1803#issuecomment-474884652) solution.

[2021-04-20 23:33] martinhsv commented on #2557
Hi @karthik53 ,

First, regarding:

No. REQUEST_BODY is the whole body (unless truncated due to config settings).  There's really no way to be selective about what goes into REQUEST_BODY.

The reason your rule:

SecRule REQUEST_BODY "@contains filename" "id:1001,phase:1,pass,nolog, ctl:ruleRemoveTargetById=930110;REQUEST_BODY"

doesn't work is because it is a phase:1 rule.  At phase 1, the request

[2021-04-21 00:02] martinhsv commented on #2553
It may be possible to amend the v3 rule parser to accept '%' as a plain character.

But given that there are fully-functional alternatives, I think it's unlikely such a change would make the priority list anytime soon.

Closing ...

[2021-04-21 07:19] tomsommer commented on #2553
Could you at least improve the error message then? It was a real pain to debug.

[2021-04-21 07:58] tomsommer commented on #2186
Why even allow v3 to compile with libGeoIP 1.5.0 is it's broken?

[2021-04-21 20:29] martinhsv commented on #2555
Hi @willyamcts ,

I have never actually used that configuration item, but it may not be practical (or at least advisable) to implement that in ModSecurity v3 (at least not for nginx).

A primary motivation of SecConnReadStateLimit was to restrict the number of connections from a single IP address even when those connections have not finished sending the HTTP Request Header.

ModSecurity v3 does no

[2021-04-21 21:46] martinhsv commented on #2553
Fair point.  I have reopened.

[2021-04-23 18:14] frkngksl opened #2558 "ModSecurity C Function Binding for Lua on Apache"
Hi,

I want to use a C binded Lua script in my ModSecurity v3.0.4 setup. This lua script heavily uses Libxml2 because its main job is XML Schema Validation. I can run this script on Lua, and it works. However, when I want to add this script as a rule (SecRuleScript), it doesn't work as intended. The code block that is problematic is below (at least for executing over ModSecurity-Apache because it

[2021-04-23 19:29] martinhsv commented on #2352
I have recently both:
 - done some more code inspection of php source code and
 - experimented with both an older version of php (5.3) and an up-to-date version

... and I'm fairly confident that there is no risk with loosening this restriction, at least to the extent of my comment on Dec. 2.

Specifically, if the entire value is within double-quotes, then the presence of single-quote characters w

[2021-04-26 15:47] willyamcts commented on #2556
The workaround with TIME_EPOCH works, but it seems not 100%.

Using TIME_EPOCH sometimes receives a different value in the middle of the execution. See below:

Rules:
[code]

audit.log:
[code]

Note that in first request IP.TIME '1619443653' was assigned with the current timestamp: 1619443636, 1 second later another request is made and the variable IP.TIME is set to '1619443526' (2 minutes less th

[2021-04-26 18:51] blackgold opened #2559 "SSRF support"
is ssrf supported?

[2021-04-27 08:36] marcstern commented on #2217
Here is the a centralized function we're using for years:
[code]

[2021-04-27 08:38] marcstern commented on #2217
This is a duplicate of https://github.com/SpiderLabs/ModSecurity/pull/2046

[2021-04-27 18:16] flo-mic opened #2560 "Compile issue when enabling Lua support on alpine docker"
**Can not compile ModSecurity when using Lua 5.3**

I'm currently creating a custom docker container with nginx 1.18.0, ModSecurity v3.0.4 and OWASP v3.3/master on an Alpine 3.13.5 image.

I can compile ModSecurity without any issues when I have no Lua package installed. As soon as I install a Lua package I can not compile ModSecurity anymore. I installed the `lua5.3-dev` package via `apk add lua5

[2021-04-27 22:10] KrillinsWorld opened #2561 "Windows Version 2.9.3 seems broken for Apache 2.4.46.0 How can we get this going for Windows?"
**Describe the bug**
Windows Users Want to update to 3.x version but "no library" or info can be found. We would like to escalate this and figure this out for windows users? As version 2.9.3 doesn't work in setup tutorials we have followed, the SM runs, but doesn't protect? Documentation seems to outdated as well, 2.5.3? We would like to this change to protect our servers as well, as I am not too

[2021-04-28 15:52] flo-mic commented on #2560
Ok I gave it another try and was able to compile ModSecurity with lua5.1. If I use 5.2 or 5.3 this is not working with ModSecurity 3.0.4 on latest alpine image. Not sure if this is a problem as I read that ModSecurity 3.0.4 requires at least lua5.2-dev package but at least I was able to compile it. Maybe this helps someone else who also ran into that issue.

[2021-04-29 16:35] zimmerle commented on #2561
Hi @KrillinsWorld

The recommended version for Apache users (regardless of the operational system) is version 2.9.3; Is anything wrong with Apache Lounge distribution https://www.apachelounge.com/download/?

[2021-04-29 16:37] zimmerle commented on #2560
Hi @flo-mic,

What is the name of the lua .so file on Alpine?

[2021-04-29 16:45] zimmerle commented on #2559
@blackgold ModSecurity is just the engine. It allows you to inspect the request more easily via the SecRules. You may be looking for rules. You may want to look at the CRS project.

[2021-04-29 16:45] #2559 closed, assigned to zimmerle

[2021-04-29 16:47] flo-mic commented on #2560
Hi @zimmerle, thanks for your response.
When I have lua5.3-dev installed I can find the following lua.so files inside the folder `/usr/lib/lua5.3/liblua`

- lublua.so
- liblua-5.3.so.0
- liblua-5.3.so.0.0.0

Just tested it on a clean alpine image to be sure there are no other lua files available

[2021-04-29 16:50] karthik53 commented on #2557
Hi @martinhsv , thanks for responding.

I tried phase 2, but it didn't work.

Yes, the Content-Type is multipart/form-data, but FILES_SIZES and FILES_COMBINED_SIZE didn't work for me:
SecRule FILES_COMBINED_SIZE "@gt 1" \
   "id:1001,phase:2,pass,nolog, \
    ctl:ruleRemoveTargetById=930110;REQUEST_BODY"

SecRule FILES_SIZES "@gt 1" \
   "id:1001,phase:2,pass,nolog, \
    ctl:ruleRemoveTargetById=

[2021-04-29 16:56] zimmerle commented on #2558
@frkngksl In the use case scenario you have reported, the libxml library seems to share the address space with Apache and ModSecurity ( + any other Apache module loaded).

While sharing the address space, you need to consider that someone another piece of software already instantiates and perhaps configured the shared resource. You have to also consider permission issues for file and (special) mem

[2021-04-29 17:00] zimmerle commented on #2554
Hi @tomsommer that is already fixed on v3/master. Yet to be released. For the reference 42a16c71cfb995bb2cd76dab02f6fe7aa6b596be

[2021-04-29 17:04] flo-mic commented on #2560
@zimmerle I just made another test, If I just install the apk package lua-dev which is at the moment lua5.1 I can find the lua.so files in a different folder, maybe this is the reason why it works with lua-dev and not lua5.3-dev package.

The lua.so file for nowmal lua-dev packages is here:  `/usr/lib/liblua.so`
And the file for lua 5.3-dev is here: `/usr/lib/lua5.3/liblua/liblua.so`

[2021-04-29 17:05] zimmerle commented on #2553
Further 3.1-ish, the parser will support **warning** atop of **errors**; it will be smooth to tell the user when something does not appear to be correct. Or even be more verbose/clear/detailed on error messages, contemplating this use case.

[2021-04-29 17:05] #2555 closed, assigned to martinhsv

[2021-04-29 17:09] zimmerle commented on #2536
I am closing this issue. @iosetek has found a workaround by having a critical section on the rules load.

He does have a good and yet exciting use case for rules load. I am going to try to handle it on a new issue.

[2021-04-29 17:09] #2536 closed, assigned to zimmerle

[2021-04-29 17:16] airween commented on #2556
@zimmerle are you sure you wanted to assign this for me?

[2021-04-29 17:26] zimmerle commented on #2556
Since you have commented on the issue, I assumed that you are interested in providing a solution.

[2021-04-30 03:27] KrillinsWorld commented on #2561
We downloaded, installed 2.9.3, documentation is "outdated" and it was stated:  As version 2.9.3 doesn't work in setup tutorials we have followed, the SM runs, but doesn't protect?

This absolutely FAILED. Documentation unclear and confusing to webmasters like myself. What is unclear is where are these "rules" supposed to be placed as they can be put in so many locations. Apache in Windows Operati

[2021-05-01 12:31] frkngksl commented on #2558
Hi @zimmerle

Thanks for your advises, I solved the issue, each time before loading a schema we should call a function that cleanups the parser. However, the tricky part is although I restarted the apache several times, this doesn't cleanup the parser interestingly.

You can close the issue thanks for your help.

[2021-05-03 13:49] #2558 closed, assigned to zimmerle

[2021-05-03 13:58] PsycheSloLo811 commented on #2558
creative commons

[2021-05-03 14:00] zimmerle commented on #2561
@KrillinsWorld ModSecurity is just the engine. Together with ModSecurity you have to set up a set of rules.  ModSecurity itself won't give you mitigation for any attack.

Perhaps you want to look over a project such as OWASP CRS.

[2021-05-03 20:52] NeckBeardPrince commented on #2244
Any plans to write the manual?

[2021-05-03 21:48] martinhsv commented on #2557
Hi @karthik53 ,

Sorry ... I misread your original posting where you said 'ModSecurity CRS 3.0.2'.  What version of the ModSecurity _engine_ are you using (not the version of the CRS rules)?

I just tried the following in ModSecurity v3.0.4 and it worked fine:
[code]

One thing to check is that your exclusion rule (id:1001) is actually being executed before 930110.  The easiest way to do this is w

[2021-05-03 23:42] NeckBeardPrince opened #2563 "Are there any plans to create the Reference Manual for 3.x?"
I know a lot changed between 2.x and 3.x and seeing as how 3.x was released in 2017 documentation on it would be helpful.

[2021-05-04 13:05] martinhsv commented on #2563
I have very recently gotten started on that.

[2021-05-05 09:35] dune73 opened #2564 "Recommended rules: Expand 200001 / JSON body processor rule"
OWASP ModSec CRS project here. We have a pull request to override the very basic Content-Type definition in the
ModSec recommended rule 200001 (-> `REQUEST_HEADERS:Content-Type "application/json"`) with a much more comprehensive list of JSON CTs: [CRS PR 2049](https://github.com/coreruleset/coreruleset/pull/2049).

This is what IANA lists for JSON:

[code]

I would rather keep things separate, sin

[2021-05-05 10:25] defanator opened #2565 "XML: there is no way to obtain actual error message from libxml2 on parsing failures"
**Describe the bug**

It's impossible to get the actual error message produced by libxml2 when there's an issue with passed XML data.

While in some cases it's easy to get the required data by e.g. running `xmllint` against the payload (if it's known), in other cases it can be quite hard to understand what's went wrong (see e.g. https://github.com/SpiderLabs/ModSecurity-nginx/issues/246).

**To Re

[2021-05-05 22:39] KrillinsWorld commented on #2561
I have never heard of OWASP CRS. I do see some content in ModSecurity logs. I need to dig into Apache a bit more, as some functions there do not appear to be working. But as for rules, documentation is a joke. I will read them a bit more in detail when I have more time. Right now I am a bit busy with work as we are planning to leave for a weekend at the end of the month. Maybe I will find some tim

[2021-05-06 03:01] Olament opened #2566 "Cookie with empty key will crash ModSecurity worker process"
**Describe the bug**

The connection will be closed due to a "string index out of range" error under certain request.

**Logs and dumps**

[code]

**To Reproduce**

[code]

**Server:**

ModSecurity v3 on Nginx 1.17 official base image

--------
[This vulnerability (CVE-2019-25043)](https://nvd.nist.gov/vuln/detail/CVE-2019-25043) is found by [Microsoft WAFLab](https://github.com/microsoft/waflab),

[2021-05-06 07:26] Olament commented on #2566
I just realized the issue is already fixed by 9cac167fafd180902c2aa5dc6141aae874127199. However, because I am using the image ```owasp/modsecurity:latest```, which was published 2 yrs ago, the problem is still there. I am wondering if there is any reasons not redirecting the ```latest``` tag to ```v3.04``` build?

[2021-05-06 08:10] KrillinsWorld commented on #2561
Well, I took some time this evening to take a look at OWASP CRS and I have it set up and running on my Apache Web Server with mod_security. I gained interests in MS because the hosting company who hosts the core of my website uses this and there have been many problems with it with files on my account with my SMF forums, so I am curious as to why. Not sure if they have OWASP CRS set up on their se

[2021-05-06 10:03] frkngksl opened #2567 "Response Body Rules are Not Executed"
Hi,

Response Body Phase rules are not executed by ModSecurity, although content-type haeder of response is matched. Specifically, when I check the debug log, it says
[code]
I guess, it couldn't reach out the content-type header. I sent the GET request using Postman, and I can see the response headers contain a valid Content-Type header.

Debug log: https://gist.github.com/frkngksl/ae0e2744f04cde6

[2021-05-06 14:46] fzipi commented on #2566
Hi @Olament , sorry to learn about you had problems with the docker image. If you take a look at https://github.com/coreruleset/modsecurity-docker, we deprecated that scheme because we have "two" latest, v2 with apache, and v3 with nginx. Feel free to open an issue there if you fell like it helps.

[2021-05-06 18:00] fzipi commented on #2566
Proactively, and so others don't have the same problem, I've *removed the latest tag*. Now you need to choose a newer tag, please read the documentation!

[2021-05-06 19:27] fzipi360 commented on #2566
@zimmerle I guess this one can be closed :)

[2021-05-06 19:28] fzipi commented on #2566
@zimmerle I guess this one can be closed :)

[2021-05-07 02:11] Olament commented on #2566
Thanks!

[2021-05-07 02:11] #2566 closed, assigned to nobody

[2021-05-08 00:07] therealjack404 opened #2568 "Modsecurity 2 on Apache"
Hi, not really an issue more of a question.
I have modsecurity2 logging attacks on a vulnerable machine. It's configured to detect only and it logs attacks as JSON which is what I want and these logs are shipped to a SIEM. However currently every alert that is detected is logged to the same log entry in the log file. I am wondering if it's possible to make modsecurity log each alert as it's own lo

[2021-05-08 11:46] ffais commented on #2552
I have the same memory leak problem with v3/master.
I have also tried with v3/dev/3.1-experimental but there is a problem with some rules.

`"modsecurity_rules_file" directive Rules error. File: /usr/local/coreruleset/rules/REQUEST-901-INITIALIZATION.conf. Line: 320. Column: 29. Action: ctl:forceRequestBodyVariable is not yet supported.  in`

[2021-05-10 13:39] martinhsv commented on #2567
Hi @frkngksl

What version of ModSecurity are you using?

Could you please also provide the actual Content-Type response header.

Your config line:

[code]

... appears to be correct for those two "/xml" types.

[2021-05-10 15:35] martinhsv commented on #2568
No, there's no way to do that with ModSecurity's native controls.

If a single transaction produces two different detections (say one XSS and one SQLi), those will be output within the same json object in the same audit log file.

Since you're using JSON-format output, you could do some custom post-processing to split those up.

[2021-05-10 15:58] therealjack404 commented on #2568
Howaya,
Thank you for your response
Kind Regards
Jack Fagan

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: martinhsv ***@***.***>
Sent: Monday, May 10, 2021 4:36:07 PM
To: SpiderLabs/ModSecurity ***@***.***>
Cc: B00117180 Jack Fagan ***@***.***>; Author ***@***.***>
Subject: Re: [SpiderLabs/ModSecurity] Modsecurity 2 on Apache (#2568)

No, there's no way to do t

[2021-05-10 16:03] #2568 closed, assigned to nobody

[2021-05-10 20:48] frkngksl commented on #2567
Hi @martinhsv ,

I'm using v3.0.4 . The content type of  the response header is application/xml. From the logs, I suspected that it couldn't analyze the content-type header right?

[2021-05-11 06:38] KrillinsWorld commented on #2561
Would it be possible to build 3.0.4 in Linux and then copy the compiled file(s) for the module to windows to use? Also know as stated before Apache is now 2.4.47.

[2021-05-12 16:28] zimmerle commented on #2561
No. it is not possible.

Is there any problem with this particular version?

[2021-05-12 20:26] martinhsv commented on #2567
Hi @frkngksl ,

Yes, that is what appears to be happening.

I was not able to reproduce what you have reported in my 3.0.4 test environment.

If you'd like to share a .pcap file -- or other format that preserves all bytes  -- of a minimal reproduction, I could investigate further.

If you prefer not to do that, one thing you could try to do on your end is narrow down whether it is the header name

[2021-05-12 20:37] martinhsv commented on #2557
Hi @karthik53 ,

Any further information?  ModSecurity version?  Full debug log (at level 9)?

Since my test work fine, I don't think I can do anything further with your inquiry without more information.

[2021-05-13 04:51] KrillinsWorld commented on #2561
There are a lot of problems with out-of-the-box for OWASP CRS with wordpress and a few other PHP modules we use on the website of URL being carelessly blocked. So in all I have to say NO and disable SM from our website when these modules are needed. I just hope the module is NOT blocking bans from the game server. I am still learning how this works but it is working, just a bit overbearing when th

[2021-05-13 04:51] #2561 closed, assigned to zimmerle

[2021-05-13 16:42] zimmerle commented on #2561
In the first post I mentioned this url: https://www.apachelounge.com/download/ there you can find all the support for windows. Including 2.4.47, since April 29th.

OWASP CRS is a separated project and you can read more about it here- https://owasp.org/www-project-modsecurity-core-rule-set/

[2021-05-13 17:52] karthik53 commented on #2557
Hi @martinhsv,

Thanks for your help. I managed to find the problem with your hints. When I checked ModSecurity debug log with debug level '9', I understood that the my exception rule was never loaded. When adding REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf to rules.conf, I just added this file to be included at the end and I was not aware that rules will be loaded as per the order. I moved REQUES

[2021-05-13 17:52] #2557 closed, assigned to martinhsv

[2021-05-14 10:29] Vaibhavgoe opened #2569 "Regarding library documentation"
Dear Team,
  We are trying to create html formation of the library documentation written in Doxygen format.  After conversion , it shows the blank html file. Can anyone please help to get the library documentation.

Thanks

[2021-05-14 14:04] martinhsv commented on #2564
Overall I think this makes sense.  Given the already-established practice of having the included recommended rules engage the relevant parser, expanding to include more valid json types seems appropriate.

One initial caveat:

Of the types listed, I suspect we should exclude:
[code]

The definition of this type seems to specifically define the body as not being a single json object, but as a seque

[2021-05-17 18:26] zimmerle commented on #2569
Hi @Vaibhavgoe,

It is a while since the last time I generate those. I am going to look. Maybe we had an update on Doxygen/Doxygen m4 that broke our integration. I am going to check and I will get back to you.

[2021-05-17 18:29] zimmerle commented on #2552
@ffais memory leak is just happening when the parser brakes?

[2021-05-18 00:31] zimmerle commented on #2560
Hi @flo-mic,

Sorry for the massive delay in addressing this.

That is a very creative path for a package. Can you confirm where are the header files (e.g., lua.h)?

I would expect having it on ```/usr/lib/lua5.3/liblua/include/lua.h``` is that right? if so, this [branch (v3/dev/pkg-config)](https://github.com/SpiderLabs/ModSecurity/tree/v3/dev/pkg-config) should work fine for you.

[2021-05-18 07:32] ffais commented on #2552
No this also happens also when the parser work properly.

[2021-05-18 16:39] flo-mic commented on #2560
@zimmerle thanks for taking care of this issue.

The lua.h file is in a complete different location on the alpine package. I was able to find it here:
`/usr/include/lua5.3/lua.h`

In addition I tried the new branch (even if the path is probably wrong), but it fails during the run of `./build.sh`. See the log output below.
[code]

[2021-05-19 13:31] zimmerle commented on #2569
@Vaibhavgoe how exactly you are trying to generate the HTML files?

[2021-05-20 06:38] Vaibhavgoe commented on #2569
I am using Doxygen GUI frontend to generate the html. pls see attachment
![Capture](https://user-images.githubusercontent.com/41989159/118931031-1ed3d780-b964-11eb-8a2e-608b9032ce72.JPG)

[2021-05-20 12:47] zimmerle commented on #2569
Try to use the command line -- inside the folder doc, use:

[code]

you should have the **htmls** inside the **html** folder.

[2021-05-20 12:47] #2569 closed, assigned to zimmerle

[2021-05-20 20:09] zimmerle commented on #2560
I have made some changes on the build scripts and have it tested. That is what I did for testing -

[code]

The error ```fatal: No names found, cannot describe anything.``` is likely to happen if you execute  ***bulid.sh*** on the .tar.gz file, instead of using the git copy. Is that the case?

[2021-05-21 22:19] Alinthda64 opened #2571 "Compatibility of "FilterInFrame" rule and Rainloop webmail"
**Describe the bug**
The "FilterInFrame" rule blocks the installation of Rainloop 1.15.0

**A clear and concise description of what the bug is.**
Rainloop 1.14.0 and modsecurity works fine. But the rule "FilterInFrame" blocks the update and creates a 403 error.
Once the rule is disabled, everything works normally

**Logs and dumps**
[client xx.xx.xx.xx] ModSecurity: Access denied with code 403 (ph

[2021-05-21 23:48] martinhsv commented on #2571
Hi @Alinthda64 ,

This github project is really about the ModSecurity engine.  Rule sets are provided separately.

It sounds like your question is related to a particular rule from Comodo.  Specific questions about that rule are better directed to them.

[2021-05-21 23:48] #2571 closed, assigned to nobody

[2021-05-22 02:27] GutHib commented on #2381
+1

Server goes down every two weeks or so until I restart nginx. Been doing this for half a year now.

[2021-05-22 12:29] flo-mic commented on #2560
@zimmerle  thanks for taking care of this issue. I can confirm that the issue is now resolved.

Regarding the ./build.sh issue, I ran exact the same arguments as the last time but this time there was no fatal error. So this is also solved.

[2021-05-22 12:29] #2560 closed, assigned to zimmerle

[2021-05-22 12:39] GutHib commented on #2381
For the past six months, I've been waiting for 3.0.10 to become an official release so it comes down the regular update channels on my server (while patiently restarting a crashed nginx about every other week).

Should I still hold my breath, or go ahead and compile the experimental version?

[2021-05-23 01:19] PedroRTomas opened #2572 "Can't install YAJL with ModSecurity"
Hello,
Is there any updated script that I can follow in order to compile ModSecurity with YAJL in order to parse JSON content present in POST requests?
I've tried to follow: https://gist.github.com/rpfilomeno/1140359f4bd360137a98
But, some libraries not found related issues were thrown. (Mainly libxml2 and pcre)

At the moment, is there any way to accomplish what has been described without having

[2021-05-24 11:38] zimmerle commented on #2381
@GutHib what version are you currently running? did you ever tried v3/master?

[2021-05-24 11:47] zimmerle commented on #2572
Hi @PedroRTomas,

Can you share yours **config.log** file?

[2021-05-24 12:44] GutHib commented on #2381
I am running 3.0.4. on a server with Directadmin installed. Like with most control panels, by default you get to install all stable releases that come down through the regular update channels. I'm aware that I can go ahead and slap 3.1 on my server manually, but I don't want to make a mess of things. (Directadmin has its own install paths, and I don't want to end up with two competing versions or

[2021-05-26 16:55] zimmerle commented on #2572
@PedroRTomas: ping

[2021-05-27 10:24] Sachin-M-Desai opened #2573 "Multimatch rule hits have msg and data fields empty in audit logs"
**Describe the bug**

For rules that have been tagged with "multimatch", the audit logs are incomplete. Example below of rule 942130, the msg and data fields are empty. The issue is generic to all the rules tagged with "multimatch".

ModSecurity: Warning. Matched "Operator `Rx' with parameter `(?i:[\s'\"`()]*?\b([\d\w]+)\b[\s'\"`()]*?(?:<(?:=(?:[\s'\"`()]*?(?!\b\1\b)[\d\w]+|>[\s'\"`()]*?(?:\b\1\b)

[2021-05-27 10:57] PedroRTomas commented on #2572
Hi there,
Sorry for the delay. I end up being able to successfully compile YAJL, but with the 2.x mod_security version
(From: https://github.com/SpiderLabs/ModSecurity/tree/v2/master)

Despite that, in the next days I will try to replicate the process with 3.x version and share the config.log file, as requested.

[2021-05-27 11:16] zimmerle commented on #2572
Please re-open the issue whenever you have the info ready ;)

[2021-05-27 11:16] #2572 closed, assigned to zimmerle

[2021-05-28 01:06] zimmerle commented on #2552
I can confirm the issue on 3.1-experimental. However, that class of problem only happens in the warning framework, only available on 3.1-experimental. On v3/master warnings are treated as errors, the parser finishes abruptly, leaving no chance for leaks -- at least not on reload.

[2021-05-31 15:49] martinhsv commented on #2573
Hi @Sachin-M-Desai ,

Thank you for the report.  I am able to reproduce that effect in ~~both v3.0.4 and~~ current v3/master.

It looks like there is a fix for this in the (in-progress) 3.1 branch.

[2021-05-31 16:03] Sachin-M-Desai commented on #2573
Thank you so much for looking into it. Could you help us know when the fix or a potential fix might be available?

[2021-05-31 18:41] martinhsv commented on #2148
I was recently burned by this too.

I'm not really sure what the right solution is here.  I'll have to think about this a bit more.

[2021-05-31 21:01] airween commented on #2148
Hi @martinhsv,

thanks for caring about this.

Once I have written a seclang parser in C, used flex, just for fun. In that case I read the config files into a buffer first, where I could replaced the sequences - [here](https://github.com/digitalwave/msc_retest/blob/master/src/msc2.c#L85-L128) is a very similar function. (It does not need to replace the `\\` occurrence everywhere, only between the

[2021-06-02 14:38] martinhsv commented on #2573
The timing on that being available in v3/master is uncertain.

[2021-06-03 02:16] cmschlenke commented on #1933
Any word on when this will be reviewed and merged? I could really use this feature.

[2021-06-03 20:34] martinhsv commented on #2567
Was there anything further on this?

There are no known parsing -- or related -- bugs that would cause what you have reported.  Without additional information there really isn't anything that can be done with this item.

[2021-06-03 21:19] martinhsv commented on #2148
For the following use case:
- you want to detect two consecutive literal backslash (ASCII 5c) characters with a regex AND
- you want to be able to use the same rule across ModSecurity v2.9.x and v3.0.x

One simple way to deal with this is to specify each individual backslash with a character class.

A regex character class can be written with individual characters specified multiple times.  E.g. [

[2021-06-04 02:37] JasperSui commented on #2373
Hi @wutchzone, are you still facing this problem? I'm using the same spec as yours (ModSecurity V3.0.3 + OWASP CRS),
and we got 4 pods crashed in the production environment yesterday, have no idea what's going on because K8s just deleted those pods so we couldn't check the logs then.

How did you avoid this kind of problem finally? Just by turning off the audit logging?

Pod spec:
[code]

ModSecur

[2021-06-04 09:45] Sachin-M-Desai commented on #2573
Dont mind helping out to test any patch either if available early. Thanks again.

[2021-06-06 01:51] pcs9124 commented on #2552
We use Nginx with mod security in an autoscaling environment with nginx as a load balancer. We build it from open source. We recently upgraded to Nginx 1.18 w/ Modsecurity 3.0.4 and the memory leak is pretty severe. We have kept more instances running last 2 days to ensure there are not so frequent.

![image](https://user-images.githubusercontent.com/8757446/120909893-9bbabd00-c697-11eb-8e54-a3a49

[2021-06-06 19:08] airween commented on #2148
Thanks for the tip - I can confirm this workaround works as well in case of both versions: mod_security2 and libmodsecurity3.

[2021-06-07 10:04] HL123 opened #2575 "exec: Lua support was not enabled."
os: open suse 12.

1）When I compile ModSecurity，prompt lua was not enabled.

ModSecurity - v3.0.4 for Linux

---------------------------------------
 Mandatory dependencies
   + libInjection                                  ....v3.9.2-30-gbf234eb
   + SecLang tests                                 ....c8cf2c5

 Optional dependencies
   + GeoIP/MaxMind                                 ....found

[2021-06-07 13:15] #2567 closed, assigned to martinhsv

[2021-06-08 13:57] KernelPan1k opened #2576 "Question about IIS and Modsecurity"
Hello to all,

I'm not reporting a problem, it's some questions. I am interested in using modsecurity on IIS.

- Do you have plan to make an installer (.msi) for version 3 on IIS?
- If I start with an installation of version 2.9 and then upgrade to version 3, will my rules still be compatible?
- How long do you plan to stop maintenance on version 2?
- If you were to use modsecurity on IIS for a ne

[2021-06-10 12:16] willyamcts commented on #2575
@HL123  is required liblua. Check if there is a **liblua** installed. The installation lua not accompany the liblua, but obviously lua is requeriment to liblua.

If necessary compile liblua from source view https://www.linuxfromscratch.org/blfs/view/8.3/general/lua.html

[2021-06-10 20:01] willyamcts opened #2577 "SecUploadKeepFiles generate multiples files"
**Describe the bug**
I'm using file scan script via clamav ([coreruleset](https://github.com/coreruleset/coreruleset/blob/v3.4/dev/util/av-scanning/runav.pl)) and I ran into a problem apparently in the parameter "SecUploadKeepFiles".

In using "SecUploadKeepFiles" with Off value in conjunction with file scan rule via clamav, all uploaded files match the created rule, that is, all files are conside

[2021-06-11 13:54] martinhsv commented on #2577
Hello @willyamcts ,

It is not recommended to use ModSecurity v3 with Apache.  There are still enough portions of functionality that do not work correctly that it is not considered production-ready.

With Apache, ModSecurity v2.9.x is still the recommended version to use.

[2021-06-13 11:33] GutHib commented on #2381
Anyone?

[2021-06-14 13:43] rainerjung opened #2579 "2.9.4 released (and CHANGES wrong) or is the tag just an RC?"
There's a 2.9.4 tag (6 days old), but CHANGES says July 14 2021 as release date.
So is that a typo in CHANGES and it was already released (what date please?), or is the tag just a release candidate or similar and you expect to release on July 14th?

[2021-06-17 13:12] kudrom commented on #2381
Hi there,
First of all thanks a lot for the project, we use it to protect several resources in our company and we really appreciate the work you are doing, keep it up!
I've compiled the library in v3/master, v3/dev/3.1 and v3/dev/3.1-experimental and I see memory leaks in v3/master and v3/dev/3.1 once I reload nginx, I don´t see them in v3/dev/3.1-experimental as expected since the last commit the

[2021-06-18 11:54] dune73 commented on #2579
I do not know what's happening, but said release was quickly removed again. I wish the developers would explain what's going on.

[2021-06-20 14:56] HL123 commented on #2575
Thanks , When I install liblua, it has work。 While when I run it, it doesn't work。

I use nginx  + modsecurity + lua . The  modsecurity.conf  have this
   SecRuleScript ARGS:p “/appl/gap-nginx/nginx/lua/exec.lua” “block”

When I execute ./nginx -t ，it  prompt   the following information
“modsecurity_rules_file" directive Rules error. File: /appl/gap-nginx/nginx/conf/modsecurity.conf. Line: 34. Col

[2021-06-21 14:04] willyamcts commented on #2575
You compiled ModSecurity with "--with-lua" option?
See in output from compilation if liblua was included

MAYBE do you needs input full path dir or "lib" from lua:
`   --with-lua=/path/lua/lib`

[2021-06-21 18:14] archletekke opened #2581 "Whitelisting headers and all cookies"
Hey all,

I am veery new to ModSecurity and trying to figure out how one would go by whitelisting some request headers by their names (for example, "referer") and *all cookies* from scanning. I was deep in the source code already, but couldn't quite figure out how

What I tried so far is as follows but does not work:
[code]

What I am thinking for the headers stuff is as follows:
[code]

However I

[2021-06-21 20:35] martinhsv commented on #2581
Hi @archletekke ,

Assuming you want other portions of the request to still be scanned against your rule set, you don't really want to do things like that.

You don't mention which version of ModSecurity you are using, but typically the approach would be to use something more like SecRuleUpdateTargetById.

I usually suggest being more discriminating and only turn off analysis of rules/parts where

[2021-06-21 22:15] zimmerle commented on #2579
@rainerjung can you share the commit hash?

Indeed we have had a release scheduled for today -- have it announced here: [v2.9.4](https://github.com/SpiderLabs/ModSecurity/releases/tag/v2.9.4).

There may be something wrong with the automation scripts that let the release tag out before the expected date, even with the typo in the CHANGES, as you have mentioned. If you happen to know the commit has

[2021-06-22 09:34] rainerjung commented on #2579
No, I on't have the original commit hash and the tag unfortunately seems to be overwritten now.

[2021-06-22 13:31] #2577 closed, assigned to nobody

[2021-06-22 13:59] willyamcts commented on #2577
Thanks @martinhsv.

If it is feasible to keep the issue open for resolution in version 3.

I tested in version 2.9.3 and not generated multiple files in upload, i.e working ok

[2021-06-22 20:26] willyamcts commented on #2552
The same problem in Apache with ModSecurity v3.0.4 too, test show below

![mod3_1000rps](https://user-images.githubusercontent.com/20804939/122994437-d6eb0a80-d37e-11eb-863e-ef306a46c684.png)

[2021-06-23 07:19] dune73 commented on #2579
Would this help @zimmerle ?

![tmp](https://user-images.githubusercontent.com/618722/123053199-efe9cf00-d403-11eb-9c64-e59d98d3a234.png)

-> 782ede2

Also: Your repo links modsecurity.org on the front page, but the website redirects back to the repo. Is this temporary or have you given up on the website for good?

[2021-06-23 13:35] martinhsv commented on #2577
It would only be a valid issue in ModSecurity v3 if it occurs with supported software.  E.g. if used with nginx and the nginx connector.

[2021-06-23 13:48] #2581 closed, assigned to martinhsv

[2021-06-24 11:40] devikandixit opened #2582 "Could not set variable “USER.user_false_counter” as the collection does not exist in ModSecurity logs Apache (Windows OS)"
We are using apache module for our web server(windows OS). We need to prevent unsuccessful authentication attempt by the user. Hence we thought to use Mod Security module. I uses this standard configuration setting in "modsecurity-minimal.conf" as below SecStatusEngine On SecRule IP:bf_block "@eq 1"
"id:'2000004',phase:4,deny,
logdata:'Access denied [by IP] IP: @%{REMOTE_ADDR}, user: %{USER.name}'

[2021-06-25 17:42] martinhsv commented on #2582
Hello @devikandixit ,

You don't mention which version of ModSecurity that you have, but one likely problem that stands out immediately in your chained rule 2000012 is that:

- the first rule in the chain is matching (in the capture group) a string of alphanumerics followed by zero or more '=' characters.
- the second rule in the chain is then attempting to match that capture against the regex '^(

[2021-06-26 06:00] devikandixit commented on #2582
Hello @martinhsv,

I am using ModSecurity  2.x.
Thank you for your suggestion.
I will use debug log level 9 and check the log value.

[2021-06-26 13:58] devikandixit commented on #2582
I have matched capture group with regex. Still I am getting the error.

**Could not set variable "USER.user_false_counter" as the collection does not exist.
Could not set variable "IP.ip_false_counter" as the collection does not exist.**

I believe  **SecAction initcol:USER=%{TX.1}**  should initialize collection USER.
Please let me know whether anything I am missing.

[2021-06-27 00:13] monkburger opened #2583 "Performance bug; GCC 4 to 9.x with O1/O2/03 inline strlen() to a slower inlined expansion"
While doing some performance auditing of Mod Security (perf record/stat), I noticed that certain hot paths of code are slightly slower, after doing more investigation it appears that with Mod Security 2.9.4 that built with GCC 4.8.5 to 9.x, -O2 (and -O3) generate slow inline expansions of things like strlen(). I tested this out on CentOS 7 with GCC 4.8.5 to GCC 9, and my results are below;

-O0 (o

[2021-06-28 10:49] marcstern commented on #2583
use either '-fno-builtin' (recommended) or
      '-fno-builtin-strlen'
    The problem also seems to be present with many other string
    functions, like strncmp.
    '-fno-builtin' would probably add a penalty in a lot of functions
    (memcpy, ...).
    Wouldn't the best be to list all sting functions?

    On 27-06-2021 02:13, monkburger wrote:

      While doing some performance auditing of M

[2021-06-29 08:37] leyao-daily opened #2584 "why the rules load function calls sys_wait4 and csx_rethrow"
In the src/parser/seclang-parser.cc and src/parser/driver.cc, there are a few system calls to sys_wait4 but I can not locate the code s. Do I make a mistake?

[2021-06-29 15:12] dotiq commented on #2513
I somehow missed you responded to my thread, so if you'are still up to it, I turned on debugging, and grabbed the request_body (there are many instances of this request_body, just showing the first one):

[code]

I really don't want to disable this rule for everything, but if you have any work around suggestions, I'm all ears.

[2021-06-29 17:16] monkburger commented on #2583
According to my testing of a simple C program, repnz scasb is VERY slow, about 1 byte per CPU clock cycle on a Xeon. This is an actual GCC bug that is Present from GCC 3.x to GCC9/10 which was fixed upstream. At -O1/-O2/-O3, gcc always (even without known alignment) chooses to inline strlen as repnz scasb!

Agner Fo's optimization manual says that REPNE SCASB is to be avoided. The Intel optimizati

[2021-06-29 21:12] devikandixit opened #2585 "Could not block IP address of brute force attack using modsecurity & core rule set."
We are using apache windows web server. When client hits our web URL we have a log in page (this is apache managed) that authenticates the user.
We need to take action for unsuccessful log in attempts by the user.
We wanted to delay log in process for the brute force attacker after 3 unsuccessful log in attempts.

For this we are experimenting the use of **Mod Security** module (**ModSecurity 2.x*

[2021-06-30 02:48] echodreamz commented on #2456
Same issue here. Setting everyone to full control doesnt even solve the error. I've tried different directories etc. nothing works to get rid of this error.

[2021-06-30 03:06] echodreamz commented on #2456
After playing with this for a few more minutes and running procmon, I had to ultimately also give the IIS_IUSRS group read permission on the C: root which is very much not safe... There is a bit of a bug here, shouldnt need to grant that level of permissions on the root of a drive...

[2021-06-30 14:55] martinhsv commented on #2584
Hello @leyao-daily ,

Perhaps I have misunderstood you somehow, but I don't see the calls to which you refer in either of these two files:

https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/parser/driver.cc
https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/parser/seclang-parser.cc

[2021-06-30 15:26] martinhsv commented on #2582
Which rule is being processed when you see those messages?

[2021-06-30 16:33] zimmerle commented on #2552
Is this issue still happening with v3/master?  What is your distro?

[2021-06-30 16:34] zimmerle commented on #2552
@willyamcts Apache conector  for 3.x is not yet stable. Please use version 2.x with Apache.

[2021-07-01 02:56] leyao-daily commented on #2584
What confused me is that, when I call rulesset.load(...), the application will look for symbol sys_wait4, but I do not find anything about this in Modsecurity rules load. (driver.load)

[2021-07-01 07:35] pcs9124 commented on #2552
We have only tried on v3.0.4, not master.
nginx 1.18 on aws ami 2

We will build with master and report back.

[2021-07-01 10:37] Abce commented on #2502
maybe this PR (https://github.com/SpiderLabs/ModSecurity/pull/2580) can resovle you probole @Hello-Linux

[2021-07-01 11:57] zimmerle commented on #2552
thank you!

[2021-07-01 18:08] wm1227 commented on #2527
Hello . Thank you for your efforts , I have a  one question , is there an on line  new modsecurity  book  to buy ? ... I have read some but they are old version  .
Regards .

[2021-07-02 11:29] zimmerle commented on #2534
@artemMartynenko it sounds like an exciting project indeed!

Good to see that you already have significant progress. Great! 👍 👍 💯

There should be version 3.0.5 by next week. Likely to happen on Tuesday -- Jul, 06.

[2021-07-03 17:15] #2564 closed, assigned to martinhsv

[2021-07-05 07:47] DeveloperInMe opened #2587 "ByPass ModSec With Missing Content-Type In Request Header"
For any POST request to be sent if the request header does not have content-type present then it will bypass the rule processing request body for phase 2 and hit the origin without giving any error.

**Logs and dumps**

Output of:
 1. Attached Image
![MissingContentTypeBypassCase](https://user-images.githubusercontent.com/57210231/124434200-34c11e80-dd91-11eb-94c2-961339888a07.PNG)

_Notice:_ Be c

[2021-07-05 12:55] #2534 closed, assigned to zimmerle

[2021-07-05 14:14] martinhsv commented on #2587
Hi @DeveloperInMe ,

It's important to keep in mind the distinction between ModSecurity, which is the engine that provides the functionality to perform detections, and the detections themselves which are provided by rules that are the responsibility of the rule writer.

To my knowledge, no RFC actually states that a Content-Type header is required in a POST request (RFC7231 uses 'SHOULD ... unless

[2021-07-05 14:19] martinhsv commented on #2584
The source code for system functions would not typically be part of an application's code base.

[2021-07-06 17:03] martinhsv commented on #2582
Does your newer issue (#2585 ) imply that this issue is resolved?

[2021-07-06 17:13] martinhsv commented on #2585
Hi @devikandixit ,

This forum may not be the best place for an inquiry like that.  Questions that are specific to rulesets rather than to the engine itself are often best addressed in a forum for that particular ruleset.

I will, however, make a couple of suggestions:

Use the debug log (at level 9) to see what is happening.  Is rule 4001 being run at all?  If so is it showing 'Rule returned 1'?

[2021-07-06 17:56] devikandixit commented on #2582
This issue is not resolved. Still I am getting this issue.

[2021-07-06 18:01] #2587 closed, assigned to martinhsv

[2021-07-06 18:42] martinhsv commented on #2582
Yes.

I tried a version of your rules and I did not get the error messages that you report.  (Although my test was on Ubuntu.)

I'm going to need more information to do anything further with this.

At a minimum, per my question from 6 days ago: 'Which rule is being processed when you see those messages?'

And actually, the relevant debug log output would likely be useful.

[2021-07-06 18:42] devikandixit commented on #2582
Rule **1168948** is being processed when I see the error message.

Please have a look at below logs for the same

Initialising logging.
Starting phase LOGGING.
This phase consists of 2 rule(s).
Recipe: Invoking rule 1176f20; [file "./Apache/conf/extra/modsecurity-minimal.conf"] [line "19"] [id "2000015"].
Rule 1176f20: SecRule "RESPONSE_STATUS" "@rx 401" "phase:5,log,auditlog,pass,id:2000015,chain

[2021-07-06 19:01] devikandixit commented on #2582
We are using Apache server on Windows. We do not have our own custom login page for our web server. We are relying on OS controlled(NTLM/Kerberos Authentication)log in page. However log in page do not prevent user log in (delayed log in for ex)  after unsuccessful authentication. Hence we thought to use Mod Security to prevent it.

[2021-07-07 09:03] DeveloperInMe commented on #2587
Thanks for seeing to this and agree to what you have mentioned

[2021-07-07 13:42] martinhsv commented on #2582
The 200015 in that case is the relevant rule id.

You'd have to inspect earlier in the debug log, but it seems likely that the initcol in 200012 is not being executed for those transactions where you see the 'Could not set variable ...' messages.

If that is in fact the case, it would be useful to know whether:
a) 200012 is not being executed at all
b) 200012 is being executed, but the conditions

[2021-07-07 15:25] ffais commented on #2552
I made some test building from master, memory leak is still present.

More details:
nginx: 1.21.1
ModSecurity Commit SHA: faad65d3859c580a1aa428eb3009338452315f71
coreruleset: 3.3.2
Sites type: wordpress
Sites number: ~20
ModSecurity enabled at server level.

[2021-07-07 17:17] kudrom commented on #2552
We have the same problem, I've tested it in v3/master and v3/dev/3.1 and I see the leak in both, I don´t see it in v3/dev/3.1-experimental nor in PR #2580.
The more rules you load, the bigger the leak is.
I've tested it in nginx 1.18.0 on Ubuntu 20.04 LTS.

[2021-07-08 22:26] GAdoring opened #2589 "Observing memory leak with ruleset creation"
Creating and removing a ruleset is causing a memory leak in version 3.3

I am observing a memory leak with the operator objects not being freed, once the ruleset is cleaned up.
With a test program that initializes modsecurity, reads a ruleset and cleans up the ruleset

Code fragment:
global_modsec = msc_init();
global_rules = msc_create_rules_set();
const char* error = NULL;
msc_rules_add_file(glo

[2021-07-09 10:01] M4tteoP opened #2590 "Compile Modsecurity v3.x for WASM architecture"
Using emscripten (`emconfigure` and `emmake`) I am working on compiling the library libmodsecurity for WebAssembly.
[Referring to this issue](https://github.com/emscripten-core/emscripten/issues/14221) and [this solution](https://github.com/emscripten-core/emscripten/issues/14221#issuecomment-844733534), the main problem that I'm facing is that I am including paths to system headers (`-I/usr/inclu

[2021-07-09 12:51] zimmerle commented on #2590
Hi @M4tteoP, that sounds like an exciting project. What distro do you have? Is that the latest **emsdk**? I am trying to replicate the environment.

[2021-07-09 13:02] zimmerle commented on #2589
Hi @GAdoring,

The rules creation is associated with the loading of ModSecurity itself; it is held in Memory till ModSecurity closes. This piece of Memory is used as-is during the entire execution. Therefore, it is not something that impacts the production environment.

[2021-07-09 13:02] #2589 closed, assigned to zimmerle

[2021-07-09 13:12] zimmerle commented on #2583
Hi @monkburger,

Interesting findings. Considering the maintainability of the code, I would suggest the utilization of a GCC without this issue (patched or newer version) -- or clang, as oppose to having ModSecurity acting differently depending on the compiler version. Is it not an option?

[2021-07-09 13:13] zimmerle commented on #2575
Since there is no feedback from the user, I am assuming that the issue was fixed.

[2021-07-09 13:13] #2575 closed, assigned to nobody

[2021-07-09 13:45] marcstern commented on #2583
Any way to check if a GCC is buggy?
Not based on the version number, because a provider (Redhat for instance) patches the applications while keeping the same version number.

[2021-07-09 13:51] monkburger commented on #2583
[code]

Save that and then compile it with this to show the slowness;

gcc -O2 -std=c99 strlen.c -o strlen

vs Turning off inline expansion;

gcc -O2 -std=c99 strlen2.c -o strlen2 -fno-builtin

[2021-07-09 13:58] M4tteoP commented on #2590
hi @zimmerle, thanks a lot for your interest.
I am working on **Ubuntu 20.04.2**, emsdk is the latest one (**2.0.25**), just cloned a few days ago [from GitHub](https://github.com/emscripten-core/emsdk).

I post the result of `emconfigure ./configure` to show you all the dependencies installed:
[code]

To contextualize a bit the project, I'm working on implementing a security control based on Mods

[2021-07-09 17:27] GAdoring commented on #2589
It is not released when modsecurity closes.

global_modsec = msc_init();
:
:
msc_cleanup(global_modsec);

After this call to cleanup modsecurity, the memory is still left behind.
Is this expected?
What if the production system wants to dynamically load and unload a ruleset? Then this will be leaked each time..

[2021-07-14 17:34] willyamcts opened #2594 "Clear collections data (question)"
I would like to clean up ModSecurity collections eventually, any way to do this need to manually delete the "SecDataDir" files?

**Server (please complete the following information):**
 - ModSecurity version (and connector): ModSec v2.9.3
 - WebServer: Apache 2.4

[2021-07-15 13:11] zimmerle commented on #2589
That is indeed true, this code was migrated from ModSecurity version 2 where memory cleanups were held by deleting a memory pool. We expect to have this code replaced with pull request #2551.

[2021-07-15 14:48] #2584 closed, assigned to nobody

[2021-07-15 14:50] martinhsv commented on #2582
Anything further on this?

[2021-07-16 12:39] M4tteoP commented on #2590
I let you know that I have updated ModSecurity, I am now working with **v3.0.5-2-g465db29b**.
I tried to manually edit the MakeFile removing:

But still the command executed and relative inclusion errors are the same.

[code]

[2021-07-16 17:10] ffontaine commented on #2131
I don't understand why `libmaxminddb` was removed from `MAXMIND_POSSIBLE_LIB_NAMES`. `libmaxminddb.pc` is the pkg-config filename used by upstream libmaxminddb: https://github.com/maxmind/libmaxminddb/blob/main/src/libmaxminddb.pc.in. So, as a result, build is broken with libmodsecurity 3.0.5 and any up-to-date buildsystems such as buildroot.

[2021-07-19 17:27] KrillinsWorld commented on #2561
All pointless information regarding getting this BUILT for Windows. Being
as you like dragging your feet on this subject I have since MOVED my
subdomains to my Linux server and I am now running 3.0.4 after almost 25
minutes to install from building. But it is working. With the GeoIP being
depreciated and all the .dat files I could find NEVER WORKED, I
mainly wanted to use v3 to use the .mmdb file

[2021-07-20 13:34] martinhsv commented on #2594
Hi @willyamcts ,

If you want to delete an individual collection variable, a typical way to do this is with something like (from https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#setvar):

[code]

But it sounds like maybe want something broader than that.

You may want to have a look at relevant pages in 'ModSecurity Handbook' (pp. 123-124 in this edition; p. 128 in the 2nd ed

[2021-07-20 13:38] #2585 closed, assigned to nobody

[2021-07-21 02:44] bbrendon commented on #2039
@Metztli can you elaborate on how you resolved this? Did you install an lua package? what do you mean by leave only latest?

[2021-07-21 04:59] Metztli commented on #2039
If your build is failing, make sure to read the note at the very end of my reply.

Yet, if you need a hint on requirements prior to build ModSecurity 3...

@bbrendon

i.e.:

We fetch Debian packaging for ModSecurity 3 XZ compressed TAR archive, either for Buster, Bullseye, or Sid, from https://packages.debian.org/buster/libmodsecurity3

For instance, we select for Debian 10 Buster stable distribut

[2021-07-21 07:39] airween commented on #2039
Just for the record: if you want to use libmodsecurity3 (and optionally Nginx), you can use [this repository](https://modsecurity.digitalwave.hu).

I try to keep up-to-date all packages (especially now I'm a bit late for all distrib, except Debian 10, which is up-to-date)

[2021-07-22 19:55] willyamcts commented on #2594
Hi @martinhsv, thanks your explanation.

Good, this worked. But exist any way to remove without using rules (including script that is invoked via rule) ??

For clear all collections, i'm delete files in path "SecDataDir". But afect all collections.

[2021-07-23 07:42] vloup commented on #2208
Hi Marc,

I just tested your fix against modsecurity 2.9.3 (Debian buster, I created a new patched deb file with quilt), and it seems you code  compiles only if you run configure with `--enable-large-stream-input`. So far the results do look promising.

A proper fix would be to ifdef the assignation of `msr->stream_input_allocated_length` like that:
[code]

[2021-07-23 14:24] marcstern commented on #2208
Correct

[2021-07-24 11:42] frankvanbever opened #2595 "ModSecurity fails to build on Buildroot with MaxMind enabled"
**Describe the bug**

ModSecurity v3.0.5 fails to build on Buildroot when MaxMind is enabled. Buildroot depends on pkg-config for the cross compilation to work. Upstream MaxMind uses `libmaxminddb` as the pkg-config package name [https://github.com/maxmind/libmaxminddb/blob/main/src/libmaxminddb.pc.in](https://github.com/maxmind/libmaxminddb/blob/main/src/libmaxminddb.pc.in).

This was removed fro

[2021-07-25 16:11] arnout commented on #2131
It's because MAXMIND_POSSIBLE_LIB_NAMES is used both for pkg-config and for matching the library name itself.

I think the solution is not to use it for pkg-config, because it was never called anything other than libmaxminddb. So replace

[code]

with

[code]

[2021-07-26 06:53] vloup commented on #2208
I pushed this code change on our environment on the 22nd at 12:00.

Here is the memory plot that confirms that things got way better now. Instead of having a daily reboot of our modsec container due to memory leaks, we're seeing it way more stable with no restarts for the last 3 days.

![2021-07-26_08-47](https://user-images.githubusercontent.com/2750613/126945037-2341a31d-0c0c-4a31-8275-97dd1b5a7

[2021-07-27 09:44] titucse opened #2597 "Which rules to enable from the available 15138 ModSecurity Commercial rules for a Banking App"
We have purchased a license for Trustwave ModSecurity Commercial Rules. There are total 15138 rules. Which rules should enable from the available 15138 ModSecurity Commercial rules for a Banking App. Can anyone help please?

**App Description:**
This is a banking app. Bank customers need to register to use the app. During the registration process customers take selfies and take photos of ID docume

[2021-07-28 11:56] willyamcts commented on #2594
Hi,

Found sdbm-utils to remove specific collections.

Here is the repository: https://github.com/SpiderLabs/modsec-sdbm-util

Thanks @martinhsv.

[2021-07-28 11:56] #2594 closed, assigned to martinhsv

[2021-07-30 07:43] marcstern commented on #2583
For those interested, here is the result on a CentOS 8 fully updated:

Inline on:
strlen: 6.855100 ns/call
strlen (cold): 244.259200 ns/call
strlen: 9.960600 ns/call
strlen (cold): 240.903600 ns/call
strlen: 9.806600 ns/call
strlen (cold): 246.326100 ns/call
strlen: 9.407400 ns/call
strlen (cold): 249.770800 ns/call
strlen: 9.563400 ns/call
strlen (cold): 244.109700 ns/call
strlen: 10.503800 ns/ca

[2021-08-03 20:14] martinhsv commented on #2597
Hi @titucse ,

This forum is really for questions and issues pertaining to the open-source ModSecurity engine, rather than information about particular rule sets.

For questions about the Trustwave's Commercial Rule set, a better avenue would be to contact their support for that product.  There is a some information here:

https://www.trustwave.com/en-us/company/support/

Select 'ModSecurity' in t

[2021-08-03 20:14] #2597 closed, assigned to martinhsv

[2021-08-03 23:23] ghost opened #2598 "Bug in regex looking for update in text"
blanket search for the word update in saving a record

A clear and concise description of what the bug is.

Matched "Operator `Rx' with parameter `(?i:(?:[\d\W]\s+as\s*?[\"'`\w]+\s*?from)|(?:^[\W\d]+\s*?(?:union|select|create|rename|truncate|load|alter|delete|update|insert|desc))|(?:(?:select|create|rename|truncate|load|alter|delete|update|inser (113 characters omitted)' against variable `ARGS:for

[2021-08-03 23:30] #2598 closed, assigned to nobody

[2021-08-05 15:59] Nurmagoz commented on #1344
what happened to this ticket? is it support or not? cc @zimmerle

[2021-08-06 07:50] KIC-8462852 opened #2599 "modsecurity-2.9.4.tar.gz.asc is not a detached signature"
Hi, can you please check the modsecurity-2.9.4.tar.gz.asc signature file? It is not a detached signature as it used to be. Thx.

[2021-08-06 20:19] #2468 closed, assigned to nobody

[2021-08-09 11:49] hyc opened #2601 "LMDB support is broken"
**lmdb.cc misuses the LMDB API in multiple ways**

The code calls mdb_dbi_open/mdb_dbi_close in multiple locations without any concurrency protection.
The API doc clearly states that mdb_dbi_open must not be called from multiple transactions at once.
The doc also clearly states that mdb_dbi_close is not protected at all and must never be called from
more than one thread at once. The doc also state

[2021-08-11 16:23] ghost opened #2603 "apache and modsecurity"
I have been trying to build modsecurity 3.0.5 and modsecurity-apache 0.0.9-beta1 and am really struggling.

I have seen a comment from zimmerle saying that "currently modsecurity-apache supports modsecurity 3.0.4" - but I don't know what version of modsecurity-apache "currently" refers to. Is it still the case as at today? or have things changed.

Subsequently I have tried to build 3.0.4 and am se

[2021-08-12 20:01] martinhsv commented on #2603
Hi @rickyrocker ,

It is not recommended to use ModSecurity v3 with Apache. There are still enough portions of functionality that do not work correctly that it is not considered production-ready.

With Apache, ModSecurity v2.9.x is still the recommended version to use.

Re:

There is a response here at least:
https://github.com/SpiderLabs/ModSecurity-apache/issues/77

The Apache connector has not

[2021-08-14 10:59] shaghayegh9574 opened #2605 "Modsecurity rules problem"
Hello everybody
I am using modsecurity v3.0.5 with nginx v1.20.1.
When I tried to test nginx configuration, I had problem with two rules. I can't understand what the problem is.
**First rule is:**
[code]
and result of nginx test is:

The syntax test is ok but what are these two words at the end of the result: **t:none,t:urlDecode**
**And the second rule is:**
`SecRule TX:drupal_xmlrpc "@eq 1" \
	"

[2021-08-16 15:53] martinhsv commented on #2605
Hi @shaghayegh9574 ,

For the first of the two rules that you mention, I expect you are hitting a parsing anomaly caused by the literal '%' sign.  There is an open issue for that here: https://github.com/SpiderLabs/ModSecurity/issues/2553 .  You should probably consider using one of the two alternatives provided there.

I'm not sure off hand what the problem is with your second rule.  Do you have

[2021-08-17 01:25] martinhsv commented on #2605
Hi @shaghayegh9574 ,

It looks like a problem with using the equals sign in xpath expressions has previously been reported.  See this open issue:  https://github.com/SpiderLabs/ModSecurity/issues/2328

In your specific case, perhaps using something like contains() instead of an equality operator might be a usable workaround.

[2021-08-17 19:19] alekravch opened #2606 "Add ctl:auditengine action support to libmodsecurity"
Hello.
Suggest to make work “ctl:auditengine” option.
Attached patch implements this.
[ctl_auditengine2_patch.txt](https://github.com/SpiderLabs/ModSecurity/files/7002434/ctl_auditengine2_patch.txt)

Feature ctl:auditengine is not yet implemented, but IMHO it’s quite important and useful feature for logging and debugging, mentioned even in ModSecutiry Handbook (Chapter 4. Logging.   Selective Audi

[2021-08-19 18:49] martinhsv commented on #2606
Hi @alekravch ,

You are correct that ctl:auditengine has not been implemented in v3 thus far.

Note that a change in the 3.1 development branch was made to produce an error message if that action is used rather than simply failing silently  ( https://github.com/SpiderLabs/ModSecurity/commit/0466a5ab570a37de9a07cdffb581a8fb6e0828c2 ).  That may or may not eventually proceed to v3/master.

It is ce

[2021-08-19 18:54] martinhsv commented on #2605
Since both items discussed here are duplicates of already-open issues, I will go ahead and close this.

[2021-08-19 18:54] #2605 closed, assigned to martinhsv

[2021-08-22 07:13] alekravch commented on #2606
Hi,

The problem with ctl:auditLogParts is that it can't disable auditlog altogether - A and Z parts are mandatory and can't be turned off.

Downsides (in my opinion) are:
 - Littering audit log with extra unneeded info, when log only for the specific situation is necessary.
 - Possible performance impact on heavy load system  - audit engine is init and A and Z parts can be logged for all requests

[2021-08-23 19:18] dangdh16 commented on #2447
Hi, anyone still here. I got some error. I had installed libmaxminddb and libmaxminddb-devel successed. But still same log.
![image](https://user-images.githubusercontent.com/81327588/130504958-0f15e2bc-94bf-4427-b40e-a0a7314efd3a.png)

[2021-08-24 02:45] stellarpower commented on #1941
This file (along with others) are included in the automake [here](https://github.com/SpiderLabs/ModSecurity/blob/bf881a4eda343d37629e39ede5e28b70dc4067c0/Makefile.am#L347) but don't seem to be copied over as part of a standard configure, make, make install process. Would it be possible to have one of the following?

- Include copying these files in install process as part of default recipe
- Add a

[2021-08-25 22:01] martinhsv commented on #2606
Agreed that the implementation is not particularly complex.  I guess I'm still wondering about the usefulness.  In other words, what are the underlying use cases for which this is considered desirable by current users of ModSecurity.

A couple of examples:
A) An automated health check HTTP request to my server is causing false positives and filling the log.  If the IP address is that single known

[2021-08-25 22:01] #2603 closed, assigned to nobody

[2021-08-26 06:32] airween commented on #2606
I don't have any useful instance, therefore I can't check it, but as I remember, once we ran into this problem:

- Nginx as HTTP proxy
- libmodsecurity3
- back end server sends the response with 4XX code (eg. 404)

The proxy logged these requests, we couldn't turn off the auditlog engine, and those log entries filled the disk (without any ModSecurity warning). In that case, that would have been ni

[2021-08-27 12:48] kriskhunthong opened #2608 "ปัญหา LCP: นานกว่า 4 วินาที (อุปกรณ์เคลื่อนที่) องค์ประกอบที่คลิกได้อยู่ใกล้กันเกินไป ข้อความมีขนาดเล็กเกินไป"
Content removed.

[2021-08-27 21:09] martinhsv commented on #2608
I'm going to simply close this.

There is no actual information in the ticket, and there are some suspicious indicators re: the linked web site.

[2021-08-27 21:09] #2608 closed, assigned to nobody

[2021-08-27 22:23] florianock opened #2609 "Logging behavior for phase 5 rules/actions not as expected"
**Describe the bug**

Logging for rules/actions in phase 5 seems broken. 'log,noauditlog' and 'nolog,auditlog' for example don't work as expected and sometimes seem to have no effect. The same messages get logged to both files and if 'noauditlog' is used, nothing is logged; not even in the nginx error log. The strange thing is that the debug log states saving to logs  (for rule id 9080133) `[16301

[2021-08-29 07:34] Dosyk opened #2610 "ModSecurity 3.3 doesn't block POST requests"
ModSecurity 3 (for Apache) doesn't seem to be blocking anything sent through post (like forms). Logs say:

But the request is being sent straight into database and added there.

GET requests like that are momentarily blocked in browser with 403.

I tried setting

But no luck there, nothing changed.

Am I being dumb or what is the problem and how can I solve it?

[2021-08-29 08:20] Dosyk commented on #2610
Another issue is that it doesn't block pages with php errors, even though php-errors.data is inside the rules directory.

[2021-08-30 07:22] dune73 commented on #2609
Very detailed write up. Thank you.

[2021-08-30 07:34] alekravch commented on #2606
Hi,

For example I don't need audit log feature for normal requests and I have to keep audit log turned off due to the reason of performance or disk storage.

Then I have some client experiencing problem and to debug this problem I want to capture all activities (via audit log) for this specific client only. So it would be nice to have a feature to turn audit log on locally for the specific condit

[2021-08-31 16:17] agjini opened #2611 "Request body truncated (Multipart: Final boundary missing) even if SecRequestBodyLimit is set to a higher limit"
**Describe the bug**

We use modsecurity with nginx.

We have set the parameter `SecRequestBodyLimit` to 150 Mb.
When we try to upload a file of 23Kb, we receive a 400 bad request from mod security with the message :

"Multipart: Final boundary missing."

We expect that the file will be not truncated. We tried lots of different configuration without success.
Are we doing things wrong ? What are-we

[2021-09-01 15:42] agjini commented on #2611
Ok. I've found the problem :-)

According to the logs mod security failed to create the file on tmp upload dir.
So i've ensured that the folder /tmp/modsecurity/upload folder exists and nginx has the permission to write into !!

And its works.
The missing boundary was a consequence not the real problem.

So i'm closing the isse

[2021-09-01 15:42] #2611 closed, assigned to nobody

[2021-09-01 19:19] adrelanos opened #2613 "build broken on Debian bullseye - ../libtool: line 1733: 84059 Aborted (core dumped) ar cr .libs/libmodsecurity.a"
[code]
[code]
[code]

Is `fatal: No names found, cannot describe anything.` an issue? https://github.com/SpiderLabs/ModSecurity/issues/1630#issuecomment-352416967 says `./build.sh` can be skipped.

[code]
[code]
[code]

Could you advice please on how to debug, fix this?

[2021-09-02 07:36] ledzepp4eva opened #2614 "SecRule with nolog is still logging."
**Describe the bug**

We have created a `SecRule` to allow a certain type of request, however despite the rule working the below is still logged into the nginx error log, this is happening in `DetectionOnly` mode, so it's hard to know the rule we have added has actually worked without setting `SecRuleEngine` to `On`, again where it logs however is not blocked.

**Logs and dumps**

[code]

[code]

[2021-09-02 08:26] berrabe opened #2615 "Empty Message on JSON Audit Logs #2"
**Describe the bug**

So i have Grafana under nginx reverse proxy [NginxProxy + ModSec](https://hub.docker.com/r/berrabee/nginx-proxy-modsec), but somehow in grafana there is a websocket error in console js (403)

I've followed some of the steps described in this issue ([1866](https://github.com/SpiderLabs/ModSecurity/issues/1866)) but it still doesn't work

<br><br>

**Logs and dumps**

1. Nginx

[2021-09-02 10:03] void-in commented on #2614
Depends on where you have added your own rule. If the CRS is being loaded and processed before your rule, it would match before your rule and will be logged. Also, I think instead of pass, you need to use allow so stop further processing of the rules if that is what you want.

Or you need to use SecRuleUpdateTargetById
[code]

[2021-09-02 14:08] martinhsv commented on #2610
Hi @Dosyk ,

The ModSecurity engine and the Core Rule Set (CRS) have separate versioning and are handled by different groups.  3.3 is the version of CRS that you have, not the version of ModSecurity.

If you are actually using v3.0.x of ModSecurity with Apache HTTP Server, be aware that that is not recommended.  The functionality is sufficiently incomplete that it is not recommended for production

[2021-09-02 16:31] martinhsv commented on #2614
Hi @ledzepp4eva

Just to add one extra note of clarification here, when you say:

The nolog action means 'do not perform the logging for the current rule'.  It does _not_ mean 'perform no logging for this transaction'.

The log excerpt that you have included is consistent with this.  Rules 930110 and 949110 have been logged but rule 7 (which has the nolog action) has not been.

[2021-09-02 16:50] martinhsv commented on #2601
Hi @hyc ,

Thank you for the detailed report.  It does indeed look like we have at least some issues there.

I'll try to take a closer look at this soon.

[2021-09-06 07:25] shaghayegh9574 opened #2617 "Modsecurity created logs with empty message in rules which contain multimatch"
**Describe the bug**

When a rule contains multimatch, modsecurity created logs with empty message.

**Expected behavior**

For example for bellow rule, modsecurity message should be  **Possible remote command execution**, but it is empty.

**Server:**
 - ModSecurity version (and connector): ModSecurity v3.0.5 with nginx-connector v1.0.2
 - WebServer: nginx 1.20.1
 - OS (and distro): Ubuntu 18.04

[2021-09-07 13:23] martinhsv commented on #2328
These are similar issues, but the workaround situation is different.

@airween ,

For your case, a reliable workaround should be to use a character class:
[code]

@dennus ,

For XPATH, in a recent case that I encountered, using contains() instead of an equality operator proved a reasonable substitute.  This may not be sufficient in all cases, however.

[2021-09-07 13:32] martinhsv commented on #2617
Hi @shaghayegh9574 ,

It sounds like this is duplicate of the open issue https://github.com/SpiderLabs/ModSecurity/issues/2573 .

Feel free to correct me if I am mistaken.

[2021-09-07 14:42] airween commented on #2328
thanks

[2021-09-09 13:23] martinhsv commented on #2614
Was there anything more on this?  If not, I will proceed to close this issue.

[2021-09-09 13:42] ledzepp4eva commented on #2614
Apologies. Feel free to close it and thank you all for the feedback.

[2021-09-09 13:42] #2614 closed, assigned to nobody

[2021-09-09 18:45] airween commented on #2553
I think this issue is duplicated of [#2145](https://github.com/SpiderLabs/ModSecurity/issues/2145).

We use `\x25` as workaround.

[2021-09-09 20:46] mthbrown opened #2618 "Broken Examples Between v3.04 and v3.05 + master"
**Describe the bug**

Hi,

While trying to run the example `simple_request` (under `examples/using_bodies_in_chunks/`), I noticed that it works fine under 3.04 but breaks under 3.05. The build steps are the same in both. Here is the difference in output. First, we have the working version (v3.04):

[code]

and then on v3.05

[code]

I get the same error regardless of the rule file used. The same b

[2021-09-09 21:44] shaghayegh9574 commented on #2617
Hello @martinhsv,
You are right, thank you.

[2021-09-09 23:45] martinhsv commented on #2617
Closing as duplicate.

[2021-09-09 23:45] #2617 closed, assigned to nobody

[2021-09-10 15:28] martinhsv commented on #2609
Hi @florianock ,

Thanks for the detailed report.

Unfortunately, the logic of what gets logged, and when, can be a little confusing.

Considering first only what gets logged to ModSecurity's audit log, I'll note that I believe your expectation is incorrect.  If you include 'log' only (i.e. 'auditlog' is not present), then that implies auditlog also.  This is mentioned in the v2.9 Reference Manual

[2021-09-12 10:27] martinhsv commented on #2145
Just reiterating the workaround/alternative from #2553 (which is being closed as a duplicate):

"@rx <[%]"
"@rx <\x25"

[2021-09-12 10:27] martinhsv commented on #2553
@airween.  Thanks for noting that.

I'll close this as a duplicate then.

[2021-09-12 10:27] #2553 closed, assigned to zimmerle

[2021-09-14 20:53] martinhsv commented on #2610
Was there anything further on this?  If not, I'll go ahead and close the issue.

[2021-09-14 21:28] martinhsv commented on #2088
No information/feedback received. Closing.

[2021-09-14 21:28] #2088 closed, assigned to victorhora

[2021-09-14 21:54] martinhsv commented on #743
I will leave this open for now despite its apparent duplication with the other issue.

For now, I'm just removing the 3.1 references and adding the 2.9 tag.

[2021-09-16 08:11] gurucubano commented on #491
HELLO, Where could I find the patch which fixes this? Thanks

[2021-09-23 17:23] mschulze0 commented on #1900
Has this ever been fixed? Is there a workaround?

[2021-09-26 13:53] KernelPan1k opened #2623 "Modsecurity sees the HTTP "INVALID" method instead of "PATCH""
Hello,

I installed modsecurity 2 on IIS 10 in reverse-proxy with the OWASP csr.

For the moment, the WAF works in DetectionOnly and therefore does not block anything. I authorized in the csr-setup.conf the HTTP **PATCH** method, but I see that when the PATCH method is used, it is blocked by Modsecurity because PATCH is replaced by **INVALID**, but the application works correctly, because IIS is a

[2021-09-27 19:06] mmelo-yottaa commented on #2381
I'm not seeing the 'nginx -s reload' memory leak fixed using the v3/dev/3.1-experimental branch, checking either using /proc/nginx-pid/smaps directly or using valgrind.  I am running nginx single process in foreground:

master_process off;
daemon off;
worker_processes    1;

The memory leak is in modsecurity code called from the parser, the two worst offenders are:

nginx version 1.21.1
modsec ngi

[2021-09-28 16:55] #2610 closed, assigned to nobody

[2021-09-29 09:24] ffashion opened #2624 "src read help"
Can you tell me the function of the AnchoredSetvariable:: set offset parameter and the function of the VariableOrigin class

[2021-09-29 17:04] mac-chaffee opened #2625 "General failure, action: 0x7fd2ea850400 has not expected to be used with UpdateActionByID"
**Describe the bug**

Not actually a bug, just a confusing error message which I'm documenting here since I couldn't find anything except the source code mentioning this error: https://github.com/SpiderLabs/ModSecurity/blob/4127c1bf52d2b30a5c2c3e641b8085fd9a720f43/src/rules_exceptions.cc#L39-L42

From what I can tell, that error is thrown if you try to do `SecRuleUpdateActionById <id> "chain"`, be

[2021-09-29 17:04] #2625 closed, assigned to nobody

[2021-09-29 17:32] martinhsv commented on #2599
Hi @KIC-8462852 ,

Thanks for drawing attention to this.

You are correct that it is not a detached signature.  I don't believe this alternative way of signing was a deliberately chosen change from past practice (as you may have perhaps guessed from the fact that the similar-timeframe v3.0.5 does use detached signatures).

You can assume that with future releases, detached signatures will be the p

[2021-09-30 16:15] felipediefenbach opened #2626 "Apache stop's to accept requests abruptly after install mod-sec and mlogc"
**Describe the bug**

Apache abruptly stops accepting requests

A clear and concise description of what the bug is.

**Logs and dumps**

mlogc[22171]: segfault at 7f479571b9b0 ip 00007f47952dcc26 sp 00007f478e8eddb0 error 4
mlogc[22748]: segfault at 7f5f2d0009b0 ip 00007f5f2cbc1c26 sp 00007f5f261d2db0 error 4

mlogc[24451]: segfault at 7f6b762be04c ip 00007f6b75e9a870 sp 00007ffeb127e770 error 6 i

[2021-10-08 17:38] martinhsv commented on #2579
Is there any reason to keep this issue open?

[2021-10-13 14:44] #2582 closed, assigned to nobody

[2021-10-15 09:59] dune73 commented on #2579
Not from my side. @rainerjung?

[2021-10-15 10:34] lontchianicet opened #2627 "SecRuleUpdateTargetById does not work with regex for ARGS_NAMES, ARGS_GET_NAMES, ARGS_POST_NAMES"
**Describe the bug**

After migrating nginx.plus from R24 to R25, false positives were observed again. Especially those that were processed with the "SecRuleUpdateTargetById".

We came to the conclusion that the  SecRuleUpdateTargetById directive does not work with a Regex.

Example: SecRuleUpdateTargetById 930120 "!ARGS_NAMES:/^json.*\\.profile.\*/"

**Logs and dumps**

Output of:
 AuditLogs

---

[2021-10-15 10:37] Pirson97 commented on #2480
How do I configure ModSecurity for Nginx on Windows ?

[2021-10-15 10:43] rainerjung commented on #2579
No, I would say it is obsolete.

[2021-10-15 10:43] #2579 closed, assigned to nobody

[2021-10-15 13:11] martinhsv commented on #2627
Hello @lontchianicet ,

Although you mention that you are using ModSecurity v3, you don't say which specific version you are using (i.e. what is the 'x' in v3.0.x).

There was a bug in v3.0.4 ( https://github.com/SpiderLabs/ModSecurity/issues/2251 ), a fix for which was included in v3.0.5.

[2021-10-18 09:30] lontchianicet commented on #2627
Thx. It was useful to know that.

[2021-10-18 13:14] henkworks commented on #89
It is great to read that this bug is fixed. At least in theory. Considering that this fix only exists in modsec3 which is a completely different product (quote from the mainpage: »Libmodsecurity is a complete rewrite of the ModSecurity platform« »It is no longer just a module.«) and especially that there is no connector for apache (https://github.com/SpiderLabs/ModSecurity-apache »This project sho

[2021-10-20 13:52] martinhsv commented on #2627
I'm assuming this means that you were indeed using v3.0.4?  If I don't hear otherwise, I'll go ahead and close this within a day or two.

[2021-10-20 14:18] defanator commented on #2627
@martinhsv latest modsecurity module package for N+ R25 is based on pure v3.0.5, so this one requires additional investigation. I'm going to schedule some time to work on this.

[2021-10-20 15:33] martinhsv commented on #2627
@defanator:  Thanks for the clarification.

@lontchianicet:  It looks like I can reproduce your finding in v3.0.5 -- but only with ARGS_NAMES and not with ARGS (the latter seems to work correctly).

I'll see if I can take a closer look.

[2021-10-21 07:45] marcstern opened #2628 "segmentation fault with SecStreamInBodyInspection and chunked encoding"
On Redhat/CentOS/Rocky 8, httpd crashes with a segmentation fault when enabling SecStreamInBodyInspection and sending a chunked encoded request.
This happens with the platform httpd & mod_security2. Same with latest mod_security2 (v2/master 2.9.4).

Note that the crash doesn't happen in CentOS 7, nor in Fedora. I guess there's a memory problem that corrupts the memory, but not always in a critical

[2021-10-21 07:46] marcstern commented on #2628
Minimal config to reproduce the problem:
[code]

[2021-10-21 07:48] marcstern commented on #2628
Example of stack trace:

[2021-10-21 15:38] pirajki commented on #2475
I am getting this same error on https://www.yogiraj.co.in

All pages are showing 406 error.

robots.txt is ok

user-agent: *
disallow: /feed
disallow: /wp-admin/
sitemap: https://www.yogiraj.co.in/sitemap.xml

[2021-10-22 10:42] ramil1973 opened #2629 "Rules (Location Match)"
Hi i have problem with whitelist

nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /usr/local/owasp-modsecurity-crs-3.0.0/rules/whitelist.conf. Line: 3. Column: 48. Invalid input:  <LocationMatch "/epg/rest/finish3dsPayment.do"> in /etc/nginx/conf.d/default.conf:44

[2021-10-22 18:25] ghost opened #2630 "Where is 3.x reference manual?"
I see it [here](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v3.x%29) but it's empty, do I just use 2.x reference manual instead?

From what I can tell 2.x reference manual might still be relevant, is this the case? Even for ModSecurity-nginx project?

[2021-10-25 13:18] DeveloperInMe opened #2631 "Does modsecurity 2.9.0 support Transfer-Encoding: Chunked?"
modsecurity version: 2.9.0
Apache 2.4.6/centos

I have a request coming from mobile using encoding chunked which modsec is not able to read at all. So can you advise if 2.9.0 version supports chunked encoding or not? If not then from which version will get that or is there any workaround involved for processing the request.

[2021-10-25 13:33] martinhsv commented on #2627
I have identified the commit that caused this issue.

Also, I have confirmed that only three collections are affected: ARGS_NAMES, ARGS_GET_NAMES, ARGS_POST_NAMES.  I will update the issue title to that effect.

[2021-10-26 06:00] lontchianicet commented on #2627
@martinhsv Thx for discovering the source of the problem.

[2021-10-26 11:39] celesteking commented on #1471
How come this prevents server from processing the request? This must not happen.
It's spitting HTTP 500 instead of just carrying on, even though `SecRequestBodyLimitAction` has been set to `ProcessPartial`. This is idiotic. Either remove the `SecRequestBodyLimitAction` completely or fix this one. You can't advertise in docs that the request will pass on if there's another limitation in software th

[2021-10-27 15:29] FadilSIDI commented on #1441
déplace ca d'abord dans  le /etc/modsecurity/
 cp /etc/modsecurity/modsecurity.conf-recommended /etc/modsecurity/modsecurity.conf

[2021-10-27 20:37] vitordatasafer opened #2632 "Question: Isn't PUT default HTTP Method?"
Why isn't PUT a default HTTP Method that a client is allowed to use?

[2021-10-28 17:18] martinhsv commented on #2632
Hello @vitordatasafer ,

What exactly do you mean by "allowed to use"?  What is constraining you from using that?  E.g. what actual error message(s) are you encountering (if that is what is happening)?

[2021-10-28 18:37] martinhsv commented on #2563
Unfortunately, progress on this item was interrupted by staffing developments.

[2021-10-28 18:48] martinhsv commented on #2630
Hello @withernet ,

Your question is really a duplicate of https://github.com/SpiderLabs/ModSecurity/issues/2563 , so I will close this item for that reason.

However, to answer your question, yes a very large percentage of the functionality in ModSecurity v3 is the same as in v2.

Also, the v2.x manual does include a large number of entries on per-functionality item stating something like:
Suppor

[2021-10-28 18:48] #2630 closed, assigned to nobody

[2021-10-28 19:03] martinhsv commented on #2629
Hello @ramil1973 ,

I noticed that your ruleset version is quite old -- you might benefit from simply updating that.

In any case, questions about CRS (coreruleset) are best addressed to the group that manages it: https://github.com/coreruleset/coreruleset

[2021-10-28 19:03] #2629 closed, assigned to nobody

[2021-10-28 19:23] martinhsv commented on #2623
Hello @KernelPan1k ,

It looks like 'PATCH' is simply not supported as a method in the IIS code for ModSecurity:

https://github.com/SpiderLabs/ModSecurity/blob/199cf5da9172fe98e705237a296d633f115677c0/iis/mymodule.cpp#L947

[2021-10-28 19:30] KernelPan1k commented on #2623
Hello,

thank you for your answer, the solution chosen for the moment is to identify the endpoints working with PATCH and to authorize the INVALID method for these endpoints only, I don't like that very much. Maybe you have another suggestion?

In any case I thank you for your answer and have a nice day.

[2021-10-28 20:16] martinhsv commented on #2609
Anything further on this?  If not, I'll go ahead and close this item.

[2021-10-29 21:29] BenasPaulikas commented on #1202
:wave: I'm having same issue in 2021 :) All stackoverflow posts reviewed. Anyone got it working yet ?

This is my config

[code]

However output is not visible in logs

[2021-11-03 05:04] Brhetty opened #2636 "question: use msc_rules_cleanup not free memory"
hi:
    I am just add rule but use msc_rule_cleanup bot free memory. What's wrong with me

modsecurity vserion: v3.0.4
[code]

[2021-11-08 14:52] martinhsv commented on #2613
Hello @adrelanos ,

I'm not sure what you are encountering exactly, but these are the steps I always use:
[code]

[2021-11-08 15:07] martinhsv commented on #2632
I did also just do a quick re-test of this and confirmed that ModSecurity processes PUT requests just fine.

With no further information from the poster, I'll go ahead and close this ...

[2021-11-08 15:07] #2632 closed, assigned to nobody

[2021-11-08 16:23] martinhsv commented on #2627
To summarize and explain a workaround that may be useful for some users ...

Suppose you have a rule that you want to trigger for any argument name that includes 'abc'.  It might look something like this:
[code]

But perhaps you want to exclude the rule if the 'abc' is merely a prefix to a larger specific string 'abcdef'.  In this case you might have constructed an extra directive like:
[code]

Th

[2021-11-08 16:39] perlsol commented on #2480
Can we assume that IIs support has now been abandoned, and that all our hopes of v3 on IIs was just a dream.
It seems like all the WAF project's are being abandoned!

[2021-11-08 17:04] mguinness commented on #2480
I think with any open source project they have to prioritize the development work and frankly the number of sites using ModSecurity with IIS is tiny compared to Apache and Nginx (on Linux).  I myself created a basic WAF for ASP.NET Core at https://github.com/mguinness/KestrelWAF in lieu of a working IIS solution.

[2021-11-08 17:34] martinhsv commented on #2631
Hi @DeveloperInMe ,

I just tried this with ModSecurity 2.9.0 and I did not encounter any problems.

One thing you could check is that your request is not incorrectly sending both a Content-Length header and a Transfer-Encoding header.

You could also try submitting a simplified version of the request with curl:
[code]

[2021-11-08 18:51] martinhsv commented on #2636
Hello @Brhetty ,

I do not understand what exactly you are asking.  Would you like to try rephrasing or expanding on your question?

[2021-11-08 19:02] martinhsv commented on #2626
Hi @conexaoinfraestrutura ,

I had noted your comment:
[code]

Since there has been no update since you posted this issue, I thought I'd inquire if you had made any progress on this.

I will note that, since you are using ModSecurity v2.9.2, you might get relief from whatever issue you are experiencing by upgrading your version.  Whatever caused your crash may well have been fixed in the four year

[2021-11-08 19:33] #2609 closed, assigned to nobody

[2021-11-08 19:48] martinhsv commented on #2576
Hello @KernelPan1k ,

If you wish to use ModSecurity with IIS you should use 2.9.x.

There is no current plan to stop maintenance on ModSecurity v2.

Regarding your final question:  If using ModSecurity for IIS, you should use 2.9.x.

[2021-11-09 07:10] scaarup commented on #2381
Do we open a new issue or reopen this one?

[2021-11-09 14:38] martinhsv commented on #2623
Hi @KernelPan1k ,

I understand your discomfort; it is not exactly an ideal solution.

However, under the circumstances, I think your workaround is probably reasonable and I cannot think of a better one short of a code update.

I think you're wise, though, to limit that permissiveness to only the endpoints where it is required.

[2021-11-09 21:33] martinhsv commented on #2381
Hi @scaarup ,

There is still an open issue for this general issue:  https://github.com/SpiderLabs/ModSecurity/issues/2552

Unless there are very distinctive cases, I expect having 2552 open is sufficient.  If there is indeed a distinctive case that need to be considered separately, it might make more sense to open a new issue rather than re-open this old one.

[2021-11-10 02:36] Brhetty commented on #2636
When I use msc_rules_add, it will  memory leak.Could  you help me?

[2021-11-10 19:25] AirisX opened #2637 "Question about the audit log when RelevantOnly is specified"
Hello, @zimmerle.

https://github.com/SpiderLabs/ModSecurity/blob/ec86b242e15f9df1d143c1b7f86a27889658b4cb/src/audit_log/audit_log.cc#L299-L302

I have some doubts about the correct handling of the "noauditlog" action in "saveIfRelevant".
In my case I defined next config with the relevant statuses and the only one non disruptive rule for simplifying (other setting is omitted). Pay attention that I

[2021-11-10 21:29] saiskee opened #2639 "`ValidateSchema::evaluate` is not thread safe"
**Describe the bug**

[ValidateSchema::evaluate](https://github.com/SpiderLabs/ModSecurity/blob/4127c1bf52d2b30a5c2c3e641b8085fd9a720f43/src/operators/validate_schema.cc#L46) is not thread safe. It is setting member variables of `ValidateSchema`, in this case `m_parserCtx` when this variable is used only once in the function. This causes a use-after-free error in the following scenario:
1. T1 runs

[2021-11-11 14:59] AirisX commented on #2637
Also, saving messages is disabled here:
https://github.com/SpiderLabs/ModSecurity/blob/ec86b242e15f9df1d143c1b7f86a27889658b4cb/src/actions/no_audit_log.cc#L29-L35
But here is an attempt to analyze messages for a noauditlog:
https://github.com/SpiderLabs/ModSecurity/blob/ec86b242e15f9df1d143c1b7f86a27889658b4cb/src/audit_log/audit_log.cc#L298-L303

Other confusing thing follows from the doc:
https

[2021-11-11 16:54] bfamzz commented on #2611
Hello @agjini,

How did you resolve the issue?

The `/tmp/modsecurity/upload` directory exists on the docker container. How did you give nginx permission to write into it?

Thanks.

[2021-11-11 17:22] agjini commented on #2611
Hello,

I've added the following commands inside a RUN step inside my Dockerfile :

RUN mkdir -p /tmp/modsecurity/upload && mkdir -p /tmp/modsecurity/tmp && chmod -R 777 /tmp/modsecurity

-------- Message d'origine --------
Le 11 nov. 2021, 17:55, Busayo Famutimi a écrit :

[2021-11-12 12:49] AirisX commented on #2637
@zimmerle,
Seems that quick fix looks like this https://github.com/SpiderLabs/ModSecurity/pull/2643

[2021-11-13 19:18] martinhsv commented on #2637
Hello @AirisX ,

It is possible that I'm not fully understanding the nature of your concern/inquiry.  However, one thing to clarify immediately is that using something like ...
[code]

... does not literally mean to **only** write to the audit log when the HTTP response code returned to the client matches the specified regex.  If we were to be that restrictive in terms of audit log writing, we wou

[2021-11-14 08:57] adrelanos commented on #2613
Using the same steps, no difference. Same issue.

[2021-11-14 10:47] airween commented on #2613
Tried on a fresh system (Debian Bullseye), can't reproduce your issue.
[code]
Based on your original report:
[code]
I think there are some missing packages - check that these packages are installed:
[code]

Btw: for Debian 11 we already have a packaged version of libmodsecurity3 and Nginx connector [here](https://modsecurity.digitalwave.hu)

[2021-11-15 09:10] xx-zhang opened #2641 "How to add `community_id` with NTA or NIDS flow"
**Describe the bug**

A clear and concise description of what the bug is.

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
 2. AuditLogs
 3. Error logs
 4. If there is a crash, the core dump file.

_Notice:_ Be carefully to not leak any confidential information.

**To Reproduce**

Steps to reproduce the behavior:

A **curl** command line that mimics the original request and reproduces the p

[2021-11-15 13:42] martinhsv commented on #2613
@adrelanos ,

Was your recent attempt with that exact same 'git clone' command that I posted?  I mean without the extra options that you specified in your original report?  I did attempt your version with the extra options and saw an effect that was at least superficially similar, but did not have a chance to look into it at all.

If you did not do the plain (no options) clone, I'd suggest you try

[2021-11-15 16:57] adrelanos commented on #2613
Yes.

Yes, without it.

Therefore, same issue.

[2021-11-15 18:10] AirisX commented on #2637
Hello @martinhsv ,

Thanks for answering. I had to mention, that I'm using `SecRuleEngine On`, not `SecRuleEngine DetectionOnly`.

As for:

You do not find that this is fundamentally contrary to the essence of the `RelevantOnly`? If I have explicitly defined `RelevantOnly`, I expect only the specified statuses to appear in the log. Otherwise it doesn't make sense.
I have attached the PR #2643 and

[2021-11-16 13:04] AirisX commented on #2637
Hello @martinhsv ,

I also added some regression test cases (noauditlog-relevant.json). Before the changes, cases 1 and 4 did not work. Now they work:
[code]

[2021-11-16 14:20] marcstern commented on #2631
It doesn't work with SecStreamInBodyInspection - see https://github.com/SpiderLabs/ModSecurity/issues/2628

[2021-11-16 20:38] bfamzz commented on #2611
Thanks for your response @agjini

See this coreruleset/modsecurity-docker#82 for a fix from upstream.

[2021-11-17 11:29] willc-work commented on #2352
Just FYI I had a look at the proposed solution in https://github.com/SpiderLabs/ModSecurity/issues/2267 but this supposes you have direct access to the .conf file. As I am adding/removing the rules through annotations in my ingress the syntax didnt work. Specifically it did not like single quotes within double quotes.

So for example, the following fails with a parsing error:
[code]

and

[code]

[2021-11-18 13:50] martinhsv commented on #2641
Hello @xx-zhang ,

There really isn't any information here with which to do anything.  The body of your posting appears to just be the template with nothing filled in with your information.  The title alone is insufficient to understand what issue or question you have.

Please supply additional information.

[2021-11-18 15:39] martinhsv commented on #2637
Hello @AirisX ,

I agree that the audit logging behaviour is less clear than it could be.  In particular, the names of the two cited configuration items can be easy to misinterpret as to their effect.

That aside, I'm not convinced that the current functionality is fundamentally problematic in the way that you suggest.

You write:

Again, the naming of those configuration items may lead one to tha

[2021-11-18 16:05] martinhsv commented on #2599
With no further activity on this, I'll go ahead and close ...

[2021-11-18 16:05] #2599 closed, assigned to nobody

[2021-11-22 12:18] pandey-adarsh147 opened #2645 "ModSecurity should able to analyse gRPC request body."
**Expected behavior**

ModSecurity should able to analyse gRPC request body.

gRPC is binary protocol, ModSecurity is not able to parse it and hence, not able to block simple injection.

[2021-11-22 19:41] AirisX commented on #2637
Hello @martinhsv ,

I checked the next case (with DetectionOnly specified) and it really doesn't work:
[code]
But if DetectionOnly is the only one stumbling stone, what if we explicitly handle it here like this:
[code]
In this case, all test cases work fine:
[code]
The rest of the behavior, that this PR brings, also looks harmonious in relation to the current implementation.

[2021-11-22 21:38] mtorromeo opened #2646 "GPG key F2FC4E45883BCBA4 for modsecurity 3.0.6 could not be found on public keyservers"
modsecurity-3.0.6 was recently released, but the source tarball appears to be signed by a different gpg key that I cannot verify.

Where am I supposed to find it?

Thanks

[2021-11-22 22:23] martinhsv commented on #2646
Hi @mtorromeo ,

Apologies if there are difficulties with this aspect -- this is my first time going through this particular process.

My understanding was that github keys could be retrieved from:
curl https://github.com/martinhsv.gpg

[2021-11-22 22:55] mtorromeo commented on #2646
I wasn't aware of that, thanks!
I would still suggest sending the key to a public key server like keyserver.ubuntu.com to make it easier to retrieve it.

[2021-11-23 04:16] martinhsv opened #2647 "ModSecurity DoS Vulnerability in JSON Parsing (CVE-2021-42717)"
Some individuals in the ModSecurity community will have already taken note that new releases have been created for both the v2 branch and the v3 branch, and that the content in each case is listed as addressing a security issue.

This github issue is being created to provide some interim information until a somewhat more detailed blog post is available (which is expected within the next 24 hours a

[2021-11-23 09:03] AirisX commented on #2637
Maybe there are other pitfalls to consider?

[2021-11-24 10:10] theMiddleBlue commented on #2647
Thanks @martinhsv !

Is it possible to add the new `SecRequestBodyJsonDepthLimit` directive into the modsecurity.conf-recommended file for v3/master branch?

[2021-11-24 13:16] airween commented on #2647
Also would be fine to place it in the [Reference](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)). This keyword affects both versions.

[2021-11-24 14:37] airween commented on #2647
Is there any reason why is the default value so high in [both](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/apache2/modsecurity.h#L98) [versions](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/request_body_processor/json.cc#L29) (10000)?

I've checked for example PHP's `json_encode()` function, looks like the [default value is 512](https://www.php.net/manual/en/function.j

[2021-11-24 14:48] martinhsv commented on #2647
Hi @theMiddleBlue ,

I had given a bit of thought as to whether it would be good to make such an addition to modsecurity.conf-recommended.  I was -- and still am -- of two minds about that.

Items in that file are particularly useful for things that users are likely to want to change -- either because there is no useable default set within the software itself, or there is a default but it's one th

[2021-11-24 14:52] martinhsv commented on #2647
Hi @airween ,

Good point about the Reference manual.  Thanks for suggesting it.

[Edit:  Done]

[2021-11-24 20:50] aaishere commented on #2552
I checked both v3/dev/3.1-experimental and  v3/master, it seems we still have the same problem.
nginx/1.21.4
Ubuntu 18.04
Nginx up time : 1 day 18h
Memory usage 3.5 GB
343 virtual hosts

[2021-11-26 15:02] martinhsv commented on #2647
Hi @airween ,

Regarding the selection of the default depth limit:

Since the depth limit is configurable, the selection of the default is, to a significant extent, a secondary consideration. It should, of course, be somewhere within a reasonable range.

Potential default values in this case could be considered candidates where both of the following would be true:
1) The value was low enough such

[2021-11-26 20:16] martinhsv commented on #2641
No response from poster.  Closing ...

[2021-11-26 20:16] #2641 closed, assigned to nobody

[2021-11-29 01:58] 877509395 commented on #2647
@theMiddle,&nbsp;

&nbsp; &nbsp;Where can I find POC for CVE-2021-42717? I am curious for that.

thanks
huiming

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "SpiderLabs/ModSecurity"                                                                                    **

[2021-11-29 13:59] martinhsv commented on #2647
Hi @877509395 ,

I have no plans to publish anything resembling a PoC beyond what has already been provided.  (Or provide any links to the same.)

There is the risk that doing so would be of greater benefit (even if only marginal benefit) to individuals with malicious intent than it would be for users wanting to protect themselves.

This is especially true in the short term while there may be user

[2021-11-30 14:19] #2646 closed, assigned to nobody

[2021-11-30 20:07] victorserbu2709 opened #2648 "%{MATCHED_VAR_NAME} replaced with ARGS_NAME only"
**Describe the bug**
I saw following owasp crs rules that checks that parameters are not duplicated
https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.3/dev/rules/REQUEST-921-PROTOCOL-ATTACK.conf#L294.
The problem is that %{MATCHED_VAR_NAME} is replaced with ARGS_NAME only (doesn't contain real name of parameter).
[code]
**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
[code]
 2. Au

[2021-11-30 21:19] martinhsv commented on #2648
Hi @victorserbu2709 ,

Thanks for the detailed report.

I suspect that what you have reported is caused by the same underlying issue as https://github.com/SpiderLabs/ModSecurity/issues/2627 .  This problem did not exist in 3.0.4 but does exist in 3.0.5 and 3.0.6.

There is an unmerged fix for the problem at https://github.com/SpiderLabs/ModSecurity/pull/2638  if you would like to try it out.

[2021-12-01 07:52] victorserbu2709 commented on #2648
Hi @martinhsv,
Thank you.
I have applied #2638 and now it works.
[code]

[2021-12-02 16:33] InputOutputZ opened #2650 "/lib/libstdc++.so: error adding symbols: File in wrong format"
**Describe the bug**

Make fails once it reaches compiling examples and test directory and throws " `/usr/local/lib/../lib/libstdc++.so: error adding symbols: File in wrong format ", while when I run configure with --disable-example, it throws the same error yet with benchmarking testing.

I run centos 7.

This bug report it's for both version 3 and 2.

Output of:

Examples error

[code]

Testing

[2021-12-06 07:41] 877509395 commented on #2647
@martinhsv thanks.

[2021-12-06 11:19] WebSabaki opened #2651 "File title max length"
Good afternoon.

**Describe the bug**

It seems that uploading a file with a title > 100 character is automatically blocked with "Unknown ContentType"  OWASP_CRS/3.1.0.

And I can not find any post about this on  the issue list

**Logs and dumps**
[code]
 **Expected behavior**
The length of the title shall not impose such a constraints

How can we remove this or increase the permitted size?

[2021-12-06 14:36] martinhsv commented on #2651
Hello @WebSabaki ,

Can I assume that the request header ContentType is "multipart/form-data?

And what do you mean by "title"?  Is that the "name" parameter of a multipart part?  Or do you mean the "filename" parameter of a multipart part?

[2021-12-06 14:41] WebSabaki commented on #2651
Hi @martinhsv

yes, this is a multipart/form-data.

`Is that the "name" parameter of a multipart part? Or do you mean the "filename" parameter of a multipart part?`
Sorry, I am quite lost here.  by title, i meant the name of the file on the user computer. So it shall probably refer to `"filename" parameter of a multipart part` .

The issue here is that basically the only option we have is to block

[2021-12-06 21:12] martinhsv commented on #2647
The files for the Windows 64-bit installer are now available at https://github.com/SpiderLabs/ModSecurity/releases/tag/v2.9.5

[2021-12-07 21:10] martinhsv commented on #2651
Hello @WebSabaki ,

I am able to reproduce at least a portion of what you have seen.  However, in my cases at least, the situation is not quite as you suspected.

In my tests the request arrives at the web server successfully.  I.e. it is not blocked by ModSecurity.

Although I can produce the "Unknown ContentType" text in part J, this so far seems to be a reporting issue only.  (Also, I can produ

[2021-12-08 20:20] #2576 closed, assigned to nobody

[2021-12-10 12:15] GaneshKandu opened #2652 "Where is 3.x reference manual for apache 2.4"
I want to install ModSecurity 3 for apache 2.4
I can install ModSecurity 3 but unable to install ModSecurity 3

its getting installed but in lib/libmodsecurity.so not in module

[2021-12-10 14:13] tandarim commented on #1900
bump up, we stumbled today over this issue, so same question: was this fixed in 3.0.4?

[2021-12-12 20:53] hypervtechnics opened #2653 "[Feature Request] Connector for Caddy"
Will there be a connector for the Caddy web server? https://caddyserver.com

[2021-12-13 11:07] #2652 closed, assigned to nobody

[2021-12-13 12:29] jptosso commented on #2653
Hey @hypervtechnics [Coraza](https://github.com/jptosso/coraza-waf) fully supports Caddy and OWASP Core ruleset, you can see the connector here: [Coraza Caddy Connector](https://github.com/jptosso/coraza-caddy) There is also a working docker image: jptosso/coraza-caddy

[2021-12-13 13:03] hypervtechnics commented on #2653
This looks great! Thank you very much :)

[2021-12-13 13:03] #2653 closed, assigned to nobody

[2021-12-16 08:21] EvannG1 opened #2654 "Reproduce this rule from ModSecurity 2 on ModSecurity 3 (brute force login)"
I'm trying to set up a rule to prevent bruteforce on a login page.
I found this [article](https://www.loadbalancer.org/blog/brute-force-login-modsecurity-waf/), but it is based on ModSecurity 2 and Apache.

Here is what I use :
ModSecurity v3.0.5
Nginx v1.20.1
ModSecurity-nginx v1.0.2

I adapted the "Location" part of the article using [modsecurity_rules](https://github.com/SpiderLabs/ModSecurity-

[2021-12-17 14:18] martinhsv commented on #2651
Was there anything further on this?

[2021-12-19 11:20] un99known99 opened #2655 "periodically updates of OWASP Core Rule Set (CRS) / cron?"
I have downloaded latest OWASP CRS from GitHub (wget https://github.com/coreruleset/coreruleset/archive/v3.3.0.tar.gz).
What kind of possibilities are available to keep the rules up-to-date?
Where to check if a new version is available **OR** download automated via cron periodically updates?
Thanks in advance.

[2021-12-19 12:47] airween commented on #2655
@un99known99, I think this is more CRS (or even more an operating system) question.

If you use any (supported) Debian or any (supported LTS) Ubuntu system, you can use this repository:
https://modsecurity.digitalwave.hu

I maintain this repository, and CRS is part of it.

If you run any different system, you can check how does it work on Debian/Ubuntu, and see the [watch](https://salsa.debian.org

[2021-12-19 15:50] un99known99 commented on #2655
Hi, thanks for the quick answer.
I saw the possiblility to update (sudo python /etc/apache2/owasp-modsecurity-crs/util/upgrade.py --crs) but seems not to work: sudo /usr/share/modsecurity-crs/util/upgrade.py --crs => **_crs: Not a git repository: /usr/share/modsecurity-crs_**. I do have /etc/apache2/modsecurity-crs/coreruleset-3.3.0 installed ....?

[2021-12-19 17:41] #2655 closed, assigned to nobody

[2021-12-19 17:42] un99known99 commented on #2655
answered in google groups

[2021-12-20 14:15] martinhsv commented on #2637
Hi @AirisX ,

I'm going to go ahead and close this since it seems we have adequately clarified the misconception at the heart of this issue's creation:  namely, that SecAuditLogRelevantStatus is not intended to be (and indeed cannot ever be) a full and complete definition of the 'Relevant' in 'SecAuditEngine RelevantOnly'

I'm not at all clear what you are hoping to achieve with your more recent p

[2021-12-20 14:15] #2637 closed, assigned to nobody

[2021-12-21 16:35] martinhsv commented on #2647
Regarding modsecurity.conf-recommended:

I have gone ahead and created pull requests for both v2 and v3 that add SecRequestBodyJsonDepthLimit with a value of 512.  I will plan to merge these within the next couple of days.

While the software default seemed suitable for the initial rollout of the functionality, having the out-of-the-box setting be somewhat lower is also sound.  The value chosen is

[2021-12-21 22:03] martinhsv commented on #2157
Hi @airween ,

Just following up on the post-closure activity and I find that I cannot currently reproduce what you had reported -- not with current v3/master and not with v3/master as it existed in July 2020.

I no longer have the same setup that I used back then so it makes me wonder aloud if there might have been some other configuration detail common to us both that might have been the actual

[2021-12-22 01:11] liudongmiao commented on #2528
@martinhsv It seems this would be used only for `rxGlobal`, introduced in 2672db103e511cbf0866efc62dc7a3b4f43a8657.
Could you give a reference / documentation for `rxGlobal`?

[2021-12-22 01:34] liudongmiao commented on #2528
Just found.

https://www.trustwave.com/en-us/resources/blogs/spiderlabs-blog/modsecurity-regular-expressions-and-disputed-cve-2020-15598/
and https://github.com/SpiderLabs/ModSecurity/pull/2396

[2021-12-22 10:15] 877509395 opened #2658 "upload file failed."
**Describe the bug**

curl -F "filename=@file_name_to_be_upload" www.test00003.com

but "403 Forbidden" received.

**the key info:**
ModSecurity: Access denied with code 403 (phase 2). Matched "Operator `Eq' with parameter `0' against variable `MULTIPART_UNMATCHED_BOUNDARY' **(Value: `2'** ) [file "/usr/local/nginx/conf/rules/modsecurity.conf"] [line "74"] [id "200004"] [rev ""] [msg "Multipart pa

[2021-12-22 10:21] 877509395 commented on #2658
maybe bug in multipart.cc

[2021-12-22 10:47] 877509395 commented on #2658
[](https://github.com/SpiderLabs/ModSecurity/issues/1900)

[2021-12-22 10:47] 877509395 commented on #2658
should same as  [1900](https://github.com/SpiderLabs/ModSecurity/issues/1900)

[2021-12-22 12:06] anasabdullahysfzai opened #2659 "How to get realtime updates regarding the attacks via webhooks in mod security"
I am working on a web based antivirus solution where i need to get the updates regarding the attacks in my application (PHP App in Cpanel) via webhooks , i wanna know if there is anyway to achieve this
thanks

[2021-12-22 12:10] SteffenAL commented on #2181
Made a new  libapr-1.dll  available with the handle fix at  https://www.apachelounge.com/viewtopic.php?t=8808

[2021-12-22 14:49] martinhsv commented on #2658
Hello @877509395 ,

Did you change rule 200004, from the default?
[code]

to instead be:
[code]

If so, in future please include such important details (especially non-default settings) in your reports.

I do not recommend changing 200004 from the default content in modsecurity.conf-recommended.

There are known issues related to the setting of '2'. If a multipart request body contains only one pa

[2021-12-23 17:05] martinhsv commented on #2352
Hello @willc-work ,

(Note that I will be closing this issue shortly since a software change to address it is already available in v2, and is expected to shortly be likewise in v3.  But given what you've written, I'll assume that you cannot independently upgrade your code.)

First, I'm not really sure what you mean by your 'ingress'.  If you are using some other software to manage ModSecurity conf

[2021-12-23 18:20] #2647 closed, assigned to nobody

[2021-12-23 18:29] martinhsv commented on #2352
Addressed via:
https://github.com/SpiderLabs/ModSecurity/pull/2660
https://github.com/SpiderLabs/ModSecurity/pull/2661

[2021-12-23 18:29] #2352 closed, assigned to martinhsv

[2021-12-24 01:21] 877509395 commented on #2658
Yes, Martin,

After recover to "@eq 1" , it is OK.

SecRule MULTIPART_UNMATCHED_BOUNDARY "@eq 1" \
    "id:'200004',phase:2,t:none,log,deny,msg:'Multipart parser detected a possible unmatched boundary.'"

thanks
huiming

[2021-12-24 15:51] jwillberg opened #2662 "ModSecurity-nginx with "@contains %" cause directive Rules error"
Above rule cause that nginx wont start:

`SecRule REQUEST_HEADERS "@contains %" "id:426003,phase:2,t:none,deny,log,msg:'DEBUG Referer: attack'"
`

Also if change to:

`SecRule REQUEST_HEADERS "@rx \%" "id:426003,phase:2,t:none,deny,log,msg:'DEBUG Referer: attack'"
`

Nginx complains:

`modsecurity_rules_file" directive Rules error. File: /etc/nginx/modsec/modsecurity.conf. Line: 280. Column: 161.

[2021-12-26 00:15] YahiaBec commented on #2483
Hello,
I hope you're doing well.
Please can you tell me how to run a DVWA with modsecurity ?

[2021-12-29 14:13] martinhsv commented on #2662
Hello @jwillberg ,

What you are seeing is https://github.com/SpiderLabs/ModSecurity/issues/2145.

There are a couple of alternative ways to specify your rule that do work. See https://github.com/SpiderLabs/ModSecurity/issues/2145#issuecomment-917608017

[2021-12-29 14:15] #2658 closed, assigned to nobody

[2021-12-29 17:13] xlabssecurity opened #2664 "[msg ""] empty field after update to ModSecurity 3.0.6 in AuditLogs"
After upgrading to ModSecurity 3.0.6 the [msg ""] field in the logs for some rules appears empty.

One rule causing this behavior is "942100" from OWASP_CRS/3.2.0 in the REQUEST-942-APPLICATION-ATTACK-SQLI.conf file
there is also the behavior in other rules, however, we identified this as the example.

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
In debug mode 9 the MSG referring to the