[2020-01-18 15:10] airween commented on #2240
hi @nasirbas1

LMDB stores the datas (key:value pairs) in modsec-shared-collections file. Here is a small tool, which can help you to dump its content:

https://gist.github.com/airween/09a9c8dd033eaf5fa317bc6da07c64a4

To compile see the comment before the included headers. Then you can use:
`./lmdbread /path/to/modsec-shared-collections`

and does those files exists?

correct.

correct.

now I do

[2020-01-18 15:42] nasirbas1 commented on #2240
@airween No the ip.pag and ip.dir files don't exist on the system.

**UPDATE 1** :

@airween
So I compiled the **lmdbread** tool and viewed the contents of the **modsec-shared-collections**
Modsecurity is indeed correctly storing the values to this file, and they are persisting after
restarting the nginx. **_So the only concern left is why is modsecurity not able to read these variables from this

[2020-01-20 11:29] dto20 commented on #2237
So I think I've got to the bottom of it. If I leave the default Nginx error pages configuration in then it doesn't log to ModSecurity audit log. If I remove the lines then it does. I suspect Nginx is intercepting the 403 before ModSecurity can?

[2020-01-20 11:46] afoxdavidi commented on #2242
Checked with F-Secure and they confirmed it to be a false positive, you can check your link again for the latest scan of the same file, it's not longer flagged by F-Secure.

[2020-01-20 11:46] #2242 closed, assigned to afoxdavidi

[2020-01-20 13:24] deeztek opened #2245 "ModSecurity was not compiled with JSON support"
Hi,

I’m getting the following error in my security audit log:

"error":"ModSecurity was not compiled with JSON support.

I’m using Ubuntu 18.04 and Modsecurity 3.0.3. I’ve installed the libyajl-dev library. When trying to compile Modsecurity I get the following output:

./configure --with-yajl="/usr/local/lib"
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build env

[2020-01-20 13:44] zimmerle commented on #2245
What happens if you run ./configure without the parameter: ` --with-yajl=...`  ?

[2020-01-20 13:50] deeztek commented on #2245
Here's the output when I run it without any parameters:

./configure
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... /bin/mkdir -p
checking for gawk... gawk
checking whether make sets $(MAKE)... yes
checking whether make supports nested variables... yes
checking for g++... g++
checking whether the

[2020-01-20 13:53] zimmerle commented on #2245
Is "/usr/local/lib" in your library path?

[2020-01-20 13:56] deeztek commented on #2245
Looks like it is:

ldconfig -v | less
/sbin/ldconfig.real:
/usr/local/lib:
        libyajl.so.2 -> libyajl.so.2.1.1

[2020-01-20 14:07] nasirbas1 commented on #2240
@airween

**UPDATE 2**
It seems modsecurity and lmdb were working perfectly fine. The data was being stored perfectly as we intended it to. The catch here was that while writing to the IP collections we were writing it as

**ip.allowed = 2**

But while reading we were reading it as

**SecRule IP:ALLOWED "@eq 2" "id:880001,phase:1,t:none,drop,log,logdata:'Dynamic Blacklist'"**

So apparently Modsec

[2020-01-20 14:08] zimmerle commented on #2245
@deeztek, is that possible that you have installed the library from two different sources? manual installation and package installation?

Seems like you have the library in one folder, but no headers. Try to specify: `--with-yajl="/usr/"`

[2020-01-20 14:23] airween commented on #2240
hi @nasirbas1,

I think this is a bug, and there is a [fix](https://github.com/SpiderLabs/ModSecurity/pull/2107) for that.

because you built the modsecurity as module.

[2020-01-20 14:39] deeztek commented on #2245
it doesn't seem to work either. I did install https://github.com/lloyd/yajl as part of the troubleshooting process. How to remove?

[2020-01-20 15:53] zimmerle commented on #2245
Where did you get this troubleshooting from?

I think you have to manually remove the library file in /usr/local. What is the error message when you specify /usr?

[2020-01-21 07:37] nasirbas1 commented on #2240
@airween Yeah thats pretty much it . We added modsecurity as a dynamic module hence the empty value. Nice thread for anyone in future mingling around modsecurity persistence ✌️

[2020-01-21 07:39] airween commented on #2240
Right - feel free to close the issue, if you think you don't have more question (for this topic :))

[2020-01-21 07:53] nasirbas1 commented on #2240
@airween Already closed 👍

[2020-01-21 13:50] deeztek commented on #2245
I got it from: https://stackoverflow.com/questions/35202761/json-support-was-not-enabled-modsecurity

Anyways, I started with a fresh Ubuntu 18.04 install ensuring that both libyajl-dev and libyajl2 were installed, got the latest version of Modsecurity 3.0.4 and I simply used the ./configure option and I verified that yajl was compiled successfully:

ldd /usr/local/modsecurity/lib/libmodsecurity.s

[2020-01-21 13:50] #2245 closed, assigned to zimmerle

[2020-01-22 07:14] gfau opened #2246 "Cannot send any image on prestashop from API"
Hi,
From our ERP, we try to send a image into Prestashop throught they API.
We have an issue in one hoster, ModSecurity reject it from with rules.
We have this return :
SecRule REQBODY_ERROR "!@eq 0" \
"id:'200002', phase:2,t:none,log,deny,status:400,msg:'Failed to parse request body.',logdata:'%{reqbody_error_msg}',severity:2"

The body is encoded in BINARY code.

What can we do to solve it witho

[2020-01-22 07:48] airween commented on #2246
That would be a big help if you can show the relevant part of debug log. And if possible, the body of the request.

[2020-01-22 08:15] gfau commented on #2246
Thx for your answer.
This is an example but not with the true website, on another hoster that's working well.
[http://tiny.cc/de70iz](http://tiny.cc/de70iz)

[2020-01-23 11:26] vieridipaola opened #2247 "compilation error for v3.0.4"
Making all in reading_logs_with_offset
make[2]: Entering directory '/var/tmp/portage/www-apache/mod_security-3.0.4/work/modsecurity-v3.0.4/examples/reading_logs_with_offset'
x86_64-pc-linux-gnu-g++ -DHAVE_CONFIG_H -I. -I../../src   -std=c++11 -I../../headers -I../.. -g -I../others -fPIC -O3 -DWITH_GEOIP -I/usr/include/  -DWITH_MAXMIND       -DPCRE_HAVE_JIT -I/usr/include/libxml2 -DWITH_LIBXML2   -

[2020-01-23 12:15] #2243 closed, assigned to zimmerle

[2020-01-23 12:49] airween commented on #2246
Thanks - I don't know is that a *real* request, or you just forgot to copy the last line.

The final boundary missing from that request, that could triggered this.
There should be one more line with content:
[code]
(same as the boundary at top of file, but plus 2 more `--`)

[2020-01-23 13:42] zimmerle commented on #2247
Hi @vieridipaola,

What is your env? where did you get this modsec from?

[2020-01-23 13:43] zimmerle commented on #2244
Hi @z0r0,

The manual for 3.x does not exist yet. Please use the one for 2.x

[2020-01-23 13:43] #2244 closed, assigned to nobody

[2020-01-23 13:55] vieridipaola commented on #2247
Hi,

I'm on Gentoo Linux.
Building from https://github.com/SpiderLabs/ModSecurity/releases/download/v3.0.4/modsecurity-v3.0.4.tar.gz

As a side question I'd like to know why I see this below while configuring:

configure: Support for GeoIP was disabled by the utilization of --without-yajl or --with-yajl=no
configure: Nothing about GeoIP was informed during the configure phase. Trying to detect it

[2020-01-23 14:03] airween commented on #2247
Just my 2 cents', but I ran into a similar problem, when I had both of these packages:
[code]
I've removed the `libluajit-5.1-dev`, and problem solved. May be this helps...

[2020-01-24 03:01] zimmerle commented on #2237
@victorhora

[2020-01-24 08:08] vieridipaola commented on #2247
@zimmerle,

Here's some more info on my environment:

bash:          4.4
cmake:           3.14.6
autoconf:       2.69
automake:       1.16.1
binutils:       2.32
gcc:            9.2.0
gcc-config:     2.1
libtool:        2.4.6
make:           4.2.1
glibc:           2.29

[2020-01-26 15:24] JStyle21 opened #2248 "What happend to the experimental rules from v2?"
Hi,

This is more of a question than a bug, i was looking to use a rule that was in v2's experimental folder but i don't see it on v3, can i just copy paste to add a new regex as a rule for v3?

[2020-01-27 00:19] victorhora commented on #2220
@nakacya see if https://github.com/victorhora/ModSecurity-nginx/commit/ac3e8a9ac65877ab0eeebf416c26f2457ffe8296 solves your issue.

[2020-01-27 00:19] victorhora commented on #2237
@dto20 , see if https://github.com/victorhora/ModSecurity-nginx/commit/ac3e8a9ac65877ab0eeebf416c26f2457ffe8296 solves your issue.

[2020-01-27 02:10] nakacya commented on #2220
@victorhora

Thank you for information!

I ran recompule.
[code]
We confirmed that auditlog was output without any problem.

[2020-01-27 02:10] #2220 closed, assigned to victorhora

[2020-01-27 07:53] ledzepp4eva opened #2249 "Upgrade to 3.0.4 disabling all SecRules"
**Describe the bug**

I have tested an upgrade of libmodsecurity from 3.0.3 to 3.0.4 and since the upgrades ModSecurity is no longer blocking rules

**Logs and dumps**

3.0.3.debug:
[code]

3.0.4.debug:
[code]

_Notice:_ Be carefully to not leak any confidential information.

**To Reproduce**
[code]
Upgrade from libmodsec 3.0.3 to 3.0.4 and run the same command again and you get different outputs

[2020-01-27 07:55] ledzepp4eva commented on #2249
It kinds looks like it's reading the `/etc/nginx/modsecurity.conf` file seeing it disabled and not loading at rules and if I toggle `SecRuleEngine Off` to `On` in `/etc/nginx/modsecurity.conf` and rules start enforcing. Unfortunately I need to be able to globally disable the rules and enable them on a per vhost basis.

[2020-01-27 14:39] martinhsv commented on #2248
Hi @JStyle21,

It sounds like you're asking about the OWASP ModSecurity Core Rule Set (CRS) and its v2 rules that were found in the /experimental_rules/ directory.

Your question would be better directed here:

https://github.com/SpiderLabs/owasp-modsecurity-crs

[2020-01-27 14:39] #2248 closed, assigned to nobody

[2020-01-27 20:39] ghost opened #2250 "Can't build nginx with ModSecurity from source on Slackware 14.2"
Hi, I'm trying to build Nginx with ModSecurtiy support.
Nginx v1.17.8
Modsecurity from git
Modsecurity-nginx from git

ModSecurity build was successful.
ModSecurity build configurations tried:
`./configure --prefix=/usr --libdir=/usr/lib64 --sysconfdir=/etc`
and
`./configure`

Nginx build with "--add-module" fails with
`checking for ModSecurity library ... not found
checking for ModSecurity librar

[2020-01-28 07:55] gfau commented on #2246
Thanks for your answer;
There are already a boundary "----------------------------" + "--" at start and at end of the body in the sample.

[2020-01-28 10:05] JStyle21 commented on #2248
@martinhsv  Are you sure? rules are static, i'm asking why isn't it implemented or supported.

[2020-01-28 20:19] airween commented on #2246
I played with your request, and I think I found two things which can trigger the error above:
* don't use a hyphen-only boundary (`-----`), put some alphanumerical characters
* you have to terminate the lines with CR-LF

[Here](https://www.dropbox.com/s/2r7ysv8hsng4psk/modsec_reqbody.txt) is a request "file", grab it (but take care when you save that - save it as Windows like text file), and try i

[2020-01-28 21:40] SachinBadgujar commented on #2249
Additionally, how do you use `SecRuleRemoveById` with logging? Because if you disable the rule it will not log. I am having ModSecurity in the Blocking mode. I want to remove a rule, however, I want it to get logged in the log file for analysis. Do you know how is this achieved?

[2020-01-29 14:51] matthijs opened #2251 "SecRuleUpdateTargetById does not work anymore (since version 3.0.4)"
**Describe the bug**

Due to a security bug in libmodsecurity version 3.0.3 we decided to upgrade to version 3.0.4. After we did the upgrade one of our SecRuleUpdateTargetById didn't work anymore.

To be more precise, we have an incoming JSON request which contains a SSL-certificate. This certificate causes libinjection to detect a XSS. Which is obviously not true. So we have the following configu

[2020-01-29 22:19] airween commented on #2251
Try to replace the variable argument as regex, I mean:

`SecRuleUpdateTargetById 941100 "!ARGS:/json.data.certificate.certificates.intermediate/"`

Hope this helps.

[2020-01-30 01:23] #2250 closed, assigned to nobody

[2020-01-30 07:53] matthijs commented on #2251
Thanks, that fixed my problem. According to the [documentation](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#SecRuleUpdateTargetById) my configuration should work too right?

[2020-01-30 08:02] ledzepp4eva commented on #2249
Honestly I don't know the answer to that. If the Rule is removed ModSecurity I guess just doesn't load it, so you wouldn't see anything log. Might be one to ask the Devs as I can't see anything in the wiki (not to say it isn't there)

[2020-01-30 08:11] airween commented on #2251
Cool,

If I could be funny (and I apologize to everyone for this joke), I could write that the documentation is made for the enemies to confuses them :). It less and more less to know what's the good and what's the unexpected behavior. May be... if your issue will be corrected, then your configuration is right.... I don't know.

Anyway, I just searched in the closed issues/PR's, and found [this on

[2020-01-30 08:22] matthijs commented on #2251
Haha, no problem.

Hm, I should have read that issue better especially the third reply.

Thanks.

[2020-01-30 18:49] martinhsv commented on #2251
Hi @matthijs

Yes.  And it would have worked in v3.0.3.

I can see the code change the resulted in the modified behaviour in v3.0.4 and I'll follow up on that.

[2020-01-30 20:13] zimmerle commented on #2251
Hi @matthijs,

You don't need to upgrade ModSecurity due to the DOS issue. The patch is available for those who want to keep using v3.0.3. There is a patch available here: https://github.com/SpiderLabs/Misc/blob/master/ModSecurity_cookie_parsing_fix_303.patch

[2020-01-31 07:56] ledzepp4eva commented on #2249
To try and rule out my own compile issues I've replicated the issue within a docker container using the owasp modsec docker images as a base and installing our configurations and we get the same results:
[code]
Dockerfiles can be found here:
https://github.com/ledzepp4eva/modsecurity-docker

[2020-01-31 10:14] matthijs commented on #2251
Hi @zimmerle

I know, but there were more issues fixed in the v3.0.4 release which I could use. For example the empty JSON body.

[2020-01-31 13:14] zimmerle commented on #2249
Hi @ledzepp4eva,

Thaink you for the report. I am going to investigate it

[2020-01-31 13:23] zimmerle opened #2252 "Disable a rule and keeping the logging"
(From: https://github.com/SpiderLabs/ModSecurity/issues/2249#issuecomment-579469632)
@SachinBadgujar

There are three loggings: debug, audit and error. What exactly you meant? please use a different issue to start that discussion.

[2020-02-01 05:17] craftogrammer opened #2254 "Modsecurity is not compiling (bool modsecurity::Utils::GeoLookup::lookup Error)"
**Describe the bug**

Modsecurity is not compiling

**Logs and dumps**

[code]

**To Reproduce**

Compile it from source

[code]
Used, above command from this script: https://github.com/OptimBro/OptimStack/blob/master/OptimStack.sh

**Expected behavior**

A clear and concise description of what you expected to happen.

**Server (please complete the following information):**
 - ModSecurity version

[2020-02-01 12:47] sweatbar opened #2255 "Does not support NGINX Version 1.17.8"
Hi ModSecurity is not supported on Nginx v1.17.8 or v1.17.7

[2020-02-01 22:54] airween commented on #2254
I think (if you definietly want to use the current master) you have to replace [this line](https://github.com/OptimBro/OptimStack/blob/4a4cc26a9703ed9913b0f5b596ea9d3197c7870a/OptimStack.sh#L16) with
[code]

Looks like the ABI had changed in libmaxminddb in version 1.4.2, and [there is an affected change](https://github.com/maxmind/libmaxminddb/commit/0cc6caecc8118ca4b4c96c75c673a1abe348f480#diff-

[2020-02-03 08:44] unix196 opened #2256 "Does modsec v3 have any methods for get statistic about ip collection?"
Good day. I install modsec v 3.0.3 with nginx; wrote some simple rules which blocked ip address if it exist in ip collection.
Example code: https://pastebin.com/fMf4Es5L

When my rules are triggered, in nginx error log I see:
[code]
If I send bad request several times, then I receive _forbidden_ in following requests.
It would be cool, if I can get some statistic about blocked ip:
- how many ip ad

[2020-02-03 11:11] AnoopAlias opened #2257 "No debug log"
**Describe the bug**
No, debug log being written even after explicitly setting SecDebugLog and SecDebugLogLevel 9
A clear and concise description of what the bug is.

nginx version: nginx/1.17.8
ibmodsecurity.so.3.0.4

SecDebugLog /var/log/nginx/debug.log
SecDebugLogLevel 9

**The file /var/log/nginx/debug.log is blank**

**Logs and dumps**

no logs

**Server (please complete the following informa

[2020-02-03 11:42] osamamaruf opened #2258 "MULTIPART_STRICT_ERROR False Positive"
The following content type header is blocked by Modsecurity:

The boundary should be allowed to have quotes.

**Logs and dumps**
MULTIPART_BOUNDARY_QUOTED
MULTIPART_DATA_BEFORE

The above rule have been triggered from `200003`.

**Expected behavior**

The request should not have been blocked.

**Server (please complete the following information):**
- Web Server and version (Nginx 1.15.9)

**Rule S

[2020-02-03 12:09] airween commented on #2258
Hi @osamamaruf,

you wrote:

which was released [on Apr 3 2018](https://github.com/SpiderLabs/ModSecurity/releases/tag/v3.0.2), but this bug was [fixed](https://github.com/SpiderLabs/ModSecurity/pull/1747) in [3.0.3](https://github.com/SpiderLabs/ModSecurity/releases/tag/v3.0.3), so the upgrade is very welcome :).

Note, that 3.0.4 is still [out](https://github.com/SpiderLabs/ModSecurity/releases/

[2020-02-03 12:59] AnoopAlias commented on #2257
Possibly a duplicate of https://github.com/SpiderLabs/ModSecurity-nginx/issues/17

But I see the issue is closed

[2020-02-03 13:20] airween commented on #2258
Buy the way, after a quick review, the 3.0.4 allows the quoted boundary (especially what you gave above). Could you show the full request (without sensitive data)?

[2020-02-03 15:36] martinhsv commented on #2258
Hi @osamamaruf ,

Some of the individual conditions checked within MULTIPART_STRICT_ERROR are perfectly RFC-compliant, but are (or at least were historically) unusual, and therefore possibly suspicious.

And you are correct that entirely valid requests with a Content-Type boundary directive could have its value specified within quotes.

You have a couple of options:
- modify your rule that checks

[2020-02-03 17:16] #2258 closed, assigned to martinhsv

[2020-02-03 17:18] zimmerle commented on #2257
Hi @AnoopAlias,

Did you observe any crash on your system previous to the logs not being generated?

[2020-02-03 17:22] zimmerle commented on #2256
Hi @unix196,

There are too many options to block IP address, to have total control of what has been blocked or not, you may want to consider Lua scripts. Or even use an external server such as RBL. That way you will have modsec blocking the selected IPs and keep the history on how/when an IP got blocked.

[2020-02-03 17:22] #2256 closed, assigned to zimmerle

[2020-02-03 17:23] zimmerle commented on #2255
Hi @sweatbar,

What leads you to believe in that?

[2020-02-03 17:33] zimmerle commented on #2254
Hi @OptimBro,

That is happening because of you may have an _outdated_ version of **lbmaxmind**. You may want to use the latest version for libmaxmind. If upgrade is not an option, you may want to disable the libMaxMind dependency using ```--with-maxmind=no```.

[2020-02-03 17:33] #2254 closed, assigned to zimmerle

[2020-02-04 01:56] AnoopAlias commented on #2257
No, the server works just fine and I can see mod_sec normal logging in the Nginx error_log, but the explicit SecDebugLog and SecDebugLogLevel directives are simply ignored it seems

[2020-02-04 07:19] jeremyjpj0916 commented on #1734
We spent some time playing with ModSec v3/master + NGINX-connector and OWASP v3.2 CRS today too in our personal DCs(All the latest flagship releases of the libs as of 02/04/2020). Figured I would throw some of our results and configuration information out there for yah to digest:

We run NGINX+ OpenResty + Kong(API Gateway application) for REST/SOAP/Websocket API services.
[code]
6 worker processe

[2020-02-04 09:16] osamamaruf commented on #2258
@airween Thank you for the prompt response. We will upgrade. One question though the request also had hit this rule `MULTIPART_DATA_BEFORE` I was not able to find documentation explaining what is does. The `MULTIPART_BOUNDARY_QUOTED` was pretty straight forward. Also here is the request;

[code]

[2020-02-04 11:06] dune73 commented on #1734
Thank you for this extensive writeup. It's interesting to see what you can get out of it, when you drop rules that are of no interest to you.

[2020-02-04 12:11] zimmerle commented on #1734
Thank you for the notes @jeremyjpj0916. There is this wiki page - https://github.com/defanator/modsecurity-performance/wiki where @defanator carefully collects data on the performance of the engine with and without CRS loaded.

[2020-02-04 12:11] #2255 closed, assigned to zimmerle

[2020-02-04 12:26] zimmerle commented on #2257
@AnoopAlias I have seen two cases where that situation occurs:

- The debug logs make usage of shared memory to control the writing flow among the different processes. A brute shutdown may lead to a circumstance where garbage was left on the shared memory that further will imped the debug logs to be written well. List the shared memory attached to Nginx, and try to delete it after stop Nginx / bef

[2020-02-04 12:28] zimmerle commented on #2252
closing as we are not having feedback from the user who originally reported it.

[2020-02-04 12:28] #2252 closed, assigned to zimmerle

[2020-02-04 12:44] airween commented on #2258
Hi @osamamaruf,

thanks - is there an empty line between the two lines above?
[code]
If yes, that's the "data before".

For the "boudary quoted": if it's quoted, looks like a flag had been set to true, and log shows:
[code]
also if the data before boundary, I got a message:
[code]
And looks like the MULTIPART_STRICT_ERROR set [to TRUE if any of these flags are set](https://github.com/SpiderLabs/Mo

[2020-02-04 13:26] Globulopolis commented on #2127
This issue is applicable to ModSecurity/Apache on Windows platform. If Apache is running under NT `AUTHORITY\LocalService` you will get errors about `ModSecurity: Audit log: Failed to create subdirectories`.
To avoid this create an user and set permission `Log on as service` via secpol.msc. When run Apache under this user.

[2020-02-04 13:53] #1918 closed, assigned to victorhora

[2020-02-04 15:51] mdunc opened #2259 "Fails to compile with MaxMind DB"
Compilation currently fails if the MaxMind DB library is in use.

`utils/geo_lookup.cc:124:13: error: no matching function for call to 'MMDB_lookup_string'
        r = MMDB_lookup_string(&mmdb, target.c_str(), &gai_error, &mmdb_error);
            ^~~~~~~~~~~~~~~~~~
/usr/include/x86_64-linux-gnu/maxminddb.h:195:33: note: candidate function not viable: 1st argument ('const MMDB_s *') would lose con

[2020-02-04 16:09] airween commented on #2259
Same error at #2254, see the comments.

[2020-02-04 16:18] mdunc commented on #2259
Yep, that's the same thing.  Thanks!

[2020-02-04 16:18] #2259 closed, assigned to nobody

[2020-02-04 17:26] jkurek1 opened #2260 "NGINX with OWASP-CRS do not log alerts properly"
I have problem with logging alerts from OWASP-CRS.
For example, I make request:

    https://host?exec=bin/bash

Mod security blocked this request properly, but in error logs i have just one alert:

    2020/02/04 16:51:34 [error] x#x: *x [client xxxx] ModSecurity: Access denied with code 403 (phase 2). Matched "Operator `Ge' with parameter `4' against variable `TX:ANOMALY_SCORE' (Value: `5' ) [fi

[2020-02-04 19:07] martinhsv commented on #2260
Hi @Chivolta ,

What version of ModSecurity are you using?

I just tried your test case with ModSecurity v3.0.4 and both the the original match rule (932160) and the anomaly score rule (9494110) logged to nginx's error.log file.

[2020-02-05 00:36] jkurek1 commented on #2260
Hi @martinhsv,
I'm using ModSecurity v3.0.3.
I tried use docker image: owasp/modsecurity-crs:3.3-nginx also and problem is the same. I've just added this line in /etc/modsecurity.d/include.conf

`
Include /etc/modsecurity.d/modsecurity.conf`

Output from container: docker logs

    xxx - - [05/Feb/2020:00:40:09 +0000] "GET /?exec=bin/bash HTTP/1.1" 403 555 "-" "Mozilla/5.0 (Windows NT 10.0; Win64;

[2020-02-05 12:21] #2246 closed, assigned to nobody

[2020-02-05 17:01] martinhsv commented on #2260
Hi @Chivolta ,

Although there were some logging issues in v3.0.3 that have been fixed in v3.0.4, I suspect what you are seeing is not a bug, but a configuration issue.  I did try your sample input in ModSecurity v3.0.3 and did see both rules logged to nginx's error.log file.

What you are seeing may be desirable for some users.  I.e. less logging in nginx's error.log file but that provides a trig

[2020-02-05 17:15] zimmerle commented on #2249
Hi,

There may be related to the way that Nginx handles the configuration mergers, therefore I am bringing @defanator to the discussion, as he is an expert.

@defanator since the commit 3c41751edac579d8d930f91f718dab46f90de3e5 we have the behavior that was reported by @ledzepp4eva. The merging is only happening if a **child** configuration was not set before.

Here is the relevant piece of code -

[2020-02-06 06:33] unix196 opened #2262 "Rules modsec v3 not always work as the expected"
Good morning. We create rules which are blocked ip addresses if they doing "bad" queries several times (nginx + modsec v3).
Rules - https://pastebin.com/DmKfggBP. Then I begin doing bad queries:
`curl https://test.ru/my-test.cfg`

_Expected behavior_: after 3 times ip must blocked for 1 hour.
_What in practice_: I continue doing bad queries, but I can get **forbidden** (that right) or can receive

[2020-02-06 09:02] defanator commented on #2249
Yes, that's the only correct behaviour in nginx configuration logic, described here: http://nginx.org/en/docs/dev/development_guide.html#http_conf

We have corresponding tests in the connector module here: https://github.com/SpiderLabs/ModSecurity-nginx/blob/master/tests/modsecurity-config-merge.t

However, the configuration there in test is reversed from the configuration from this issue (globall

[2020-02-06 10:04] AnoopAlias commented on #2257
I can confirm this is not SELinux/AppArmor as it is a cPanel server and SELinux is not in the enabled state

https://i.imgur.com/tAWyAii.png

The permissions also look fine, in fact I tried 777 for the debug.log file and this didn't help too

I am little lost on listing and deleting shared memory attached to the process, but I have tried several times to restart the process after normal shutdown a

[2020-02-06 11:19] unix196 commented on #2262
After some research, we found that on dev server  does not appear bug. Production and dev servers  have only few difference:
1. dev - `Debian GNU/Linux 9.9 (stretch)`, prod - `Debian GNU/Linux 9.11 (stretch)` (different minor version)
2. productions servers (two) have real traffic. But I try testing rules when prod servers have minimum Load average - problem remain.

[2020-02-06 11:37] afoxdavidi commented on #2262
I'll try to replicate your issue but it sounds like that might be tricky to do, so in the meantime to speed things up: could provide a log from the failing server that includes all three requests?

From the logs you pasted so far it looks like in the "good" scenario the attempts counter was up to 14, which is larger than 3, and thus a block occurred, in the "bad" scenario the counter was only up t

[2020-02-06 13:30] zimmerle commented on #2249
Let me try to map the configuration inclusions on the **docker**.

[nginx.conf](https://github.com/ledzepp4eva/modsecurity-docker/blob/master/3.0.4/nginx.conf) is loaded and it includes _/etc/nginx/conf.d/*.conf_ -

[code]
Ref: [here](https://github.com/ledzepp4eva/modsecurity-docker/blob/ebbb309900c32eec775f7656b48d9a61e9e3e8cf/3.0.4/nginx.conf#L33-34)

At _/etc/nginx/conf.d/*.conf_ we have: [def

[2020-02-07 04:46] unix196 commented on #2262
https://pastebin.com/UqRpmr6v - full log
I send several requests and chose one request with bug, two before him, one after him.
**1 line - first transaction** (without bug)
51-58 lines:
[code]
**64 line - second transaction** (without bug)
114-121 lines
[code]
**127 - third transaction** (bug)
177-182 lines
[code]
**186 - fourth transaction** (without bug)
236-242 lines
[code]
I’ll try to conduct

[2020-02-07 08:07] ledzepp4eva commented on #2249
@zimmerle yes that is correct. So it looks like although it's on in the vhost.conf and modsecurity.conf file is being treated as the child configuration? (Based on the diagram)

[2020-02-07 09:00] ledzepp4eva commented on #2249
An initial test seems to suggest that the diagram is correct and modsecurity.conf is the child configuration. I will document once I've just run some comparisons with the original setup for my own sanity.

[2020-02-07 09:25] ledzepp4eva commented on #2249
Here is the change https://github.com/ledzepp4eva/modsecurity-docker/compare/moving_main_modsec_config
So modsecurity.conf is actually a parent configuration. And when I run my curl tests now:
[code]
and the error logs:
[code]

[2020-02-07 11:25] zimmerle commented on #2249
Glad that you have figured out. This configuration hierarchy can be very confusing.

[2020-02-07 11:25] #2249 closed, assigned to zimmerle

[2020-02-07 12:10] jkurek1 commented on #2260
Hi @martinhsv,
I changed error log level to info, and I see now more alerts. In Apache/mod_security 2.9.3 every rule which match is logging as error.
For example, I make request:
    https://host?exec=bin/bash

    [Fri Feb 07 13:01:24.677804 2020] [:error] [pid 24609:tid 140151481100032] [client x:63497] [client x] ModSecurity: Warning. Matched phrase "bin/bash" at ARGS:exec. [file "/home/x/httpd

[2020-02-07 12:40] #2260 closed, assigned to nobody

[2020-02-07 12:59] afoxdavidi commented on #2262
Hi @unix196 ,

That's the reason I asked for the full log, I wanted to see if they're all going to the same thread, often the difference between dev and prod is that you'll have a stronger machine and be running more threads. Looks like you figured it out for yourself.

It seems from the latest update you made that you're using the in-memory collection, which as you worked out is not shared betwee

[2020-02-07 12:59] #2262 closed, assigned to afoxdavidi

[2020-02-09 10:58] unix196 commented on #2262
I have some new questions ;)
- Is there any options for configuration number of threads?
- Why If I try send multiple bad queries from one ip -  after some time, I suppose, all threads  must contain in their ip collections bad ip and I must receive forbidden in all queries, but this does not happen? Are threads periodically created and die?
- LMDB are production ready backend?

It will be cool, if

[2020-02-10 11:37] zimmerle commented on #2257
Restart the process, indeed will not help. Is this server suitable for a restart?

[2020-02-11 13:15] flynn1973 commented on #1317
we are not building from source anymore...closing.

[2020-02-11 13:15] #1317 closed

[2020-02-11 13:15] flynn1973 commented on #1657
we are not building from source anymore...closing.

[2020-02-11 13:15] #1657 closed

[2020-02-11 13:48] zimmerle commented on #2247
Hi @vieridipaola,

Version 3 is a re-write, those configuration flags has changed from v2 to v3. Here is an example of a package and its configuration flags:
https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/libmodsecurity

[2020-02-11 13:48] #2247 closed, assigned to zimmerle

[2020-02-11 13:51] zimmerle commented on #2228
Hi @amelroua,

I am afraid I cannot help you promptly because o don't know all the details of your environment. Is there o virtual machine/docker image that I can use to replicate your environment?

[2020-02-11 13:51] #2228 closed, assigned to zimmerle

[2020-02-11 14:22] martinhsv commented on #2251
Hi @matthijs ,

The non-regex version of SecRuleUpdateTargetById that you had originally should now work in v3/master.

This is as of https://github.com/SpiderLabs/ModSecurity/commit/1b1fdc055b8071ad3b24573abfe9b96e546c7abf

[2020-02-11 14:22] #2251 closed, assigned to martinhsv

[2020-02-11 16:17] zimmerle commented on #2174
This was fixed at: dc78c0e180d09aa1b2f0ffad1a8d6967e69f984f

[2020-02-11 16:17] #2174 closed, assigned to zimmerle

[2020-02-11 20:05] vieridipaola commented on #2247
I take it that to avoid the compilation error you suggest to use --disable-examples like in the archlinux example.

[2020-02-11 20:47] argupta23 opened #2264 "Ubuntu 18.04 with Nginx 1.17.8 - build fails when compiling from source using ModSecurity - v3.0.4-24-gb7e28c24 for Linux"
Build Failing while installing on Ubuntu 18.04  and Nginx 1.17.8 with below error:

`
ModSecurity - v3.0.4-24-gb7e28c24 for Linux

 Mandatory dependencies
   + libInjection                                  ....v3.0.4-24-gb7e28c24
   + SecLang tests                                 ....b7e28c24

 Optional dependencies
   + GeoIP/MaxMind                                 ....found
      * (GeoIP) v1.6.

[2020-02-11 21:34] argupta23 commented on #2264
It looks like it is an issue with the ModSecurity ModSecurity - v3.0.4-24-gb7e28c24 for Linux.

I know that this actually works with Nginx 1.17.6 and ModSecurity - v3.0.4-18-gf7e4c1d9 for Linux

ModSecurity - v3.0.4-18-gf7e4c1d9 for Linux

 Mandatory dependencies
   + libInjection                                  ....v3.0.4-18-gf7e4c1d9
   + SecLang tests                                 ....f7e4c1

[2020-02-11 21:39] airween commented on #2264
May be you should go back to [f7e4c1](https://github.com/SpiderLabs/ModSecurity/commit/f7e4c1d9f5c96429334a28561fd2dd8cc4b53d30)

[code]

[2020-02-12 02:54] argupta23 commented on #2264
yes that is what I did.

[2020-02-12 10:10] Viktova opened #2266 "' Refactoring: Renames Rules to RulesSet ' commit broke the compilation process"
the usual steps and following wiki instructions,
**git clone https://github.com/SpiderLabs/ModSecurity.git && cd ModSecurity && ./build.sh && git submodule init && git submodule update && ./configure && make && sudo make install**

in the past few days and till yesterday night it worked just fine with no issues.
Just today after doing some tests on a newly created server running Ubuntu 18.04.3
aft

[2020-02-12 10:25] Viktova commented on #2266
Confirmed by going back to the last commit on the 4th of Feb: [Commit](https://github.com/SpiderLabs/ModSecurity/commit/f7e4c1d9f5c96429334a28561fd2dd8cc4b53d30)
[code]
I tried to compile and it went through with no issues.

[2020-02-12 10:33] Viktova commented on #2266
This commit broke the compilation: [Commit](https://github.com/SpiderLabs/ModSecurity/commit/7495675d540b3b3ccce681773205a4fe34daeb64)

the older commits work just fine.
Hope this helps

[2020-02-12 10:43] Viktova commented on #2264
https://github.com/SpiderLabs/ModSecurity/issues/2266

[2020-02-12 11:46] zimmerle commented on #2266
Well spoted @M034B5,

Working on the fix

[2020-02-12 12:00] zimmerle commented on #2266
fix is on the build bots.

[2020-02-12 12:49] #2264 closed, assigned to nobody

[2020-02-12 15:20] Viktova commented on #2266
worked like charm thanks @zimmerle !

[2020-02-12 15:55] #2266 closed, assigned to zimmerle

[2020-02-12 22:25] jeremyjpj0916 opened #2267 "MULTIPART_STRICT_ERROR False Positive 3.0.4"
**Describe the bug**

Trying to do the OAuth2.0 Client Credential grant type with Content-Type: multipart/form-data with a boundary. Sample below:

(Creds redacted)

POST https://gateway.company.com/auth/oauth2/token HTTP/1.1
[code]

Note this was produced by the SOAPUI REST client, so I would think it to be entirely valid
multipart/form-data with a boundary.

**Logs and dumps**

[code]

Any harm

[2020-02-12 23:55] jeremyjpj0916 commented on #2267
Also the last field \\x0aFL "] not printing a 0 or 1 is interesting/a bug i imagine, turns out it was set to 1(I think?) internally though cause when we pulled it out for an extra test to pass WAF checking, thats was what finally let strict validation rule pass w/out blocking the tx.

[2020-02-13 09:01] Archerkong opened #2268 "Compile faile with useing centos7 mininal version"
**Describe the bug**

Error at compile time

**Logs and dumps**
Making all in src
make[1]: 进入目录“/opt/ModSecurity1/src”
make  all-recursive
make[2]: 进入目录“/opt/ModSecurity1/src”
make[3]: 进入目录“/opt/ModSecurity1/src”
/bin/sh ../libtool  --tag=CXX   --mode=compile g++ -DHAVE_CONFIG_H -I.  -std=c++11 -I.. -g -I../others -fPIC -O3 -I../headers -DWITH_GEOIP -I/usr/include/      -DWITH_YAJL    -DPCRE_HAVE_

[2020-02-13 09:36] afoxdavidi commented on #2262
Hi @unix196 ,

* The number of threads is controlled by nginx so you'll find these settings in nginx' configuration.
* Similarly, threads in general are managed by nginx, periodically dying doesn't sound like normal behaviour to me but there are a lot of ways to configure nginx so there might be some stuff I'm not aware of. If you want to debug it further you can track the thread IDs in modsec aud

[2020-02-13 11:17] sidv93 opened #2269 "Compilation failed with nginx 1.13.6"
**Expected behavior**

Modsecurity expected to compile on Ubuntu 18.04 with nginx 1.13.6 and latest Modsecurity v3 nginx connector

**Server (please complete the following information):**
 - ModSecurity version (and connector):  ModSecurity v3.0.4 with nginx-connector v1.0.1
 - WebServer: nginx-1.13.6
 - OS (and distro): Ubuntu 18.04

**Steps to reproduce:**
 - Clone v3/master branch
 - git submod

[2020-02-13 11:59] zimmerle commented on #2269
wip

[2020-02-13 12:17] zimmerle commented on #2269
Fixed by 4e9ba44d034c7afdf23bacea948b3b9961f424dc

[2020-02-13 12:17] #2269 closed, assigned to zimmerle

[2020-02-13 12:19] zimmerle commented on #2268
Hi @Archerkong,

What is the latest commit in your ModSecurity git-tree?

[2020-02-13 15:05] martinhsv commented on #2267
Hi @jeremyjpj0916 ,

Those three lines that you highlight from the definition of rule 200003 in modsecurity.conf really only control log output, so removing them will not stop the false positives (i.e. removal would just omit the 'BQ 1' (etc.) from the log output).

To stop the false positives, a couple of options that you could consider:
- modify your rule that checks MULTIPART_STRICT_ERROR to no

[2020-02-13 17:00] jeremyjpj0916 commented on #2267
@martinhsv appreciate the prompt feedback. Yes we are indeed breaking out the rules individually and assigning them unique id's now(yeah we goofed just messing with the print statement originally hah) and commenting out the necessary ones to get this payload working.

[2020-02-13 18:05] rsbrisci commented on #2267
@martinhsv Hi! I work with @jeremyjpj0916
Currently giving this a shot!

[code]

edit: `DB` in all my log statements ofcourse leading to confusing logs. Have rectified :P

[2020-02-13 18:17] rsbrisci commented on #2267
That did the trick!

Now the OWASP CRS has found a reason to block this request, but we're past the ModSecurity rules. Thank you for your help!

[2020-02-14 06:48] Archerkong commented on #2268
@zimmerle II see you updated the version and the problem has been solved，thanks

[2020-02-14 20:27] shibumi-matt opened #2270 "Reference Manual links for 3.x in the wiki are not working"
Navigating to the following link for 3.x docs:
https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v3.x%29

Gives the message:
"You do not have permission to update this wiki."

[2020-02-17 09:28] davidbalazs commented on #2218
hi @martinhsv sorry for the long delay, I was involved in something else in the meantime, but I have some great news to share:
with modsecurity":"ModSecurity v3.0.4 (Linux)
and ModSecurity-nginx v1.0.1 connector, it worked fine.
I ran the same test over the weekend and the number of processes remained constant and the memory didn't go higher than 200MB

Thanks for the assistance!

[2020-02-17 11:58] zimmerle commented on #2270
Hi @shibumi-matt

Indeed, the reference manual for version 3 does not exist yet.

[2020-02-17 11:58] #2270 closed, assigned to nobody

[2020-02-17 11:58] #2268 closed, assigned to zimmerle

[2020-02-17 12:00] #2267 closed, assigned to martinhsv

[2020-02-18 14:30] martinhsv commented on #2218
Hi @davidbalazs ,

That's great to hear.  Thanks for posting the update.

[2020-02-19 02:54] Archerkong commented on #2165
I think you can detect log changes and send email，just got an idea but i haven't tried，Or try log analysis tools

[2020-02-19 13:43] #2165 closed, assigned to zimmerle

[2020-02-19 16:10] martinhsv commented on #1825
Support for filename* is in v3/master as of https://github.com/SpiderLabs/ModSecurity/commit/136db3e582261382b668cc75592be667307dd052

[2020-02-19 16:10] #1825 closed, assigned to victorhora, martinhsv

[2020-02-20 12:14] hammedsadeghi opened #2271 "Hook For run script after block"
hi
i want to run scripot for send email or SMS after blocking request in modSecurity in Nginx
can you guide me for this problem ?

[2020-02-25 09:45] hamzasaeed2029 commented on #416
I deployed modsecurity as default with crs and it did not protect me from DOS attack which I tried with "hulk" tool. Nothing showed up on logs (debug.log,access.log or error log) Kindly help.

[2020-02-26 11:24] jkurek1 commented on #2271
You can use SecRule with operator exec:
SecRule: https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#SecRule
Exec operator: https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#exec

Check this also: https://gryzli.info/2015/12/25/modsecurity-using-lua-scripts-with-secrulescript/
SecRuleScript: https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2

[2020-02-28 08:45] expertadmins opened #2272 "Whitelist an IP from all rules"
I am trying to whitelist an IP from all mod security rules.

I have added the below line. This ID '941140' was captured from Apache error logs. When I restarted Apache it says the ID exists already. Can somebody tell me how to perform the whitelisting?

SecRule REMOTE_ADDR "@contains XXX.XXXX.XXX.XXX"  "phase:1,nolog,allow,ctl:ruleEngine=off,id:941140"

[2020-02-28 09:22] #2272 closed, assigned to nobody

[2020-02-28 17:08] slinikma opened #2273 "SecRequestBodyAccess Off doesn't fully disable request body processing"
Hi!

Why setting `SecRequestBodyAccess Off ` doesn't fully disable parsing request body and filling ModSecurity variables?

My case:
I'm using ModSecurity with Nginx for proxying files as multipart/form-data. I don't want to process body content and save memory,
so I set `SecRequestBodyAccess` to  `Off ` and when I send a big file I get bad_alloc error and core dump:

[code]

For me it's seems lik

[2020-02-28 18:48] averges commented on #2237
Exactly the same behavior here. Tried with 014adabda4db27785c8f5f840442eb09ba7d0725 and ModSecurity-nginx v1.0.1

[2020-02-28 22:58] stefan-kos opened #2274 "rule not logged with SecRuleEngine On"
I use ModSecurity 3.0.4 and CRS 3.2.0 ruleset with Apache 2.4.41 ModSecurity-apache connector compiled from master, CentOS 8.1.1911

Using the ruleset with the scoring feature, on a blocking situation there is a rule logging the total score, rule ID 949110

This is not working if SecRuleEngine is set to "on". The total score with this rule, or this rule is logged if SecRuleEngine is set to Detecti

[2020-02-28 23:14] airween commented on #2274
Please note, that ModSecurity-apache connector is not stable, and **very** not recommended to use it.

[2020-02-29 09:06] stefan-kos commented on #2274
Hi, thanks for your answer. What would then be the recommended way to use v3?

[2020-02-29 11:02] airween commented on #2274
I'm sorry, I don't have any information about that.

[2020-02-29 16:01] stefan-kos commented on #2274
Ok thank you. Apache connector is quiet long in beta now…

Is connector for nginx stable?

Von: Ervin Hegedus <notifications@github.com>
Antworten an: SpiderLabs/ModSecurity <reply@reply.github.com>
Datum: Samstag, 29. Februar 2020 um 12:02
An: SpiderLabs/ModSecurity <ModSecurity@noreply.github.com>
Cc: Stefan <stefan@koebeli.ch>, Author <author@noreply.github.com>
Betreff: Re: [SpiderLabs/ModSecu

[2020-02-29 17:13] airween commented on #2274
Hi Stefan,

For Apache HTTP server you can use the mod_security2 Apache module.

ModSecurity-nginx connector is officially released, as I know it's production ready.

[2020-02-29 21:26] stefan-kos commented on #2274
Hi, no worries, it's fine for me. I give nginx a chance for our reverse proxy, and wait for apache connector is prod ready.
Thanks for your answers, I close this issue.

[2020-02-29 21:26] #2274 closed, assigned to nobody

[2020-03-02 12:00] #2271 closed, assigned to zimmerle

[2020-03-02 12:03] zimmerle commented on #416
Hi @hamzasaeed2029  you may want to open the issue on the CRS project, they will be able to help you with the CRS rules.

[2020-03-02 12:03] #416 closed

[2020-03-02 12:09] zimmerle commented on #2273
Hi @slinikma,

That is something that only happens within the intermediate file? or something that happens via memory exchange?

[2020-03-03 11:14] slinikma commented on #2273
@zimmerle, sorry I mixed up `SecRequestBodyAccess Off` and `ctl:requestBodyAccess=Off`. So, core dump I described above was with `SecRequestBodyAccess` set `On` and rules with `ctl:requestBodyAccess` set `Off`.
In such case it's not really obvious that ModSecurity set request body to REQUEST_BODY and FULL_REQUEST variables and occupies memory size  three times (?) bigger than file size. Setting va

[2020-03-04 11:15] prince-java opened #2275 "Where is mlogc in ModSecurity 3?"
I can't find mlogc after installing ModSecurity 3.0.4, do I need to install it by myself?
Or just it only can work with ModSecurity 2?

[2020-03-04 14:21] zimmerle commented on #2275
Hi @prince-java,

The **mlogc** utility is no longer available as part of v3. Withing v3, the default logging alternative is a JSON that can be sent straight to your event processing database (such as _logstash_). Therefore you may not need something like the **mlogc**.

[2020-03-04 14:21] #2275 closed, assigned to zimmerle

[2020-03-04 23:36] aledbf opened #2276 "[Question]: nginx location configuration"
I am using this configuration:

- http section:
[code]

- a particular location:

[code]

The issue here is related to `modsecurity_rules` configuration. There is no enforced mode in the location
Is this the right way to configure the module?

How is it possible to debug this misconfiguration?
Thanks

xref: https://github.com/SpiderLabs/ModSecurity-nginx/issues/183

[2020-03-05 06:58] disaster123 opened #2277 "REQBODY_ERROR for Request body no files data length is larger than the configured limit with ProcessPartial"
**Describe the bug**

While running CRS v3.1.1 and mod_security 2.9.3 with apache 2.4.41 i'm seeing REQBODY_ERROR while i've set ProcessPartial when the SecRequestBodyNoFilesLimit is reached.

SecRequestBodyLimit 13107200
SecRequestBodyNoFilesLimit 1048576
SecRequestBodyInMemoryLimit 1048576
SecRequestBodyLimitAction ProcessPartial

**Logs and dumps**

[code]

**To Reproduce**

Steps to reproduce

[2020-03-05 11:56] zimmerle commented on #2276
Let's have this conversation at SpiderLabs/ModSecurity-nginx#183

[2020-03-05 11:56] #2276 closed, assigned to nobody

[2020-03-05 12:38] zimmerle commented on #2277
Hi @disaster123,

I believe that **ProcessPartial** is not valid for [SecRequestBodyNoFilesLimit](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#secrequestbodynofileslimit) rather it is applicable to [SecRequestBodyLimit](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#secrequestbodylimit). The configuration directive that could set **ProcessP

[2020-03-05 12:38] #2277 closed, assigned to zimmerle

[2020-03-05 12:39] zimmerle commented on #2257
@AnoopAlias restarting the server made it workable again?

[2020-03-06 05:07] hamzasaeed2029 commented on #416
I think I haven't set the parameters. let me first try doing that. Thanks for being helpful

[2020-03-06 09:11] jeremyjpj0916 opened #2278 "Log output for JSON/XML error msg has an extra newline in it"
**Describe the bug**

There is just a straight up newline in the error msg between XML/JSON parse error prints, example below:

[code]

Latest version etc. The reason this was obnoxious was I for the longest time thought ModSec was telling me WHAT was in the payload that was the trailing garbage, being a newline(hex \x0a) after the JSON or something lol ... which is actually valid JSON anyways acc

[2020-03-06 13:26] dstrecker opened #2279 "Empty body blocked if Content-type: text/xml"
I have a client sending GET requests without a body but with Content-type: text/xml. They are blocked by rule 200002 (using the recommended config) with a 400 Bad Request.

I understand it makes no sense to send this header, but it also should do no harm. Other content types like application/json are not blocked.

What options do I have apart from disabling rule 200002 for this URI? I have no cont

[2020-03-06 15:36] jeremyjpj0916 commented on #2279
Pretty sure this that makes sense, GETs should not set a Content-type.

[2020-03-06 17:52] martinhsv commented on #2279
Hi @dstrecker ,

Your initial thought is basically correct:  what you want to do in this situation is disable the rule.  A safer way to do this can be to set your conditions as narrowly as possible based on whatever well-understood false positive that you are seeing.

For example, you could do something like this:
[code]

If this only occurs with a particular URI, you could add a test for that to

[2020-03-09 07:13] disaster123 commented on #2277
@zimmerle the problem here is that a lot of current applications file uploads are handled as non file uploads in mod_security. So a lot of file uploads are limited by SecRequestBodyNoFilesLimit. For example https://www.dokuwiki.org/dokuwiki

[2020-03-09 11:40] zimmerle commented on #2278
Hi @jeremyjpj0916,

Indeed this **new line**  can be very annoying. The error message is generated here:
https://github.com/SpiderLabs/ModSecurity/blob/014adabda4db27785c8f5f840442eb09ba7d0725/src/request_body_processor/json.cc#L102-L114
_(Vide line 106)_

As you can see, there is no new line added by ModSecurity. The new line, cames straight from **yajl**. Here:
https://github.com/lloyd/yajl/blob

[2020-03-09 11:45] zimmerle commented on #2277
You can whitelist the URI for file upload.

[2020-03-09 11:49] disaster123 commented on #2277
That sounds good - how?

[2020-03-09 11:58] zimmerle commented on #2277
You can use **ctl:ruleRemoveById=200002** as an action if the request path matches with the file upload path used on the application.

[2020-03-09 13:18] #2279 closed, assigned to martinhsv

[2020-03-09 14:09] jeremyjpj0916 commented on #2278
@zimmerle Appreciate your diligence. Makes sense to fix it at the 3rd party lib if at all possible. Good find on the newline. Hopefully they give it some consideration, otherwise chomp(char s[]) should likely be safe.

[2020-03-11 11:32] Vaibhavgoe opened #2280 "httpd services is taking more time to restart"
Hi All,
 We have configured modsecurity on httpd server. after mod security configuration, it is taking more time to restart the httpd services. it is taking around 2 mins. can anyone suggest, how to resolve the issue

[2020-03-11 11:42] airween commented on #2280
Just an idea... Does your `SecStatusEngine` variable set to `On`? If yes be sure, your another network component (eg. firewall, ...) doesn't blocks the status request.

[2020-03-11 13:37] zimmerle commented on #2280
Hi @Vaibhavgoe,

Are you using **SecRemoteRules**?

[2020-03-11 13:38] martinhsv opened #2281 "@eq operator should produce a warning if used with non-numeric value"
The @eq operator is currently intended to be used with numeric values.  But, with a name like 'eq' a rule writer may inadvertently compose a rule with something like "@eq foo" ... which is unlikely to be what the rule writer intends.

It might be helpful if use of @eq with a non-numeric value produced at least a warning message at rule-load time.

[2020-03-12 05:24] Vaibhavgoe commented on #2280
No SecStatusEngine is off.

No we are not using SecRemoteRules

[2020-03-12 05:46] Vaibhavgoe commented on #2280
[Thu Mar 12 10:49:44.752873 2020] [mpm_prefork:notice] [pid 27788] AH00171: Graceful restart requested, doing restart
[Thu Mar 12 10:50:35.332727 2020] [auth_digest:notice] [pid 27788] AH01757: generating secret for digest authentication ...
[Thu Mar 12 10:50:35.334046 2020] [lbmethod_heartbeat:notice] [pid 27788] AH02282: No slotmem from mod_heartmonitor
While reloading the httpd service, the fol

[2020-03-12 11:59] zimmerle commented on #2280
Is there any ruleset loaded? is it ModSecurity version 2 or 3? What is the specific version?

[2020-03-12 12:32] Vaibhavgoe commented on #2280
default core rule set are loaded.. it is ver 2

[2020-03-13 12:32] sithara opened #2282 "Azure AD redirect login with modsecurity"
I've problem with Azure AD redirect login throwing modSecurity

this what i see in logs :
1) 942430 Restricted SQL Character Anomaly Detection (args): # of special characters exceeded (12):
 `"message": "Warning. Pattern match \"((?:[\\\\~\\\\!\\\\@\\\\#\\\\$\\\\%\\\\^\\\\&\\\\*\\\\(\\\\)\\\\-\\\\+\\\\=\\\\{\\\\}\\\\[\\\\]\\\\|\\\\:\\\\;\\\"\\\\'\\\\\\xc2\\xb4\\\\\\xe2\\x80\\x99\\\\\\xe2\\x80\\x98

[2020-03-13 12:50] zimmerle commented on #2280
What happens if you disable the CRS? While restarting apache, do you get any **version mismatch** warning?

[2020-03-13 14:06] martinhsv commented on #2282
Hello @sithara ,

It looks like you are using OWASP Core Rule Set (CRS) rules.  Those rules are mostly intended to be generic, which means that the rules are not associated with a particular CVE (for example) that you could go ahead and patch.

Those types of generic rules are supposed to identify suspicious patterns in any context, but as a result, they can be prone to false positives.   See, for

[2020-03-13 14:53] Vaibhavgoe commented on #2280
after disabling the core rule set, it is still taking time and don't getting any version mismatch error.

[2020-03-16 13:05] #2282 closed, assigned to nobody

[2020-03-18 05:35] jeremyjpj0916 opened #2283 "[Feat] No way to evaluate rule performance time ModSec v3"
So I wanted to figure out why WAF takes 40 seconds on one type of payload thats not very big. So I see this:

https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#secruleperftime

Was gonna do this:
[code]

But then I notice v3 outputs:
[code]

Is there an alternative method to track rule performance time or am I just out of luck on the v3 series for now xD ? Seems like a super h

[2020-03-18 06:57] kumaranubhaw opened #2284 "XSS attack detected for session id string in Cookie"
### Description of Problem
I am using the Rails application.

The rails generates new session id string on each request which is stored in cookie in browser which consists of alpha-numeric characters and symbols. when new request to server is made the session id is used and newly generated session id string will be replaced in cookie.

The session id can be any alpha-numeric and symbols character,

[2020-03-18 13:11] martinhsv commented on #2284
Hello @kumaranubhaw ,

Yes, you can indeed skip particular rules for a particular variable causing a false positive.  When using a generic rule set -- you appear to be using the OWASP Core Rule Set (CRS) -- it is pretty common to need to do some such specific exclusions.

A common strategy in cases like yours is to exclude specific variables from the rule.

One option is to exclude your particular

[2020-03-18 13:32] zimmerle commented on #2283
Hi @jeremyjpj0916,

ModSecurity was made to be used with Linux instrumentation. Follow the details here - https://github.com/SpiderLabs/ModSecurity-nginx/blob/master/ngx-modsec.stp and here https://en.wikipedia.org/wiki/SystemTap

[2020-03-18 13:32] #2283 closed, assigned to zimmerle

[2020-03-19 00:03] gfranco93 commented on #2167
Any news on this?

[2020-03-19 01:55] kumaranubhaw commented on #2284
Thank you @martinhsv for your help.
The best idea is to exclude particular cookie directly in the rule.
I just exclude for the cookie pattern (!REQUEST_COOKIES:_my_app_session) and that works fine.

I am closing this issue.

[2020-03-19 01:55] #2284 closed, assigned to nobody

[2020-03-19 19:39] gullu44 commented on #2277
We are also seeing same issue . We use mod_sec 2.9.3/apache2.4.41/CRS 3.2.0 . We have below directive
SecRequestBodyLimit 8000000
SecRequestBodyNoFilesLimit 640000
SecRequestBodyLimitAction ProcessPartial

I thought when SecRequestBodyLimitAction is set as ProcessPartial, it influence only SecRequestBodyLimit but we are seeing it influence   SecRequestBodyLimitAction also and we noticed 400 status

[2020-03-20 17:19] zimmerle commented on #2280
Hi @Vaibhavgoe,

Have you installed the packages using the distribution or have you compiled it? Is there any other component associated with ModSecurity?

[2020-03-22 10:30] ahmedelfaleh opened #2285 "Issue with make modules"
**Error appears when run make modules inside nginx connector folder**
After compiling Modsecurity successfully and I downloaded http://nginx.org/download/nginx-1.10.3.tar.gz
I chose this version to be compatible with the running nginx, And I can't upgrade it because it is compatible with BigBlueButton Application.

Then `cd` into `nginx-1.10.3`
I ran:
`# ./configure --with-compat --add-dynamic-mod

[2020-03-23 08:10] vlameiras opened #2286 "Unable to use custom REQUEST_HEADER on whitelist action"
I'm trying to use a custom request header on a ModSecurity whitelist rule so I can remove specific rules contained in this header.
[code]
However, when I try to do it I get the following error on NGINX:

I wonder if this is even possible to do...

[2020-03-23 09:45] ahmedelfaleh commented on #2285
Anyone can help me with that?

[2020-03-23 09:46] ahmedelfaleh commented on #2285
I repeated the steps but with older modsecurity version 2.9, and the same issue appears.

[2020-03-23 11:30] martinhsv commented on #2286
Hello @vlameiras ,

So what you're trying to do is have an HTTP Request Header like:
[code]
result in disabling a ModSecurity rule with an id 200002.

I'm not surprised that the rule you've written doesn't work as you'd hoped, and I cannot think of an alternative way to accomplish what you're trying to do.

I would moreover caution you against the whole approach.  In many types of web application

[2020-03-23 11:35] vlameiras commented on #2286
Hello @martinhsv ,

Exactly, this is what I was trying to achieve.

Thanks also for pointing that out, the idea was to sanitize the header before so we would prevent that. But since there is no way to achieve this I guess we will have to find an alternative.

Thank you once again.

[2020-03-23 12:33] zimmerle commented on #2285
Hi @ahmedelfaleh, it is very likely that you have multiple versions of nginx on your system and the **make modules** are using the wrong one. Is your nginx installed via compilation or installation package?

[2020-03-23 12:33] zimmerle commented on #2280
@Vaibhavgoe ping

[2020-03-23 12:40] #2286 closed, assigned to nobody

[2020-03-23 13:33] ahmedelfaleh commented on #2285
My nginx installed within an installation script of BigBlueButton.
It's installation package

[2020-03-23 13:39] zimmerle commented on #2285
you have to get the exact same source code that as used in this script.

[2020-03-23 14:00] ahmedelfaleh commented on #2285
Do you mean that I need to re-compile the same nginx version again, while I have existed one?

[2020-03-23 14:04] zimmerle commented on #2285
you have to use the same source files that you have used to compile the one that you have installed. also, you may need to use the exact same configuration flags.

[2020-03-23 16:54] ahmedelfaleh commented on #2285
I think that I have to uninstall the exist nginx and compile the same version from the source code.
If yes, I am worry of make the BigBlueButton stop working, because I don't know what flags I should use, and also worry if BigBlueButton is some how compatible with the existed nginx.
I am confuse of how to do that.

[2020-03-23 23:00] zimmerle commented on #2285
I am afraid I can't help with the specificities of BigBlueButton as I am not familiar with it. The process to compile the ModSecurity module is no different from other modules. Do they have documentation on how to add an extra module?

[2020-03-24 13:56] #2280 closed, assigned to zimmerle

[2020-03-26 19:43] jkurek1 opened #2287 "How to trigger Correlated Attack"
Hi,
I'm preparing monitoring solution for Mod Security. How can I trigger easy Correlated Successful Attack and Correlated Attack or any other rule?

[2020-03-27 12:44] zimmerle commented on #2241
Hi @n0tabot,

Can you share the **rule set** that you have used to this particular benchmark? It seems to me that the Apache version is using some kind of cache while the nginx is not.

[2020-03-27 12:46] zimmerle commented on #2287
Hi @Chivolta,

That depends on the ruleset that you have loaded. Did you have created your own rules?

[2020-03-27 12:48] jkurek1 commented on #2287
Hi @zimmerle,
No I don't have any custom rules.

[2020-03-27 12:52] zimmerle commented on #2287
ModSecurity by itself won't protect your website. You have to load a set of rules. You can opt to: create your own rules, use commercial ones or even use open-source ones.

[2020-03-27 14:49] jkurek1 commented on #2287
Yes, I know about it, but I'm looking for an easy way to trigger specific rules. Of course I can use vulnerable applications like owasp-juice, webgoat and trigger rules manually. I'm looking for a way, for example script that will trigger all rules or specific rules. I'm preparing solution based on ELK and I want to test all logs messages that may appear in audit logs/error logs in realtime.

[2020-03-27 16:24] zimmerle commented on #2287
That depends on what the rule is checking for. Without the rule, it will be impossible to tell.

[2020-03-29 08:39] ahmedelfaleh commented on #2285
Unfortunately BBB doesn't mention anything regarding this needs.
I think that I need to use ModSecurity v2.9 not v3 because the nginx as you see is v1.10.x.
I will let you know if i fix it.

[2020-03-30 12:55] zimmerle commented on #2241
I cannot tell you precisely the details on this particular ruleset, but I know that the make a high usage on collections. Perhaps you want to enable lmdb backend for collections.

[2020-03-31 13:53] #2287 closed, assigned to zimmerle

[2020-03-31 13:54] #2285 closed, assigned to zimmerle

[2020-03-31 13:55] zimmerle commented on #2167
Hi @gfranco93,

Not yet. Sorry.

[2020-04-01 01:38] prince-java opened #2288 "Bug about modsecurity 2.9.3 when it work with nginx"
**Describe the bug**

I report a bug about auditlog,the configuration in modsecurity.conf file is as follows:
`SecAuditEngine RelevantOnly`
`SecAuditLog /var/log/modsec_audit.log`
`SecAuditLogParts ABIJDEFHZ`
`SecAuditLogType Serial`
`SecAuditLogRelevantStatus ^(?:5|4(?!04))`

I know it means that modsecurity will only log the transaction which response status code is 5xx or 4xx, excluding 404,but

[2020-04-01 20:30] dmschlot commented on #1913
Sorry but I'm unclear how to resolve this. I too am using Centos 7 and installed mod_security using yum. I can compile it if needed but unclear if that is needed or what. What needs to be done to resolve these errors?

Message: collection_retrieve_ex: Failed to lock proc mutex: Identifier removed
Message: Audit log: Failed to lock global mutex: Identifier removed

Thanks,
David

[2020-04-02 17:24] Steve8291 opened #2289 "AuditLogs are logging binary data and getting huge"
**Describe the bug**
My audit logs have begun logging binary data under the C section for request body.
This is causing my log files to grow upwards of 5GB each even though they rotate once daily.

I am running the following system:

I have numerous websites that are using ModSecurity through Apache but this only occurs with my installation of Nextcloud and only when very large video files (500MB

[2020-04-03 18:23] zimmerle commented on #2288
Hi @prince-java,

I would strongly recommend using 3.x with Nginx. The 2.x version is known to have some problems. Please upgrade to 3.x

[2020-04-03 18:23] #2288 closed, assigned to zimmerle

[2020-04-03 18:28] zimmerle commented on #2289
Hi @Steve8291,

Do you happens to have compression enabled in your server? You may want to make sure that ModSecurity is running before it. Also, you should consider upgrading to the latest 2.x version.

[2020-04-04 12:55] Steve8291 commented on #2289
@zimmerle I do have mod_deflate enabled in Apache if that is what you mean. How do I make sure ModSecurity runs before it? I'll look into upgrading my version. I just installed the package version that is in the Ubuntu 18.04 repo.

[2020-04-08 07:32] kfkawalec opened #2290 "Missing Audit Log with Nginx and custom errors"
I have nginx 1.16.1 with new version of modsecurity and all newest rules.
But on every request, event simple I have data in audit logs.

I have `SecAuditEngine RelevantOnly`
All configuration from:
https://github.com/SpiderLabs/ModSecurity/blob/v3/master/modsecurity.conf-recommended
https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.3/dev/crs-setup.conf.example

My nginx site config
[code

[2020-04-08 12:58] Blason opened #2291 "GeoIP error while starting nginx"
Hi,

CentOS 7.7 Minimal, nginx/1.17.9 and owasp-modsecurity-crs-3.2.0 & Modsecurity, ModSecurity-nginx v1.0.1 and unable to start nginx with this error.

I a tried searching all the forum/Google but unable finding the exact resolution. Can someone please help? Or direct me to the resolution?

nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /opt/owasp-modsecurity-crs-3.2.0/rule

[2020-04-08 13:21] zimmerle commented on #2291
Hi @Blason,

ModSecurity version 3 has optional dependency support for the  GeoIP and/or MaxMind. You need to install one of them in your system and recompile ModSecurity. Notice by the end of './configure' there will be a summary of what dependencies are found. Make sure GeoIP or MaxMind are enabled.

[2020-04-08 13:21] #2291 closed, assigned to zimmerle

[2020-04-08 13:37] Blason commented on #2291
Any link or documentation would be really appreciated. Would be really grateful

TIA

[2020-04-10 17:43] skwokie opened #2292 "Unable to exclude rule id 920170"
**Describe the bug**
Have a business need to exclude rule id 920170 for a specific url. Unfortunately, adding
[code]
in REQUEST-900-EXCLUSION-BEFORE-CRS.conf does not seem to work for me.

**Logs and dumps**
Output of:
 1. DebugLogs (level 9)
[code]

 2. AuditLogs
[code]

 3. Error logs
n/a

 4. If there is a crash, the core dump file.
No crash.
_Notice:_ Be carefully to not leak any confidential

[2020-04-10 21:35] airween commented on #2292
I think you're using the wrong operator in your exclude rule:
[code]
This rule will activated when your `REQUEST_URI` is **exactly same** as your argument. But in your debug.log we can see, that your `REQUEST_URI` is not as you gave, the URI has a `QUERY_STRING`. See the reference:
[`REQUEST_URI`](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#REQUEST_URI) - _"This variable

[2020-04-11 00:09] skwokie commented on #2292
Thanks so much, airween! I'm learning.

[2020-04-11 00:09] #2292 closed, assigned to nobody

[2020-04-12 01:52] benwilliams commented on #756
If you have mod remoteip directive "RemoteIPHeader X-Forwarded-For" modsecurity will not see the header.

[2020-04-12 17:01] Steve8291 commented on #2289
Some additional info:
I now have the latest version of 2.9.3 installed from the git repo.
Everything is running fine with no errors until I attempt to upload a file over nextcloud. Doesn't matter if it is from the computer or the phone client. This is done through an apache request `PUT /remote.php/dav/files/user/directory/file HTTP/1.1`
Audit Log shows `Content-Type: application/octet-stream`
For

[2020-04-12 19:24] Steve8291 commented on #2289
I've managed to fix this so it no longer logs any "C" or "I" block info by adding the following to my modsecurity.conf
No longer getting log files of the gigabyte order!
[code]
Does anyone know if there are any problems with doing this? This is the first SecRule I have attempted.

[2020-04-13 14:18] Steve8291 commented on #2289
The fix above solves my log size issue but does not solve what seems to be the underlying problem of modsecurity treating Nextcloud file uploads as a regular request body. Each request triggers

I would assume that the `SecRequestBodyLimit` would apply since these are uploads but increasing that value has no effect. If I increase the `SecRequestBodyNoFilesLimit` to the size of my largest uploads "

[2020-04-13 14:59] Steve8291 commented on #2289
OK. I totally missed that there are already Nextcloud Exclusion Rules in owasp-modsecurity-crs.
[https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.3/dev/rules/REQUEST-903.9003-NEXTCLOUD-EXCLUSION-RULES.conf](url)
I'm going to try enabling those. That will probably fix all of my problems.
I'll report back if that solves the issue.

[2020-04-13 22:28] Steve8291 commented on #2289
The rules didn't help. I would rather not have to turn off `SecRequestBodyAccess` for those requests but that is the only thing I have come up with.

[2020-04-14 06:34] mhrznamn068 opened #2293 "This version of ModSecurity was not compiled with GeoIP or MaxMind support"
This version of ModSecurity was not compiled with GeoIP or MaxMind support
nginx version: nginx/1.16.1

[2020-04-14 12:40] zimmerle commented on #2293
Hi @mhrznamn068 how can we help you?

[2020-04-14 22:41] NeoTheCapt opened #2294 "Incorrect location for 32/64 architecture dll files."
**Describe the bug**

Incorrect location for 32/64 architecture dll files.
Open the modules list in IIS management.
The file path for "ModSecurity IIS (64bits)" is "%SystemRoot%\System32\inetsrv\ModSecurityIIS.dll" which is actually 32bit folder.

The file path for "ModSecurity IIS (32bits)" is "%SystemRoot%\SysWOW64\inetsrv\ModSecurityIIS.dll" which is actually 64bit folder.

This issue does not

[2020-04-15 11:46] rjshrjndrn commented on #2186
@zimmerle any instruction on how to do that ??

[2020-04-15 20:43] albgen commented on #2254
hello,

just upgraded to the latest nginx 1.17.10 and had to recompile. Same problem

[2020-04-16 01:06] zimmerle commented on #2254
Hi @albgen,

Make sure you have the newest version of ModSecurity.

Check the advise that was stated above: upgrade your libmaxmind or try to disable it by using ``--with-maxmind=no`` as ``./configure`` option.

[2020-04-16 07:46] radboud-asselman commented on #2181
Hi @Elavarasan83 ,
We are experiencing the same problem. I downgraded mod-security to 2.9.1 and the handle leak is gone.
I'm running Apache 2.4.43 (ApacheLounge bins) on Windows 2016 Std EN. We even try the workaround with the directive MaxConnectionsPerChild. This works, but at some point httpd.exe child crashes and results Apache to be unresponsive.

Will this be fixed, the leaking handles?

[2020-04-16 08:29] albgen commented on #2254
Hi zimmerle,

Yes, i compiled removing the libmaxmind library.

Thanks

[2020-04-16 14:19] kanhajinis commented on #1022
Hi @zimmerle,

Any update on this variable as this is holding me to use libmodsecurity as I have many response based rules which are dependent on this directive (STREAM_OUTPUT_BODY). Any alternative for same is also okey for me.

[2020-04-18 22:07] m-faraz commented on #1941
Started this using [this URL](https://www.linuxjournal.com/content/modsecurity-and-nginx), nginx 1.16.1 using ppa:nginx/stable

Encountered same problem, just did
`cp /opt/ModSecurity/unicode.mapping /etc/nginx/modsec/`
and everything worked.
Just need to document this now, it seems!

[2020-04-20 12:09] michaelgranzow-avi opened #2296 "Selection of TX variables via RegEx should not be case-sensitive"
**Description**

Behaviour of ModSec 2.9 and 3.x differs with respect to selection of elements in the 'TX' collection with regular expressions. In 2.9, the RegEx matches without taking case into account, in 3.x the match is case-sensitive.

**Logs and dumps**

Output of the modsec regression test tool with the first test case in the file below as input:
ModSecurity 3.0.4 - tests
(options are not a

[2020-04-20 15:12] airween commented on #2296
Note, that [fix exists](https://github.com/SpiderLabs/ModSecurity/pull/2107).

[2020-04-20 16:29] michaelgranzow-avi commented on #2296
Thanks @airween - do you know why it hasn't been merged? It seems to be marked as duplicate, but isn't as the other bug is about full variable name match, not regex match of the variable name.

[2020-04-20 16:35] airween commented on #2296
@michaelgranzow-avi sorry, I have no idea :).

Also I don't know, what's the "other" issue, so why is this PR marked as duplicated.

[2020-04-20 17:01] michaelgranzow-avi commented on #2296
The other issue is this:

https://github.com/SpiderLabs/ModSecurity/issues/1808

[2020-04-20 17:12] #2293 closed, assigned to zimmerle

[2020-04-23 08:01] vskunkka opened #2298 "how can i use the lua script to control the final action?"
**Describe the bug**
hi:
i write the secrule with a lua script as a more accurate detection,howerver, i don't know how to use the lua script to make the deny or pass action as the final action?can you help me
the secrule is as following:

SecRule ARGS "@rx \.\.\/" "phase:2,id:113,pass,exec:/usr/local/nginx/conf/file.lua"

the lua script is as following:

local string_find = string.find
local m_get

[2020-04-27 12:51] zimmerle commented on #2298
The return code of yours lua script, will indicate if the disruptive action will take place or not. Another option is to use the ENV variables.

[2020-04-27 12:51] #2298 closed, assigned to zimmerle

[2020-04-27 18:48] a-zb opened #2299 "Password scrubbing"
**Describe the bug**

Sanitization of passwords does not seem to work. Password is recorded
in audit log when caught by owasp CRS 3.2 libinjection rule.

Libinjection CRS rule has an output format that outputs the VAR name and values, and mod_sec module does not sanitize it, please see this log output. The rule can be triggered by putting in a character sequence of !@# within the password. How do

[2020-04-27 21:57] inaratech opened #2300 "Modsecurity Audit Log Section A logging IP addresses in HEX"
Hi,
Our modsecurity Audit log is logging section A in HEX i.e) SRC IP and DST IP are all in HEX. Tried searching for references to get this fixed but could not find anything therefore asking here.
A similar configuration on different server logs IP addresses correctly.
sample row as as follows
---zbDIkyKt---A--
[19/Apr/2020:13:50:48 +0900] 1587713388 0x562458815bb0 54952 0x562470244600 443
--

[2020-04-28 00:16] bryanspears commented on #2237
@victorhora I had the same issue as above. No audit log when blocking action occurs. Building master, which included your change, did fix it.

[2020-04-28 12:51] zimmerle commented on #2300
Hi @inaratech,

What are the versions of your ModSecurity and Nginx connector?

[2020-04-28 13:08] inaratech commented on #2300
nginx-1.17.9
Modsecurity_nginx connector v1.0.1 - 2019-Dec-16
Modsecurity v3.0.4 - 2020-Jan-13

[2020-04-28 18:00] Crusnik-02 opened #2301 "Message: collections_remove_stale: Failed to access DBM file "ip|global" Invalid argument"
WinCyr/Apache/mod_security 2.9.3/owasp-modsecurity-crs 3.3/def

Error:
"Message: collections_remove_stale: Failed to access DBM file "/tmp/\xf1\xe8\xf1\xf2\xe5\xec\xe0-global": Invalid argument
Message: collections_remove_stale: Failed to access DBM file "/tmp/\xf1\xe8\xf1\xf2\xe5\xec\xe0-ip": Invalid argument
Apache-Error: [file "apache2_util.c"] [line 271] [level 3] [client ...] ModSecurity: col

[2020-04-28 18:06] Crusnik-02 commented on #2301
Auto text correction.
In my error appears 4 / in a row but here your script left only 2 / in a row.

[2020-04-28 18:07] Crusnik-02 commented on #2301
Auto text correction.
In my error appears 4 \ in a row but here your script left only 2 \ in a row.

[2020-04-28 18:32] Crusnik-02 commented on #2301
OWASP signed as v.3.2.0 - https://github.com/SpiderLabs/owasp-modsecurity-crs/

[2020-04-29 09:17] marcstern commented on #2181
Did you try with the trunk version?

[2020-04-29 09:33] radboud-asselman commented on #2181
No, we did not. We only use the bins available at ApacheLounge.

[2020-04-29 14:42] Crusnik-02 commented on #2301
Solved with degrading to mod_security 2.9.2
Thanks to Steffen from https://www.apachelounge.com

[2020-04-29 14:42] #2301 closed, assigned to nobody

[2020-04-29 17:45] Crusnik-02 commented on #685
Not working also at apache mod v.2.9.2 - apache fail to load with directive like in case 2-5.

[2020-04-29 17:46] Crusnik-02 commented on #685
Not working also at apache mod v.2.9.2 - apache fail to load with directive like in case 2-3.

[2020-04-29 19:00] martinhsv commented on #2299
Hi @arekzb ,

It looks like that's a longstanding limitation related to section H output.  I.e. if the a rule itself is directing a matched value to be written to the log using variables (e.g. MATCHED_VAR) then that will not get sanitized.

For a particular false positive like the one you have here, you have a few options that you could consider:
1) you could decide not to evaluate rule 942100 whe

[2020-04-30 06:38] azurit opened #2302 "Cannot suppress logging to Apache error log"
**Describe the bug**

mod_security is logging messages with level 'error' into apache error log even with this setting:
`LogLevel warn security2:crit`

The problem is, probably, because mod_security is marking messages as if they come from Apache itself. See the log line below, there should be `[security2:error]` instead of `[:error]`.

We need to suppress these messages because they are confusing

[2020-04-30 15:00] gullu44 opened #2303 "Issue with POST request which contain binary files in body with Content-Type as "application/x-www-form-urlencoded""
We are facing issue with  POST request which contain binary files in body with Content-Type as "application/x-www-form-urlencoded"

we are using below versions

Apache :- apache-2.4.41
mod_security :- 2.9.3
CRS :- 3.0

ModSec Directive setting at Vhost level

    SecRuleEngine On

    SecRequestBodyAccess On
    SecRequestBodyLimitAction ProcessPartial

    SecRequestBodyNoFilesLimit 90000000

[2020-04-30 17:43] martinhsv commented on #2302
Hi @azurit ,

Have you considered using 'nolog'?  You can continue logging to audit log but suppress logging to Apache's error.log if the rule's actions include:
[code]

[2020-04-30 17:51] azurit commented on #2302
@martinhsv, I already solved it like you suggested but that doesn't solve problem i described. To fully suppress logging i had to modify rules in CRS ruleset and now i had to manage all these changes with every update of CRS.

[2020-04-30 18:06] martinhsv commented on #2302
Hi @azurit  ,

You shouldn't have to modify every CRS rule.  As shipped, 942100 (for example) does not specify 'log' as one of its actions.  Instead, it inherits certain actions from SecDefaultAction in crs-setup.conf.

If you change the 'log,auditlog' portion of SecDefaultAction to instead have 'nolog,auditlog', then 942100 (and other similarly-structured rules) will no longer log to Apache's err

[2020-04-30 18:09] azurit commented on #2302
@martinhsv I had to modify rules 949110 and 980130, setting SecDefaultAction has no effect on them.

[2020-04-30 19:38] martinhsv commented on #2302
@azurit ,

Sure.  Unlike most CRS rules, those two do indeed specifically have 'log' as part of their actions -- i.e the individual rules explicitly override the setting in SecDefaultAction.  Setting up those two rules that way will have been a decision by the CRS rule maintainers.

I'd summarize by suggesting that, as the ModSecurity engine stands, using 'nolog' (in whatever combination of SecDef

[2020-04-30 19:38] #2302 closed, assigned to martinhsv

[2020-05-01 06:01] Tai7sy opened #2305 "2.9.3 Install failed on Windows Server 2016 / IIS 10"
**Describe the bug**

![JObQtU.png](https://s1.ax1x.com/2020/05/01/JObQtU.png)

OS:
Microsoft Windows [10.0.14393.3564]
login with "Administrator"

[2020-05-01 06:14] Tai7sy commented on #2305
fixed by manual add this value
https://github.com/SpiderLabs/ModSecurity/blob/12cefbd70f2aab802e1bff53c50786f3b8b89359/iis/installer.wxs#L29

[2020-05-01 06:14] #2305 closed, assigned to nobody

[2020-05-01 06:29] azurit commented on #1135
+1 for fixing this

[2020-05-01 06:56] jeremyjpj0916 commented on #2278
Safe to PR a fix of:
[code]
@zimmerle to the modsec lib for yajl? If so I will do it, should be a straight forward PR 😆 . Doesn't seem like yajl library maintainers have answered you besides one guy saying all the error messages just have that random newline at the end of it and its just the way it is.

[2020-05-01 15:48] martinhsv commented on #2303
Hi @gullu44 ,

For the truncated body aspect, there was a similar-sounding issue fixed post-2.9.3 in May, 2019 (https://github.com/SpiderLabs/ModSecurity/pull/2092).

If you're using 2.9.3 from a repo, or built from the 2.9.3-tagged commit, you might want to try building using the most recent commit in the v2/master branch.

[2020-05-01 19:06] gullu44 commented on #2303
Hi @martinhsv ,
Thanks for the update. Yes we already using the fixed version, though we will verify again  ( MarkBlackman was part of our team and We already using the updated repo which contain @rainerjung fix), we have not faced that issue so far.
Issue i highlighted seems different, current issue is limited to POST request which contain binary files in body with Content-Type as "application/x-

[2020-05-02 10:36] mmelo-yottaa commented on #2240
thanks @airween for the lmdb reader gist.  I found using it deadlocks after initial run, I had to change the  order of cursor/dbi/txn/env close.  I am using LMDB 0.9.24: (July 24, 2019).

this works for me without deadlocks -

https://gist.github.com/mmelo-yottaa/8504a5bfc1d97c00c9015dae88159333.

For the curious, this was the deadlock:

NGINX+MODSEC:

Program received signal SIGINT, Interrupt.
__

[2020-05-02 12:39] phil47 commented on #2300
Hello all,

For information, I have the same problem on:
Ubuntu 18.04.4 LTS
nginx/1.17.10 from nginx repository
Modsecurity-nginx v1.0.1 - 2019-Dec-16
Modsecurity v3.0.4 - 2020-Jan-13

I tried to install Apache server with modsecurity on the same server and there is no problem to get the real IP address.

[2020-05-03 15:05] airween commented on #2240
oh, I just created that small tool to read the filled collection database while I used libmodsecurity's regression test. Thank you for your notification.

Anyway, @defanator also has a [fix](https://gist.github.com/defanator/9fc862502054fa01619931fba2af1a03/revisions) to avoid the deadlock.

[2020-05-04 12:58] #2299 closed, assigned to martinhsv

[2020-05-04 20:40] mmelo-yottaa opened #2306 "MS3 atomic updates of persistent integer variables doesnt work in MT environment"
**Describe the bug**

I added the following rule to OWASP CRS v3.0.2 running in Modsecurity 3.

SecRule &ARGS "@eq 0" "id:942001,  phase:2,nolog,pass,  setvar:'resource.xcount=+1'"

and the following configuration to initialize a resource collection:

SecAction "id:90003,phase:1,nolog,pass,initcol:resource=%{REQUEST_HEADERS:Host}"

Examining LMDB after pushing 1000s of requests that match this rul

[2020-05-04 22:12] zavazingo commented on #2300
Yesterday i faced same problem. It wasn't hex ip. It was pointer address.
Here are the quick fix. At ModSecurity/src/transaction.cc change lines like below;

line 1525 -    audit_log << " " << this->m_clientIpAddress->c_str();
line 1527 -     audit_log << " " << m_serverIpAddress->c_str();

Regards.

[2020-05-04 23:28] zimmerle commented on #2300
The bug is confirmed. The fix is really about get the value out of this pointer. We are currently working in something else that will present the fix for that issue as a side effect. Therefore I am leave it as is for now. Couple of days the new code will on v3/master. Thanks for the report.

[2020-05-05 00:12] zimmerle commented on #2306
Hi @mmelo-yottaa,

We are missing a manual for all the wonders in v3, including the details on the implementation of the collections.

As of v3, the collection backend is the one that is theoretically responsible to handle concurrent access (read and/or write). Therefore, concurrence should be handled on the LMDB, memory, or what else you have selected as a backend. It was made that way because it

[2020-05-05 14:38] gullu44 commented on #2303
Hi @martinhsv , confirming you that we are using the #2092 patched version.

[2020-05-05 20:16] mmelo-yottaa commented on #2306
Hi Felipe!

What I'm trying to accomplish is to gather metrics from MS3 showing execution times for different categories of CRS rules.  I am trying to gather these statistics by origin domain, since we are a service-provider and hence we front-end web traffic for many different origins.  To minimize the overhead this metric-gathering could add to MS3 I am looking to create a persistent resource co

[2020-05-05 20:35] martinhsv commented on #2303
Hi @gullu44 ,

I haven't had a chance to look at this in detail, but I can offer a couple of things:

First, regarding your item 4 in your original posting, I can confirm that SecRequestBodyInMemoryLimit has no effect if the Content-Type is application/x-www-form-urlencoded.

Second, if you are looking for a short-term workaround, the only thing I can suggest off hand is to consider creating a pha

[2020-05-06 16:17] gullu44 commented on #2303
Hi @martinhsv
As we are hosting environment, list of sites is too big and making our job little hard to place requestBodyAccess=Off rule.  Anyway we will rethink on that again ( for sort term)
But appreciate if you can look my issue in detail.

[2020-05-06 17:44] marcstern commented on #2181
I've been working on several memory leaks, especially in WIndows builds, in the latest months. Most of them are in the trunk. Some not (i.e. https://github.com/SpiderLabs/ModSecurity/issues/2208).
I can publish our latest build to try, then you can ask to ApacheLounge to include them if it solves the problem.
Contact me in MP if you want this.

[2020-05-06 21:38] zimmerle commented on #2181
@marcstern please share with the community in a format of a pull request, so it will be available to everybody. Having a pull request, we can make sure that it is passing all the regression and unit tests.

[2020-05-07 17:14] marcstern commented on #2181
As I have the impression that v2 is not considered anymore (several trivial PR related to memory problems, mine related to the JSON standard), I must admit I'm not very motivated to take the time for a PR each time.
I'll continue to give all my fixes & findings to the community as usual but, in my current overloaded situation, I don't think I'll formalize them too much.
Obviously, if I see things

[2020-05-08 12:58] zimmerle commented on #2181
I am sorry to hear that but you got the wrong impression. Version 2 is still maintained. Back in December [2.9.3 was released](https://github.com/SpiderLabs/ModSecurity/releases/tag/v2.9.3).

Providing pull requests is the best way for you to contribute to the community. The fact that it was not yet merged does not mean that it is putting aside, that is the wrong impressions. Let's say that if the

[2020-05-10 06:31] yamazakikaede opened #2307 "The json of auditlogs is broken the format by [] beside messages"
When I use the json to output auditlogs, the ”[]“ appearing in messages causes the json parsing to fail.
you see in the log at `"messages":[{ `
the **”[“** break the json format.

how do I remove this []. THX

log is follow here：
`{"transaction":{"client_ip":"12.24.16.9","time_stamp":"Sun May 10 10:13:40 2020","server_id":"1287d9501043e60b8fb10a1f6742211ec2b29164","client_port":0,"host_ip":"172.16

[2020-05-10 16:23] zimmerle commented on #2307
According to the RFC 8259, that is a valid JSON. What kind of error are you getting? What is your consumer?

[2020-05-11 02:05] yamazakikaede commented on #2307
My log server can only parse the JSONObject, and from the above the log format is Object except messages.
I see the messages use JSONArray.But I want to maintain the unity of the log.
So I want to know how to make  united format to JSONObject. THX

[2020-05-11 12:55] zimmerle commented on #2307
Hi @yamazakikaede, We follow the JSON RFC. That is a perfect valid JSON Object. You can use online resources such as https://jsonformatter.curiousconcept.com/ or https://jsonformatter.org/ or even your browser console. I am afraid if we change it to support something else may impact negatively other users.

It is very likely that the implementation that you are using to read the logs is not respec

[2020-05-11 12:55] #2307 closed, assigned to zimmerle

[2020-05-11 18:16] averges commented on #2237
Tested with 7e0bc2691727b8c75f74638cdc4d1c45a689a7b6 and custom error page and audit logs are working fine. Thanks

[2020-05-11 22:47] zimmerle commented on #2306
Your suggestion is a very ModSecurity "hackish" way to measure those numbers. I would suggest using something different, something outside ModSecurity. I think Linux instrumentations will be a perfect fit for it, in specific the [SystemTap](https://en.wikipedia.org/wiki/SystemTap).

Here is a very minimal _stap script_ that may give you an idea for a starting point:
https://github.com/SpiderLabs/M

[2020-05-12 07:27] defanator commented on #2306
@zimmerle by the way, that script needs some attention after a number of the changes introduced within the library - it doesn't work in its current state. I've noticed that a few weeks ago, haven't had a chance to take a deeper look myself.

[2020-05-12 13:46] averges commented on #1546
I'm afraid I'm facing this problem.
With only 1 vhost on a testing server with no load, for each reload, nginx's memory grows by 12392KB. On other server with 8 vhost each reload add more than 100MB. After weeks, nginx use huge amounts of ram.
To avoid OOM errors I have to restart nginx after a few reloads.

Server:
    ModSecurity - v3.0.4 (7e0bc2691727b8c75f74638cdc4d1c45a689a7b6) with ModSecuri

[2020-05-12 13:50] zimmerle commented on #1546
Hi @averges, I am reopening the issue to do a further investigation.

[2020-05-12 20:22] martinhsv commented on #2303
Hi @gullu44 ,

While I have not been able to precisely reproduce your main use case (truncated 20MB sent to backend), I do believe I have identified a commit that may have broken some expected behaviour around the limits-functionality.

I am suspicious of a particular v2/master commit on Sept. 5, 2018.

I'll follow up on this further on my end, but if you wanted to test this against your problem,

[2020-05-13 20:40] gullu44 commented on #2303
Hi @martinhsv
Ya in parallel, i will try to test this with v2.9.2.

[2020-05-14 00:28] woodyu995 opened #2308 "Where is information about supporting IIS version per ModSecurity version?"
Hello,
Could I find information about supporting IIS version per ModSecurity version?
Where is it?
Thank you.

[2020-05-15 20:11] prince-java opened #2309 "Quest about SecRemoteRules"
I have many servers. Every time I update the rules, I need to upload the rule files one by one. So I want to put the rules I wrote in one server and load the rules through 'SecRemoteRules'. I tried to print the rules directly in a PHP file, but Apache failed to start, with the following error:
`/usr/local/apache/bin/apachectl: line 79:  4404 Segmentation fault               $HTTPD "$@"`

The SecRe

[2020-05-15 21:42] FortisFortuna commented on #1941
This fixed it for me

[2020-05-15 21:46] martinhsv commented on #2303
Hi @gullu44 ,

Just to clarify one thing, the combination of your points 1 and 2 means you have these settings:
[code]

Ordinarily I would expect this to result in an application/x-www-form-urlencoded request with body size 83864080 being denied by ModSecurity.  This would be due to the default SecRule 200002 in modsecurity.conf (the rule includes the action 'deny' if REQBODY_ERROR is set ... and

[2020-05-15 23:26] gullu44 commented on #2303
Hi @martinhsv
I do not see any SecRule 200002 in our setup.  Also we have not done much customization apart from adding additional 1-2  sanitise rule (preventing password etc to get logged) , but those does not seems relevant
As you also pointed, i also expect  a blocked  request  (denied) if its  content type is application/x-www-form-urlencoded  and breaching  SecRequestBodyNoFilesLimit limit

[2020-05-16 00:07] #1941 closed, assigned to zimmerle, victorhora

[2020-05-18 13:37] ShopixRo opened #2310 "Let's Encrypt SSL certificate generation - 403 Forbidden"
**Describe the bug**
SSL certificate generation using Let's Encrypt result in 403 Forbidden error.

**Logs and dumps**
[code]

**Expected behavior**
SSL certificate generation should be successful as it is when disabling mod security.

**Server (please complete the following information):**
- ModSecurity 2.9.2
- Apache/2.4.6
 - CentOS 7.8

**Rule Set**
- CRS ruleset only

[2020-05-18 14:15] zimmerle commented on #2310
Hi @ShopixRo,

What you meant by ModSecurity disabled? It seems like it is still enabled and the rule id 960015 blocked your request.

[2020-05-18 14:54] rljoia commented on #1777
`sudo apt-get install libapache2-mod-security2` install v2.9.2, instead of 2.9.3. How can I install v2.9.3 on ubuntu images? I suppose if I could use `sudo apt-get install libapache2-mod-security`, the installed version will be v2.9.3.

[2020-05-18 14:57] airween commented on #1777
What is your Ubuntu version?

[2020-05-18 15:42] rljoia commented on #1777
Bionic (18.04)

[2020-05-18 15:46] airween commented on #1777
As you can see [here](https://packages.ubuntu.com/bionic/httpd/libapache2-mod-security2), in that OS version the packaged version of mod-security is 2.9.2.

You can make your own package - or compile the module from the source.

[2020-05-18 15:55] rljoia commented on #1777
Thanks. I noticed that "eoan" version already have the [v2.9.3 installed](https://packages.ubuntu.com/eoan/httpd/libapache2-mod-security2).

[2020-05-18 15:59] airween commented on #1777
Yes, as you can [see](https://github.com/SpiderLabs/ModSecurity/releases/tag/v2.9.3), the 2.9.3 was released in December of 2018, so it can't be part of 18.04 nor 18.10.

[2020-05-18 16:06] zimmerle commented on #1777
The Best place to discuss the subject related to packing is on the distro issue management; there you can reach the package developers and the distro contributors.

[2020-05-18 17:41] ShopixRo commented on #2310
Hi @zimmerle

If I disable ModSecurity everything works fine. But the problem is that with ModSecurity enabled, SSL certificate generation with Let's Encrypt fails.

Is this the normal behavior? Shouldn't ModSecurity allow for Let's Encrypt access?
If this is the expected behavior, how can it be bypassed so we can generate the certificates?

Thanks!

[2020-05-18 17:47] zimmerle commented on #2310
@ShopixRo, that is likely to be a false positive. However, there are two different entities: **ModSecurity** and **the Rule Set**. **ModSecurity** is the engine, that is what this GitHub project is about.

It seems that you are running OWASP CRS as Rule Set, in that case, you should reach them at https://github.com/coreruleset/coreruleset

[2020-05-18 17:47] #2310 closed, assigned to zimmerle

[2020-05-18 17:48] ShopixRo commented on #2310
@zimmerle Thanks for the clarification, now I understand what you mean. Are there any official Rule Set that I can install? I believe having ModSecurity without any Rule Set is useless, right?

[2020-05-18 18:06] zimmerle commented on #2310
There are different options on that front: You can create _our own ruleset_ based on your specifics needs, use a _commercial ruleset_, or even use an _open-source_ one.

The commercial ones: [Trustwave](https://certs.securetrust.com/web-application-firewall), [Atomiccorp](https://wiki.atomicorp.com/wiki/index.php/Atomic_ModSecurity_Rules_FAQ).

The public ones: [Comodo](https://waf.comodo.com/) an

[2020-05-19 01:19] zimmerle commented on #2309
Hi @prince-java,

Yes, you can use the SecRemoteRules for that. There are a couple of regression tests that you may be interested in looking:
 - [SecRemoteRules](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/tests/regression/misc/40-secRemoteRules.t.in)
 - [IpMatch](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/tests/regression/misc/50-ipmatchfromfile-external.t.in)
 - [pm](h

[2020-05-19 01:19] #2309 closed, assigned to nobody

[2020-05-19 02:08] Hello-Linux opened #2311 "Use modsecurity rule chain error!"
My modsecurity version is 3.0.2

I add the rule to REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf,the rule is:
[code]

But I run nginx -t is show some error
"nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /usr/local/openresty/nginx/conf/modsecurity/owasp-modsecurity-crs/rules/REQUEST-901-INITIALIZATION.conf. Line: 1. Column: 75. Expecting an action, got:  # ---------------------

[2020-05-19 08:24] marcstern opened #2312 "v2 master doesn't compile in CentOS 8"
The following declarations appear in modsecurity.h:
[code]
These static variables are only used inside modsecurity.c, so they should be declared inside modsecurity.c, and not in an include file.

On CentOS 8, gcc (8.3.1) refuses to compile the file:
[code]

Moving the definitions to modsecurity.c solves the problem

[2020-05-19 08:25] Hello-Linux commented on #2312
孙子,你的环境有问题,自己仔细看看

[2020-05-19 12:48] zimmerle commented on #2312
Is this a standalone version or that is a regular version for Apache? Why have you used ```--enable-collection-global-lock``` during the configuration phase?

[2020-05-19 19:44] prince-java opened #2313 "SecRemoteRules doesn't work"
I tried SecRemoteRules with the following rule in Nginx and Apache,both failed.
`SecRemoteRules 123 "https://www.modsecurity.org/modsecurity-regression-test-secremoterules.txt"`

No error is reported when nginx starts,but the log shows that the number of rules downloaded is 0:
`2020/05/20 03:38:50 [notice] 331#0: ModSecurity-nginx v1.0.1 (rules loaded inline/local/remote: 0/901/0)`

Apache failed

[2020-05-19 19:47] #2313 closed, assigned to nobody

[2020-05-19 19:52] prince-java commented on #2313
[SecRemoteRules](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/tests/regression/misc/40-secRemoteRules.t.in)

[2020-05-19 19:57] prince-java opened #2314 "SecRemoteRules doesn't work"
Thank you for reminding me to find out how to use SecRemoteRules in [SecRemoteRules](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/tests/regression/misc/40-secRemoteRules.t.in),but I write the following rule into modsecurity.conf by running with Nginx and Apache,both failed.
`SecRemoteRules 123 "https://www.modsecurity.org/modsecurity-regression-test-secremoterules.txt"`

No error is re

[2020-05-20 13:15] zimmerle commented on #2314
nginx: To counter on your Nginx load may be broken. Make sure that the rule is really loaded.

apache: The segmentation fault is very likely something related to a version mismatch. If you have compiled your ModSecurity or Apache manually, make sure that all versions: run time and compilation time are the same.

Both Nginx and Apache have support for regression and unit tests. Are those passing?

[2020-05-20 13:18] zimmerle commented on #2311
What editor are you using to edit this file? are you sure that there isn't any metadata added by the editor? What happens if you disable owasp-modsecurity-crs and have your own rule loaded?

[2020-05-20 16:14] prince-java commented on #2314
I‘m sure the local rules are loaded successfully when nginx start,I tried an intrusion and was successfully intercepted by ModSecurity.

[2020-05-20 16:17] zimmerle commented on #2314
Good, so the issue is really the counter. Going to open an issue related to that.

[2020-05-20 16:20] zimmerle commented on #2311
I am closing this in favor of: SpiderLabs/ModSecurity-nginx#200.

[2020-05-20 17:29] prince-java commented on #2314
The counter isn't the issue,I solved the problem after attempts.
The reason is that quotes cannot be used for remote rule file when the rule is wrote into modsecurity.conf,the correct rule is as follows:
`SecRemoteRules 123 https://www.modsecurity.org/modsecurity-regression-test-secremoterules.txt`

After that,the number of rules loaded when nginx starts has changed from 901 to 902.

I will try it

[2020-05-20 23:49] martinhsv commented on #2303
Hi @gullu44 ,

ModSecurity comes with a file called modsecurity.conf-recommended which can be renamed modsecurity.conf and used as part of your configuration.  It is only a recommended starting point of course, but it does include the REQBODY_ERROR check that I mentioned.

I am able to reproduce ModSecurity (in reverse-proxy mode) sending on only the truncated body to the endpoint server.  As it t

[2020-05-21 01:24] nikolas opened #2318 "Website issues"
Hi,
I wasn't sure where to open this issue, but the ModSecurity website has some problems I'd like to help fix.

The info on this page: https://modsecurity.org/download.html in the "ModSecurity for Nginx" section, seems out of date. I've got ModSecurity working with nginx, without the `enable-standalone-module` configure flag. Also, the note about the nginx_refactoring branch can be removed - that

[2020-05-21 01:57] Hello-Linux commented on #2311
@zimmerle
I use vim to edit this file(REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf),when I change the modsecurity.conf: from Include /usr/local/openresty/nginx/conf/modsecurity/rules/*.conf  to Include /usr/local/openresty/nginx/conf/modsecurity/rules/REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf, then I run nginx -t is was ok!
Then I re-clone the rules and add my custom rules to the new REQUEST-900-

[2020-05-21 02:20] Hello-Linux opened #2319 "Modsecurity chain rule bug!!!"
Please look at my old question first: https://github.com/SpiderLabs/ModSecurity/issues/2311

I think is modsecurity some bug? In addition, I have not changed other rule files, only modified REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf

Now I found a modsecurity bug. If I use regular to match all rule files, like this
[code]
then I  run nginx -t is error
[code]
But  if I put each rule configuration

[2020-05-21 04:57] Hello-Linux opened #2320 "the rule is not working"
my audit log is
ModSecurity: Access denied with code 403 (phase 2). Matched "Operator `Rx' with parameter `^(?i:file|ftps?|https?):\/\/(?:\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})' against variable `ARGS:url' (Value: `http://127.0.0.1:8071/EliteGeneralHttpTask/GeneralService/Call_PolicySave' ) [file "/usr/local/openresty/nginx/conf/modsecurity/owasp-modsecurity-crs/rules/REQUEST-931-APPLICATION-ATTACK-R

[2020-05-21 06:54] gucki commented on #2311
I have the same problem. Replacing the wildcard include to "fixed" includes works. What a nasty bug :(

[2020-05-21 06:56] gucki commented on #2311
BTW, I also switched to from using "master" of ModSecurity-nginx to "v1.0.1" and it didn't change anything. So I assume the problem is in modsecurity itself.

[2020-05-21 07:09] airween commented on #2311
Which version are you using of libmodsecurity3? @Hello-Linux wrote he uses a bit old release: _My modsecurity version is 3.0.2_. As I remember, once the engine had a strange behavior as you described, but with 3.0.4 I can't reproduce.

[2020-05-21 07:20] gucki commented on #2311
Hi @airween , these are my versions:
nginx/1.17.7
ModSecurity-nginx v1.0.1
modsecurity: 3.0.4

[2020-05-21 07:35] gucki commented on #2311
I analyzed a little bit and found that if the included directory (/bla/*.conf) only contains a single file, it works. But as soon as the directory contains more than one file it breaks...

[2020-05-21 07:41] airween commented on #2311
Here is the relevant part of my config:
nginx vhost config:
[code]
/etc/nginx/modsecurity_includes.conf:
[code]
modsecurity.conf is a copy of attached modsecurity.conf-recommended.

And finally:
[code]
(there are the CRS 3.2 files).
nginx 1.16.1
ModSecurity-nginx 1.0.0
libmodsecurity3: 3.0.4

[2020-05-21 08:15] gucki commented on #2311
Ok, it figured it out and it's a really weird bug: It only affects the first two included files and depends on the last command in the first file. If there are not at least two line-breaks (0xA0) "between" these files it crashes. I write "between", because it doesn't matter where these line-breaks are:

- 2 at the end of the first file
- 2 at the beginning of the second file
- 1 at the end of the

[2020-05-21 10:53] airween commented on #2311
In the file a.conf you defined a `SecRule` without any action. I'm not sure that's a valid syntax.

Try to complete like this:
[code]

[2020-05-21 12:19] gullu44 commented on #2303
Hi @martinhsv
Thanks for the detail explanation. As of now now we do not want to block such request (they are genuine production workload) and we have many such sites.
For the time being we can turn off RequestBodyAccess for such sites ( as also recommended by you). So ya we have workaround with but with some compromise.
Will be good if we have fix for this  in coming months ... will wait .

[2020-05-21 12:43] zimmerle commented on #2319
Closing this on the favor of SpiderLabs/ModSecurity#2311

[2020-05-21 12:43] #2319 closed, assigned to nobody

[2020-05-21 12:44] zimmerle commented on #2311
@Hello-Linux and everybody participating in that discussion, We now have three different issues for the same thing: #2311, #2319, and SpiderLabs/ModSecurity-nginx#200. The questions are kept here to give a chance for users with the same problem to encounter the step stones for a similar solution and instigate a discussion on the subject; if that got spread in different issues, it wouldn't help.

T

[2020-05-21 12:54] zimmerle commented on #2311
Good that you are using **vim**. That is what a do as well. At first, I was afraid that your editor was leaving some garbage in the configuration file, and ModSecurity was failing to pinpoint you to the exact problem. Glad that it is not the case.

Did you have the chance to run your rules without any other loaded? That is very important because it can help the parser actually to get the right err

[2020-05-21 13:14] zimmerle commented on #2311
@gucki that is pretty much what I was explaining to @Hello-Linux about the parser be too much tolerant, apparently - not confirmed yet - a missing mandatory _action_ (**id**) was expected to be found in the second file. It was not, leading us to a not very friendly error message that indeed needs to be fixed.

The fix, however, maybe in the format of a less tolerant parser, which is due to avoid c

[2020-05-21 15:28] martinhsv commented on #2320
Hi @Hello-Linux ,

I don't see anything that is actually incorrect in rule 1000 the way you have it.  Indeed, I tried it in one of my test environments and it worked just fine and removed rule 931100 for that request.

One important caveat to note is that yours is a phase 1 rule testing ARGS.  This is fine if 'url' is a query argument.  But if it appears in the body of the request, then rule 1000

[2020-05-21 15:56] zimmerle commented on #2318
Thank you @nikolas. Indeed the website needs to be updated. Although that is not the better place to keep it, I will keep this issue open as a reminder that as a community we have to have some sort of landing page.

[2020-05-21 17:58] prince-java commented on #2314
@zimmerle
After attempts,I find out that SecRemoteRules really doesn't work in ModSecurity 2.9.3,apache always failed to start,but it works in 2.9.2.
The softwares and environment I installed are as follows:
`yum install -y perl-devel readline-devel curl-devel gcc gcc-c++ python-devel yajl-devel libxml2-devel`
System:CentOS 7.6_64;
apr:1.5.2;
apr-util:1.5.4;
pcre:8.43;
Apache:2.4.41;

I will try S

[2020-05-22 08:41] Hello-Linux commented on #2311
As I mentioned this question https://github.com/SpiderLabs/ModSecurity/issues/2319

Now my modsecurity.conf is
[code]
My nginx config is
[code]
My custom rules are written in REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf then I run nginx -t it was ok
So I feel that my previous SecRule configuration syntax should have some problems

[2020-05-22 10:49] marcstern commented on #2206
Can anyone answer this?
It's running smoothly in prod in 20+ WAF for 6 months, so it may worth checking as it could impede the security (incorrect counters) ...

[2020-05-22 12:49] marcstern commented on #2312
Regular version for Apache.
I didn't use --enable-collection-global-lock; I added dbm_lock_name in the scope because it has the same problem as the 2 other variables, although I don't use it actually.

[2020-05-22 12:58] marcstern opened #2323 "-DDEBUG_CONF leads to compile error"
In re.c, msre_actionset_generate_action_string is declared as static.
When compiling with DEBUG_CONF, it is referenced in apache2_config.c.

Fix: don't declare it as static and and the prototype in re.h.
Potentially do it only when DEBUG_CONF  is defined.

re.h:
[code]

re.c:
[code]

[2020-05-22 14:07] zimmerle commented on #2311
Yes @Hello-Linux, that seems to be the case. If you happen to face such an event further, I would strongly suggest the approach of reducing the number of rules, to narrow down the problem to a specific point. That will help us to sort the parser problems.

[2020-05-22 14:20] zimmerle commented on #2312
I am afraid I am not following it up. What variables are you referring to and what are their problems?

Regarding that specific feature it seems like you are by-passing the build script and have put the build in an inconsistent state, leading to the error message that you have faced. My concern is that: if I manage to apply this "fix" that works in your use case scenario, it will break the build f

[2020-05-22 14:22] zimmerle commented on #2323
That seems to be more suitable for a pull request than a regular issue. A pull request will help others users to apply this fix easily and be better for the review process.

[2020-05-24 10:42] marcstern commented on #2312
I didn't enable the global collection lock, so only the first 2 variables (auditlog_lock_name & geo_lock_name) are actually posing problems. Just ignore my remark about dbm_lock_name is you prefer, as GLOBAL_COLLECTION_LOCK is not defined.

I tested my fix under Linux (CentOS 8) with the build script and it works.

[2020-05-24 21:58] adrienyhuel commented on #902
Thank you for the workaround @paissad !

But now that xml parsing is skipped, modsecurity can't trigger the other rules, like SQL Injection detection.
@victorhora : Can I ignore XML parsing, but still execute the other rules who inspect body content with regexes ?

[2020-05-25 08:06] Hello-Linux commented on #2311
Thank you very much!

[2020-05-25 12:17] #2311 closed, assigned to zimmerle

[2020-05-25 19:47] celesteking opened #2324 "setvar & co.: variables not incrementing properly in threaded workers"
This may be related to #1224 , but I've got it enabled, so it must've been something else.

The var increment is "skipping". `UPDATE_COUNTER` is updated normally (internal var), while user-defined `thevar` isn't incrementing as it should. It works totally fine when requests are sent in series (`ab -c 1`)

[code]

The ruleset:
[code]

Compile flags:
[code]
ea-apache24-mod_security2-2.9.3-5 cpanel-s

[2020-05-25 20:04] celesteking commented on #2324
Well this is screwed up -- it sustains threading with IP collection and doesn't with RESOURCE col. What the hell, guys?

[2020-05-26 00:10] #2320 closed, assigned to martinhsv

[2020-05-26 13:48] rljoia opened #2325 "SecRuleRemoveById conflict with other Sec*"
**Describe the bug**
I created a configuration, based on [this article](https://johnleach.co.uk/posts/2012/05/15/rate-limiting-with-apache-and-mod-security/), to rate limit a specific url. I'm using apache + modsecurity. This configuration works fine, but I noticed that if I have any SecRuleRemoveById directive in any of my *.conf files, the rate limit doesn't work anymore.

**Logs and dumps and T

[2020-05-27 21:28] jeremyjpj0916 opened #2326 "Suggestion: Idea for moving rules out of ModSec v3 conf and into CRS?"
One thing that might be worthwhile would be moving the few ModSecurity default rules into CRS, that way ModSecurity can exclusively focus on the engine and configurations associated with the engine and its configuration as opposed to what it is now, which is ModSecurity has a few 2XXXXX rule id's for parse and handling json/xml/multi-part payloads, then CRS ruleset handles all the other rules it d

[2020-05-28 02:49] Magicskys opened #2327 "libmodsecurity api issue"
**Describe the bug**
When I was using libmodsecurity v3 c api, I didn't find any documentation on this aspect. May I ask if there is an api to get the detection result synchronously, or documentation on this aspect.

**Expected behavior**

I hope there is documentation in this regard, or tell me the api function of synchronous or asynchronous callback.

**Server (please complete the following info

[2020-05-28 12:09] dennus opened #2328 "Could not use equal sign in xpath expression"
E.g.:

SecRule XML://tag1/*[local-name()='some-tag'] \
       "@pm ..\ ../" \
	"phase:request,\
        msg:'Path Traversal Attack (/../)',\
        id:77113,\
        ver:'OWASP_CRS/3.0.0',\
        rev:'1',\
        maturity:'9',\
	accuracy:'7',\
	multiMatch,\
        t:base64Decode,\
        block,\
        severity:CRITICAL,\
        logdata:'Matched Data: %{TX.0} found within %{MATCHED_VAR_NA

[2020-05-28 12:25] zimmerle commented on #2325
@rljoia

You mentioned the rules -
[code]

But forgot the share the actual content of the rule. I would suggest you remove all the extra rules, to narrow down the problem. It is possible that the IP collection is being initialized elsewhere.

[2020-05-28 13:25] zimmerle commented on #2326
Hi @jeremyjpj0916, thanks for the suggestion.

There is one point that is very important to be clarified. There isn't a default rule for ModSecurity, there is a [recommended configuration file](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/modsecurity.conf-recommended), with an explanation of why we have suggested every configuration entry.

https://github.com/SpiderLabs/ModSecurity/blo

[2020-05-28 13:33] zimmerle commented on #2327
Hi @Magicskys,

The API documentation is built along with the code. You can use [Doxygen](https://www.doxygen.nl/index.html) to transform it into whatever feels more comfortable to you.

Here is an example of a piece of documentation:
https://github.com/SpiderLabs/ModSecurity/blob/a2be19d8e53f4d2d90d435e187086afa2396c373/headers/modsecurity/modsecurity.h#L18-L57

The C API is just a wrapper for th

[2020-05-28 13:33] #2327 closed, assigned to zimmerle

[2020-05-28 13:34] zimmerle commented on #2328
Hi @dennus,

Do you mind to inform us more details of your ModSecurity? What is the version that you are working with?

[2020-05-28 13:35] jeremyjpj0916 commented on #2326
This is true that its just a suggested file and its what comes bundled when you pull down ModSecurity. But the concept still stands of do you see value in the XML/JSON/Multipart parsing + validation rule samples living in the ModSecurity config file, or would it make sense to just have rules that change the behavior of the Engine itself? I suppose thats the distinction I am making up, then ModSecu

[2020-05-28 13:46] dennus commented on #2328
Hello, I'm using Modsecurity v. 3.0.3

[2020-05-28 17:51] rljoia commented on #2325
@zimmerle

These numbers refers to [OWASP CRS rule set](https://www.modsecurity.org/CRS/Documentation/ruleid.html). To clarify the question, I will put all *.conf files from the project here.

Everything starts with `locations.conf`:
[code]

Now, `central.conf`:
[code]

Now, `obiba_log.conf`:
[code]

Now, `modsecurity_rules.conf`:
[code]
And, finally, `custom_ssl.conf`:
[code]

As I said, If I com

[2020-05-28 21:46] ghost commented on #2300
Hey fellows, has this bug been fixed officially?
Just had this issue and ended up here on this thread :)
Thanks much!
Andre.

[2020-05-29 07:25] daibin1004 commented on #1641
nginx/1.17.9  modsecurity-nginx-v1.0.0 modsecurity-v3.0.3  owasp-modsecurity-crs-3.2.0
The Worker process  100% CPU.

[2020-06-01 09:31] trackscorer opened #2329 "There is no total score in modsec_audit.log"
**Describe the bug**
I add the rule in the modsecurity.conf:
[code]
but now there is no "Incoming and Outgoing Score" in modsec_audit.log.

Before——modsecurity version v3,modsecurit-nginx v1.0.0:
[code]

Now——modsecurity version v3.0.4,modsecurit-nginx v1.0.1:
[code]

[2020-06-01 12:56] martinhsv commented on #2329
Hi @trackscorer ,

The rule that you have added (980145) explicitly includes 'noauditlog' as one of its actions.

There were some bugs related to audit log output that were corrected in v3.0.4 that could explain why you were seeing incorrectly the message in the audit log prior to v3.0.4.

[2020-06-01 16:29] snv0 opened #2330 "so you can also be sure that"
**Describe the bug**

A clear and concise description of what the bug is.

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
 2. AuditLogs
 3. Error logs
 4. If there is a crash, the core dump file.

_Notice:_ Be carefully to not leak any confidential information.

**To Reproduce**

Steps to reproduce the behavior:

A **curl** command line that mimics the original request and reproduces the p

[2020-06-01 16:32] #2330 closed

[2020-06-01 18:57] muradmomani commented on #2146
@zimmerle
@airween
Hi, any update to this issue ?

[2020-06-02 02:10] trackscorer commented on #2329
Cool, thank you.
I changed it to 'auditlog'.

[2020-06-02 10:51] #2329 closed, assigned to martinhsv

[2020-06-03 09:17] Khnaz35 opened #2331 "Currently ModSecurity only supports the legacy GeoIP format. Maxmind's newer GeoIP2 format is not yet currently supported."
Hi team any updates on this

Currently ModSecurity only supports the legacy GeoIP format. Maxmind's newer GeoIP2 format is not yet currently supported.?

[2020-06-03 13:10] zimmerle commented on #2331
Hi @Khnaz35,

ModSecurity version 3 supports both versions: maxmind and/or geoip. Mind the ./configure options:

[code]

[2020-06-03 13:10] #2331 closed, assigned to zimmerle

[2020-06-03 18:14] muradmomani commented on #2093
@zimmerle
Hi, any update to this ?

[2020-06-04 10:44] cocooma commented on #1546
Hi all, I'm hitting the same issue. On every nginx reload the memory usage is increasing. Do you have any update on this matter?

[2020-06-04 12:50] zimmerle commented on #2093
Waiting for @rainerjung comments

[2020-06-04 12:51] zimmerle commented on #1546
@cocooma we are working on the branch v3/dev/phases. The configuration issues will be tackled there. I will let you know as soon as we manage to have it ok to be tested.

[2020-06-04 13:10] rainerjung commented on #2093
This issue was opened only for one purpose as the title says "Don't run request body completion checks when ProcessPartial and the input filter has't seen all of the body". The only behavioral change that I am looking for, is that mod_security does not claim a syntactically incorrect end of the request body if it didn't actually look at it.
Do you agree that this is a useful goal?
If so, do you se

[2020-06-04 13:37] zimmerle commented on #2093
what is your thinking about having **SkipProcessing**, as pointed here: https://github.com/SpiderLabs/ModSecurity/issues/2093#issuecomment-502791569 ?

[2020-06-04 22:00] muradmomani commented on #2093
@zimmerle
Hi,
Why introduce the SkipProcessing while we can make a rule for that specific case to be skipped?
I'm not sure but I think the best solution is to edit the behavior as outlined in this issue header

[2020-06-05 17:39] zimmerle commented on #2312
@marcstern the compilation of ModSecurity version 2 is **working fine** with **CentOS 8** as demonstrated:
![2312](https://user-images.githubusercontent.com/428268/83906498-11fdaa00-a73a-11ea-8678-d7845ab81e8a.gif)

The steps to compile ModSecurity version 2 on CentOS is very straight forward:
[code]

Closing this issue as the compilation is working fine, as demonstrated.

[2020-06-05 17:39] #2312 closed, assigned to zimmerle

[2020-06-05 17:43] zimmerle commented on #2323
I am assuming that **this issue** as issue #2312 is a problem with your environment. My suggestion is to clean up the development environment. The ``--enable-debug-conf`` works like a charm here. Compilation and tests went well.

[2020-06-05 17:43] #2323 closed, assigned to zimmerle

[2020-06-05 18:00] zimmerle commented on #2093
The name **ProcessPartial**, as already stated, suggests that the content will be partially processed and therefore flagged as such. I understand that there is a use case to process partially and not flag as not inspected; that would be SkipProcessing or ProcessSkip. Don't you agree?

[2020-06-05 18:34] rperper opened #2332 "inspectFile not running program in mod_security library v3.0.4"
Hi, my name is Bob Perper and I'm a developer at LiteSpeed Technologies.  One of our customers using OpenLiteSpeed reported a problem using our web server with mod_security library v3.0.4 with the inspectFile rule.  So I created a really simple set of rules, similar to ones that we use to test our own mod_security engine:
[code]
This is intended to run with the curl entry (where fails.sh is a loca

[2020-06-07 20:02] airween commented on #2332
I'm not sure that this is the real reason, but I'm afraid you (or your customer) forgot to set the `SecTmpSaveUploadedFiles` to `on`. See the [relevant part](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#inspectfile) of the manual:

_**Note : Starting in version 2.9 ModSecurity will not fill the FILES_TMPNAMES variable unless SecTmpSaveUploadedFiles directive is On, or the

[2020-06-08 04:29] jeganbalu94 commented on #2332
Hello,

OS: Centos 7
LiteSpeed/1.6.13 Open
module versions:
modgzip 1.1
cache 1.62
modinspector 1.1
uploadprogress 1.1
mod_security 1.3

SecRule FILES_TMPNAMES "@inspectFile /usr/local/lsws/cxscgi.sh" "id:351000,rev:1,severity:2,msg:'Upload Malware Scanner:Malicious File upload attempt detected and blocked',log,deny,auditlog,status:403,t:none" this rule is not working properly.

modsecurity on
mod

[2020-06-08 11:10] andrelop-zz commented on #1471
Hello,

Sorry if this has been said already but I could not see it here.
This bug is marked with a `workaround available` tag but I'm failing to see which is actually the workaround to be used in this case.

Could someone please clarify which should be the workaround to this bug ?

Regards.

[2020-06-08 13:18] zeroploitable opened #2333 "Reverse Proxy Setup"
Hi,

I have installed and tested modsecurity and everything is working fine.
I just to configure the reverse proxy in order to inspect and redirect the traffic comming from my website to the hosting server.

Please let me know how?
Thank you.

[2020-06-08 13:51] martinhsv commented on #2333
Hi @zeroploitable ,

I'm not entirely sure what you are asking.

With a ModSecurity RP setup, a Client connection typically proceeds something like this:
Client --> Machine#1: RP (with ModSec) --> Machine#2: Web Server

If, for example, you are using Apache HTTP Server and you are saying that you have successfully set up Machine#1 as if it were the server sendpoint, and with ModSecurity running ..

[2020-06-09 00:47] hieulv1 opened #2334 "Commercial Rules from Trustwave SpiderLabs don't hit with data"
Hi,
I am using Nginx open source version 1.14.2 and Modsecurity version 3.0.4. I have run "OWASP ModSecurity Core Rule Set (CRS)" and it has worked well. But recently I have bought the Commercial Rules from Trustwave SpiderLabs and it doesn't work, the malicious data is not hit the rules.
this is a log from error.log: 2020/06/08 14:19:53 [notice] 22541#0: ModSecurity-nginx v1.0.0 (rules loaded inl

[2020-06-09 03:59] hieulv1 commented on #2334
This is my debug log
[159167437013.343341] [] [4] Initializing transaction
[159167437013.343341] [] [4] Transaction context created.
[159167437013.343341] [] [4] Starting phase CONNECTION. (SecRules 0)
[159167437013.343341] [] [9] This phase consists of 0 rule(s).
[159167437013.343341] [] [4] Starting phase URI. (SecRules 0 + 1/2)
[159167437013.343341] [/qlph/Presentation/login.aspx?%3Cscipt%3Eale

[2020-06-09 10:08] zeroploitable commented on #2333
Hi @martinhsv,

This is what i was looking for !
Thank you so much.

[2020-06-09 10:08] #2333 closed, assigned to martinhsv

[2020-06-09 10:10] #2334 closed, assigned to zimmerle

[2020-06-09 12:37] airween commented on #2332
I don't know CentOS, just asking: are you sure there isn't any MACL restrictions (eg. Apparmor, SELinux...)?

With this minimal config, your idea works at my dev system:
[code]
[code]
Request:
`curl -F 'profile=@/home/airween/foobar.txt' -k 'http://127.0.0.1/upload.php'`

[code]
Relevant part of debug.log:
[code]

[2020-06-09 12:46] zimmerle commented on #2334
@hieulv1, please reach out to Trustwave support for further information on the commercial rules. The person from support will identify your profile configuration and will give you the detailed information.

[2020-06-09 12:55] zimmerle commented on #2332
It is very likely that this is about a permission issue. However, the question here is not keeping testing different approaches. But, avoid the issue to happens again by given the user the possibility to identify the problem when faced - with details. That said, this particular functionality should be refactored in order to give the user more control of what is happening with the forked process. T

[2020-06-11 03:52] hieulv1 opened #2335 "why i can't use ModSecurity Rules from Trustwave SpiderLabs"
Hi everybody,

This is my configuration:
SecRuleEngine On
SecRemoteRules mykey https://dashboard.modsecurity.org/rules/download/plain
SecDefaultAction "phase:2,log,auditlog,deny,status:403"
SecDefaultAction "phase:1,log,auditlog,deny,status:403"

This is my error.log
2020/06/11 10:43:11 [notice] 14711#0: ModSecurity-nginx v1.0.0 (rules loaded inline/local/remote: 0/870/0)

I have enabled the rule:

[2020-06-11 05:04] #2335 closed, assigned to nobody

[2020-06-11 05:04] hieulv1 commented on #2334
Ok, Thanks.

[2020-06-11 11:48] anhkhoa14592 opened #2336 "Can not get data in group when using regular expression."
**Describe the bug**
I tried to extract the value from PHPSESSID with regular pattern (This pattern from Web Application Defender's Cookbook: Battling Hackers and Protecting Users):
`(?i:(j?sessionid|(php)?sessid|(asp|jserv|jw)?session[-_]?(id)?|cf(id|token)|sid)=([^\s]+)\;\s?)`

But I can not get the value from group 6 (TX:6). I tried in others Text Editor and everything is fine but I don't know

[2020-06-11 11:50] Karthick-DevOps opened #2337 "Facing "configure: error: ModSecurity libraries not found!" while configuring ModSecurity-apache"
Hello,
Trying to install Apache 2.4 with Modsecurity(v3.0.4.) and mod security apache connector .

Successfully able to compile and install Apache and mod security. While trying to run the configure in apache connector facing with below error

configure: error: ModSecurity libraries not found!

Appreciate the help.

[2020-06-11 13:23] martinhsv commented on #2337
Hello Karthick-DevOps,

libModSecurity (i.e. ModSecurity v3) with Apache is really still alpha code and not advisable for production use.  If using Apache, ModSecurity v2.9.x is recommended.

(The error you report, however, might be resolved by using './configure --with-libmodsecurity'. )

[2020-06-11 13:24] #2337 closed, assigned to martinhsv

[2020-06-12 10:36] zeroploitable opened #2338 "Adding Modsecurity to Vulture"
Hi,

Is there any way of adding Modsecurity to vulture?

Thank you in advance.

[2020-06-12 10:41] zeroploitable opened #2339 "Modsecurity GUI"
Hi,

I am having difficulties in handling the logs of several websites behind Modsecurity.

Maybe a better way of visualizing attacks, is there any GUI interface that can be added?

Thank you.

[2020-06-12 13:06] zimmerle commented on #2335
Trustwave TAC is the better place to ask questions about the commercial rules.

[2020-06-12 13:09] zimmerle commented on #2339
Hi @zeroploitable,

As the auditlog can be saved in JSON format, you can easily import it in our logging tool: Logstash, Grafana, influxdb, and any tool that can handle JSON data.

[2020-06-12 13:09] #2339 closed, assigned to zimmerle

[2020-06-12 13:12] zimmerle commented on #2338
What exactly you meant to achieve in terms of functionality?

[2020-06-12 13:28] martinhsv commented on #2336
Hi @anhkhoa14592 ,

Thank you for the report.

I do see a bug in the handling of matching groups that result in no content.  E.g. the matching group '(id)?' where the 'match' occurs because there are 0 occurrences rather than 1.

If you are looking for an immediate workaround, in your case you could consider turning the groups that you do not care about into non-matching groups.  I.e. add '?:' at

[2020-06-12 16:38] zimmerle commented on #2332
Using this:

[code]

We expect to have the following as part of the debug logs:
https://gist.github.com/zimmerle/c5f753e2dd5d1421d8374f901bec18af#file-gistfile1-txt

[2020-06-12 21:35] rperper commented on #2332
I think this is a specification and cache issue, entirely on our side.  We needed to clear the cache so that the rule would get hit.  Thanks so much for your help.

[2020-06-12 21:35] #2332 closed, assigned to zimmerle

[2020-06-15 06:48] #2338 closed, assigned to zimmerle

[2020-06-16 13:19] jatgh opened #2340 "Timezone is not included in the time_stamp field of audit log in JSON format"
**Description**

Timezone is not included in the `time_stamp` field of audit log if `SecAuditLogFormat` is set to `JSON`

If `SecAuditLogFormat` is set to `Native`, the time and date are written to audit log like following:
[code]
Keeping all other setting the same, but setting `SecAuditLogFormat` to `JSON`, the time and date are written to audit log like following:
[code]
Note that it's not UTC t

[2020-06-16 13:30] 5472-1 commented on #2300
Hi. Same issue here.

Specs:

Ubuntu 20.04 LTS
Modsecurity v3.0.4 - 2020-Jan-13
Apache/2.4.41 (Ubuntu)  2020-04-13
ModSecurity-apache connector v0.0.9-beta1 - 2017-Dec-22

Tried Zavazingo's work around but got an error at compile time. Tried other things like reinterpret cast to change the string to a pointer but even after compiling doesn't seem to have effect.
Edit: Also destination port seems t

[2020-06-16 15:02] PaulCharlton opened #2341 "PATCH method dies with mod security with nginx configured as proxy/ingress"
Version info:

version: libmodsecurity.so.3.0.3

name: nginx-ingress
repository: https://kubernetes-charts.storage.googleapis.com
version: 1.33.5
kubectl version
Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.9", GitCommit:"a17149e1a189050796ced469dbd78d380f2ed5ef", GitTreeState:"clean", BuildDate:"2020-04-16T23:15:50Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/a

[2020-06-16 15:06] PaulCharlton commented on #2341
open to any triage suggestions --- I realize there are several moving parts here between Nginx, modsecurity, and the Nginx-connector

[2020-06-16 17:06] PaulCharlton commented on #2341
Additional info:
The PATCH request body is a single JSON object, not terminated with a newline.   The size in bytes of that JSON object matches exactly the `Content-Length` header.  and `Content-Type: application/json;charset=utf-8`

Additional info:
adding EOL to the payload (and increasing the content length accordingly) is misbehaving in the same way

[2020-06-17 07:30] kanitan commented on #1866
It's really confusing to see logs with no messages. Default conf SecAuditLogRelevantStatus logs every 5xx request which doesn't matches any messages and the log became very large. If somebody cares about every 4xx/5xx request he can add a rule.

I comment out SecAuditLogRelevantStatus and then it  will only log request that matches the rules.
[code]

[2020-06-17 21:05] martinhsv commented on #2340
Hi @yesjustyet ,

I can reproduce your findings.

This may have been a simple oversight when the v3 version of the JSON logging was written, but it's also possible that it was an intentional decision for some reason.  I will follow up.

One alternative that might potentially be useful to you is to make use of the TIME_EPOCH variable.  (E.g. an extra rule with an action like 'msg:"EpochTime %{TIME_

[2020-06-18 09:19] anhkhoa14592 commented on #2336
Hi @martinhsv,

Thanks you for your support. Hope to receive the update for this bug :).

[2020-06-18 09:19] #2336 closed, assigned to martinhsv

[2020-06-18 10:23] jatgh commented on #2340
Hi @martinhsv ,
Thank you for the the quick and useful response!
I was able to follow your advice configuring the following rule:
`SecAction "phase:1,log,msg:'EpochTime: %{TIME_EPOCH}'"`
and then parsing this message in ELK.
It's not as convenient to get it from messages array as it would be from high-level `time_stamp` field, but it's possible (at least in ELK).
I understand that changing current

[2020-06-18 12:57] joelbibby commented on #2289
Can confirm, I have the same issue. Can't upload files to Nextcloud unless I increase the SecRequestBodyLimit. However, I've read that this has a non-configurable upper limit of 1GB. Also have the Nextcloud rules, but no difference. My modsec_audit.log isn't very big though, so maybe I just don't use my Nextcloud as much as you. (13MB)

[2020-06-18 19:57] martinhsv commented on #2341
Hi @PaulCharlton ,

Probably the single most useful thing would be to increase your log levels.  SecDebugLogLevel set to 9 will show a lot more detail about what is happening within ModSecurity.  Similarly, if the error is occurring in nginx code, setting the error_log level to info, or even debug, might help.

[2020-06-18 20:49] victorhora commented on #2303
I recall [SecStreamInBodyInspection](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecStreamInBodyInspection) being a common cause for slow uploads (see #1366).

@gullu44 I'd also suggest checking if you have that configuration enabled and also consider enabling the optional --enable-large-stream-input compilation time flag. https://github.com/SpiderLabs/ModSecurity/co

[2020-06-19 11:00] ragudesign opened #2343 "SQL Injection rule flags up contact forms with A tags"
Hello

For our WordPress sites, we use Gravity forms as a plugin.

The form includes a user consent checkbox, we link the privacy policy to the relevant page using an 'a href' tag. Now for whatever reason, Gravity form makes the value of the field the same as the label. For example:

`<input type="hidden" name="input_9.2" value="I consent to xxxx holding and retaining my personal details as descri

[2020-06-19 14:55] marcstern opened #2344 "Memory pointer error in JSON sanitization"
In json_add_argument(), we calculate the offset of the data to sanitize the following way:
    arg->value_origin_offset = value - base_offset;
'value' is a parameter,  'base_offset' is a pointer containing the original string to sanitize.
Usually, 'value' is a pointer in the original string pointed by 'base_offset'.
BUT, when unescaping the string in yajl_do_parse() on line 253, we unescape it in

[2020-06-19 16:45] martinhsv commented on #2343
Hi @ragudesign ,

Typically the strategy in such cases is to turn off the rule causing false positives ... but turn it off as selectively as possible.

There are a couple of different ways to do this, but one common one is to create a separate rule whose only purpose is to turn off the rule that is causing FPs.

In your case, suppose you know that the relevant args all have a name beginning with '

[2020-06-20 14:46] PaulCharlton commented on #2341
@martinhsv thanks for the insights on how to proceed.  Increasing the ModSecurity debug log level to 9 did not show anything useful -- all rules appear to be passing.  I will continue some data gathering with the Nginx error_log level settings.

[2020-06-20 15:25] PaulCharlton commented on #2341
@martinhsv this may be the best clue thus far:
`2020/06/20 15:11:03 [info] 34461#34461: *4116259 ModSecurity: Warning. Matched "Operator 'Rx' with parameter '^0?$' against variable 'REQUEST_HEADERS:content-length' (Value: '945' ) [file "/etc/nginx/owasp-modsecurity-crs/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf"] [line "161"] [id "920170"] [rev ""] [msg "GET or HEAD Request with Body Content."] [

[2020-06-20 15:54] PaulCharlton commented on #2341
continuing that investigation -- the entire control flow works when I disable our external auth by removing the auth related annotations from the k8s ingress resource.

combining that with the info from the log above -- Nginx appears to be sending the entire request body to the auth provider -- even on a POST/PATCH/PUT request ... and all our auth provider really cares about is a couple of the req

[2020-06-20 15:58] PaulCharlton commented on #2341
@martinhsv so -- modsecurity flagging on a sub-request -- what is the control flow supposed to be?  it definitely should not be hanging the session until client-side terminates.

[2020-06-20 17:13] PaulCharlton commented on #2341
more information:
disabling modsecurity at the "location" level does NOT change the behavior -- its presence, even when disabled at location, and even when all rules are disable, still produces the hang.

Looking at the issue I identified in the log above, I went looking for the configuration for the external auth, and contrary to the modsecurity log above, the external auth location does not pass

[2020-06-20 17:21] PaulCharlton commented on #2341
summary of what I have observed:
1) Nginx ingress with no modsecurity/external_auth. -> works
2) Nginx ingress with either modsecurity or external_auth. -> works
3) Nginx ingress with both modsecurity and external_auth. -> hangs session until broken by client
3a) modsecurity logs "invalid request body" (Rule #920170) with external auth path upon session break by client

I am imagining that somethi

[2020-06-22 13:11] martinhsv commented on #2341
Hi @PaulCharlton ,

Those are some good clues.

In some ways it sounds a bit like something akin to https://github.com/bitly/oauth2_proxy/issues/442 .  I.e. if no body is sent but a Content-Length header is present with a nonzero value, then a hang could be occurring due to a waiting-for-body state.

A few things you could try to further clarify what is happening:
A) Are you able to actually sniff

[2020-06-22 20:24] PaulCharlton commented on #2341
@martinhsv I will follow up on your ideas and let you know:
A) -- sniffing -- can do one better and inject a lightweight proxy server in between Nginx and the auth server and trace everything
B) the location policy for the auth server already has ```proxy_pass_request_body     off;
                        proxy_set_header            Content-Length ""; ``` so I would be surprised if there was any a

[2020-06-24 10:17] marcstern commented on #2323
This is definitely not a problem with my environment. The code is invalid: it's declared as a global function, then it's defined as static. It's against the C standard and some compilers(correctly)  choke on this (i.e. Microsoft Visual C++).

[2020-06-24 10:33] marcstern commented on #2312
I imagine some default compile options are different (like optimization-related ones) and that leads to the problem. The declaration is at the wrong place anyway. It's, inthe best case, a bad practice.

[2020-06-24 15:47] fraiss-c opened #2345 "Bypassing the whole WAF with uri fragment # character"
Describe the bug
Uri Fragment # character allows bypassing the whole ModSecurity WAF.
To Reproduce
Deploy an OpenResty with ModSecurity and the CRS.
Install OWASP JuiceShop and use OpenResty as a reverse proxy. (I deployed mine at the location /juiceshop/)
Try the simple XSS <iframe src="javascript:alert('xss')"> attack in the search field of the webapp.
The attack won't be blocked, but if you rem

[2020-06-25 12:47] #2343 closed, assigned to martinhsv

[2020-06-25 18:54] martinhsv commented on #2345
`Describe the bug
Uri Fragment # character allows bypassing the whole ModSecurity WAF.
To Reproduce
Deploy an OpenResty with ModSecurity and the CRS.
Install OWASP JuiceShop and use OpenResty as a reverse proxy. (I deployed mine at the location /juiceshop/)
Try the simple XSS <iframe src="javascript:alert('xss')"> attack in the search field of the webapp.
The attack won't be blocked, but if you re

[2020-06-25 18:54] #2345 closed, assigned to zimmerle

[2020-06-25 19:22] martinhsv commented on #2345
The investigation in this case concluded that it was not as it at first seemed.

The provided example was a DOM Based XSS.  The XSS payload was not sent to the server (and of course not received back in a response), so there was nothing to detect.

In other words, using the uri fragment character does not result in any known bypass.

Separately, just a quick reminder that for security issues (incl

[2020-06-25 20:20] martinhsv commented on #2344
Hi @marcstern ,

I'm not sure I understand the problem that you are describing here.  Would it be possible for you to provide more detail?

[2020-06-26 09:35] fraiss-c commented on #2345
I agree that it is a DOM-based XSS and not a stored one, but I don't understand why:
- `http://localhost/juiceshop#/search?q=%3Ciframe%20src%3D%22javascript:alert(%60xss%60)%22%3E` is not blocked, but
- `http://localhost/juiceshop/search?q=%3Ciframe%20src%3D%22javascript:alert(%60xss%60)%22%3E` is blocked.

As the only difference is in the #, and the same thing appears in the little example:
`SecR

[2020-06-26 13:07] martinhsv commented on #2345
For your simple case, if you type 'localhost#/?a=test' into a browser's URL bar, it will not include the '#' or anything that follows it in the HTTP request that it sends.  Because 'a=test' is not part of the request, then it will not be received by the Web Server, and it will not be seen by ModSecurity either.  Therefore the request does not meet the conditions to trigger your sample '@contains'

[2020-06-26 18:44] PaulCharlton commented on #2341
@martinhsv was able to confirm that the session is hung between the modsecurity pass and the invocation of the auth sub request.  Also discovered that the auth sub request completes successfully immediately after the client breaks the session.

In a nutshell, when modsecurity is enabled (even with "SecRulesEngine Off"), Nginx ingests an extra byte from the client SSL connection.   I am still drill

[2020-06-26 19:18] PaulCharlton commented on #2341
adding information:  the hung session only occurs with TLS client connections

[2020-06-26 19:34] PaulCharlton commented on #2341
Server:   Nginx/modsecurity container: quay.io/kubernetes-ingress-controller/nginx-ingress-controller
    tag: "0.32.0"

[2020-06-26 20:58] ragudesign commented on #2343
Hi @martinhsv

So sorry for the late response.

Thanks a lot for looking into this, I'll take your example and amend as I see fit!

Thanks again and enjoy your weekend :D

Kind Regards.

[2020-06-27 04:26] PaulCharlton commented on #2341
adding information:  the session does not hang if the POST/PUT/PATCH has an empty request body and no Content-Length header.   Even a "Content-Length: 0" hangs.

SecRequestBodyAccess Off (or On) does not change the outcome.

[2020-06-27 05:15] PaulCharlton commented on #2341
spoke too soon on the last one.

1. `curl -X POST URI --header 'Content-Length: 0'` works with modsecurity enabled.
2. `curl -X POST URI -d ''` does not work with modsecurity enabled. (blank line, `Content-Length: 0`)
3. `curl -X POST URI` works with modsecurity enabled (no body, no content length header)
for each of the above: `SecRulesEngine Off`

for evidence below, first request worked; second

[2020-06-27 05:25] PaulCharlton commented on #2341
in a nutshell, the hung session boils down to whether there is an empty line after the headers to separate the headers from a content body, and the hang only occurs when modsecurity is enabled, even if all rules are disabled, and only hangs for TLS session.

[2020-06-27 05:34] PaulCharlton commented on #2341
additional information:
it only hangs for http2.    forcing curl to http1.1 works ... `curl -X POST URI -d '' --http1.1` does not hang

[2020-06-27 05:46] PaulCharlton commented on #2341
definitive workaround:
add `use-http2: false` to the Nginx listen block.

At this point, we can write a unit test that sets conditions: (1) "POST + non-empty body", (2) side-car sub request Auth, (3) modsecurity enabled, (4) force HTTP2 + TLS session.    iterate until the unit test works.

[2020-06-27 07:38] PaulCharlton commented on #2341
there seems to be some ambiguity in the various interpretations of the HTTP2 protocol as it is translated back to NGINX request buffers ... does the blank line between the request_header and the request_body belong to the header, to the body, or as a standalone entity?  I imagine we will find that modsecurity-nginx, Nginx auth subrequest, and Nginx proxy request have different views of that questi

[2020-06-27 10:33] void-in commented on #1944
Any progress towards the deprecatevar support? Is there any alternative to use in rules like brute force?

[2020-06-28 09:52] HadiAbbasi opened #2346 "Help /Read me is not updated for new verion!"
I have tried to run my old nodejs A-NPI code which was connected to and used c++ modsc 3.0 lib, and also I have updated my modsec lib to latest version but I think there are some changes in libraries, but I can't find any document or example to solve my problems!
I wanna call this method:
         _rules->m_parserError.str() in below line
	Napi::Error::New(env, _rules->m_parserError.str()).ThrowAs

[2020-06-28 10:34] unix196 opened #2347 "Modsecurity periodically generate warning in SecAction "initcol""
**Describe the bug**

We try use modescurity by a little on our servers. We enable it on some servers on some virtualhosts with small load - all OK. Then I enable modsecurity on other server with with a greater load and begin receive warnings in nginx log file:
[code]
This messages are repeated in log file
[code]

In my modsecurity config line 6:
[code]
Modsecurity module is working (blocking bad

[2020-06-30 19:44] mailinglists35 commented on #2216
is this the same issue?

[code]

[code]

ubuntu 18.04 LTS installed with kickstart.sh

[2020-06-30 19:44] mailinglists35 commented on #2216
is this the same issue?

[code]

[code]

ubuntu 18.04 LTS installed with kickstart.sh

[2020-06-30 20:11] martinhsv commented on #2216
Hi @mailinglists35 ,

If you are using ModSecurity-nginx code that includes the above-mentioned fix ('Exit more gracefully if uri length is zero'), then what you have just mentioned shouldn't be the same issue.

If you do not have that ModSecurity-nginx change, it _could_ be the same issue if you are using versions of nginx mentioned by @KfirManSnunit .

Beyond that, it's hard to conclude anything

[2020-06-30 23:12] mailinglists35 commented on #2216
I have no clue about what you're asking related to nginx.
all I did was download the kickstart.sh script on a standard ubuntu 18.04 box. all other ubuntu packages ont he box are with their defaults, including nginx.

[2020-06-30 23:15] mailinglists35 commented on #2216
I don't even have nginx installed on that machine

[2020-07-02 04:47] solaceten opened #2349 "Google Social Login blocked"
Hello

Apache CentOS server
OWASP v3

Wordpress site with woocommerce and Google Social Login (and Facebook social login)

Facebook Social Login works fine, but Google always throw following errors / rules:

error 403  930120: OS File Access Attempt
error 403  949110: Inbound Anomaly Score Exceeded (Total Score: 5)
error 403 980130: Inbound Anomaly Score Exceeded (Total Inbound Score: 5 - SQLI=0,X

[2020-07-02 05:05] solaceten commented on #2349
Update: It would appear that disabling rule 930120 seems to have allowed the oauth to go through ok.... so - perhaps something can be tweaked on that rule  in the CRS ?

[2020-07-02 11:53] martinhsv commented on #2349
Hi @solaceten ,

The generic nature of the CRS means that you will encounter false positives from time to time for which you will want to write exceptions.

While you can simply disable a rule entirely for your ModSecurity deployment, often a safer approach is to only remove it for the case that is causing a problem.  Helpful rule actions that you might consider include:
ctl:ruleRemoveById (you co

[2020-07-02 11:53] #2349 closed, assigned to martinhsv

[2020-07-02 12:13] martinhsv commented on #2216
Hi @mailinglists35 ,

If you don't have nginx installed on your machine, then you are not encountering issue 2216.

[2020-07-04 17:41] jbarfield opened #2350 "Portability issue: == in configure shell script"
**Describe the bug**

**The configure shell script has a portability issue with the '==' operator when attempting to build from source.**

The "test" command, as well as the "[" command, are not required to know
the "==" operator. Only a few implementations like bash and some
versions of ksh support it.

When you run "test foo == foo" on a platform that does not support the
"==" operator, the resu

[2020-07-04 20:20] jbarfield opened #2351 "ModSecurity v3.0.4 Warning when compiling libmodsecurity from source on SmartOS (illumos)."
**Describe the bug**

This is just a compiler warning when building from source. I wanted to check and see if it is transient or if it could be the potential source of a memory leak found when valgrind testing the binary libraries after building using regression_tests. (pastebin post at the end of bug report). The unit_tests script however, valgrind reports "no leaks" and all of the tests pass. If

[2020-07-06 12:26] zimmerle commented on #2351
Hi @jbarfield,

Thanks for the report. I see in your **Valgrind** output that some of the highlighted warnings are part of the suppression list contained in the project.  Did you happens to use the [suppression lis](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/test/valgrind_suppressions.txt) while testing it?

**Valgring** runs as part of our QA, _make check-valgrind_ runs it with our

[2020-07-06 12:56] zimmerle commented on #2350
@jbarfield

The _configure script_ is automatically generated as the result of [autogen tools](https://www.gnu.org/software/autogen/) and [automake](https://www.gnu.org/software/automake/). Among of other things the build scripts make usage of a set of m4 scripts on the [build folder](https://github.com/SpiderLabs/ModSecurity/tree/v3/master/build) as foment.

One can generate the _configure_ scrip

[2020-07-06 13:30] zimmerle commented on #2346
Hi @HadiAbbasi,

The class **Rules** was renamed to **RulesSet**, that seems to be the kernel of the issues that you are facing.

That is the new home for loadFromUri:
https://github.com/SpiderLabs/ModSecurity/blob/7e0bc2691727b8c75f74638cdc4d1c45a689a7b6/src/rules_set.cc#L35-L50

For a full example, you may want to look here:
https://github.com/SpiderLabs/ModSecurity/blob/b7e28c246f35a0a4f5f3594d

[2020-07-06 13:30] #2346 closed, assigned to zimmerle, HadiAbbasi

[2020-07-06 14:48] jbarfield commented on #2350
I am building the package automatically with pkgsrc. I wonder if I just tell pkgsrc to delete the configure script if it will regenerate automatically using automake autoconf,etc, just like the build script is doing. Ill test this and see.

[2020-07-06 14:50] jbarfield commented on #2351
I will test your commands directly on the source. I wasnt concerned about any particular error...I just wanted to see if the warning is transient and if the valgrind messages were legit. Is there something that can be done about the warning or is it safe to ignore?

[2020-07-07 11:21] airween commented on #2157
Now I ran into this problem again.

[code]

I'm using OWASP CRS 3.3.

`curl -vvv -H "Accept:" "http://localhost:8080/"`

In error.log:
[code]

Is that the expected?

[2020-07-07 13:55] martinhsv commented on #2157
Hi @airween ,

I can reproduce what you have reported.  And, no, I'm pretty sure it's not an expected behaviour.

Note that it is not related to the most recent merge  (Indeed, that would be quite a surprising side effect of that change).

This may be a temporary phenomenon given that some of the v3.1 code changes have yet to be merged.  Thanks for mentioning it though.

[2020-07-07 14:43] airween commented on #2328
I think this is a similar issue:

[code]

The error message:
[code]

so I will not open any new issue.

[2020-07-07 15:06] marcstern commented on #2344
I cannot provide more details but I can try to reexplain it in another way.

In json_add_argument(), we calculate the offset of the data to sanitize the following way:
[code]
`base_offset` is the beginning of the body string.
`value` is the beginning of the value string in the body.

Example: body equals `{"mykey": "myvalue"}`
`base_offset` points to the `{` character (let's say address `0x555555`

[2020-07-07 15:07] studersi opened #2352 "Parsing error when submitting file with an apostrophe (') in filename"
**Describe the bug**

When submitting a file with an apostrophe (') in the filename, ModSecurity fails to parse the request body causing the ModSecurity Recommended Rules to deny the request.

**Logs and dumps**
[code]
[code]

**To Reproduce**
* Set up environment: https://www.netnea.com/cms/nginx-modsecurity-tutorials/
* Create test files (one with, one without apostrophe):
[code]
* Perform worki

[2020-07-07 17:53] martinhsv commented on #2352
Hi @studersi ,

Since you're using a fairly old ModSecurity (v3.0.0), I would suggest upgrading to a more recent version like v3.0.4.  I'm fairly sure that the issue you describe does not exist there -- or in the previous version (v3.0.3) for that matter.

[2020-07-07 18:40] studersi commented on #2352
Thank you for your reply!

I just confirmed it with the following versions:
* nginx-1.19.1
* modsecurity-v3.0.4
* modsecurity-nginx-v1.0.1

The behaviour is the same:
[code]
[code]

[2020-07-07 20:16] martinhsv commented on #2352
Ah, ok, my mistake.

You're hitting the multipart strict check (rule 200003) -- specifically triggered by the invalid quoting condition ('IQ 1').

The condition you're hitting shouldn't hamper parsing of the remainder of the request body (at least not in 3.0.4), so you could probably just turn off the rule detection of this condition.

One way to do this is to just remove/comment-out rule 200003.

[2020-07-08 06:42] studersi commented on #2352
Indeed but this appears to be more of a workaround for an underlying problem. I do not see why an apostrophe should trigger unmatched quotation error.

Correct me if I am wrong but it appears to me that according to [Section 4.1 of RFC 6266](https://tools.ietf.org/html/rfc6266#section-4.1) the apostrophe should be a perfectly normal character in the filename-parm value as defined in [Section 3.6 R

[2020-07-08 12:04] martinhsv commented on #2352
Hi @studersi ,

' ... more of a workaround ... '

It sure is.

As a general note, the individual conditions tested within MULTIPART_STRICT_ERROR are not all violations of the standard.  By design, they test things that may indeed be perfectly RFC-compliant.  But these same things are (or at least were historically) uncommon/unexpected, and hence might be indicators of suspicious activity.

It's ce

[2020-07-09 10:29] unix196 opened #2354 "Command nginx -t create file modsec-shared-collections in directory where it run"
Nginx build with connector modsecurity-nginx. Modsecurity build with lmdb support (`--with-lmdb`)
[code]

[code]

This is very strange behavior. If I change directory to `/etc/nginx`, then run `nginx -t` - after that my nginx config is broken.

[code]

[2020-07-09 13:16] zimmerle commented on #2354
Indeed this is  annoying.

Ideally the **lmdb** file should be created in a path relative to execution binary, in that case: _nginx_. Not sure if we need a configuration flag for that, where the user will be able to pin point the location of the collection. That seem to be a good idea as we want to support others such us: Redis (#1139) and Memcache (#1140). Both Memcache and Redis, demands specifi

[2020-07-10 04:10] ztbh commented on #2285
sed -i 's|ngx_inet_get_port(connection->sockaddr|htons(((struct sockaddr_in *) connection->sockaddr)->sin_port|' /opt/ModSecurity-nginx/src/ngx_http_modsecurity_rewrite.c
sed -i 's|ngx_inet_get_port(connection->local_sockaddr|htons(((struct sockaddr_in *) connection->listening->sockaddr)->sin_port|' /opt/ModSecurity-nginx/src/ngx_http_modsecurity_rewrite.c

[2020-07-10 04:11] luckygo666 commented on #2285
https://github.com/SpiderLabs/ModSecurity/issues/2285#issuecomment-605604085

[2020-07-10 04:12] ztbh commented on #2285
sed -i 's|ngx_inet_get_port(connection->sockaddr|htons(((struct sockaddr_in *) connection->sockaddr)->sin_port|' /opt/ModSecurity-nginx/src/ngx_http_modsecurity_rewrite.c
sed -i 's|ngx_inet_get_port(connection->local_sockaddr|htons(((struct sockaddr_in *) connection->listening->sockaddr)->sin_port|' /opt/ModSecurity-nginx/src/ngx_http_modsecurity_rewrite.c

[2020-07-10 04:22] anhkhoa14592 opened #2355 "SecRuleUpdateTargetById does not work with multiple target and range id"
Hi,
While testing Modsecurity, I found some bugs relating to SecRuleUpdateTargetById .

**Describe the bug**
I has 2 rules:
[code]

1. Case 1: SecRuleUpdateTargetById does not work with multiple target

**Exception Rules**
[code]
**Request and output**
[code]

2. Case 2: SecRuleUpdateTargetById does not work without regular
**Exception Rules**
[code]

**Request and output**
[code]

**Additional No

[2020-07-10 13:37] zimmerle commented on #2312
I agree with the static analysis utility: the declaration is not following the best practice. However, this particular declaration is not causing compilation to broken or any further issue, as demonstrated in the video posted at https://github.com/SpiderLabs/ModSecurity/issues/2312#issuecomment-639658190.

If the compilation is not working for you, please do paste the error so we can start a debug

[2020-07-10 13:39] zimmerle commented on #2323
ModSecurity for IIS is compiled using Visual Studio. Same for ModSecurity for Apache/Win. The compilation is working fine. It will be a pleasure to assist you if you can provide the associated error message.

The scripts for windows compilation are on the repository, in case you want to give it a try.

[2020-07-10 14:01] martinhsv commented on #2355
Hi @anhkhoa14592 ,

1) SecRuleUpdateTargetById does not work with multiple target
Aren't you using the wrong format?  target items are separated by '|' . Try
"!ARGS:/^x$/|!ARGS:/^y$/"

2) SecRuleUpdateTargetById does not work without regular
There was a bug to that effect that has been fixed.  See https://github.com/SpiderLabs/ModSecurity/issues/2251

3) Range id does not work as expected
This is

[2020-07-10 15:10] anhkhoa14592 commented on #2355
hi @martinhsv ,

Thanks you for your help. In the case 1, I follow the document in https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#SecRuleUpdateTargetById.
Anyway, I've tried the new rule as your suggestion and it work perfectly. It help me a lot.

I have another question relating to performance. Should I combine many SecRules into 1 line or separate them? Which one is bette

[2020-07-10 19:28] martinhsv commented on #2344
Hi @marcstern ,

Thank you for the explanation.  I have done some investigation and can confirm that you are correct in your main finding:  that the sanitization code is trying to use the wrong memory location in the use case that you describe.  So, thanks as well for pointing to that.

However, it looks to me like there actually isn't a danger of '*' sanitization characters being written to inapp

[2020-07-12 21:13] mmojadad opened #2356 "Error 1722 on Repair/Uninstall ModSecurityIIS_2.9.3-64b for IIS"
Windows 2016
IIS 10
ModSecurityIIS_2.9.3-64b
Visual Studio 2013 Runtime (vcredist) installed
-----------------
When i try uninstall/repair ModSecurity 2.9.3 for IIS, the following error is displayed:
![photo_2020-07-13_01-37-43](https://user-images.githubusercontent.com/13836821/87256683-19874000-c4aa-11ea-85de-db4d9b312761.jpg)
In log :
------------
Product: ModSecurity IIS -- Error 1722. There i

[2020-07-13 09:35] marcstern opened #2357 "Incorrect escaping in @rx operator with macro expansion"
When using macro expansion with @rx operator, escaping is incorrectly applied.

Example:
 SecRule ARGS "@rx localhost|%{TX.OtherHosts}"
will lead to something like  SecRule ARGS "@rx localhost\\|myhost1\\|myhost2"
This screws up all regexes, as regex special characters will be escaped, even outside the macro-expanded varaiables.

In case I want to test against %{TX.MyHost} that isn't a regex, I ca

[2020-07-13 11:42] zimmerle commented on #2357
What happens to be the version of ModSecurity in question?

[2020-07-13 11:47] zimmerle commented on #2356
Hi @mmojadad,

Can you provide the logging information for the msi execution?

You can collect such information by using:
[code]
Further information here: https://www.advancedinstaller.com/user-guide/qa-log.html

[2020-07-13 11:55] mmojadad commented on #2356
Hello
I fixed it. I used MicrosoftProgram_Install_and_Uninstall.meta.diagcab based on advise on the following URL :
https://github.com/SpiderLabs/ModSecurity/wiki/IIS-Troubleshooting#running-the-installer-in-verbose-mode

Thanks

[2020-07-13 11:55] #2356 closed, assigned to zimmerle

[2020-07-13 12:29] martinhsv commented on #2355
Hi @anhkhoa14592 ,

In neither case is one choice likely to be particularly more performant.

Cheers.

[2020-07-13 12:29] #2355 closed, assigned to martinhsv

[2020-07-14 07:28] marcstern commented on #2357
Sorry, 2 (trunk).
PS: It seems that I cannot tag the issue with the version number when creating it

[2020-07-14 12:50] zimmerle commented on #2357
If you fill the version number in the issue template, the automation script will tag accordingly.

[2020-07-14 14:29] ralfmeister opened #2358 "Parser for XML namespaces in xml rules is too restrictive"
**Parser for XML namespeces in XML rules is too restrictive **

We encountered a bug when porting mod_security from version 2 to version 3.
The parser, that parses the XML-namespace in XML rules is too restrictive.
It allows only namespaces beginning with http://

Burt the specification from https://www.w3.org/TR/1999/REC-xml-names-19990114
states:

-------
2. Declaring Namespaces

.....

[Definit

[2020-07-15 10:18] kanitan commented on #1872
I have the same problem when using SecRuleUpdateTargetById.It seems fixed in v3.0.4 with the commit: https://github.com/SpiderLabs/ModSecurity/commit/1b1fdc055b8071ad3b24573abfe9b96e546c7abf

But actually it still doesn't works.Here is my config (libmodsecurity v3.4.0):
[code]
Send a request with ``Cookie: _idbnaa=16778240#217623#kNDxUN8UsVvg--gXz8eKfQ`` and it was blocked by ruleId 942100.

I con

[2020-07-15 10:23] kanitan opened #2359 "regular expression is still not available for SecRuleUpdateTargetById in v3.0.4"
I still have the same problem as issue: https://github.com/SpiderLabs/ModSecurity/issues/1872 when using SecRuleUpdateTargetById. It seems fixed in v3.0.4 with the commit:
https://github.com/SpiderLabs/ModSecurity/commit/1b1fdc055b8071ad3b24573abfe9b96e546c7abf

But actually it doesn't works.Here is my config:
[code]
Send a request with the cookie below and it was blocked by ruleId 942100.
[code]

[2020-07-15 13:57] albgen opened #2360 "nginx -t very slow with modsec enabled 15 sec !"
**Describe the bug**

When the mod_sec module is enabled, the command nginx -t is very slow.
I have something like 15 websites running on this webserver.

**With modsec enabled and loaded**

[root@web nginx]# time nginx -t
nginx: the configuration file /etc/nginx/nginx.conf syntax is ok
nginx: configuration file /etc/nginx/nginx.conf test is successful

real    0m13.484s
user    0m11.070s
sys

[2020-07-15 14:45] s-ribeiro opened #2361 "Modsecurity V3.0.4 + Nginx: Phase 3/4 Not Blocking"
Hi,

We are having an issue in Phase 3/4 rules which are detected but not blocked.
I found this issue similar with [https://github.com/SpiderLabs/ModSecurity/issues/1568](url), however in my case I'm able to block in phase 1 and phase 2. I used a workaround to redirect to a static page hosted internally.

Tested both with action as redirect, deny, drop, but the result was the same.
SecDefaultActio

[2020-07-15 17:18] gullu44 commented on #2303
@victorhora , thanks . I will check suggested options.

[2020-07-16 00:15] zimmerle commented on #2361
Hi @s-ribeiro,

What is the version of ModSecurity?

Notice that if you are using nginx, redirection on phase 3/4 is not feasible. At this point the header already hit the user browser, the only option is to terminate the request abruptly.

[2020-07-16 00:16] zimmerle commented on #2360
Hi @albgen,

Are you using any external resources? such as SecRemoteRules? What happens to be the ModSecurity version that you have running?

[2020-07-16 08:04] marcstern commented on #2344
I was able to reproduce it in debug and visualize it. It overwrites some random memory, leading (sometimes?) to a crash dump (exception on memory access).

[2020-07-16 08:15] marcstern commented on #2323
If you define -DDEBUG_CONF when compiling Apache/Win, you get that result:
2>apache2_config.obj : error LNK2019: unresolved external symbol msre_actionset_generate_action_string referenced in function update_rule_action
2>C:\Cache\httpd-Debug\modules\mod_security2.so : fatal error LNK1120: 1 unresolved externals

This error disappears by applying the fix above.

[2020-07-16 08:57] mmojadad opened #2362 "SecRuleRemoveById on web.config"
IIS 10
Windows 2016
------------------
Hello
How can i Disable the ModSecurity using ID on web.config for a specific domain?

[2020-07-16 10:31] marcstern commented on #2312
I already pasted the error.
I retried with the latest updates and the problem doesn't appear anymore.
Hoping it won't come back some time ...

[2020-07-16 11:16] s-ribeiro commented on #2361
Hi @zimmerle,

Thanks for your feedback. I am running 3.0.4.
I do understand your point regarding phase4, the response headers were already sent, so redirect will not work. My bad... :)
But I have the same problem in phase3 rules as well.
As per your suggestion I've changed SecDefaultAction in phase 3 and 4 to a disruptive one (example: drop) and the result was the same.

SecDefaultAction "phase:1

[2020-07-16 13:03] albgen commented on #2360
hi zimmerle,

I have created only one rule that i use just to understand if the waf is enabled or not in a web application and is the following:

Basic test rule
SecRule ARGS:testparam "@contains test" "id:1234,deny,status:403"

All the rest of the rules is the owasp-modsecurity-crs.
ModSec is compiled from git and is the latest version.

I have the same rules and same modsec compiled(the same way

[2020-07-16 19:50] martinhsv commented on #2359
Hi @kanitan ,

Your sample SecRuleUpdateTargetById works for me with both v3.0.4 (from January) and current code.

You might want to double check which rule is still being triggered.  With CRS and your cookie key-value pair,, I found I had to also disable rule 942421.

[2020-07-19 21:24] gullu44 commented on #2303
@victorhora . Also Iam still not able to understand why mod_sec applying SecRequestBodyNoFilesLimit  when a payload contain file in the attachment  (as highlighted in my original post , point 2)? For me its another  issue and forcing us to increase SecRequestBodyNoFilesLimit  to allow big file upload  .

[2020-07-20 08:10] airween commented on #2303
@gullu44 - `SecRequestBodyNoFilesLimit` isn't supported in v3 (see the [documentation](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#SecRequestBodyNoFilesLimit)), but there was a PR for it (#2265).

[2020-07-20 09:08] kanitan commented on #2290
the line after SecAuditEngine RelevantOnly:
[code]
So only the requests with response code 5xx,4xx(except 404) will be loged.

[2020-07-21 01:02] thepixelabs commented on #1803
The solution posted by @theseion above didn't help in my case. Added it to my already existing file, restart the server. Tested on a browser that was available before (which is weird in the first place, one browser got blocked while the other was available), now none of my browsers are available now unless restarting server

Supposed to block remote ips based on getting 404 more than 3 times, for

[2020-07-21 02:16] #2359 closed, assigned to martinhsv

[2020-07-21 13:53] mhf-ir opened #2364 "Compile error debian 10"
**Describe the bug**

Compile using debian 10 docker image

Following packages are installed:
[code]

**Logs and dumps**

[code]

**Expected behavior**

Compile success in debian 10

[2020-07-21 15:08] airween commented on #2364
See [this](https://github.com/SpiderLabs/ModSecurity/issues/2254) issue.

[2020-07-21 15:29] zeridon opened #2365 "Multipart: Invalid boundary in C-T (malformed)."
Modsecurity is not correctly parsing content-type header in the case of multipart/form-data if charset is present

Sample
```"Content-Type": "multipart/form-data;charset=UTF-8;boundary=QXlbjhZWInGKObWZWJrwvszWcDGNUmVEctCmI1r2",```

Error:
[code]

The reason for the error is: https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/request_body_processor/multipart.cc#L1273

The parser just does

[2020-07-21 16:57] martinhsv commented on #2365
Hi @zeridon ,

I beleve this is the same as https://github.com/SpiderLabs/ModSecurity/issues/1900

I'll go ahead close this issue as a duplicate at end-of-day.

[2020-07-21 17:01] zeridon commented on #2365
Agreed it is the same. Funny how i couldnt find it

On Tue, 21 Jul 2020, 19:57 martinhsv, <notifications@github.com> wrote:

[2020-07-21 22:21] gullu44 commented on #2303
@airween , thanks for pointing that link. Anyway we still using 2.9.3 version but my above question ( point 2 in main post above) is around payload which contain attachment e.g 10 MB . Even when i set  SecRequestBodyLimit  to 11 MB  , modesec somehow applying  SecRequestBodyNoFilesLimit (4 MB) on such palyload not SecRequestBodyLimit

2020-07-20 22:11:31.943547 -:error 10.240.161.3:0 XxYIg6y0f--ht

[2020-07-22 09:08] airween commented on #2303
@gullu44 - sorry, that was my mistake. For some reason I thought you're using v3.

For your issue: IMHO `SecRequestBodyNoFilesLimit` means the $FULL_REQUEST_SIZE - $SIZE_OF_FILES, **or** if your request doesn't contain any file. Your request (from your first comment) looks like `curl ... -H "Expect: 100-continue" --data-binary @test.txt https://example.com` sends the content type `application/x-ww

[2020-07-22 11:18] #2365 closed, assigned to martinhsv

[2020-07-22 23:31] gullu44 commented on #2303
@airween , thanks again for your feedback. Yes with -F it always works and modsec able to recognize that payload contain a attachment and SecRequestBodyNoFilesLimit is calculated correctly like you pointed i.e $FULL_REQUEST_SIZE - $SIZE_OF_FILES,, but we have many application which send files using curl (without -F ) or using java client  , top of it ,some send attachment with content type  applic

[2020-07-23 06:18] airween commented on #2303
@gullu44, I just can say, IMHO this is the expected behavior - you can check the [source](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/apache2/msc_reqbody.c#L309).

[2020-07-23 10:13] marcstern commented on #2344
Which one? I don't see any if condition protecting against that. Actually no condition could protect against that, as the (wrong) address could be higher than the base one.

[2020-07-23 13:20] emerzon opened #2366 "Proxy action corrupting HTTP sessions under high load"
When using the proxy action, under high load, some HTTP sessions become corrupt.
Seems like a race condition or context isolation issue.
In some cases, if 2 requests are sent at the same time, the first request gets proxied twice and the second one is ignored.

Steps to reproduce the behavior:

1) Create a proxy action like this:
[code]

2) Generate a list of unique requests to be proxied to the b

[2020-07-23 15:28] mmojadad opened #2367 "How to Disable a Specific Rule for Mod security on a Single Domain"
Winodws 2016, IIS 10
How to Disable a Specific Rule for Mod security on a Single Domain?

[2020-07-23 16:24] zimmerle commented on #2364
Hi @mhf-ir,

You can either update the version of your libmaxmind or disable it with: --with-maxmind=no as ./configure option. That was an issue on MaxMind that wasn't treating **MMDB_s** as a _const_ as it needs to be.

[2020-07-23 16:24] #2364 closed, assigned to zimmerle

[2020-07-23 16:26] zimmerle commented on #2366
Hi @emerzon,

Could you please confirm the version of ModSecurity is question?

[2020-07-24 19:18] mhf-ir commented on #2364
Using compile latest version of https://github.com/maxmind/libmaxminddb in debian 10,
During configure seems be okey but during make fails again.

[code]

[code]

[code]

@zimmerle @airween

[2020-07-24 20:08] airween commented on #2364
Just two quick idea: check the `pkg-config` package is installed (`dpkg -l pkg-config`), and try to run `make clean` and re-run the whole process.

[2020-07-24 20:40] mhf-ir commented on #2364
@airween
[code]
make clean
./configure
make

[code]

Problem not solve

[2020-07-24 23:38] gitcnd opened #2371 "geo_lookup.cc:124:32: error: invalid conversion from ‘const MMDB_s*’ to ‘MMDB_s*’ [-fpermissive]"
On CentOS Linux release 8.2.2004 (Core);

bash: git clone https://github.com/SpiderLabs/ModSecurity.git
bash: cd ModSecurity/
bash: ./build.sh
bash: ./configure
bash: git submodule init
bash: git submodule update
bash: ./configure
bash: make

...

utils/geo_lookup.cc: In member function ‘bool modsecurity::Utils::GeoLookup::lookup(const string&, modsecurity::Transaction*, std::function<bool(int, co

[2020-07-25 14:51] airween commented on #2364
@mhf-ir, I had no idea, so I started a VM and tried to reproduce your issue (the details were fine).

There were few interesting lines in your output (and of course, in mine too), eg.:
[code]
So I also run into same result as you. I think the problem is in Debian's `pkg-config`.

Whit this workaround I could compile the library on the up-to-date Debian 10 system:
[code]
Could you try this?

(Pleas

[2020-07-26 07:35] kaingeyy opened #2372 "How to call modsecurity in my application and use rules to check if the URL is safe?"
program : linux c
platform: centos 7
version : v3
file : examples/simple_example_using_c/test
add line into file : basic_rules.conf
Include "./crs-setup.conf"
Include "./rules/*.conf"

run test
./test
    ...
    Rule ID: ./rules/REQUEST-949-BLOCKING-EVALUATION.conf:51--0x1f32530
    Rule ID: ./rules/REQUEST-949-BLOCKING-EVALUATION.conf:132--0x2b41e00
    Rule ID: ./rules/RESPONSE-950-DATA-LEAKAGE

[2020-07-26 10:07] emerzon commented on #2366
@zimmerle : Tested with ModSecurity 2.9.3 - Sorry, fixed this on the description.

[2020-07-27 10:23] wutchzone opened #2373 "nginx worker hangs while logging to the audit log"
Hello,
In our company we use **ModSecurity** in our nginx. We noticed that sometimes **nginx** workers just hangs and do nothing, however when we `strace` the process (or attach the `gdb`), then the worker starts spinning again. This problem happens when we enable audit logging (ex: `SecAuditLog /var/log/modsec_audit.log`), I have traced the issues to the following line https://github.com/SpiderLa

[2020-07-27 12:19] zimmerle commented on #2373
Hi, @wutchzone

That sounds to be a bug. Further investigation is needed. Do you happen to have the audit log in **Serial** or **Parallel** mode?

[2020-07-27 12:25] zimmerle commented on #2364
Hi @mhf-ir,

Given the output of the configure scripts, it is likely that you have both versions installed. In that scenario the build script will pick the distribution one. You may want to force configure to use the version that you have installed by using ```--with-maxmind=/path/to/your/installation```. That will point the build scripts towards the `correct` version.

Make sure that the librarie

[2020-07-27 12:26] zimmerle commented on #2371
That is a duplicate of #2364.

[2020-07-27 12:26] #2371 closed, assigned to zimmerle

[2020-07-27 12:28] zimmerle commented on #2372
Hi, @kaingeyy

Can you provide us the **stack trace** for the error using **gdb**?

[2020-07-27 12:58] wutchzone commented on #2373
We have set it as `SecAuditLogType Serial`.

I will try to create a reproducible example on local machine. For now I am able to reproduce this behavior only in production, where we have multiple CPU cores (40+). I will also experiment with other types of locks.

[2020-07-27 13:08] martinhsv commented on #2373
Hi @wutchzone ,

I'm not certain whether this would help your particular situation, but you might want to consider upgrading your libmodsecurity version to v3.0.4.  There were some fixes post-v3.0.3 that might be relevant.  I'm thinking in particular of:
https://github.com/SpiderLabs/ModSecurity/commit/3d2030426c22c41a85cda92289dc284094fba5fd

[2020-07-27 13:58] kaingeyy commented on #2372
[strace_log.txt](https://github.com/SpiderLabs/ModSecurity/files/4982390/strace_log.txt)
strace -o strace_log ./test

[2020-07-27 14:43] kaingeyy commented on #2372
add line "SecRule id:id:941110"  ...       to  file basic_rules.conf
./test  success , not failed
:(
why ??

[2020-07-27 16:33] zimmerle commented on #2372
@kaingeyy,

It will be interesting to have the gdb stack trace. Do you think you can share it?

[2020-07-27 21:17] martinhsv commented on #2357
Hi @marcstern ,

I'm not sure that what you are seeing is incorrect per se.  When using string content like that, there isn't any way for the software to know that characters in the string are _not_ to be treated as string literals.  I.e. the code needs to make one assumption or the other.

In your case, I assume you are constructing the %{TX.OtherHosts} variable?  In that case, you could perhaps

[2020-07-28 02:04] kaingeyy commented on #2372
Sorry, I am not familiar with gdb debug when I first contacted modsecurity
I see test file is a shell script ?

[2020-07-28 02:08] kaingeyy commented on #2372
29          const char *error = NULL;
(gdb)
34          modsec = msc_init();
(gdb)
36          msc_set_connector_info(modsec, "ModSecurity-test v0.0.1-alpha (Simple " \
(gdb)
34          modsec = msc_init();
(gdb)
36          msc_set_connector_info(modsec, "ModSecurity-test v0.0.1-alpha (Simple " \
(gdb)
39          rules = msc_create_rules_set();
(gdb)
41          ret = msc_rules_add_file(rules,

[2020-07-28 02:23] kaingeyy commented on #2372
comment function msc_rules_dump(rules) , test program success 👍
//msc_rules_dump(rules);

[2020-07-28 14:29] zimmerle commented on #2373
@wutchzone did you had the chance to test v3.0.4?

[2020-07-28 17:57] mrwizard64 commented on #2373
Here's the solution:

I was experiencing the same problem, and it would appear that Atomicorp wrote some 'bad rules' which have caused nginx processes to hang.  If you are running ASL or if you are just using atomicorp's modsecurity package, this is why your nginx processes are getting stuck.  They have pushed out an update, so you will need to update your modsecurity package as soon as possible,

[2020-07-28 23:15] kaingeyy commented on #2372
backtrace:
(gdb) bt
#0  0x00007ffff6db4cb8 in std::basic_string<char, std::char_traits<char>, std::allocator<char> >::basic_string(std::string const&) ()
   from /lib64/libstdc++.so.6
#1  0x00007ffff7aa5975 in operator+<char, std::char_traits<char>, std::allocator<char> > (__rhs=0x7ffff7b66790 ":", __lhs=...,
    this=<optimized out>) at /usr/include/c++/4.8.2/bits/basic_string.h:2405
#2  modsecur

[2020-07-29 08:38] wutchzone commented on #2373
We wil update the library by the end of the week. I will let you know once I will have the results.

Thank you all for quick response and help.

[2020-07-30 03:25] WGH- opened #2376 "Crashes in v3/dev/3.1-experimental branch"
Hello, @zimmerle! I debugged crashes found when testing https://github.com/SpiderLabs/ModSecurity/pull/2374#issuecomment-665990756 a bit.

I found two trivial bugs, here are the patches for them:
[code]

[code]

And not-so-trivial UAFs which I was unable to decipher. "freed by" and "allocated by" look really wrong here.
[code]

I think the problem might be due to incorrect use of smart pointers so

[2020-07-30 13:43] zimmerle commented on #2376
Well noticed. Let me give a little bit of background on that particular change.

The idea is that 3.1 will be able to reload the rules in place, without the server to restart. For that, it was necessary to reduce the memory footprint of the RuleObject and adjacent. At a certain time, rules will be allocated twice in memory: (a) Adress the active requests; (b) Adress the new ones.  That new feature

[2020-07-30 14:27] gitQuestions opened #2377 "How to filter in multipart/form-data"
Hello all,

I am fixing "Comments -wpDiscuz 7.0.0 - 7.0.4 - Unauthenticated Arbitrary File Upload" vulnerability.

Here, an attacker could upload an infected php file in an upload image field. I would like to make a rule which could filter and look for legit files.

But the problem is when I have to look into multipart/form-data parameters (like in the image attach.) where I would like to obtain t

[2020-07-30 15:03] defanator commented on #2186
@AndreMTrindade I see that you had libGeoIP 1.5.0 back then - may I ask you what OS were you using? Was it RHEL/CentOS 7.x?

@zimmerle we've just got a report for the very similar issue, and it seems like the root cause wasn't in the wrong database - I'll submit a PR shortly.

[2020-07-30 15:06] zimmerle commented on #2186
ModSec is confused about the database version? e.g. trying to open version 2 as 1 and/or vice-versa? Looking forward to the PR.

[2020-07-30 15:50] defanator commented on #2186
@zimmerle no, it's not about confusion; perhaps there were some changes within libGeoIP API between 1.5.0 and latest versions (e.g. 1.6.9). I've just submitted #2378 with more info.

(We've been running nginx+modsec+geoip on a number of Ubuntu systems without any issues, but all those systems were with newer libGeoIP.)

[2020-08-02 06:51] albgen commented on #2360
Disabling the modsec module, the memory leakage disappeared and also as mentioned before the ngin -t command is very fast.

Any help please or thoughts?

Thanks

[2020-08-02 07:32] AnoopAlias commented on #2360
From what I have seen, nginx -t or time for restart/reload of Nginx is proportional to the number of virtual hosts you have. In the first setup and second setup , apart from having the config is separate files, could you confirm the number of the virtual hosts ( individual server {} ) are the same?

[2020-08-02 11:53] albgen commented on #2360
There are 16 config file. Each has at least 2 server directives and 2 of the config files has 4 server directive.

[2020-08-03 03:38] AnoopAlias commented on #2360
What I am asking is, in the 2 installations that you mentioned, are the number of server {} directives the same or do they differ?

[2020-08-03 07:02] albgen commented on #2360
Yes, they differ. On the other installation which is acting as reverse proxy, there are only 4 server directives...

[2020-08-03 07:14] AnoopAlias commented on #2360
ok as mentioned the load time is proportional to the number of server{} blocks. If you have like 100 or more it almost makes it impossible to use the modsec module( or other waf)  from what I have seen

In fact, the case is similar with another WAF that I tested too, you can see the details here https://forum.nemesida-security.com/threads/regarding-nwaf-free-module.27/

My guess is that nginx some

[2020-08-03 09:40] albgen commented on #2360
The strange thing is that nobody has encountered this issue. Most probably, people does not use waf and websites on the same nginx instance

[2020-08-03 10:48] wutchzone commented on #2373
@zimmerle Sadly updating the package to the latest version did not help either. Workers are still getting stuck as cen bee see on the image below.

![Screenshot 2020-08-03 at 12 14 52](https://user-images.githubusercontent.com/21202801/89173498-a773b980-d584-11ea-87b5-a8122a15e024.png)

@mrwizard64 I am not aware of that we are using rules from Atomicorp. We are using [this](https://github.com/cor

[2020-08-03 11:07] AnoopAlias commented on #2360
yes, it is strange. Often the server {} blocks are necessary for TLS. I am also wondering how CloudFlare would work with the WAF as they would have millions (or possibly more) of server {} blocks defined or they just have a few vhost with a single multi-domain TLS certificate?

It would be also helpful for someone who knows the Nginx internals to shed light on exactly what's going wrong in loading

[2020-08-03 11:22] albgen commented on #2360
Most probably cloudflare use some kind of containerization where each customer gets its own instance of waf container...who knows

[2020-08-03 11:34] wutchzone commented on #2373
But after the update it stucks less frequent. Once i catch it again I will provide full backtrace.

[2020-08-03 12:25] zimmerle commented on #2373
thank you. The core flie will lead you to the fullbacktrace. It could help a lot

[2020-08-03 15:32] marcstern commented on #2357
Hi @martinhsv
I agree about the assumption (one way or another) but ...
If I want to treat the string as a litteral, I use the operators that are meant for literals (pm, contains, ...). If I want to treat the string as a regex, I use rx. This is simple and covers all use cases.
If rx treats the string as a litteral, I have no option for using a regex with a macro.
Work-arounds like you proposed ar

[2020-08-03 16:05] void-in commented on #2360
Just to chip in with my own config, we have more than 100 vhosts with ModSecurity and it is working fine. The idea is not to load the rules in each server block separately but rather once. Then you can load your own custom rule files only in the server configs.

[2020-08-03 16:40] mrwizard64 commented on #2373
Thanks buddy

On Mon, Aug 3, 2020 at 7:35 AM Daniel Sedlak <notifications@github.com>
wrote:

[2020-08-03 16:48] albgen commented on #2360
Ok but how do you manage the need to enable/disable modsec on a particular vhost?

[2020-08-04 10:07] wutchzone commented on #2373
It looks like it is stuck on another `pthread_mutex_lock()`. I am unable to locate `pthread_mutex_lock` in this function (`modsecurity::utils::find_resource`), maybe something got inlined.

[code]

But this time it happens less often. When we turn off `Audit Log` workers no longer stucks.

[2020-08-04 13:54] mrwizard64 commented on #2373
Any chance that the server demand of actually writing to the audit log is
draining system resources to the point of collapse?

On Tue, Aug 4, 2020 at 6:07 AM Daniel Sedlak <notifications@github.com>
wrote:

[2020-08-04 15:46] martinhsv commented on #2357
Hi @marcstern ,

I agree that there is a limitation inherent to the current assumption that is made.

However, I suspect that there are situations where the opposite assumption would also create an undesired limitation.  While you have been able to utilize 'pm' and 'contains' for cases where you want special characters to be treated as literals, that may not always be true for everyone.  Perhaps a

[2020-08-04 17:11] ricferr commented on #2361
Hello.

I have the exact same problem. Has there been any development on this ?

I'm also using version 3.0.4 with nginx.

Is there some workaround ?

Thanks,
Ricardo Ferreira

[2020-08-04 17:31] MrMorice commented on #2167
Hi Felipe @zimmerle,

do you have any update on when this will be fixed in v3? We would love to introduce ModSecurity but need this to review rules in Setry. Great piece of software!

Best, Moritz

[2020-08-04 20:16] martinhsv commented on #2377
Hi @gitQuestions ,

You don't mention which version of ModSecurity you are using.

In v2.9.x if you want to test filename but only for parts matching a particular name, you should be able to do something like this:
[code]

(Of course, your rule may vary from that depending on the specifics of what you wish to test for.)

While I have only taken an initial look, it unfortunately appears that this m

[2020-08-04 21:43] martinhsv commented on #2377
Update:

I have created a pull request that I believe resolves the v3 issue whereby name and filename are not associated as a key-value pair in the FILES collection:

https://github.com/SpiderLabs/ModSecurity/pull/2379

Note that this change has not yet been reviewed or merged, so please regard the fix as tentative for the time being.

[2020-08-05 00:54] HQuest opened #2380 "ModSecurity processes HTTP/3 as HTTP/1.0"
**Describe the bug**

ModSecurity is processing a HTTP/3 request header as HTTP/1.0

**Logs and dumps**

==> /var/log/nginx/access.log <==
1.1.1.1 - - [04/Aug/2020:20:09:34 -0400] "GET / HTTP/3" 200 157 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_0) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0 Safari/605.1.15"

==> /var/log/modsec_audit.log <==
---EYVYJtD9---A--
[04/Aug/2020:20:09:34 -

[2020-08-05 06:52] marcstern commented on #2357
'SecRegexVariableExpansionEscape' is good for me (even default to off if we want to stay compatible).
Even a configure flag is OK for me.

If you can find a (generic) work-around for this, I would be happy:
SecRule ... "setvar:TX.OtherHosts=%{TX.OtherHosts}|host[.]company1[.]com"
SecRule ... "setvar:TX.OtherHosts=%{TX.OtherHosts}|.*[.]company2[.]com"
SecRule ARGS "@rx https?://(?:localhost|%{TX.Ot

[2020-08-05 18:07] martinhsv commented on #2357
I'll assume that your first two rules are conditional, such that you cannot simply put all of the options into your third rule ...
[code]

One alternative approach that you could consider is to structure your rules the other way around.  First extract the host into a variable:
[code]
And then (ignoring localhost for a moment) have your 1st and 2nd rules run afterwards.

SecRule TX:ExtractedHost "@

[2020-08-06 12:04] wutchzone commented on #2373
draining system resources to the point of collapse?

Not possible. There is over 100 GiB of free RAM, and few TBs of disk space.

[2020-08-06 13:27] martinhsv commented on #2362
Hi @mmojadad ,

There may be a way, in IIS, to use SecRuleRemoveById, to remove a rule from a particular configuration context that maps to only a particular domain, but I'm a little rough on IIS integration.

Another option would be to instead use the action "ctl:ruleRemoveById".  The only tricky part might be to determine what ModSecurity VARIABLE meets your needs for this rule.  SERVER_NAME, or

[2020-08-06 13:28] martinhsv commented on #2367
Hi @mmojadad ,

Can I assume this is a duplicate of #2362 ?

[2020-08-06 16:54] martinhsv commented on #2373
Is it possible to see a full backtrace with symbols (like in your original posting) for this new instance?  The stack of function names with line numbers could be helpful.

[2020-08-07 02:50] zimmerle commented on #2376
The ```dynamic_cast<ActionDisruptive *>(a) != NULL``` issue was already addressed on v3.1-experimental.

[2020-08-07 10:31] marcstern commented on #2357
No way, because the hostnames are added dynamically (for instance when defining a new vhost) and we don't know even their number at configuration time.
Note that, for every work-around you'll find, I'll come back with another unsupported use case ;-)
We need to have some dynamic regexes sometimes ...

[2020-08-07 13:13] martinhsv commented on #2357
Hmm.  Well, I'll leave this open for the time being as an enhancement request.  But without one or more fully defined use cases where the need is clear, I'm not sure how highly it will get prioritized.

[2020-08-07 13:33] amorozkin opened #2381 "memory leak on nginx reload"
**RAM usage constantly grows on _nginx -s reload_**

Having modsecurity rules loaded (even with _modsecurity off_) causes RAM usage to grow with each _nginx -s reload_ and ultimately  leads nginx to stuck with messages like:

**Logs and dumps (/var/log/nginx/error.log)**

Output of:
2020/08/06 20:00:20 [alert] 1962#1962: fork() failed while spawning "worker process" (12: Cannot allocate memory)
20

[2020-08-07 13:50] gaetano23061984 opened #2382 "LOG boundary of response body"
**Describe the bug**

A clear and concise description of what the bug is.

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
 2. AuditLogs
 3. Error logs
 4. If there is a crash, the core dump file.

_Notice:_ Be carefully to not leak any confidential information.

**To Reproduce**

Steps to reproduce the behavior:

A **curl** command line that mimics the original request and reproduces the p

[2020-08-07 13:52] gaetano23061984 commented on #2382
Hi all,
can you help me.

I have the following response
HTTP/1.1 200 OK
Date: Fri, 07 Aug 2020 13:45:07 GMT
Server: Apache/2.4.6 (Red Hat Enterprise Linux) OpenSSL/1.0.2k-fips
Content-Type: multipart/related; type="application/xop+xml"; boundary="uuid:177aabe6-cd2f-421f-a0a7-be233c7832f6"; start="<root.message@cxf.apache.org>"; start-info="text/xml"
Content-Length: 3202
Keep-Alive: timeout=60
Conn

[2020-08-07 13:58] zimmerle commented on #2167
Hey @MrMorice,

thank you!!

Unfortunately, the code is not yet ready. As an alternative, you can try to use: [@InspectFile](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#inspectfile). There is an option to run the operator as a chained rule. Depending on the use case scenario you may be able to accomplish the same functionality.

[2020-08-07 14:07] MrMorice commented on #2167
Hey @zimmerle,

that sounds good, indeed! Thank you very much!

[2020-08-07 15:06] zimmerle commented on #2382
Hi @gaetano23061984,

What kind of logging are you looking for? AuditLogs?

[2020-08-07 15:23] albgen commented on #2381
Same issue here. I have disabled modsec but i doubt this will be fixed...

[2020-08-07 16:48] zimmerle commented on #2381
Hi,

We are working on a lot regarding rules reload at: [v3.1-experimetal](https://github.com/SpiderLabs/ModSecurity/tree/v3/dev/3.1-experimental). Is this issues happens on v3.0.4 or only in v3/master?

[2020-08-07 18:35] gaetano23061984 commented on #2382
Yes. AuditLogs.

Il giorno ven 7 ago 2020 alle 17:06 Felipe Zimmerle <
notifications@github.com> ha scritto:

--
Gaetano L.

[2020-08-08 14:40] marcstern commented on #2357
OK, one full use case:
I'm performing a whitelisting of URL (scheme:fqdn) that can be used inside an ARG.
Some URL are defined statically (no problems), some are dynamic.
Dynamic methods:
1. Grabbing the allowed URL from a header coming from the back-end (we're in proxy mode). In this header, I can have a fqdn, a domain or a complex regex.
2. Allowing all virtual hosts that were created (we regist

[2020-08-10 03:41] chaimsanders-okta commented on #2380
Generally  appending a version to 'HTTP/' isn't the right way to address this, likely we should allow users to pass arbitrary version strings that may not include the term HTTP

[2020-08-10 06:42] marcstern commented on #2357
Another use case: whitelisting of characters in the URL.
We have macros allowing some characters based on the used framework (in some locations). These macros may be used at several places and must be combined to allow all the needed characters.
Example of application profile:
<VirtualHost x>
 Use FrameworkSharepoint
 ...
 <Location y>
  Use AllowCharsInUrl "{}"

The macro FrameworkSharepoint allo

[2020-08-10 08:23] amorozkin commented on #2381
Hi, [ zimmerle]( https://github.com/zimmerle), you are right - can't reproduce this with v3.0.4.

[2020-08-10 14:32] ibsteklodom opened #2383 "How i can send audit logs to remote host. Do you have instructions?"
I need help. I have searched instructions how i can do this, but not success.
For example, i want send log through this setup in modsecurity.conf:
SecAuditLogType HTTPS
SecAuditLog https://192.168.10.176
SecAuditLogFormat JSON
--
What i should setup on remote host for save log data in /var/log/modsecurity.log? (Further, using the plugin in Alienvault OSSIM, I will parse it)

[2020-08-10 15:45] zimmerle commented on #2383
Hi, @ibsteklodom

That depends. I am assuming that you are using ModSecurity version 3 with the Nignx, am I right?

Depending on your "SIEM" utility it already comes with the tools to send the logs to a concentrator. As an example of the [Logstash](https://www.elastic.co/logstash). For Alienvault, ti may be an option to use this [ASM anywhere](https://cybersecurity.att.com/documentation/usm-anywhe

[2020-08-10 17:05] ibsteklodom commented on #2383
@

We using modsecurity 3 and nginx proxy, right.
1) We have Open Source version AlienVault OSSIM. OSSIM includes ossec. Yes, we can install ossec agent on remote host and agent will check log. But ossec server have not rules for modsecurity log.
2) OSSIM have syslog server. But how i can send data in syslog format?
3) At the same time, OSSIM has an already written plugin for parsing the modsecuri

[2020-08-11 15:42] WGH- commented on #2376
Might not be the same crash you mentioned in https://github.com/SpiderLabs/ModSecurity/pull/2374#issuecomment-671348276, but it's likely related.

Commit b32182940d

To reproduce, use this string in `benchmark.cc`:

[code]

[code]

[code]

[2020-08-11 18:49] zimmerle commented on #2376
Perfect! I am going to investigate.

RunTimeStrings are strings that accept variables as macro expansions. Those variables sometimes need to have the knowledge of the Rule that it belongs (XML or RULE). In this case, a new variable instance needs to be created for every rule. That scenario became especially confused when applied to rule merging. I will try to create a new set of tests to stress th

[2020-08-12 13:29] wutchzone commented on #2373
Our nginx is compiled with Lua support, sometimes in GDB it is not possible to see function names in backtrace due to LuaVM. Dunno why, maybe it was somehow stripped or JITed out. I will check it out more.

[2020-08-12 16:21] #2367 closed, assigned to nobody

[2020-08-14 09:25] albgen commented on #2360
i moved the  the directive that loads the rules on the nginx config file (modsecurity_rules_file /etc/nginx/modsec/main.conf;)
On each server directive, than i decide if i have to enable or disable the modsec.
In this way, it is very fast.