[2017-10-30 10:00] slabber commented on #1590
OK, here is a heavily redacted config and it won't work unless you create the certs needed for SSL. I haven't had a chance to check if this specific redacted version crashes or not but read the next comment for my strange findings:

[code]

[2017-10-30 10:04] slabber commented on #1590
So with the above, the lines that seem to cause the segfault are the "if" sections both before and after the inclusion of the modsecurity configs.  i.e.

[code]

and

[code]

If either of these are included then segfault still occurs.  With both removed everything works as expected.  Here is the curl line which is pretty much as you comment above:

[2017-10-30 13:05] zimmerle commented on #1014
Fully implemented as of: 9369efcb90229a8e5a4eb410f7d7db0691c56f62

[2017-10-30 13:05] #1014 closed

[2017-10-30 19:39] victorhora commented on #1602
Hi @5h0ckw4v3

It seems like your issue is not a problem in ModSecurity itself, but rather a false positive with your CRS rules. Please follow the valuable inputs from @asdfuken and @void-in and you might also want to play with the [REQUEST-903.9002-WORDPRESS-EXCLUSION-RULES.conf](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/rules/REQUEST-903.9002-WORDPRESS-EXCLUSION-RULES.

[2017-10-30 19:39] #1602 closed

[2017-10-30 20:29] ceasbz opened #1606 "Release date of v3"
Hello,

Did you have any idea what is the release date of [v3/master](https://github.com/SpiderLabs/ModSecurity/tree/v3/master) version?

At currently status, are recommended to use in production environment?

[2017-10-30 20:37] victorhora commented on #1601
Hi @alaa-ahmed-a

Do notice that CRS rule ID [980130](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/rules/RESPONSE-980-CORRELATION.conf#L66-L73) is related only with correlation so its probably some other rule evaluated prior to 980130 which is probably increasing the score of this rule and maybe leading to a false positive block. Check your audit / debug logs to find out.

[2017-10-30 20:37] #1601 closed

[2017-10-30 20:53] victorhora commented on #1605
Although a given script is being executed make sure your script is:

a) Exiting cleanly
b) The script has the proper permissions (say 655)
c) To be safe, try placing the script on a directory owned by the webserver user.

Also try enabling [full debug log](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#SecDebugLogLevel) to investigate the issue.

[2017-10-30 20:53] #1605 closed

[2017-10-30 21:03] victorhora commented on #1596
Hi @asdfuken

You're more than welcome to submit a pull request for features to get evaluated by the community. Maybe we could think about adding this as a configuration or compile time (ifdef) directive.

But I strongly encourage suggesting/adding new features to libModSecurity as although support for 2.x is still ongoing, 3.x is the main development focus now.

[2017-10-31 11:16] alaa-ahmed-a commented on #1601
i compiled modsec 2.9.2 now and changed the unicode from ASCII to 1256, now all is working fine.
sorry for the inconvenient and thank you for your help.

[2017-10-31 13:32] victorhora commented on #1590
Thanks @slabber

With this configuration file I can confirm the segfault occurring with the Nginx directive below enabled:

<pre>
 # enforce ssl on server side
            if ($pass_access_scheme = http) {
                return 301 https://$best_http_host$request_uri;
            }
</pre>

And a SecRuleUpdateTargetByID rule with any existing ID such as:

<pre>
SecRuleUpdateTargetById 200000 "!ARG

[2017-10-31 20:13] zimmerle commented on #999
As of: 1866a3a9eb59e293b12a5ca37513d3763b8bd5bb @inspectFile is fully workable.

[2017-10-31 20:13] #999 closed

[2017-11-01 08:21] slabber opened #1607 "Implement support for ctl:ruleRemove family of actions in libModSecurity"
I've used these heavily in my 2.x CRS implementation.  With modsecurity and CRS 3.x upgrade I'd like to know whether to port my rules without using these directives or wait for the implementation.

[2017-11-01 12:40] sckuchi commented on #1603
Finally got it to work. Used the following flags while building the ModSecurity module

`  ./configure -prefix=/usr --with-ld-opt="/usr/lib" --with-yajl=/opt/lloyd-yajl-66cb08c/build/yajl-2.1.0/ && make && make install
`

`  export MODSECURITY_INC="/opt/ModSecurity/headers/"`
`export MODSECURITY_LIB="/opt/ModSecurity/src/.libs/"
`

I had to run `ldconfig` before compiling the nginx packages with M

[2017-11-02 16:31] surnamedd opened #1608 "Can i use char as rule id?"
for some reason, i need to use char as rule id like:
id : wwwfoobar12345
so i just modify static char *msre_action_id_validate（） in re_actions.c like this:
static char *msre_action_id_validate(msre_engine *engine, apr_pool_t *mp, msre_action *action) {
    return NULL;
}
it works well for me but i don't know if it would cause other problems

[2017-11-03 13:05] aadlung commented on #1568
@zimmerle can you share your minimal configuration which works with mod_security and nginx, which can easily be tested by testparams or curl?
Even when adding 2xx to the `SecAuditLogRelevantStatus`it does not audit-log in DetectionOnly for me.
My minimal configuration is:
[code]

[2017-11-03 13:21] aadlung commented on #1568
Regarding your information with the `MODSECURITY_DDEBUG` I just see the following if I set the nginx `error_log` mode to debug:

2017/11/03 14:17:30 [info] 13034#13034: *443 [client 188.x.x.x] ModSecurity: Warning. Matched "Operator `Contains' with parameter `test' against variable `ARGS:testparam1' (Value: `test' ) [file "<<reference missing or not informed>>"] [line "4"] [id "1"] [rev ""] [msg "

[2017-11-03 13:42] aadlung commented on #1568
@zimmerle I think I can explain the issue now fairly simple:

I had the modsecurity configuration in the `location /` part of the nginx configuration. As I saw debug log, I thought it's enough there.

But for sure, to catch PHP scripts and so on, I need to have it configured/included in the corresponding PHP-Location-Blocks as well, and all other blocks where I want to activate it.

Not sure why I

[2017-11-03 15:54] intelbg opened #1610 "ClamAV with mod security"
Hello,
I wondered if this is the right place where to ask and I am sorry if it's not. I would like to use clamAV scanning with mod security in nginx and found the following guide:

https://malware.expert/scan-every-file-clam-antivirus-scanner-modsecurity/

Although I receive the following error on the rule:

SecRule FILES_TMPNAMES "@inspectFile /usr/local/bin/runav.pl" \
"phase:2,t:none,block,msg:

[2017-11-03 22:24] victorhora commented on #1608
Well, as far as I know "id" itself is defined as integer in ModSecurity and you might being able to get away with because atoi() is used some times, but I'm not sure as if the string can't be represented after integer conversion it might result in undefined behaviour.

Also, you might have some issues with directives that maybe expects the rule ID on a given format like [SecRuleRemoveById](https:/

[2017-11-03 22:24] #1608 closed

[2017-11-03 22:39] victorhora commented on #1607
@slabber,

Some actions of ctl:ruleRemove are already implemented: [rule_remove_by_id](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/actions/ctl/rule_remove_by_id.cc),
 [rule_remove_target_by_id](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/actions/ctl/rule_remove_target_by_id.cc) and [rule_remove_target_by_tag](https://github.com/SpiderLabs/ModSecurity/blob/v3/maste

[2017-11-03 22:39] #1607 closed

[2017-11-06 02:07] surnamedd commented on #1290
the values in modsecurity.conf is part of the RegEx DoS rule, like:
SecPcreMatchLimit 10000
SecPcreMatchLimitRecursion 10000
SecRule TX:/^MSC_/ "!@streq 0" \
        "id:'200004',phase:2,t:none,deny,msg:'ModSecurity internal error flagged:
%{MATCHED_VAR_NAME}'"

[2017-11-06 12:08] zimmerle commented on #994
Fully supported by bff326e80efd58ba58254f1dd6e4ca9c7d4ba2fb.

[2017-11-06 12:08] #994 closed

[2017-11-06 12:09] zimmerle commented on #1050
Fully supported by cb3363c7d57cc720d26cc3542f54e4a54f88edb7

[2017-11-06 12:09] #1050 closed

[2017-11-06 13:38] zimmerle commented on #1022
As of now, we don't have a proper way to handle the content in a stream manner. It won't be different from use others variables that represents the same data. Therefore I am marking this as won't implement. At least for this next version.

[2017-11-06 13:38] #1022 closed

[2017-11-06 13:39] zimmerle commented on #1021
As of now, we don't have a proper way to handle the content in a stream manner. It won't be different from use others variables that represents the same data. Therefore I am marking this as won't implement. At least for this next version.

[2017-11-06 13:39] #1021 closed

[2017-11-06 13:44] victorhora commented on #1025
This feature is tied to an specific Apache module as such it belongs to the Apache connector and can't be implemented on libModSecurity. Marking as won't implement.

[2017-11-06 13:44] #1025 closed

[2017-11-06 13:49] zimmerle commented on #1606
Hi @ceasbz,

The release candidate one was released recently, it is available here -
https://github.com/SpiderLabs/ModSecurity/releases/tag/v3.0.0-rc1

[2017-11-06 13:49] #1606 closed

[2017-11-06 13:53] zimmerle commented on #1610
Hi @intelbg,

Please check the most recent version of v3/master. The code was recently implemented there.

[2017-11-06 13:53] #1610 closed

[2017-11-06 13:56] zimmerle commented on #1290
Keep in mind that Apache/PCRE will honor the last module that set those limits, as the process share the same configurations.

[2017-11-06 13:56] #1290 closed

[2017-11-06 13:57] #1603 closed

[2017-11-06 17:03] uxbod commented on #1606
Hi was trying with that and asked the question:

" Good day,

Have just downloaded libmodsecurity v3 rc1 from the url [ https://github.com/SpiderLabs/ModSecurity/releases/download/v3.0.0-rc1/modsecurity-v3.0.0-rc1.tar.gz | https://github.com/SpiderLabs/ModSecurity/releases/download/v3.0.0-rc1/modsecurity-v3.0.0-rc1.tar.gz ] but when I run the configure it is reporting:

ModSecurity - v2.9.0-913-ga

[2017-11-07 02:30] zimmerle commented on #1474
SecRuleUpdateTargetByMsg implemented at: 4d7fd5c30a92f6a6e519ef233bb78428f60d8152.
I think it is safe to close this issue.

[2017-11-07 02:30] #1474 closed

[2017-11-07 07:46] intelbg commented on #1610
I did  git clone -b v3/master  https://github.com/SpiderLabs/ModSecurity
and recompiled it again, but still the operator is missing. I a wrong in doing the git clone or I should use the branch v3/dev/inspectFile. Are this branches merged?

[2017-11-07 18:09] zimmerle commented on #1476
Implemented as part of ec667a46099a96f55b30eba4ec1de64c22d8fb6d

[2017-11-07 18:09] #1476 closed

[2017-11-08 09:44] slabber commented on #1590
@victorhora Any update on this?  It's highly blocking for us kubernetes users.  Even perhaps some update as to when you expect this to be fixed would be useful.

Thanks!

[2017-11-08 20:03] zimmerle commented on #1442
Implemented as part of 082a3e328759c0824479c34e1dc0e234686156bb

[2017-11-08 20:03] #1442 closed

[2017-11-08 20:04] zimmerle commented on #1027
Implemented at: 23cf656f931b4ce3b7504157c9be9a0be2df061a

[2017-11-08 20:04] #1027 closed

[2017-11-09 09:14] petermollerud opened #1616 "Nginx w/ModSecurity 3.0 doesn't shut down workerprocesses"
After running Nginx 1.12.1 with ModSecurity 3 for a while, we have noticed that when we issue "service nginx stop" on Redhat EL6 - Nginx is unable to shut down all of its worker processes. They must be killed off separately using "kill". This is kind of annoying and isn't how it should be.

[2017-11-12 13:14] alaa-ahmed-a commented on #1601
hi @victorhora
I'm using modsec version 2.9.2 and the latest unicode mapfile
i found out that i have the same problem as issue 794 as you mentioned.
arabic characters in unicode mapfile are not really arabic, its latin, i found that arabic characters like ع (U+0639) is not in the unicode mapfile at all.
can you briefly tell me how to add it like you did for Russian letters? or its not the solution

[2017-11-13 09:37] mrahmatellah commented on #1073
Hello everyone,

I have deployed a waf on cloud (azure) app gateway waf,

I have a false positive ( CANNOT ADD SCALAR VALUE WITHOUT AN ASSOCIETED KEY)

I don't know why waf detect a request as a bad traffic,
this is the totaly request:
`
POST https://edu-pp.tactileo.fr/profile/internal/permissions HTTP/1.1
cache-control: no-cache
Accept: application/json
Content-Type: application/json
Authorizatio

[2017-11-13 12:05] zimmerle commented on #1576
This is already fixed in v3.0. The solution adopted is different from the ticket #1577. In v3 the json parser understands the array structures into array_n format, where "n" is the position of the element. Also, we moved from string concatenation to a stack structure making the implementation more robust. Fix is still pending for v2.

[2017-11-13 15:39] dune73 commented on #1073
Hello @mrahmatellah, is your FP related to this issue in any way?

[2017-11-13 21:56] victorhora commented on #1073
Hi @mrahmatellah,

The error message you mentioned ["Cannot add scalar value without an associated key"](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/apache2/msc_json.c#L28) usually happens when the JSON parser can't associate a key to a given JSON value as the code normally expects a key/value format (e.g. [profession: "teacher"]) data for JSON and your request only contains the value

[2017-11-13 22:07] mrahmatellah commented on #1073
thank you very much for this answer,

i will open a ne issue (tomorrow i shall see that with our developpers team, if they can't resolve that, i shall open a new issue.

Thank you for your answer again !!

[2017-11-13 22:31] victorhora commented on #1601
Hi @alaa-ahmed-a,

Well that's unfortunate. You mean that the content of [1256 (ANSI - Arabic) ](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/unicode.mapping#L26https://github.com/SpiderLabs/ModSecurity/blob/v2/master/unicode.mapping#L26) on the unicode.mapping file is all incorrect!?

Well there has been some discussion on how to solve these unicode decode issues but we don't have a s

[2017-11-14 05:29] AnoopAlias opened #1617 "configure: error: LUA was explicitly referenced but it was not found"
ModSecurity V3/master branch

I see that lua support is now available. on a centos7 I am getting

[code]
I have the lua rpm's installed
[code]

[2017-11-14 06:32] alaa-ahmed-a commented on #1601
hi @victorhora
yeah the content of 1256 (ANSI - Arabic) on the unicode.mapping file is incorrect. you can check from http://www.utf8-chartable.de/unicode-utf8-table.pl
I just edited it to be like :
1256  (ANSI - Arabic)
0620:41 0621:41 0622:43 0623:45 0624:45 0625:45 0626:45 0627:49 0628:49 0629:4f 062a:55 062b:55 062c:55 062d:46 062e:43 062f:44 0630:45 0631:46 0632:47 0633:48 0634:49 0635:4a 0636

[2017-11-14 09:29] intelbg commented on #1610
Can you please provide me md5 sum of the specific file?

[2017-11-14 12:22] zimmerle commented on #1610
@intelbg make sure you are cloning the repository into an empty directory.

[2017-11-14 13:23] intelbg commented on #1610
@zimmerle I am sure it's cloned in empty directory. Is my command for git clone right?

[2017-11-14 14:36] mrahmatellah opened #1618 "cannot add scalar value without an associeted key"
Hello everyone,

I have deployed a waf on cloud (azure) app gateway waf,

I have a false positive ( CANNOT ADD SCALAR VALUE WITHOUT AN ASSOCIETED KEY)

I don't know why waf detect a request as a bad traffic,
this is the totaly request:
`
POST https://edu-pp.tactileo.fr/profile/internal/permissions HTTP/1.1
cache-control: no-cache
Accept: application/json
Content-Type: application/json
Authorizatio

[2017-11-14 16:08] victorhora commented on #1601
That's for the feedback @alaa-ahmed-a

Well if this solution worked for you, maybe you could help other users that needs at least some Arabic support by submitting a pull request with your changes? :)

[2017-11-14 20:38] victorhora commented on #1618
@mrahmatellah,

So you're not getting a false positive after all? :)

I might be missing something here, but what I could understand now is that you don't have any issue really but you're just trying to figure out (and fix?) why you're getting these messages on your logs?

Maybe it would help if you could provide details on the ModSecurity version, environment, logs etc.

Have you tried what what

[2017-11-14 20:50] victorhora commented on #1610
@intelbg inspecFile support was added at https://github.com/SpiderLabs/ModSecurity/commit/1866a3a9eb59e293b12a5ca37513d3763b8bd5bb. See https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/operators/inspect_file.cc for reference.

"$ git clone -b v3/master https://github.com/SpiderLabs/ModSecurity" should work to clone to a new directory. To update your local repository with the current ma

[2017-11-16 06:24] nobodysz opened #1620 "How to log real-ip when modsecurity deploy with cdn"
Dear ModSecurity-Team~
I deploy modsecurity with nginx,but the source ip at audit log will be cdn's ip,not user real-ip, I don't know how can I log real-ip to audit log.

Real-ip is set at header "remoteip"

[2017-11-16 15:45] victorhora commented on #1620
If the [REMOTE_ADDR](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#REMOTE_ADDR) variable didn't worked for you, you might try checking which header your CDN provides with real client IP. Maybe X-Forwarded-For?

You could do something like storing the value X-Forwarded-For in a variable and then doing matches on this variable for your rules in similar fashion as the CRS does with

[2017-11-16 17:52] zimmerle commented on #1568
please have a look on those two configuration files: [[1](https://gist.github.com/zimmerle/41ccae419386f5164cea95ac7f78e02b)] and [[2](https://gist.github.com/zimmerle/a5574df6a76e8b5a7d625c36225dc9b4)]. As you can see those two configurations differ by the place where the _error_page_ was added. Notice that in [[1](https://gist.github.com/zimmerle/a5574df6a76e8b5a7d625c36225dc9b4)] ModSecurity ru

[2017-11-17 02:52] nobodysz commented on #1620
Hi , @victorhora ~
I set `REQUEST-901-INITIALIZATION.conf` as you said :
[code]

But it still records the proxy IP 100.116.239.107 .
And the request header are:

[code]

[2017-11-20 07:33] alaa-ahmed-a commented on #1601
hi @victorhora
I'm newbie in github so i dont really know how to make a pull request. i tried to make one but it failed in all checks, can you please help ?

[2017-11-20 12:16] #1616 closed

[2017-11-20 12:16] zimmerle commented on #1616
Issue moved to [SpiderLabs/ModSecurity-nginx #73](https://github.com/SpiderLabs/ModSecurity-nginx/issues/73) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-20 12:17] zimmerle commented on #1590
Issue moved to [SpiderLabs/ModSecurity-nginx #74](https://github.com/SpiderLabs/ModSecurity-nginx/issues/74) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-20 12:17] #1590 closed

[2017-11-20 12:17] zimmerle commented on #1519
Issue moved to [SpiderLabs/ModSecurity-nginx #75](https://github.com/SpiderLabs/ModSecurity-nginx/issues/75) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-20 12:17] #1519 closed

[2017-11-20 12:20] zimmerle commented on #1594
Thanks for the detailed report @nobodysz.

Closing this as it it somewhat related to the issue #1519

[2017-11-20 12:20] #1594 closed

[2017-11-20 12:22] zimmerle commented on #1599
Thanks @truman-test . Please followup the discussion in the original issue report.

[2017-11-20 12:22] #1599 closed

[2017-11-20 16:58] ozermetin commented on #1546
This problem persists. We have the same kind of memory leak during reloads. We have an environment for you to replicate the same issue.

[2017-11-20 17:35] luengnat opened #1622 "Compiler error with LUA for libmodsecurity 3.0"
I got this error when including Lua in the compilation:

[code]

Dependencies
[code]

[code]

[2017-11-20 21:44] victorhora commented on #1622
Hi @luengnat,

As of now libModSecurity is fully compatible with Lua 5.3. I'm currently working on a patch to also add support for Lua 5.2 and avoid these errors when Lua <5.2 is used. Unfortunately Lua 5.1 is unsupported for now.

Try upgrading to Lua 5.3 and you should be good.

[2017-11-20 21:44] #1622 closed

[2017-11-20 22:12] victorhora commented on #1601
@alaa-ahmed-a

Actually there's nothing entirely wrong with your pull request. There's only two issues:

a) The Travis checks are known to be failing sometimes do don't worry too much about them

b) Your pull request includes several commits from other users. This probably happened because your local repository was not in sync with the master in Github.

You can try again with this nice tutorial f

[2017-11-20 23:05] luengnat commented on #1622
The documentation said that it should be compatible with 5.1. Sadly, 5.1 is still popular as it is what being distributed with RHEL 7.4. Is there a way to disable LUA if it's already installed?

[2017-11-21 09:13] nobodysz commented on #1620
@zimmerle Excuse me , are there something wrong with my config, or bug?

[2017-11-21 14:18] madmox commented on #1618
Two things to note:
* A naked JSON array is a valid JSON data structure, so the parser should handle it appropriately, to avoid the warning, but more importantly, to be able to analyse the JSON content!
* The warning is just a log pollution. It does not block the request, but makes it very difficult to analyse the logs and identify real blocking issues. Some softwares using ModSecurity provide no

[2017-11-21 16:47] AnoopAlias commented on #1617
Just tested this with the latest v3/master source and looks like its finding lua correctly now but i get compile error
Host : CentOS7 x86_64

[code]

[2017-11-21 16:55] AnoopAlias commented on #1617
Probably this has to do with the Lua version as the standard one in centos7 is 5.1
Ref: https://github.com/jeremyong/Selene/issues/108
So modsec v3 needs Lua 5.2+?

[2017-11-21 18:32] luengnat commented on #1617
It seems to need Lua 5.3. I find this is bad as there are only most of RHEL 7.X repo still have Lua 5.1.4 as the latest. See #1622

[2017-11-22 12:01] AnoopAlias commented on #1617
Is there a way we can probably embed the lua in the libmodsecurity.so ,so we dont have to ship the lua along with the binary instead of lua being a shared library?

[2017-11-23 13:52] intelbg commented on #1568
@zimmerle  I tried to move the error_page inside location / { block, but it does not work to me again. Is there any other dependent thing?

[2017-11-23 19:38] victorhora commented on #1622
Hi @luengnat,

Please do notice that the documentation regarding LUA installation on the manual is referring to ModSecurity 2.x. It has been updated to mention LUA support on libModSecurity.

For now there was make a choice to be made in supporting deprecated LUA 5.1 (latest version release on Feb/2012) or supporting a current version like v5.3 (and now v5.2).

Debian, Ubuntu, Fedora and other maj

[2017-11-23 19:42] victorhora commented on #1617
LUA 5.3 is currently required. A simplified rationale is here: https://github.com/SpiderLabs/ModSecurity/issues/1622#issuecomment-346687983

There's experimental support on LUA 5.2 at #1623.

If you want to manually disable LUA support use ./configure --without-lua or ./configure --with-lua=no

[2017-11-23 19:42] #1617 closed

[2017-11-24 02:21] miguelk5 commented on #934
The problem persist  :
Apache 2.4.29.0
mod_security-2.9.12  (the version that you like )
3:17:52  [Apache] 	Attempting to start Apache app...

BTW the guy maybe is using 2.8 because was required by his apache version ?

Thats why open source , and free software sucks , so i choiced apache instead of iis and i depend of 3º party "modules" from 3º party corporations to have basic security ...

suck

[2017-11-24 13:28] zimmerle commented on #1568
@intelbg please share your new configuration. In our tests we are not able to reproduce it.

[2017-11-24 13:38] zimmerle commented on #1620
Hi @nobodysz,

Where are you getting the ip address from?

[2017-11-24 13:40] zimmerle commented on #1546
Hi @ozermetin,

Thanks for the report. Re-opening this issue.

[2017-11-24 15:58] nobodysz commented on #1620
Hi, @zimmerle ,
The real ip is set to http header `RemoteIp` .(`$http_remoteip` in nginx )
I had try to set
[code]
but it dosen't work.

[2017-11-24 16:53] zimmerle commented on #1606
Hi @uxbod,

It may a different issue. This issue is regarding the release date for ModSecurity. It may be a issue within the library release.

[2017-11-24 16:58] zimmerle commented on #1620
So, How you know that it is not working? Where did you saw the wrong ip address?

[2017-11-24 17:46] nobodysz commented on #1620
Hi @zimmerle  ,
 I saw the wrong ip address in audit_log,

[2017-11-24 18:05] zimmerle commented on #1620
You will have to have a rule that specifically ask to log the ip address. in the example above you have the CRS configured to use, what seems to be, the correct ip address. Most likely the logs from CRS will contain the right ip address. The auditlog entry which says from where a request was established from, is immutable, it will always point to the ip address from your cdn, the real origin of th

[2017-11-24 18:05] #1620 closed

[2017-11-24 22:28] nobodysz commented on #1620
@zimmerle Thanks for your reply , I set real user ip to `Use Client IP from header` at waf-fle sessons , and It meets my needs .

[2017-11-26 08:14] intelbg commented on #1568
In my new tests with the following configuration the logging works, but it's because the custom error page is ignored (can't figure out why) and the nginx default error page is used instead:

location / {
mod security on;
      modsecurity_rules_file /usr/local/nginx/conf/owasp-modsecurity-crs/modsec_includes.conf;
    error_page 403 /403.html;
    location = /403.html {
            root /usr/loca

[2017-11-27 11:56] zimmerle commented on #1568
Hi @intelbg,

I am not sure why the custom error page is not being displayed. The scenario changes if you enable/disable ModSecurity?

[2017-11-30 02:30] nobodysz commented on #1568
Hi ~ @zimmerle @intelbg ,
The problems I found during my use were when I set `crs-setup.conf `
[code]
The custom error page can't be displayed.
But when set
[code]
It works well.

[2017-12-05 15:57] intelbg commented on #1568
@zimmerle  I tested now again and copy new vhost file with mod security enabled. Everything is ok and the custom error_page is displayed. After that I moved error_page in /location, restarted nginx and custom error_page was no more displayed. I then moved back error_page outside location / and custom display appeared again. The problem I think is not in the mod security about this, but this confir

[2017-12-05 16:42] intelbg commented on #1568
I found the right configuration. Please test you too to confirm it :)

       recursive_error_pages on;   ## this is in the server { block!

location / {
	error_page 403 /403.html;

            modsecurity on;
modsecurity_rules_file /usr/local/nginx/conf/owasp-modsecurity-crs/modsec_includes.conf;
}
        location = /403.html {
                internal;
        }

With this the custom error_page

[2017-12-05 16:43] intelbg commented on #1568
The mistake is mine :( The custom error page works, but not and the logging :(

[2017-12-08 08:05] bosungs2y opened #1625 "Nginx libmodsecurity json log bug"
Hi
I am currently managing SecAuditLog from the Client Sever (Nginx+libmodsecurity) to the remote manager server.
However, there are some problems.
When will these features be updated ? (Q1,Q2)

# Info
[code]

# Q1 Nginx libmodsecurity json log bug
[code]

# Q2 Logging to external server without generating Nginx + Modsecurity file
[code]

[2017-12-11 03:02] xjjy1083 opened #1626 "SecMarker+SecRuleUpdateActionById doesn't work as expected"
SecRule TX:/^PM_SQLI_DATA_*/ "\band\b ?(?:\d{1,10}|[\'\"\(][^=]{1,10}[\'\"\)]) ?[=<>]+" \
    "phase:2,capture,t:none,deny,log,auditlog,status:403,msg:'12010',id:'12010070',tag:'1201',logdata:'%{TX.0}',severity:'2',,skipAfter:RULE1"
SecMarker RULE1
SecRuleUpdateActionById 12010070 "pass,auditlog,severity:2,status:403"

trigger 12010070 rule will generate tow logs, one is deny, another is pass.

[2017-12-11 10:24] defanator opened #1627 "libmodsecurity - debug log does not contain timestamps, request IDs, URIs"
According to legacy handbook for modsecurity 2.x, debug log line included some useful data [1]:

In case of libmodsecurity, every debug log line starts from log level digit, there are no timestamps, request IDs, URIs, etc.

It would be great to have all these details for easier debugging.

In case of request ID, it also would be really nice to have an ability to obtain it from the initiating conne

[2017-12-11 16:53] nekromantik opened #1628 "CRS Rules Log Only"
Hi
I am using CRS ruletset version 3.
I also have trustwave rules installed and would like to keep CRS to logging only and trustwave to block.
How can I set CRS to log only and not block while keeping trustwave to block?
Thanks

[2017-12-11 17:38] LeeShan87 commented on #1628
Hi @nekromantik

The only way that I can think of is to change the deny action to pass in the [https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/rules/REQUEST-949-BLOCKING-EVALUATION.conf](url) rules.

[2017-12-11 18:13] zimmerle commented on #1626
Hi @xjjy1083,

Can you give us further details on the version of ModSecurity?

[2017-12-11 18:56] zimmerle commented on #956
Currently all the external resources are mapped based on the configuration file path, and/or executable path. Given the possibility to load the external resources using relative path.

[2017-12-11 18:56] #956 closed

[2017-12-11 20:15] victorhora commented on #1628
The approach suggested by @LeeShan87 of [changing the action](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/rules/REQUEST-949-BLOCKING-EVALUATION.conf#L50) might work indeed, but you would have be careful when updating the CRS as this directive would be replaced to the default value hence why we usually recommend performing changes to [RESPONSE-999-EXCLUSION-RULES-AFTER-CRS.

[2017-12-11 20:15] #1628 closed

[2017-12-12 01:50] xjjy1083 commented on #1626
sorry,true question is how to load rules dynamically in ModSecurity configuration file？

[2017-12-12 02:15] xjjy1083 commented on #1626
The version of ModSecurity is 2.9.0.

[2017-12-12 20:03] mirkodziadzka-avi opened #1629 "ctl:ruleEngine=off does not work in a chained rule as expected"
I'm using nginx + libmodsecurity 3 (to reproduce the setup, see https://github.com/MirkoDziadzka/nginx-modsec-test/releases/tag/modsec-rule-engine-off-problem

I'm using

[code]

with the following ruleset:

[code]
When I issue a request `GET /`, everything works fine. When I issue `GET /?foo=pass`, the request failes with a 403. It worked in 2.9

The following ruleset is working in 3.x

[code]

[2017-12-12 20:16] edgreenberg commented on #918
Hi Zimmerle,  I have this in 2.9.1.

[2017-12-12 21:43] michaelgranzow-avi commented on #1629
[msc.txt](https://github.com/SpiderLabs/ModSecurity/files/1553408/msc.txt)
The default action for a phase is carried out if there is no disruptive action in a rule. The bug is that this even happens for chained rules. Normally this is only inefficient because the parent rule's disruptive action will correct any actions chained rules will have carried out via their phase's default action.
In this c

[2017-12-15 13:43] edgreenberg opened #1630 "./build.sh throws a bunch of git errors"
My run of ./build.sh shows this:

[code]

I imagine the git errors are superfluous, but they are scary.

[2017-12-15 21:52] b-harper opened #1631 "information about upgrading to v3"
Congratulations on 3.0.0!

I am curious about upgrade process from v2 to v3.  The [Migration Matrix][0] has not been updated yet.  Any chance, a v2 configuration would would on v3?

[0]: https://github.com/SpiderLabs/ModSecurity/wiki/ModSecurity-Migration-Matrix

[2017-12-17 20:14] sodd opened #1632 "transformation base64Decode failed"
Hi guys,
i have successfully compile and run make check ModSecurity v3.

[code]
but when i run `tools/rules-check/modsec-rules-check /tmp/rule.conf`
rule.conf:
[code]

I'll get this error:
[code]

I tried to reduce whole rule to something like this, but without success :( :
[code]
[code]
what am I doing wrong ?

[2017-12-18 08:18] minakitty commented on #1566
I had trouble figuring out what you meant here, because I had similar errors under different rule definitions and such.  I found the following code

[code]
inserted into /usr/share/modsecurity-crs/rules/modsecurity_crs_15_customrules.conf (on an Ubuntu 17.10 install) seems to have fixed the problem for me.

Original code came from
https://samhobbs.co.uk/2015/09/example-whitelisting-rules-apache-mo

[2017-12-18 12:44] zimmerle commented on #1632
Hi @sodd,

The parser failed to identify the action: _logdata:%{TX.1}_. This needs to be fixed in the code. In the meanwhile try to use _msg_ instead.

[2017-12-18 12:48] zimmerle commented on #1631
Hi @b-harper,

That depends on your web server. For Apache users our recommendation is not to upgrade yet. Our Apache connector is still under tests. If you are a nginx user, you can proceed with the upgrade. In that case, the rules will be the same. For further information, have a look here: https://github.com/SpiderLabs/ModSecurity-nginx#what-is-the-difference-between-this-project-and-the-old-mo

[2017-12-18 12:48] #1631 closed

[2017-12-18 12:50] zimmerle commented on #1630
Hi @edgreenberg,

Indeed, not cool to have those errors. I will look into it. As a matter of fact you may want to jump straight to ```./configure``` instead of running the ./build.sh. It should be safe.

[2017-12-18 12:52] edgreenberg commented on #1630
On 12/18/2017 07:50 AM, Felipe Zimmerle wrote:

Thanks, Felipe.  I was able to get it to build, but I didn't understand
what I was building, and I have to  wait for the apache connector.  I
was just reporting it.

Thanks for all your hard work.

Ed

[2017-12-18 17:38] sodd commented on #1632
thx for your answer :+1:
I tried your solution and get a rid off the error message but without functional success... i think something is not right with base64Decode transformation...
When i try this rule
[code]
the result is
[code]

[2017-12-19 07:38] prince-java opened #1633 "How to get the version of ModSecurity which has been installed successfully?"
I installed ModSecurity on my server about four years ago,how to get the version I installed?

[2017-12-19 11:40] danielwrayois opened #1634 "modsecurity seg fault caused - OWASP 901 Initialisation"
Hi,

I am seeing a seg fault in Nginx when mod_security v3 is enabled, and the OWASP version 3.0.0  REQUEST-901-INITIALIZATION.conf file is under the rules directory.

This setup has been running for a few months now, however after several penetration test attempts using Burp the system is now having segmentation faults that are causing an empty response to be returned from the server - A restart

[2017-12-19 11:43] defanator commented on #1634
@danielwrayois could you please provide full backtrace from the coredump?

[2017-12-19 12:35] danielwrayois commented on #1634
Hi Defanator,

I do not have the debugging symbols enabled by the looks of it:
[code]
Is there anyway to provide more information without recompiling nginx with the debug symbols enabled?

[2017-12-19 19:57] edgreenberg opened #1635 "collections_remove_stale: Failed deleting collection"
Just installed 2.9.2.  Still getting these:  Message: collections_remove_stale: Failed deleting collection (name "ip", key "x.x.x.x_c4cec15ef22e6f8b45b90bbea4b5e887cb5c72a3"): Internal error
Apache-Error: [file "apache2_util.c"] [line 271] [level 3] [client x.x.x.x]

Centos 7, compiled locally on machine.

[2017-12-20 00:22] #1633 closed

[2017-12-20 13:58] zimmerle commented on #1635
Please check #576

[2017-12-20 13:58] #1635 closed

[2017-12-20 18:05] beeriz opened #1637 "Nginx+Modsecurity+WordPress causing huge delay when saving an article"
Hi!

Beside having to disable RCE and PHP rules on OWASP, I now have to wait 1 minute after saving an article or creating a page, any idea how to whitelist :
https://website.com/wp-admin/post-new.php
https://website.com/wp-admin/post.php

Server CPU hits 100% during the waiting period, its a 16 cores CPU
Thank you for your help

[2017-12-21 21:56] rm3nchaca opened #1638 "different quote characters in JSON logging"
Hi!
I've been testing the JSON output and found that it generates something like Operator `Rx' with parameter....
I suppose it should be 'Rx' instead of  `Rx'

https://github.com/SpiderLabs/ModSecurity/blob/c1cd668acb820824e791ba802396c60900eae9c1/src/rule.cc#L245

Thanks!

[2017-12-25 10:08] defanator commented on #1546
@ozermetin @alexdavydov @AdamJacobMuller there is the PR that addresses some real leaks in nginx connector: https://github.com/SpiderLabs/ModSecurity-nginx/pull/80

Could you please apply the proposed patch and check whether it helps in your cases?

[2017-12-25 10:30] defanator commented on #1634
@danielwrayois if issue can be reproduced in your environment, it would be better if you recompile nginx/libmodsecurity with debug symbols, reproduce an issue, and provide full backtrace.

Also it would help if you try to reproduce an issue with nginx from official packages [1], building modsecurity connector as a dynamic module, excluding all other 3rd-party modules, and having openssl provided b

[2017-12-27 12:41] rvmvsjvm commented on #56
we are using
Nginx version 1.12.2
openssl-1.1.0g
Nginx- Modsecurity 3.0
owasp-modsecurity-crs-3.0-master (Core Rule Set)

we are using nginx and the load average is shooting up more than 1 with 2 cores for 50 domains

[2017-12-27 12:41] rvmvsjvm opened #1641 "nGinx shoots 100% CPU"
we are using
Nginx version 1.12.2
openssl-1.1.0g
Nginx- Modsecurity 3.0
owasp-modsecurity-crs-3.0-master (Core Rule Set)

we are using nginx and the load average is shooting up more than 1 with 2 cores for 50 domains

[2017-12-27 12:42] rvmvsjvm commented on #707
we are using
Nginx version 1.12.2
openssl-1.1.0g
Nginx- Modsecurity 3.0
owasp-modsecurity-crs-3.0-master (Core Rule Set)

we are using nginx and the load average is shooting up more than 1 with 2 cores for 50 domains

[2018-01-01 13:22] Qbone2089 opened #1642 "Modsecurity prevents mediawiki login on ISS10"
I have removed all rules, but I am still not able to login  to my mediawiki installation. No logs are generated.

[2018-01-02 09:22] dune73 commented on #1044
Adding this would be very helpful for me. It's very important in my methodology, even if I am not sure how to display the vars in nginx.

[2018-01-02 13:15] zoltan-fedor commented on #1470
Sorry for commenting on the closed issue, but are there any timelines on this being implemented?
Without this, libModSecurity is pretty much useless in a reverse proxy mode - as you either need to turn off compression both on the backend and the front (which you can't do in production) or turn off response body inspection (which is then a major security risk).

[2018-01-02 21:36] zoltan-fedor opened #1643 "SecResponseBodyAccess Off does not have an effect"
Hey,

We had to turn off SecResponseBodyAccess due to the lack of SecDisableBackendCompression flag in libmodsecurity (and/or NGinx connector) (see https://github.com/SpiderLabs/ModSecurity/issues/1470), but simply setting the SecResponseBodyAccess flag to Off had no effect, we also had to set the SecResponseBodyMimeType to some non-existent type to stop the response body being inspected.

NGinx 1

[2018-01-04 11:49] Piyushgargcse opened #1644 "SecUploadKeepFiles On dropping multipart file request"
When I keep SecUploadKeepFiles On in my ModSecurity configuration all the multipart requests containing file are dropped with status 403.
Here is my configuration
SecUploadDir /tmp/
SecTmpDir /tmp/
SecDataDir /tmp/
SecUploadFileMode 0600
SecUploadKeepFiles On

[2018-01-04 13:25] LeeShan87 opened #1645 "@pmFromFile matches for empty commented line"
Hi,

We experienced a strange bug when testing libmodsecurity with crs.
The Chinese search engine ( spider/4.0(+http://www.sogou.com/docs/help/webmasters.htm#07); ) always got caught by the crs's 913100 rule which looks for suspicious user agent from a file [https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/rules/scanners-user-agents.data](url)

After looking in the the list of

[2018-01-04 15:17] b-harper commented on #1631
Hey @zimmerle,

I am just getting back from sometime off.  Thanks for the information.  I do have a followup question that I can't seem to find the answer.  Is 2.9.2 the last release for the 2.x branch?

[2018-01-06 05:59] Piyushgargcse opened #1646 "@inspectFile example not working"
The example you had defined in your documentation is not working
#!/usr/bin/perl
#
# runav.pl
# Copyright (c) 2004-2011 Trustwave
#
# This script is an interface between ModSecurity and its
# ability to intercept files being uploaded through the
# web server, and ClamAV

$CLAMSCAN = "clamscan";

if ($#ARGV != 0) {
    print "Usage: runav.pl <filename>\n";
    exit;
}

my ($FILE) = shift @ARGV;

$c

[2018-01-08 06:27] tomarsumit opened #1647 "How to use c++ variable in SECRULE"
How to use c++ variable in SECRULE:
string name = "github"
SecRule REQUEST_URI|ARGS|REQUEST_BODY \"log="**name**"\" \"log,id:410000,deny,msg:'Access Denied'\"") <<

[2018-01-08 11:04] void-in commented on #1647
If I understand you correctly, you want to match "name" with the double quotes around. It can be done like:
[code]
This with match if the URI, GET/POST variables or the request body has the string literal:
[code]
in it.

[2018-01-08 11:51] tomarsumit commented on #1647
Hi,
Thank You
I want to use the value of "name" in secrule i.e
**log = github**

[2018-01-08 15:13] void-in commented on #1647
Why can't you create something like:
[code]
This way, any non-spacing value in log will match.

[2018-01-09 05:38] tomarsumit commented on #1647
Thank You Waqas Ali.

[2018-01-09 08:39] dmizyk commented on #1622
My Centos 7 workaround (for people who searched this problem, like me)
install lua 5.3 from IUS repo
[code]
in modsecurity `configure` script add `lua-5.3` to `LUA_POSSIBLE_LIB_NAMES`
`LUA_POSSIBLE_LIB_NAMES="lua lua53 lua5.3 lua52 lua5.2 lua-5.3"`
after that compilation will be fine with Lua enabled

[2018-01-09 20:21] linux4me commented on #1307
On the [Maxmind site](http://dev.maxmind.com/geoip/legacy/geolite/) there is an announcement that says:

Is an update to ModSecurity to use GeoIP2 in the works?

[2018-01-10 08:15] marcstern commented on #725
Patch submitted on https://bz.apache.org/bugzilla/show_bug.cgi?id=61985

[2018-01-11 06:04] feamsr00 opened #1648 "ModSecurity braking cetain (login) requests in DetectionOnly mode"
Hello,

I have found that after installing MS, that several applications will no longer process logins correctly. It *appears* that certain requests have tokens\hashes (e.g. CSRF tokens) stripped out of them (quite undesirable!) This affected several applications across several implementations (PHP, Java, FCGI, ARR, etc).

This behaviour ceased *only* with SecRuleEngine set to Off.

I have no othe

[2018-01-11 14:17] sodd opened #1649 "missing grammar generator"
Hi,
I would like to use base64Decode transformation, but it seems to me its not present in parser.
Does anybody have an idea how can I add this functionality to parser?

[2018-01-11 18:39] JayCase opened #1650 "class modsecurity::Rule destructor should be virtual"
Ref: v3.0.0, modsecurity/rule.h
Rule has virtual methods but non-virtual destructor.

gcc  4.8, for example:
modsecurity/rule.h:45:7: warning: 'class modsecurity::Rule' has virtual functions and accessible non-virtual destructor [-Wnon-virtual-dtor]

modsecurity/rule.h:86:20: warning: deleting object of polymorphic class type 'modsecurity::Rule' which has non-virtual destructor might cause undefin

[2018-01-15 11:17] tomarsumit opened #1653 "How to restrict backward slash in secrule?"

[2018-01-16 10:24] invartam opened #1654 "Cannot recompile parser in v3"
Hello,

I need to force the recompilation of the parser because I have add some features in src/parser/seclang-parser.yy and src/parser/seclang-parser.ll.
But seclang-parser.cc and seclang-parser.hh exists already and when I do a make, they are not regeneratd with my new features.
I tried to do a ./configure --enable-parser-generation (found in configure.ac), but it didn't regenerate the parser.

[2018-01-16 19:48] victorhora commented on #1654
Hi @invartam,

I've been fairly successful in regenerating the parser when I needed to with the --enable-parser-generation flag.

Have you tried maybe doing a quick test with a fresh repo clone from Git and then doing a small change on the parser and then trigger the parser generation?

[2018-01-16 19:53] victorhora commented on #1648
Hi,

That's an interesting behaviour. Which rules / ruleset you have loaded? Which configuration directives you're using?

Also, you're using ModSecurity v3 (libModSecurity) with IIS? Or maybe you have Nginx as reverse proxy to your IIS? Or you're talking about CRS v3?

[2018-01-16 19:55] victorhora commented on #1642
Hi,

Which rules / ruleset you have loaded? Which configuration directives you're using?

Which version of ModSecurity you're using?

Have you checked Windows EventLog for ModSecurity events?

[2018-01-16 19:57] victorhora commented on #1647
Closing this one as the issue seems solved. Thanks @void-in :)

[2018-01-16 19:57] #1647 closed

[2018-01-16 20:23] victorhora commented on #1641
Hi,

Can you confirm if you are using the latest codebase for libModSecurity (i.e. current release)

If yes, check if the issue persists with the current the [v3/dev/performance](https://github.com/SpiderLabs/ModSecurity/tree/v3/dev/performance) branch. This branch has a number of performance improvements which are currently being tested and might help with the issue you're facing.

[2018-01-17 02:19] spartantri opened #1655 "constant segfault with java serialized payload"
Hi,

I'm receiving a segmentation fault every time I send a particular payload to my test system, please take a look, I can provide the coredump and modsec, crs, rules and configuration files if required.

With low PCRE settings (`SecPcreMatchLimit 1000 and SecPcreMatchLimitRecursion 1000`) the error log show this

[code]
With higher PCRE settings (SecPcreMatchLimit 1500000000 and SecPcreMatchLimi

[2018-01-17 04:14] dune73 commented on #1655
Could not reproduce this bug. Tested with ModSec 2.9.2 on Apache 2.4.27.

[2018-01-17 06:45] spartantri commented on #1655
may it be a package issue introduced in Ubuntu 16?
[code]

[2018-01-17 10:56] Hystreal opened #1656 "ModSecurity 2.9.2 on Windows 2012 and IIS 8.5"
Hi !

I installed ModSecurity on my Windows Server 2012.
I added this line in the modsecurity.conf :
SecRule ARGS "@contains test" "id:'1234',deny,status:403,msg:'Our test rule has triggered'"

When i go on http://localhost/?a=test  i get the 403 error as planned.

However, i configured my application by adding this line in my web.config :

ModSecurity enabled="true" configFile="C:\Program Files\M

[2018-01-17 11:11] invartam commented on #1654
I've added a new log writer and a new config value in the parser to handle this new log writer.
Unfortunately when I compile with ./configure --enable-parser-generation, libmodsecurity say that my new keyword doesn't exist and the files seclang-parser.cc and seclang-scanner.cc are the same as before.
So, I think that they are not regenerated.

What do you think ?

[2018-01-17 21:52] victorhora commented on #1656
Based on the information you've provided my guess is that ModSecurity is not configured globally (for all sites) within IIS. Make sure it is either configured globally or it's explicitly enabled for your site (myapp).

The resources below might help you:

* https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#Installation_for_Microsoft_IIS
* https://github.com/SpiderLabs/ModSecurity/wik

[2018-01-17 22:12] victorhora commented on #1655
Hi @spartantri,

Thanks for the comprehensive report :)

So far I had the same results as @dune73 but I'll try to reproduce with a similar environment as yours.

I see that you're running 2.9.0. Could you please test it with ModSecurity 2.9.2 on your environment? Because of the number of fixes between 2.9.0 and 2.9.2 I'm wondering if this issue doesn't happen with a more recent version in the same

[2018-01-18 01:31] zimmerle commented on #1655
That seems to be a version mismatch. @spartantri What do you have in the startup logs regarding dependencies versions?

[2018-01-18 10:31] Hystreal commented on #1656
I followed your link and i think i have correctly installed ModSecurity.... i just did the following step :
- run the ModSecurityIIS_2.9.2-64b.msi provided by the website (https://www.modsecurity.org) with the default options
- add this line in my web.config :
ModSecurity enabled="true" configFile="C:\Program Files\ModSecurity IIS\modsecurity_iis.conf"

The tests described on my previous post show

[2018-01-18 13:14] flynn1973 opened #1657 "AIX - modsecurity-2.9.2 - apache coredump"
httpd-2.4.29
apr: 1.5.2
apr-utils: 1.5.4
Compiler: IBM xlc

export OBJECT_MODE=64
export CC="cc_r"
export CFLAGS="-q64 -qmaxmem=-1 -qstaticinline -qcpluscmt -DNDEBUG -DSYSV -D_AIX -D_AIX64 -D_AIX41 -D_AIX43 -D_AIX51 -D_AIX52 -D_AIX53 -D_AIX61 -D_AIX71 -D_ALL_SOURCE -DFUNCPROTO=15 -O2 -I$TOOLSPATH/include -I/opt/freeware/include"
export CXX="xlC_r"
export CXXFLAGS=$CFLAGS
export LDFLAGS="-L/opt/fre

[2018-01-18 13:33] ITILMaster opened #1658 "ModSecurity 2.8.0 + Apache 2.4 - Phase 3,4 missing with internal redirects"
Hi There!

I don't know it is intentional or it is a bug but if the request path and the response path(internal redirect) doesn't match, the phase 3 and 4 is missing in the process. That means the inspection of response body is not possible.
I'd like to know that is it something that is not possible in this version?

Thanks.

[2018-01-19 16:27] nissel commented on #1641
I've been evaluating libModSecurity can getting poor performance / high cpu load using a build of v3/master and the owasp crs.

Just made a build from v3/dev/performance and it's performing wonderfully.

[2018-01-22 09:56] shunkica commented on #919
I did the steps described by @pkhadka56 but now i get this error - "Failed to access DBM file "/var/log/secdatadir/user": Permission denied"
Should I do "chmod ugo+rw /var/log/secdatadir/user.*" ?

[2018-01-22 17:33] mmfjunior1 opened #1659 "Possibility of changing ids"
Hello everyone!
What are the chances that the ids will change in the next version of rules?
If this is possible, is there any tool to reduce the impact of changing ids?
Thank you.

[2018-01-23 01:29] bosungs2y commented on #1625
@zimmerle
Has the bug been fixed? (Q1 Nginx libmodsecurity json log bug)

[2018-01-23 20:44] victorhora commented on #1659
Hi @mmfjunior1,

This GitHub page is related only with ModSecurity the WAF engine and not rules.

As your question mentions rules and IDs I think it's more related with Core Rule Set (CRS) project so you should direct these questions there: https://github.com/SpiderLabs/owasp-modsecurity-crs

In the meantime have a look at the ID renumbering file that should help with the change of IDs between CRS

[2018-01-23 20:44] #1659 closed

[2018-01-24 11:36] mmfjunior1 commented on #1659
@victorhora Thank you! : D

[2018-01-24 18:58] eduardoocarneiro opened #1660 "Hostname blank in error.log"
Hi everyone!

I have a Nginx 1.13.8 server (as a reverse proxy) with ModSecurity 3.0. It is always showing an empty hostname field in the error.log (hostname "").

[2018-01-25 14:42] disaster123 opened #1661 "mod_security v3 hwo to build for apache?"
I can't find any documentation how to build mod_security v3 for apache. The old --with-apxs= configure option does not exist as well.

Just trying to load the .so does not work as well:
LoadModule security3_module /usr/local/modsecurity/lib/libmodsecurity.so

httpd: Syntax error on line 9 of /usr/local/apache2/conf/httpd.conf: Syntax error on line 1 of /usr/local/apache2/conf/modules-enabled.d/00_

[2018-01-26 05:41] 7ym0n opened #1662 "Invalid action"
use this rule:

SecRule ARGS "@eq test" \
    "log,\
    block,\
    t:none,\
    msg:'',\
    severity:'EMERGENCY',\
    ver:'OWASP_CRS/3.0.0',\
    maturity:'0',\
    accuracy:'0',\
    phase:1,\
    id:100000,\
    tag:'attack-disclosure'"

Problems loading the rules --Rules error. File: conf/test_rules/test.conf. Line: 4. Column: 9. Invalid action:  msg:'',\

Why?

msg: 'test' is work.

[2018-01-26 09:56] vaLski opened #1663 "Huge memory consumption and slow nginx configtest/start/restart with ModSecurity v3 and ModSecurity-nginx"
Hellow everybody.

I am trying to make modsecurity 3 + modsecurity-nginx connector working on my setup with ~2000 vhosts and ~3000+ rules.

Compilation configuration etc. are all fine **but** when I try to run nginx **configtest**/**start**/**restart** it it is taking ages (5,8,10 **minutes**) for each of the operations to complete.

Also during the configtest and after the restart nginx is consum

[2018-01-26 12:36] eduardoocarneiro opened #1664 "Hostname blank in error.log"
Hi everyone!

I have a Nginx 1.13.8 server (as a reverse proxy) with ModSecurity 3.0. It is always showing an empty hostname field in the error.log (hostname "").

[2018-01-26 12:36] eduardoocarneiro opened #1665 "Hostname blank in error.log"
Hi everyone!

I have a Nginx 1.13.8 server (as a reverse proxy) with ModSecurity 3.0. It is always showing an empty hostname field in the error.log (hostname "").

[2018-01-26 12:37] #1665 closed

[2018-01-26 12:38] eduardoocarneiro opened #1666 "Hostname blank in error.log"
Hi everyone!

I have a Nginx 1.13.8 server (as a reverse proxy) with ModSecurity 3.0. It is always showing an empty hostname field in the error.log (hostname "").

[2018-01-26 12:38] #1666 closed

[2018-01-26 12:38] #1664 closed

[2018-01-26 17:59] victorhora commented on #1662
Hi @7ym0n,

The [msg](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#msg) action expects some string to be associated with the rule. An empty msg action will result in a parsing error on libModSecurity.

[2018-01-26 17:59] #1662 closed

[2018-01-28 18:45] Stono commented on #1641
I've just been seeing this too, 100% cpu usage when enabling CRS on nginx for a single request!  Do we know when/if the fixes in v3/dev/performance will make it into master @victorhora  ?

[2018-01-29 23:07] ivanbaldo opened #1668 "ModSecurity v3 configure says LUA disabled but its not true"
We have to explicitly run ./configure --without-lua otherwise it says that it disabled it but make fails trying to compile the LUA parts...
So it lies (heh)!!!

[2018-01-30 00:57] xtronaltic opened #1669 "Nice work guys"
Nice work guys

[2018-01-30 00:57] #1669 closed

[2018-01-30 16:58] ivanbaldo opened #1670 "PATCH: ModSecurity v3 with --disable-shared fails to compile examples and causes Nginx building failure"
Hello.
./configure --disable-shared doesn't work when linking the examples, so I had to add --disable-examples too.
But then, trying to rebuild Nginx with the Nginx Connector also fails in the linking fase.
Maybe it is related, maybe not...
Thanks!!!

[2018-01-30 18:38] lexvisio commented on #1661
It seems the correct module is mod_security3.so, which was not installed when I ran make install from my download of ModSecurity-apache-master yesterday (make install installed nothing).

I had to copy mod_security3.so from ModSecurity-apache-master/src/.libs/mod_security3.so to my apache modules directory. I made the same assumption about libmodsecurity.so, which is how I ended up here.

Given th

[2018-01-31 06:14] victorhora commented on #1668
There's already a proposed fix at #1639. It will be merged into master soon, but you can apply the patch already to your build.

Thanks for your report!

[2018-01-31 06:14] #1668 closed

[2018-02-01 02:06] feamsr00 commented on #1648
Hi!
I'm using ModSecurity as a module in IIS. While it does act as a proxy for some sites. this behaviour was observed in proxied and unproxied sites.

Considering I haven't customised the rule set. Is it ok to upload here?

[2018-02-01 22:22] HOSTED-POWER commented on #1139
I should be supported? But how to configure redis as backend? :)

[2018-02-01 22:44] HOSTED-POWER commented on #1141
Any update on how to configure it?

[2018-02-02 10:55] gago08 commented on #959
Hello  I tried to upload base64 images with php post and in safari i keep getting a lost connection response, i have also discovered that if i turn mod security off, everything work just fine, do you know if there is some detail i have to add to my code to let me upload the base64 images with out turning mod security off

Thank you!!

[2018-02-02 21:39] ivanbaldo commented on #1670
This patch fixes not only the examples when using --disable-shared, but anything that you compile against the resulting libmodsecurity (like for example Nginx with the static libmodsecurity).
Sorry but I am too lazy to create a fork and pull request for such a small change.
Thanks a lot!

`diff --git a/configure.ac b/configure.ac
index 88c9220..17da624 100644
--- a/configure.ac
+++ b/configure.ac

[2018-02-02 23:59] monkburger opened #1671 "Mod Security slows down Apache if SecHashKey isn't set"
While investigating a performance drop (10<->20% post meltdown) we noticed this line of code:

`if (dcfg->crypto_key == NOT_SET_P) dcfg->crypto_key = getkey(dcfg->mp);
`
Which calls getkey(), which then does this:
[code]

It's calling apr_generate_random_bytes() 2 times, which with APR 1.5 (an all other versions of APR) reads /dev/urandom - This seems to be read 2x for each connection to Apache.

[2018-02-05 12:52] vaLski commented on #1546
Considering the fact that this issue appears only during reload and having in mind  that the initial reporter @AdamJacobMuller is having 3k+ rules this might be a duplicate  of an issue I also reported in https://github.com/SpiderLabs/ModSecurity/issues/1663 and tracked down. Please check if it is ok after applying https://github.com/SpiderLabs/ModSecurity/pull/1667/files

[2018-02-05 14:41] ivanbaldo commented on #1670
Correction: that patch doesn't correct ModSecurity-nginx connector compilation.
In my case, I have to add all the libraries:
[code]
The correct way is to use pkg-config I think, storing the libraries needed by the compiled libmodsecurity and then using pkg-config in the connectors and anyone willing to compile and link against libmodsecurity.
Thanks for looking into this.

[2018-02-06 09:29] ITILMaster commented on #1658
Hi Again,

I'm still wondering whether it is possible to check the response body while using pretty urls or mod_rewrite.

Thanks for any help.

[2018-02-07 12:10] edieship commented on #1641
I'm getting the following error with the build from v3/dev/performance branch on centos 7:

nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /usr/local/owasp-modsecurity-crs/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf. Line: 169. Column: 390. Invalid variable:  MULTIPART_SEMICOLON_MISSING},\ in /etc/nginx/conf.d/default.conf:9
nginx: configuration file /etc/nginx/nginx.conf tes

[2018-02-07 12:15] defanator commented on #1641
@edieship take a look on this one: https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/995

You should apply the patch from that PR to your CRS.

[2018-02-07 12:45] edieship commented on #1641
@defanator Thanks!

[2018-02-07 22:41] joseErico opened #1672 "Error 500 Instead Error 403 Test Rule - Nginx 1.13.8/ModSecurity V 3.0"
**Teste Rule in "main.conf":**
`SecRule ARGS:testparam "@contains test" "id:1234,deny,log,status:403"`

**Error on modsec_audit.log:**
`---zHezM71N---H--
ModSecurity: Access denied with code 500 (phase 1). Matched "Operator `Contains' with parameter `test' against variable `ARGS:testparam' (Value: `thisisatestofmodsecurity' ) [file  "/etc/nginx/modsec/main.conf"] [line "202"] [id "1234"] [rev ""]

[2018-02-08 03:02] joseErico commented on #1672
**Solved by adding the following line to the vhost file:**
`recursive_error_pages off;`

However it still does not show the custom error pages.

[2018-02-08 18:14] Stono commented on #1641
Hey @edieship you might be interested in https://github.com/kubernetes/ingress-nginx/pull/1996 - basically we had this problem on the ingress nginx.

I found a specific version of modsecurity + owasp CRS that worked (check the changed files)

[2018-02-09 05:51] edieship commented on #1641
@Stono , thanks a lot, that works.

[2018-02-09 10:36] umarfarook882 opened #1673 "Makefile (CURL_VERSION) Error"
Hi @zimmerle @victorhora, Makefile Error While installing the ModSecurity 2.9.2 (stable) with option
``--with-curl=/usr/bin/curl``

**Makefile Error**
![makefile-error](https://user-images.githubusercontent.com/22318677/36023246-cdee9956-0db1-11e8-9042-07e68f8f79f6.png)

**Makefile Error Reason**
![makefile-error-reason](https://user-images.githubusercontent.com/22318677/36023466-95394a24-0db2-11e

[2018-02-09 15:29] StefaanSeys opened #1674 "ipMatchFromFile gives error "Failed to open file" even when file exists"
Hi,

When using this rule, nginx does not start and gives me the following error: "Failed to open file userdata_wl_IPs".

[code]
The userdata_wl_IPS does exist in the same folder as the "rules.conf" file that refers to it. I also tried to copy the userdata file to some other folders higher up (e.g., in the folder of the main .conf file that in turn refers to rules.conf) - but always the same issue

[2018-02-10 03:37] felipee07 commented on #1644
I am experiencing almost the same problem, but I getting 400 Bad Gateway. I found something interesting, modsecurity is not accepting SecUploadDir and try to write on root / and fails (permission error), if I change user to root it will work.

SecUploadKeepFiles On
SecUploadDir /tmp/

Branch v3/master
Debian 9

[2018-02-10 18:40] felipee07 commented on #1661
You will need compile ModSecurity V3 first and then compile
https://github.com/SpiderLabs/ModSecurity-apache for the connector.

[2018-02-11 20:00] victorhora commented on #1673
Hi @umarfarook882,

Thanks for the report :)

Notice that this behaviour is expected as the "--with-curl" option is intended for the path where either the [curl-config](https://curl.haxx.se/libcurl/using/curl-config.html) script is located or the path where your installation of libcurl is located, and not for the actual cURL binary (/usr/bin/curl).

So if you do ``--with-curl=/usr/bin/curl-config`

[2018-02-11 20:00] #1673 closed

[2018-02-11 21:40] felipee07 commented on #1637
Enable debug mode and examine which rule is slowing down and disable with SecRuleRemoveById ou creating custom SecRule.

[2018-02-12 05:42] victorhora commented on #1632
There were a few missing statements in the parser. #1675 should fix it.

Let us know if there's any issue.

Thanks!

[2018-02-12 05:42] #1632 closed

[2018-02-12 05:45] victorhora commented on #1654
Hi @invartam,

I've just submitted PR #1675 to fix a small issue with the parser. The PR is similar to #1433. I've used ``--enable-parser-generation`` again it still works fine.

Notice that when adding config values to the parser they are usually added on both _seclang-parser.cc_ and _seclang_scanner.ll_ and then ``--enable-parser-generation`` merge the configuration values correctly into all the

[2018-02-12 05:45] #1654 closed

[2018-02-12 13:04] slabber commented on #1139
I also need this feature.  Therefore I have offered a $250 bounty on [bountysource](https://www.bountysource.com/issues/33929909-implement-redis-support-as-collection-backend-on-libmodsecurity) to have this implemented.

[2018-02-13 08:06] shmobasheri opened #1676 "ModSecurity V3 Log Collector"
Is there any log collector for modsec v3??!

[2018-02-15 03:52] victorhora commented on #1676
Hi @shmobasheri,

libModSecurity already have native support for saving logs in JSON format using the [SecAuditLogFormat](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#SecAuditLogFormat) directive.

Also an HTTPS transport is available for the [SecAuditLogType](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#SecAuditLogType) which allows sending the logs directly

[2018-02-15 03:52] #1676 closed

[2018-02-15 04:18] victorhora commented on #1653
Can you provide more details on exactly what you're trying to do and on which version of ModSecurity?

[2018-02-15 04:31] victorhora commented on #1649
Please see #1675

[2018-02-15 04:32] #1649 closed

[2018-02-15 14:34] felipee07 commented on #1644
multipart.cc isn't working properly. Someone can help me with it ?

This line line is not getting the value of SecUploadDir for some reason. btw none of m_transaction->m_rules is working.

path = m_transaction->m_rules->m_uploadDirectory.m_value;

[2018-02-20 14:32] drmuey commented on #1671
`if (dcfg->crypto_key == NOT_SET_P) dcfg->crypto_key = getkey(dcfg->mp);` seems to happen even when `SecHashEngine` is off, so could be as simple as factoring that into the `if`

[2018-02-21 10:37] potnii opened #1679 "ModSecurity fails in Ubuntu 16.04"
`apachectl -M | grep --color security` gives
`ModSecurity: Failed to open the audit log file: /var/log/apache2/modsec_audit.log` .

`sudo ls -l  /var/log/apache2/modsec_audit.log`
`-rw-r----- 1 root root 13371 Feb 21 12:08 /var/log/apache2/modsec_audit.log`

**I tried to change rights and ownership to this file, but problem doesn't disappear.**

And at the same time modsec_audit.log contains
`Mess

[2018-02-21 11:29] arash-rais opened #1680 "line 6690: syntax error near unexpected token `dlopen'"
Hi i got this error when running ./configure file whats the problem?

    checking for a BSD-compatible install... /usr/bin/install -c
    checking whether build environment is sane... yes
    checking for a thread-safe mkdir -p... /bin/mkdir -p
    checking for gawk... no
    checking for mawk... mawk
    checking whether make sets $(MAKE)... yes
    checking whether make supports nested variable

[2018-02-21 14:17] felipee07 commented on #1679
delete /var/log/apache2/modsec_audit.log, restart apache2 and see what happens.  Is apache2 running as www-data ?

[2018-02-21 14:19] felipee07 commented on #1680
apt-get install pkg-config

[2018-02-21 20:02] victorhora commented on #1680
Indeed @felipee07.
I believe the package is also called pkg-config on RPM based distros so something like "yum install pkg-config" will also work if that's the case.

Also you might want to make sure you have "build-essentials", "autoconf", "automake" etc installed prior to building.

Lastly, you might need to do some "clean up" on your local clone before trying to compile again as you might need

[2018-02-21 20:02] #1680 closed

[2018-02-21 20:10] victorhora commented on #1679
@felipee07 is correct.

@potnii, also, make sure to also check the permissions of the /var/log/apache2 folder itself to see if it allows file creation on this folder.

Also, check that [SecAuditLogType](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#SecAuditLogType) is set to Serial. If you set to Concurrent you might need to created the directory for saving concurrent logs yourse

[2018-02-21 20:10] #1679 closed

[2018-02-21 20:19] potnii commented on #1679
@felipee07 New file was created after deleting old one.
`-rw-r----- 1 root root 0 Feb 21 21:48 /var/log/apache2/modsec_audit.log`

`ps aux | egrep '(apache|httpd)`
`root     30975  0.0  3.3 420952 33640 ?        Ss   21:48   0:00 /usr/sbin/apache2 -k start
www-data 30978  0.1  4.2 502396 43284 ?        S    21:48   0:02 /usr/sbin/apache2 -k start
www-data 30979  0.2  4.2 502420 43080 ?        S

[2018-02-21 21:24] felipee07 commented on #1679
@potnii
Did you set SecUploadKeepFiles to **On**?
Theses folders are writable by www-data ? SecTmpDir SecDataDir SecUploadDir
Is AppArmor enabled ?

Also try, it will be very helpful.
SecDebugLog /tmp/debug.log
SecDebugLogLevel 9

[2018-02-21 21:53] potnii commented on #1679
@felipee07 Thank you so much, you really helped me.
Setting ownership to www-data:www-data and file permissions from 600 to 660 solved my problem.

[2018-02-22 08:30] HugoSoszynski commented on #1139
Hi,

The VultureProject team (https://vultureproject.org/) is currently developing this feature for ModSecurity v3.
We are working to make it available for everyone as soon as possible.

Regards,

**Hugo SOSZYNSKI**
**Vulture Team**

[2018-02-22 11:00] gquintard opened #1681 "build/compile shouldn't be tracked by git"
Unless I missed something?

[2018-02-22 18:01] zimmerle commented on #1670
Hi @ivanbaldo,

As of 0461c1c0652a2b389165da917b1fd45f75b572c3, disable shared is working as expected. The output of the compilation is a .la file. Examples are no longer broken.

[2018-02-22 18:01] #1670 closed

[2018-02-22 18:04] zimmerle commented on #1658
Hi @ITILMaster,

We are going to need further details on yours environment and rules.

[2018-02-22 18:07] #1672 closed

[2018-02-22 18:08] #1641 closed

[2018-02-22 22:17] swdee opened #1682 "Upgrading from v3.0.0-rc1 to v3.0.0 cause major slow down in Nginx and 100% CPU"
We have been running v3.0.0-rc1 for a several months successfully.  Today we upgraded to v3.0.0 and upon installation it makes Nginx become rather slow and unresponsive.

Under "rc1"  requesting a small CSS file loads in milliseconds, but when switching out to v3.0.0 Nginx takes around 20 seconds to serve this file.  CPU usage for the Nginx process jumps to 100%, but under "rc1" it is 1.3% CPU.

N

[2018-02-22 22:25] swdee commented on #1682
Is the a regression in v3.0.0 as this closed ticket #1641 suggests 100% CPU issues that are fixed in master and look to be targeted for a v3.0.1 release?

[2018-02-23 00:29] zimmerle commented on #1674
Fixed as of: e3b6b4ccff5b4388bde4485049af382a21d4cbb8

[2018-02-23 00:29] #1674 closed

[2018-02-23 00:29] zimmerle commented on #1674
thanks for the report

[2018-02-23 00:30] #1661 closed

[2018-02-23 00:34] zimmerle commented on #1637
What is your ModSecurity version?

[2018-02-23 14:17] zimmerle commented on #1653
Closing the issue due to the lack of details.

[2018-02-23 14:17] #1653 closed

[2018-02-23 16:58] zimmerle commented on #1644
Hi @Piyushgargcse,

**SecUploadDir** as long as **SecUploadKeepFiles** seems to be working fine. Normally this happens when your ModSecurity is configured to block requests bigger than a certain threshold, configured by: [SecUploadFileLimit](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#secuploadfilelimit), [SecRequestBodyLimit](https://github.com/SpiderLabs/ModSecurity/wiki/Refe

[2018-02-23 16:58] #1644 closed

[2018-02-23 17:17] zimmerle commented on #1139
@HugoSoszynski if you need to discuss any aspect of the implementation, I will be glad to help.

[2018-02-23 17:21] zimmerle commented on #1681
Hi,

**build/compile** is not part of our repo.

[code]

[2018-02-23 17:21] #1681 closed

[2018-02-23 17:42] gquintard commented on #1681
Hum, it is on v2/master. Thanks for having a look.

[2018-02-23 19:42] felipee07 commented on #1644
@zimmerle SecUploadKeepFiles still not working. SecUploadDir is /tmp but modsecurity try to create temporary on "/".

I have made my own fix .

[code]

to

`to->m_uploadDirectory.m_value = "/nginxtmp/uploads";`

Log file:

[9] Multipart: Boundary: ------------------------f89b5c18dcf5148f
[9] Multipart: Added part header "Content-Disposition" "form-data; name="action"".
[9] Multipart: Content-Dispo

[2018-02-23 19:53] zimmerle commented on #1682
Please upgrade to the most recent version on v3/master. This fix will be in v3.0.1

[2018-02-23 19:53] #1682 closed

[2018-02-23 19:57] zimmerle commented on #1681
Indeed we do have it on 2.x family due to historical reasons. Moving forward to this huge upgrade (v3) we got it fixed.

[2018-02-23 19:59] zimmerle commented on #1644
Do you mind to share your nginx config on gist?

[2018-02-23 20:11] felipee07 commented on #1644
https://gist.githubusercontent.com/felipee07/b8ebacc76e40b96a08bfa7e50d946960/raw/44d25ef4d9f9957818c521c9264c939ddc15e392/gistfile1.txt

[2018-02-23 21:11] HenryOrh commented on #1167
I was just wondering if there were any news on this.

Despite the wording of the Reference Manual, I have likewise noted that, when using @pmFromFile, an entry of 'aaa' in the file will not match 'aaabbb' in input.

Indeed, CRS3.0 seems to assume that phrases in a file will be subject to exact match rather than substring.  For example, REQUEST-933-APPLICATION-ATTACK-PHP.conf uses php-function-name

[2018-02-23 21:58] felipee07 commented on #1644
Debian 9 DigitalOcean droplet, compiled with :
https://www.nginx.com/blog/compiling-and-installing-modsecurity-for-open-source-nginx/

[2018-02-23 22:40] victorhora commented on #1655
Closing this one. Let us know if the issue also happens on 2.9.2. Thanks.

[2018-02-23 22:40] #1655 closed

[2018-02-24 06:38] arash-rais commented on #1680
Hi
I follow these steps but still error is here

    checking for a BSD-compatible install... /usr/bin/install -c
    checking whether build environment is sane... yes
    checking for a thread-safe mkdir -p... /bin/mkdir -p
    checking for gawk... no
    checking for mawk... mawk
    checking whether make sets $(MAKE)... yes
    checking whether make supports nested variables... yes
    checking

[2018-02-24 22:43] felipee07 commented on #1680
Delete repo and start over. Did you install pkg-config ? dpkg -l pkg-config

/.build.sh
./configure
make
make install

[2018-02-25 06:18] arash-rais commented on #1680
Thanks it works, my file build.sh had problem while executing.

[2018-02-26 14:43] ASchwad opened #1684 "No mod_security2.so created after installation"
Hey there,

i tried to install ModSecurity to my CentOS7 Apache following the instructions in the compilation recipes from elialum (#1039).
The libraries got installed successfully but the module mod_security2.so has not been installed in the httpd/modules... Libraries have been installed in: /usr/local/modsecurity/lib

previously i installed modSecurity via yum without any issues, but i wanted to

[2018-02-26 20:48] felipee07 commented on #1684
@ASchwad

This guide was design for LibModSecurity v3. If you want version v2 you could just apt-get install libapache2-mod-security2.

[2018-02-26 21:41] brettallred opened #1685 "Compilation Issue - Ubuntu 16.04"
**Steps to Reproduce**
1. Spin up a fresh Ubuntu 16.04 instance on Digital Ocean (or some other provider)
2. Update system
[code]
3. Install Pre Requisite dependencies
[code]

4. Download and Build ModSecurity V3
[code]

5. Error

[code]

This appears to be an issue referencing libxml2 but that dependency is installed.

[2018-02-26 21:45] modsupport opened #1686 "modesecurity 2.9.1 - Apache core dump"
Hi Team,

We are using modsecurity version 2.9.1 with Apache version httpd-2.2.15-60

Apache config
==========
# /etc/httpd/conf/httpd.conf
LoadModule security2_module modules/mod_security2.so

Receiving below error message while starting the Apache service

# /etc/init./httpd start

Starting httpd: /bin/bash: line 1:   989 Illegal instruction     /usr/sbin/httpd

Mod sec Config
===========
# /etc

[2018-02-26 22:58] victorhora commented on #1686
Can you provide more information on this error? Which distro are you using?

I'm aware that some old distros (e.g. RHEL 6) ships Apache 2.2.x without apr_crypto support which is mandatory for the SecRemoteRules functionality. This could lead to the issue you are experiencing.

Maybe you can try upgrading to Apache 2.4 and / or ModSec 2.9.2.

[2018-02-27 00:44] modsupport commented on #1686
SecRemoteRules was working fine for RHEL 6.5, we upgraded it to RHEL 6.8 and it was also working fine. But after some weeks, we received below error message while starting the service on same server.

#/etc/init./httpd start
Starting httpd: /bin/bash: line 1: 989 Illegal instruction   Ccore dumped) /usr/sbin/httpd

Recently, we got the new license key to download the rules but still same above pro

[2018-02-27 09:52] petarkozic commented on #1685
Same problem !

[2018-02-27 11:10] GainfulShrimp opened #1687 "Failed to open file: scanners-user-agents.data"
I thought this was probably an issue with the rules, as my new ModSecurity v3 installation (with nginx connector) seems to work with an example test rule.  This rule works fine on its own, and the expected 403 response is returned:

[code]

But I'm now thinking this is a ModSecurity issue, as CRS v3.0.2 (which I'm using) is a couple of months old, but I can't find any reports of the error that I'm

[2018-02-27 12:48] zimmerle commented on #1680
@felipee07  meant:

./build.sh

[2018-02-27 12:54] zimmerle commented on #1684
Hi @ASchwad,

Currently we support two different major versions of ModSecurity: Family 3.x and 2.x; We recommend the version 2 to our Apache users:
https://github.com/SpiderLabs/ModSecurity/releases/tag/v2.9.2

[2018-02-27 12:54] #1684 closed

[2018-02-27 12:57] zimmerle commented on #1686
Hi @modsupport,

Is your ModSec custom compiled? if so, did you happens to compile it again after the upgrade?

[2018-02-27 12:59] zimmerle commented on #1685
Hi @brettallred and @petarkozic,

Working in the fix at this very moment.

[2018-02-27 13:01] zimmerle commented on #1687
Hi @GainfulShrimp,

Working on it.

[2018-02-27 13:05] zimmerle commented on #1687
This is actually a duplicate of #1674. It is already fixed in the main line.

[2018-02-27 13:05] #1687 closed

[2018-02-27 13:35] NisariAIT opened #1688 "Uploads of a particular format not allowed in Mod security with Nginx"
I am using modsecurity with nginx(v1.13.6) on ubuntu 16.04. When I try to upload a jpeg image via an API to my web server, I get the following error in the modsecurity error log.

ModSecurity: Multipart parsing error: Multipart: Invalid Content-Disposition header (-12): form-data; name="file1"; filename="aaa.jpeg"". [hostname ""] [uri "/api/upload"] [unique_id "AcAcCcAcAcVKAcAjAczcmlAc"]
2018/02/2

[2018-02-27 13:44] csanders-git commented on #1688
Yes it is. To clarify this is not a problem with owssp  rules but rather the rule suggested in modsec.conf.reccomended. which are sane defaults provided by modsecurity. Since it is in a file that won't be clobbered by updates it's fine to change this file.

You could make this a chained rule such that it only matches if it doesn't meet a regex (free handing the following on mobile but you should g

[2018-02-27 13:52] #1688 closed

[2018-02-27 14:12] NisariAIT commented on #1688
Thanks for the clarification. I am new to modsecurity. So, where should I add the Rule to check the request_uri? I added it to the file at /usr/local/nginx/conf/modsecurity.conf. This is the modified rule. But, I get syntax errors when I restart nginx. How should the syntax be and is this the correct place that the chained rule should be added?
SecRule REQBODY_ERROR "!@eq 0" chain  request_uri "!@

[2018-02-27 15:02] makitos666 opened #1689 "Make MD5 or SHA from file upload"
I'm trying to get all the files that are uploaded to my apache server saved in a log.

So far, with the basic configuration. I have the name of the file, its weight and other information.

Can you also save a file Hash in those logs?

Thank you!

[2018-02-27 15:40] GainfulShrimp commented on #1687
OK thanks. I thought my copy of ModSecurity v3 was newer than the commit that's referenced, but I might be wrong; I'll fetch a fresh ModSecurity clone from v3/master and recompile, then try again.

Do I need to also recompile nginx with ModSecurity-nginx connector, or will restarting nginx be sufficient to pick up the new ModSecurity?

[2018-02-27 16:26] zimmerle commented on #1687
only libModSecurity should be enough.

[2018-02-27 16:27] zimmerle commented on #1689
do you want to have the hash in the error_log?

[2018-02-27 16:40] makitos666 commented on #1689
While every time a file is sent, the hash appears, I do not care in which log file is stored

[2018-02-27 16:43] zimmerle commented on #1689
This may be helpful for you:

[code]

[2018-02-27 16:43] #1689 closed

[2018-02-27 16:47] zimmerle commented on #1685
Fixed by: 854a661a2a86357326b5c6be9799e9ab943b61e3

[2018-02-27 16:47] #1685 closed

[2018-02-27 17:03] makitos666 commented on #1689
I suppose we are close, but in the error.log the hash does not appear

SecUploadDir /tmp
SecUploadKeepFiles On
SecRule FILES_TMP_CONTENT "." "id:1,phase:3,t:none,t:sha1,t:hexEncode"

error.log:
[Tue Feb 27 09:00:19.278339 2018] [:error] [pid 1181] [client 192.168.86.1] ModSecurity: Warning. Pattern match "." at FILES_TMP_CONTENT:uploaded. [file "/etc/modsecurity/modsecurity.conf"] [line "160"] [id

[2018-02-27 17:18] drmuey commented on #1671
In our benchmarks setting the `SecHashKey` in config is slightly faster, but FWiW, here is the patch we tested with that only sets `SecHashKey` if `SecHashEngine` was on:

w/ -w:

[code]

Full:

[code]

HTH

[2018-02-27 17:47] GainfulShrimp commented on #1687
Thanks again @zimmerle.  It worked a treat this time! :)

Just added my first exception: telegraf, running on my monitoring server (which regularly requests the nginx status stub page, to parse into influxdb) was triggering warnings every 10 seconds in the modsec_audit.log.  Now fixed.

[2018-02-27 18:04] zimmerle commented on #1687
good to hear ;)

[2018-02-27 18:22] victorhora commented on #1689
@makitos666  Have you tried looking in the [audit_log](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#SecAuditLog) or [debug_log](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#SecDebugLog)?

[2018-02-27 18:32] victorhora commented on #1671
Hi @monkburger

Interesting... do you mind submitting a pull request with your patch to trigger our buildbots on testing this until we have some more time to throughly look at it? :)

Thanks!

[2018-02-27 19:06] modsupport commented on #1686
yes. but if you start the service (without enabling license key), it shows modsecurity 2.9.1 is configured and already mod_security2.so is present /etc/httpd/modules -> ../../usr/lib64/httpd/modules and it's enabled in http.conf file

LoadModule security2_module modules/mod_security2.so

#tail -f error_log
[notice] suEXEC mechanism enabled (wrapper: /usr/sbin/suexec)
[notice] ModSecurity for Apach

[2018-02-27 19:07] victorhora commented on #652
Documentation for [MULTIPART_UNMATCHED_BOUNDARY](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#MULTIPART_UNMATCHED_BOUNDARY) which is checked by that rule currently states the following:

"Change the rule from blocking to logging-only if many false positives are encountered."

Also, the check with MULTIPART_UNMATCHED_BOUNDARY variable used to have ID 200003. The current version o

[2018-02-27 19:07] #652 closed

[2018-02-27 19:20] drmuey commented on #1671
Howdy, @victorhora pull request #1690 has the patch you asked for. thanks

[2018-02-27 19:51] victorhora commented on #1686
If you try to recompile again, does your configure script outputs something similar to this:

<pre>
checking for libcurl config script... /usr/bin/curl-config
checking if libcurl is at least v... yes, 7.47.0
checking if libcurl is linked with gnutls... no
configure: using curl v7.47.0
configure: looking for Apache module support via DSO through APXS
configure: found apxs at /usr/bin/apxs2
configur

[2018-02-27 21:22] modsupport commented on #1686
Please see the compile logs for v.2.9.1

# ./configure --prefix=/root/tmp/
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... /bin/mkdir -p
checking for gawk... gawk
checking whether make sets $(MAKE)... yes
checking whether make supports nested variables... yes
checking for style of include used by

[2018-02-27 23:39] modsupport commented on #1686
I complied modsecurity version 2.9.2 and tried to start the service by enabling licence key but it gives similar error message.

# modsecurity.conf
SecRemoteRules  <KEY> https://dashboard.modsecurity.org/rules/download/plain

# http.conf
LoadModule security2_module modules/mod_security2.so

#  /etc/init.d/httpd restart
Stopping httpd:                                            [  OK  ]
Starting ht

[2018-02-28 03:45] victorhora commented on #1686
<pre>
configure: WARNING: APR util was not compiled with crypto support. SecRemoteRule will not support the parameter 'crypto'
</pre>

This output from your configure script tells that apr crypto is not supported on your setup. But thinking again, if you're not using the parameter "crypto" on your SecRemoteRules it shouldn't lead to a crash.

Please check if debug logs from ModSecurity and Apache

[2018-02-28 17:46] zimmerle commented on #1638
That is actually by design. To be clear to the user that the string should be sanitized before saved.

[2018-02-28 17:46] #1638 closed

[2018-02-28 17:51] zimmerle commented on #1634
As it was not replicated by us, I am afraid we need to closed this until we hear from @danielwrayois.

[2018-02-28 17:51] #1634 closed

[2018-02-28 17:56] zimmerle commented on #1625
@bosungs2y you can use the https logging method to delivery the logs straight to your end server.

https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/audit_log/writer/https.cc

[2018-02-28 17:56] #1625 closed

[2018-02-28 17:57] zimmerle commented on #1139
@HugoSoszynski  any position so far?

[2018-02-28 18:02] zimmerle commented on #1627
@defanator ModSecurity handbook is not an official guide to ModSecurity. Specially not for v3.

[2018-02-28 20:47] felipee07 commented on #1644
@zimmerle Do you have any updates ?

[2018-02-28 22:52] zimmerle commented on #1644
it seems like you have shared yours modsec configuration, the recipe for nginx compilation but not yours nginx conf. Do you mind to share it?

[2018-03-01 02:24] felipee07 commented on #1644
nginx.conf
https://gist.github.com/felipee07/a92ad3e59ef835c05d7d16d2a147603e

mysite.conf
https://gist.github.com/felipee07/d35ab4693330c401945372f36061841b

[2018-03-01 13:10] zimmerle commented on #1646
Hi @Piyushgargcse what leads to believe that this is not working?

[2018-03-01 13:32] HugoSoszynski commented on #1139
Hi,

@zimmerle You can check the work done so far here : https://github.com/VultureProject/ModSecurity/tree/remotes/trunk/src/collection/backend .

A summary of the features and the design informations is available in my last commit (https://github.com/VultureProject/ModSecurity/commit/71ba1d041e10c508dc47a471f76185d2295d90da).

I am currently testing the internal methods such as querying and fail

[2018-03-01 13:38] zimmerle commented on #1139
good news! :) i will be looking in to it.

[2018-03-01 14:56] zimmerle commented on #1650
Fixed. Thanks.

[2018-03-01 14:56] #1650 closed

[2018-03-01 16:47] zimmerle commented on #1644
According to your configuration ModSecurity was off. Is that right?

[2018-03-01 21:24] felipee07 commented on #1644
@zimmerle  Indeed, but this is for others reasons.

[2018-03-02 01:44] okazakov commented on #1648
Hi there,

I'm observing the same behavior.

I run an ASP.NER MVC website in IIS on Win Server 2012.
Straight vanilla install of 2.9.2 ModSecurity without even adding CRS v3, - only what comes out of box with ModSecurity.

Same as feamsr00, I set:
SecRuleEngine DetectionOnly

Simple get requests render pages fine, but any POST'ing ends up with an error along the lines of:

========================

[2018-03-02 18:16] victorhora commented on #1194
Closing this one because of lack of feedback from reporter. Assuming issue is solved, if not please let us know and we will reopen it.

[2018-03-02 18:16] #1194 closed

[2018-03-03 15:17] le0li9ht commented on #1661
After moving the module to /etc/httpd/modules location its giving the following error.

[root@-103 modules]# httpd -t
AH00526: Syntax error on line 95 of /etc/httpd/modsecurity.d/owasp-modsecurity-crs/crs-setup.conf:
Invalid command 'SecDefaultAction', perhaps misspelled or defined by a module not included in the server configuration

[2018-03-03 15:23] le0li9ht opened #1692 "Unable to work with ModSecurity V3 in Centos7"
Hi,

I'm using the centos7 httpd 2.4.29 version with php7.0 installed. I installed ModSecurity V3 from source. Then I tried to install the Modsecurity-apache connector but i failed to do so using make and make install commands. But the compilation generated `security3_module.so` file which I have moved to

After enabling the module
[code]

But then I'm getting the following error.
[code]

[2018-03-04 21:36] bill-goadvntr opened #1693 "internal compiler error Makefile:1803: recipe for target 'parser/libmodsecurity_la-seclang-parser.lo' failed"
I am trying to compile ModSecurity V3 on Debian 9 with NGINX 1.13.9.
I am following the steps in this article: https://www.nginx.com/blog/compiling-and-installing-modsecurity-for-open-source-nginx/
it fails on the make command.
here is the dump from running the command sudo make:
Making all in others
make[1]: Entering directory '/etc/ModSecurity/others'
depbase=`echo libinjection/src/libinjection_

[2018-03-05 14:33] merdang opened #1695 "missing rule_message structure for c api"
how i can use rule_message structure in c, there is rule_message class for c++, but no eligibility for use it in c code. @zimmerle

[2018-03-05 20:36] zimmerle commented on #1661
@le0li9ht v3 works differently on Apache, ModSecurity rules should be placed into a `modsecurity_rules` block like the following:

[code]

[2018-03-05 20:42] zimmerle commented on #1693
Hi @bill-goadvntr,

It seems like you dont have enogth memory in your virtual machine, to proceed with the compilation. Can you double check that?

[2018-03-05 20:42] #1693 closed

[2018-03-05 20:45] zimmerle commented on #1692
@le0li9ht v3 works differently on Apache, ModSecurity rules should be placed into a `modsecurity_rules` block like the following:

[code]

[2018-03-05 20:45] #1692 closed

[2018-03-05 20:53] bill-goadvntr commented on #1693
A little over a week ago I built on a similar vm (these are in the google
cloud on f1 micro vm's) and it built just fine.

On Mon, Mar 5, 2018 at 2:42 PM, Felipe Zimmerle <notifications@github.com>
wrote:

--
Bill Soranno
Development Lead/DBA
Bill@GoAdvntr.com

[2018-03-05 21:27] csanders-git commented on #1307
Thanks @linux4me. This came up in the CRS meeting. Starting January 2nd without support in libmodsec for GeoIP2, the geoLookup operator will not work on any version of ModSecurity. Ideally CRS would like 2 months to issue a minor release that indicates that the feature is broken on ModSecv2 and only supported on ModSecv3.

This would put this request on the modsec team to have this available befor

[2018-03-05 21:39] zimmerle commented on #1693
I am not sure why. My educated guess was based on the fact that the compilation broken during a memory exhaustive process. Perhaps you may want to enable a swap file and give it another shot.

https://geekbacon.com/2015/03/04/how-to-create-a-swap-file-on-google-compute-engine-virtual-machines/

[2018-03-05 21:44] zimmerle commented on #1695
Indeed @merdang. The Rule message is only available for the C++ API. C api most rely on the simple log message. Are you working in a opensource project?

[2018-03-05 21:44] #1695 closed

[2018-03-05 21:44] bill-goadvntr commented on #1693
Thanks for the link.

On Mon, Mar 5, 2018 at 3:40 PM, Felipe Zimmerle <notifications@github.com>
wrote:

--
Bill Soranno
Development Lead/DBA
Bill@GoAdvntr.com

[2018-03-07 04:37] merdang commented on #1695
no, I'm just testing callback function in C. I saw your Apache and nginx connectors' code, and realized that you use just simple const char* to log in callback function. In your test cases with c there is no callback function test :) thanks for your reply :)

[2018-03-07 23:08] brianp9906 opened #1697 "nginx segfault in libmodsecurity.so.3.0.0"
When attempting to remove a false positive from CRS Rules, Nginx stops responding and generates segmentation faults with libmodsecurity.

file: RESPONSE-999-EXCLUSION-RULES-AFTER-CRS.conf
add: SecRuleUpdateTargetById 941120 "!REQUEST_HEADERS:Referer"

systemctl reload nginx

Check /var/log/messages:

`kernel: nginx[58950]: segfault at 28 ip 00007f59e985af4a sp 00007ffd0657cd80 error 4 in libmodsec

[2018-03-08 04:03] brianp9906 commented on #1697
Nope. Just nginx official repo for easy yum installation. Then used the libmodsecurity compile recipe for CentOS 7. I’m using CRS 3.1 and simply putting an exclusion in the file I mentioned.

[2018-03-08 08:41] HugoSoszynski commented on #1139
Hi,

@zimmerle
In my quest to replicate the actual behavior of Collections with REDIS I'm having some trouble:
 - Is there any documentation about the exact detailed behavior of the Collection methods ?
 - As REDIS does not authorize multiple identical keys, I found a workaround using LIST object. However, it is pretty hard to emulate the behavior of an std::unordered_multimap or LMDB; must the RE

[2018-03-08 10:23] michaelgranzow-avi opened #1698 "ModSec v3 verifyCC operator doesn't capture"
According to the reference manual (https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#verifycc) explanation of operator verifyCC: "This operator supports the "capture" action."

However, the code in VerifyCC::evaluate() never stores the matched variables in the TX collection, whether or not "capture" is in the action list of the rule.

[2018-03-08 11:31] zimmerle commented on #1697
Hi @brianp9906,

Can you share the output of `nginx -V` on gists?

[2018-03-08 11:53] zimmerle commented on #1139
Hi @HugoSoszynski,

- There is no documentation about it :(
- There is the need to have a middle ware, converting the ModSecurity data into Redis and vice-versa. A good way to test if it is working is by running the regression tests.

[2018-03-08 15:32] nekromantik opened #1699 "LibModSecurity + Nginx + ClamAV"
Hi all
Using latest version of ModSecuity and nginx connector.
However even in debug level 9 it still wont show me what issue is.

I have a rule below:
`SecRule FILES_TMPNAMES "@inspectFile /usr/local/nginx/sbin/test.lua" "phase:2,t:none,log,deny,msg:'Malicous File Attachment Identified.',id:99999"`

And in modsec settings I have enabled secresponsebody and following:
`SecTmpSaveUploadedFiles On

[2018-03-08 17:06] zimmerle commented on #1699
Hi @nekromantik,

According to your debuglog, the rule id 99999 is pointing towards: `/usr/local/nginx/sbin/runav.pl` not yours Lua script. As highlighted here:

[code]

[2018-03-08 22:58] brianp9906 commented on #1697
Sure.  Nothing special here. Just used Nginx centos7 repo:
[nginx]
name=nginx_repo
baseurl=http://nginx.org/packages/mainline/centos/7/$basearch/
gpgcheck=0
enabled=1

nginx -V output:

nginx version: nginx/1.13.9
built by gcc 4.8.5 20150623 (Red Hat 4.8.5-16) (GCC)
built with OpenSSL 1.0.2k-fips  26 Jan 2017
TLS SNI support enabled
configure arguments: --prefix=/etc/nginx --sbin-path=/usr/sbin/ng

[2018-03-09 09:21] nekromantik commented on #1699
@zimmerle Sorry forgot to get correct logging but we get the same exact returned 0 with no additional errors or messages. I can get you correct log but it wont show you anything different which is what is throwing me off. Do you want the correct log?

[2018-03-09 09:40] nekromantik opened #1700 "libmodsecurity + nginx + inspectfile clamav"
Hi all
Using latest version of ModSecuity and nginx connector.
However even in debug level 9 it still wont show me what issue is.

I have a rule below:
SecRule FILES_TMPNAMES "@inspectFile /usr/local/nginx/sbin/clam.lua" "phase:2,t:none,log,deny,msg:'Malicous File Attachment Identified.',id:99999"

And in modsec settings I have enabled secresponsebody and following:
SecTmpSaveUploadedFiles On SecU

[2018-03-09 16:00] zimmerle commented on #1698
Fixed at: 70ace0faa4fe274eafbeb06465e89c2ab459e553. Thanks

[2018-03-09 16:00] #1698 closed

[2018-03-10 05:09] monkburger opened #1703 "Mod Security compiled with D_FORTIFY_SOURCE=2 results in crashes with lua scripts"
When trying to use custom LUA scripts for parsing POST/upload requests and Mod Security was compiled with D_FORTIFY_SOURCE=2, this results in the following:

This happens on GCC 4.8.5, 4.9x (any builds) on CentOS7.

Enabling some debugging (compiling modsec with symbols et al) reveals the following:

[code]
We're using the following lua script for testing against WordPress (WP is in Russian)
[code

[2018-03-11 17:28] stevepaul-alonso opened #1704 "REQUEST-920-PROTOCOL-ENFORCEMENT : Expecting a variable, got: : MULTIPART_SEMICOLON_MISSING"
owasp-modsecurity-crs-3.0.2/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf. Line: 169. Column: 390. Expecting a variable, got:  :  MULTIPART_SEMICOLON_MISSING

Got this error message when reloading nginx with modsecurity3.
nginx version - 1.13.9

[2018-03-11 17:50] csanders-git commented on #1704
See the following ticket https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1021

[2018-03-12 10:53] SteffenAL commented on #1542
Asked Apache dev for help:

http://apache-http-server.18135.x6.nabble.com/mod-security-Chrash-in-2-9-2-libapr1-dll-tt5042135.html

[2018-03-12 16:46] victorhora commented on #1704
This a known issue @stevepaul-alonso. Follow @csanders-git comment and also see #1701 if you need more information.

[2018-03-12 16:47] #1704 closed

[2018-03-12 16:48] stevepaul-alonso commented on #1704
I got it fixed. Thank you very much.

On Mar 12, 2018 12:47 PM, "Victor Hora" <notifications@github.com> wrote:

[2018-03-12 22:22] victorhora commented on #1700
Duplicate with #1699.

[2018-03-12 22:22] #1700 closed

[2018-03-12 22:24] victorhora commented on #1699
@nekromantik even though the issue was closed you can still interact with it. Please share the correct logs so we can confirm if there's an issue.

Reopening for now.

[2018-03-13 11:28] SteffenAL commented on #1542
Running now with the  fix http://svn.apache.org/viewvc?view=revision&sortby=date&revision=1826556

Looks like this solves the issue.

[2018-03-13 16:16] nekromantik commented on #1699
@victorhora
Here is debug log:
https://pastebin.com/5GW0La0W

and here is the lua script which I have renamed to clam.lua

https://gist.github.com/angeloxx/97714f9108b3642460564acdcd37b34a

[2018-03-13 17:30] luizbiazus opened #1705 "SecCollectionTimeout is not yet supported."
i'm getting this error when i've tried to install, modsecurity in a ubuntu 16.04 with nginx:

crs-setup.conf. Line: 126. Column: 146. SecCollectionTimeout is not yet supported.

[2018-03-13 19:10] victorhora commented on #1699
@nekromantik I could run Lua scripts with the latest codebase of libModSecurity and Nginx connector. This is what I see on the debug logs:

[code]

I ran the following Lua script:

[code]

Against the following rule:

[code]

You may also want to try running the Lua script with the [SecRuleScript](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#SecRuleScript) directive. If Lua supp

[2018-03-13 19:10] #1699 closed

[2018-03-13 22:52] luizbiazus commented on #1705
Thank u very much Victor.

Friend let me abuse of ur patience a littlebit more.

There is any problem in the parser without the Seccollectiontimeout?

[2018-03-13 22:59] azmankudus opened #1706 "Cross compile error using MINGW in Windows 7 64-bit"
Hi, I got error while running ./configure. "Unknown CANONICAL_HOST x86_64-w64-mingw32". Below are the output for MINGW64
[code]

[2018-03-14 00:11] csanders-git commented on #1705
It can lead to large internal databases if there is not a default already hard coded, haven't followed libmodsec enough to know for sure. @victorhora can probably shed some light on it.

[2018-03-14 02:56] BAOLONGtrann opened #1707 "The number of mlogc processes does not equal to its configuration"
Dear,
When using mlogc, I found this isssue:
- In file mlog.conf, I configured maximum_connections as 10 (I expected the number of mlogc processes is not over 10)
- However, when I run mlogc with httpd+modsec, I found that the total mlogc processes is 123

What is wrong with config maximum_connections? And how can I control the number of mlogc processes?

[2018-03-14 10:25] nekromantik commented on #1699
@victorhora I can run lua scripts on the command line without ModSec. We are using clam 5.3 on centos

[2018-03-14 15:11] victorhora commented on #1699
@nekromantik have you ensured that LUA support is enabled on your ModSecurity by following/confirming the steps described?

I suggest you make sure you can run a simple LUA script from ModSecurity first to then try running your LUA script that calls ClamAV.

[2018-03-14 18:58] victorhora commented on #1706
@azmankudus this error seems to happen due to the [configure script](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/configure.ac#L131-L188) not being able to identify your host as a compatible one for the ModSecurity build.

You can try adjusting the configure.ac file to treat your host as Linux in a similar fashion as being done in the case statements for "kFreeBSD" and "HURD".

[2018-03-14 20:03] victorhora commented on #1707
@BAOLONGtrann I couldn't reproduce this issue. As soon as you launch httpd you see a spike in mlogc PIDs?

Could you share your mlogc.conf configuration and mlogc-error.log?

[2018-03-15 03:48] BAOLONGtrann commented on #1707
I've reprocedured this issue as following:
- Step1: restart apache (with graceful)
- Step2: Count mlogc processes by command "ps -ef|grep mlogc|wc -l". It give the result 58 processes of mlogc:
[root@localhost mlogc]# ps -ef|grep mlogc|wc -l
58
[root@localhost mlogc]# ps -ef|grep mlogc
root     43888 12509  0 10:34 ?        00:00:00 /usr/local/bin/mlogc /etc/mlogc.conf
root     43889 12509  0 10:3

[2018-03-15 03:49] BAOLONGtrann commented on #1707
My mlogc config as following:
# How many concurrent connections to the server
# are we allowed to open at the same time? Log collector uses
# multiple connections in order to speed up audit log transfer.
# This is especially needed when the communication takes place
# over a slow link (e.g. not over a LAN).
MaxConnections      10

# How many requests a worker will process before recycling itself.

[2018-03-15 03:56] BAOLONGtrann commented on #1707
PS: I also logging to error log to debug the number of current_workers when creating and deleting a thread. It give the result current_workers less than 10. I don't understand. If current_thread is less than 10, why the number pid of mlogc processes is much more than 10. My mlogc-error-log as following:

[Thu Mar 15 10:38:09 2018] [1] [43990/0] Delete worker with current_workers=6, max_connections

[2018-03-15 09:27] SteffenAL commented on #1542
Still fine, no crashes anymore.

I am oh so happy that the crashes are gone. It was holding a lot to use mod_security. I think the fix is also a benefit for other modules.

Cheers,

Steffen
www.apachelounge.com

I think you can close.

[2018-03-15 18:48] #1542 closed

[2018-03-15 19:21] victorhora commented on #1468
@ossie-git, I'm not sure if using m.log() is the best approach for "normal" logging. It might trigger debug messages and may be the reason why you're seeing "Apache-Error" messages when running Lua scripts.

Maybe you want to give it a try with a something like: ```return "Script execution finished";``` as per the Lua script examples on the [reference manual](https://github.com/SpiderLabs/ModSecur

[2018-03-15 19:55] ossie-git commented on #1468
Thanks Victor.  You were right on that using a different log level eliminated some of the Apache-Error lines but not all of them.  I removed all rules and just had the following rule:

[code]

which now looks like this:

[code]

I would then get:

[code]

So it removed the following two lines but kept one:

[code]

But even if I disable the Lua rule entirely and just have a single rule that is not

[2018-03-15 22:53] victorhora commented on #1468
@ossie-git Maybe your disruptive action leading to a 5xx HTTP error? Try changing the status to a "403" and see if it makes a difference.

[2018-03-15 23:06] ossie-git commented on #1468
Tried it with 403 but it is still the same.  The lua rule also triggers one even when it has no associated disruptive action as well

[2018-03-16 09:44] bryn1u opened #1708 "make: "/rootModSecurity/Makefile" line 3101: Missing dependency operator"
Hello guys,

Im trying to install ModSec but im getting error at the beginnig process some issue.
I did:

What am i doing wrong ?
Thank you.

[2018-03-16 14:49] victorhora commented on #1708
It seems like you're either missing some dependencies (e.g. automake / autoconf) or the build / configure script failed to run successfully.

Try following the compilation recipes here: https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes

[2018-03-16 14:49] #1708 closed

[2018-03-16 15:19] victorhora commented on #1468
Hi @ossie-git,

I was reviewing the code and specs I remembered that the "Apache-Error" message on the auditlogs is actually normal behaviour.

If you look at [msc_logging.c ](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/apache2/msc_logging.c#L1977) you can see that the Apache-Error header is always added as part of Audit Log every time a log entry is sent to Apache error_log.

This is

[2018-03-16 15:21] #1706 closed

[2018-03-16 16:03] victorhora commented on #1707
@BAOLONGtrann Which version of ModSecurity / MlogC you're running?

[2018-03-16 17:13] luizbiazus commented on #1705
Perfect, Thank you very much for u guys!

[2018-03-16 17:18] luizbiazus opened #1709 "Simple Base64 Post Forbidden"
The rules are catching simple base64 uploads, it's not suppose to work without whitelist rules?

[code]

[2018-03-16 21:03] victorhora commented on #1709
@luizbiazus, it seems like your issue is not related with ModSecurity itself, but rather with the [Core Rule Set](https://github.com/SpiderLabs/owasp-modsecurity-crs) (CRS).

Bear in mind that generic WAF rules are not fail safe. Your mileage will vary and you can have a few false positives with web applications at first, hence why it's recommended to first run your WAF in DetectionOnly mode to fi

[2018-03-16 21:03] #1709 closed

[2018-03-16 23:14] ossie-git commented on #1468
Great.  Thank you for the clarification.

[2018-03-18 21:53] binaryanomaly opened #1710 "Best practices to reduce ModSecurity 3.0 Library size"
Hi,

I have added ModSecurity 3.0 to nginx according to this guide https://www.nginx.com/blog/compiling-and-installing-modsecurity-for-open-source-nginx/ which worked fine so far.
I use a docker multi-stage build to separate build overhead from the final container image to keep the final container size small and portable. Still ModSecurity makes the container size growing by magnitudes.
/usr/local

[2018-03-18 22:02] csanders-git commented on #1710
You can always base it on a smaller distro like scratch. If you share your Dockerfile, we'd be more than willing to use it as a base on our dockerhub and allow the community to try and drive down the size.

[2018-03-18 22:25] binaryanomaly commented on #1710
I use debian:stretch-slim which is pretty small and definitely not the cause here. I was around 75MB with the final container before adding ModSecurity and am now around 430 MB.

I can share my docker image tomorrow - have to clean it up a bit first as it's totally work in progress right now.

[2018-03-18 23:13] victorhora commented on #1710
@binaryanomaly have you tried stripping the binary symbols with the [strip utility from GNU BinUtils](https://linux.die.net/man/1/strip)?

On a quick run here I've managed to reduce the file lib sizes from ~170Mb down to ~4.9MB.
You may also try disable building / installing the lib examples, test utilities and docs to see what you get.

There's a few other tricks you can try to reduce the overall

[2018-03-18 23:43] BAOLONGtrann commented on #1707
@victorhora I use modsec at version 2.9.0

[2018-03-19 01:53] victorhora commented on #1707
Try upgrading to 2.9.2. Or better yet, try the latest codebase from [master](https://github.com/SpiderLabs/ModSecurity/tree/v2/master).

If the problem persists let us know and we can reopen the issue and investigate further.

[2018-03-19 01:53] #1707 closed

[2018-03-19 09:08] therzv commented on #949
yess me also, got this problem, use v3, any help?

[2018-03-19 15:29] victorhora commented on #949
@therzv see if your issue is related with https://github.com/SpiderLabs/ModSecurity/issues/1704

[2018-03-19 20:19] bryn1u opened #1711 "[FreeBSD] - there is no way to install ModSecurity v3. Missing dependency operator, Need an operator"
Hello guys,
First i show you way to install ModSecurity which i tried.

**git clone --depth 1 -b v3/master --single-branch https://github.com/SpiderLabs/ModSecurity
cd ModSecurity
git submodule init
git submodule update
./build.sh
./configure**

configure - output
[code]
**After that. I entry "make" and:**
[code]
I have tried the same way on linux and it works. So, what is the problem under FreeBS

[2018-03-19 20:34] binaryanomaly commented on #1710
Thanks @victorhora that already helped to cut down the container size significantly from 430mb to 190mb! With a few more optimizations I'm now down to around 120mb which is okish.
Around 50mb alone is from libgeoip1 libxml2 liblmdb0 libyajl2, suppose I could cut that down by building the libraries from source and not using the distro ones but that is a bit tedious.

If there's interest I can share

[2018-03-19 21:43] csanders-git commented on #1710
tjere os omterest!

[2018-03-19 22:07] binaryanomaly commented on #1710
Then here you go:
https://gist.github.com/binaryanomaly/3f04758d6bd2a26f018fce2d05def9be

It should work in the current condition but is still messy as I'm in progress of trying to find the sweet spot between maintainability and small image size. In its current state the container created is 120mb.

[2018-03-20 00:18] victorhora commented on #1711
@bryn1u[ FreeBSD should be supported](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/configure.ac#L159-L162).

Based on your logs output I would think you're either missing some dependencies (e.g. automake / autoconf) or the build / configure script failed to run successfully for other reasons.

Try following the compilation recipes here: https://github.com/SpiderLabs/ModSecurity/wiki/Co

[2018-03-20 10:53] bhaumik-merchant opened #1712 "Chain Rule started misbehaving while updating action with "SecRuleUpdateActionById" directive"
**Rule:**

SecRule REQUEST_URI|ARGS|ARGS_NAMES|REQUEST_HEADERS|XML:/* "@rx (abcd|wzyz)" "phase:2,t:none,t:urlDecodeUni,  t:htmlEntityDecode,t:removeNulls,t:replaceComments,t:compressWhiteSpace,t:lowercase,deny,log,tag:'WEB_ATTACK/SQL_INJECTION',id:'382',tag:'CWE-89',severity:'2',logdata:'%{MATCHED_VAR}',chain"
SecRule REQUEST_URI|ARGS|ARGS_NAMES|REQUEST_HEADERS|XML:/* "@rx (a){2,}"

**String which

[2018-03-20 13:22] defanator commented on #1610
Hi @intelbg, @zimmerle, @victorhora,

I've been digging into libmodsecurity + clamav integration, and googled to this issue, so I decided to post some of my results here instead of creating another one.

The v3/master branch, as of https://github.com/SpiderLabs/ModSecurity/commit/480a2f89d786956bd98e41941c001e6afbd22728, does have working support for the @inspectFile operator.

Test env:

[code]

[2018-03-20 14:37] bryn1u commented on #1711
Nope. There is still something wrong. I installed everything and more.

[code]

I check those lines in Makefile but i dont see there nothing special. Additionally installed only valgrind.
Could you take a look on those lines ?

[2018-03-20 15:15] defanator commented on #1646
May be useful to check: https://github.com/SpiderLabs/ModSecurity/issues/1610#issuecomment-374595049

[2018-03-20 15:16] defanator commented on #1376
May be useful to check: https://github.com/SpiderLabs/ModSecurity/issues/1610#issuecomment-374595049

[2018-03-20 17:36] victorhora commented on #1712
@bhaumik-merchant,

Thanks for reaching out, but this is expected behaviour. See [note](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#SecRuleUpdateActionById) : _"...If the target rule is a chained rule, you must currently specify chain in the SecRuleUpdateActionById action list as well..."_

So try adding the "[chain](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manu

[2018-03-20 17:36] #1712 closed

[2018-03-20 17:50] victorhora commented on #1710
@binaryanomaly this pull request might also help with getting a smaller container if that's what you're looking for:

https://github.com/CRS-support/modsecurity-docker/pull/4

On a quick test here I managed to get a container with ~12MB (as opposed to ~300MB) :)

[2018-03-20 19:01] binaryanomaly commented on #1710
Thanks. I'm more Team Debian/nginx though 😂
I'm not obsessed with container size 50-70mb is well ok, just not 500mb.

[2018-03-20 21:19] bryn1u commented on #1711
Problem has been resolved. To compile in "make" step, "gmake" command must be use otherwise we will get issues like above.

@victorhora
Maybe worth add some note on https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes site for another people.
Issue can be closed.

[2018-03-21 16:50] brianp9906 commented on #1661
Where is the configuration information like "modsecurity_rules" block you refer to?

[2018-03-21 17:39] brianp9906 opened #1717 "libmodsecurity HTTP method issue"
libmodsecurity with ModSecurity-apache connector is flagging protocol enforcement incorrectly. This is due to a parsing issue it appears because modsec audit log shows it too, but my Chrome beta branch browser just shows HTTP/1.1.

`ModSecurity: Warning. Matched "Operator `Within' with parameter `HTTP/1.0 HTTP/1.1 HTTP/2 HTTP/2.0'' against variable `REQUEST_PROTOCOL' (Value: `HTTP/HTTP/1.1' ) [fil

[2018-03-22 02:41] truman-test opened #1718 "Apache + ModSecurity 2.9.1 Memory leak issue"
Hello Team
Memory leak issue during operation. I would like to ask you if there is anything reported.
(In addition, graceful is used for operation and distribution of apache.)

# OS
CentOS release 6.8 (Final)

# Apache (httpd-2.4.10-include-apr.tar.gz)
Server version: Apache/2.4.25 (Unix)
Server built:   Feb 14 2017 14:46:44
Server's Module Magic Number: 20120211:67
Server loaded:  APR 1.5.2, APR-

[2018-03-22 04:00] beimuaihui commented on #1587
i just type 各大百货,then CRS 3 response error :

[2018-03-22 04:01] beimuaihui commented on #1587
i just type 各大百货,then CRS 3 response error :      owasp-modsecurity-crs/rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf"] [line "17"] [id "942100"]

[2018-03-22 11:55] zimmerle commented on #1718
Hi @truman-test,

Thanks for the report. What happens to be the loaded rules?

[2018-03-22 11:59] zimmerle commented on #1717
Hi @brianp9906,

Thank you for the report. What you were using as connector? And what are the versions of libModSecurity and connector?

[2018-03-22 13:12] #1711 closed

[2018-03-22 13:13] Punamu opened #1719 "ModSecurity causing high load on apache webserver"
Hello

I am using Ubuntu 14.04 with apache 2.4.7 and modsecurity 2.7.7.

The issue seems to occur randomly and causes high load on the webserver which in turn does not accept any new connections.

Checking the load causing apache process with strace, I get this:

[code]
These read operations never stop until apache is restarted.

Looking for FD 94 shows me modsecurity's`/tmp/default_SESSION.pag`:

[2018-03-22 15:42] gjvanetten commented on #1644
Anymore on this issue? I am having the same thing happen
RHEL 7

`SecTmpDir /tmp
SecDataDir /tmp
SecUploadDir /tmp
SecUploadKeepFiles On
SecUploadFileMode 0600
`

debug set to 9 shows

`[4] Starting phase REQUEST_BODY. (SecRules 2)
[9] Multipart: Boundary: ---------------------------491299511942
[9] Multipart: Added part header "Content-Disposition" "form-data; name="fileName"; filename="bear.tif"

[2018-03-22 16:27] gjvanetten opened #1720 "SecUploadDir /tmp modsecurity ignores and tries to write to /"
RHEL 7

v3/Master

SecTmpDir /tmp
SecDataDir /tmp
SecUploadDir /tmp
SecUploadKeepFiles On
SecUploadFileMode 0600

debug set to 9 shows

[4] Starting phase REQUEST_BODY. (SecRules 2)
[9] Multipart: Boundary: ---------------------------491299511942
[9] Multipart: Added part header "Content-Disposition" "form-data; name="fileName"; filename="bear.tif"".
[9] Multipart: Added part header "Content-Type"

[2018-03-22 17:30] zimmerle commented on #1717
It seems to be related to: ModSecurity-apache/pull/21

[2018-03-22 17:30] #1717 closed

[2018-03-22 17:35] zimmerle commented on #1720
Hi @gjvanetten,

is this a Nginx? do you mind to post the config on gists?

[2018-03-22 18:10] csanders-git commented on #1661
For more information on how to build Apache + v3 check out this dockerfile which succesfully builds apache for v3: https://github.com/CRS-support/modsecurity-docker/blob/v3/ubuntu-apache/Dockerfile

[2018-03-22 19:17] gjvanetten commented on #1720
nginx/1.13.9

https://gist.github.com/gjvanetten/a4c008e67bb99543213aca5599a09d9f

[2018-03-22 21:57] brianp9906 commented on #1717
Using the v3 ga release of libmodsecurity and the ModSecurity-apache connector.

[Wed Mar 21 12:48:17.868265 2018] [:notice] [pid 2732] ModSecurity: ModSecurity-Apache v0.1.1-beta configured.

Additionally, I'm noticing that it blocks stuff properly in request headers, but its not scanning the request body for post requests.  Not sure why yet.

[2018-03-22 22:15] zimmerle commented on #1717
Please, have a look here:
https://github.com/SpiderLabs/ModSecurity-apache/pull/21

[2018-03-22 23:18] brianp9906 commented on #1661
Got it thanks.

[2018-03-23 02:04] zimmerle commented on #1307
On v3/master already.

[2018-03-23 02:04] #1307 closed

[2018-03-23 04:28] truman-test commented on #1718
Hi @zimmerle ,
I'm only use ModSecurity to logging https traffic.
not loaded a separate rules

[2018-03-23 14:36] zimmerle commented on #1720
Hi @gjvanetten,

Do you mind to test the branch: v3/dev/issue_1720 ?

[2018-03-23 14:40] victorhora commented on #1717
@brianp9906

The issue with method has been solved by commit [0b83daf](https://github.com/SpiderLabs/ModSecurity-apache/commit/0b83daf025e0e4c972c19bb247ac0d68396531ac) as mentioned by @zimmerle

About the body scanning issue see https://github.com/SpiderLabs/ModSecurity-apache/pull/22. Let us know if this works for you by following up on that pull request.

Thanks.

[2018-03-23 15:48] victorhora commented on #1587
@beimuaihui

As mentioned, try using a different codepage (maybe 950?) at your SecUnicodeMapFile configuration.

If you still have issues you may want to check if your version of ModSecurity is up to date and you can try changing the "t:utf8toUnicode" action to "t:utf8toUnicode,t:urlDecodeUni" for transformation functions on the rules as this seems to alleviate those issues.

Please follow up at h

[2018-03-23 16:43] gjvanetten commented on #1720
That looks like it fixed the issue:

[9] Multipart: Boundary: ---------------------------491299511942
[9] Multipart: Added part header "Content-Disposition" "form-data; name="fileName"; filename="bear.tif"".
[9] Multipart: Added part header "Content-Type" "image/tiff".
[9] Multipart: Content-Disposition name: fileName.
[9] Multipart: Content-Disposition filename: bear.tif.
[4] Multipart: Created t

[2018-03-23 20:18] #1720 closed

[2018-03-23 20:20] #1710 closed

[2018-03-23 20:29] victorhora commented on #1686
@modsupport it seem like you're using a quite old version of Apache (2.2.15-2010). Can you try with the latest release ([2.2.34](https://archive.apache.org/dist/httpd/httpd-2.2.34.tar.bz2))?

You might also consider upgrading to Apache 2.4.x as 2.2.x is officially [end of life](https://httpd.apache.org/) since January.

If the issue persists, let us know.

[2018-03-23 20:29] #1686 closed

[2018-03-23 20:39] victorhora commented on #1697
@brianp9906 Thanks for sharing that. Do you know if you have any "conditionals" like ["if"/"else"/"then"](https://nginx.org/en/docs/http/ngx_http_rewrite_module.html?&_ga=2.126770061.1270463146.1521837468-138048114.1521837468#if) inside your Nginx.conf? Would mind sharing the conf as well?

Thanks.

[2018-03-23 20:44] binaryanomaly commented on #1710
Btw. I have replaced the Dockerfile with a what I think better version. ModSecurity build an and nginx are separated now and it's overall cleaner and more consolidated: https://gist.github.com/binaryanomaly/3f04758d6bd2a26f018fce2d05def9be

[2018-03-23 21:51] zimmerle commented on #1697
Running a very simple config with the same environment, I was not able to reproduce the issue.

[2018-03-25 17:30] bitsofinfo opened #1722 "LocationMatch & SecRuleRemoveById vs ctl:ruleRemoveById"
Modsec 2.9.2:

Confused about the following, these two stanzas appear to have the exact same result:

[code]

OR

[code]
Using either of the above seem to work the same:

Calls to `wget http://localhost/dog?/etc/passwd` are denied with 403

Calls to `wget http://localhost/cat?/etc/passwd` work with 200

Yet from what I've read `ctl:ruleRemoveById` is a runtime "per request" removal, while `SecRule

[2018-03-25 17:34] csanders-git commented on #1722
There is nothing wrong with your approach save that it is dependant on the web server. Not all web servers that support modsec support this capability

[2018-03-25 17:54] padraigdoran commented on #687
Hi again, just wondering what's the progress since last time I commented on this back in July 2016?

With modsecurity v2.9.2 there are still a lot of false positives when you have a Content-Type "application/x-www-form-urlencoded" post with some of the ARGS being JSON data.

The general Content-Type "application/json" with ctl:requestBodyProcessor=JSON works fine.

[2018-03-25 18:52] bitsofinfo commented on #1722
Thanks for the info. Do you know however if the `LocationMatch` based way is a runtime per http thread removal, or just a separate copy of all the rules loaded/filtered at httpd start, but scoped to that location?

[2018-03-25 20:17] csanders-git commented on #1722
My understanding of v2 is that it is a separate copy loaded from httpd start - which I think is one of the major changes slotted for v3. But you'd need to check with @zimmerle

[2018-03-26 18:40] zimmerle commented on #1722
```ctl:ruleRemoveById=950005```, like you mentioned, is a run time thing that allocates memory per request. The **location** one allocates memory in rules-load-time. It means that on long term, the location option should perform better.

[2018-03-26 18:40] #1722 closed

[2018-03-26 18:52] zimmerle commented on #1718
In that case, I believe you are facing a problem due to APR version mismatch. Make sure that the version loaded in run time is the same that you have used to compile your ModSecurity.

[2018-03-26 18:52] #1718 closed

[2018-03-26 22:40] BP9906 opened #1723 "Netscaler ns-client-ip false positive - 941100 libinjection"
Our load balancer (Citrix Netscaler) appends a header "NS-Client-IP" to HTTP requests to track the true source IP from the web request. ModSecurity is flagging this as an issue and the matched data doesnt make any sense, so it appears to be a bug.

`[Tue Nov 21 01:32:14 2017] [error] [client 10.1.1.1] ModSecurity: Warning. detected XSS using libinjection. [file "rules/REQUEST-941-APPLICATION-ATTAC

[2018-03-26 22:40] BP9906 commented on #1723
Originally reported here: https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/967

[2018-03-26 22:41] BP9906 commented on #1723
We confirmed the same issue in ModSecurity 2.9.2 release also.

[2018-03-27 01:18] ajcoll5 commented on #1648
Can confirm. Running default ModSecurity 2.9.2-64b install with IIS 8.5.9600.16384 on Server 2012 R2 with the March updates. ASP sites with forms auth and Wordpress sites were just going back to the login screen - even with it set to detection only mode. Nothing in the event logs. Setting "SecStreamInBodyInspection" as suggested in Oleg's post resolved the issue.

[2018-03-27 09:39] bryn1u opened #1724 "Modsecurity v3 - how to check if it's working, logs empty"
Hey guys,

I have a strange "issue". My modsec v3 under nginx probably works but there is nothing in log. And i want to ask how can i check if it's working ?
[code]
Config: /usr/local/etc/modsecurity/main.conf
[code]
I have an options Log in modsecurity.conf
SecDebugLog /var/log/modsec_debug.log
SecDebugLogLevel 3
and
SecAuditLogType Serial
SecAuditLog /var/log/modsec_audit.log

Someone can help m

[2018-03-27 11:27] dune73 opened #1725 "Macro expansion on msg and logdata does not work for DURATION"
This affects libModSecurity 3.0.0.

### Example Rule

[code]

### libModSecurity 3.0.0 on NGINX:

[code]

### ModSecurity 2.9.2 on Apache:
[code]

Apparently, there is a DURATION variable, but it does not work with macro expansion within msg and logdata.

Also, the reference handbook specifies the DURATION variable to be microseconds, but the implementation is now a floating point fraction of seco

[2018-03-27 12:12] dune73 commented on #1011
DURATION can be used to substitute the timings for phase 1 through 5. But the other ones would demand systemtap. DURATION also is buggy and not implemented correctly (if correctness means equal to 2.9.x).

Also the substitution is much more complicated than the native availablity of the perf variables.

I'm going into some length on this problem and the use cases for the performance variables in t

[2018-03-27 19:17] ltning commented on #1607
Hi, this issue seems to be present still:
# service nginx restart
Performing sanity check on nginx configuration:
RemoveByTagplatform-windows
nginx: [emerg] "modsecurity_rules" directive Rules error. File: <<reference missing or not informed>>. Line: 3. Column: 50. syntax error, unexpected end of file  in /usr/local/etc/nginx/nginx-mpi.conf:34
nginx: configuration file /usr/local/etc/nginx/nginx.c

[2018-03-27 19:30] ltning commented on #1607
To be clear - SecRuleRemoveById works as expected in this context.

[2018-03-27 20:17] dune73 commented on #1725
Update: Macro expansion does not work with setvar either.

[2018-03-28 10:25] beimuaihui commented on #1587
i tried using "SecUnicodeMapFile unicode.mapping 936" but still response error 942100, "SecUnicodeCodePage" not supported in Modsecurity3.
i have to temporarily  ignore it for pure chinese character.

SecRule REQUEST_FILENAME|ARGS|ARGS_NAMES|REQUEST_HEADERS|XML:/*|!REQUEST_HEADERS:Referer "^[\\u4e00-\\u9fa5\\s\\,\\.\\?\\!]+$" "phase:request,id:3200000,nolog,ctl:ruleRemoveById=942100"

[2018-03-28 10:26] beimuaihui commented on #1587
i tried using "SecUnicodeMapFile unicode.mapping 936" but still response error 942100, "SecUnicodeCodePage" not supported in Modsecurity3.
i have to temporarily ignore it for pure chinese character.

SecRule REQUEST_FILENAME|ARGS|ARGS_NAMES|REQUEST_HEADERS|XML:/*|!REQUEST_HEADERS:Referer "^[\\\\u4e00-\\\\u9fa5\\\\s\\\\,\\\\.\\\\?\\\\!]+$" "phase:request,id:3200000,nolog,ctl:ruleRemoveById=942100"

[2018-03-29 01:59] zimmerle commented on #1607
Hi @ltning and @slabber,

Please upgrade your codebase. The SecRuleRemoveByTag was added two days ago.

[2018-03-29 02:36] weliu opened #1726 "Is libmodsecurity thread-safe?"
I noticed that configure script has this '--enable-mutex-on-pm' option, does it mean at least '@pm' is not thread-safe when that option is off?

Thanks advance for your help.

[2018-03-29 08:45] intelbg commented on #1646
Hello,
We also want and try to implement mod security upload file scanning with clamav according to your documentation with runav.pl which is renamed in our case but it's the same and we are using the following rule:

SecRule FILES_TMPNAMES "@inspectFile /usr/local/bin/pesho.pl" \
"phase:2,t:none,block,msg:'Virus found in uploaded file',id:'2222'"

We are seeing that modsecurity creates a temporar

[2018-03-29 21:15] zimmerle commented on #1607
Hi @ltning and @slabber,

As I did not hear from you, I am assuming that it working as expected.

[2018-04-02 20:06] dune73 opened #1727 "Backport libMaxMinddb (new GeoIP) support to 2.9.x"
Without this being backported to the 2.9 branch, ModSecurity on Apache has no longer any GeoIP support.

[2018-04-02 20:09] spartantri commented on #1727
This will be very welcome. :)

[2018-04-02 21:02] dune73 commented on #1727
Thank you @zimmerle.

[2018-04-03 06:32] dune73 commented on #1727
Can you give us a timeline for 2.9.3?

[2018-04-03 21:32] dune73 opened #1728 "ModSecurity 3.0 no longer reports rule performance in debug log (and neither other infos)"
Here is a 3.0 log entry at level 9:

[code]

And here is what 2.9.2 had to say:

[code]

The performance information for the transformations and the operator execution used to be very valuable.

[2018-04-04 07:34] chirswind commented on #1643
hello there ,I'm using modSecutity for Nginx ,and met the same problem too,seting SecResponseBodyAccess Off &SecResponseBodyMimeType text/nosuchtype does not have an effect to me.

[2018-04-04 10:51] defanator opened #1729 "libmodsecurity (3.0.2) memory leak in runtime"
There is a leak in recent 3.0.2 release. On the test environment created by https://github.com/defanator/modsecurity-performance it can be easily reproduced with the following commands (17847 is the single nginx worker):

[code]

nikto scanning tool [2] generates about 6300 requests per run, according to nginx stub_status counters, triggering various parts of OWASP CRS rules.

I've built nginx, Mo

[2018-04-04 13:02] defanator commented on #1729
The following patch seems to fix the issue:

[code]

[2018-04-04 16:31] zimmerle commented on #1727
Hi @dune73,

There is a milestone for the version 2.9.3 here:
https://github.com/SpiderLabs/ModSecurity/milestone/10

We don't have an ETA for the release yet.

[2018-04-04 16:40] zimmerle commented on #1727
Is that anyone from the community that is willing to help with the development of this backport?

The implementation for v3 is here:
https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/utils/geo_lookup.cc

The logic is available only and only if ModSecurity was compiled with maxmind support.

MaxMind and GeoIp can co-exist. In that case, the choice [run time] is based on the specified dat

[2018-04-04 16:42] zimmerle commented on #1727
@spartantri, @franbuehler, @ossie-git, @dobin, @thhofer, @Cheesman97 can you describe the use case that you have for that specific functionality?

[2018-04-04 16:48] zimmerle commented on #1728
As discussed before, some the debug log info was shrank in favor of performance. Specially the pieces that there are available by other meanings as the example of instrumentations.

[2018-04-04 20:38] zimmerle commented on #1728
Techniques that could be used to profile software, as an example of [but not limited to] systemtap.

[2018-04-05 12:55] zimmerle commented on #1729
Fixed by @defanator at: 8285a97460ba898329b3767f46b25abee5de4b24

[2018-04-05 12:55] #1729 closed

[2018-04-06 01:44] truman-test commented on #1718
@zimmerle
apr version is the same apache loaded and compiled modsecurity
Is there anything I can check?

[2018-04-06 02:04] zimmerle commented on #1718
There are those initial lines in error logs that show ModSecurity startup info. Do you mind to paste it here? The lines that contains the dependencies and versions in the error log.

[2018-04-06 16:09] kawikao commented on #1729
Fix is looking good. Thanks for the quick turnaround.

[2018-04-06 17:41] p0pr0ck5 opened #1731 "Reduce dynamic memory allocations in hot path code"
Stemming from discussion here: https://sourceforge.net/p/mod-security/mailman/message/36285420/

v3/master code currently uses a large number of dynamic memory allocations in hot code paths. Consider the following flamegraphs, the first generated from bt samples taken while running the `simple_example_using_c` program and loading the full OWASP 3 CRS, and the second generated with the same program

[2018-04-06 17:47] p0pr0ck5 opened #1732 "Cache/cheapen evaluated Rule variables"
Piggybacking off #1731, it seems that calling `Rule::getFinalVars` can be quite expensive, due to the number of dynamic allocations is requires. It seems to me that the resulting data set could be cached within a transaction, such that the same set of variables and exclusions (which would always return an identical vector of `VariableValue` ptrs) can be reused. This would result in a performance g

[2018-04-06 20:41] JaiHarpalani opened #1733 "Appears that tx.allowed_request_content_type is not parsed correctly."
Using ModSec v3.0.1 with CRS v3.0.2, I define tx.allowed_request_content_type as follows:

SecAction \
 "id:900220,\
  phase:1,\
  nolog,\
  pass,\
  t:none,\
  setvar:'tx.allowed_request_content_type=application/x-www-form-urlencoded|multipart/form-data|text/xml|application/xml|application/soap+xml|application/x-amf|application/json|application/octet-stream|**text/plain**'"

When I send a text/pl

[2018-04-06 21:31] zimmerle opened #1734 "META-ISSUE: Performance task force"
Performance discussion in a environment such as libModSecurity which is deployed in different manners and meant to be used in different scenarios is always interesting because it leads to circumstances where the benefit for some may be negative for others. That said, this ticket will be open forever :).

Due the fact that some optimization may lead to the benefit of a few, different angles and poi

[2018-04-06 23:45] LeSwiss commented on #1697
I guess I have exactly the same issue.

Running nginx plus:
[code]

As soon as I activate just one SecRuleRemoveByTag, even an example in RESPONSE-999-EXCLUSION-RULES-AFTER-CRS.conf like "SecRuleUpdateTargetByTag "attack-sqli" "!ARGS:foo"",  I receive a ERR_EMPTY_RESPONSE on browsing every domain behind this nginx / WAF instance and some of theses messages:

[code]
SecRuleRemoveById on the other h

[2018-04-07 19:52] dune73 commented on #1734
## References

*Requests per Second: Realworld scenario*: https://sourceforge.net/p/mod-security/mailman/message/36286327/
*Requests per Second: Localhost*: https://sourceforge.net/p/mod-security/mailman/message/36285879/
*Substantial Slowdown report* : https://sourceforge.net/p/mod-security/mailman/message/36285471/
*Performance Expectations* : https://sourceforge.net/p/mod-security/mailman/messa

[2018-04-07 20:05] dune73 commented on #1734
I do not understand the "designed to support low latency"? What does this mean exactly? I take it, this is not the latency that the client sees, or is it?

Other than that, I get the feeling these are all very good considerations, but we are not yet in a situation where libModSecurity has efficient code and further optimization demands priorities in the classic triangle. We are in a situation wher

[2018-04-07 20:08] dune73 commented on #1734
### REQUEST_LINE vs. REQUEST_URI vs. REQUEST_URI_RAW vs. REQUEST_FILENAME

Yes, they are all needed in different situations. If you can "use offsets in a way to use the same memory space to represent " them, then yes, by all means. But these 3 cousins are really important.

This is a powerful anti-evasion rule for example:
[code]

[2018-04-08 08:51] maopaolinux commented on #1318
hi @Menahem1
    Have you solved the problem? And that's the problem
       I use nginx（1.12.2）， openresty-1.11.2.2 and modsecurity v3.0.2,
   can you help me?

[2018-04-08 09:39] LeSwiss commented on #1697
Nobody can help here?

[2018-04-08 10:30] wanjidong commented on #1646
I have the same problem

[2018-04-09 00:31] victorhora commented on #1318
@maopaolinux try applying these patches to both libModSecurity and nginx-connector:

https://github.com/SpiderLabs/ModSecurity/commit/8285a97460ba898329b3767f46b25abee5de4b24

https://github.com/SpiderLabs/ModSecurity-nginx/commit/bcfe69a58db229dbb5e96f9f771a7420b5bbd849

[2018-04-09 00:39] victorhora commented on #1697
@LeSwiss

Can you confirm your version of libModSecurity and nginx-connector?

Maybe [ctl:ruleRemovebyTag](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#ctl) works for you? It was recently implemented [here](https://github.com/SpiderLabs/ModSecurity/commit/0ca599474404ac58cd998396ce28a31a33d5d7bf).

[2018-04-09 00:43] victorhora commented on #1646
@wanjidong

There was a recent change to fix the behaviour of the operator [here](https://github.com/SpiderLabs/ModSecurity/commit/138e301695d53680ddd51c52346b058ed42a6503). Check if this fixes the issue you're facing.

[2018-04-09 01:55] wanjidong commented on #1646
@victorhora Thank you for your reply, but it's not what you said. You can't get FILES_TMPNAMES. My configuration files and log files are as follows.

[modsecurity.conf.txt](https://github.com/SpiderLabs/ModSecurity/files/1888227/modsecurity.conf.txt)
[REQUEST-949-Clamav-Scan.conf.txt](https://github.com/SpiderLabs/ModSecurity/files/1888228/REQUEST-949-Clamav-Scan.conf.txt)
[runav.pl.txt](https://g

[2018-04-09 18:52] victorhora commented on #1663
@vaLski

There is a number of recent changes pushed into libModSecurity master concerning memory leaks and fixes including this one https://github.com/SpiderLabs/ModSecurity/commit/8285a97460ba898329b3767f46b25abee5de4b24 which did not got into 3.0.2 release.

The same applies for ModSecurity-nginx connector. Commit https://github.com/SpiderLabs/ModSecurity-nginx/commit/bcfe69a58db229dbb5e96f9f771

[2018-04-09 18:55] victorhora commented on #1546
@AdamJacobMuller

Do you mind letting us know if you notice improvements taking
https://github.com/SpiderLabs/ModSecurity/issues/1663#issuecomment-379856117 into consideration?

Thanks.

[2018-04-09 20:07] p0pr0ck5 commented on #1663
@victorhora I don't think those changes are related, at the very least not the Nginx connector changes. I wrote a simple mock harness to stress loading many rules: https://gist.github.com/p0pr0ck5/3b58a98b653ef0bde2bd6da3c68240f7. This just tries to load many rulesets, all with simple rules as generated from a simple script:

[code]

This took almost 1G of memory and several minutes to execute, wh

[2018-04-09 20:39] p0pr0ck5 commented on #1663
@vaLski would consider testing the patch above? ^

[2018-04-10 09:01] xocuer opened #1736 "SecChrootDir in ModSecurity 3?"
Hi,

I'm trying to migrate to ModSecurity 3, docs are not ready at this moment, so how can i use SecChrootDir?

Thank you

[2018-04-10 14:07] victorhora commented on #1736
@xocuer

[SecChrootDir](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecChrootDir) is not supported on libModSecurity yet.

libModSecurity 3 docs are being worked on at this moment, for now you can use the v2 docs at: https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29.

If you are curious about a feature being supported on libModSecurity, look

[2018-04-10 14:55] xocuer commented on #1736
Thanks for the reply @victorhora

Do you know if in the future SecChrootDir will be supported?

[2018-04-12 21:45] victorhora commented on #1736
Hi @xocuer

Actually I believe SecChrootDir should be deprecated for quite some time as [Chroodir](https://httpd.apache.org/docs/2.4/mod/mod_unixd.html#chrootdir) is available in Apache Core since 2.2.10 so there should be no need to have the feature implemented in libModSecurity.

[2018-04-12 21:45] #1736 closed

[2018-04-13 04:46] groodle opened #1741 "Apache2 won't start because of problem with default crs-setup.conf"
Hi,

I am trying to get Apache2 to use modsecrity3 however itcomplains about a problem with the supplied crs-setup.conf. The error that is given is:

Rules error. File: /etc/apache2/modsec/owasp-modsecurity-crs/crs-setup.conf. Line: 771. Column: 31. SecDefaultActions can only be placed once per phase and configuration context. Phase 1 was informed already.

However, this is the same file that I su

[2018-04-13 04:58] #1741 closed

[2018-04-15 22:32] phillbaker commented on #715
Hello just checking if this made it's way into v3 now that v3 has been officially released?

[2018-04-17 07:42] vaLski commented on #1663
@victorhora Alas the fixes you referenced are not related to the problem I am experiencing. The merge request I sent initially for this report is fixing my problem (in a very dirty way) and it pinpoints where is the exact bottleneck.

@p0pr0ck5 I will check this at my first convenience and will let you know the results. Alas I am unable to share the ruleset but I think that the generator you used

[2018-04-17 11:15] intelbg commented on #1646
Finally, can you please tell me if  it's fixed in the latest master?

[2018-04-17 17:16] Stono opened #1742 "REQUEST-912-DOS-PROTECTION.conf. Line: 187. Column: 29. Expecting an action, got: ,\"
Hi,
On the ingress-nginx project, we were previously using the [`v3/dev/performance` branch](https://github.com/kubernetes/ingress-nginx/commit/13d390ebb0c6fa96c363fcf4549edc4835cd343e#diff-bd50bd51e758b65562491458b5a6f46dL242) to resolve performance issues (see https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1002).

This branch has now been removed from your repository and the ingress-

[2018-04-17 18:43] defanator commented on #1733
Spent some time digging in similar one. So far my assumption is that parser is failing somewhere in the SETVAR_ACTION_QUOTED path.

Minimal configuration to show the differences in various quoting syntaxes:

[code]

Debug log excerpts:

[code]

@zimmerle @victorhora appreciate your input here, especially any insights about parser debugging. I constructed a chain of "tokens" or "actions" like the f

[2018-04-17 18:46] defanator commented on #1733
@JaiHarpalani for the sake of clarity, last part of a list includes closing single quote char:

[code]

[code]

(note the Content-Type header in the 2nd case)

[2018-04-17 19:04] zimmerle commented on #1742
Hi @Stono,

Seem like the setup script is using the commit hash: d7571979b534ae6d9968a6e3582fb4f5212c3586. We do have the hash: 8d0f51beda5c031e38741c27f29b67f0266352bb which represents the last released version. Do you mind to upgrade? the issue was already fixed in v3.0.2 already.

[2018-04-17 19:04] #1742 closed

[2018-04-18 07:02] Stono commented on #1742
@zimmerle I've just tested with that commit and it works great :-) thank you for your prompt reply

[2018-04-18 08:25] defanator opened #1743 "Regex match does not work when arg ends with unescaped equal char"
Sample configuration to reproduce:

[code]

ModSecurity 2.x behavior, escaped:

[code]

ModSecurity 2.x behavior, unescaped:

[code]

libmodsecurity behavior, escaped:

[code]

libmodsecurity, unescaped:

[code]

That is, libmodsecurity does not include unescaped `=` in the end of arg value string while matching.

[2018-04-18 10:52] rayenmessaoudi opened #1745 "modsecurity with wordpress"
Modsecurity blocked me when i m trying to add a gif picture in a new post which rule should i exclude ?
i m using the OWASP crs

[2018-04-18 13:17] zimmerle commented on #1745
Hi @rayenmessaoudi,

The best place to post such question is on the OWASP CRS Project.

[2018-04-18 13:17] #1745 closed

[2018-04-18 13:31] zimmerle commented on #1697
@defanator as it is an nginx plus can you help us to try to reproduce the issue?

[2018-04-18 13:34] zimmerle commented on #715
Indeed @phillbaker, not yet supported.

[2018-04-18 13:35] defanator commented on #1697
@zimmerle sure thing, I'll take a look. Which "regular" versions of nginx have you tried? I suppose, you've been trying with current v3/master?

[2018-04-18 13:38] zimmerle commented on #1697
Not sure. I will check if @victorhora. We managed to reproduce with "ifs" and others conditional configuration tags.

[2018-04-19 01:54] cdorsat commented on #1441
Is the problem solved ? ?  I have the same problem.

[2018-04-19 11:36] defanator commented on #1697
@zimmerle @victorhora I was able to trigger segfaults with nginx/foss, will try to get minimal reproducible configuration and share it here.

[2018-04-19 13:44] defanator commented on #1697
@zimmerle @victorhora - minimal configuration to reproduce (nginx.conf):

[code]

/etc/nginx/modsec/main.conf:

[code]

modsecurity.conf is the default one, owasp-crs/ contains default set of CRS 3.0.2.

Segfault is triggering every single request to the default (/) location. Segfault can be avoided by either of the following:
 - removing SecRuleUpdateTargetByTag,
 - removing "error_page" + "locat

[2018-04-19 14:40] rayenmessaoudi opened #1746 "installation guide"
any guide to install the last release modsecurity v3.0.2 with apache2 ?

[2018-04-19 15:56] zimmerle commented on #1746
There is not official recipe. However, you can have a look on the project documentation in the compilation section. There you can find the steps to have it compiled and installed.

Documentation for libmod:
- https://github.com/SpiderLabs/ModSecurity/tree/v3/master#unix-linux-macos-freebsd-

Documentation for apache connector:
- https://github.com/SpiderLabs/ModSecurity-apache#compilation

Let as

[2018-04-19 15:56] #1746 closed, assigned to zimmerle

[2018-04-19 15:59] zimmerle commented on #1697
Thanks for the detailed report @defanator. Did you managed to reproduce without the error conditional?

[2018-04-19 16:01] zimmerle commented on #1441
@cdorsat double check your configurations. Most likely you are including CRS twice.

[2018-04-19 23:41] victorhora commented on #1646
Thanks for the feedback @wanjidong and @intelbg.

https://github.com/SpiderLabs/ModSecurity/pull/1748 should fix this issue. It's being tested in the buildbots now.

Please let us know if it solves your issue.

[2018-04-19 23:43] victorhora commented on #1610
For future reference: https://github.com/SpiderLabs/ModSecurity/issues/1646#issuecomment-382914522

[2018-04-20 09:27] defanator commented on #1697
@zimmerle "without the error conditional" ?

[2018-04-22 04:30] dune73 commented on #1727
A standard use case is to protect certain parts of an application (-> path tree, typically the admin interface) via GeoIP and ModSecurity. This reduces your attack surface tremendously.

Other people assign different CRS anomaly thresholds based on GeoIP.

It is also very helpful to display the GeoIP country code next to the IP address in the combined access log. This works without a real format c

[2018-04-22 14:27] #1646 closed

[2018-04-22 14:28] zimmerle commented on #1646
As stated by @victorhora, #1748 fix this. Thanks.

[2018-04-22 14:31] zimmerle commented on #1697
[code]

This is a custom error page that changes the regular nginix flow right? In case of an error, its uses a custom location. Right?

[2018-04-23 04:39] defanator commented on #1697
@zimmerle right, see the corresponding doc: http://nginx.org/r/error_page

However, in my case there were no any 5xx errors, segfault is happening during the initial request processing (note the "test location" and "using configuration" in the below debug log):

[code]

[2018-04-23 06:48] defanator commented on #1697
JFTR, here's the ASAN output for the same case of segfault:

[code]

[2018-04-23 06:51] defanator commented on #1697
Also, the `error_page` directive does not have any effect - only additional location block matters.

[2018-04-24 01:14] zimmerle commented on #1743
Fixed by #1744.

[2018-04-24 01:14] #1743 closed

[2018-04-24 14:01] rayenmessaoudi opened #1753 "undetectable xss with modsec v3"
why a simple xss payload <script>alert(123)</script> can't be detected with the new version of modsecurity v3.0.2 i m using the owasp crs and it workes properly with modsecurity v2 .

![](https://i.imgur.com/7LlKiTX.png)

[2018-04-24 15:47] victorhora commented on #1753
@rayenmessaoudi there's a number of reasons this could be happening. Ranging from misconfiguration on your webserver (Nginx?) to misconfiguration of the rules.

For instance, have you confirmed that ModSecurity is enabled (_modsecurity on;_) and pointing to the correct rules file (_modsecurity_rules_file modsecurity.conf;_)? Connector usage information is available on the [README](https://github.c

[2018-04-24 15:47] #1753 closed, assigned to victorhora

[2018-04-24 16:50] LeeShan87 opened #1754 "How to use persistent collections in ModSecurty v3.0.x?"
Hi!

I'm trying to create some rules which use IP persistent collection.
First i tried with Nginx v1.14.0, ModSecurity-nginx master, ModSecurity v3.0.0 without lua or lmdb.

The collection initialized and I could make a counter. Like count every page load on the given uri.
But expirevar is not working. Which is very bad, if I try something like this on a production server.

After this I tried ModS

[2018-04-25 10:46] rayenmessaoudi commented on #1753
PS : i m using commands in this Dockerfile to install and configure modsecurity v3 https://hub.docker.com/r/owasp/modsecurity/builds/bk42keabrv8eqvvyzxebon/ cauz i have some problems with this installation guide https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes-for-v3.x i already posted my problem here https://github.com/SpiderLabs/ModSecurity-apache/issues/35 and no one answer me

[2018-04-25 11:08] LeeShan87 commented on #1754
Well regression tests are passing for collections.

I ran some rules collected from the regression test with debuglog 9 with v3.0.0 and v3/master.
I have attached the the log files and the rule file.

[debug.zip](https://github.com/SpiderLabs/ModSecurity/files/1946677/debug.zip)

The difference of the to logs:

[code]

I think this maybe a bug :(

[2018-04-25 17:50] victorhora commented on #1753
@rayenmessaoudi I see that you're running ModSecurity-apache. Ensure that the ModSecurity module is loaded in Apache configuration directives.

Also, check and share your logs with us so we can better assist you. You should be able to see something on both Apache error_log and ModSecurity's audit log. Look also for the [SecAuditLog configuration on your modsecurity.conf file](https://github.com/Sp

[2018-04-27 13:49] rayenmessaoudi commented on #1753
i m sure for all configuration the same payload xss detected by the waf in the search field and undetectable in the comment field (wordpress) weird problem :/

[2018-04-27 19:45] victorhora commented on #1753
@rayenmessaoudi your last comment provides some better clues. If ModSecurity was able to catch an XSS payload in one request but not in the other it might be a false negative with the CRS. But I'd say it's unlikely for such a simple and obvious payload.

If we assume that the search field have query parameter on a GET request and that the comment field have the parameter on a POST request I would

[2018-04-28 20:21] rayenmessaoudi commented on #1753
@victorhora Thanks i understand the problem now :+1:

[2018-04-30 09:23] rayenmessaoudi commented on #1753
but if the ModSecurity-apache is not able to inspect the body it means that i m not secure enough

[2018-04-30 15:49] victorhora commented on #1753
@rayenmessaoudi, ModSecurity-apache is currently in development stage and might be not ready for productions environments. If you're looking to use in production environments with Apache you may wish to use ModSecurity v2 for now (https://github.com/SpiderLabs/ModSecurity/releases/tag/v2.9.2).

[2018-04-30 20:29] victorhora commented on #1733
Thanks for the helpful input @defanator.

So there's definitely a different behaviour for parsing setvar between v2 and v3. Let me see if I can come up with a fix here. @zimmerle I might need your help :)

@JaiHarpalani as a temporary workaround, you may wish to remove the single quotes around tx.allowed_request_content_type. That will be processed correctly by the parser and allows all the specif

[2018-04-30 21:53] victorhora commented on #1733
Just noticed an interesting warning from Flex when rebuilding the Parser:

[code]

Which, in my codebase (3.0.2) points to [SETVAR_ACTION_QUOTED_WAITING_CONTENT (\\')](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/parser/seclang-scanner.ll#L722)

[2018-05-01 00:03] victorhora commented on #1733
It seemed like the issue was really on that part of the code. I've changed the order on which [SETVAR_ACTION_QUOTED_WAITING_CONTENT (\')](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/parser/seclang-scanner.ll#L722) was waiting for the input and it looks like it's all good now.

I've tested with the CRS (tx.allowed_request_content_type) and now it should accept all those Content-Typ

[2018-05-02 02:24] Pjack opened #1762 "Timestamp is removed from the auditlog index"
Hi,

I am using modsecurity v3 with the tag v3.0.2 in github.
Here is my settings in modsecurity.conf

SecAuditLogType Parallel
SecAuditLog /var/log/modsec/audit.log
SecAuditLogFileMode 0640
SecAuditLogDirMode 0750
SecAuditLogFormat JSON

The column in audit log index is different in this version compare to v.3.0.0
LOCAL_USER and timestamp are removed from the index.

The precise code position is

[2018-05-02 08:52] 751361787 opened #1763 "requestBodyProcessor=JSON is not working for modsecurity v3.0.2 in Nginx"
Hi,

I have encountered an issue with modsecurity v3.0.2 that the JSON request body processor is not working for "application/json" request. The JSON arguments are not parsed and the security rules didn't work.

i.e.
`POST /odatd/api/xxxxx HTTP/1.1
Host: 10.58.93.242
User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64; rv:50.0) Gecko/20100101 Firefox/50.0
Accept: application/json
Accept-Language: en-U

[2018-05-02 21:28] victorhora commented on #1763
Hi @751361787,

By sending your POST request this is what I get with default installation of libModSecurity 3.0.2 and CRS3:

ModSecurity: Warning. **detected XSS using libinjection**. [file "/home/vhora/owasp-modsecurity-crs/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf"] [line "17"] [id "941100"] [rev "2"] [msg "XSS Attack Detected via libinjection"] [data **"Matched Data: <script>alert(1)</scrip

[2018-05-03 02:30] 751361787 commented on #1763
Hi @victorhora,

Here is my `modsecurity.conf` and `crs-setup.conf`:

[code]
[code]

Any log files I can check?

Regards!
Jack Yao

[2018-05-03 02:32] #1763 closed, assigned to victorhora

[2018-05-03 09:14] Sp1l commented on #1411
Any updates on this? Improvements with clang 4 (FreeBSD 11.1)? Fixes in the ModSecurity code?

If this is not fixed, can this be re-opened or a new Issue created?

[2018-05-03 10:04] ltning commented on #1411
The current port for nginx and mod_security3 work, but there are significant memory leaks on systems with heavy traffic. We're using cron to call 'nginx -s reload' every few hours to circumvent this, but we have not been able to determine to cause for the leaks yet. Using CRS 3.0 ruleset with some whitelisting.

[2018-05-03 13:57] GitHubUser4234 opened #1764 "SecAuditLogParts and PUT requests"
Hi,

For `SecAuditLogParts`, we can configure the `I`  which supposedly will log request bodies in all cases except when multipart/form-data encoding is used in POST requests. The thing is that when PUT requests are used, they aren't covered by the `I`. It looks like in order to prevent disk space issues here, one has to either remove the  `I` completely or even set the `SecRequestBodyAccess` to `

[2018-05-03 15:25] victorhora commented on #1764
@GitHubUser4234 Which version of ModSecurity you are using? Please provide as much detail as possible so the community can better assist you.

[2018-05-03 15:32] GitHubUser4234 commented on #1764
Sure, that would be ModSecurity 2.9.0 with Apache 2.2 on Redhat 6.9.

Some basic Modsecurity settings:

SecRuleEngine on
SecArgumentSeparator "&"
SecAuditEngine RelevantOnly
SecAuditLogDirMode 0770
SecAuditLogParts ABIFHZ
SecAuditLogRelevantStatus "^(?:5|4(?!04))"
SecAuditLogType Concurrent
SecCookieFormat 0
SecPcreMatchLimit 250000
SecPcreMatchLimitRecursion 250000
SecReadStateLimit 1024
SecReque

[2018-05-03 15:37] zimmerle commented on #1411
right, so since there isn't a crash any longer and the leak apparently is not the same, better to create a new issue just to keep the issue easy to read. @ltning can you create a new issue to summarize the leak that you are facing? make sure to mention libModSecurity version. Also, make sure that LMDB is not enabled. Thank you!

[2018-05-03 16:39] zimmerle commented on #1762
Hi @Pjack,

Thank you for let us know. It is fixed by: d0b423fdd7a1bee766b4d51b13f2084e92f894a9

[2018-05-03 16:39] #1762 closed, assigned to zimmerle, victorhora

[2018-05-03 17:45] zimmerle commented on #1733
@victorhora patch is now part of v3/master.

[2018-05-03 18:33] zimmerle commented on #1727
While this is not ready yet on 2.x, there are other modules on Apache that may help you to block/process based on GeoIP, including one from maxmind - https://github.com/maxmind/mod_maxminddb

[2018-05-03 21:29] victorhora commented on #1764
Hi @GitHubUser4234

In version 2.x there's are some limitations where PUT bodies are not inspected, which would explain why you're not being able to see the content with the "I" section of SecAuditLogParts.

This was also discussed at https://github.com/SpiderLabs/ModSecurity/issues/939, but it should be already supported on the new version of (lib)ModSecurity (3.x) so I suggest you should try it

[2018-05-03 21:29] #1764 closed, assigned to victorhora

[2018-05-03 21:41] victorhora commented on #1724
Sorry for the long delay @bryn1u

That's strange indeed. Have you double checked that the version of Nginx that your are running is really loading those configuration directives from your nginx.conf?

Can you post the output of "nginx -V"? It should show information about the Nginx connector, either compiled dynamically or statically.

Double check on your modsecurity.conf that [SecRuleEngine](htt

[2018-05-03 21:42] victorhora commented on #1724
Closing this one as it seems more like an usage issue. If there's really a problem, let us know and we can reopen and investigate. Thanks.

[2018-05-03 21:42] #1724 closed

[2018-05-04 07:31] GitHubUser4234 commented on #1764
@victorhora thanks for the reply, however I think there was a misunderstanding. It's not that the content with the "I" section of SecAuditLogParts cannot be seen, it's that it CAN be seen. Supposedly PUT bodies should only be logged with a "C" section of SecAuditLogParts but skipped with an "I" to prevent disk space issues. So unfortunately, the issue doesn't look resolved.

[2018-05-04 17:05] rayenmessaoudi opened #1766 "rule syntax error"
Hi guys i m not able to restart apache due to this error
my modsecurity version is 2.9.2
AH00526: Syntax error on line 40 of /usr/share/modsecurity-crs/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf:
Error parsing actions: Unknown action: \
Action 'configtest' failed.

error log
https://gist.github.com/rayenmessaoudi/4752385111f54cd265449dcdcbf1f27a

[2018-05-06 00:56] troykelly opened #1767 "GET request with application/json and valid JSON being returned trips 200002"
Making a GET request with Content-Type of application/json seems to trigger error 200002 even when the server response is valid JSON.

I feel like this could be related to https://github.com/SpiderLabs/ModSecurity/issues/1392 - but we are returning a valid JSON body

[2018-05-06 04:48] defanator commented on #1733
@zimmerle @victorhora sorry for the delay, just  got a chance to check this again.

Unfortunately, it doesn't work as of v3/master (389cc25), I'm still getting the following:

[code]

Error log parts:

[code]

libmodsecurity debug log parts:

[code]

Also, I see that @victorhora used bison 3.0.2 in 5e40850, while I remember there was a hard requirement (?) of bison >= 3.0.4. Would it be the reason

[2018-05-06 05:04] defanator commented on #1733
Rebuilding libmodsecurity with `--enable-parser-generation` didn't help.

[2018-05-07 07:05] GitHubUser4234 commented on #1764
@victorhora Would you please reopen the issue so the community would be able to see this, thanks

[2018-05-07 11:26] rayenmessaoudi opened #1768 "modsec 2.9.2 and fail2ban"
Hi all,
Recently i installed modsecurity v2.9.2 and my problem is the modsec_audit.log does not have the same format like other version and also i noticed the creation of new folder with the current date contains the real modsec_audit logs so i can't use the fail regex in the fail2ban tool in order to set up Fail2ban with Mod_Security 2.9.2

http://www.fail2ban.org/wiki/index.php/HOWTO_fail2ban_wi

[2018-05-07 11:43] rayenmessaoudi commented on #1768
problem solved juste i need to change SecAuditLogType concurrent ==> Serial

[2018-05-07 15:41] victorhora commented on #1733
Hummm that's weird @defanator. I was sure it fixed the issue that @JaiHarpalani reported. Let me triple check to make sure and I'll get back here with my results.

Not sure about the hard requirement with the parser. I'll check with @zimmerle and let you know.

Thanks a lot for the feedback! :D

[2018-05-07 15:50] victorhora commented on #1766
@rayenmessaoudi

As @Lifeforms correctly pointed out on his [comment](https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1074#issuecomment-386710599), this an issue with older versions of Apache to correctly handle rule formatting.

Please follow @Lifeforms [comment](https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1074#issuecomment-386710599) for further information on workaroun

[2018-05-07 15:50] #1766 closed, assigned to victorhora

[2018-05-07 15:52] victorhora commented on #1767
@troykelly Which version of ModSecurity you are using? Please provide as much detail as possible so the community can better assist you. Thanks.

[2018-05-07 15:55] victorhora commented on #1768
Closing as assuming problem was solved. Thanks for letting us know @rayenmessaoudi.

[2018-05-07 15:55] #1768 closed, assigned to victorhora

[2018-05-07 16:01] troykelly commented on #1767
@victorhora Thank you for getting back to me.
We are using v3 inside a container (from https://hub.docker.com/r/really/nginx-modsecurity/ )
Most everything works, it just seems that GET requests for JSON are triggering this rule.
The request is to https://sessions.reallyreally.io/token which when content-type is "application/json" returns JSON. Eg:
[code]
When we have ModSecurity enabled for that

[2018-05-07 21:02] victorhora commented on #1733
Hey @defanator I'm getting different results here :/

With the latest libModSecurity codebase (without rebuilding the parser) If I run your cURL request this is what I get:

[code]

Debug log:
[code]

If I do change _Content-Type_  outside of the values defined by rule (text/plain**boom**) , this is what I get:

[code]

Debug logs:
[code]

Maybe I'm missing something? :/ I'm wondering if our diffe

[2018-05-07 21:17] victorhora commented on #1764
@GitHubUser4234 thanks for your feedback.

I would suggest that you test with a more recent version (i.e. [2.9.2](https://github.com/SpiderLabs/ModSecurity/releases/tag/v2.9.2)) as I see that you are running ModSecurity 2.9.0. Or better yet, you might want to check against the current [master](https://github.com/SpiderLabs/ModSecurity/tree/v2/master) as there's a number of recent fixes there.

If

[2018-05-07 21:30] JaiHarpalani commented on #1733
I will try to test the fix and let you know how my testing goes.

On Mon, May 7, 2018 at 4:03 PM, Victor Hora <notifications@github.com>
wrote:

[2018-05-07 21:47] victorhora commented on #1767
Hi @troykelly it seems like the behaviour between v2 and v3 are different even when compared to results of testing with at #1392. We will be looking into this.

In the meantime, I would suggest that you disable or change rule 200002 as a temporary workaround.

Thanks for reporting!

[2018-05-08 06:20] defanator commented on #1733
@victorhora that's weird indeed. I've just re-created the entire VM from scratch a few minutes ago and it's still failing. Relevant data:

[code]

Request is the same, all the data in logs is the same.

I'm doing all my tests with the help of vagrant-based environment: https://github.com/defanator/modsecurity-performance

Appreciate any ideas as I'm really stuck now.

[2018-05-08 08:04] GitHubUser4234 commented on #1764
Unfortunately newer versions of ModSecurity are not provided by Redhat yet and we are required to stick to what Redhat has to offer. So as there doesn't seem to be an alternative setting/workaround for now, it looks like removing the "I" section would be the least evil in order to prevent disk space problems for large file uploads using PUT. When a new version is available through Redhat, I might

[2018-05-08 11:47] c0deguard opened #1770 "how to enable remote logging in libmodsecurity"
Hi,
I have enabled remote logging by setting **SecAuditLogType HTTPS**. How to specify the remote URL and the auth credentials.

[2018-05-08 12:25] zimmerle commented on #1643
Somewhat related to SpiderLabs/ModSecurity-nginx#84

[2018-05-08 12:29] zimmerle commented on #1470
@zoltan-fedor  the compression can be disabled in the web server configuration, regardless of ModSecurity utilization.

[2018-05-08 14:10] zimmerle commented on #1643
The compression can be disabled on the web server and/or proxy configuration. That is the main reason why the _SecDisableBackendCompression_  is no longer supported on v3.

As of 42a472adbda21e6ecc4711fd37d704cdb3d98fbb the body inception is respecting the configuration flag.

[2018-05-08 14:10] #1643 closed

[2018-05-12 13:18] quenenni opened #1772 "strange behaviour for my rule."
Hello,

I struggled these last few days to understand why all the POST requests weren't treated anymore by modsec.

I finally found the custom rule I did that created that problem.

The purpose of this rule is to deactivate modsec engine when accessing with POST requests 2 specific files on a specific domain name:
[code]

But this rule just deactivate modsec engine for all POST requests (for all f

[2018-05-12 13:47] csanders-git commented on #1772
The CTL action takes effect on the part of the chain where it is placed (like transforms). As a result moving the CTL to the bottom rule should also solve the problem. Thanks for the report, this is a tricky part of the language.  Let me know if that doesn't make sense.

[2018-05-12 14:50] quenenni commented on #1772
Thanks for your quick help.

Why doesn't it take into consideration the 'chain' option, telling it to wait for other rules before acting?

If I understand you correctly, these 2 rules react the same way:
[code]
[code]

You mean something like this?
[code]

Few years ago, I was using this writing for my rules (the setvar & TX:score thingy) but I switched to the one above (from reading manuals), but

[2018-05-13 11:03] intelbg opened #1773 "Custom anomaly_score threshold for a specific rule"
Hello,
Is it possible to set a custom threshold anomaly score for one specific rule, for example if I am blocked because of xss rule 941100 to lower it's sensitivity so being not blocked only for it?

In example to set it like:
...
 	setvar:tx.anomaly_score=lower-value-her,\
...

I tried but it does not work. I would like to accomplish this for one specific rule, not to play with the global inboun

[2018-05-14 12:20] mxmkeep opened #1774 "nginx+modsecurityv3 config mlogc by SecAuditLog failed"
Hi~
I install nginx+modsecurityv3 and running well.
and now i want to send modsec log by mlogc, but nginx testing failed.
Where do I configure wrong?
thanks for you help。

nginx error.log
[code]

modsecurity.conf
[code]

mlogc.conf
[code]

[2018-05-14 12:25] mxmkeep commented on #1774
i can't find mlogc in ModSecurity-3.0.2, so i make it by modsecurity-2.9.2

[2018-05-14 16:10] quenenni commented on #1772
I've re-read the doc, and it's still unclear how exactly the CTL action is managed in the process.

I've done some tests this w-e and I can say that without a CTL action, it works as I thought:
[code]
[code]
The second rule, the request is blocked only for POST.
If I use 'pass' instead of 'block' in the params, it works also as I thought it should.

So, it's only the CTL action that is ran on the

[2018-05-14 21:45] victorhora commented on #1772
Hi @quenenni,

@csanders-git is right. If you change your ctl action to the last chained rule it should work in the way your expecting. Using variables/scores shouldn't be mandatory for your case.

This can be verified with the following test ruleset:

[code]

And the rules can be tested like so:

[code]

The request as is should result in anything other than a "deny". But if you change any aspect

[2018-05-14 21:46] victorhora commented on #1772
IMO, I don't think this is a bug but more of particularity of v2, but at this moment I'm not sure exactly which actions have this behaviour. Maybe it's worth checking and updating the manual for v2.

That being said, the note regarding the [chain](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#chain) action may suggest that the logical AND is for disruptive actions:

``

[2018-05-14 21:46] #1772 closed, assigned to victorhora

[2018-05-14 22:02] victorhora commented on #1773
Hi @intelbg

This questions seems more specific with usage of Core Rule Set itself. I would suggest that you look into the resources described at the [README](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/README.md) there. There's some useful material including the best practices to handle false positives with the CRS and ModSecurity.
If you need further help you can also di

[2018-05-14 22:02] #1773 closed, assigned to victorhora

[2018-05-14 22:38] victorhora commented on #1774
@mxmkeep using the SecAuditLog "|/path/to/mlogc /path/to/mlogc.conf" syntax is currently not supported on libModSecurity (v3).

If you need to use mlogC you have to open it using an external process and not relying on ModSecurity. You may also want to check #1589.

Alternatively you may also try with the [SecAuditLogType](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#S

[2018-05-14 22:38] #1774 closed, assigned to victorhora

[2018-05-14 22:45] victorhora commented on #1770
Hi @c0deguard,

As stated at [SecAuditLogType](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecAuditLogType), you just need to "_Use the URL of your endpoint instead of the path to a file._".

So using a configuration like the one below should work and you should see the long entries requests coming in to your endpoint:

[code]

There's no authentication and the data

[2018-05-14 22:45] #1770 closed, assigned to victorhora

[2018-05-15 09:44] mxmkeep commented on #1774
@victorhora thanks for you help, and sending log successful.
by the way, i was confuse of TBI and TBD, full word are?
Supported on libModSecurity: TBI
Supported on libModSecurity: TBD

[2018-05-15 13:19] victorhora commented on #1774
@mxmkeep

TBI = To be implemented
TBD = To be discussed (in the sense that we are not sure if this will be implemented or deprecated on the new version)

:)

[2018-05-17 04:08] victorhora commented on #1733
As mentioned on the chat, the problem is that my test environment was not sane. I've rebuilt it and noticed that I had the same results as @defanator.

I've submitted a proper fix for this at https://github.com/SpiderLabs/ModSecurity/pull/1775. Would again appreciate feedback from you folks. Hopefully I got it right now :)

[2018-05-17 09:40] defanator commented on #1733
@victorhora see my comments in the #1775. It works fine and seems to fix the initial issue.

[2018-05-17 23:04] victorhora commented on #1733
Thanks for the quick turnaround @defanator! :)

Closing this one.

[2018-05-17 23:04] #1733 closed

[2018-05-18 14:00] zimmerle commented on #1754
Hi @LeeShan87,

Within version 3 we have opted to make a plug-able architecture in terms of collections storage. By default we support the in-memory collection, which is an independent storage per process. The sdbm support (compilation flag) allow the communication via shared memory between the different process. There are also tickets opened to support the collections in Memcahe (#1140) and Redis

[2018-05-18 14:42] jmbonnefond opened #1776 "Mod security doesn’t prevent some XSS if Errordocument 404 is activated."
Hi there,

I’ve a strange behavior with mod security and XSS prevention.
I use ModSecurity for Apache/2.9.0; OWASP_CRS/3.0.2 and apache 2.4.12.
I’m testing XSS injection with Firefox 59.0.2.

When I get this URL :  https://www.XXXXX.com/index.php?a=a"><script>alert(1)</script>

Mod security detects it (with rule id 941100) and apply the appropriate answer, (here, a redirect to google for the test)

[2018-05-18 20:17] 1Sara1 opened #1777 "Binary package fails to install on Ubuntu/Debian"
Following directions from:
**https://www.modsecurity.org/download.html**

**sudo apt-get install libapache2-mod-security**

**E: Unable to locate package libapache2-mod-security**

[2018-05-18 22:29] p0pr0ck5 commented on #1754
@zimmerle @victorhora how does one move back and forth between storage engines when SDBM support is compiled in?

[2018-05-19 11:53] LeeShan87 commented on #1754
Hi @zimmerle  and @victorhora!

Thank you for your reply. I have found that compilation flag. And I actively follow the progression of the mentioned to tickets.

My issue is since commit [https://github.com/SpiderLabs/ModSecurity/commit/6f7fdd9493428d68403c8f599948d1a4c75262ea](https://github.com/SpiderLabs/ModSecurity/commit/6f7fdd9493428d68403c8f599948d1a4c75262ea)

I can even use collections.
I

[2018-05-22 09:16] wwd5613 opened #1778 "version 3.0.2 dos protection is not work,and version3.0.0 is ok"
my env: centos7.4,nginx-1.13.12,modsecurity v3.0.2，modsecurity-nignx master, owasp-modsecurity-crs latest version
i want to test dos protection, i set 4 TX variables:DOS_BLOCK_TIMEOUT,DOS_COUNTER_THRESHOLD,DOS_BURST_TIME_SLICE,STATIC_EXTENSIONS
as desc,but it didn't  work. and then i open the debug log config, and add a log at rule 912150.
`SecRule ...  logdata:'realip:%{tx.real_ip} - ip.dos_count

[2018-05-22 11:46] LeeShan87 commented on #1778
Hi!

Having the same problem. This issue is related to #1754 . Since commit [https://github.com/SpiderLabs/ModSecurity/commit/6f7fdd9493428d68403c8f599948d1a4c75262ea](https://github.com/SpiderLabs/ModSecurity/commit/6f7fdd9493428d68403c8f599948d1a4c75262ea) I can't use IP collection at all.

[2018-05-22 12:08] LeeShan87 commented on #1777
Hi,

What is your os version?
libalpache2-mod-security packages available for Debian 7,8,9 [https://packages.debian.org/stretch/libapache2-modsecurity](https://packages.debian.org/stretch/libapache2-modsecurity)
For Ubuntu 14.04, 16,04, 17.10 [https://packages.ubuntu.com/trusty/libapache2-modsecurity](https://packages.ubuntu.com/trusty/libapache2-modsecurity)

[2018-05-22 16:07] jmeile commented on #1441
Hi

I'm also having this problem under Ubuntu 16.04. I rechecked if the file was included twice, but it wasn't.

The problem is that the file:
/usr/share/modsecurity-crs/owasp-crs.load

Does not exist. I get the error:
apache2: Syntax error on line 144 of /etc/apache2/apache2.conf: Syntax error on line 12 of /etc/apache2/mods-enabled/security2.conf: Could not open configuration file /usr/share/mod

[2018-05-23 01:50] sobigboy commented on #1778
I also meet the same problem. `IP` collection does not work, but `GLOBAL` collection works properly

[2018-05-23 02:55] csanders-git commented on #1441
First i'll say we don't package the ubuntu modsec but ...lets break it down piece by piece, we'll get there. Does the /usr/share/modsecurity-crs.load exist on your server? I just did the following (on docker admittedly but it should have the same repo's)

[code]

Seemed to work fine.

[2018-05-23 04:54] nmiller12 opened #1779 "RHEL package does not have working JSON support"
Hi,

I have been trying to get the recently released RHEL modsecurity 2.9 package (https://access.redhat.com/errata/RHBA-2018:0908)  to process JSON requests but am receiving the error: Message: JSON support was not enabled.
I believe this is because the YAJL2 library is not installed by the package. Possibly because there does not seem to be a yajl-devel package available for RHEL.
I believe this

[2018-05-23 10:23] defanator commented on #1697
@zimmerle @victorhora were you able to take a look at this one? Let me know if I could provide anything else here. TIA!

[2018-05-23 11:36] tomascal opened #1780 "Modsecurity can't read a variable in a collection on IIS 8.5"
I'm using IIS 8.5 with ModSecurity 2.9.2.

I've created this rule to detect and block brute-force attacks:

[code]

The problem is that mod security can't read the variable user.co. The part of the debug.log file in which you can check this issue is the following:

[code]

Same rule working on Apache throws the following result in debug.log

[code]

You can see that the rule works well on Apache.

[2018-05-23 17:33] default-kramer commented on #787
Yes please! I just lost 2+ hours trying to figure out why, as soon as I added the <ModSecurity ...> element to my config file it just stopped working. Especially confusing when the installed readme (gets intalled to C:\Program Files\ModSecurity IIS\README.TXT) says that this should work!

Looks like a very easy change to make at https://github.com/SpiderLabs/ModSecurity/blob/caadf97524a4861456be17

[2018-05-23 19:11] victorhora commented on #787
Hi @default-kramer,

Thanks for your input here. I didn't had the time to test this yet, but if you have confirmed that this works for you as well, please go ahead and make a PR and I'll review it and hopefully be able to put it out before 2.9.3 to help others facing similar issues.

[2018-05-23 21:36] victorhora commented on #1779
Hi @nmiller12,

I didn't had the chance of testing this on my own, but the problem is really the absence of the YAJL library there.

Other than the dependencies list, I've checked the spec file for [mod_security-2.9.2-1.el7.src.rpm](http://yum.oracle.com/repo/OracleLinux/OL7/latest/x86_64/getPackageSource/mod_security-2.9.2-1.el7.src.rpm) and it's missing YAJL:
[code]

This might be due the missin

[2018-05-23 21:44] bostrt commented on #1779
@nmiller12 there are two separate issues for this filed in RH's bugzilla:

https://bugzilla.redhat.com/show_bug.cgi?id=1372797 (RHEL 6)
https://bugzilla.redhat.com/show_bug.cgi?id=1375360 (RHEL 7)

The RHEL 6 one was closed, check the first reply for why.

I'll defer to @dkopecek  regarding the RHEL 7 bz closure.

[2018-05-23 22:01] bostrt commented on #1779
I should also mention that you should be able to compile mod_security on RHEL 7 with JSON support enabled since there is a yajl-devel 2.x available.

[2018-05-23 23:24] nmiller12 commented on #1779
Thanks for the quick reply @victorhora. I will check with Daniel Kopecek to see if this issue can be resolved. From the links bostrt has added, hope of a fix is not high:
"Will JSON support be included?
mod_security utilizes libyajl for JSON support. However, since the libyajl project is no longer maintained in upstream community, Red Hat cannot maintain an enterprise ready product by linking liby

[2018-05-23 23:34] troykelly opened #1782 "Unable to SecRuleRemoveById - being ignored"
Version 3
I can't seem to disable rules using **SecRuleRemoveById**
[code]
Log:
[code]

[2018-05-24 11:30] yeyouli opened #1784 "In phase:4, Disruptive actions is set to deny,Connection will be reset."
Hello,
        We are running https://github.com/SpiderLabs/ModSecurity/releases/tag/v3.0.2 and https://github.com/SpiderLabs/ModSecurity-nginx/releases/tag/v1.0.0 with openresty/1.13.6.2.
 I'm attaching the rule set + modsecurity configuration as well.

When I tested the rules, I discovered that in phase:4 I turned the disruptive actions 'pass' to 'deny', the return page was not 403, but the conn

[2018-05-24 13:45] NisariAIT commented on #853
@theMiddleBlue / @zimmerle ,
How did you solve this?
I have the same issue: I compiled nginx with modsecurity and headers_more_module and stopped getting Server: nginx. But later when I enabled modsecurity in the nginx configuration, the header shows up again in the response. When I disable modsecurity, I see that the header is hidden.
Could you please enlist the steps to completely stop showing t

[2018-05-24 14:54] troykelly commented on #1782
The following also does not work

[code]

[2018-05-24 15:12] troykelly commented on #1782
With specific logging...
[code]
 I can see the rules are being ignored - so I am not sure why they are actually still being processed, and why the 403 is being returned.
[code]

[2018-05-24 15:32] zimmerle commented on #853
Hi @NisariAIT,

One option is to use the nginx connector:
https://github.com/SpiderLabs/ModSecurity-nginx

Did you had the opportunity to try it?

[2018-05-24 19:36] p0pr0ck5 commented on #1784
@yeyouli what's in the contents of your Nginx error log?

[2018-05-24 20:52] victorhora commented on #1779
Ok. Closing this one based on @bostrt and @nmiller12 comments.

Thanks @bostrt!

[2018-05-24 20:52] #1779 closed, assigned to victorhora

[2018-05-24 22:29] victorhora commented on #1777
@1Sara1 please check the links provided by @LeeShan87. You might also be missing some configuration on your [sources.list files ](https://wiki.debian.org/SourcesList).

[2018-05-24 22:29] #1777 closed, assigned to victorhora

[2018-05-25 02:03] yeyouli commented on #1784
@p0pr0ck5 Thank you for your reply,
Here is the nginx error log in debug mode

2018/05/25 09:52:03 [notice] 49429#49429: signal process started
2018/05/25 09:52:10 [notice] 49357#49357: signal 15 (SIGTERM) received from 49429, exiting
2018/05/25 09:52:10 [notice] 49358#49358: exiting
2018/05/25 09:52:10 [notice] 49359#49359: exiting
2018/05/25 09:52:10 [notice] 49360#49360: exiting
2018/05/25 09:5

[2018-05-25 02:51] XuanHuyDuong opened #1785 "Failed when checking null value"
Hello dev team,

I'm using Nginx + Modsecurity v3/master. I found an error when checking null value. I checked User-Agent value with operator "^$". Here is result:
![image](https://user-images.githubusercontent.com/23336520/40523428-a823e78a-5fff-11e8-94a5-10a0c5e79b47.png)

As you see, User-Agent value is null but result of this rule is false. I checked it using CRS regression. Here are rule and

[2018-05-25 09:51] tomascal commented on #1780
Hello again,

I've been doing different tests and it seems that the problem is that modsecurity is not able to read RESPONSE_STATUS. In the debug file the target value is "0". Does anybody know something about that?

Thanks!!

[2018-05-25 10:34] nmiller12 commented on #1779
I have heard back from Daniel Kopecek who confirms that the modsecurity RHEL package will not have JSON support because the yajl project is no longer maintained.
Maybe modsecurity will use a different JSON library in the future that meets the RHEL requirements.

[2018-05-28 20:56] zimmerle commented on #787
Merged! Thanks!

[2018-05-28 20:56] #787 closed

[2018-05-29 02:27] johnfilo commented on #1767
As a work around, would chaining rule 200001 like below exclude it from processing the request body on GET requests that FWR include the Content-Type: application/json header

BEFORE:
SecRule REQUEST_HEADERS:Content-Type "application/json" \
     "id:'200001',phase:1,t:none,t:lowercase,pass,nolog,ctl:requestBodyProcessor=JSON"

AFTER:
SecRule REQUEST_HEADERS:Content-Type "application/json" \

[2018-05-29 03:35] troykelly commented on #1767
I will have to see if I can do that from the nginx config (I'm new here - not so great at rules and configs) and give it a go.
We are trying to stick to a generic container with all rules - and then exceptions for specific paths/locations only.

[2018-05-29 06:21] victorhora commented on #1785
Hi @XuanHuyDuong,

I can confirm this issue.

It seemed like [Regex::searchAll](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/utils/regex.cc#L74-L108) which is called by the @rx operator [here](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/operators/rx.cc#L56) was not getting added to [retList](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/utils/regex.c

[2018-05-29 12:37] NisariAIT commented on #853
Thank you so much @zimmerle ! The server header is not displayed when I compiled modsecurity with the nginx connector.

[2018-05-29 18:32] victorhora commented on #1782
Hi @troykelly

Thanks for your report, but It seems like I can't to reproduce your issue.

I've tried different scenarios with loading the CRS and SecRuleRemoveById on different NGINX contexts (http{}, location{} etc) and the exclusion works fine here.

I'm wondering if maybe some other rule is triggering the 403? Can you provide more logging information and your nginx.conf / modsecurity.conf in a

[2018-05-29 19:31] victorhora commented on #1754
We are investigating this one. Reopening...

Also seems related with #1778

[2018-05-29 20:24] victorhora commented on #1778
Thanks for the report. #1754 has been reopened and this issue is related with it. We are working on a fix and will follow up on #1754.

[2018-05-29 20:24] #1778 closed, assigned to victorhora

[2018-05-29 22:04] victorhora commented on #1784
HI @yeyouli,

This is known issue with Nginx-connector where phase:4 processing still have some rough edges.

I'm not sure if this works for you as a temporary workaround, but setting a 403 for phase:3 is working fine.

Please refer to https://github.com/SpiderLabs/ModSecurity-nginx/pull/84 for related issues and proposed changes being evaluated for fixing response body processing, and please foll

[2018-05-29 22:04] #1784 closed, assigned to victorhora

[2018-05-30 17:49] zimmerle commented on #1754
fixed by 892beb5

[2018-05-30 17:49] #1754 closed, assigned to zimmerle, victorhora

[2018-05-31 09:51] LeeShan87 commented on #1754
Hi,
It seems IP collection is working again. Thank you for your help @zimmerle and @victorhora.

A good to know notice:
Collection names are case insensitive. ip,Ip,IP means the same collection.
If you create a variable in a collection, it's case sensitive.
So if we create a ip.auth_attempt, than we need to use it like: ip:auth_attempt. Not like previously IP:AUTH_ATTEMPT.

[2018-05-31 12:44] zimmerle commented on #1754
Humm... good catch @LeeShan87 i am going to have a look on ti. Thanks.

[2018-05-31 14:15] doppelt opened #1789 "Log file not closing"
Hi

I want to report a bug in a new plesk extension:

its the \'application \'firewall utility (modsecurity)\'

after its installed and turned on, if you click on the app link under tools/security

there is a link at the bottom of the page to view the\' Log\'

but if you click on the log to view it, a pop up windows appears, but that window does never close. only if you exit the plesk panel and lo

[2018-05-31 15:18] zimmerle commented on #1789
Hi @doppelt,

I am afraid that this is not the best place to open this issue. I would recommend you to open it under the "Plesk" project as this extension is not built nor maintained by us. Therefore there is no much we can do about it. Hope you understand.

[2018-05-31 15:18] #1789 closed, assigned to zimmerle

[2018-06-03 13:05] fabianfrz opened #1791 "v3/master: build issue - autoconf"
the autoconf build instructions seem to be having a bug or the version is incompatible with current autotools version.

## autoconf version:
`autoconf (GNU Autoconf) 2.69`

## configure

[code]

## autoconf

[code]

[2018-06-04 23:02] tinselcity opened #1793 "msc_xxxx: off by one heap overflow"
**edited by zimmerle:** content will be placed back as soon as we fix it.

[2018-06-04 23:09] zimmerle commented on #1793
Hi Reed,

Even having a very small number of users affected (if any) we prefer to receive anything related to security, reported over security@modsecurity.org.

But thanks for let as know. I am editing the issue to remove the content till we got it fixed.

[2018-06-04 23:20] tinselcity opened #1794 "detect_utf8_character: logic error"
I think for the "compute character number" the "...0x3F) < 6)" [here](https://github.com/SpiderLabs/ModSecurity/blob/0e2ec1c14f23f440580c0a41f9c0efe2b4952946/apache2/re_operators.c#L4324) should have been a left bit shift "...0x3F) << 6)"

[code]
Apologies if I'm mistaken

[2018-06-04 23:24] tinselcity commented on #1794
FYI that might also be present in v3 [here](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/operators/validate_utf8_encoding.cc#L89)

[2018-06-04 23:47] tinselcity opened #1795 "query string with slashes changes REQUEST_BASENAME value"
I realize this is invalid but we had an issue with a user url that had unencoded forward slashes in the query string getting interpreted as the **REQUEST_BASENAME** for a request

eg:
https://mycoolwebsit.com/my_app.asp?apath=/my/cool/path.com

**REQUEST_BASENAME** would end up being **path.com** although I think it should have been **my_app.asp**.

I think it's due to basename determination [here

[2018-06-05 00:14] tinselcity opened #1796 "snort/suricata interpreter mangles data files with pipes in the strings"
We're having an issue where **pmf** operator will interpret pipes `|` in the data files as snort/suricata data and will interpret the remainder of the string as binary.

So a string like:
[code]
in a data file -meant to catch signatures in payloads will become something like:
[code]
eg
[code]

Is there a way to disable the snort/suricata interpreter and just add the strings as is to the Aho–Corasi

[2018-06-05 09:05] jmeile commented on #1441
Dear  csanders-git

The problem is that both files:
/usr/share/modsecurity-crs.load
/usr/share/modsecurity-crs/owasp-crs.load

Doesn't exist. I purged the packages:
`apt-get purge libapache2-mod-security2 modsecurity-crs`

then reinstall them again:
`apt-get install libapache2-mod-security2 modsecurity-crs`

But the files won't be created. I get this while running the last command:
[code]

I'm get

[2018-06-05 13:13] dune73 opened #1797 "ModSecurity 3.0 fails with ctl:requestBodyProcessor=URLENCODED"
Enforcing URLENCODED body processor results in startup failure:

`Expecting an action, got:  ctl:requestBodyProcessor=URLENCODED"`

Enforcing JSON body processor works alright.

CRS 3.1 is going to have a rule that enforces the URLENCODED body processor when there is a body, but no content-type. Eventually, we would like to have this rule in the recommended-rules, but for the time being, we plan t

[2018-06-05 20:56] zimmerle commented on #1629
Fixed by 202a15b. Thanks!

[2018-06-05 20:56] #1629 closed

[2018-06-05 21:50] tonyzeng91 opened #1798 "ModSecurity causes application to crash when uploading files > 10kb"
We have a WAF with nginx and modsecurity. When uploading files bigger than 10kb it causes the application to crash. We have the default modsecurity configuration. Any idea on what is causing this issue?

[code]

[2018-06-05 22:05] zimmerle commented on #1798
Hi @tonyzeng91, Can you share with us the version of your ModSecurity?

[2018-06-06 13:29] tonyzeng91 commented on #1798
Hi @zimmerle we are using modsecurity 2.9 version.

[2018-06-06 23:40] tinselcity opened #1799 "potential off by one in parse_arguments"
In parse arguments in the length check [here](https://github.com/SpiderLabs/ModSecurity/blob/71f650ad48c8b92ddf76817a86824b66a431a0d5/apache2/msc_parsers.c#L269)

[code]
The bounds checking happens after the deref s[i] -so if i == inputlength the deref on the buffer in s will run off the end before the bounds check (i < inputlength)

[2018-06-13 06:56] NisariAIT opened #1800 "Custom rules in 2.9.0 not working with 3.0.0"
The custom rules that I used earlier with 2.9 version of modsecurity does not work with new compilation(modsecurity v3.0 and connector). The error that I receive while restarting nginx is:

`SecRuleUpdateActionById is not yet supported  in /usr/local/nginx/conf/nginx.conf:49`

 Is there anything that I should change for this error to be fixed? My custom rule is as follows: `SecRuleUpdateActionById

[2018-06-13 09:26] defanator commented on #1697
@zimmerle @victorhora ping :)

[2018-06-13 16:31] calve commented on #715
hi, had a bit trouble to find this issue while trying to sanitize/sanatize my audit log on libmodsecurity. @zimmerle, is there any particuliar reason that the first `i` in `sanitise` mutated to an `a` (`sanatise`) at https://github.com/SpiderLabs/ModSecurity/blob/077b18252ffab347156a56e651120248cc4491ef/src/parser/seclang-scanner.ll#L119

[2018-06-13 23:05] nathanstretch opened #1802 "setenv not effective, and 'deny' still loads page"
Using ModSecurity 2.9.2 on Apache 2.4.33. I've simplified the situation as far as possible, but have run into a wall. I'm working within a virtualhost config. Here's what I'm trying to do:

[code]
With no other rules, this should always set the X-Debug header, but it doesn't. To try to figure out why, first I deleted the SecAction and just did this:

[code]
Sure enough, the header was set in that

[2018-06-14 00:13] nathanstretch commented on #1802
It appears this has something to do with using mod_proxy_fcgi (which we use to serve php scripts via php-fpm).  When I test on straight html files, the setenv does appear to work.  However, the status codes don't work.  When I set 'deny' for an html file, it returns 404, regardless of the status code I specify.  (As I mentioned, status codes work properly on php files, but the 'deny' doesn't preve

[2018-06-14 08:26] sobigboy opened #1803 "ModSecurity collection expirevar does not work"
When I use collection 'IP', the variable in collection never expire even if I restart nginx.
The variable  in collecion expired unless I remove the files:`modsec-shared-collections` `modsec-shared-collections-lock` in disk,

[2018-06-15 21:12] Daijobou commented on #652
I have modsecurity 2.9.2-1.el7 and this issue too. What can I do? I use plesk 17.5.x

[2018-06-15 22:01] Daijobou opened #1804 "issue with MULTIPART_UNMATCHED_BOUNDARY [id "200003"] v2.9.2"
I get with upload a image this error:

like https://github.com/SpiderLabs/ModSecurity/issues/652

I upload simple with
`<form action="myupload" method="post" accept-charset="utf-8" enctype="multipart/form-data"><input type="file" name="image"><button type="submit" name="submit">Upload</button></form>`

one of many many many image-files with this error "--"

![2018-06-15_18_26_19-greenshot](https:/

[2018-06-18 00:59] LawAbidingCactus opened #1805 "Cannot configure nginx-connector on Centos 7 using the Centos 7 minimal recipe"
[code]

The other issues on this reference not setting ```MODSECURITY_INC="/opt/ModSecurity/headers/"``` and ```MODSECURITY_LIB="/opt/ModSecurity/src/.libs/"```, but I've made sure I set them, and it still refuses to work.

[2018-06-18 13:16] zimmerle commented on #1805
Hi @LawAbidingCactus,

Did you had the chance to actually executed the "make install" on libmodsecurity?

[2018-06-18 13:26] #779 closed, assigned to nobody

[2018-06-18 13:28] zimmerle commented on #1798
Hi @tonyzeng91,

This issue was a duplicate of #839. You may upgrade to ModSecurity version 3.

- https://github.com/SpiderLabs/ModSecurity-nginx

[2018-06-18 13:28] #1798 closed, assigned to zimmerle

[2018-06-18 13:48] LawAbidingCactus commented on #1805
I thought I did, but apparently I did not. This resolved the issue. Thank you!

[2018-06-18 13:56] zimmerle commented on #1804
Related to #1747

[2018-06-18 19:45] #1805 closed, assigned to zimmerle

[2018-06-19 01:17] zimmerle commented on #1785
Fixed at: fd8e72fd9762d7292866e77a03af70dad27127eb

[2018-06-19 01:17] #1785 closed, assigned to zimmerle, victorhora

[2018-06-20 09:07] theMiddleBlue opened #1808 "setvar tx.paranoia_level on v3/master ignored"
Referencing here an issue open on owasp-modsecurity-crs that it seems related to libmodsecurity v3/master:  https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1127

[2018-06-20 09:45] gagandeepsingh485 commented on #715
@zimmerle : Any timelines on when will we be having support for the following actions ?
ACTION_SANATISE_ARG
ACTION_SANATISE_MATCHED
ACTION_SANATISE_MATCHED_BYTES
ACTION_SANATISE_REQUEST_HEADER
ACTION_SANATISE_RESPONSE_HEADER

So our major use case is to filter out certain sensitive content from the logs. Is there any alternate way to do these things in V3 or should we just go back to the older ver

[2018-06-20 14:08] theMiddleBlue opened #1809 "v3/master Lua unknown error"
Hi,

I've a problem using `exec:` or defining a `SecRuleScript` with a test Lua script. Following my configurations and test:

Rule:
[code]

My test Lua script:
[code]

In both cases I got an empty response and an unknown error makes nginx workers to crash:

modsecurity debug log:
[code]

nginx error.log
[code]

I've try to run my script and it works:
[code]

Any idea? Am I doing something wrong?

[2018-06-20 15:38] p0pr0ck5 commented on #1809
@theMiddleBlue, what version of Nginx and modsecurity are you running? Can you show

- the output of the libmodsecurity `./configure`
- the output of `nginx -V`
- the core dump backtrace (see https://www.nginx.com/resources/wiki/start/topics/tutorials/debugging/#core-dump)

[2018-06-20 15:47] theMiddleBlue commented on #1809
./configure
[code]

nginx -V
[code]

Core dump:
[code]

[2018-06-20 15:55] p0pr0ck5 commented on #1809
I _suspect_ this is a conflict with OpenResty's integration of LuaJIT, but I'm not certain. It might be worth trying to build libmodsecurity with OpenResty's LuaJIT (yes, there's a bit of chicken-and-egg if you're using the standard OpenResty build lifecycle).

[2018-06-20 16:11] p0pr0ck5 commented on #1809
Actually, it's probably best not to try to make this work at all, given that Lua 5.1 (and thus LuaJIT) are [unsupported by libmodsecurity ](https://github.com/SpiderLabs/ModSecurity/issues/1622). Whatever logic you need in Lua, probably best just to stick to OpenResty directly. Or better yet, use a [WAF written specifically for OpenResty](https://github.com/p0pr0ck5/lua-resty-waf) ;)

[2018-06-20 16:40] victorhora commented on #1809
I can't remember if I've tested this before, but recent versions of LuaJIT seems compatible with Lua 5.2 according to [luajit.org](https://luajit.org/extensions.html). You might want to try with DLUAJIT_ENABLE_LUA52COMPAT.

[2018-06-20 16:44] p0pr0ck5 commented on #1809
@victorhora 5.2 compatibility is already enabled by default with all modern OpenResty releases.

[2018-06-20 18:04] csanders-git commented on #1808
thanks for opening this @theMiddleBlue

[2018-06-20 18:17] theMiddleBlue commented on #1809
thanks @p0pr0ck5 and @victorhora

my purpose was to generate logs in the "modsecurity auditlog format" (json) for some Lua scripts that I use with the nginx_lua_module in openresty. Maybe I need to create the same modsec auditlog JSON using nginx_lua_module :/

[2018-06-20 23:03] victorhora commented on #1808
Indeed, it seemed like the variables were being treated as case sensitive, but according to v2 behaviour and the [reference manual](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#setvar) should be case insensitive.

PR #1810 is up for evaluation and should fix this issue.

[2018-06-20 23:17] victorhora commented on #1809
I might have misunderstood you (or the issue) @p0pr0ck5, but I thought that you meant that libModSecurity is not supporting LuaJIT?

I'm not affirming that it does or does not support, I was mentioning that by glancing at the current docs of LuaJIT I believe that it might work out of the box. It would be neat if you could share your thoughts here as I didn't had the chance of testing it yet. Thank

[2018-06-21 00:39] victorhora commented on #1697
Sorry @defanator, getting back to this now. Will provide my the result of my testing here as well. Thanks!