[2018-06-21 03:19] p0pr0ck5 commented on #1809
I will do some testing @victorhora, but the build chain at this point offers no way for libmodsecurity to look for a custom path for Lua headers/objects, nor does it appear to support LuaJIT. So anyone wanting to leverage LuaJIT is out of luck at this point without hacking the configure script.

[2018-06-21 04:06] eternal-flame opened #1811 "Wrong field of msr variable when create new module for modsecurity 2.9"
When i attached this example https://github.com/SpiderLabs/ModSecurity/blob/v2/master/ext/mod_var_remote_addr_port.c into Modsecurity to learn how to create custom modules, the whole apache went down with error log "[Thu Jun 21 10:06:25.009395 2018] [core:notice] [pid 17836] AH00051: child pid 17840 exit signal Segmentation fault (11), possible coredump in /etc/apache2".

After some try modified t

[2018-06-21 09:29] danielwrayois opened #1812 "ModSecurity converting £ (%C2%A3) from query string to `ARGS:note' (Value: `\xffffffc2\xffffffa3' )"
Hi,

We are seeing an issue with our application and ModSecurity when using specific characters, such as £, and € symbols.

Our application performs a POST request with a body that is parsed without issue, however it also includes a query string as part of that POST request, which is being caught by ModSecurity and evaluated as being outside of the acceptable byte range.

We have tried setting the

[2018-06-21 11:51] dune73 opened #1813 "Proposal to enforce requestBodyProcessor=URLENCODED via recommended rules"
The bypass is obvious. An attacker omits the content-type header, ModSec does not know which request body processor to use, the attack goes undetected, the backend makes a guess what to do with the request body and bingo.

The upcoming CRS 3.1 includes an optional rule to enforce URLENCODED when no body processor is set:

[code]

However, this brings a behaviour change of the engine. And we would

[2018-06-21 13:44] danielwrayois commented on #1812
Hi,

After a bit more investigation it looks as if the decoding from UTF-8 of two bytes or more to ASCII isn't working.

We have tested all characters allowed in the lookup table up to ASCII character 126 that are of one byte UTF-8, after that no further characters work when using UTF-8 encoding in the query string ARGS or the REQUEST_URI.

[2018-06-21 15:40] p0pr0ck5 commented on #1809
Some brief updates:

I was able to reproduce the segault reported by @theMiddleBlue this morning with the following Nginx config snippet:

[code]

[code]

And pretty easy to see why:

[code]

Meanwhile the same config with vanilla Nginx 1.15.0 works just fine, with the expected error msg:

[code]

Next step was to modify the autogenerated Modsecurity configure script to look for the OpenResty-incl

[2018-06-21 16:05] p0pr0ck5 commented on #1809
Okay, a bit more hacking and I've got this working as PoC.

First, I edited the autogenerated configure script to replace the `WITH_LUA_5_1` def with `WITH_LUA_5_2`, to simplify things. Then I tweaked the few places where there was a compiler failure:

[code]

This diff is absolutely not correct and needs a lot of work (particularly the `#ifndef WITH_LUA_5_2`), but it covers the failures. After th

[2018-06-22 12:11] muzammel111 opened #1815 "When will modsecurity version 3 availble for download on modsecurity website"
Dear All,
I am currently using modsecurity version 2.9.2, as i see the version 3.0.0 announcement on modsecurity website but its still not available to download from https://www.modsecurity.org/download.html , only download option from github website.  I want to know when download of version 3 will available from modsecurity website like version 2.9.2  https://www.modsecurity.org/tarball/2.9.2/mod

[2018-06-22 14:09] zimmerle commented on #1815
Hi @muzammel111,

We are slowing move everything towards GitHub. Starting with v3 the releases will be only published on GitHub. You can find the releases details here:

- https://github.com/SpiderLabs/ModSecurity/releases

[2018-06-22 14:09] #1815 closed, assigned to zimmerle

[2018-06-23 06:59] tsyj commented on #1800
Is there a plan to support the SecRuleUpdateActionById directive in the near future?

[2018-06-23 07:00] smart0088 commented on #1800
Is there a plan to support the SecRuleUpdateActionById directive in the near future? @zimmerle

[2018-06-23 07:29] NisariAIT opened #1816 "Logging errors in modsecurity 3.0"
By default, logs are not being written in modsecurity 3.0. Is there anything that should be turned on for logging errors?

[2018-06-23 10:12] NisariAIT commented on #1816
Closing this as the issue is already open here: [no message in log and auditlog #58](https://github.com/SpiderLabs/ModSecurity-nginx/issues/58)

[2018-06-23 10:12] #1816 closed, assigned to nobody

[2018-06-23 19:22] muzammel111 commented on #1815
Thankyou so much Mr. zimmerle  for quick response. So its mean modsecurity.org will obsolete soon ?.  And official modsecurity code etc based on github ?

[2018-06-24 11:00] Archerkong commented on #1630
Hi@zimmerle
My run of ./build.sh shows this:
[root@192-168-0-45 ModSecurity]# ./build.sh
libtoolize: putting auxiliary files in `.'.
libtoolize: copying file `./ltmain.sh'
libtoolize: putting macros in AC_CONFIG_MACRO_DIR, `build'.
libtoolize: copying file `build/libtool.m4'
libtoolize: copying file `build/ltoptions.m4'
libtoolize: copying file `build/ltsugar.m4'
libtoolize: copying file `build/lt

[2018-06-24 14:47] theMiddleBlue opened #1817 "v3/master chained SecRule using RESPONSE_HEADERS"
Hi,

Is there a problem using RESPONSE_HEADERS as the last rule in a chain. Examples:

Test response with 2 `Set-Cookie` response headers:
[code]

**Not working** chained rules:
[code]

**Not working** debug output:
[code]

It seems that it works only if I put the `&RESPONSE_HEADERS:Set-Cookie` as the first rule of the chain... is it an expected behavior?

**Working** rules:
[code]

**Working** de

[2018-06-24 17:48] theMiddleBlue commented on #1817
solved by placing all rules on the same phase. I think it's the intended way for chained rules, but this detail is not present on the wiki :/ sorry

[2018-06-24 17:48] #1817 closed, assigned to nobody

[2018-06-25 19:38] michaelgranzow-avi opened #1818 "TX.partial_match returned when TX.partial requested"
[code]
The second (chained) rule should never fire because there is no variable 'TX.partial', only 'TX.partial_match'. But it does fire:

[code]

[2018-06-25 19:53] zimmerle commented on #1818
Hi @michaelgranzow-avi,

Thank you. We already saw your comments on victor`s pull request. It is on our queue to be fixed.

[2018-06-26 06:54] michaelgranzow-avi commented on #1818
This change fixes both issues (the partial match and the performance degradation) by going back to the original code:

[code]

[2018-06-26 07:57] muzammel111 opened #1819 "Need help to upgrade modsecurity from 2.9.2 to 3.0.2"
Dear Forum,

I need guidance about upgrade of manually compile modesecurity from version 2.9.2 to 3.0.2, can i remove the currently version (2.9.2) firstly by using make clean && make uninstall ? or just direct compile & make of new version (3.0.2) to take effect? .

[2018-06-26 09:32] galehar commented on #537
I have the same issue. 5 years later, is it still a hardcoded limitation? Is changing the source and recompiling the only solution to having truncated log messages?
Thanks.

[2018-06-26 12:13] michaelgranzow-avi commented on #1818
Proposed fix: https://github.com/SpiderLabs/ModSecurity/pull/1820 - this would make https://github.com/SpiderLabs/ModSecurity/pull/1810 unnecessary.

[2018-06-26 13:28] zimmerle commented on #537
@galehar You may want to read the info from the audit logs, there it wont be truncated. The idea of the debugging logging is to facilitate the process to write rules. In this use case, is unlikely that you need the entire content. If so, we recommend the AuditLogs.

[2018-06-26 13:31] galehar commented on #537
Sorry, I misread the description. My problem wasn't related to debug logs but caused by an outdated logger. Thanks for the quick response anyway.

[2018-06-26 17:19] zimmerle commented on #1818
fixed by: d810de9166794be2bee972fffb0e09cb0b8d6ec5

[2018-06-26 17:19] #1818 closed, assigned to zimmerle

[2018-06-26 17:19] zimmerle commented on #1808
fixed by: d810de9166794be2bee972fffb0e09cb0b8d6ec5

[2018-06-26 17:19] #1808 closed, assigned to victorhora

[2018-06-26 17:26] zimmerle commented on #1819
Hi @muzammel111,

It is safe to install the libModSecurity in parallel to version 2.x. You may want to keep the v3-only when compiling the nginx connector.

For the compilation itself, there are some recipes here:
https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes-for-v3.x

[2018-06-26 17:26] #1819 closed, assigned to zimmerle

[2018-06-26 17:33] zimmerle commented on #1630
Hi @Archerkong,

I don't think it is related to the build process. In any case, you may want to run the `make check` to confirm that everything is working as expected. If you still have trouble i wold like to invite you to open a new issue to discuss the problem.

[2018-06-26 17:33] #1630 closed

[2018-06-26 17:36] zimmerle commented on #1815
Hi @muzammel111,

We are just avoiding to maintain the download in two different places, since v3 users are more concentrated on GitHub, it became a natural choice. But the website won't be discontinued.

[2018-06-26 17:39] zimmerle commented on #1800
Hi @tsyj,

Trying to have it implemented for v3.0.3. Placed the milestone label.

[2018-06-26 17:46] zimmerle commented on #1811
Hi @eternal-flame,

It smells like you have a version mismatch. Please double check if your Apache and apr versions are the same in compilation and run time.

You can verify ModSecurity startup information on the error log. It should tell you if there is such mismatch.

[2018-06-26 17:46] #1811 closed, assigned to zimmerle

[2018-06-26 17:50] zimmerle commented on #1791
Hi @fabianfrz,

Make sure that you also have the automake installed. Where did you got the build instructions from?

[2018-06-26 17:50] #1791 closed, assigned to zimmerle, victorhora

[2018-06-26 17:51] zimmerle commented on #1782
Closing this issue as @victorhora was not able to reproduce it, and it is almost a month without feedback.

[2018-06-26 17:51] #1782 closed, assigned to victorhora

[2018-06-26 19:10] zimmerle commented on #1767
Regression test to reproduce that issue: https://gist.github.com/zimmerle/7cd25538a7f2a1b7fa977d4b0b8dc5e3

[2018-06-26 19:19] zimmerle commented on #1767
I am not sure if that is a bug or a feature. After all, the header is telling ModSecurity that there is o JSON to come and it never came, so it naturally raise: _parse error: premature EOF\x0a_. Similar to the scenario described on: #1392.

I think the suggestion given @johnfilo is valid and it has a semantic in the context of the application in question. Therefore, I am closing this as an issue,

[2018-06-26 19:19] #1767 closed, assigned to zimmerle, victorhora

[2018-06-26 20:18] fabianfrz commented on #1791
I used the common automake commands since the repository does not contain build instructions. As an Arch Linux user I do have a very new autotools version. It sometimes has compatibillity issues with old autotools files.

[2018-06-26 20:47] zimmerle commented on #1791
Hi @fabianfrz,

Indeed we don't have specific instructions/recipes for every distro, however we provide a generic instructions here:

- https://github.com/SpiderLabs/ModSecurity/tree/v3/master#unix-linux-macos-freebsd-

You should be fine with ArchLinux, that is what I use on the daily bases.

[2018-06-27 03:12] eternal-flame commented on #1811
Thank you very much, it's exactly what happen!

[2018-06-28 10:23] intelbg opened #1824 "400 bad request, modsecurityV3 in nginx"
Hello, I would like to ask for your help about one big problem that I think it's related to case #1767, but I am not completely sure.

First of all, you can review my modsecurity.conf, crs-setup.conf and debug log in the attached files (see the part related to domain SmileWear.eu and uploaded file is  success-is-my-duty.jpg
[debug.log.txt](https://github.com/SpiderLabs/ModSecurity/files/2144845/de

[2018-06-28 12:45] zimmerle commented on #1824
Hi @intelbg,

The field _data_ from your log is empty. I have the feeling that  this is about a different thing. May be related to af4afd348c6fcd65279d119d76e39b68ab99c879. I am investigating.

[2018-06-28 12:49] zimmerle commented on #1824
Can you try to generate a debug file with a broken upload?

[2018-06-28 14:05] intelbg commented on #1824
@zimmerle Thank you for your immediately help! I did a git pull after your email and with all patches and changes including  af4afd3 problem still exists, so I attach you a broken upload debugging log on level 9.
[debug.log.txt](https://github.com/SpiderLabs/ModSecurity/files/2145613/debug.log.txt)

I am waiting for your reply!

[2018-06-28 17:37] zimmerle commented on #1824
Here is the problem:

[code]

Since it does not find the final boundary it is marking the request body as invalid. Do you have access to the request using tcpdump/wireshark?

[2018-06-28 22:54] meetug opened #1825 "Filename* parameter not supported in Content-Disposition header"
I tried the following request with the latest ModSec code with nginx/1.13.5 and CRS 3.0. It looks like the multipart parser does not support extension notation (RFC 5987) for filename parameter. I am getting the following error:

Error:
-----

ModSecurity: Access denied with code 400 (phase 2). Matched "Operator `Eq' with parameter `0' against variable `REQBODY_ERROR' (Value: `1' ) [file "modsecur

[2018-06-29 11:38] intelbg commented on #1824
To fix the 400 error I did chown nobody:nobody of the upload directory, but then every file no matter if it's a hack or a regular one is forbidden and hit the following rule, so I still think that you are right - there is a problem with MULTIPART_UNMATCHED_BOUNDARY. The question remains if the problem is in the code and how to fix it.

2018/06/29 14:11:20 [warn] 29031#0: *26 [client 94.156.138.51]

[2018-06-29 19:14] allanbomsft commented on #1392
Even putting a content-type and content-length on a GET seems strange. But also seems harmless though.

[2018-06-29 19:42] zimmerle commented on #1392
That may open a possibility to a bypass. Lets say that ModSecurity ignores the header, and the end application is somehow affected by it.... as suggested in the linked issues, it seems like the better way to deal with this is via SecRule. As it is closer to the end user, better place to understand the semantic of the empty JSON content in the end application.

There is another perspective: an empt

[2018-06-29 21:12] allanbomsft commented on #1392
But then why do we allow empty XML or empty form/multipart?

[2018-06-30 21:38] Stono commented on #1663
With mod security:
<img width="689" alt="screen shot 2018-06-30 at 22 19 35" src="https://user-images.githubusercontent.com/1486729/42129208-03f15b24-7cb6-11e8-82f8-f3302ed3c861.png">

Without mod security:
<img width="712" alt="screen shot 2018-06-30 at 22 24 20" src="https://user-images.githubusercontent.com/1486729/42129209-0e60ff42-7cb6-11e8-932d-4b30dea5f2ef.png">

:(

[2018-07-02 13:28] markblackman opened #1827 "mod_security 2.9.2 appears to truncate POST bodies when using mod_proxy_ajp and mod_jk when using ProcessPartial"
We configure our POST body limit as follows

[code]

We can then see on the backend that the resulting request is truncated to the SecRequestBodyLimit 4096

[2018-07-02 13:51] zimmerle commented on #1827
Hi @markblackman,

The configuration  **SecRequestBodyLimit** limits the amount of bytes of the request body to be inspected. That in the expected behavior.

[2018-07-02 13:59] zimmerle commented on #1663
Hi @Stono

The way that your configure your rules play a big hole in the memory usage. For a larger rule set our recommendation is to having the rules loaded on the server context, so that every _vhost_ got the benefit of using it without loading the rules in to memory again. Share your configuration file on gists. We may be able to help you.

Also make sure that you have at very least: eed6b5f86d

[2018-07-02 15:03] iamenderst commented on #652
Also happens on 3.x. For 3.x, instead of disabling 200003 or 200004, why not change 200004 to allow and log? Works for me.
Change:
`SecRule MULTIPART_UNMATCHED_BOUNDARY "!@eq 0" \
"id:'200004',phase:2,t:none,log,deny,msg:'Multipart parser detected a possible unmatched boundary.'"`
To:
`SecRule MULTIPART_UNMATCHED_BOUNDARY "!@eq 0" \
"id:'200004',phase:2,t:none,log,allow,msg:'Multipart parser detec

[2018-07-02 15:54] markblackman commented on #1827
Thanks. Sorry, if it wasn't clear. I am not referring to the inspection behaviour. I am referring to the proxying behaviours. I can completely live with only inspecting 4k bytes out of 8k bytes in an HTTP body and that's what I expect from ProcessPartial. What I can not live with and do not expect, is the 8K body getting truncated to 4k when it's passed to the backend Tomcat servers. Is this well

[2018-07-02 16:00] markblackman commented on #1827
To be even clearer, with ProcessPartial I expect the entire body to be proxied regardless of how much is inspected. Is this expectation misplaced?

[2018-07-02 16:17] zimmerle commented on #1827
What is the version of your ModSecurity?

[2018-07-02 16:19] markblackman commented on #1827
[Mon Jul 02 17:51:54.562328 2018] [:notice] [pid 2380366:tid 140467527632640] ModSecurity for Apache/2.9.2 (http://www.modsecurity.org/) configured.

[2018-07-02 16:21] zimmerle commented on #1827
Is there any version mismatch in the dependencies?

[2018-07-02 16:29] markblackman commented on #1827
None that are flagged by modsecurity itself.

[code]

[2018-07-02 16:30] markblackman commented on #1827
If there is some debugging to enable, we can do that.

[2018-07-03 01:56] meetug commented on #1825
Any ideas for a workaround?

[2018-07-03 02:37] GwakMin opened #1828 "Not working on IIS 10"
I install win server 2016 and iis 10

i heard that modsecurity support iis

so i download visual studio 2013 c++ Redistribution and install modsecurity iis 64bit

for test i tried dvwa site and made web.config file like below

[code]

and remove comment in modsecurity.conf file

[code]

but modsecurity doesn't block and doesn't make log..

my setting is worng?

p.s  In Modules, can find Modsecurit

[2018-07-03 02:39] GwakMin commented on #1828
Modsecurity Version is 2.9.2

[2018-07-03 08:19] markblackman commented on #1827
And just as a quick reminder, this only happens in the context of the following proxy modules.

* Oracle Weblogic (mod_wl)
* mod_jk (AJP)
* mod_proxy_ajp (AJP)

However, it works fine in the context of the standard HTTP proxy module

* mod_proxy_http and mod_proxy_https

I can imagine that Oracle would not play nicely with the Apache bucket brigade, but I assume mod_security does as well as mod_jk

[2018-07-04 09:36] lungati commented on #862
Related to this issue.. I've built nginx v1.15 with Libmodsecurity v3.0 and Modsecurity-nginx connector. When I include the OWASP CRS config files, I get the error below. I've tried changing the order of imports, nothing changes.

How I include the owasp crs:

http {
    include       mime.types;
    include       /usr/local/nginx/conf/owasp-modsecurity-crs/crs-setup.conf;
    include       /usr/l

[2018-07-04 10:14] theMiddleBlue opened #1829 "Information about new CVE-2018-13065 (Author: Adipta Basu)"
Hi,

just to inform you that yesterday (3rd July 2018) was published a **presumptive** vulnerability on "ModSecurity 3.0.0" (?!). The author writes that using the following two payloads, inside an argument on the request querystring, he was able to elude XSS filters: `<img src=x onError=prompt(3)>` and `<img src=x onError=prompt(document.cookie)>`.

First: the author of the CVE has not included in

[2018-07-04 12:11] zimmerle commented on #1829
Hi @theMiddleBlue

I complete agree with your words. Thank you for the initiative. It seems to me that not rule set was loaded at all.

I will keep this issue open to keep track of it.

[2018-07-04 12:30] csanders-git commented on #1829
I made a post to the CRS mailing list, I got the same results.

[2018-07-05 07:53] intelbg commented on #1824
Is it confirmed bug?

[2018-07-05 10:09] csanders-git opened #1830 "Invalid actions break CRS 3.1 on rule 912160"
The following rule will be treated as invalid by LibModSecurity current master + ModSecurity-nginx v1.0.0.
[code]

The following is the rule that causes the issues.

[code]

The lines in question that cause the issue are the last two

[code]

I hypothosis this is because setvar in libmodsecurity doesn't support setvar with a '!'.
Additionally i'm unsure if expirevar or variables expansion is suppo

[2018-07-05 10:17] csanders-git opened #1831 "Invalid actions break CRS 3.1 on rule 912160"
The following error is encountered while trying to run CRS 3.1
[code]

The issue comes from the following rule

[code]

The issue appears to be `setvar:'global.alerted_970018_iisDefLoc',\`. The issue is probably that setvar doesn't support collection assignment.

[2018-07-05 10:29] csanders-git commented on #1831
This rule is using an anti pattern for CRS 3.1 and so we have put in a request to remove this capability, however it is a feature SecRules supports.

https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/1134

[2018-07-06 13:54] invent-uk opened #1832 "Performance issue with commercial ruleset in modsecv3 on nginx"
Having used the Trustwave commercial ruleset on ModSecv2 for a number of months we tasked with migrating to ModSecv3. The maximum throughput appears to be significantly reduced with a large ruleset indicating that there is a performance problem within the parsing engine of ModSecv3.

Platform: ModSecv3 (Master or 3.0.2) with Nginx connector running on Centos 6.9 or 7.
Previously the throughput of

[2018-07-07 05:49] p0pr0ck5 commented on #1832
@refinitive please see #1734 as well as https://sourceforge.net/p/mod-security/mailman/mod-security-users/thread/CAE8hE%3DofVGHU9r8Jxf7T5S3M557n4f3n52OoBo-OzKnuRSzydA@mail.gmail.com/.

[2018-07-07 21:11] n0q82l01w6x53 opened #1833 "ModSecurity blocks saving a page on Mediawiki (403 Forbidden)"
I'm kind of wondering why does that happen...
The ModSecurity version is 3.0 and I'm using the OWASP rule set.
Also, the web server is nginx.

[2018-07-08 07:56] n0q82l01w6x53 commented on #1833
Nevermind, it was a false positive with MULTIPART_UNMATCHED_BOUNDARY in the rule set. Disabled that and it works fine.

[2018-07-08 07:56] #1833 closed, assigned to nobody

[2018-07-08 07:59] csanders-git commented on #1833
Thanks for your feedback we'll look into it on the CRS side

[2018-07-09 07:08] invent-uk commented on #1832
Hi @p0pr0ck5 , thanks for the info. I've looked through the links and they don't indicate a solution. Based on this not being more widely reported I get the impression most users are using the CRS ruleset and as such are not impacted by the non-linear performance impact of increasing the ruleset size. Could you confirm whether the latest version is passing performance criteria at 30,000 rules?

[2018-07-09 15:58] p0pr0ck5 commented on #1832
Hey @refinitive, apologies for the confusion. I wasn't pointing you to a solution, but rather more discussion and information on this topic. As there's already been quite a lot of opinionated chatter surrounding this, I wanted to tie your report into existing conversations, not spark a new one here as it's not likely to gain any traction.

Might you consider contacting Trustwave support to get the

[2018-07-10 14:33] theMiddleBlue commented on #1829
Hi guys,

I've just received an answer from exploit-db.com that, after reading all the information on this issue, he decided to remove the published exploit from their database:

![image](https://user-images.githubusercontent.com/4454961/42516774-ad1765b8-845e-11e8-9a69-aebd9e78b7b2.png)

:v:

[2018-07-10 15:19] zimmerle commented on #1829
Thank you @theMiddleBlue :)

[2018-07-10 15:19] #1829 closed, assigned to zimmerle, theMiddleBlue

[2018-07-10 16:09] mangelot opened #1834 "Modsecurity 2.9.2 causes duplicate headers with Nginx"
With modsecurity active we receive duplicate headers
Content-Length and Connection "Keep-alive" are both listed twice.
when disabling modsecurity the problem doesn't exist.

[2018-07-10 17:19] zimmerle commented on #1834
Hi @mangelot,

Please use the ModSecurity version 3 with the nginx connector:
https://github.com/SpiderLabs/ModSecurity-nginx

[2018-07-10 17:19] #1834 closed, assigned to zimmerle

[2018-07-11 07:42] tdoubley opened #1835 "how to achieve DOS protection？ nginx+modlib3.0"
Hi!
I want test DOS protection, but I find the aciton expirevar not implement，that‘s mean ModLib not support this function now？

ACTION_EXPIRE_VAR
      {
        //ACTION_NOT_SUPPORTED("ExpireVar", @0);
        ACTION_CONTAINER($$, new actions::Action($1));
      }

SecRule IP:DOS_BLOCK "@eq 1" \
	"chain,\
	phase:1,\
	id:912120,\
	drop,\
	tag:'application-multi',\
	tag:'language-multi',\
	tag:'pl

[2018-07-11 15:49] wscalf opened #1836 "Issue with multiple IIS applications in one site using SecRemoteRules"
So, we're using SecRemoteRules to deploy additional rules to a site after deployment, and for most of our software, this is working great, but one of our products involves multiple web applications that run as part of one web site (in one application pool), and I'm getting some odd behavior.

It _looks_ like rules configured in any application are scoped to that application (ie: if I add an Includ

[2018-07-12 18:06] umarfarook882 commented on #648
Hi, is there any news on this feature? Do anyone working on it. Thanks in advance :)

[2018-07-12 20:13] victorhora commented on #1793
I think we can safely close this one as the fix has already been applied to master here  https://github.com/SpiderLabs/ModSecurity/commit/f66cd4111f08a26d4429cb0071e992deb050928a and here https://github.com/SpiderLabs/ModSecurity/commit/95048d5fcfe43147ab0269bff69e2353817cb7c7

Thanks for the report @tinselcity

[2018-07-12 20:13] #1793 closed, assigned to zimmerle

[2018-07-13 18:05] umarfarook882 opened #1837 "[mlogc] Implement Content-Type header in curl request"
Hi, I am not  able to parse the curl request body content in framework like `express js`. Express js required content-type header in the request to identify and parse the body content. It will be good implementing `Content-Type` header option either in `mlogc.conf` file or in `mlogc.c` while sending the curl request.

Thanks in advance :)

[2018-07-13 23:05] calexitservices opened #1838 "post request with ajax containing meta tags"
We encountered an issue when sending form data. As soon as we send a field with html code that contains a meta tag (string "<meta" ) we receive a 403 error. this can be reproduced with different forms, different fields etc. deactivating modsecurity resolves the issue. Using other tags doesn't seem to cause the same issue, so far we only encountered the meta tag as an issue,

Errors reported:
92113

[2018-07-15 11:34] umarfarook882 opened #1839 "[mlogc] SecAuditLog throwing error "Invalid input" for concurrent logging."
Hi, `SecAuditLog` throws a error invalid input for `|/usr/bin/mlogc /etc/apache2/modsecurity.d/mlogc.conf` on `ModSecurity v3.0.2-70 geed6b5f8` (Ubuntu 18:04)

![error_modsec](https://user-images.githubusercontent.com/22318677/42733382-2e62ac2a-884e-11e8-8442-a0a07a719c1f.png)

[2018-07-16 01:08] #1835 closed, assigned to victorhora

[2018-07-16 01:21] GwakMin opened #1840 "Modsecurity For iis return status code 500 always"
I was applied modsecurity for iis 10 on winserver 2016

then successfully apply and block abnormal traffic

but audit log not showing status code,

and index log return status code 500, but response is good...

i don't know why this happen

below is my modsecurity conf file and part of logs

thanks

[code]

audit log

[code]

index log

[code]

[2018-07-16 20:42] victorhora commented on #1838
Hi @calexpv

This is not a bug with ModSecurity. Based on rule IDs you've mentioned (i.e. 921130...) you have stumbled upon false positives when using the OWASP Core Rule Set (CRS).

Without further data / investigation I can't say for sure if this is really something that can or needs to be addressed on the CRS side or if you simply need to tune your setup a little bit to overcome this depending

[2018-07-16 20:42] #1838 closed, assigned to victorhora

[2018-07-16 20:46] victorhora commented on #1840
Hi @GwakMin,

Thanks for your report but I'm marking this as duplicate as there's already an issue here for this bug: #601

Please follow up on that issue. Thanks.

[2018-07-16 20:46] #1840 closed, assigned to victorhora

[2018-07-16 21:05] victorhora commented on #1839
Hey @umarfarook882

It seems like this is a duplicate with #1498.

For libModSecurity we suggest using the HTTPS transport by setting the [SecAuditLogType](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecAuditLogType) to "HTTPS" which allows sending the logs directly to a remote server without the usage of a log collector such as MLogC.

For detailed information on th

[2018-07-16 21:05] #1839 closed, assigned to victorhora

[2018-07-16 21:13] victorhora commented on #1837
If you are using libModSecurity, try using the HTTPS transport by setting the SecAuditLogType to "HTTPS" which allows sending the logs directly to a remote server without the usage of a log collector such as MLogC.

This transport uses libcURL on the backend that, on the current implementation, should [set the Content-Type to JSON](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/audit

[2018-07-16 21:13] #1837 closed, assigned to victorhora

[2018-07-16 22:40] victorhora commented on #1835
Duplicate with #1803 and #1830 and also related with #1754.

Please follow up on #1803. Thanks.

[2018-07-17 02:38] tdoubley commented on #1835
Thank you for your answer @victorhora ，I will follow up on #1803.

[2018-07-17 14:15] umarfarook882 commented on #1839
Thanks @victorhora , I am already using `HTTPS transport`. but problem is we don't have any kind of authentication to validate the curl request coming from the libModSecurity in remote server. In mlogc, we had option like `SensorUsername` and `SensorPassword`

[2018-07-17 14:29] juanfra684 opened #1841 "OpenBSD doesn't have the header wordexp.h"
Hi, I'm trying to create a port of libmodsecurity for OpenBSD. Unfortunately, `src/utils/string.cc` and `src/utils/system.cc`need the header `wordexp.h` which is not available on OpenBSD. Can you make a workaround for this?. The OpenBSD developers [will never implement this API](http://openbsd-archive.7691.n7.nabble.com/patch-libc-wordexp-support-td159368.html).

[2018-07-17 17:13] victorhora commented on #1839
Well, the HTTPS transport by itself provides confidentiality through TLS Encryption, so your logs should be somewhat safe from someone sniffing or MiTM, but yes the lack of authentication could allow someone sending invalid / erroneous log entries and polluting your logs.

You could have a certain level of restriction of which entity can write audit log entries to your log server by simply using s

[2018-07-18 06:23] 18301385759 opened #1842 "nginx 60000 connections and cpu cost 100%"
aliyun, centos7.4 and 16vcpus 32G mem

nginx run long time  and  the cpu cost 100 % , use top command , there 1cpu or 2cpus are working ,which cpu cost 100%. restart the nginx , and there will be ok .  and 16 vcpus  are all working together . but after a while , ther only left 1vcpus are working .  always  ,

the nginx cpu mode , i use auto , number  , affinity , which all doesnt work .

nginx-con

[2018-07-18 06:27] 18301385759 commented on #1842
1

[2018-07-18 09:41] alterego2004 opened #1843 "Problem with stack reverse proxy nginx+ modsecurity"
A good day! I have problem with modsecurity. On my infrastructure I have Web Front End reverse proxy nginx with modsecurity . I sent from client side POST query and have next error:
HTTP/1.1
Content-Type: text/html
Content-Length: 166
Connection: close

--33bd627d-E--
<html>
<head><title>400 Bad Request</title></head>
<body bgcolor="white">
<center><h1>400 Bad Request</h1></center>
<hr><center>ngi

[2018-07-18 10:59] rnagy commented on #1841
I suggest using glob(3). wordexp is evil especially since most libc wordexp implementations execute a shell to glob the input.

[2018-07-18 15:55] victorhora commented on #1843
@alterego2004 I see that you are running ModSecurity 2.9.1 with Nginx. There are known issues with Nginx running ModSecurity 2.x which there are no plans to fix.

So you may want to upgrade to ModSecurity 3.x (libModSecurity) and use the ModSecurity-nginx connector: https://github.com/SpiderLabs/ModSecurity-nginx

[2018-07-18 15:55] #1843 closed, assigned to victorhora

[2018-07-19 04:38] thehelix112 commented on #648
Hey @umarfarook882, I think I laid the groundwork for this a while back, however the actual work to reload was done in the http server used by the Edgecast CDN.

We've since moved to a [different WAF engine](https://github.com/VerizonDigital/waflz) that supports this natively.

[2018-07-19 06:48] victorhora commented on #1841
@juanfra684 Working on the patch below as workaround. Worked fine so far on my Linux and OpenBSD builds, except that my Linker on BSD is a bit unhappy at the moment with some flags. Still investigating this other issue, but you may have different results...

[code]

[2018-07-19 17:17] juanfra684 commented on #1841
@victorhora Robert found the problem with the linker:
[code]
I'm waiting the approval for the libmodsecurity/nginx-modsecurity port. I will try to test your patch in the next days.

[2018-07-19 20:44] victorhora commented on #1841
Oh damn. I wish I saw your comment before @juanfra684. Spent some time digging this issue until I've realized [OpenBSD doesn't like static](https://git.phyks.me/Phyks/st/commit/8306568bd0b9d082c58ad897b4562ffe6822e585?view=parallel) and I came out with the same patch as you did haha :/

Well I'll submit a pull request with both as soon as I can confirm it's not breaking anything on my local tests.

[2018-07-19 21:03] victorhora commented on #1841
By the way, if you run into this issue: multi.c:62:24: error: variable has incomplete type 'struct timeval

You should be fine as ModSec is already compiled/linked, it's just the examples. If you want to omit the error message you can disable the examples compilation with:

``
./configure --enable-examples=no
``

I'll see if I can fix this and the testcases as well. Thanks.

[2018-07-20 02:27] xizeng opened #1844 "The m_lineNumber in Rule not mapping with the correct line number in file"
Test env:
1. ModSecurity 3.0.2 ( the latest version in v3/master has the same result )
2. CRS 3.0.2
3. OS: ubuntu 18.04 ( same result in Ubuntu 16.04 )

Test case 1:
1. Copy the owasp-modseucirty-crs-3.0.2/rules/REQUEST-930-APPLICATION-ATTACK-LFI.conf to test.conf
2. Change one line of the content to invalid syntax, i.e. change Line 137 by replacing setvar to setvar1.
3. Execute tools/rules-check/

[2018-07-20 10:16] theMiddleBlue opened #1845 "Operator @rbl doesn't properly set tx.0 on v3/master"
Hi,

I'm testing the `@rbl` operator with a my DNS server / zone. It works well, except for the `tx.0` variable. Using `capture` on the Rule, the `tx.0` variable has the `REMOTE_ADDR` value instead of DNS response (useful for categorizing).

Not sure if I'm doing it wrong or it's a bug. Any idea?

Test Rule:
[code]

Debug log:
[code]

Nginx version:
[code]

libModSecurity version:
[code]

thanks

[2018-07-20 15:52] victorhora commented on #1845
Hi @theMiddleBlue

I've quickly glanced at the operator implementation code and I'm not sure if this is a bug at this moment. Can you please check if this behaviour differs from ModSecurity v2?

[2018-07-21 00:47] theMiddleBlue commented on #1845
uhm I've tested with ModSecurity v2 and the message is different but it doesn't contains the response...

audit log
[code]

debug log:
[code]

what I'm missing?

DNS query / response:
[code]

[2018-07-21 04:02] adarshmadrecha commented on #680
The docs on v3 says

[2018-07-22 14:15] tdoubley opened #1846 "./configure --disable-debug-logs not work ？"
I want to disable debug log， using follow command

1. ./configure --disable-debug-logs
    output:
Other Options
   + Test Utilities                                ....partially
   + SecDebugLog                                   ....disabled
   + afl fuzzer                                    ....disabled
   + library examples                              ....enabled
   + Building parser

[2018-07-22 15:59] juanfra684 commented on #1841
The approval for the port is taking more time that the expected, so feel free to commit the change if you consider it correct.

[2018-07-22 21:45] theMiddleBlue commented on #1845
(not related to this issue): thinking about the `@rbl` operator, it would be great if it could query not only type **A** but also type **TXT**. It could be used to store more information about the IP reputation. What do you think about?

[2018-07-22 22:28] csanders-git commented on #1845
Classic let's abuse DNS as a DB... Love the idea, we could even monkey patch an approved communication protocol (i.e spf/dkim style)

[2018-07-23 10:08] theMiddleBlue commented on #1845
@victorhora if you need it, I can send you (via DM slack/IRC) the real domain name which I'm using for this test (and even add specific record A)

[2018-07-24 06:26] longlnk commented on #1842
I have same problem, but all CPUv is 100%.

[2018-07-25 10:37] hsluoyz opened #1848 "The dependencies of ModSecurity should be updated."
I'm building ModSecurity against Windows 10, but the following dependencies has already been deprecated for long time. For example, VS2008 has long be deprecated and is even hard to find and download from the Internet. Until Jul 25th, 2018, the dependency state is:

Dependency | Current | Latest
----|----|----
Visual Studio | 2008 | 2017
CMake | v2.8.0 | v3.12.0
Apache | 2.2.17 | 2.4.34
PCRE | v8.

[2018-07-25 18:01] rperper opened #1849 "Crash in msc_rules_add_file in v3.0.2"
I originally submitted this on the user's mailing list, but was directed here.

My name is Bob Perper and I'm a developer here at LiteSpeed technologies.  We include a connector for ModSecurity v3.0 in our new release of OpenLiteSpeed and have an error reported by a customer that when we reproduced it, resulted in a crash.

The customer was using the Comodo rulesset and was reporting errors like t

[2018-07-25 22:47] victorhora opened #1850 "redirect action on libModSecurity is relying upon SecDefaultAction by default"
It seems like the [redirect](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#redirect) action on the [current master](https://github.com/SpiderLabs/ModSecurity/commit/eed6b5f86d00ce7d6bf5e14d6f03647bafd6251d) is behaving differently from ModSecurity v2.

When investigating an issue it was found that in order for the action to work as intended, on my environment, it was m

[2018-07-26 03:05] hsluoyz opened #1851 "Is there a timeline when building ModSecurity 3.x on Windows will be provided?"
I'm a Windows user. As the README (https://github.com/SpiderLabs/ModSecurity/blob/v3/master/README.md) said:

``Windows build is not ready yet.``.

I found that it has been nearly one year since the first release of ``v3.0.0-rc1``, when will Windows build be provided? Thanks.

[2018-07-26 18:36] victorhora commented on #1851
Hi @hsluoyz

Indeed, Windows is not officially supported for building ModSecurity at this point. I'd say this is mostly due the fact we didn't had much traction on attempts to start working on a connector for IIS which would probably be the main reason why people would like to have the library compiled for Windows.

This means that even if you get ModSecurity compiled for your Windows environment

[2018-07-26 19:11] #1851 closed, assigned to victorhora

[2018-07-26 20:46] victorhora commented on #1841
@juanfra684 https://github.com/SpiderLabs/ModSecurity/pull/1852 is up for evaluation. Let us know if you face other issues with the OpenBSD build. Thanks.

[2018-07-27 11:41] spacerunner5 opened #1853 "Compile from live upstream error"
I can compile a live upstream version of mod_security v3 "by hand" using git clone, build.sh, ./configure, make etc. However, wrapping it into a gentoo ebuild package throws the following error:

*** No rule to make target '../../src/.libs/libmodsecurity.a', needed by 'modsec-rules-check'.  Stop.

Build log is at [https://pastebin.com/SQMxL2Lt](https://pastebin.com/SQMxL2Lt)

what could be wrong?

[2018-07-27 20:23] victorhora commented on #1809
Lua 5.1 is now supported. Thanks @p0pr0ck5 :)

I've just pushed PR https://github.com/SpiderLabs/ModSecurity/pull/1854 to also support luaJIT which should hopefully solve this issue once and for all.

My tests went fine on a couple of distros, but it would be good if you folks could check on other distros to make sure we are covering the major ones.

[2018-07-27 20:45] victorhora commented on #1622
Thanks for your contribution @dmitryzykov. Your fix have been pushed to https://github.com/SpiderLabs/ModSecurity/pull/1855 for evaluation.

Also, Lua 5.1 is now officially supported as of https://github.com/SpiderLabs/ModSecurity/commit/dee989844914f07e38367fb6b1ead906541c0849 and LuaJIT support is being evaluated at https://github.com/SpiderLabs/ModSecurity/pull/1854.

[2018-07-27 21:24] victorhora commented on #1853
@ste7677, are you the maintainer of libModSecurity within Gentoo?

I think this have something to do with the way that Gentoo is building the package. What's probably happening there is that the Makefile is failing to run here:  https://github.com/SpiderLabs/ModSecurity/blob/v3/master/tools/rules-check/Makefile.am#L9

This means that probably all other examples/tools will fail to compile successfu

[2018-07-28 07:26] spacerunner5 commented on #1853
@victorhora, No, I am not the maintainer. Unfortunately, according to [https://packages.gentoo.org/packages/www-apache/mod_security](https://packages.gentoo.org/packages/www-apache/mod_security) the package needs a new maintainer.

Currently, only 2.x branch is supported in gentoo packages. That' why I try to modify an ebuild to be able to use the 3.x branch as well as upstream.

The lastest 2.x p

[2018-07-28 09:13] spacerunner5 commented on #1853
1. Narrowed it down. Following your advice on [Installing from source on Ubuntu](https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes-for-v3.x#ubuntu-1504) will **fail too** as soon as I configure with

./configure --disable-static

any advice possible?

2. Is documentation on compile options for libmodsecurity available somewhere?

[2018-07-28 14:23] hsluoyz opened #1857 "Reformat ModSecurity 2.x's README in Markdown"
I'm new to this project and I want to learn it. But the first thing I encountered is that the format of the README hurts my eyes :( Markdown is a neutral and de-facto dominating standard for open-source intro pages. It is not only useful in GitHub but also other places. So I think we should delete TXTs and use Markdown instead.

I saw ModSecurity 3.0 already uses Markdown, it's a good thing. Howev

[2018-07-28 14:28] hsluoyz commented on #1857
BTW, I already sent an issue about the deprecated dependency for 2.x here: https://github.com/SpiderLabs/ModSecurity/issues/1848. And that issue seems to be assigned now. Fixing it will need to update the README. But the original README doesn't have a good format. This is why this issue (and PR) comes :)

[2018-07-29 01:58] #1846 closed, assigned to victorhora

[2018-07-30 07:34] prince-java opened #1858 "How to inspect the content of the file which is being uploaded"
SecRule REQUEST_BODY "@contains eval" "chain,phase:2,block,log,id:100023"
SecRule REQUEST_BODY "@contains base64_decode"

I want to Intercept the file being uploaded which contains 'eval' and 'base64_decode',but it does't work.
SecRequestBodyAccess has been set to on.

[2018-07-30 07:39] prince-java commented on #1850
How about add a disruptive action to this rule, such as 'deny'?

[2018-07-30 12:15] rvirender89 commented on #1828
@GwakMin
I am trying to configure the same thing. Have you found any solution to that?

[2018-07-30 18:34] fakhrizulkifli opened #1860 "Not NULL terminated buffer"
From the snippet below, if the hooked function does not properly calculate the input length, there will be some memory leak.

[code]

[2018-07-30 22:56] victorhora commented on #1849
Hi @rperper,

Thanks for your report! :)

Can you confirm which codebase/commit from libModSecurity you are running? There's [many fixes since 3.0.2](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/CHANGES#L4-L66) came out and I'm wondering if that's why I can't reproduce the same issue.

Still, based on the filenames from your report, I believe you used the Comodo Rules for LiteSpeed, wh

[2018-07-31 08:33] theMiddleBlue commented on #1845
I made a workaround using Nginx + Lua by setting the DNS response to a response header (`X-DNSBL`) that is intercepted by a ModSecurity rule:

Nginx configuration:
[code]

libModSecurity Test Rule:
[code]

HTTP Response:
[code]
Test log:
[code]

I'm just a little bit worried about performance... Maybe using the `@rbl` operator is more performant and easy than all this.

[2018-07-31 10:03] appop opened #1862 "How to hide header in modsec_audit log"
We have token in header, when there have an error, all header print in log, So how to hide this ?

[2018-07-31 12:39] rperper commented on #1849
I tried with both 3.0.2 and the "master" 3.0.3 of a couple of days ago.  OpenLiteSpeed just recently released support for the v3 rules and uses the same calls as Open Nginx.

Note this was a customer report and the report was a crash.  I am uncomfortable with libModSecurity crashing our application and the Nginx application which is why I'm making the report.  Note that the crash was triggered not

[2018-08-01 02:07] mcardoso27 opened #1863 "Can not get information from MLogC request"
Hi, I'm doing a service to store ModSecurity Logs to MongoDB. I have installed ModSecurity 2.9.2 and Apache on Ubuntu 18.04 via apt. I'm using node with express and typescript, when I want to get the information transaction of the request, I found that body, params and query are empty.

From this code:

[code]

I have this output:

req.params ====== {}
req.query ====== {}
req.headers ====== { host

[2018-08-01 08:34] Vaibhavgoe opened #1864 "Mod Security is not detecting XSS."
We have configured dvwa application protecting with modsecuirty. But there is one XSS is not detecting by mod secuirty. the signature is /vulnerabilities/view_source.php?id=%22%3e%3cA+%3d%22%2fWF_XSRF1894.html%22%3einjected+link%3c%2fA%3e.
Other XSS are blocking by mod security.

Can anyone help, how to protect it with this type of signature

[2018-08-01 10:06] mayou33 opened #1865 "make error in v3.0.2"

[2018-08-01 10:07] mayou33 commented on #1865
../../src/.libs/libmodsecurity.a(lt2-libmodsecurity_la-geo_lookup.o): In function `modsecurity::Utils::GeoLookup::cleanUp()':
/opt/modsecurity-v3.0.2/src/utils/geo_lookup.cc:44: undefined reference to `MMDB_close'
../../src/.libs/libmodsecurity.a(lt2-libmodsecurity_la-geo_lookup.o): In function `modsecurity::Utils::GeoLookup::setDataBase(std::string const&, std::string*)':
/opt/modsecurity-v3.0.2/

[2018-08-01 10:12] mayou33 commented on #1865
libmaxminddb-1.3.2 has install

[2018-08-01 10:40] p0pr0ck5 commented on #1845
Using @rbl with Nginx is a terrible idea, because the worker process is blocked on the socket read. It will ruin performance.

[2018-08-01 11:38] #1860 closed, assigned to nobody

[2018-08-01 13:53] theMiddleBlue commented on #1845
thanks @p0pr0ck5. the only problem I see using `resty.dns.resolver` is that it hasn't any caching mechanism and it sends a DNS query on each request (unlike `@rbl` that uses his cache).

[2018-08-01 15:24] p0pr0ck5 commented on #1845
rbl uses cache?

Also, writing a cache wrapper is trivial work, and there are existing clients like https://github.com/Kong/lua-resty-dns-client.

Anything in libmodecurity that involves communicating with external services natively will wreck your throughput. Until there’s a method override mechanism that allows it to hook into an existing event loop, id very strongly discourage using it in nginx

[2018-08-01 15:44] theMiddleBlue commented on #1845
thanks for the advice. I'll try `lua-resty-dns-client`, at the moment, in my script, I'm caching all DNS query using `ngx.shared.DICT` and it seems to work fine, but I don't know how it could affect performances. Probably is better to use `lua-resty-dns-client` instead to reinvent the wheel.

[2018-08-01 20:52] victorhora commented on #1864
@Vaibhavgoe,

Please bear in mind that ModSecurity is the WAF engine. You need to have proper rules set and configured for protection agains web attacks such as XSS. For to

From your report, I'm guessing you might be using the [Core Rule Set](https://github.com/SpiderLabs/owasp-modsecurity-crs). If that's the case, I highly suggest you to read the documentation on how to properly configure and tu

[2018-08-01 20:52] #1864 closed, assigned to victorhora

[2018-08-01 21:14] victorhora commented on #1865
@mayou33

I can not reproduce the issue you've reported with the latest codebase from master of ModSecurity.

Compilation completes fine both with libmaxminddb-1.2.0 (package from distro) as well as ibmaxminddb-1.3.2 installed from source from [libmaxminddb GitHub](https://github.com/maxmind/libmaxminddb).

Try again with the latest codebase of libModSecurity as per instructions here: https://gith

[2018-08-01 21:14] #1865 closed, assigned to victorhora

[2018-08-01 22:11] victorhora commented on #1863
Have you tried tuning [SecAuditLogParts](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecAuditLogParts)?

Can you try including type "C" in the [default](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/modsecurity.conf-recommended#L187) and also double checking that [SecRequestBodyAccess](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x

[2018-08-01 22:21] victorhora commented on #1863
I'm closing this one as it doesn't seem to be a bug with ModSecurity or MlogC. Let us know if you think otherwise.

By the way, you may consider using libModSecurity with the [HTTP transport](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecAuditLogType) to send the logs to your storage service to make it future proof as MlogC will not be supported for ModSecurity v3 ;

[2018-08-01 22:21] #1863 closed, assigned to victorhora

[2018-08-01 22:43] victorhora commented on #1862
Try tuning with the [SecAuditLogParts](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecAuditLogParts) directive.

For straight usage questions, please use [mod-security-users](https://sourceforge.net/projects/mod-security/lists/mod-security-users) mailing list. Thanks!

[2018-08-01 22:43] #1862 closed, assigned to victorhora

[2018-08-01 22:54] victorhora commented on #1860
@fakhrizulkifli

Thanks for your contribution :)

Any particular reason why the issue was closed prior to discussion / analysis from the community?

[2018-08-02 00:19] mcardoso27 commented on #1863
Thank you! I'll keep this in mind, anything you notice.

[2018-08-02 02:43] mayou33 commented on #1865
thank you for your help

[2018-08-02 15:25] clementcadbury commented on #1566
thank you for the rule, it worked great for me,
i figured out that i needed to add the DELETE method otherwise the windows client wouldnt delete files on server during sync when needed,
and also as i am on a vhost the script is at the root of my site so it makes :
`SecRule REQUEST_URI "@beginsWith /remote.php" \
  "id:'000002', \
  phase:1, \
  t:none, \
  setvar:'tx.allowed_methods=GET HEAD POST

[2018-08-02 17:17] emphazer commented on #1727
any progress here?

[2018-08-02 17:59] victorhora commented on #1566
Thanks for your contribution folks.

As far as I can recall, _modsecurity_crs_15_customrules.conf_ is part of CRS 2.2. I highly suggest moving to CRS 3.

But as these issues are more related with Core Rule Set, I would suggest that further discussions with false positives should go to the [CRS issue tracker](https://github.com/SpiderLabs/owasp-modsecurity-crs/issues) as there are more people that

[2018-08-03 20:03] victorhora commented on #1849
Hi @rperper,

Ok, I've managed to reproduce the crash. There's a few issues here:

The first is that the rule breaking the parser due to commenting out a single rule which is part of a [chained rule](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#chain).

By commenting line #30 of that 03_Global_Agents.conf.txt file, the initial rule of the chain located on lines 28 and

[2018-08-03 20:31] rperper commented on #1849
Yes, please don't close a problem that crashes a system!  Users make mistakes and mistakes can be handled with return codes and logging.  They should never be handled with application crashes.  Particularly crashes that can't be intercepted by using applications.  Please, please take this seriously.

Thanks,

Bob

[2018-08-03 21:51] victorhora commented on #1849
Hey @rperper, rest assured we take crashes very seriously :) We should be able to fix it before the next (3.0.3) release.

I've nailed down the issue actually being due the fact that the _03_Global_Agents.conf.txt_ file as is, is having a 2nd rule in a chained rule with having a disruptive action ([deny](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#deny), [block](http

[2018-08-04 00:23] victorhora commented on #1849
Seems like this association at [driver.cc:83](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/parser/driver.cc#L83) eventually leads to the crash as it's deallocating used memory at [rule.cc:160](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/rule.cc#L160)

[2018-08-06 14:47] rperper commented on #1849
Just to get a level-set on this problem, I downloaded the latest Comodo rules and tried loading the lot with NGINX.  I get this error followed by a crash:
nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /home/user/space/comodo/comodo/02_Global_Generic.conf. Line: 70. Column: 18.  in /usr/local/nginx
/conf/nginx.conf:57
Did you try this file with the current Comodo rule set?

[2018-08-07 06:07] c0deguard opened #1866 "Empty message[] in libmodsecurity JSON auditlog"
Hi,

I'm getting multiple audit logs entries without the reason for blocking, there is no data present in  "messages":[  ] parameter. Please help me resolve this issue.

{
   "transaction":{
      "client_ip":"192.168.1.137",
      "time_stamp":"Fri Jul 13 07:10:50 2018",
      "server_id":"cc8b35e4356e8b965588d667f4e06d0e2756f572",
      "client_port":42604,
      "host_ip":"test.site",
      "ho

[2018-08-07 09:52] KnapSec opened #1867 "Does ModSecurity v3 have the OWASP CRS built-in?"
Is the OWASP ModSecurity CRS included in the default rules of ModSecurity v3?
Also how is libModSecurity different from standlone ModSecuirty v3?
I am using the compilation recipie from the page 'https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes-for-v3.x#ubuntu-1504' so what does it do?

[2018-08-08 03:56] victorhora commented on #1867
@KodingWithKunal

No. OWASP CRS is different project. Installation guidelines for OWASP CRS are here: https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/INSTALL

libModSecurity is equals to ModSecurity v3. To be more precise the version 3.x of ModSecurity is officially called libModSecurity due to the fact that is no longer an Apache module as it used to be.

See https://github.c

[2018-08-08 03:56] #1867 closed, assigned to victorhora

[2018-08-08 04:02] meetug commented on #1825
Would it be possible for someone to look into this issue?

[2018-08-08 22:23] dmarlow opened #1868 "Can't uninstall 2.9.2 on Win/IIS 10"
I get a popup saying "This setup requires IIS 7.0 or 8.0"

![image](https://user-images.githubusercontent.com/2000510/43867673-0c867576-9b1f-11e8-8831-9209378d44d1.png)

[2018-08-09 14:06] cyberblackhole opened #1869 "Calling Lua script"
**Variation 1:**
`SecRule REQUEST_METHOD "POST" phase:2, id:22, pass,  exec:/etc/apache2/lua/test.lua`

**Variation 2:**
[code]

**contents of /etc/apache2/lua/test.lua**

[code]

[2018-08-12 17:57] DenysFrasinich commented on #1869
Does yours modsecurity compiled with support of lua?
I also spent a day trying to call script before i realised that package "libmodsecurity" from CentOS 7 repo doesn't have lua support at all.

[2018-08-12 18:11] DenysFrasinich commented on #1842
Hello.  I had high CPU utilisation and random nginx crashes with package "libmodsecurity" from CentOs repo. But after i rebuild libmodsecurity without liblmdb support, crashes gone. Configuration option "--with-lmdb=no". I think, it could be problem with old version of liblmdb in CentOS repo. If you want to try i could share my rpm spec file here.

[2018-08-13 03:09] cyberblackhole commented on #1869
Yeah.. Even I had the same question.. so I went on to re install them to make sure LUA dependency is satisfied...

Guess what.. Now I can call LUA scripts. I forgot to change the ownership of the script file to `www-data`...

[2018-08-13 03:51] bug65536 opened #1870 "Matched "Operator `Within' with parameter `HTTP/1.0 HTTP/1.1 HTTP/2 HTTP/2.0'' against variable `REQUEST_PROTOCOL' (Value: `HTTP/HTTP/1.1' )"
hi, I installed completely ModSecurity v3.0.2, when I try to visit http://127.0.0.1, I was forbiddened.

in log file, it says:

`[Sun Aug 12 20:12:03.300266 2018] [:error] [pid 32207:tid 140515782620928] [client 127.0.0.1:34372] ModSecurity: Warning. Matched "Operator `Within' with parameter `HTTP/1.0 HTTP/1.1 HTTP/2 HTTP/2.0'' against variable `REQUEST_PROTOCOL' (Value: `HTTP/HTTP/1.1' ) [file "/

[2018-08-13 07:26] bug65536 commented on #1870
in modsec_audit.log, it was like this

---7XK3E1nx---A--
[13/Aug/2018:00:11:03 -0700] 153414426338.415445 192.168.247.1 28266 127.0.1.1 80
---7XK3E1nx---B--
GET /index.html?id=1 ***HTTP/HTTP/1.1***
Host: 192.168.247.161
Connection: keep-alive
Upgrade-Insecure-Requests: 1
User-Agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.99 Safari/537.36
DN

[2018-08-13 15:38] carnil commented on #1829
@theMiddleBlue now that the assessment is clarified and the entry has been removed from the EDB as well, can you request by MITRE a proper **REJECT**? Thanks a lot already.

[2018-08-14 21:34] dmarlow opened #1871 "Request altered in some way"
I have an ASP.NET MVC app on IIS/Win 10 and when ModSecurity is configured (always only using `SecRuleEngine DetectionOnly`) I have issues with the way ASP.NET does model binding.

Here's an example of when it works, having `<ModSecurity enabled="false" />`:
[code]
Calling it using Postman:
![image](https://user-images.githubusercontent.com/2000510/44119387-e8c4d5c0-9fcd-11e8-96a5-34d1f9c9ec46.png

[2018-08-14 21:40] dmarlow commented on #1871
Sigh. Of course, after banging my head all day, searching and searching. I finally find the answer.. `SecStreamInBodyInspection On`

https://github.com/SpiderLabs/ModSecurity/issues/519

[2018-08-14 21:40] #1871 closed, assigned to nobody

[2018-08-14 23:38] victorhora commented on #1870
Hi @bug65536

Based on your logs and the issue you are describing, I believe you are using libModSecurity along with the [ModSecurity-apache](https://github.com/SpiderLabs/ModSecurity-apache) connector.

It is true that "HTTP/" is appended to m_httpVersion, but this is due the fact that [http_version](https://github.com/SpiderLabs/ModSecurity-nginx/blob/master/src/ngx_http_modsecurity_rewrite.c#L1

[2018-08-14 23:38] #1870 closed, assigned to victorhora

[2018-08-14 23:57] victorhora commented on #1869
Indeed. Information about LUA support (if enabled/disabled) build will be available on the configure script like so:

[code]

Also, the [logs](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/engine/lua.cc#L60) should have shown that LUA is support is not enabled when trying to execute a LUA script without LUA support. (Let us know if it's not the case).

About CentOS, indeed it seems

[2018-08-14 23:57] #1869 closed, assigned to victorhora

[2018-08-15 00:04] victorhora commented on #1868
Hi @dmarlow,

I believe your issue might be related to https://github.com/SpiderLabs/ModSecurity/issues/931 which should be fixed by https://github.com/SpiderLabs/ModSecurity/commit/51f1ff6ebf20c5f40d39baddb574993cefa13a46

Could you please provide more details? You were able to install but no uninstall / reinstall?

[2018-08-15 00:08] victorhora commented on #1866
If you change [SecAuditLogFormat](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecAuditLogFormat) to "Native" does it make any difference? Can you see the Messages?

[2018-08-15 21:21] dmarlow commented on #948
I'm getting this error as well. I'm on IIS 10 on Win2016.
Here's the log:
https://gist.github.com/dmarlow/9cd88e623943aba7c78fd36ba37ac95e

Important bits here:

MSI (s) (EC:70) [22:59:44:945]: Note: 1: 1722 2: UninstallModule64 3: D:\Program Files\ModSecurity IIS\ 4: "D:\Windows\system32\inetsrv\appcmd.exe" uninstall module /module.name:"ModSecurity IIS (64bits)"
CustomAction UninstallModule64 re

[2018-08-15 21:45] victorhora commented on #948
@dmarlow

I've noticed there's already an issue open for this case here: #1122

I'm tagging #1122 for further investigation prior to 2.9.3 release. This being said, do you mind sharing those details on that issue so as to avoid duplicates?

Thanks!

[2018-08-15 21:46] victorhora commented on #1868
@dmarlow

I've noticed there's already an issue open for this case here: #1122

I'm tagging #1122 for further investigation prior to 2.9.3 release. This being said, do you mind sharing those details on that issue so as to avoid duplicates?

Thanks!

[2018-08-15 22:46] dmarlow commented on #948
@victorhora That issue is regarding uninstalling. My issue isn't for uninstalling ModSecurity. This issue comes up if the installer runs twice. Still want it moved there?

[2018-08-16 15:55] victorhora commented on #948
@dmarlow I'm a bit confused as the issue you have created (#1868) mentions about uninstallation issues. :/

So your problem is not uninstall but rather opening the installer twice? Or is it both? Can you clarify so we can decide if this an issue and if should be reopened or if it should be handled on other issue.

Thanks

[2018-08-16 16:24] dmarlow commented on #948
@victorhora yes, #1868 one deals with uninstalling. This one deals with installation. This error happens for me when the installer runs again. In my automated attempt to install ModSecurity on ephemeral machines, I have to account properly for the installer not running twice due to this issue. Once installed, I don't want to uninstall. The uninstall issue was from my personal machine while trying

[2018-08-17 17:16] anush-cr opened #1872 "SecRuleUpdateTargetById does not match regular expressions in 3.0"
I have not had success with SecRuleUpdateTargetById when using regular expressions. For example, these didn't seem to work (the rules still trigger):

[code]
I'm using modsecurity along with nginx.

[2018-08-20 06:18] bellaxie opened #1873 "Installable package"
Hi there,

Is it possible to provide a installable package on Ubuntu so it can be installed via apt-get?

[2018-08-20 08:56] c0deguard commented on #1866
I'm getting the similar error in Native format also. Please check the log below.

[code]

[2018-08-20 17:34] edwingustafson opened #1874 "Missing @ in !ipMatch"
You probably want an @ before ipMatch in example usage for SecConnWriteStateLimit.

https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#secconnwritestatelimit

[2018-08-20 20:55] victorhora commented on #1873
Yes there is: https://packages.ubuntu.com/artful/libapache2-modsecurity

But this is for version [2.9.1](https://github.com/SpiderLabs/ModSecurity/releases/tag/v2.9.1) (March/2016).

If you're using Nginx, I recommend going for libModSecurity 3.x ("3.0.3-pre"). You can follow the installation instructions here: https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes-for-v3.x

If you're

[2018-08-20 20:55] #1873 closed, assigned to victorhora

[2018-08-20 21:02] victorhora commented on #1872
This demands further investigation. Might be related with #1590 and in turn https://github.com/SpiderLabs/ModSecurity-nginx/issues/74

[2018-08-20 21:10] victorhora commented on #1874
@edwingustafson, we are in the process of some major updates to the documentation to better reflect supported features and to make it easier to update the manual, so you can expect better overall documentation soon :)

In the meantime, I've changed the docs to update the change you have suggested. Thanks for your contribution :)

https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.

[2018-08-20 21:10] #1874 closed, assigned to victorhora

[2018-08-20 21:23] victorhora commented on #1866
You're running libModSecurity? Which version? If yes, you're using [ModSecurity-apache](https://github.com/SpiderLabs/ModSecurity-apache) connector?

Can you share your ModSecurity(.conf)/Apache configuration?

[2018-08-20 23:38] bellaxie commented on #1873
Hi victorhora, thanks for the info, I'm using Nginx, and I've followed the instruction to install libModSecurity 3 manually. The reason I'm asking for an apt package is because I want to automate the installation thru Puppet, compiling from source on each target machine doesn't sound a very good idea...

[2018-08-21 08:25] void-in opened #1875 "Compatibility of CRS version with libmodsecurity"
Hi

First of all congratulations on the wonderful work you are doing. I have been using ModSecurity with Apache for a long time without any problem. Recently I migrated to libmodsecurity (the latest v3 branch), and tried to use it with nginx 1.14. As soon as I activate the crs 3.2-dev, the following issues are encountered:

1. sanitizeArg doesn't work. It produces the "doesn't not currently suppor

[2018-08-21 14:28] victorhora commented on #1873
Hi @bellaxie, I understand you're looking for a libModSecurity (3.x) Ubuntu/Debian package right?

In this case I would suggest getting in touch with the maintainer (@inittab) of the ModSecurity packages for those distros to see if this is possible at this time.

@inittab let us know if you need our support in some way :)

Cheers

[2018-08-21 14:51] jonah-potter commented on #1800
Can anyone recommend a workaround until `SecRuleUpdateActionById` support is added, aside from editing the rule directly?

[2018-08-21 16:49] pa-de-solminihac commented on #712
@ju5t your patch looks great, and would be really useful. I think you should raise a pull request!

[2018-08-21 23:13] victorhora commented on #902
Ok, so my initial investigation on this issue leads to two limitations to explain why MTOM is not being properly handled by ModSecurity:

As a reminder, a vanilla XML/SOAP request would be something like this:

[code]

Which the XML parser of ModSecurity is able to easily understand it because the body would be filled only with XML data and [rule ID 200000](https://github.com/SpiderLabs/ModSecurit

[2018-08-21 23:16] victorhora commented on #902
One of the possible workarounds for this issue would be adding a rule to ignore multipart/related requests to avoid that [rule ID 200000](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/modsecurity.conf-recommended#L22-L23) ends up blocking traffic due to the XML parser not working as expected for MTOM.

Alternatively, we could also think about updating rule 200000 from [modsecurity.conf-

[2018-08-21 23:19] victorhora commented on #435
Closing this one as it's duplicate with #902 and will be handled there.

[2018-08-21 23:19] #435 closed, assigned to zimmerle, victorhora

[2018-08-22 02:59] ghost opened #1876 "why existed so many bugs with my deploy openresty1.13+modsec-v3+crs-v3.2"
i run modsec3+crs3.02 well but there are so many bug when i deploy the modsecv3 with crs3.2+ .

but when i use modsec3+crs3.0 the dos-attack  run well.

how can i do it make dos run well with crs3.0.2?

- this is the issue that i put in `SpiderLabs/owasp-modsecurity-crs` and than them give my this ticket.

[why existed so many bugs with my deploy openresty1.13+modsec-v3+crs-v3.2](https://github.co

[2018-08-22 02:59] ghost commented on #1876
### errors Show
[code]
### MyNginx

[code]

[2018-08-22 07:10] cyberblackhole opened #1877 "chaining rules not working in modsecurity 3.0"
Recently I configured mod-security v3/master and Below is my sample.com.conf file.

[code]
The chain rule above is not working.
Let me know what is wrong in it.

[2018-08-22 14:12] victorhora commented on #1877
@Goron1606, can you try placing all directives inside the same <IfModule> directive to see if it makes any difference?

Also, try placing chained rules inside the same configuration file (e.g. include.conf) and then loading it with ``modsecurity_rules_file`` directive.

[2018-08-22 14:47] arun81 commented on #1876
The same is happening in my setup

Aug 22 07:42:33 ubuntu nginx[1920]: nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /nginx/modsecurity/rules/REQUEST-901-INITIALIZATION.conf. Line:
Aug 22 07:42:33 ubuntu nginx[1920]: nginx: configuration file /nginx/nginx.conf test failed

root@ubuntu:/nginx/live# service nginx status
● nginx.service - A high performance web server and a rev

[2018-08-22 15:55] pa-de-solminihac commented on #919
@shunkica do you have some feedback about the security risk now that some time has passed?

[2018-08-22 16:15] victorhora commented on #1809
LuaJIT should be supported as of https://github.com/SpiderLabs/ModSecurity/commit/857bf9da588281618a2a9e480da1edec5acb5243

[2018-08-22 16:15] #1809 closed, assigned to zimmerle, victorhora

[2018-08-22 17:32] dmarlow opened #1878 "IIS 10 - collections_remove_stale"
ModSecurity: collections_remove_stale: Failed to access DBM file "C:/inetpub/temp/global": The system cannot find the path specified.
Also getting the same error for this path: C:/inetpub/temp/ip

The directory does exist. Here is the config:
[code]

Should I be disabling a particular set of rules if it's not supposed to work on IIS?

[2018-08-22 17:48] AnoopAlias commented on #1876
Same error here. I think probably the SpiderLabs/owasp-modsecurity-crs switched default branch to v3.2-dev or something as the v3.0/master branch rules work fine

[2018-08-22 18:38] victorhora commented on #1878
@dmarlow Make sure that the user running IIS/ModSecurity has RWX permission for that folder as the error message suggests that the file was not created.

If you are sure this is the case, you might be facing an issue related with #576. So you may want to rebuild your ModSecurity with the flag ```--enable-collection-global-lock```. More about this flag [here](https://github.com/SpiderLabs/ModSecuri

[2018-08-22 18:38] #1878 closed, assigned to victorhora

[2018-08-22 19:11] victorhora commented on #1848
Hi @hsluoyz,

Just prior to the 2.9.2 release last year we did a refactory of the build process and all the dependencies. See https://github.com/SpiderLabs/ModSecurity/commit/1e8b4669eb2d8825d8fdf86fdd638b807942b123.

The [2.9.2 IIS release binaries](https://github.com/SpiderLabs/ModSecurity/releases/tag/v2.9.2) uses the following dependencies:

Dependency | Version
----|----|
Visual Studio | 2013

[2018-08-23 02:35] ghost commented on #1876
@arun81 you can modify the 901350 urlencode to json then work, but then there will be new bug with 913-dos, then you must delete the 912110 and 912111 these two main rules。。。

you can run with crs3.0, but you can't protect dos-attack...
[version 3.0.2 dos protection is not work,and version3.0.0 is ok ](https://github.com/SpiderLabs/ModSecurity/issues/1778)

[2018-08-23 02:37] ghost commented on #1876
@AnoopAlias do you have a try wth dos-attack in crs302 ?

[2018-08-23 03:07] ghost commented on #1876
I have update my crs-rules v302 to v300, is running,  no  bugs currently ....

[https://codeload.github.com/SpiderLabs/owasp-modsecurity-crs/zip/v3.0.0](https://codeload.github.com/SpiderLabs/owasp-modsecurity-crs/zip/v3.0.0)

[2018-08-23 04:30] cyberblackhole commented on #1877
@victorhora thank you. Placing them in same directive works with 2.x syntax.. But, Any explanation for why the above syntax doesn't work?

[2018-08-23 04:59] c0deguard commented on #1866
Yes i'm using libModSecurity v3.0.2 (Linux)
Connector : ModSecurity-Apache v0.1.1-beta

**Below is the apache virtual host config**
`<VirtualHost *:8080>
        ServerName test.site
        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/html

        LoadModule security3_module /home/ubuntu/ModSecurity-apache/src/.libs/mod_security3.so

        <IfModule security3_module>

[2018-08-23 15:15] inittab commented on #1873
Hi! I'll look into creating those packages as soon as I return from vacation (couple of weeks). Thanks for the help offer @victorhora , I'll let you know if I need a hand with them (or at least a second opinion). Cheers!

[2018-08-23 16:21] victorhora commented on #1797
Solved as of f999f54 and aa158ce

[2018-08-23 16:21] #1797 closed, assigned to victorhora

[2018-08-23 20:02] dune73 commented on #1797
Thank you. Any plans when you will release?

[2018-08-23 22:43] victorhora commented on #1825
Indeed currently the multipart parser does not take extension notation into account for the filename parameter.

For some reason your request hasn't triggered the error here, but the following example request from RFC 5987 does trigger the error:

[code]

Tagging as missing feature for libModSecurity.

The simplest "solution" is disabling rule IDs [200002](https://github.com/SpiderLabs/ModSecurity

[2018-08-23 23:46] kwenjoe commented on #1842
I have same problem, only 1 cpu working and cost to 100% ,even if configuration option "--with-lmdb=no"

[2018-08-25 09:32] void-in commented on #1875
Thanks @victorhora for taking a look at the issue. Just an update. The issue described in point 2 is resolved. All the CRS rules are working fine with the latest libmodsecurity and nginx connector. However, I have hit the issue described at https://github.com/SpiderLabs/ModSecurity-nginx/issues/74. As soon as SecRuleUpdateTargetById directive is encountered with any rule ID previously included, th

[2018-08-27 04:21] msamad opened #1879 "ModSecurity fails to parse request body with special characters when using JSON requestBodyProcessor"
Hi,
ModSecurity (v3.0.2) fails the JSON requestBodyProcessor for a request when there are special characters such as '\r', '\n' etc in the body.

e.g. Following request results in 400 Bad Request where rule 200002 fails.
[code]

ModSecurity transaction log
[code]

Nginx access log escapes the request body properly.
[code]

It seems that ModSecurity is not escaping the '\r', \n' etc which results i

[2018-08-27 13:16] defanator commented on #1531
@victorhora @zimmerle seems like this one is still working incorrectly with libmodsecurity: `ARGS_POST` and `ARGS_POST_NAMES` are still being evaluated when SecRequestBodyAccess set to off.

[2018-08-27 15:22] victorhora commented on #1879
@msamad I've managed to get this working fine by copying and pasting the request into Burp Suite like so:

![image](https://user-images.githubusercontent.com/15767386/44668135-901c1100-a9ea-11e8-89fc-2a9cc11a240d.png)

The audit logs says:

[code]

And debug logs suggests the JSON was parsed successfully:

[code]

I think it might be something to with the way the cURL is sending the content on the

[2018-08-27 15:22] #1879 closed, assigned to victorhora

[2018-08-27 17:54] msamad commented on #1879
thanks @victorhora for looking into this.
Yes, adding a single quote in curl gets it working, I purposely put it without quote in the cURL since the same scenario happens when sending request from a java client - haven't tried any other language. If the server side is Java again, it receives it properly i.e. takes care of escaping during parsing.

Nginx seems to be doing the similar thing i.e. tak

[2018-08-27 20:52] victorhora commented on #1618
While revisiting an issue related with JSON today (#1879) I was looking into YAJL API  and realized there are a few options available which we are not using today. One of them is [yajl_allow_multiple_values](https://github.com/lloyd/yajl/blob/master/src/api/yajl_parse.h#L142-L151).

By enabling this option YAJL can parse requests such as (**EDIT**: to make it clear, case below was tested in libMod

[2018-08-28 03:59] victorhora commented on #1879
@msamad, Afaik, the library that ModSecurity uses for parsing JSON (YAJL) should attempt to escape control chars such as \r which would explain why it gets parsed correctly when sending the request properly using HTTP clients. You can also test how YAJL parses data by using the json_verify tool that comes with YAJL

[code]

I've triggered the requests again using cURL without quotes (') to the "--

[2018-08-28 04:52] msamad commented on #1879
Thanks @victorhora
I'll try the similar approach on my client and check how it sends the data.

[2018-08-28 09:55] cyberblackhole commented on #1044
any update on setenv? my current version is v3.0.2. I get the below error on configtest

`Action: SetEnv is not yet supported.`

[2018-08-28 10:28] cyberblackhole commented on #1877
How do I write **chain rules** as below in **example.conf** file itself?

[code]

This gives **error** as below.

`Rules must have an ID.`

The same rule works if I place them in separate directive using **2.x** syntax.
[code]
Let me know what to do.

[2018-08-28 13:10] cyberblackhole opened #1880 "SecServerSignature is not supported"
I'm using

Apache/2.4.29 (Ubuntu).
modsecurity v3.0.2.

When I use `SecServerSignature "some server name and version"`.

[code]
I get the below error

`SecServerSignature is not supported`

Is there an alternative for this?.

[2018-08-28 18:56] victorhora commented on #1880
@Goron1606

As stated on the reference manual [SecServerSignature](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecServerSignature) is not implemented on v3.

Also, I see this feature as highly reliant on the connector to do the proper interfacing, so I guess it will take some time until we can get it done.

Unless you have a specific use case scenario for this, you s

[2018-08-28 18:56] #1880 closed, assigned to victorhora

[2018-08-29 08:05] cyberblackhole opened #1882 "SecStreamOutBodyInspection/SecStreamInBodyInspection is not supported."
Hello,

Am using
- Apache/2.4.29 (Ubuntu)
- modsecurity v3.0.2

When I use **STREAM_OUTPUT_BODY** and run configtest I get the below error message
`SecStreamOutBodyInspection is not supported.`

Is there any alternative?

[2018-08-29 14:37] victorhora commented on #1882
The [RESPONSE_BODY](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#RESPONSE_BODY) variable should allow you to inspect the output body.

[2018-08-29 14:37] #1882 closed, assigned to victorhora

[2018-08-30 02:57] dvyas opened #1883 "SecContentInjection is not yet supported"
I am getting below error when using ContentInjection rule vi /etc/nginx/nginx.conf nginx -s reload 10:26:25 [notice] 118#118: ModSecurity-nginx v1.0.0 10:26:25 [emerg] 118#118: "modsecurity_rules" directive Rules error. File: <>. Line: 1. Column: 16. SecContentInjection is not yet supported. in /etc/nginx/nginx

rg] "modsecurity_rules" directive Rules error. File: <>. Line: 1. Column: 16. SecConte

[2018-08-30 05:30] victorhora commented on #1883
Yes. As stated by the error message and the reference manual, [SecContentInjection](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecContentInjection) is not supported in libModSecurity.

[2018-08-30 05:30] #1883 closed, assigned to victorhora

[2018-08-30 05:51] void-in commented on #1877
Try
[code]

[2018-08-30 05:55] dvyas commented on #1883
Thanks, What are the rules setup for preventing CSRF in libmodsecurity

[2018-08-30 06:27] everping opened #1884 "GeoLookup does not work"
I tried to block IPs from a specific country but GeoLookup does not work.

- OS: Ubuntu 16.04.5 LTS
- modsecurity v3.0.3
- modSecurity-nginx v1.0.0
- nginx v1.14.0
- libgeoip1, libgeoip-dev, geoip-bin was installed

nginx virtual host

[code]

/usr/local/owasp-modsecurity-crs-3.0.0/crs-setup.conf
[code]
/etc/nginx/modsec/mysite.com/main.conf
[code]

And the debug log I got

[code]

This means the

[2018-08-30 06:34] dvyas opened #1885 "CSRF rules in libmodsecurity"
Hi,

What are the suggested rules for CSRF rule prevention

[2018-08-30 08:22] c0deguard commented on #1866
Any update on this issue?
I did the same setup in another server, but the issue is still there.

[2018-08-30 08:32] cyberblackhole commented on #1877
@void-in I get syntax error for your variation.

`modsecurity_rules takes one argument, Please ensure that the arugment is specified correctly, including line continuations.`

If I modify slightly like below
[code]
**Error**:
`Invalid command 'SecRule', perhaps misspelled or defined by a module not included in the server configuration`

[2018-08-30 08:39] cyberblackhole commented on #1866
Even I faced similar issue before. Any update?

[2018-08-30 12:00] void-in commented on #1877
I just tried the following (note the trailing semicolon) and nginx is not complaining:
[code]
[code]

[2018-08-30 12:54] cyberblackhole commented on #1877
@void-in  Still I face the same Errors.

**Am using**

- Apache/2.4.29 (Ubuntu)
- ModSecurity-Apache v0.1.1-beta
- modsecurity v3.0.2

[2018-08-30 22:06] victorhora commented on #1531
https://github.com/SpiderLabs/ModSecurity/pull/1886 should fix this. Please confirm if it works for you ;)

[2018-08-30 22:32] victorhora commented on #1804
@Daijobou this should not be an issue with libModSecurity (aka v3.0). https://github.com/SpiderLabs/ModSecurity/commit/7def498c4c043fd857689c7cc47a64d2bdf0badb Please consider upgrading.

I'm going to close this one. If you believe this is still an issue please let us know and we can reopen it. Thanks.

[2018-08-30 22:32] #1804 closed, assigned to zimmerle

[2018-08-30 22:33] victorhora commented on #652
@iamenderst, I believe this should be solved as of https://github.com/SpiderLabs/ModSecurity/commit/7def498c4c043fd857689c7cc47a64d2bdf0badb.

Check with the latest code from master. If it's still an issue please let us know and we'll have another look. Thanks!

[2018-08-30 22:50] victorhora commented on #1885
This seems duplicate with #1883. If there are reasons to believe that the other issue requires further discussion, please direct comments to the issue and it can be reopened if deemed necessary instead of opening a new one with same question. Thanks.

[2018-08-30 22:50] #1885 closed, assigned to victorhora

[2018-08-30 23:03] victorhora commented on #1883
@dvyas, You could try virtual patching the vulnerable parameters.

[2018-08-31 03:34] dvyas commented on #1883
@victorhora can you give me one example...I am newbie to modsecurity...is there any rules file for virtual patching

[2018-08-31 05:04] dvyas commented on #1883
How can I add a CSRF token like in modsecurity v2 it is SecContentinjection and then use append to ad token to desired forms

[2018-08-31 12:20] cyberblackhole opened #1887 "unique_id in mod-security audit logs"
Hello,

Am using,

ModSecurity v3.0.2 (Linux)
ModSecurity-Apache v0.1.1-beta connector
OWASP_CRS/3.0.2

In **2.x** version I use to see **unique_id** in logs.

[code]

However, In **3.0.2** version i don't see **unique_id** in the audit logs. There is only **id** and **server_id** parameters.

[code]

How can I relate the server's **UNIQUE_ID** given by [mod_unique_id](http://httpd.apache.org/docs

[2018-08-31 20:31] victorhora commented on #1883
You can't append content with SecContentInjection as of now with libModSecurity. This functionality is not planned to be implemented. See https://github.com/SpiderLabs/ModSecurity/issues/1001#issuecomment-339754076.

This functionality was experimental in v2 and due to performance reasons and also due to the functionality also being too tied to the connector rather than the library it's currently

[2018-08-31 20:48] victorhora commented on #1884
@everping

Can you tell us what is the output of your configure script when setting up libModSecurity? It should be something like this:

[code]

You should ensure that GeoIP support is enabled...

I would also suggest maybe removing the GeoIP packages and trying with the new GeoIP format called MaxMind by installing libmaxminddb as I'm not sure what's the current state with the old GeoIP format.

[2018-08-31 21:05] victorhora commented on #1887
I think this is not implemented for the Apache connector. In libModSecurity, unique transaction IDs are generated by modsecurity::utils::generate_transaction_unique_id() so as not to rely on an external module and become more independent.

[2018-08-31 21:06] #1887 closed, assigned to victorhora

[2018-08-31 21:06] victorhora commented on #1887
Issue moved to [SpiderLabs/ModSecurity-apache #42](https://github.com/SpiderLabs/ModSecurity-apache/issues/42) via [**ZenHub**](https://www.zenhub.com/)

[2018-09-01 08:49] LeeShan87 commented on #1866
Hi,

I think this is not an issue. In your config i see:
SecAuditEngine RelevantOnly
SecAuditLogRelevantStatus "^(?:5|4(?!04))"

Which means ModSecurity will log every http error start with 5 or 4 expect 404
The mentioned audit log has 500 http error, so this is why it had been logged.

There were no SecRule which had been triggered, this is why messages are empty.
(if I recall correctly messages

[2018-09-04 03:19] everping commented on #1884
@victorhora Here is what I got
[code]

[2018-09-04 13:10] zimmerle commented on #1776
Hi @	jmbonnefond,

ModSecurity works integrated with other(s) Apache modules that you may have configured. The modules works given a priority list and the request phase. ModSecurity is catching your request in a given phase and another Apache module is manipulating the request after that, leading you to this particular problem. I would recommend a different status code or configuration schema to m

[2018-09-04 13:10] #1776 closed, assigned to zimmerle, victorhora

[2018-09-04 16:31] victorhora commented on #1626
@xjjy1083

As far as I can recall, loading rules dynamically might not work as you are expecting. What you can do is maybe using [ctl](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#ctl) actions to change rules dynamically or using [SecRuleUpdateActionById](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecRuleUpdateActionById) (and cousins)

[2018-09-04 16:33] victorhora commented on #1626
Going to close this one. Let us know if this need further investigation or warrants thinking about new features for future versions. Thanks!

[2018-09-04 16:33] #1626 closed

[2018-09-04 20:16] stevendore opened #1888 "Are SecMarkers Broken in 3.0.2?"
I am working on loading rules with [modsecurity 3.0.2](https://github.com/SpiderLabs/ModSecurity/commit/90197bdd99eef6b874f9b09a413d9ded06ec26f3). I am using the rules from[ `v3.2/dev`](https://github.com/SpiderLabs/owasp-modsecurity-crs/commit/9ec587c0d0bf14557ceab35785488ba8c1b28c12). When attempting to include `modsecurity.conf-recommended`, `crs-setup.conf` and `rules/*.conf`, I am getting the

[2018-09-04 20:47] victorhora commented on #1660
Hey @eduardoocarneiro,

Sorry for the long delay, but I can not reproduce your issue. Here's what my error.log from Nginx looks like when a rule triggers with libModSecurity:

``
2018/08/20 02:32:47 [warn] 49142#0: *1 [client 192.168.37.1] ModSecurity: Warning. Matched "Operator `Contains' with parameter `bbb' against variable `ARGS:a' (Value: `bbb' ) [file "/usr/local/nginx/conf/modsecurity.conf"

[2018-09-04 20:51] #1660 closed

[2018-09-04 21:37] victorhora commented on #1568
The original issue titled "_ModSecurity 3 and NginX-Connector only logging with SecRuleEngine On_" has proved to be a non-issue (https://github.com/SpiderLabs/ModSecurity/issues/1568#issuecomment-335810037).

The discussion has moved to be related with custom 403 error page not working as expected specifically with the Nginx connector. This is a known issue and already being handled at https://git

[2018-09-04 21:37] #1568 closed

[2018-09-05 00:15] zimmerle commented on #1794
Fixed! Thanks!

[2018-09-05 00:15] #1794 closed, assigned to zimmerle

[2018-09-05 01:06] zimmerle commented on #1795
4585216 confirms that v3 is working correctly.

[2018-09-05 01:44] zimmerle commented on #1795
fecc429 confirms that v2 is working correctly.

[2018-09-05 01:44] #1795 closed, assigned to zimmerle

[2018-09-05 02:05] zimmerle commented on #1796
The @pmf operator has no configuration flag. Anything that it is different from its original functionality can be handled in a different operator name with custom code.

[2018-09-05 02:05] #1796 closed, assigned to nobody

[2018-09-05 06:23] cyberblackhole commented on #1866
Hi,

I tried changing it as below to log only 403 messages.

[code]

But, I can still see 500 errors in the audit logs.

[2018-09-05 08:33] Roger-Man commented on #1866
Hi All
Am using "connector":"ModSecurity-nginx v1.0.0" and am suffering from same issue.

[2018-09-05 10:51] LeeShan87 commented on #1866
I missed you are including owasp-crs too.

CRS has a SecRule which triggers on http 500 errors.
[https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/rules/RESPONSE-950-DATA-LEAKAGES.conf#L68](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/rules/RESPONSE-950-DATA-LEAKAGES.conf#L68)

CRS is a very good ruleset. But you should never included every rule in it on

[2018-09-05 13:25] stevendore commented on #1888
Here is a diff for the rule changes:
[code]

[2018-09-05 14:53] stevendore commented on #1888
I have made a much smaller test cases to show this.

The first test case:
file1:
[code]

file 2:
[code]

This resulted in:
[code]

Though when this test is run individually The files are loaded fine.
[code]

When commenting out file2's SecMarker like:
[code]

The test pass:
[code]

--------------------

Similarly the test case below produces the same results as the one above.

File1
[code]

File2

[2018-09-05 18:34] zimmerle commented on #1799
Thanks @tinselcity.

Fixed as of: 89f5427

[2018-09-05 18:34] #1799 closed, assigned to zimmerle

[2018-09-05 18:40] zimmerle commented on #1802
Hi @nathanstretch,

That may or may not be a problem. ModSecurity interacts with other modules in a sequence. Depending on the modules orders, the fcgi will be executed prior to ModSecurity. Therefore reading the empty env var.

Regarding the incorrect status code, it will be better if you could share yours debug log.

[2018-09-05 18:40] #1802 closed, assigned to zimmerle

[2018-09-05 18:43] zimmerle commented on #715
Hi @calve,

Likely to be a typo. Want to send a patch for it?

[2018-09-05 18:44] zimmerle commented on #715
Hi @gagandeepsingh485,

Not yet. Sorry :(

[2018-09-05 19:03] zimmerle commented on #1812
No longer an issue on d302b99ec539e64bc3d04295a5b9928aaa11b70f. Added a test case for it: https://github.com/SpiderLabs/ModSecurity/commit/d302b99ec539e64bc3d04295a5b9928aaa11b70f#diff-1106c1d9c86532fb5916c9af97fdd8d3

[2018-09-05 19:03] #1812 closed, assigned to zimmerle

[2018-09-05 21:21] zimmerle commented on #1827
Any position from the Oracle Weblogic module?

[2018-09-05 21:23] zimmerle commented on #1827
It is likely that ModSecurity is being called after the mod_wl. Therefore not being able to manipulate the request.

[2018-09-05 21:26] markblackman commented on #1827
That's possible, but how does that explain the mod_jk and mod_proxy_ajp behaviours?

[2018-09-05 22:13] victorhora commented on #653
I believe #1821 should fix this?

[2018-09-05 22:21] victorhora commented on #689
I would suggest migrating to libModSecurity (3.x) or 2.9.3 and CRS 3.x as well.

In addition make sure that SecUnicodeCodePage is adjusted as discussed at https://github.com/SpiderLabs/ModSecurity/issues/1587#issuecomment-375710035

[2018-09-05 22:21] #689 closed, assigned to victorhora

[2018-09-05 22:38] victorhora commented on #841
Maybe related with #673

Should be fixed once Sanitize is implemented on libModSecurity/v3.

[2018-09-05 22:42] victorhora commented on #846
This shouldn't be an issue with libModSecurity (3.x) or 2.9.3.

Please let us know if it's not the case. Thanks!

[2018-09-05 22:42] #846 closed

[2018-09-05 23:13] victorhora commented on #694
This shouldn't be an issue with libModSecurity (3.x) or 2.9.3.

Please let us know if it's not the case. Thanks!

[2018-09-05 23:13] #694 closed

[2018-09-05 23:20] victorhora commented on #765
This was fixed as of https://github.com/SpiderLabs/ModSecurity/commit/258e5545a2ba4a064004ccfedba015c1904cbdaa

[2018-09-05 23:20] #765 closed

[2018-09-06 02:32] zimmerle opened #1889 "Initialize variables before use it"
**bin_parm** is not being initialized - https://github.com/SpiderLabs/ModSecurity/blob/d302b99ec539e64bc3d04295a5b9928aaa11b70f/src/utils/acmp.cc#L45

Original report by Marc Stern

[2018-09-06 02:37] zimmerle commented on #1889
fixed.
 - 8dd4070
 - d7b9726

[2018-09-06 02:37] #1889 closed, assigned to zimmerle

[2018-09-06 03:23] everping commented on #1884
I have installed libmaxminddb from this [repository](https://github.com/maxmind/libmaxminddb#on-ubuntu-via-ppa) and I got the MaxMind lib is not found

[code]

[2018-09-06 13:13] zimmerle commented on #1824
Hi @intelbg,

Is likely that this issue was fixed by: #1747. I am closing it. Please let me know if the problem persist.

[2018-09-06 13:13] #1824 closed, assigned to zimmerle

[2018-09-06 14:50] zimmerle commented on #1853
Hi @ste7677,

You can use the ```./configure --help``` to have all the compilation options listed, including its description.

I miss in your build the ***.a*** generation. As of 16ab99ce3e23ca5953a07bba3a45fa70c6227c13 we are using the ***.la*** instead. You should be fine.

[2018-09-06 14:50] #1853 closed, assigned to zimmerle, victorhora

[2018-09-06 18:19] zimmerle commented on #1392
Hi @allanbomsft,

That is indeed a good question. Perhaps the best way to handle this, is also considers the XML invalid.

The idea is catch a possible problem (empty content in that case) before it hits the end application, where the behavior can be considered to be unknown.

[2018-09-06 18:20] zimmerle commented on #1663
@vaLski did you had the chance to test it?

[2018-09-06 18:20] #1663 closed

[2018-09-06 18:35] zimmerle commented on #1828
Hi @GwakMin,

ModSecurity is only the engine. In order to block the malicious requests, you have to use a rule set. For instance, the OWASP CRS.

You can have more info here:
https://github.com/SpiderLabs/owasp-modsecurity-crs

[2018-09-06 18:35] #1828 closed, assigned to nobody

[2018-09-06 18:54] zimmerle commented on #1727
Hi @emphazer,

Yes, there is this user Marc Stern who had a solution:

**"**
[code]
**"**

https://sourceforge.net/p/mod-security/mailman/message/36408909/

[2018-09-07 09:17] marcstern commented on #1392
The best solution is to accept it in the parser and have a rule to block it, so you can manage exceptions when needed (yes, some applications use this)

[2018-09-07 15:21] intelbg commented on #1824
Hi @zimmerle ! Thanks for the update, but I git pull in the mod security source directory, recompiled it and using the new library from master branch uploading still don't work as in the previous posts. Can you please tell me what information you need to help you debug it or if I skip something other? If I commend the rules 200004 and 200002 there is no problem.

[2018-09-08 17:41] realpg commented on #1459
same issue

[2018-09-09 05:40] nathanstretch commented on #1802
Can you provide more info on what modules would prevent mod security from setting environment variables?  Regarding status codes, what debug log are you referring to?

[2018-09-10 08:51] ghost commented on #1803
@sobigboy how do you get the values of `modsec-shared-collections modsec-shared-collections-lock` in disk,   i tried it in dos-attack and `dos` run well , but i can't get the attack-ip values or timestrap;

[2018-09-10 16:35] victorhora commented on #1459
@realpg please follow up here: https://github.com/SpiderLabs/ModSecurity-nginx/issues/76

[2018-09-10 17:07] avkarenow opened #1892 "3.0.3 when?"
Hello,

On v3/master branch are already a lot of changes which e.g. fix memory leaks.
I suggest releasing new versions more often to have a chance to use less buggy version on production. Now I need to restart Nginx instances every day because of memory leaks...

So my question is - when 3.0.3? :)

[2018-09-10 17:14] dmarlow opened #1893 "Tweaking rules"
Sorry if it's been asked before. I'm looking to tweak some rules and want to make sure I understand things and my reasoning is sound.

I'm using 2.9.2 on IIS 10 and am looking at this rule, for example:
[code]

If I don't want request cookies or headers inspected, just the args and body, can I simply strip out the parameters in the rule such that it looks like this now?

[code]

We get a lot of fa

[2018-09-10 21:15] zimmerle commented on #1892
Hi @avkarenow,

Indeed, we had a lot of contributions since our last release in April. All contributions are detailed here:
https://github.com/SpiderLabs/ModSecurity/blob/738e328723e16d5472495993e84f2a22d306975e/CHANGES#L4-L81

There are too many pull requests there are still open (https://github.com/SpiderLabs/ModSecurity/pulls). We are closing those in order to cook a new release :)

Also, there

[2018-09-10 21:15] #1892 closed, assigned to zimmerle

[2018-09-10 22:46] dmarlow opened #1894 "ModSecurity installer issues"
I'm going to try a work-around, but wondering if there's an issue with the installer. Here's the scenario:

I use Azure Cloud Services and install a specific .NET version, then install ModSecurity. It sometimes works, sometimes not. When it doesn't work, everything just hangs. The installer doesn't ever exit and the VM gets stuck in a strange provisioning state. Here's what the ModSecurity install

[2018-09-10 22:46] dmarlow commented on #1894
Forgot to mention: IIS 10 on Windows Server 2016.

[2018-09-10 23:24] dmarlow commented on #1893
Or better yet.. is there a "minimum" or "lite" version of the rules to start out with?

[2018-09-11 04:36] victorhora commented on #1884
For some reason [these Ubuntu packages](https://github.com/maxmind/libmaxminddb#on-ubuntu-via-ppa) (unlike Debian) is lacking entries on the pkg-config database which is leading the configure script to fail finding all the needed files...

This should be fixed with https://github.com/SpiderLabs/ModSecurity/pull/1895/commits/9173738cea0d3d84de5ec8581f0ee2b2006e8874.

Also you may want to apply patc

[2018-09-11 04:36] #1884 closed, assigned to victorhora

[2018-09-11 04:56] victorhora commented on #1894
I believe this is related with having either simultaneous installation process running at the same time or for some reason (which is outside of our control) the installer executable (msiexec.exe) is still running in the background between installs (either of the same package or different MSIs).

A reboot or killing msiexec.exe process prior to running the installer should fix the issue. See https:

[2018-09-11 04:56] #1894 closed, assigned to victorhora

[2018-09-11 05:07] victorhora commented on #1893
Hi @dmarlow,

Yes, your reasoning is correct, but I have a few recommendations for you:

* Upgrade your version of the OWASP CRS. From your rules, it seems like you are using version 2.2.9. This is now deprecated and users of this version are highly encouraged to move to CRS 3.x. See https://modsecurity.org/crs/ for more info on CRS 3 and check the [INSTALL file](https://github.com/SpiderLabs/owas

[2018-09-11 05:07] #1893 closed, assigned to victorhora

[2018-09-11 08:53] hazcod commented on #1797
Is there any workaround for this? I am running version 3.0.2.

[2018-09-11 11:06] hazcod commented on #1742
@zimmerle I'm having the same issue from a `git clone -b "v3/master" https://github.com/SpiderLabs/ModSecurity.git` or the `v3.0.2` tag, any guidance?
I'm using CRS ver.3.1.0

(Mentioning @csanders-git from OWASP CRS)

[code]

[2018-09-11 14:15] victorhora commented on #1797
hey @HazCod,

This is already fixed as of f999f54 and aa158ce. You can merge these commits to your code to get the fix. It will be merged prior to 3.0.3 release.

EDIT: Sorry, these commits are actually already merged into the main branch! :P So yes, cloning from master should give you the fix :)

[2018-09-11 14:17] victorhora commented on #1797
Hey @dune73 we are working on some important issues to cook the release. Should be soon :)

Have a look at https://github.com/SpiderLabs/ModSecurity/issues/1892#issuecomment-420063705.

Cheers

[2018-09-11 14:56] dmarlow commented on #1893
@victorhora thanks for the information. One last (stupid) question. Can I run on version 2.9.2 and target a higher rule set? I was always under the assumption that I had to wait to upgrade before using newer rule sets.

[2018-09-11 15:02] dmarlow commented on #1893
If I would have just looked past the first 2 sentences of the pages you sent, I would have found this nugget:

[2018-09-11 15:04] victorhora commented on #1893
1) Your question is not stupid :)

2) I was about to answer your question when I saw your latest comment. So it seems like all is good on that area :)

Good luck ;)

[2018-09-11 15:39] HazCod commented on #1797
Hello @victorhora , I do a fresh checkout from v3/master so the commits should be merged?

[2018-09-11 18:51] zimmerle commented on #1832
Hi @refinitive,

Please use Trustwave SOC to understand if you are using an optimal configuration. Things like inspect or not response body could impact significant on performance.

[2018-09-11 18:51] #1832 closed, assigned to zimmerle

[2018-09-11 19:04] zimmerle commented on #1836
Hi @wscalf,

No, this behave is not on propose. The **SecRemoteRules** stores a _uri_ in a global compartment and this compartment is later used to retrieve the rules:

https://github.com/SpiderLabs/ModSecurity/blob/f66cd4111f08a26d4429cb0071e992deb050928a/apache2/msc_remote_rules.c#L670-L671

Later, the rules are parsed:

https://github.com/SpiderLabs/ModSecurity/blob/f66cd4111f08a26d4429cb0071e9

[2018-09-11 19:04] #1836 closed, assigned to zimmerle

[2018-09-11 19:07] #1831 closed, assigned to zimmerle

[2018-09-11 20:15] victorhora commented on #1830
Fixed as of https://github.com/SpiderLabs/ModSecurity/commit/764a2e43ff03370fafa8272f9270160bcad32023

[2018-09-11 20:15] #1830 closed, assigned to victorhora

[2018-09-11 20:57] mcardoso27 opened #1896 "Storage path seems not work for AuditLogType HTTPS"
Hi, im using the v3.0.2 of ModSecurity and ModSecurity-Apache v0.1.1-beta for connection. I'm using SecAuditLogType HTTPS and I am able to receive the request with transaction information into the server. When everything is OK, the server storage the transaction, but when something goes wrong the server doesn't response with 200 status (it responses 400 or 500), however ModSecurity doesn't storage

[2018-09-11 20:58] dune73 commented on #1797
So 3.0.3 is imminent? We would hate to release CRS 3.1 with ModSec3 listed under KNOWN_BUGS.

[2018-09-11 21:06] victorhora commented on #1876
Hi,

Yes, https://github.com/SpiderLabs/owasp-modsecurity-crs project changed the default branch from v3.0/master to v3.2/dev (I'm unsure why).

The current stable release of the CRS ([v3.0.2](https://github.com/SpiderLabs/owasp-modsecurity-crs/releases/tag/v3.0.2)) loads cleanly.

The **pre-release** version ([v3.1.0-rc1](https://github.com/SpiderLabs/owasp-modsecurity-crs/releases/tag/v3.1.0-rc1

[2018-09-11 21:06] #1876 closed, assigned to victorhora

[2018-09-11 21:14] victorhora commented on #1797
No, not really imminent as @zimmerle pointed out at https://github.com/SpiderLabs/ModSecurity/issues/1892#issuecomment-420063705 we would like to fix/close most (if not all) issues under https://github.com/SpiderLabs/ModSecurity/milestone/12 prior to 3.0.3 release, which can take a couple of weeks.

This shouldn't be the case. From what I can tell, CRS 3.0, 3.1 and 3.2 should all be supported sinc

[2018-09-11 21:34] victorhora commented on #1875
Hi @void-in,

The issue of compatibility should not be a problem since f999f54 and 764a2e4. See https://github.com/SpiderLabs/ModSecurity/issues/1876#issuecomment-420425635 for more information.

We are planning to address this issue. https://github.com/SpiderLabs/ModSecurity/issues/1697 is currently in the [milestone](https://github.com/SpiderLabs/ModSecurity/milestone/12) for the 3.0.3 release.

[2018-09-11 21:34] #1875 closed, assigned to victorhora

[2018-09-11 22:09] victorhora commented on #1896
@mcardoso27

When using the HTTPS transport for audit logs, your Debug Logs should show something like "_Sending logs to:_ " <URL>" ([https.cc#L51](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/audit_log/writer/https.cc#L51)) prior to sending the logs.

If there's an error, you should see something like "_Cannot save the audit log:_ <errormsg>" ([audit_log.cc#L319](https://github.co

[2018-09-11 22:09] #1896 closed, assigned to victorhora

[2018-09-11 22:46] zimmerle commented on #1797
If the bugs are opened in the community and within the milestone tag, it is likely to be closed.

[2018-09-11 22:51] victorhora commented on #1888
I  can't reproduce this issue. CRS 3.0, 3.1 and 3.2 should all be supported since commits f999f54 and 764a2e4. See https://github.com/SpiderLabs/ModSecurity/issues/1876#issuecomment-420425635 for more info.

Let us know if your issue persists after running the latest version.

Thanks!

[2018-09-11 22:51] #1888 closed, assigned to victorhora

[2018-09-11 23:48] zimmerle commented on #1841
Merged already. Closing this issue. Thanks!

[2018-09-11 23:48] #1841 closed, assigned to victorhora

[2018-09-12 00:03] zimmerle commented on #1531
Merged! Thanks!

[2018-09-12 00:03] #1531 closed

[2018-09-12 06:17] dune73 commented on #1797
You have merged the fix for this issue here. But the 3.0.3 release is pending.

CRS 3.1 is meant to come out in a couple of weeks. It depends on this fix when running ModSec3. So CRS 3.1 will not run with the latest stable release of ModSec3. It will depend on a fix in dev. And we will need to cover this under KNOWN_BUGS in CRS 3.1. And I would rather avoid this.

[2018-09-12 06:21] hazcod commented on #1797
Just a heads up, I'm still encountering an issue with latest CRS and v3/master modsecurity in the DDOS ruleset: https://github.com/SpiderLabs/ModSecurity/issues/1742#issuecomment-420235737

[2018-09-12 12:04] zimmerle commented on #1742
@HazCod I would suggest to try the build in a clean environment. As there are users reporting that everything is working as expected, we better eliminate any problem on your environment.

[2018-09-12 12:13] hazcod commented on #1742
Hello @zimmerle , this is in a Docker container with a 3.1 CRS ruleset, so you could say it's a fresh build every time.

[2018-09-12 12:31] zimmerle opened #1898 "Implement support to Sanitize on v3"
As listed at #715 the Sanitize actions are not yet working on v3.

https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#sanitiseArg

[2018-09-12 12:44] zimmerle commented on #715
Fixed as of: c2bc6952651707f773280b7b8188db814aa11718

[2018-09-12 12:50] zimmerle commented on #715
There are **two different things** being handling in this issue: the original subject of the issue and the support for _SanitiseArgs_ on _v3_.

The original issue was closed as of f86de566d18dda6351ecba52d5e5f1d29ad02a12 (or: #1429). There is a new issue to track the support of _SanitiseArgs_ on _v3_ here: #1898.

Therefore, there is no need to keep this issue open.

[2018-09-12 12:50] #715 closed

[2018-09-12 12:52] zimmerle commented on #1898
Typo fixed at: c2bc6952651707f773280b7b8188db814aa11718

[2018-09-12 19:39] victorhora commented on #1742
Hi @HazCod

This really doesn't explain much on why you might be still having the issue. If your Dockerfile is always building from the [3.0.2 release ](https://github.com/SpiderLabs/ModSecurity/releases/tag/v3.0.2) for instance it will always fail. The same is also true if the fresh build is based on a commit prior to https://github.com/SpiderLabs/ModSecurity/commit/764a2e43ff03370fafa8272f927016

[2018-09-12 20:34] victorhora commented on #1877
@Goron1606

I believe there's something wrong with your syntax.

If I write your rule using the correct syntax for the _modsecurity_rules_ directive in libModSecurity:

[code]
This loads fine on the latest version of libModSecurity.

See https://github.com/SpiderLabs/ModSecurity-nginx/blob/master/README.md, section _modsecurity_rules_ for a syntax reference.

If you still face issues with the rule

[2018-09-12 20:34] #1877 closed, assigned to victorhora

[2018-09-12 20:37] victorhora commented on #1868
Closing due lack of feedback. #1122 remains tagged for further investigation prior to 2.9.3 release.

[2018-09-12 20:47] victorhora commented on #1858
Note the following from the [Reference Manual](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#REQUEST_BODY):

Depending on your request you might need to have a rule at a previous phase (e.g. phase:1) to forcefully fill the [REQUEST_BODY](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#REQUEST_BODY) variable a with [ctl:forceRequestBodyVariabl

[2018-09-12 20:47] #1858 closed, assigned to victorhora

[2018-09-13 01:33] victorhora commented on #1723
Hi @BP9906

Thanks for your report. But it seems like the issue is not with ModSecurity but rather with libInjection.

I've written a very simple code ([libinjection_xss_test.c](https://gist.github.com/victorhora/fdc760aabc0cb0886a5ac11b904a91b1)) to check this input against the [latest codebase of libInjection](https://github.com/client9/libinjection/commits/master) and the FP still exists:

![im

[2018-09-13 01:33] #1723 closed

[2018-09-13 03:57] hbt19860104 opened #1899 "why Modsecurity3.0 use more than 10ms when processing one httprequest with cookie header"
Hi,

    I have a performance issue in Modsecurity3.0。 When i issue a http request with fiddler like below:

User-Agent: Fiddler
Host: hb.crm2.qq.com
Connection: keep-alive
Pragma: no-cache
Cache-Control: no-cache
Upgrade-Insecure-Requests: 1
DNT: 1
Accept: */*
Accept-Encoding: gzip, deflate
Accept-Language: zh-CN,zh;q=0.9
Cookie: pgv_pvid=5233419322; pac_uid=0_5b337de3e0fb3; pgv_pvi=4538145792; t

[2018-09-13 13:33] zimmerle commented on #1899
Hi @hbt19860104,

Regardless of using or not the request body we recommend you to call the libraries methods in order to maintain the full compatibility.

How many **ms** it takes without the OWASP CRS?

I am assuming that you have wrote our own connector, without modsec, how many seconds the response is delivered?

[2018-09-13 18:55] rezan commented on #1888
I am running into this too. This is what I did:

[code]

I am using `git@github.com:SpiderLabs/owasp-modsecurity-crs.git`:`v3.0/master` for the rule set.

What am I doing wrong?

[2018-09-13 20:54] bitsofinfo opened #1900 "Multipart Invalid boundary in C-T (characters) error thrown when charset follows boundary element in CT header"
If a this Content Type header is sent the error `Multipart: Invalid boundary in C-T (characters)` is thrown
`Content-Type: multipart/form-data; boundary=09WYPQJGmFFxPW2w0gbsmeeo3AX45nRC-; charset=UTF-8`

If this Content Type header is sent: the error `Multipart: Invalid boundary in C-T (characters)` is NOT thrown
`Content-Type: multipart/form-data; charset=UTF-8; boundary=09WYPQJGmFFxPW2w0gbsmeeo3

[2018-09-13 22:05] victorhora commented on #1888
@rezan

This doesn't seem to be an issue (or rather a limitation) with libModSecurity (the library) but rather the [modsec-rules-check](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/tools/rules-check/rules-check.cc) tool.

I believe this tool was written as a quicker/simpler method to validate that a given rule syntax is sane. The tool supports reading from a file and could theoreticall

[2018-09-14 00:31] victorhora commented on #1900
Hi @bitsofinfo,

Not sure which version of ModSecurity (v2?) you are using, but both cases results in the same error for me (including on libModSecurity)

REQUEST 1:
---------------------------------------

[code]
Content-Type: multipart/form-data; **charset=UTF-8;**
[code]
Message: Multipart parsing error (init): **Multipart: Invalid boundary in C-T (malformed).**
Message: Access denied with code

[2018-09-14 00:35] bitsofinfo commented on #1900
2.9.2 only happens as described for me. I have an external client library generating these requests. (an apache commons lib doing the POSTs)

Not much more to elaborate, but the existence of a charset in the CT line regardless of if it precedes or follows the boundary should not cause this happen; no?

I would but unfortunately I'm not C programmer :)

[2018-09-14 01:56] victorhora commented on #1703
Can't reproduce this issue.

I've used the last code from master and enabled similar hardening options:

![image](https://user-images.githubusercontent.com/15767386/45524968-f8b30e00-b79e-11e8-9440-bb4bad10802c.png)

Using the following as modsecurity.conf:

[code]

Debug logs:
[code]

[2018-09-14 01:58] victorhora commented on #1703
Also couldn't reproduce the issue on the current version libModSecurity.

Please check if this issue persists with the latest version and let us know if it's the case and we can investigate further.

[2018-09-14 01:58] #1703 closed

[2018-09-14 08:31] hbt19860104 commented on #1899
I did call the libraries methods of modsecurity. The 10ms or 13 ms i methioned above is the cost i call msc_process_request_body. I did call gettimeofday before and after msc_process_request_body, and calculate the duration. And yes, i wrote my own connector, and use libmodsecurity with OWASP CRS.
It cost about 140 microseconds of msc_process_request_body function without OWASP CRS.
I think it doe

[2018-09-14 13:51] rezan commented on #1888
Not sure your statement is correct about this being limited to the `modsec-rules-check tool`. I am able to recreate this using a simple `loadFromUri()` call. It also seems that globbing and passing in the entire ruleset is pretty standard practice? Check out nginx's 3.0 implementation [here](https://docs.nginx.com/nginx-waf/admin-guide/nginx-plus-modsecurity-waf-owasp-crs/#enabling-the-owasp-crs).

[2018-09-14 15:46] stevendore commented on #1888
I believe I found the issue in [headers/modsecurity/rules_properties.h:441](https://github.com/SpiderLabs/ModSecurity/blob/c2bc6952651707f773280b7b8188db814aa11718/headers/modsecurity/rules_properties.h#L441):

[code]

The patch covers the function `RulesProperties::appendRules()`. This function gets called when `rules->load()`, `rules->loadFromUri()` or `rules->loadRemote()` are called. The bug o

[2018-09-14 20:01] victorhora commented on #1888
@rezan

I might be wrong but I'm not sure if [loadFromUri()](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/rules.cc#L80-L108) is really meant to be called for multiple files (or more than) once.

If you look into the CRS documentation you will see that the [INSTALL](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/INSTALL#L113) guide suggests using the "_Include_" d

[2018-09-14 20:03] victorhora commented on #1888
@steven-j-wojcik can you submit a pull request for the buildbots to also evaluate your patch? Thanks! :)

[2018-09-14 20:15] zimmerle commented on #1888
@steven-j-wojcik Send as the patch, so the credits for the fix will be on the git logs :) If you need help, let us know.

[2018-09-14 20:22] zimmerle commented on #1888
I am sure that this is a possible solution. And I respect your idea, but we queen for the readability and organization of the rules in order to deliver a better usability for your users. Give us the time and we - with the valuable help of @steven-j-wojcik - will make everybody happy. Sorry for the inconvinience.

[2018-09-14 23:27] rezan commented on #1888
Ok, makes sense now, I didn't realize that the nginx example was a conf file which then did a wildcard include. I confused that with nginx's native syntax.

[2018-09-15 20:29] stevendore commented on #1888
I am working on the PR now but I am wondering if there are a few more issue with the `RulesProperties::appendRules()`.  After changing the `rule_ckc->secMarker == false` to `rule_ckc->secMarker == true` I was still able to get duplicated rule IDs. I noticed the [original code](https://github.com/SpiderLabs/ModSecurity/blob/c2bc6952651707f773280b7b8188db814aa11718/headers/modsecurity/rules_properti

[2018-09-17 06:44] cyberblackhole commented on #1877
@victorhora . I have tried this earlier. Again I am facing the same syntax error messages. I have raised an issue [here](https://github.com/SpiderLabs/ModSecurity-apache/issues/43). Thanks.

[2018-09-17 11:42] tomsommer commented on #1727
+1 This is certainly needed

[2018-09-18 08:06] muzammel111 opened #1902 "Can we use new CRS rules against Modsecurity version 2.9.2 ?"
Respected Support,

I am currently using the modsecurity version 2.9.2, i want to update CRS rules to gain more protection benefits, can i simply update CRS rules using git clone https://github.com/SpiderLabs/owasp-modsecurity-crs.git Or i need to upgrade modsecurity version to 3.0.2 before rules upgrade ?. Please guide is there any conflict or compatibility issue.

Regards,
Muzi

[2018-09-18 10:31] cyberblackhole opened #1903 "ARGS_POST not working"
Hi,

I'm trying to block **post** requests as seen below. But its not blocking them. SecRequestBodyAccess is set to On.

`SecRule ARGS|ARGS_POST:username "example" "id:12312,deny,phase:1,auditlog,msg:'Blocked Username example'"`

Below is my **example.conf** file

[code]

Below is my **modsecurity.conf** file

[code]

Let me know what is wrong

[2018-09-18 10:35] smart0088 opened #1904 "In ModSecurity 3.0, when the parameter value in the POST request is null, the parsed parameter name is incorrect."
In ModSecurity 3.0, when the parameter value in the POST request is null, the parsed parameter name is incorrect.

The following is the specific request test data：
---------------------------------------------------------------------------------------------------------
POST /test HTTP/1.1
Host: www.test.com
Connection: keep-alive
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/

[2018-09-19 02:02] hbt19860104 opened #1905 "how libmodsecurity process keepalived http request"
Hi!
I use msc_new_transaction, msc_process_connection, msc_process_uri, msc_add_request_header, msc_process_request_headers, msc_append_request_body, msc_process_request_body, and use msc_transaction_cleanup when connection is disconnect. When process keepalived requests, I call msc_process_uri, msc_add_request_header ...... , repeatly. But the latter request process cost so much time i function m

[2018-09-19 02:25] GustavoKatel opened #1906 "Compiling from tarballs and conda-forge"
TL;DR; Does compiling from tarballs have to require git?

Hi, I have been working in the python bindings of modsecurity (https://github.com/actions-security/pymodsecurity) for a couple of months now and I managed to get the lib to build inside conda-forge (https://github.com/conda-forge/modsecurity-feedstock). One can now install the lib in a conda environment using: `conda install modsecurity` an

[2018-09-19 14:18] victorhora commented on #1906
Hey @GustavoKatel

Thanks a lot for your work on the bindings. We really appreciate it :)

As for:

In a sense it does due to [configure.ac#L6](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/configure.ac#L6) and [configure.ac#L70](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/), but that's it afaik.

Some of these buildscript errors on the buildscript might be related with the

[2018-09-19 14:38] victorhora commented on #1903
From your logs I understand that you're running libModSecurity with the ModSecurity-apache connector right?

If that's so, there's a known issue where the body is attached too late for processing. See https://github.com/SpiderLabs/ModSecurity-apache/issues/37.

You might want to give it a try with pull request SpiderLabs/ModSecurity-apache#22. This should allow inspection on the body but it's stil

[2018-09-19 14:38] #1903 closed, assigned to victorhora

[2018-09-19 14:44] victorhora commented on #1902
Yes, it should work. You can follow the installation steps described in the [INSTALL file of the CRS project](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/INSTALL#L77-L227).

If you have further questions regarding CRS usage, please direct them to the CRS project.

Thanks!

[2018-09-19 14:44] #1902 closed, assigned to victorhora

[2018-09-19 17:53] muzammel111 commented on #1902
Thank you so much for your support and guidance.

Thanks !

[2018-09-19 18:06] scottcc opened #1907 "Add "Compilation Recipe" for v3.x: Mac OSX High Sierra (10.13.x)"
Hello. There's some good instructions for compilation of the various parts on this page:

https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes-for-v3.x

I thought I'd add the steps I've found to work when using current tip-of-master branches with:

* Mac OSX 10.13.6
* nginx 1.15.3

I've done relatively minimal testing, but a suggestion to add the below SecRule appeared to work for me

[2018-09-19 18:23] davewichers opened #1908 "Duplicate Log Message: "(Content-Length) is larger than the configured limit""
This is a minor issue. I'm seeing this log message twice in my ModSecurity 'H' blocks. I believe the cause is in: apache2/mod_security2.c:

  line 877 is: msr_log(msr, 1, "Request body (Content-Length) is larger than the "
  and lines 993, 996, & 1000 are the same (but only one of those will execute).

Seems like maybe the log event at 877 can simply be deleted since it duplicates what happens lat

[2018-09-19 22:27] mdunc opened #1909 "ModSecurity 3 no longer compiles with LuaJIT 2.1"
A recent change in ModSecurity seems to have broken compatibility with LuaJIT (which is compatible with Lua 5.1).  The following is the error when compiling:

[code]

[2018-09-19 23:38] GustavoKatel commented on #1906
Hi @victorhora

Here's the output if I build without the patch. https://pastebin.com/a8hGHChj

I got several messages like `fatal: not a git repository (or any of the parent directories): .git`

And no version definition in the logs

Got `ModSecurity -  for Linux`

Expected: `ModSecurity - v3.0.2 for Linux`

I believe this happens because the tarballs are not a git repo per si (i.e. does not conta

[2018-09-20 00:11] victorhora commented on #1906
Hummm that makes sense indeed. Well your patch fixes the issue, but then it seems like the versions are all hardcoded :(

Maybe we could check with @zimmerle on moving those checks to the script that actually builds the release on the developers environment and changing configure.ac to not rely on a local Git repo but rather purely on the MAJOR / MINOR definitions.

But thinking again, maybe we co

[2018-09-20 00:31] victorhora commented on #1909
Hi @mdunc

I'm wondering if you are running the latest version and that the configure script correctly ran on your environment setting the flags for LuaJIT correctly?

On one of my test environments (Debian 8.9) it compiles and runs fine with LuaJIT:

[code]

I would suggest double-checking that other Lua versions (5.1, 5.2, 5.3) are not screwing up the configure script by checking the output of t

[2018-09-20 00:42] zimmerle commented on #1906
The idea is that the _./build.sh_ script is meant to run inside a git repository. In a development environment. As of the **.tar.gz**, we don't really expect development, but rather a user trying to compile the package, therefore it is safe to go straight to the _./configure_ script.

That is the main reason why the _./build.sh_ uses the git parameters while the rest won't.

You may want disable t

[2018-09-20 02:56] GustavoKatel commented on #1906
Oh nice! The build process did run successfully skipping the _build.sh_. I think I did miss that somewhere in the docs. I will update the package and remove the patch. Thanks @zimmerle @victorhora :)

[2018-09-20 05:34] mdunc commented on #1909
Hi @victorhora .  I am compiling this in Alpine Linux 3.6 as part of a Docker container.  The Dockerfile I am using has not been modified in several months and used to work fine (I have also tried Alpine 3.8 with the same results).  The luajit and luajit-dev packages are installed (no other Lua versions are installed) then ModSecurity is pulled from Github and built with the following environment

[2018-09-20 05:49] mdunc commented on #1909
This is the configure output:

[code]

[2018-09-20 06:01] mdunc commented on #1909
Also, I see from the output you provided that Debian is using LuaJIT 2.0, not 2.1.  I haven't gone through the code in LuaJIT, but this is what is causing the conflict in ModSecurity - https://github.com/SpiderLabs/ModSecurity/commit/dee989844914f07e38367fb6b1ead906541c0849#diff-f120b67754e2c3ff8a98d4e3007f12efR111.  I had no problems compiling prior to that commit.
 I can checkout eed6b5f86d00ce7

[2018-09-20 14:20] victorhora commented on #1906
Cool. Let's push a small change to that script prior to 3.0.3 release :)

[2018-09-20 17:20] victorhora commented on #1909
Indeed. LuaJIT 2.1 is breaking.

I believe this is due luaL_setfuncs() already being defined in LuaJIT 2.1 (see [lauxlib.h#L88](https://github.com/LuaJIT/LuaJIT/blob/v2.1/src/lauxlib.h#L88)).

Commit https://github.com/SpiderLabs/ModSecurity/commit/dee989844914f07e38367fb6b1ead906541c0849#diff-f120b67754e2c3ff8a98d4e3007f12efR111 defines this func as it is being used by the Lua engine inside ModSe

[2018-09-20 17:26] victorhora commented on #1909
@mdunc As for:

I've also checked this one and it wasn't necessary on the latest version of Alpine Linux (3.8.1). I did get: ``linux/if.h: No such file or directory`` error, but this can be fixed by simply installing the [linux-headers](https://pkgs.alpinelinux.org/package/edge/main/x86_64/linux-headers) package.

Can you maybe try the same on Alpine 3.6 to see if it fixes the issue? Otherwise we

[2018-09-20 19:52] victorhora commented on #1909
Pull request #1910 should fix this issue.

Thanks for the report :)

[2018-09-20 19:52] #1909 closed, assigned to victorhora

[2018-09-20 20:53] wscalf commented on #1836
So, I'm not sure I'm understanding this response. I see the code and understand that it's an error to use SecRemoteRules more than once, and it's kind of interesting that the reason for it is as simple as the original data structure. It might be useful to have it expanded to be allowed.

My concern, though, is that I have seemingly conflicting behavior-
* On the one hand, using *SecRemoteRules* in

[2018-09-20 21:10] victorhora commented on #1857
Fixed as of https://github.com/SpiderLabs/ModSecurity/commit/e0a087b54036537f1145e86a602094d8a3d2933f

Thanks for your contribution :)

[2018-09-20 21:10] #1857 closed, assigned to victorhora

[2018-09-20 21:11] victorhora commented on #1848
Dependencies list updated at https://github.com/SpiderLabs/ModSecurity/commit/e0a087b54036537f1145e86a602094d8a3d2933f

Thanks for your contribution :)

[2018-09-20 21:11] #1848 closed, assigned to victorhora

[2018-09-20 23:27] victorhora commented on #1671
Fixed as of https://github.com/SpiderLabs/ModSecurity/commit/a6774560786bda02fc86d721c722a6daad0592a7

Thanks! :)

[2018-09-20 23:27] #1671 closed

[2018-09-21 00:17] msamad commented on #1879
Hi @victorhora,
I tried it with WireShark - sorry took me a while to get back to this one.

So I sent the request using a java client to ModSecurity (Nginx) and got back a 400 as ModSecurity failed to parse the request body. WireShark though sees it as a proper JSON object, image below.

![image](https://user-images.githubusercontent.com/24932925/45856974-d62a8180-bdaa-11e8-8a21-a9b4647de7c7.png)

[2018-09-21 03:05] msamad commented on #1879
Also tried it with Python script and got 400 because modsecurity failed to parse request body.

Script:
[code]

I get this in nginx access and modsecurity logs.
[code]

This is same as what I get for java client.

[2018-09-21 17:25] emphazer commented on #1727
@zimmerle thanks for this information.

for us this module is no option, because we run over 200 servers with modsecurity and complex proxy rules... there is no way to change the whole infrastructure.

thats why we choosed the way to monthly extract the information from GeoLite2-Country
and to generate our own GeoIP.dat file.
it works very well with modsecurity v2.x.

greetings,
christoph

[2018-09-21 17:49] tomsommer commented on #1727
Can you elaborate on how you do this?

[2018-09-21 17:53] davewichers commented on #1825
I'm having this problem as well in ModSecurity 2.9.1 , and so would love to know when this get's fixed in the 2.9.x branch as well, as 3.x.

[2018-09-21 18:23] davewichers commented on #1468
Hi @victorhora,

I'm seeing this duplication of ModSecurity Messages: and the exact same entry in Apache-Error:  lines in my H blocks on CentOS7 using ModSec 2.9.2, but I wasn't seeing this on CentOS6 using ModSec 2.9.1. Not sure why the difference. However, I would think we'd want to eliminate this duplicate logging as it wastes logging space.

I was reading: https://github.com/SpiderLabs/ModSecu

[2018-09-21 19:23] victorhora commented on #1879
Hi @msamad

I believe that the problem here is that some of the clients that generate the requests are actually interpreting the **\r\n** characters and instead of sending the **\r\n** characters in their "raw" ASCII format (_0x5c 0x72 0x5c 0x6e_), they are instead sending the **\r\n** as their actual control characters sequence (_0x0d 0x0a_).

If you pay attention to the Wireshark capture compare

[2018-09-21 20:10] victorhora commented on #1825
Adding to the 3.0.4 release milestone.

[2018-09-21 20:30] emphazer commented on #1727
@tomsommer sure, i think i will post it on a blog next 4-6weeks.

[2018-09-21 20:55] davewichers commented on #1825
Are you going to backport enhancements like this to the 2.9.x branch?

[2018-09-21 21:03] victorhora commented on #1825
I don't think so @davewichers

Development efforts towards the 2.9.x branch is currently at maintenance level, meaning that security issues and/or major bugs are addressed with higher priority, while new features or minor bug fixes are meant for v3.

But being an Open Source project, everyone is welcomed to send patches/pull requests ;)

[2018-09-21 21:10] davewichers commented on #1825
Hmmm. It's my understanding that v3 really isn't ready for production use with Apache yet, like 2.9.x is. Is that correct? If not, are there instructions on how to seamlessly/easily upgrade/port from 2.9.x to 3.0.x? I couldn't find anything like that. If it is still Alpha, then seems like fixes like this that reduce false positives should be backported if at all possible.

[2018-09-21 21:37] victorhora commented on #1468
@davewichers the messages that get sent to the Apache error log will also be shown in the AuditLog. (see [msc_logging.c](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/apache2/msc_logging.c#L1977))

ModSecurity disruptive actions (e.g. [deny](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#deny)) will normally trigger an event/entry on Apache error_log. Non-dis

[2018-09-21 22:38] victorhora commented on #1825
@davewichers Yes the Apache-connector is in development stage at this moment.

Documentation for the connector and libModSecurity can be found on the links below:
https://github.com/SpiderLabs/ModSecurity-apache/blob/master/README.md
https://github.com/SpiderLabs/ModSecurity/blob/v3/master/README.md

If you have more specific issues/questions about the Apache-connector, please direct them in the p

[2018-09-22 17:09] nix0x00 opened #1911 "This version of ModSecurity was not compiled with GeoIP or MaxMind support."
Hi,

I am trying to install ModSec module with Nginx and for that I need GeoIP. I have installed libmaxminddb by following tar.gz installation mentioned here: https://github.com/maxmind/libmaxminddb

And then I downloaded (https://github.com/leev/ngx_http_geoip2_module) and compiled successfully, but owasp modsecurity rules is showing me this error even though I compiled it with maxmind.

`nginx:

[2018-09-22 21:10] victorhora commented on #1911
Which version of ModSecurity you're running? 2.9.x? 3.0.x? Notice that libMaxMind is only supported on libModSecurity (aka ModSecurity v3).

If you are running v3, make sure you have at least [v3.0.2](https://github.com/SpiderLabs/ModSecurity/releases/tag/v3.0.2) or cloning from latest master.

If you are running 2.9.x, only GeoIP is supported (which is getting deprecated).

[2018-09-22 21:10] #1911 closed, assigned to victorhora

[2018-09-22 21:20] victorhora commented on #564
The global mutex is optional since https://github.com/SpiderLabs/ModSecurity/commit/112ba45e7abec511919cd600a125aebe5603ab30 (included in [2.9.2](https://github.com/SpiderLabs/ModSecurity/releases/tag/v2.9.2) release)

Nginx support for ModSecurity 2.9.x branch is unsupported. This shouldn't be a concern with libModSecurity. Please upgrade.

Thanks!

[2018-09-22 21:20] #564 closed, assigned to zimmerle

[2018-09-22 21:22] victorhora commented on #426
The global mutex is optional since https://github.com/SpiderLabs/ModSecurity/commit/112ba45e7abec511919cd600a125aebe5603ab30 (included in [2.9.2](https://github.com/SpiderLabs/ModSecurity/releases/tag/v2.9.2) release)

This shouldn't be a concern with libModSecurity (aka 3.0) and libMaxMind.

Cheers

[2018-09-22 21:22] #426 closed, assigned to zimmerle

[2018-09-22 22:49] victorhora commented on #454
The global mutex is optional since 112ba45 (included in 2.9.2 release)

Nginx support for ModSecurity 2.9.x branch is unsupported. This shouldn't be a concern with libModSecurity. Please upgrade.

PR https://github.com/SpiderLabs/ModSecurity/pull/1912 is up for evaluation address the compatibility issue with apache2-itk and mod_ruid2 modules.

[2018-09-22 22:49] #454 closed

[2018-09-22 22:51] victorhora commented on #712
The global mutex is optional since 112ba45 (included in 2.9.2 release)

@ju5t I've pushed your patch as PR #1912. It's tagged for review for 2.9.3.

Thanks all for your contributions :)

[2018-09-22 22:51] #712 closed

[2018-09-22 22:55] victorhora commented on #1168
The global mutex is optional since 112ba45 (included in 2.9.2 release).

PR https://github.com/SpiderLabs/ModSecurity/pull/1912 is up for evaluation address the compatibility issue with apache2-itk and mod_ruid2 modules.

And indeed, this shouldn't be a concern with libModSecurity. libModSecurity (aka v3) is already officially released: https://github.com/SpiderLabs/ModSecurity/releases/tag/v3.0.2

[2018-09-22 22:55] #1168 closed

[2018-09-22 22:58] victorhora commented on #768
The global mutex is optional since 112ba45 (included in 2.9.2 release).

This shouldn't be a concern with libModSecurity. libModSecurity (aka v3) is already officially released: https://github.com/SpiderLabs/ModSecurity/releases/tag/v3.0.2 (3.0.3 upcoming)

Thanks!

[2018-09-22 23:13] victorhora commented on #1288
This shouldn't be a concern with libModSecurity. Ssdeep support and the [fuzzyHash](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#fuzzyHash) operator are fully implemented since https://github.com/SpiderLabs/ModSecurity/commit/a9d54c30a147478a36282c9073743c3ddd037772. See https://github.com/SpiderLabs/ModSecurity/issues/997 fore more information.

libModSecurity (aka v

[2018-09-22 23:13] #1288 closed

[2018-09-22 23:20] victorhora commented on #1240
No long a concern with libModSecurity. All the optional dependencies are enabled by default (as long as the user actually have the libraries/headers on the OS).

By simply running the configure script without extra options this is what the user gets:

[code]

[2018-09-22 23:25] victorhora commented on #1253
Closing due to lack of response from reporter. Assuming user fixed the issue or misconfiguration.

If the problem persists, please let us know.

Thanks!

[2018-09-22 23:44] victorhora commented on #1582
We couldn't reproduce this issue. Can you please confirm if this issue happens with a fresh build of ModSecurity (as opposed to CPANEL's custom build)? I'm wondering if this isn't related with a particularity of the environment or customization.

Thanks.

[2018-09-22 23:47] victorhora commented on #1042
This should no longer be a concern with libModSecurity (aka v3).

https://github.com/SpiderLabs/ModSecurity/tree/v3/master

[2018-09-22 23:47] #1042 closed

[2018-09-22 23:51] victorhora commented on #1352
We couldn't reproduce this issue. I see that the user was running version 2.9.0.

Please let us know if this issue persists with 2.9.2/3.0.2 or a fresh build of ModSecurity from master.

Thanks.

[2018-09-22 23:51] #1352 closed

[2018-09-23 00:44] victorhora commented on #1556
Merged at https://github.com/SpiderLabs/ModSecurity/commit/aab128f810dcb8b557d3435fba703805a732b298 https://github.com/SpiderLabs/ModSecurity/commit/96756533bae550df3db929b6bb281d713b8509b3

Thanks.

[2018-09-23 00:44] #1556 closed

[2018-09-23 04:06] nix0x00 commented on #1911
Hi, I downloaded it again and compiled, this time it's giving me a different error.

nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /usr/local/owasp-modsecurity-crs/rules/REQUEST-901-INITIALIZATION.conf. Line: 298. Column: 119. Expecting an action, got:  ctl:requestBodyProcessor=URLENCODED" in /etc/nginx/nginx.conf:62

[2018-09-23 15:06] binaryanomaly commented on #1742
@HazCod Having the same issue. Going back to CRS v3.0 solved it here.

`git clone -b v3.0/master --single-branch https://github.com/SpiderLabs/owasp-modsecurity-crs.git`

[2018-09-23 17:42] ju5t commented on #712
@victorhora awesome! Thanks!

[2018-09-24 01:35] msamad commented on #1879
Hi @victorhora,
Thank you very much for the details

Escaping the `\r` and `\n` gets it to pass their "raw" ASCII format (0x5c 0x72 0x5c 0x6e).

The following python script results in ASCII sequence instead of control character sequence.
[code]

![image](https://user-images.githubusercontent.com/24932925/45935202-331d7600-bffd-11e8-8790-e7ad391c648b.png)

I needed to escape the json escape sequenc

[2018-09-24 03:12] msamad commented on #1879
One more thing to mention that the following python script will be successful without escaping `\r` `\n` as the language parses the json properly and takes care of any escaping since the data is being passed `json as object` and not `json as string`.

[code]
Notice the `json=data` part which is different from `data=data` where we escape `\r` `\n`

[2018-09-24 05:47] hazcod commented on #1742
@victorhora , see comment from someone else above with same issues.
I was checking out from `v3/master`, which is your master branch where it should be merged?

[2018-09-24 13:29] victorhora commented on #1911
@nix0x00

You are probably downloading libModSecurity 3.0.2 release? 3.0.2 doesn't support [ctl:requestBodyProcessor=URLENCODED](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#ctl).

The support for this feature was added on this commit: https://github.com/SpiderLabs/ModSecurity/commit/f999f54eda0674fe3f453bf939b9abcd2aa0290a

If you want to run the latest CRS you need

[2018-09-24 16:05] davewichers commented on #1468
I noticed this change when I switched from ModSecurity 2.9.1 on CentOS 6 with httpd 2.2.15-60 to ModSecurity 2.9.2 on CentOS 7 with httpd 2.4.6-67. I'm using ModSecurity in log mod only so I'm not denying anything. That's all the info I have at this time to help you try to track down the cause of this behavior change.  And I have the LogLevels for both Apache and ModSecurity the same on both syste

[2018-09-24 19:21] zimmerle commented on #1725
Added an test case for this specific issue:
https://github.com/SpiderLabs/ModSecurity/blob/a3ff3c9c4b52bccd823f2ff59a629a0045d47c79/test/test-cases/regression/issue-1725.json#L39

[2018-09-24 19:22] zimmerle commented on #1725
As of 2e63bfe891d7a67852a1577c8cc4710e304a7b4d this is no longer an issue. Closing.

[2018-09-24 23:30] victorhora commented on #1742
@binaryanomaly @HazCod

Please make sure you are checking out from v3/master and make sure you are running a supported version of CRS. I just re-tested here again and I'm able to load CRS 3.0 and CRS 3.1-dev just fine.

See https://github.com/SpiderLabs/ModSecurity/issues/1876#issuecomment-420425635

Bear in mind that CRS 3.2-dev does not load due to invalid variables being used in the ruleset. Th

[2018-09-24 23:37] victorhora commented on #538
[SecStreamInBodyInspection](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecStreamInBodyInspection) should be turned on for IIS.

As for Nginx, support for this module in ModSecurity 2.9.x branch is deprecated. This shouldn't be a concern with [libModSecurity](https://github.com/SpiderLabs/ModSecurity/tree/v3/master).

Thanks!

[2018-09-24 23:37] #538 closed

[2018-09-24 23:43] victorhora commented on #733
Nginx support in ModSecurity 2.9.x branch is deprecated. This shouldn't be a concern with [libModSecurity](https://github.com/SpiderLabs/ModSecurity/tree/v3/master) where the [SecAuditLogType](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecAuditLogType) HTTPS directive is available instead of MlogC.

Thanks!

[2018-09-24 23:43] #733 closed

[2018-09-24 23:45] victorhora commented on #713
Nginx support in ModSecurity 2.9.x branch is deprecated. This shouldn't be a concern with [libModSecurity](https://github.com/SpiderLabs/ModSecurity/tree/v3/master).

Thanks!

[2018-09-24 23:45] #713 closed

[2018-09-25 00:00] victorhora commented on #857
Nginx support in ModSecurity 2.9.x branch is deprecated. This shouldn't be a concern with [libModSecurity](https://github.com/SpiderLabs/ModSecurity/tree/v3/master) where the [SecAuditLogType](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecAuditLogType) HTTPS directive is available instead of MlogC.

Thanks!

[2018-09-25 00:00] #857 closed

[2018-09-25 00:04] victorhora commented on #943
Nginx support in ModSecurity 2.9.x branch is deprecated. This shouldn't be a concern with [libModSecurity](https://github.com/SpiderLabs/ModSecurity/tree/v3/master) where the [SecAuditLogType](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecAuditLogType) HTTPS directive is available instead of MlogC.

Thanks!

[2018-09-25 00:04] #943 closed

[2018-09-25 00:13] victorhora commented on #1062
This shouldn't be a concern with [libModSecurity](https://github.com/SpiderLabs/ModSecurity/tree/v3/master).

OpenBSD support for libModSecuirity should be stable as of https://github.com/SpiderLabs/ModSecurity/commit/dce2fed3101bbea51eba0634d17b593a8368ce8c

Thanks!

[2018-09-25 00:13] #1062 closed

[2018-09-25 00:20] victorhora commented on #821
Please let us know if the issue persists with a newer version of ModSecurity such as 2.9.2 or v3 ([libModSecurity](https://github.com/SpiderLabs/ModSecurity/tree/v3/master))

Also would suggest updating to the latest version (3.x) of [OWASP CRS](https://github.com/SpiderLabs/owasp-modsecurity-crs/) to avoid false positives.

Thanks!

[2018-09-25 00:20] #821 closed, assigned to victorhora

[2018-09-25 00:24] victorhora commented on #1345
Nginx support in ModSecurity 2.9.x branch is deprecated. This shouldn't be a concern with [libModSecurity](https://github.com/SpiderLabs/ModSecurity/tree/v3/master).

Thanks!

[2018-09-25 00:43] zimmerle commented on #1627
There is a clear value to stamp the transaction ID and the request uri, as it should facilitate the life of our users. The idea to share within the connector is something really great.

As of 4dd28127577eca0bf854db5c134a4134db6ff1ec the API has a new method that allows a transaction to be created with a given ID instead of a random-generated one. The  ```msc_new_transaction_with_id``` is not yet i

[2018-09-25 00:43] #1627 closed

[2018-09-25 03:53] victorhora commented on #1064
This shouldn't be a concern with [libModSecurity](https://github.com/SpiderLabs/ModSecurity/tree/v3/master).

On v3, these checks are made by the parser. Meaning that if a feature is lacking and one tries to use it explicitly the parser will trigger an error immediately (e.g. https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/parser/seclang-parser.yy#L318-L325)

Instead of a new variable

[2018-09-25 03:53] #1064 closed

[2018-09-25 04:00] victorhora commented on #1107
Closing due to https://github.com/SpiderLabs/ModSecurity/pull/1108.

[2018-09-25 04:00] #1107 closed

[2018-09-25 04:08] victorhora commented on #1372
I'm closing this issue due to lack of feedback from the community.

If this feature is deemed important, let us know and we can reopen for revaluation. See also https://github.com/SpiderLabs/ModSecurity/pull/1371#issuecomment-424200802

[2018-09-25 04:08] #1372 closed

[2018-09-25 04:24] victorhora commented on #613
Apologies for the lack of response :(

Please let us know if the issue persists with a newer version of ModSecurity such as 2.9.2 or v3 ([libModSecurity](https://github.com/SpiderLabs/ModSecurity/tree/v3/master))

Thanks!

[2018-09-25 04:24] #613 closed, assigned to victorhora

[2018-09-25 04:24] dune73 commented on #1725
Thank you @zimmerle.

Is DURATION now counted in microseconds  (-> integer), or still as a float?

[2018-09-25 13:21] zimmerle commented on #1044
Implemented at: bc3d3f19154793e23568103b931a15168b34d768

[2018-09-25 13:23] zimmerle commented on #1546
It seems the problem was solved. Closing.

[2018-09-25 19:26] victorhora commented on #1907
Hi @scottcc

Thank you very much for your contribution.

It has been added here:

https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes-for-v3.x#mac-osx-1013

Feel free to send over more contributions in case you have something else in hand :)

Cheers!

[2018-09-25 19:26] #1907 closed, assigned to victorhora

[2018-09-25 19:44] davewichers opened #1913 "collection_retrieve_ex: Failed to lock proc mutex"
The use of mutex's was introduced in v2.9.2 to address issue: #1224. I'm now seeing this error in my ModSecurity audit logs:

Message: collection_retrieve_ex: Failed to lock proc mutex: Identifier removed
Message: collection_retrieve_ex: Failed to lock proc mutex: Identifier removed
Message: Audit log: Failed to lock global mutex: Identifier removed

Was a bug introduced??  I'm using ModSec 2.9.2

[2018-09-25 20:00] victorhora commented on #1913
@davewichers

The mutex introduced in 2.9.2 is optional: https://github.com/SpiderLabs/ModSecurity/commit/112ba45e7abec511919cd600a125aebe5603ab30

So unless you build it specifically with the ```--enable-collection-global-lock``` during the ```./configure``` phase the feature will be disabled.

If you are experiencing issues with collections, It might be a good idea to enable it (See https://gith

[2018-09-25 20:00] #1913 closed, assigned to victorhora

[2018-09-25 20:10] davewichers commented on #1913
I have no idea if I'm using collections or not. I'm just deploying mod_sec. I also didn't build modsec 2.9.2 as I'm pulling down the version that is available for CentOS7 from yum. So I don't know if it is enabled or disabled by default in the version I'm using. How do I enable it to see if it makes this issue go away?? And enable via configuration, not via compilation, as I'm not compiling what I

[2018-09-25 20:19] davewichers opened #1914 "JSON support was not enabled (Make it required?)"
I believe JSON support in ModSecurity is optional, i.e., it has to be compiled in and is not by default. With the prevalence of JSON support in apps today, can you change this to be a required, not optional, component? This way, users don't have to beg the people that compile and distribute their ModSecurity version (e.g., Debian, CentOS, etc.) to include JSON support in what they compile and rele

[2018-09-25 21:40] victorhora commented on #1914
@davewichers

I believe that JSON support is enabled by default during compilation if the [YAJL](https://lloyd.github.io/yajl/) library is available (see [find_yajl.m4](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/build/find_yajl.m4))

In your case it was the a choice of the packagers of your distro either not providing YAJL on the distro (maybe try searching if your distro provides su

[2018-09-25 21:40] #1914 closed, assigned to victorhora

[2018-09-25 21:48] victorhora commented on #1913
@davewichers

If you are using the OWASP CRS rules, then you are definitely using collections. See [Persistent Storage](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#Persistent_Storage) for more information on collections.

If you haven't compiled the package yourself, I'm not sure if there's an easy way to find out if you have this enabled or not. Your best bet is pro

[2018-09-26 12:57] davewichers commented on #1914
The point of my request is to make it REQUIRED. Meaning that if the library is not present, fail the compilation. I think this is similar to: #1913, in that you say it has to be compiled in. My suggestion is to make all these optional features required to be compiled in, but then they can be enabled/disabled via configuration. And the default configuration can have them on or off as you think is o

[2018-09-26 13:06] davewichers commented on #1913
Your last paragraph above emphasizes the point I made in #1913. That this is hard to figure out. If it was compiled in by default, and simply enabled disabled with a runtime configuration file, rather than a compile time configuration file, a user could simply look for the current setting, and switch it if they want to change the behavior. And they would never have to figure out if the feature is

[2018-09-26 13:11] ghost opened #1915 "ModSecurity DoS protection on IIS"
We require a DoS protection on our web site that is running on IIS, so we decided to try out ModSecurity. We installed ModSecurity 2.9.2 with OWASP CRS 3.0.2. After doing a bit of digging we opted to set PL to level 3. Now, at this PL if the burst counter (IP:DOS_BURST_COUNTER) is greater equal 1, then the blocking flag is being set (IP:DOS_BLOCK). The blocking flag (IP:DOS_BLOCK) expires within a

[2018-09-26 16:22] binaryanomaly commented on #1742
I can confirm that both `v3.0/master` and `v3.1/dev` do not produce the error message here the OP mentioned.
This seems to be only the case when not specifying a branch because the then the default branch is `v3.2/dev`

[2018-09-26 16:27] hazcod commented on #1742
How do you mean not specifying a branch? We're both supplying `-b v3.0/master`?

[2018-09-26 16:36] binaryanomaly commented on #1742
I initially had no branch specified and I guess it worked until the switch to 3.2 happened. That's when I went back to `v3.0/master` because it's not a dev branch. After seeing what @victorhora wrote I tested with `v3.1/dev` and it works as well here. I'm building inside a Docker container, too.

[2018-09-26 21:26] victorhora commented on #1913
@davewichers

Please bear in mind that some configuration options are simply unfeasible to be configured at runtime. Either because it could affect performance or it could make the engine more fragile or would require too many changes and developers time (when pending bugs/features with higher priority needs to be worked on).

Note that although we take user-friendliness into account with new feat

[2018-09-26 21:34] victorhora commented on #1914
@davewichers

As mentioned on #1913, ModSecurity is a performance focused, general purpose WAF (not a "WAF product"). It's core concept is being a highly customizable _WAF engine_.

ModSecurity is meant to run in many platforms, including resource constrained environments (e.g. an [ARM micro PC](https://www.kickstarter.com/projects/onion/omega2-5-iot-computer-with-wi-fi-powered-by-linux)) where a

[2018-09-27 02:55] davewichers commented on #1914
Thanks for this explanation and these details. They are helpful.

[2018-09-27 20:59] stevendore opened #1916 "[V3] callback function not receiving http return code"
Working with the callback function the `message` always contains a `%d` instead of an error code.
ex: `ModSecurity: Access denied with code %d (phase 2). Matched "Operator Rx with parameter a...`.

Even though in the audit log, the line will contain the code instead of `%d`
ex: `ModSecurity: Access denied with code 200 (phase 2). Matched "Operator Rx with parameter a...`

I am invoking the call ba

[2018-09-28 02:55] victorhora commented on #1916
hey @steven-j-wojcik

Thanks for your report. What you think about submitting your patch in the form of a pull request?

That should help reviewing as it will trigger the buildbots and test cases and we can take it from there?

:)

[2018-09-28 14:22] victorhora commented on #1915
@AnryCryman

It might be due to the fact that [912120](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/rules/REQUEST-912-DOS-PROTECTION.conf#L113) contains a [chain](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#chain) action.

See note at [SecRuleUpdateActionById](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecRuleUpdat

[2018-09-28 14:22] #1915 closed, assigned to victorhora

[2018-09-28 15:52] dridi opened #1918 "Incomplete pkg-config for static linking"
Hello,

I tried to build the `v3/master` branch today to attempt a static linking of `libmodsecurity` in an autotools project. While this works fine, ultimately when I try to run the executable I get this:

After a quick look at your `modsecurity.pc` file I realized that the private dependencies are missing. You should at least advertise `Libs.private` for linking and maybe `Requires.private` if s

[2018-09-28 17:36] victorhora commented on #1918
Hey @Dridi

Thanks for your report. As far as I can recall, only [PCRE is mandatory](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/build/pcre.m4#L101-L103) now.

The remainder of dependencies (GeoIP/MaxMind, libcURL, YAJL, LBMD, Lua and Ssdeep) are all optional.

That being said, I believe there should be a way to allow the .pc file to support both dynamically and statically linking. Do

[2018-09-28 19:41] victorhora commented on #1291
I couldn't reproduce this warning from GCC (6.4) here. Tried to forcefully getting them by adding -Wall and -Wimplicit, and -pedantic but no warnings here regarding implicit declarations.

I believe commit https://github.com/SpiderLabs/ModSecurity/commit/7ead7f4d23ee6bb2f491842826071624f06cba32 should have covered all of these.

Thanks!

[2018-09-28 19:41] #1291 closed

[2018-09-28 21:14] stevendore commented on #1916
Pull request created #1919.

[2018-09-29 08:55] nazari-mohsen commented on #1804
hi
I get with upload a file by 48M size this error:
ModSecurity: Access denied with code 403 (phase 2). Matched "Operator `Eq' with parameter `0' against variable `MULTIPART_UNMATCHED_BOUNDARY' (Value: `1' ) [file "/etc/nginx/modsec/modsecurity.conf"] [line "60"]

and by comment rule i can upload:
SecRule MULTIPART_UNMATCHED_BOUNDARY "!@eq 0" \
"id:'200004',phase:2,t:none,log,deny,msg:'Multipart p

[2018-09-29 09:21] airween commented on #1804
Hi MohsenNa,

do you have ModSecurity 2.9? If yes, please review all of this thread, especially [this](https://github.com/SpiderLabs/ModSecurity/issues/1804#issuecomment-417488689) comment.

If you have 3.0 branch, please upgrade to the current master branch, and see the solution:

https://github.com/SpiderLabs/ModSecurity/blob/bc3d3f19154793e23568103b931a15168b34d768/modsecurity.conf-recommended#

[2018-09-29 10:06] nazari-mohsen commented on #1804
yes my version is 3.0
very very tanks
my problem is solved

[2018-09-30 01:34] victorhora commented on #1239
As of now I think you might be able to accomplish what you're looking for with these rules:

[code]

Or maybe trying to match it with [QUERY_STRING](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#QUERY_STRING), [REQUEST_URI](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#REQUEST_URI) or [REQUEST_LINE](https://github.com/SpiderLabs/ModSecurity

[2018-10-01 07:29] ravi115 opened #1921 "Modsecurity chain rule is not working."
Hi,
After installing the latest modsecurity, I'm facing these below issue.

-  Rules are not working as expected (the rule is defined to prevent the brute force attack).
-  Timers are also not working.
-  comparison operator like @gt is not working as expected.

**Below is the rule defined to prevent the brute force attack**

             SecAction phase:1,id:109,pass,initcol:ip=%{REMOTE_ADDR},log

[2018-10-01 09:50] dridi commented on #1918
I can't promise a patch, but I would definitely help review it.

[2018-10-01 12:16] ghost commented on #1915
Yeah, that worked. Thanks for the help.

[2018-10-01 14:44] zimmerle commented on #1247
This subject did not grabbed too much attention. It seems to me that it may not be a good idea. However 3.0 is ready to support any kind of customization on the debuglogs.

[2018-10-01 14:44] #1247 closed

[2018-10-01 15:50] victorhora commented on #1918
Sounds good. This improvement is tagged for the [3.0.4 release](https://github.com/SpiderLabs/ModSecurity/milestone/13). Thanks!

[2018-10-01 19:17] victorhora commented on #1921
@ravi115 Based on your issue description, I'm assuming that "latest modsecurity" is release 2.9.2? Or you're just cloning the latest code from master (pre-2.9.3)? Bear in mind there's also libModSecurity 3.x.

I see that at one point you do ```expirevar:IP.block=60```, but I'm not seeing any other rule setting ```IP.block``` so one of your issues could be related to that.

You may want to use this

[2018-10-01 19:17] #1921 closed, assigned to victorhora

[2018-10-01 23:19] victorhora commented on #921
I believe you could workaround the behaviour of the @pm with spaces by using some of the transformations.

For instance, if you use [t:urlEncode](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#urlEncode):

[code]

Anyways I will be closing this one in favour of #682 and #1167.

Thanks for the report.

[2018-10-01 23:19] #921 closed

[2018-10-02 00:06] victorhora commented on #1167
I couldn't reproduce this on the latest code in v2.9 branch master:

[code]

Same for v3.x:

[code]

Please let us know if the issue persist on the current versions and we can investigate further. Thanks!

[2018-10-02 00:06] #1167 closed

[2018-10-03 23:04] victorhora commented on #1908
Hi @davewichers

Well the thing is that the code snippet in line 877 executes in the [Phase 1 (Request Headers)](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#Phase_Request_Headers) and the other code block happens in [Phase 2 (Request Body) ](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#Phase_Request_Body).

There might be genuine reasons

[2018-10-03 23:04] #1908 closed, assigned to zimmerle, victorhora

[2018-10-04 15:11] davewichers commented on #1908
Why would a Request Headers check care about the length of the body? And
won't the Request Body phase happen either way? So if you simply eliminate
the logging that occurs in line 877, it will still happen later so will
avoid the duplication without the user having to do anything specific to
avoid it.

On Wed, Oct 3, 2018 at 7:04 PM Victor Hora <notifications@github.com> wrote:

[2018-10-04 18:39] zimmerle commented on #1908
@davewichers are you running nginx or apache ?

[2018-10-04 18:51] davewichers commented on #1908
I'm running Apache on CentOS 6 with ModSec 2.9.1 & CentOS 7 w/ ModSec
2.9.2. I believe I'm only seeing this behavior on my CentOS 7 setup. I'd
have to retest on CentOS 6 w/ 2.9.1 to verify if that's important.

On Thu, Oct 4, 2018 at 2:40 PM Felipe Zimmerle <notifications@github.com>
wrote:

[2018-10-05 05:49] victorhora commented on #1908
Ok, so the message is not duplicated on the debug_log, but only on the audit_log!. Being so, there's a chance that this behaviour is related with https://github.com/SpiderLabs/ModSecurity/issues/1468#issuecomment-423677622.

Due to the fact that the "Request body (Content-Length) is larger than the configured limit" message is also printed on Apache's error_log, it would explain why it is printed

[2018-10-05 21:42] victorhora commented on #610
One thing worth mentioning is that the --enable-pcre-study configuration flag seems to be [enabled by default on v2](https://github.com/SpiderLabs/ModSecurity/blame/v2/master/configure.ac#L314-L315) since ModSec 2.5. The [changelog entry](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/CHANGES#L1217) from 2.5.12 also suggests it's the case.

My tests with Valgring suggests that the propos

[2018-10-07 17:34] victorhora commented on #533
Couldn't reproduce this with [latest commit](https://github.com/SpiderLabs/ModSecurity/commit/d50650ba4fd0c72e859a666a83facb7c296a227f) from 2.9.x branch.

My test environment was the following:

[code]

Tested with Apache conf/rules:
[code]

Custom ErrorDocument file:
[code]

Curl command
[code]

Debug logs:

[code]

If the issue persists on a given environment, please let us know and we can inve

[2018-10-07 17:34] #533 closed

[2018-10-07 17:46] victorhora commented on #771
This is not an issue with libModSecurity (aka 3.x).

Also, I couldn't reproduce this with [latest commit](https://github.com/SpiderLabs/ModSecurity/commit/d50650ba4fd0c72e859a666a83facb7c296a227f) from 2.9.x branch and PCRE 8.35.

My test environment was the following:

[code]

PCRE version:
[code]

ModSec flags:
```./configure --with-yajl=no --with-ssdeep=no --with-lua=no --with-curl=no --enable-

[2018-10-07 17:46] #771 closed

[2018-10-07 17:48] victorhora commented on #1866
Closing this one as it seemed like a configuration issue based on @LeeShan87 comments. Thanks!

[2018-10-07 17:48] #1866 closed, assigned to victorhora

[2018-10-07 17:52] victorhora commented on #1596
This feature is now available in libModSecurity: https://github.com/SpiderLabs/ModSecurity/commit/4dd28127577eca0bf854db5c134a4134db6ff1ec

[2018-10-07 17:52] #1596 closed

[2018-10-11 20:26] AIM-Media-Indiana opened #1923 "geoLookup fails on IPv6 address"
Hello!

I am trying to get the GeoLookup working but can't seem to get a valid lookup.  Here is the debug log entry (url removed for security):

`[4] (Rule: 2000000) Executing operator "GeoLookup against REMOTE_ADDR.
 [9] Target value: "::ffff:50.235.235.226" (Variable: REMOTE_ADDR)
[4] Rule returned 0.`

Here are the results from ./config:

`ModSecurity - v3.0.2-107-gbc3d3f1 for Linux

 Mandatory

[2018-10-11 22:30] victorhora commented on #1923
@AIM-Media-Indiana

(MaxMind) v
/usr/lib/x86_64-linux-gnu//libmaxminddb.so, /usr/include/x86_64-linux-gnu/, -DWITH_MAXMIND -I/usr/include/x86_64-linux-gnu/
(GeoIP) v1.6.9
-lGeoIP, -I/usr/include/

Both GeoIP and libMaxMind are installed on your system? If that's so, I'm wondering if there's a chance that the configure script got lost deciding which implementation to use. If it happens to use GeoIP

[2018-10-11 22:30] #1923 closed, assigned to victorhora

[2018-10-12 08:09] caukie commented on #1554
Maybe you should update dependency  toolchain version into the Compilation-recipes.

[2018-10-12 17:33] victorhora commented on #1185
This is how audit logging with JSON for that request is currently presented in v3:

``
{"transaction":{"client_ip":"192.168.37.1","time_stamp":"Thu Oct 11 13:01:05 2018","server_id":"46dcb50d4ee6715c2376525ec11c49d6081aca9b","client_port":63438,"host_ip":"192.168.37.1","host_port":8080,"unique_id":"153927726598.322200","request":{"method":"GET","http_version":1.1,"uri":"/\"] [unique_id \"');drop t

[2018-10-12 17:33] #1185 closed

[2018-10-12 22:50] yhojann-cl commented on #1185
Will he have a CVE assigned?

[2018-10-13 00:44] victorhora commented on #1185
@WHK102,

I can't see why a CVE should be assigned for this case. Quoting @p0pr0ck5:

Maybe a CVE could make sense if there was an active method to prevent polluting and injecting malicious data into the audit logs and if that specific method was bypassed. This is not the case and being so I believe there's no "fix" required.

If you think otherwise, we can reopen the issue and discuss on how we c

[2018-10-14 02:22] victorhora commented on #984
Your issue seems like a rare case. According to your error message, it seems like the requesting client simply disconnected before the request body was fully buffered/parsed by ModSecurity. See https://github.com/SpiderLabs/ModSecurity/blob/v2/master/apache2/apache2_io.c#L206-L225.

As for methods to disable logging it, I believe they have already been covered below:

https://github.com/SpiderLabs

[2018-10-15 11:55] #1906 closed, assigned to zimmerle, victorhora

[2018-10-15 15:29] vikasmunjal opened #1925 "Unable to parse Content-Type header "application/json" and "application/xml" getting 400 error "Failed to parse request body""
Basically, The Content-Type header is just used as info for our application. The header is there so our app can detect what data was returned and how it should handle it. We need to look at the header, and if it's application/json then parse it as JSON. This is what we are doing with our application.

In mod security v3/master when we are sending HTTP GET requests with Content-Type header "applica

[2018-10-15 19:49] yhojann-cl commented on #1185
Thanks for the time and understanding.

[2018-10-16 06:38] ghost opened #1926 "How can i replace the returned_403_error_page with my templates in nginx"
# desc
I have make the `/etc/nginx/vhost/waf.conf` like this and it run well that can replace the default error-page  with common nginx error in `192.168.2.9:8080`  such as 404, 403 or 503. but it not expire with the modsec returned http status like 403 or others we made in modsec rules.

[code]

[2018-10-16 07:51] ghost commented on #1926
I have tried it like this but also no use and it cant get response then.
[code]

[2018-10-16 09:09] ledzepp4eva opened #1927 "Nginx Worker Processes not reloading on nginx -s reload"
Hey,
I've just been investigating a steady increase on nginx reloads that I would like to share.

When I reload nginx I am noticing that some of the worker processes are shutting down or go into a shutting down state, which is what I would expect, but sometimes I see the below
[code]

As you can see there are worker processes from 00:01 and 09:05 that aren't shutting down. A quick look at `cat /pr

[2018-10-16 15:55] tlghacc opened #1928 "IP collection database file ip.pag is huge, causing a slowdown"
Hello,

I'd like to report an issue similar to #1581. The symptoms are pretty much the same - when the server gets hit by larger scale brute force attack (not a DDoS, just bots trying to guess WordPress passwords), modsecurity blocks the offenders but creates large ip.pag file in the process. As of late, the file size tends to be something above 3GB, but in the past I've seen even bigger files (8-

[2018-10-17 08:28] ledzepp4eva opened #1929 "SecAuditLogType HTTPS blocking requests"
Hey,
I've been testing the new `SecAuditLogType HTTPS` setting, but sending the requests to logstash. This is so far working fine, however I noticed in `DetectionOnly` mode requests are blocked until the logs have been sent and modsecurity has received an ACK from logstash. Once the ACK has been received the rest of the page loads fine, however this does cause a delay in the requests which is not

[2018-10-17 11:23] zimmerle commented on #1929
Hi @ledzepp4eva,

Indeed there is no extra thread or process to handle the https delivery. However it should happens on the logging phase, where all the site content was already delivered to the end user.

Assuming that you are using nginx, you may have it configured to handle content on a single thread, using a single worker. That may be the reason why the second and third request delayed until t

[2018-10-17 12:41] zimmerle opened #1930 "testing"
**Describe the bug**

A clear and concise description of what the bug is.

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
 2. AuditLogs
 3. Error logs
 4. If there is a crash, the core dump file.

_Notice:_ Be carefully to not leak any confidential information.

**To Reproduce**

Steps to reproduce the behavior:

A **curl** command line that mimics the original request and reproduces the p

[2018-10-17 12:44] Montorce opened #1931 "modsecurity blocking requests although being in detection mode (iis 10)"
Hi,

i am using ModSecurity with IIS and after some time ModSecurity seems to block requests although it is in detection mode. Blocking probably isn't the correct description as it isn't blocked because of being marked as evil and then discarded, but ModSecurity just hanging for the first in "SendRequest", all others  reqeusts in the status "BeginRequest" without ever completing.
I can see all the

[2018-10-17 12:45] #1930 closed, assigned to nobody

[2018-10-17 18:51] victorhora commented on #1849
Hi @rperper

Sorry for the delay.

I've rechecked this again and I can not reproduce this error. "Nginx/ModSec_3.0" Comodo Rule Set loads just fine on libModSecurity.
Maybe you are still trying to load "LiteSpeed" Comodo Rules?

As mentioned before, as far as I know, some of the Comodo Rules packages are meant for older ModSecurity modules and might not be compatible with libModSecurity.

My initi

[2018-10-17 18:52] victorhora commented on #1849
As of https://github.com/SpiderLabs/ModSecurity/commit/3517ee45463600daa1320d18a0acee5f54a020df the crash should not happen anymore. As mentioned before, we had a check to avoid that specific scenario on the parser but it was not working as intended. This should be merged to master soon as part of upcoming 3.0.3 release. Thanks for the report!

[2018-10-17 18:52] #1849 closed, assigned to victorhora

[2018-10-17 19:12] victorhora commented on #849
Fixed as of https://github.com/SpiderLabs/ModSecurity/commit/619a5ae7f483235281fba69fa758119c54114218

[2018-10-17 19:12] #849 closed

[2018-10-17 19:40] dune73 commented on #849
Thank you @victorhora.

This has the 2.x label, but I think it is only fixed for the 3.x line. Correct?

[2018-10-19 07:03] ledzepp4eva commented on #1929
Hey @zimmerle,

I do have more than 1 worker_process configured, so this shouldn't be the case I  believe.
I'll have a look at the connector option, as we do use lua in other parts of the configuration as a possible option.
Thanks,
Liam
p.s.
If it is of any use this is the nginx configuration
[code]

[2018-10-19 12:04] herono2010 opened #1932 "nginx with ModSecurity_2.9.1 . when handle larger post request body, the nginx worker process exited on signal 11."
i have a nginx worker process coredump, like this :
"
#14147 0x00007f6573128ad7 in ?? () from /lib/x86_64-linux-gnu/libpcre.so.3
#14148 0x00007f6573135a0b in ?? () from /lib/x86_64-linux-gnu/libpcre.so.3
#14149 0x00007f6573128ad7 in ?? () from /lib/x86_64-linux-gnu/libpcre.so.3
#14150 0x00007f6573129a76 in ?? () from /lib/x86_64-linux-gnu/libpcre.so.3
#14151 0x00007f6573128ad7 in ?? () from /lib/x

[2018-10-19 13:02] AnoopAlias commented on #1932
It is recommended to use Mod_Sec v3 with Nginx

On Fri, Oct 19, 2018 at 5:34 PM herono2010 <notifications@github.com> wrote:

--
*Anoop P Alias*

[2018-10-19 13:13] zimmerle commented on #1929
Apparently you are using http2 and it is holding the next delivery till finish the logging phase. In that case I would suggest an async model by saving the files to disk where a second process can be used to delivery the content to your end server. To avoid the I/O bottleneck I also suggest the utilization of a RAM disk.

[2018-10-19 13:23] zimmerle commented on #1932
Hi @herono2010,

As well noted by @AnoopAlias, the recomendation is to upgrade to ModSecurity v3 + nginx connector:

- https://github.com/SpiderLabs/ModSecurity/tree/v3/master
- https://github.com/SpiderLabs/ModSecurity-nginx

[2018-10-19 13:23] #1932 closed, assigned to zimmerle

[2018-10-19 14:18] ledzepp4eva commented on #1929
Thanks for the reply. Apologies for not mentioning it earlier, but I am trying to avoid writing to the disk because of issue https://github.com/SpiderLabs/ModSecurity/issues/1927

I have sent the logs to a nginx instance that responds straight away with a 200 ok to minimise the latency

[2018-10-19 14:18] #1929 closed, assigned to zimmerle

[2018-10-21 10:07] welljsjs opened #1933 "Updating RequestBodyNoFilesLimit at runtime (feature request)"
* ModSecurity version: **2.9.2**
* Environment: **Apache 2**

The `ctl` action enables us to change ModSecurity configuration at runtime per transaction.

However, we're only able to update a limited number of configuration directives [that are listed here](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#ctl).

This is a _feature request_ to add `ctl:requestBodyNoFilesLimit`

[2018-10-22 02:05] herono2010 commented on #1932
On version 2.9.1, we made a lot of changes...so It's not easy to upgrade to v3.....Actually I also want to know what causes the worker process exited.

[2018-10-23 04:00] 0CrazyGuy9 opened #1934 "SecAuditLogType HTTPS to https://mydomain.com/Save.php , log is null (ModeSecurity V3)"
Hi ModSecurity

Version ModSecurity 3

My config
SecAuditLogType HTTPS
SecAuditLog https://mydomain.com/Save.php

Save.php
`<?php
$data .= var_export($_POST, true);
$data .= file_get_contents('php://input');
$myfile = fopen("/tmp/post.txt", "w");
fwrite($myfile, $data);
fflush($myfile);
fclose($myfile);
?>`

result
array ()
{"error":"ModSecurity was not compiled with JSON support."}

why ?

if use

[2018-10-23 04:37] zimmerle commented on #1934
Hi @0CrazyGuy9,

The support for JSON depends on a third party library there is likely to not be installed in your system. The JSON support is required to enable ```SecAuditLogType HTTPS```.

By the end of the configure script there is a summary like this:
[code]

Make sure you have YAJL (-dev) installed and it appears in modsec config.

[2018-10-23 04:37] #1934 closed, assigned to zimmerle

[2018-10-23 04:50] zimmerle commented on #1932
Hi @herono2010,

There is a lot of discussion on this particular subject: #575, #142, #582, #959, #976, #904, #1360. Here is a motivation why to move forward towards v3: [An Overview of the Upcoming libModSecurity](http://blog.zimmerle.org/2016/01/an-overview-of-upcoming-libmodsecurity.html)

[2018-10-23 04:52] 0CrazyGuy9 commented on #1934
Thank you

my info correct?

`ModSecurity - v3.0.2-112-g68398a5 for Linux

 Mandatory dependencies
   + libInjection                                  ....v3.0.2-112-g68398a5
   + SecLang tests                                 ....68398a5

 Optional dependencies
   + GeoIP/MaxMind                                 ....found
      * (GeoIP) v1.5.0
         -lGeoIP  , -I/usr/include/
   + LibCURL

[2018-10-23 04:54] zimmerle commented on #1933
Thank you @welljsjs. It is queued to be reviewed.

[2018-10-23 05:43] 0CrazyGuy9 commented on #1934
Thank you

**but issue still , Save.php $_POST data is null.**

+ YAJL                                          ....found v2.0.4 ( there found)
      -lyajl  , -DWITH_YAJL

ModSecurity - v3.0.2-112-g68398a5 for Linux

 Mandatory dependencies
   + libInjection                                  ....v3.0.2-112-g68398a5
   + SecLang tests                                 ....68398a5

 Optional dependenc

[2018-10-23 12:47] zimmerle commented on #1934
```{"error":"ModSecurity was not compiled with JSON support."}```

Still getting this one? if so, make sure the library was compiled and installed correctly.

[2018-10-23 23:39] zimmerle commented on #1800
fixed in current v3/master.

[2018-10-23 23:39] #1800 closed, assigned to zimmerle

[2018-10-23 23:40] zimmerle commented on #1697
fixed in current v3/master.

[2018-10-23 23:40] #1697 closed

[2018-10-24 08:37] Fjolnir-Dvorak opened #1935 "[BUG] Serial audit-log concurrent write of records"
**Describe the bug**

A clear and concise description of what the bug is.

**Logs and dumps**
The logfile segment is shortend for better readability and IPs are exchanged with fictive values
[code]

In the log above I have a started log with the ID `af943705` which is broken in two inside the segment B by another record with the ID `635f5e48`. After record `635f5e48` is finished the previous recor

[2018-10-24 10:58] venkibits opened #1936 "Secrule not capturing 'alert'"
Hi,
We have a secrule like this :
'SecRule REQUEST_FILENAME|ARGS_NAMES|ARGS|XML:/* "(fromcharcode|alert|eval)\s*\(" \
 "phase:2,rev:'2.0.10',id:'973307',capture,t:none,t:htmlEntityDecode,t:jsDecode,t:lowercase,pass,nolog,auditlog,msg:'XSS Attack Detected',logdata:'%{TX.0}',setvar:'tx.msg=%{rule.msg}',setvar:tx.xss_score=+%{tx.critical_anomaly_score},setvar:tx.anomaly_score=+%{tx.critical_anomaly_s

[2018-10-24 11:04] void-in commented on #1936
You have the pass,nolog attributes in the SecRule. If you want to block the request, change the pass,nolog to ```deny,log``` and it will block the request as well as generate the audit log.
[code]

[2018-10-24 11:11] #1936 closed, assigned to nobody

[2018-10-24 11:18] 0CrazyGuy9 commented on #1934
Yeah, still this error, all compiled correctly.

please help, i don't have any idea for it.

Save.php aways get this info.

[2018-10-24 11:21] zimmerle commented on #1905
Hi @hbt19860104,

You have to cleanup the transaction to every new transaction.  Otherwise, the variables wont be clean, leading to a massive usage of memory. Which may lead to this huge time to process a request.

[2018-10-24 11:21] #1905 closed, assigned to zimmerle

[2018-10-24 11:25] zimmerle commented on #1926
Hi @actanble,

One thing there is very valuable is to enable the **DebugLogs**. It will help you to identify the rule processing details, which is useful to see the variable values, if a rule matched or not, etc....

To enable it:
[code]

[2018-10-24 11:25] #1926 closed, assigned to nobody

[2018-10-24 11:36] zimmerle commented on #1928
Hi @tlghacc,

I don't name this scenario as o bug, but a limitation. The *sdbm* files used on the v2 are not ideal to save data such as DoS count. That may lead you to scenarios like the one that you are illustrating. You can try to reduce the expire time, mount a memory disk to hold the collection data, yet, depending on the amount of info to be saved the problem will return.

Another tips is to

[2018-10-24 11:36] #1928 closed, assigned to zimmerle

[2018-10-24 11:47] zimmerle commented on #1925
Hi @vikasmunjal,

Let me see if i understood correctly, you are sending a GET request, with Content-type: application/json ?

If so, you may want to disable the [request body validation](https://github.com/SpiderLabs/ModSecurity/blob/49495f1925a14f74f93cb0ef01172e5abc3e4c55/modsecurity.conf-recommended#L59-L60). If i understood correctly you are trying to give a custom use case for the headers whi

[2018-10-24 11:47] #1925 closed, assigned to zimmerle

[2018-10-24 11:53] zimmerle commented on #1842
I Would like to invite you guys to test the most recent version of v3/master and let me know if that is still a problem for you.

[2018-10-24 11:53] #1842 closed, assigned to zimmerle

[2018-10-24 11:57] zimmerle commented on #1637
Closing this since we did not got feedback from the user.

[2018-10-24 11:57] #1637 closed

[2018-10-24 12:00] zimmerle commented on #1587
Hi @beimuaihui,

SecUnicodeMapFile is now fully working on v3. Closing this issue.

[2018-10-24 12:00] #1587 closed

[2018-10-24 12:04] zimmerle commented on #1444
Hi @fernal9301,

Some configurations are global, some not. Ideally you need to put the rules for an specific vhost within its configuration. The configuration merge process will put the configuration on its compartments, make it valid for the vhost only.

[2018-10-24 12:04] #1444 closed

[2018-10-24 12:06] zimmerle commented on #1294
@emphazer is partially right. Instead of name it as a problem i would call it a limitation. Because it is indeed a technical limitation.

[2018-10-24 12:06] #1294 closed

[2018-10-24 12:06] #1262 closed

[2018-10-24 12:15] venkibits commented on #1936
Hi

Here anamaly scoring mode is followed :

setvar:'tx.msg=%{rule.msg}',setvar:tx.xss_score=+%{tx.critical_anomaly_score},setvar:tx.anomaly_score=+%{tx.critical_anomaly_score},setvar:tx.%{rule.id}-WEB_ATTACK/XSS-%{matched_var_name}=%{tx.0}"

Can we see these values/debug these values  some where ...

At the end some rule like this needs to be written
SecRule TX:PM_XSS_SCORE "@eq 0" "phase:2,t:non

[2018-10-24 12:16] zimmerle commented on #1057
Not able to reproduce in v2/master. Therefore closing the issue.

[2018-10-24 12:16] #1057 closed

[2018-10-24 12:17] venkibits commented on #1936
Also can we get the modsecurity_crs_41_xss_attacks.conf file source ?

[2018-10-24 12:19] venkibits opened #1937 "Debugging anamoly scores and capturing Secrule alert"
Hi,
We have a secrule like this :
'SecRule REQUEST_FILENAME|ARGS_NAMES|ARGS|XML:/* "(fromcharcode|alert|eval)\s*("
"phase:2,rev:'2.0.10',id:'973307',capture,t:none,t:htmlEntityDecode,t:jsDecode,t:lowercase,pass,nolog,auditlog,msg:'XSS Attack Detected',logdata:'%{TX.0}',setvar:'tx.msg=%{rule.msg}',setvar:tx.xss_score=+%{tx.critical_anomaly_score},setvar:tx.anomaly_score=+%{tx.critical_anomaly_score

[2018-10-24 12:24] zimmerle commented on #1936
Hi @venkibits,

The variable values can be seen at the **DebugLogs**:
[code]

The OWASP CRS is a separated project and can be found here:
https://github.com/SpiderLabs/owasp-modsecurity-crs

[2018-10-24 12:31] zimmerle commented on #1937
Hi @venkibits,

You can enable the DebugLogs to see the content of the variables:
[code]

The owasp crs project live here:
https://github.com/SpiderLabs/owasp-modsecurity-crs

[2018-10-24 12:31] #1937 closed, assigned to zimmerle

[2018-10-24 12:35] zimmerle commented on #1934
Is likely that your connector is leading the library in a different path. Try:
[code]

[2018-10-24 12:36] tlghacc commented on #1928
Hello, alright, thanks for the reply

Some remarks just in case someone finds this while googling the problem - I don't believe storing the collection data on memory disk will make much of a difference. Considering the file is sparse, most of the data is not actually stored on the hard drive anyway. The slowdown is not caused by reading from slow drive, it's caused just by reading bunch of zeroes

[2018-10-24 12:43] zimmerle commented on #1928
The RAM disk can speed up the shrink process the occurs internally on modsecurity reducing the empty spaces. Also beneficial to _modsec-sdbm-util_ for the same reason.

There is an option `-n` on the modsec-sdbm-util which effectively create a new database without the sparse data.

[2018-10-24 12:56] 0CrazyGuy9 commented on #1934
for you info

# find / -iname libmodsecurity.so
/usr/local/modsecurity/lib/libmodsecurity.so
/opt/ModSecurity/src/.libs/libmodsecurity.so

it correctly ?

[2018-10-24 12:57] batata004 commented on #987
Pretty sad this was not fixed despite my effort to contribute to it.

[2018-10-24 13:01] zimmerle commented on #987
Hi @batata004,

I am sorry, but, why did you came to the impression that it was not being fixed? The wiki was updated on there is an error on github that refuse to publish it. Likely because the wiki is very big at this point. Give us a sec.

[2018-10-24 13:16] zimmerle commented on #1934
Please try:

[code]

[2018-10-24 13:21] 0CrazyGuy9 commented on #1934
for you info

ldd /usr/local/modsecurity/lib/libmodsecurity.so
        linux-vdso.so.1 =>  (0x00007ffc547b2000)
        libcurl.so.4 => /lib64/libcurl.so.4 (0x00002aea54e21000)
        libGeoIP.so.1 => /usr/local/lib/libGeoIP.so.1 (0x00002aea5508a000)
        librt.so.1 => /lib64/librt.so.1 (0x00002aea552be000)
        libxml2.so.2 => /lib64/libxml2.so.2 (0x00002aea554c6000)
        libz.so.1 => /

[2018-10-24 13:26] zimmerle commented on #987
had to reduce the explanation there otherwise the wiki wont render. The expiration is set individually on the collection items and updated on every change. This specific value can be manipulated within the utilization of expire var.

[2018-10-24 13:32] 0CrazyGuy9 commented on #1934
Hi Zimmerle
Now is ok, can recv log data. maybe "yum update lua*" make this error, when i reinstall, every thing is fine

Thank you

[2018-10-24 13:38] zimmerle commented on #1934
good to hear :)

[2018-10-24 16:23] 0CrazyGuy9 opened #1938 "About ModSecurity V3 send log json format , error on C#"
Hi ModSecurity

when use C# Recv json log

Invalid JavaScript property identifier character: -. Path ''

like "cache-control":"max-age=0", can't convert to C# JSON code "string cache-control {get;set;} " // not allow "-". , so can't convert to C# object     obj.cache-control

it's bug ?

[2018-10-24 16:33] batata004 commented on #987
Ok, I just hope other people dont face this problem cause I lost at least 2 good weeks at that time troubleshooting this exactly problem. Anyway, thanks for fixing it.

[2018-10-24 16:46] zimmerle commented on #987
As for further opportunity, whenever you find a solution like you did, you also welcome to edit the wiki page and/or update the ticket. you will help people with the same or similar problems.

[2018-10-24 16:49] zimmerle commented on #1938
I am afraid i didn't quite understood what you have being asking.

I am not familiar with C# Recv JSON log. Can you provide more details?

[2018-10-24 18:12] 0CrazyGuy9 commented on #1938
"transaction": {
		"client_ip": "2.3.4.5",
		"time_stamp": "Wed Oct 24 21:28:56 2018",
		"server_id": "3a8097ae11d640196c04f984bfb6a09203b42474",
		"client_port": 50347,
		"host_ip": "2.3.4.5",
		"host_port": 443,
		"unique_id": "154038773611.711690",
		"request": {
			"method": "GET",
			"http_version": 2.0,
			"uri": "/?a=1%20and%201%20=%201",
			"headers": {
				"host": "www.aaaa99900.com",

[2018-10-24 18:36] zimmerle commented on #1938
That seem to be a valid json to me:

[code]

https://jsonformatter.curiousconcept.com/

[2018-10-24 21:32] venkibits opened #1939 "Debugging one CRS rule issue."

[2018-10-24 21:33] venkibits commented on #1939
We are using :
"ModSecurity for Apache/2.9.1 (http://www.modsecurity.org/); core ruleset/1.6.1"

When user supplies url like this :

?param1=test%27,alert(document.cookie),%27test&param2

Its getting passed, turned on debug mode but no help

[2018-10-24 21:34] venkibits commented on #1939
modsecurity_crs_41_xss_attacks.conf :

#
# XSS
#
SecRule REQUEST_FILENAME|ARGS_NAMES|ARGS|XML:/* "@pm jscript onsubmit copyparentfolder javascript onchange onmove onkeydown onkeyup activexobject onerror onmouseup ecmascript bexpression onmouseover vbscript: <![cdata[ http: .innerhtml settimeout shell: onabort asfunction: onkeypress onmousedown onclick .fromcharcode background-image: x-javascript o

[2018-10-24 21:39] venkibits commented on #1939
Please review above rules and url : "?param1=test%27,alert(document.cookie),%27test&param2" and suggest why its not matching although there are rules for "alert("

Or suggest a better way to handle it .

[2018-10-24 23:47] zimmerle commented on #1939
Hi @venkibits,

You are using a very old version for both: ModSecurity and OWASP CRS. It is very likely that a simple upgrade will take way all those issues. Please upgrade and give it a try.

[2018-10-24 23:47] #1939 closed, assigned to zimmerle

[2018-10-25 00:02] zimmerle commented on #1844
Hi @xizeng,

Thanks for the report, it is fixed on v3/master.

[2018-10-25 00:02] #1844 closed, assigned to zimmerle

[2018-10-25 07:59] Fjolnir-Dvorak commented on #1935
One thing I did not thought about of if this is really a bug: We are piping it to apache logrotate for each virtualHost we are debugging. That could be the cause for the mixed records as far as I understand. I do not know if logrotate supports multiline log.

[2018-10-25 08:42] #1935 closed, assigned to zimmerle

[2018-10-25 09:42] defanator commented on #1697
@zimmerle thanks, I can confirm that this one is not reproduced anymore.

[2018-10-25 11:21] Link-XInc opened #1940 "INSTALLATION NOT WORKING"
Dear All,

We are a company and we would like to use ModSecurity for our servers. We heard that v3.0.2 had released but the installation did not work for us. Please could you provide a step-by-step installation process for it? We use Ubuntu 16.04 with apache 2.4.18. We hope to hear from you soon.

Kind Regards,
Link-X Team

[2018-10-25 11:41] ghost commented on #1940
What does the error log state?

aronetics.com
Security | Infrastructure | Analytics
+1 216 307 5760

On Thu, Oct 25, 2018, 7:22 AM Link-XInc <notifications@github.com> wrote:

[2018-10-25 12:22] Link-XInc commented on #1940
Where is the error log?

[2018-10-25 12:50] ghost commented on #1940
Contact me at my company and I'll assist.

aronetics.com
Security | Infrastructure | Analytics
+1 216 307 5760

On Thu, Oct 25, 2018, 8:23 AM Link-XInc <notifications@github.com> wrote:

[2018-10-25 12:56] zimmerle commented on #1940
Hi @jhngrn,

I am not sure if it is polite to use this space to make propaganda of your company or services. That is an open source software issue tracking platform. Ideally we like to have people around to help and share knowledge. Even if you are not charging this gentleman over there, the communication should be registered here, for the benefit of other users that may face the same problem.

[2018-10-25 13:02] zimmerle commented on #1940
Hi @Link-XInc,

You can find the compilation recipes here:
 - https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes-for-v3.x

And here:
 - https://github.com/SpiderLabs/ModSecurity/blob/v3/master/README.md#compilation
 - https://github.com/SpiderLabs/ModSecurity-apache/blob/master/README.md#compilation

Differently from version 2, the version 3 depends on two different pieces of softw

[2018-10-25 13:02] #1940 closed, assigned to nobody

[2018-10-25 13:04] ghost commented on #1940
Eh, it's no charge to talk them through it. Yet:

Most logs are in /var/log if you've setup proper reporting in /etc

On Thu, Oct 25, 2018, 8:56 AM Felipe Zimmerle <notifications@github.com>
wrote:

[2018-10-25 14:13] tinyoafman opened #1941 "Failed to load locate the unicode map file from: unicode.mapping 20127"
**Describe the bug**

v3 of ModSecurity - pulling from master branch.

Running mod security on Nginx inside docker container using ModSecurity nginx connector and getting the following error when the container starts up:

"modsecurity_rules_file" directive Rules error. File: /etc/nginx/modsec/modsecurity.conf. Line: 192. Column: 17. Failed to load locate the unicode map file from: unicode.mapping

[2018-10-26 01:46] tdoubley opened #1942 "Some problem in class RequestHeaders_DictElementRegex, loss regex expression"
**Describe the bug**

class RequestHeaders_DictElementRegexp : public Variable {
 public:
    explicit RequestHeaders_DictElementRegexp(std::string dictElement)
        : Variable("REQUEST_HEADERS"),
        m_r(dictElement) { }
    Utils::Regex m_r;
};
should be
class RequestHeaders_DictElementRegexp : public Variable {
 public:
    explicit RequestHeaders_DictElementRegexp(std::string dictElemen

[2018-10-26 04:15] zimmerle commented on #1942
Hi @tdoubley,

To avoid code repetition, I've changed the **variables-kind classes** to use a macro. Here is how the code looks in the most recent version of our code:

https://github.com/SpiderLabs/ModSecurity/blob/b05901e8ae5935cbdbb8db331c11b9b6e8134a42/src/variables/request_headers.h#L32-L34

The macro is defined here:

https://github.com/SpiderLabs/ModSecurity/blob/b05901e8ae5935cbdbb8db331c1

[2018-10-26 04:15] #1942 closed, assigned to zimmerle

[2018-10-26 04:29] zimmerle commented on #1941
Hi @tinyoafman,

Thank you for the detailed report. The support for **SecUnicodeMapFile** was broken and partially fixed on _v3/master_. The file mentioned on the recommended configuration is available here:
https://github.com/SpiderLabs/ModSecurity/blob/49495f1925a14f74f93cb0ef01172e5abc3e4c55/unicode.mapping#L7-L17

However, as you well noticed, it is not part of _v3/master_ yet.

Yet, there is

[2018-10-26 04:31] zimmerle commented on #1938
Hey @0CrazyGuy9,

Did you managed to figure out the issue? can I close this?

[2018-10-26 07:06] victorhora commented on #1941
Added as of https://github.com/SpiderLabs/ModSecurity/commit/662fe63a47d012b89175ea7da5be1a8f7e76014c.

The error message "Failed to load locate the unicode map file" should go away as long as the file is on the same directory as the configuration file. Alternatively, the user can also change / disable the functionality on the [modsecurity.conf-recommended](https://github.com/SpiderLabs/ModSecurit

[2018-10-27 01:38] #1938 closed, assigned to zimmerle

[2018-10-28 15:29] ghost commented on #1941
same issue, and Even If the unicode.mapping file is placed inside the configuration folder, still the Nginx can't be started.

Nginx does detect the file  unicode.mapping  , but can't make use of it .

[2018-10-28 18:29] 0CrazyGuy9 commented on #1938
Thank you

[2018-10-28 23:34] victorhora commented on #1941
@sp9ood

I can not reproduce the same issue. Are you sure you are running the latest commit from master? As of 662fe63 the unicode.mapping file is available on the v3/master branch and Nginx with libModSecurity should start fine.

The SecUnicodeMapFile directive using the syntax from [modsecurity.conf-recommended](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/modsecurity.conf-recommende

[2018-10-29 00:32] victorhora commented on #1941
Results of some testing with SecUnicodeMapFile:

Rules:
[code]

Content of unicode.mapping-1251 file:
[code]

Request:
[code]

V2 debug logs **without** SecUnicodeMapFile specified:
[code]

V2 debug logs **with** SecUnicodeMapFile specified:
[code]

V3 debug logs **with/without** SecUnicodeMapFile specified:
[code]

Translating this into a test case for v3.

[2018-10-29 03:40] nasatome commented on #1941
same issue with v3/master: https://github.com/SpiderLabs/ModSecurity/commit/662fe63a47d012b89175ea7da5be1a8f7e76014c

[2018-10-29 06:16] ghost commented on #1941
@victorhora

First this Error

nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /etc/nginx/modsec/modsecurity.conf. Line: 234. Column: 17. Failed to load locate the unicode map file from: unicode.mapping 20127 Looking at: 'unicode.mapping 20127', 'unicode.mapping 20127', '/etc/nginx/modsec/unicode.mapping 20127', '/etc/nginx/modsec/unicode.mapping 20127'.  in /etc/nginx/nginx.c

[2018-10-29 13:49] Jumbledwords commented on #1941
I'm encountering this issue as well, except not in a docker. I'm running a minimal install of Ubuntu server.

Shubham-Panwar describes exactly what I encountered.

[2018-10-29 14:46] AnoopAlias commented on #1941
# ls /etc/nginx/conf.d/modsecurity.conf /etc/nginx/conf.d/unicode.mapping
/etc/nginx/conf.d/modsecurity.conf  /etc/nginx/conf.d/unicode.mapping

This works ( I mean having modsecurity.conf and unicode.mapping in the same folder)

[2018-10-29 15:03] mtricolici opened #1944 "modsecurity 3.0.x. What's the DeprecateVar alternative ?"
**Question**
What's is 'DeprecateVar' alternative for modsecurity v3 ? I'm trying to implement some kind of rate limiting logic.

**sample code**
SecAction "id:11,phase:1,setvar:ip.requests=+1,deprecatevar:ip.requests=4/1"

**Logs and dumps**

[emerg] 2102#2102: "modsecurity_rules" directive Rules error. File: <<reference missing or not informed>>. Line: 5. Column: 23. Action: DeprecateVar is not

[2018-10-29 15:48] ghost commented on #1941
In my case , both files are at same location, But the Nginx throws **Segmentation fault** .

btw, I am using v3/master Mod-security on ubuntu server minimal.

[2018-10-29 16:30] victorhora commented on #1941
Can you folks tell us which version of the Nginx connector and Nginx itself you are using? If you could share at least part of your modsecurity.conf and nginx.conf files would be great :)

[2018-10-29 17:55] ghost commented on #1941
Nginx Version - 1.15.5
Modsec - v3/master
Nginx connector- (I don't know version  but I used  git clone --depth 1 https://github.com/SpiderLabs/ModSecurity-nginx.git)

Here is the guide which I used

https://www.nginx.com/blog/compiling-and-installing-modsecurity-for-open-source-nginx/

[2018-10-29 19:05] Shubham-Panwar commented on #1941
**Nginx.conf**
load_module modules/ngx_http_modsecurity_module.so;

user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

modsecurity on;
    modsecurity_rules_file /etc/nginx/modsec/main.conf;

    log_format

[2018-10-29 19:13] ghost commented on #1941
Here are nginx.conf and modsecurity.conf files

[nginx.txt](https://github.com/SpiderLabs/ModSecurity/files/2526696/nginx.txt)

[modsecurity.txt](https://github.com/SpiderLabs/ModSecurity/files/2526702/modsecurity.txt)

[2018-10-29 19:39] Jumbledwords commented on #1941
I used the same guide, and got the same results.

[2018-10-29 20:39] phnxfire commented on #1941
I have the same issue as jumbledwords (i.e. in Ubuntu) and I followed the same guide as Shuban (https://www.nginx.com/blog/compiling-and-installing-modsecurity-for-open-source-nginx/).

[2018-10-30 12:07] kjakub opened #1945 "nginx: [emerg] "modsecurity_rules_file" directive Rules error Expecting an action"
nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /etc/nginx/conf/modsecurity.conf. Line: 23. Column: 82. Expecting an action, got:  "id: in /etc/nginx/nginx.conf:48wercase,pass,nolog,ctl:requestBodyProcessor=XML"

from:

https://raw.githubusercontent.com/SpiderLabs/ModSecurity/v3.0.2/modsecurity.conf-recommended

with

nginx-1.15.5 (reproducable on other versions too)

git clon

[2018-10-30 13:22] zimmerle commented on #1945
Hi @kjakub,

Do you mind to share your nginx.conf?

[2018-10-30 15:45] zimmerle commented on #1899
Hi @hbt19860104,

Do you mind to test it again with the most recent version of v3/master if there is o problem, please re-open.

[2018-10-30 15:45] #1899 closed, assigned to zimmerle

[2018-10-30 17:23] defanator commented on #1945
@kjakub please check if you have CRLF line terminators in your modsecurity.conf, and try to use the original one with Unix-style line feeds instead. Will it work?

[2018-10-30 20:31] zimmerle commented on #1945
As of bfe917b6b1ed81a58b80f87c0e4058e9c63aea59 the parser is now able to handle the files CRLF or LF.

[2018-10-30 20:31] #1945 closed, assigned to zimmerle

[2018-10-30 21:27] zimmerle commented on #1850
Fixed :)

[2018-10-30 21:27] #1850 closed, assigned to zimmerle, victorhora