[2019-06-04 14:19] j0k2r commented on #2110
First ModSecurity PR #2114

[2019-06-04 16:47] zimmerle commented on #2110
Thank you for your contribution @j0k2r.

[2019-06-04 16:58] dridi opened #2115 "Binary compatibility broke between 3.0.2 and 3.0.3"
**Describe the bug**

A while ago libmodsecurity 3.0.3 was submitted as a package update on stable Fedora releases:

https://bodhi.fedoraproject.org/updates/FEDORA-2019-9a7ee8ddd8
https://bodhi.fedoraproject.org/updates/FEDORA-2019-ee5a421a8a

In the automated tests that Fedora performs on updates, a change in the library ABI was detected even though this release only incremented the last componen

[2019-06-05 07:29] theMiddleBlue commented on #2109
thank you @zimmerle

Sorry, I didn't know about this different implementation between v2 and v3. What you explain looks good to me and I agree with you that splitting in multiple tags is better. When #2110 will be fixed on v3/master we can definitely switch from `ctl:ruleRemoveTargetByTag=CRS` to `ctl:ruleRemoveTargetById`.

This could be a good starting point to review all CRS tags and replace so

[2019-06-06 10:43] yuynagforhacker opened #2116 "ModSecurity was not compiled with JSON support"
Hello,
I used ModSec v3 and the log format is json.
But when I view the log, I see the following information:
{"error":"ModSecurity was not compiled with JSON support."}

There is no yajl environment during installation. After installing yajl environment, the compiler shows that yajl 2.0 has been found, but restarting nginx after make is still the problem.

How should I solve this problem?

thanks

[2019-06-07 13:29] dune73 commented on #2109
The explanations are appreciated @zimmerle. I agree that the semantics are cleaner that way and the use of tags in CRS is not very clean. This has been on the 2-Do list for quite some time.

What is problematic is the many little changes of behaviour with v3 that are undocumented. When you stated it would be compatible, we assumed it would be compatible. To learn step by step that it is not compat

[2019-06-07 15:39] kulitkerang commented on #2108
ohh okay thanks

On Tue, Jun 4, 2019 at 7:47 PM Felipe Zimmerle <notifications@github.com>
wrote:

[2019-06-08 15:46] victorhora commented on #2116
@yuynagforhacker, based on the description of your issue, it seems like you only need to recompile ModSecurity in order to enable JSON support. The YAJL library components needs to be present at compile time so that JSON support is enabled. See https://github.com/SpiderLabs/ModSecurity/issues/1914#issuecomment-424511088 and https://github.com/SpiderLabs/ModSecurity/issues/2035#issuecomment-4694501

[2019-06-08 15:46] #2116 closed, assigned to victorhora

[2019-06-08 20:00] victorhora commented on #2105
@jtaczanowski, It should be possible to only log the requests that trigger rules without blocking them by using the "pass" action.

It's no entirely clear which version of ModSecurity you are using but I I tried reproducing your issue by using the same rule and logging configuration as yours and this is what I get in my auditlog:

[code]

Maybe you running an older version where this behaviour is

[2019-06-08 20:00] #2105 closed, assigned to zimmerle, victorhora

[2019-06-08 20:01] victorhora commented on #2115
Hi @Dridi,

Appreciate the detailed issue report. Even though we can't own the _packaging_ ModSecurity for distros due to our limited resources, we are happy to see contributors such as yourself taking this heavy lift to make ModSecurity adoption easier for the user. Thank you for that.

It is true that the changes between the 3.0.2 and 3.0.3 releases are comprehensive enough to affect ABI compati

[2019-06-10 14:21] redbaron commented on #1960
For the sake of future pilgrims , fix is in https://github.com/SpiderLabs/ModSecurity/commit/50abc072c4534d6e5c01dca73233347b68d6eb22

[2019-06-12 05:15] fernandohlmaia commented on #167
Dear. I still have the same problem. I have a form in php with basic authentication. In the logs, appearance that entered the rule id: 921130. My content is limited, I do not know how to solve. Every help is welcome.

[2019-06-12 19:14] ghost opened #2117 "variable check/comparison isn't working in ruid2"
**Describe the bug**

When using Apache mod_ruid2 with mod_security2-2.9.3, some rules (conditional in this case) aren't working. Specifically, a very common WordPress brute force rule. However, switching to event+mod_suexec allows the rule to function without issue.

**Logs and dumps**

Nothing is logged.

**To Reproduce**

Steps to reproduce the behavior:
- Ensure you are running prefork+mod_rui

[2019-06-13 13:51] airween opened #2118 "'urlDecode|urlDecodeUni' transformations replaces the decoded strings"
Looks like libmodsecurity3 and mod_security (v2) decodes the arguments before it applies them to the filters, like `urlDecode` or `urlDecodeUni`.

The result of this feature is if there is a hexa sequence in the argument list (POST/GET), then the core module decodes it, and passes to the filter, which also decodes, and if the char after the first decoded has a special meaning, then the transform f

[2019-06-17 17:08] zimmerle commented on #2117
Hi @afortman-cPanel,

What exactly do you mean by not working? Could you provide the respective debug log?

Looking at this rule I can spot a problem, upfront -

Collections are independent by processes, from time to time they got sync with every process. But the sync happens occasionally. It means that depending on the number of workers, it won't be exact math because the sync process happens ran

[2019-06-17 17:08] #2117 closed, assigned to nobody

[2019-06-17 17:37] zimmerle commented on #2109
Hi, @dune73

I understand. On that matter, I suggest you engage with version 3 development, participate in our Slack channel, so that you will be aware of those changes. Unfortunately, I don't have time to document every discussion and every change.

This particular behavior, for instance, is pretty obvious. Anyone who tries to use the function will notice if it is not working as expected, regardl

[2019-06-17 17:37] #2109 closed, assigned to zimmerle

[2019-06-17 17:59] zimmerle commented on #2106
Thank you @marduone. The code is now on our master branch.

[2019-06-17 17:59] #2106 closed, assigned to zimmerle, victorhora

[2019-06-17 18:00] zimmerle commented on #2101
Hi @markblackman,

Now that #2091 got merged, can you test it again within the v2/master branch?

[2019-06-17 18:08] zimmerle commented on #2093
Hi, @rainerjung

I understand what the code is doing, I am more concern in the practical outcoming in regarding the semantic of the **ProcessPartial**. Like @tomsommer suggest I think that is the case for **SkipProcessing** instead of **ProcessPartial**. After all, from the user perspective, the validation will be skipped (or ignored). What do you think about changing this patch to actually add th

[2019-06-17 18:11] zimmerle commented on #2083
Hi, @tomsommer

I have failed to mark #2109  as a duplicate of this. Doing it now. As you may notice there was a discussion on #2109 about this particular issue.

[2019-06-17 18:11] #2083 closed, assigned to victorhora

[2019-06-17 18:12] zimmerle commented on #2081
Marking as a duplicate of #1803 as @Hello-Linux seems to be discussing the issue there.

[2019-06-17 18:12] #2081 closed, assigned to victorhora

[2019-06-17 18:34] zimmerle commented on #2078
Hi, @GustavoKatel

Indeed the  KeyExclusions class is not part of the _public headers_. The declaration of such class is forwarded here:

https://github.com/SpiderLabs/ModSecurity/blob/74eee9330bb4c1908145cee5011dd1b50c791acc/headers/modsecurity/collection/collection.h#L41

and here:

https://github.com/SpiderLabs/ModSecurity/blob/74eee9330bb4c1908145cee5011dd1b50c791acc/headers/modsecurity/anchor

[2019-06-17 19:40] markblackman commented on #2101
You suspect that the changes in #2091 might have influenced the CGI timeouts?  We have been running Rainer's patches for about a month now and we know the CGI problem will return even with Rainer's deltas.

[2019-06-18 09:57] shunkica commented on #2117
[https://hastebin.com/aqajakekon.js](https://hastebin.com/aqajakekon.js)
This is a part of the log from my server. bf_counter is increased from 11 to 12 here but "SecRule "ip:bf_counter" "@gt 10" returns 0

[2019-06-18 12:13] leeredstar opened #2120 "which version is support gcc-4.5?"
**Describe the bug**

A clear and concise description of what the bug is.

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
 2. AuditLogs
 3. Error logs
 4. If there is a crash, the core dump file.

_Notice:_ Be carefully to not leak any confidential information.

**To Reproduce**

Steps to reproduce the behavior:

A **curl** command line that mimics the original request and reproduces the p

[2019-06-18 12:58] ghost commented on #2117
Thanks @shunkica! @zimmerle ^ that is what is occurring with the rule. It's a very common WordPress brute force rule that I've seen from many sources.

Do you know why this rule would be functioning fine with suexec but not ruid2?

[2019-06-18 17:34] zimmerle commented on #2120
I am assuming that the user does not really meat to open this issue.

[2019-06-18 17:34] #2120 closed, assigned to nobody

[2019-06-18 17:41] zimmerle commented on #2019
Hi, @theMiddleBlue

Thank you for raise this up. Considering the comments from @victorhora and @jleproust I think it is safe to close that issue. If you think otherwise, please open it again within your concerns.

[2019-06-18 17:41] #2019 closed, assigned to victorhora

[2019-06-18 17:42] zimmerle commented on #2062
This was merged already :) thank you.

[2019-06-18 17:42] #2062 closed, assigned to zimmerle

[2019-06-18 17:46] zimmerle commented on #2013
Hi, @chuckwolber

Any progress on this?

[2019-06-18 17:58] tbsmello commented on #1915
I´m with the same problem of AnryCryman.
How to add chain in 912120 rule?

BR.,
Thiago

[2019-06-18 18:13] zimmerle commented on #2005
Hi, @MonstreCharmant

I've added the following test case to our regression:
https://github.com/SpiderLabs/ModSecurity/blob/2bdc5f9d0a0c2fddeb890842238ca18287d40ad6/test/test-cases/regression/config-update-action-by-id.json#L226-L270

It seem that **SecRuleUpdateActionById** is working just fine with the **redirect** action. Can you confirm?

[2019-06-18 18:13] #2005 closed, assigned to zimmerle

[2019-06-18 18:17] zimmerle commented on #2050
Hi, @szepeviktor

There is no preferable way to de such thing, that is really up to your requirements. If you need to do that, I would suggest a Lua script to feed an ordinary file with the list of IPs that you want to block. In a second process, you can read that file and finally feed the _iptables_ rules. That way, you will manage to keep privilege separation.

[2019-06-18 18:17] #2050 closed, assigned to victorhora

[2019-06-18 18:33] zimmerle commented on #2065
Merged already :) thanks!

[2019-06-18 18:33] #2065 closed, assigned to victorhora

[2019-06-18 18:34] zimmerle commented on #2076
Based on @victorhora commets I am closing this issue. @tech-ozon-io let us know if that is still a problem.

[2019-06-18 18:34] #2076 closed, assigned to victorhora

[2019-06-18 18:42] szepeviktor commented on #2050
Thank you.
I thought there is an example Lua script just for writing the attacking IP to a file.

[2019-06-18 20:18] jleproust commented on #2019
Well, it's still an issue and the only usable fix for now is my PR #2060, right? Maybe we should keep it open as a reference until we merge it or find a better solution?

[2019-06-19 18:29] ghost opened #2121 "variable check/comparison isn't working in ruid2"
**Describe the bug**

When using Apache mod_ruid2 with mod_security2-2.9.3, some rules (conditional in this case) aren't working. Specifically, a very common WordPress brute force rule where "SecRule "ip:bf_counter" "@gt 10" returns 0. This rule works under suexec with no issue.

**Logs and dumps**

https://github.com/SpiderLabs/ModSecurity/issues/2117#issuecomment-503035779

**To Reproduce**

Ste

[2019-06-19 18:29] ghost commented on #2117
Submitted new issue -- https://github.com/SpiderLabs/ModSecurity/issues/2121

[2019-06-19 19:15] goweiwen commented on #2019
Thanks for the work on this issue @jleproust!

We had to stop using ModSecurity due to request timeouts caused by this. Is there an estimate when #2060 will be merged and released?

[2019-06-19 19:51] jleproust commented on #2019
@goweiwen You're welcome! I have debian 9 and ubuntu 16.04 packages if you want to test.

[2019-06-24 21:29] mf33a2t556d opened #2122 "msg "Failed to parse request body." data "JSON parsing error: lexical error: invalid char in json text.\x0a""
on Solaris 11 use IBM_HTTP_Server/8.5.5.10 (Unix) and modsecurity v 2.9.3

uname -a
SunOS 5.11 11.3 sun4v sparc sun4v

IBM_HTTP_Server/8.5.5.10 (Unix)

Issue is : unable to trigger alert for SQL Injection rule, getting the following error in debug log : msg "Failed to parse request body."  data "JSON parsing error: lexical error: invalid char in json text.\x0a"

audit log :

--00006d1d-A--
[24/Jun

[2019-06-26 08:50] emphazer opened #2124 "ModSecurity V2 - missing Geo Countries"
**Describe the bug**

[code]
is not recognized by mod_security

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
 2. AuditLogs
 3. Error logs
 4. If there is a crash, the core dump file.

_Notice:_ Be carefully to not leak any confidential information.

**To Reproduce**

Steps to reproduce the behavior:

A **curl** command line that mimics the original request and reproduces the problem. Or

[2019-06-26 16:06] zimmerle commented on #2124
Closed as detailed on #2123.

[2019-06-26 16:06] #2124 closed, assigned to zimmerle

[2019-06-26 16:07] zimmerle commented on #2124
Country codes: BL BQ CW MF SS SX were added to v2/master.

[2019-06-28 11:35] craftogrammer opened #2125 "ModSecurity Nginx 500 Error With Default Configuration"
Hi

Whenever any rule is triggered , modsec shows 500 internal server error, instead of 403 access denied.

Check below details:

Nginx 1.16(Stable) also in mainline, With Debian 9
Server: UpCloud

[code]

/etc/nginx/nginx.conf

[code]

and /etc/nginx/conf.d/main.conf

[code]

tested using:
[code]

Compiled ModSec
[code]
nginx connecter

[code]

Built nginx using these flags
[code]

ModSec Audit L

[2019-06-28 11:36] craftogrammer commented on #2125
I'm using my script to build nginx with different modules, here is the script: https://github.com/OptimBro/NGINX-Install-Script-Extentded-NISE/blob/master/ngx.sh

[2019-06-28 11:53] craftogrammer commented on #2125
More information

using below confi on site vhost conf files

`modsecurity on;
    modsecurity_rules_file /etc/nginx/conf.d/main.conf;
        modsecurity_rules '
          SecRuleEngine On
          SecDebugLog /tmp/modsec_debug.log
          SecDebugLogLevel 9
        ';`

`root@web-1:/tmp# tail -f /tmp/modsec_debug.log
[156172266121.425647] [/?param=%22%3E%3Cscript%3Ealert(1);%3C/script%3E] [4]

[2019-07-01 09:25] acidumirae commented on #1914
This is for poor CentOS people who end up here while googling the problem:
Solution is to use the Atomic packages with the YAJL support compiled in.

`yum install wget yajl-devel.x86_64`

`wget http://www6.atomicorp.com/channels/atomic/centos/7/x86_64/RPMS/mod_security-2.9.2-2748.el7.art.x86_64.rpm`

`wget http://www6.atomicorp.com/channels/atomic/centos/7/x86_64/RPMS/atomic-curl-libcurl-7.38.0-5.

[2019-07-03 14:02] Theoooooo opened #2126 "Installation problems with packages and scripts (update wiki)"
I'm following the installation configuration for CentOS7 1804 Minimal installation. Just to precise it's a fresh install of CentOS. No other package has been installed before i start doing the installation of ModSecurity.

While following the installation of the version 3.x, i encounter many problems that are present possibly because of packages that are not listed in the requirements.

There is a

[2019-07-03 14:04] defanator commented on #2126
@Theoooooo try `yum install pcre-devel`.

[2019-07-03 14:16] Theoooooo commented on #2126
@defanator Thanks for the reply. There is the output of the 2 script after i install pcre-devel :

build.sh :
[code]

configure :
[code]

I'm following the other part of the installation and i will come back if there is any errors

[2019-07-03 14:50] Theoooooo commented on #2126
@defanator after doing "make install", the libs has been installed at ``` /usr/local/modsecurity/lib ```

But what to do next ?
I'm following the documentation of the 2.x version for nginx but it tell you to download the standalone version at this link : https://www.modsecurity.org/download.html.
I'm just confused right now of what is the next step ...

[2019-07-03 16:41] zimmerle commented on #2126
Hi @Theoooooo,

There are two different versions of ModSecurity being maintained:
 - Version 2.x - [v2/master](https://github.com/SpiderLabs/ModSecurity/tree/v2/master)
 - Verison 3.x - [v3/master](https://github.com/SpiderLabs/ModSecurity/tree/v2/master)

Version 3 is the best choice for nignx users. In order to have it working with nignx there are two steps that you have to follow. The first ste

[2019-07-03 16:41] #2126 closed, assigned to zimmerle

[2019-07-03 16:45] zimmerle commented on #2125
Hi @OptimBro,

It is very likely that the rule that is actually triggering the 500 is not the exact rule that you are aiming to test. I would strongly recommend you to complete disable the owasp crs in order to continue with this test.

[2019-07-03 16:52] zimmerle commented on #2122
Seems to be a duplicate of: #1964

[2019-07-03 16:52] #2122 closed, assigned to zimmerle

[2019-07-03 16:54] zimmerle commented on #2125
Marking this as closed. If disabling CRS does not help you to understand what is going on, please re-open.

[2019-07-03 16:54] #2125 closed, assigned to zimmerle

[2019-07-03 17:06] zimmerle commented on #2121
Hi @afortman-cPanel,

In #2117 I have spotted a possible problem with these rules. It is: the values of the collection are not absolute as it depends on arbitrary sync. A lot of variables could affect the syncing operation, for instance, the number of workers/threads that you have working in your webserver. I am not aware of the details on the ruid2 implementation; regardless I will give it a shou

[2019-07-03 17:06] #2121 closed, assigned to zimmerle

[2019-07-03 17:52] zimmerle commented on #2079
Closing this issue as it is missing feedback. There is indeed a critical section on the code, but the circumstances that lead this hypothetical deadlock are unknow.

[2019-07-03 17:52] #2079 closed, assigned to victorhora

[2019-07-04 00:54] ghost opened #2127 "Message: collection_store: Failed to access DBM file "/var/cache/modsecurity/ip": Permission denied"
Hey there,

I actived comodo rules then I tried fixing the following error:
ModSecurity: collection_store: Failed to access DBM file "/var/cache/modsecurity/ip": No such file or directory

with the guide on https://support.plesk.com/hc/en-us/articles/213368509-Comodo-rule-set-does-not-work-Failed-to-write-to-DBM-file-var-cache-modsecurity-ip-Invalid-argument

I used the command: mkdir the folder
a

[2019-07-04 14:48] victorhora commented on #2127
It seems like you're having a permission problem where ModSecurity/Apache is not able to create the DBM file.

A good workaround for your problem is simply changing the owner of the folder for the same user that runs your Apache web server. If the user is named "apache" you can do that by executing the following command on the terminal when logged in as the root user:

[code]

If that doesn't work

[2019-07-04 14:48] #2127 closed, assigned to victorhora

[2019-07-05 12:03] marcstern opened #2128 "Null pointer dereference in msre_op_within_execute"
v2 reoperators.c:
static int msre_op_within_execute(...) {
[...]
    if (str->value == NULL) {
        *error_msg = "Internal Error: match string is null.";
        return -1;
    }
[...]
    if (error_msg == NULL) return -1;
    *error_msg = NULL;

The last 2 lines must be at the very beginning of the function

[2019-07-05 13:03] zimmerle commented on #2128
Hi @marcstern,

I believe you are trying to refer to this part of the code -
https://github.com/SpiderLabs/ModSecurity/blob/28b4be670fc7d02bb6388034032d0061b56c8b64/apache2/re_operators.c#L1998-L2006

The check does not necessarily need to be on the top of this function, but, before the utilization of the error_msg.

Are you willing to submit a pull request?

[2019-07-05 15:34] marcstern commented on #2128
Before the utilization of the error_msg, indeed.
I don't have the time for a pull request for the moment, as I would need to re-clone everything - unless PR https://github.com/SpiderLabs/ModSecurity/pull/1577 is merged, so I can reuse the same environment.

[2019-07-05 16:16] zimmerle commented on #2128
I am afraid o don't catch what this has to do with #1577. Even if #1577 got merged, yet, it is outdated by itself. Therefore, the tree update will be necessary. But, I do understand that you have opted to not proceed with the pull request. Thank you for your report.

[2019-07-09 08:51] studersi commented on #2033
What is the status on this issue, do you need any more information?

[2019-07-09 10:14] wobapodge opened #2129 "Clam integration rule always returns 0"
We are attempting modsec/clamAV integration:
CentOS 7.6
ClamAV 0.101.2
Apache 2.4.6 89.el7_6
modsecurity 3.0.3
owasp 3.1.0

However the script called by the rule always returns 0

156215624125.632425] [/] [4] (Rule: 948001) Executing operator "InspectFile" with param "../util/av-scanning/runav.pl" against FILES_TMPNAMES.
[156215624125.632425] [/] [4] Rule returned 0.

curl -v -i -F 'upload=@"/tmp/

[2019-07-09 15:39] markblackman commented on #2101
We have made some partial progress tracking this down. We can see that the CGI child process is experiencing a segmentation fault, presumably after forking, but before exec'ing either suexec or the child.

The backtraces always look like this and we can see the pconf pool is always the pool with the damaged child clean-up function pointer.

Core was generated by /apache24/bin/httpd -f /apache24/co

[2019-07-09 17:44] zimmerle commented on #2033
Hi, @studersi

We don't have an ETA to fix this yet. It should be fixed, although the priority is not high as this does not directly impact run time. This seems to be a very welcome task to someone that wants to learn a little bit more about ModSecurity internals.

[2019-07-09 17:54] zimmerle commented on #2129
Hi @wobapodge,

It seems to me that you have ```SecTmpSaveUploadedFiles``` disabled. With that, the variable **FILES_TMPNAMES** is not being filled, therefore making the rules to always return zero, without even executing the script.

You can check for further information here: https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#inspectfile

[2019-07-09 17:54] #2129 closed, assigned to zimmerle

[2019-07-09 18:00] zimmerle commented on #2101
Hi @markblackman

Did you have a chance to report this on mod_cgi as well? I am asking because as per the backtrace, it seems like the crash is reverberating from there. Even if the problem is not there, mod_cgi devs may be able to tell more about what could cause such behavior.

[2019-07-09 19:09] markblackman commented on #2101
We're working directly with Rainer Jung of the Apache team to track it down. I just wondered if anyone in the ModSecurity team might have any ideas when/why a pconf pool would get corrupted or damaged.

[2019-07-10 07:55] wobapodge commented on #2129
Hi @zimmerle
Thats not the case I'm afraid - as per my description,
SecTmpSaveUploadedFiles On
I've also tried with SecUploadKeepFiles set to On and RelevantOnly

[2019-07-10 13:08] markblackman commented on #2101
We have reason to believe the corruption/damage might be happening on a request with a body (the POST case).

[2019-07-10 13:42] zimmerle commented on #2129
The variable [REQUEST_BODY](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#REQUEST_BODY) is being filled correctly? Is [SecRequestBodyAccess](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecRequestBodyAccess) on ?

[2019-07-10 13:45] zimmerle commented on #2101
There are some optimizations on the **pmMatch** that may try to update a memory area that was previously allocated during the configuration load. On those tests, are you running with or without rules? unload the rules cause any impact?

[2019-07-10 13:50] airween commented on #2129
Hi @wobapodge,

First, as I see you're using Apache webserver with libmodsecurity3 - **please do not use it** in production environment. May be this problem triggered by Apache connector, the request body handling is not complete.

Anyway, it's an interesting issue, so I made a test json - as you know, ModSecurity has a very good regression test framework. [Here](https://gist.github.com/airween/d1

[2019-07-10 14:31] markblackman commented on #2101
Running with OWASP 3 rules plus trivial tweaks.

[2019-07-10 14:44] airween commented on #2129
Hi @zimmerle,

as he described, he uses Apache, and - as I know - there are some unfinished part of code in Apache connector, therefore Apache can't handle the REQUEST_BODY as well.

[2019-07-10 15:07] wobapodge commented on #2129
Hi All,
Thanks for your comments. Just to confirm I think my options are:
Stick with apache, but use modsec 2.x
or
use nginx with modsec 3.0.3  - could somebody please confirm if the nginx connector is suitable for production with modsec 3?

[2019-07-10 15:21] rainerjung commented on #2101
@zimmerle By pmMatch you probably mean the @pm operator. By "may try to update a memory area that was previously allocated during the configuration load" you are referring to the use of memcpy(), strcat(), strncat() or strncpy() copying data to a target that was allocated from a pool? So a potentially wrong or missing length check?

[2019-07-10 17:55] zimmerle commented on #2128
Hi @marcstern,

As of 176276a931a6d61db38b908237c9aad1cea0d6ad this is no longer an issue. Thank you for the report.

[2019-07-10 17:55] #2128 closed, assigned to zimmerle

[2019-07-10 18:03] zimmerle commented on #2093
Hi, @rainerjung any position on it?

[2019-07-10 19:09] granalberto opened #2131 "Linking issue on FreeBSD"
**Describe the bug**

When compiling from source on FreeBSD 11.2-RELEASE, the linker is called with -llibmaxminddb and it makes it fail. The correct option would be -lmaxminddb.

**Logs and dumps**

/usr/bin/ld: cannot find -llibmaxminddb

[2019-07-11 13:12] zimmerle commented on #2131
Hi @granalberto

Thanks for the report. I will have a look. Just installed a FreeBSD machine here to run a couple of tests.

[2019-07-11 14:34] zimmerle commented on #2131
Build bots are running on v3/dev/issue2131. A small change but may broken compilation for others, so let's see what the buildbots are going to tell us.

[2019-07-11 16:22] airween commented on #2131
I can't reproduce this issue.

[code]
additional info's:
[code]
Of course, libmaxmindb had been installed:
[code]

And finally, the build flow and all test passed.

[2019-07-11 16:49] granalberto commented on #2131
@airween the configure stage passes OK for me too. Then, I run gmake. Default make doesn't work (you need to install gmake, of course). After a few minutes, the stage fails with the reported error.

[2019-07-11 17:11] airween commented on #2131
@granalberto - as I wrote, the build flow and all test (gmake/make test) are successfully passed.
[code]
(Note, this time is not the correct value, the binaries are built now...)
[code]

The failed tests caused by SSL error (Github needs sslv3, and looks like this release doesn't support it) - I didn't investigate it...

So, I think you forgot to install libmaxmindb, or built from source and linke

[2019-07-11 17:12] airween commented on #2131
Could you share with us your configure summary (as you can see mine above)?

[2019-07-12 13:07] zimmerle commented on #2131
The second attempt to the fix is on the go.

[2019-07-12 13:18] zimmerle commented on #2131
@airween I don't think the configuration summary is going to help here. The configuration script shall not link (or use) the wrong library regardless of how broken (or not) is the environment of the user. The main reason for having a configuration script is to detect and avoid nuances such as this. That said, works for me is not applied in this scenario.

Something that the configure does, for ins

[2019-07-12 13:37] airween commented on #2131
hi @zimmerle

yes, it doesn't help to detect the library,

but can helps to detect other parts of environment :).

[2019-07-12 13:54] zimmerle commented on #2131
You meant: if it helps to identify if the library exists or not?

If so, let me explain how it works -

The build has a set of scripts at the build directory, [here](https://github.com/SpiderLabs/ModSecurity/tree/v3/master/build).
In this specific case, the m4 script that looks to the libmaxmind is here -
https://github.com/SpiderLabs/ModSecurity/blob/v3/master/build/libmaxmind.m4

The logging wil

[2019-07-12 14:11] zimmerle commented on #2131
Just an update: the script is looking for the library in /usr/local and /opt which may or may not be on the library path.

[2019-07-12 15:12] granalberto commented on #2131
This is the summary of configure script:
<pre>
ModSecurity -  for FreeBSD

 Mandatory dependencies
   + libInjection                                  ....v3.9.2-30-gbf234eb
   + SecLang tests                                 ....5d85f36

 Optional dependencies
   + GeoIP/MaxMind                                 ....found
      * (MaxMind) v
         /usr/local/lib//libmaxminddb.so, /usr/local/includ

[2019-07-12 15:38] airween commented on #2131
@granalberto it doesn't visible how do you pass the arguments to the `configure` script.

Here is how I did:
`./configure --without-lmdb --enable-parser-generation --enable-mutex-on-pm --prefix=/usr`

I didn't pass any maxmindb info. It's interesting that your script detect it as without version, and shows full path instead if linker flag.

Note, that you don't need to pass the `--withoud-lmdb` if

[2019-07-14 12:46] hello-yunshu commented on #1941
This save my problem. Thanks

[2019-07-15 13:54] wobapodge commented on #2129
Hi @airween
Thanks for the regression test. I've switched to nginx 1.16.0 and compiled with nginx module.
My runav also uses clamd rather than clam.
I've attached the results of the regression test, as well as the contents  of runav.pl
runav.pl run manually:

[root@test-proxy1 log]# /etc/nginx/modsecurity.d/owasp-modsecurity-crs/util/av-scanning/runav.pl /tmp/test.txt
0 clamscan: OK
[root@test-pro

[2019-07-15 14:08] airween commented on #2129
Hi @wobapodge, these lines are interesing:
[code]
because **there is** the final boundary in the regression test. The mentioned file exists? I mean the `/tmp/modsec/20190715-143619-156319777952.186855-file-0NabKv`? If yes, could you paste the output of this command?
`cat /tmp/modsec/20190715-143619-156319777952.186855-file-0NabKv`

(If the file had been removed, run the test again, and see the fil

[2019-07-15 14:11] wobapodge commented on #2129
Hi @airween - there are no files produced in /tmp/modsec - the directory is empty.

Permissions:
drwxrwsrwx. 2 root root      6 Jul 15 12:46 modesc
sudo getenforce
Permissive

[2019-07-15 15:00] airween commented on #2129
Is this just a typo?
[code]
and
[code]
so, the **modesc** against **modsec**?

Could you run this commands, and share the output?
[code]
here is the expected output:
[code]

[2019-07-15 15:57] markblackman commented on #2101
So our current hypothesis is that the pconf pool is corrupted by the ap_varbuf_grow routine (in child pool ptemp) during start-up configuration and more than one kind of rule triggers it, but maybe not all rules trigger it.

Not yet tested the 'no-rules' case, but using the apr pool debug option is pointing to an issue associated with ap_varbuf_grow

[2019-07-15 16:04] markblackman commented on #2101
This is in the Apache configuration code though, not the mod_security code.  Possibly these very long configuration lines trigger some configuration processing bugs.

[2019-07-15 20:44] markblackman commented on #2101
The general configuration corruption issue is reproducible with ease as far as I can tell with the APR pool debugging on.  I built APR (--enable-pool-debug=all), APR-util, httpd-2.4.39 and mod_security 2.9.3 from scratch on a stock, plain FreeBSD 12 and got a segmentation violation during the apache start-up phase with the core rule set 3.1.1 configured.  The segmentation violation points to a par

[2019-07-15 20:46] markblackman commented on #2101
For some reason the allocator (in the ptemp pool) has become null

[2019-07-15 20:54] markblackman commented on #2101
If it helps, here's vb, but I think you can reproduce this with ease.

[code]

[2019-07-16 02:04] redbox-cdn opened #2132 "is it possible to use variable for SecRemoteRules keys or param?"
Is it possible to use variable for SecRemoteRules keys or param?

I would like to  set existing requst header value in SecremoteRules.

[2019-07-16 14:15] carolfly86 opened #2133 "use include files in modsecurity_rules_remote"
Hi,

Can we use `include` directives in a remote file specified in`modsecurity_rules_remote` to reference to other remote files?

I tried a simple example as below:
[code]

and include.conf
```include https://xxx.s3.amazonaws.com/modsecurity.conf```

It would complain
```nginx: [emerg] "modsecurity_rules_remote" directive Rules error. File: https://xxx.s3.amazonaws.com/include.conf. Line: 1. Colum

[2019-07-16 15:24] markblackman commented on #2101
These all seem to be side effects of using pool debugging and are not related to the original issue.

[2019-07-16 19:08] carolfly86 commented on #2133
I think `SecRemoteRules` can be used to reference a specific file, but if we need to reference multiple files it doesn't seem to work with `SecRemoteRules key https://xxx.s3.amazonaws.com/*.conf`

[2019-07-16 19:16] karljohns0n commented on #2121
I have the same issue on a lot of cPanel servers with ruid2 since cPanel has upgraded to mod_security2-2.9.3. It always worked fine in combination with CSF firewall to block robots that bruteforce.

[code]

[2019-07-17 15:39] granalberto commented on #2131
Thank you all very much. Branch v3/dev/issue/2131 works when you pass --prefix=/usr/local to ./configure.

[2019-07-22 20:26] zimmerle commented on #2133
Hi @carolfly86,

The SecRemoteRule is not a directory inclusion, rather it is an HTTP request. The best way to achieve what you are looking for is to have all files together in a single file, leading to a single HTTP request

Notice that includes - regardless local or from remote rules - does not accept an HTTP request.

[2019-07-22 20:26] #2133 closed, assigned to zimmerle

[2019-07-22 20:29] zimmerle commented on #2132
Hi @redbox-cdn,

That is not possible. The Rules are loaded per webserver instantiation. At the time that the rules are loaded, there is no information about the client. I am curious though, what would be your use case?

Perhaps you can achieve similar functionality (from the user perspective) with a different approach.

[2019-07-24 02:16] ghost opened #2135 "Debian 10"
What is the installation process for debian 10?

[2019-07-24 09:15] markblackman commented on #2101
Based on what we're seeing with cleanup function issues, I would say we have been seeing precisely what was seen in #890 and the corresponding PR 2049

[2019-07-24 17:41] MrBorderline commented on #2135
https://www.linuxjournal.com/content/modsecurity-and-nginx

[2019-07-24 18:56] victorhora commented on #2135
It depends which version of ModSecurity you're trying to install:

For version 3.x: You can probably use the Compilation Recipe for Ubuntu (with slightly different package names): https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes-for-v3.x#ubuntu-1504

For version 2.x: https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#Installation_Methods

There might deb p

[2019-07-24 18:56] #2135 closed, assigned to victorhora

[2019-07-24 19:37] mmelo-yottaa opened #2136 "MS3 false positive: incorrect match of HTTP POST body with string in`lfi-os-files.data'"
**Describe the bug**

strings in lfi-os-files.data beginning with "." are incorrectly matched against HTTP requests, "Matched "Operator `PmFromFile' with parameter `lfi-os-files.data'" is incorrectly reported and traffic is blocked.

**Logs and dumps**

2019/07/24 19:16:45 [warn] 51957#51957: *22640 [client 127.0.0.1] ModSecurity: Access denied with code 403 (phase 2). Matched "Operator `PmFromFil

[2019-07-24 19:45] markblackman commented on #890
This PR fixed our problem in a very busy cluster

[2019-07-24 19:47] markblackman commented on #890
@lightsey  Did you spend quite a while tracking this down?  It's burned a lot of our time and we could never reproduce it in our dev environments.

[2019-07-24 19:50] markblackman commented on #2101
Applying the PR in #2049 has solved our problem.

[2019-07-25 06:11] redbox-cdn commented on #2132
Hi  Sorry for my late reply.

I would like to cosider to change policy per users dynamically.

Example, as I can see  the rules are loaded per web server instantiation, I will create small API on the remote server.
remote server will detected query or keys header and then I hope correct policy is deliver per users.
ex: in case of modsec key :user1.
Web server(remote) will  response of user1.conf.

[2019-07-25 09:59] markblackman commented on #2101
Although PR #2049 deals with our coredump problem (due to corrupted cleanup functions), we're seeing a lot more CPU utilization than we expected and attaching to the active httpd processes shows a lot of time spent in poll()

[code]

[2019-07-25 17:25] lightsey commented on #890
IIRC, my approach for pinpointing the source of the problem was:
- Get a conf file with a minimal set of Apache modules and mod_security rules to reproduce the bug reliably.
- Partially enable the pool allocation debugging logic in APR that's designed to detect race conditions. (Apache won't start with mod_security loaded if it's fully enabled.)
- Extend the pool allocation debugging functionality

[2019-07-27 14:43] fakhrizulkifli opened #2137 "Potential off-by-one in msc_parsers.c"
Potential off-by-one as in #1799 but for the parameter value. The `s[i]` will first try to dereference before i is checked if it is over the input length.

[code]

[2019-07-27 17:40] musklor opened #2138 "Request Entity Too Large"
Hello,
Nextcloudpi : v1.15.3
Error : Request Entity Too Large
When : upload
Board : RPI3B
Post_max_size = 10G
upload_max_filesize = 10G
Debian buster (OK with Debian stretch)

libapache2-mod-security2/stable,now 2.9.3-1 armhf  [installé]
  Tighten web applications security for Apache

libmodsecurity-dev/stable 3.0.3-1 armhf
  ModSecurity v3 library component (development files)

libmodsecurity3/st

[2019-07-28 23:49] ZerooCool opened #2139 "Loaded APR do not match with compiled"
**[:notice] ModSecurity: APR compiled version="1.6.3"; loaded version="1.6.5"
[:warn] ModSecurity: Loaded APR do not match with compiled!**

[code]
I use Debian Stretch
[code]

[code]

[2019-07-29 09:13] eddie4 opened #2140 "Rule 913100 (Found User-Agent associated with security scanner) False positives"
**Describe the bug**

Rule 913100 (Found User-Agent associated with security scanner) seems to match on data that it shouldn't looking at the file of user-agents there is no reason that i can see why it should block these requests.

**Logs and dumps**

I have compile a list of useragents that i my eye's should not be blocked but for some
reason are under this rule.
[useragents.txt](https://github.

[2019-07-29 09:28] eddie4 commented on #2140
Please ignore this issue it has already been fixed in the new ruleset

[2019-07-29 09:28] #2140 closed, assigned to nobody

[2019-07-29 09:30] eddie4 commented on #2138
Did you see the size limit in the modsecurity config?
line 38 & 39
https://github.com/SpiderLabs/ModSecurity/blob/v3/master/modsecurity.conf-recommended

[2019-07-29 10:21] musklor commented on #2138
I tried with a large SecRequestBodyLimit but no way

[2019-07-29 14:01] Vaibhavgoe opened #2141 "Regarding Modsecurity rule for mp4"
Dear All,
     We have configured nginx web server as reverse proxy and enable mod security.  There is one mp4 file buffering in application with HTML 5 video tag. When we disable the modsecurity in nginx,  it is playing perfectly. But when we enable it,  it is not playing.. And showing 504 gateway error. There is no modsecurity error log also to identify the issue. Even we set the secruleengine a

[2019-07-29 18:14] zimmerle commented on #2132
The best way to achieve such functionality is to expend ModSecurity with Lua or Python. That way you can dynamically apply logic based on parameters. Load the rules on every hit, will cause a very huge impact on performance, not to mention that won't be an easy way to recover from rules errors.

[2019-07-29 19:17] airween commented on #2139
Hi @ZerooCool,

First, I think you're using your repositories from multiple versions of Debian:

[code]
You're listed: **stretch**, **sid**, **testing**, and **buster**. These are 4 different versions...

I think this is at the first place on the list of reasons.

You can compare your outputs whit these:

[code]

Note, that you wrote:

But there isn't package with name `libapache2-modsecurity`. Co

[2019-07-29 19:20] airween commented on #2141
I assume you're using libmodsecurity3 with nGinx.

You can set up the debug log in your configuration file:

[code]
Could you paste here your set up?
[code]

[2019-07-29 19:35] airween commented on #2138
It's not so clear what are you using, because you wrote:

`libapache2-mod-security2` is an **Apache** module. The ModSecurity v2 works only with Apache (as stable).

`libmodsecurity3` is a library, and currently works only with **nGinx** (from the most popular webservers), but not with the Apache. I don't know about nginx module for Debian/Raspbian, but may be you've found one, just not listed abo

[2019-07-29 21:49] musklor commented on #2138
Already tried. In fact I use "nextcloudpi" and since debian buster I can't upload with modsecurity v2 enabled. (The script didn't change) I'd like to help "nextcloudpi dev".
We use libapache2-mod-security2/stable,now 2.9.3-1 and modsecurity-crs/stable,now 3.1.0-1 all
https://github.com/nextcloud/nextcloudpi/issues/959

[2019-07-29 22:18] airween commented on #2138
And what do you see in error.log/modsec_debug.log?

[2019-07-30 06:43] marcstern commented on #2137
There is no off-by-one because the string s is null-terminated (thus "0 != argument_separator).
However, as a good practice, it would be better to reverse the checks.

[2019-07-30 07:45] WPTSTW commented on #1441
Please help me to solve this error.
Syntax error on line 7 of /etc/apache2/conf-enabled/modsecurity.conf:Invalid command " SecRuleEngine", perhaps mispelled or defined by a module not included in the sever configuration.

[2019-07-30 08:44] mstrokin opened #2142 "www.modsecurity.org SSL certificate expired"
Subj.

[2019-07-30 09:27] redbox-cdn commented on #2132
I will consider Lua scripting.

Thanks

[2019-07-30 09:27] #2132 closed, assigned to zimmerle

[2019-07-30 10:47] Vaibhavgoe commented on #2141
Thanks for reply,
 we have checked that lesser size of mp4 file is working fine. but large size mp4 file is not buffering.
The setting for responselimit in modsecurity conf file is as follow.
SecResponseBodyAccess On
SecResponseBodyMimeTypesClear
SecResponseBodyMimeType text/plain text/html text/xml
SecResponseBodyLimit 249112638
SecResponseBodyLimitAction ProcessPartial

Please lets us know to se

[2019-07-30 11:17] airween commented on #2141
I'm not sure that the response 504 triggered by ModSecurity. That's why it would be good to see the error/debug logs...

[2019-07-30 11:46] airween commented on #2136
I think the bad news is that this behavior is by design - see [this comment](https://github.com/SpiderLabs/ModSecurity/issues/1576#issuecomment-343899565) under the #1576 (but I don't think that was the intention).

The keys of values under the `profile` key in your JSON array will renamed to `json.profile.array_0`, `json.profile.array_1`, ..., as you can see in your pasted log line. So, the `.pro

[2019-07-30 12:32] Vaibhavgoe commented on #2141
by analyzing the debug log. we found the following error
Initialising transaction (txid dcAcAcAcAcAMAcRcAcAcAcAc).
 Transaction context created (dcfg 7f9bc24be980).
Starting phase REQUEST_HEADERS.
 Second phase starting (dcfg 7f9bc24be980).
 Input filter: This request does not have a body.
 Starting phase REQUEST_BODY.
Hook insert_filter: Adding output filter (r 7f9bc24440a0).
 Starting phase RESP

[2019-07-30 14:47] csanders-git commented on #2141
Add that mime type to your allowed list :)

[2019-07-30 21:28] musklor commented on #2138
Modsec_debug.log is empty
Error.log

 Jul 30 00:00:02.805824 2019] [ssl:warn] [pid 18342:tid 1996135840] AH01909: localhost:4443:0 server certificate does NOT include an ID which matches the server name                                                                       [Tue Jul 30 00:00:02.808749 2019] [mpm_event:notice] [pid 18342:tid 1996135840] AH00489: Apache/2.4.38 (Raspbian) OpenSSL/1.1.1

[2019-07-31 04:46] Vaibhavgoe commented on #2141
This issue is not related to mime type. small size in file is working fine.

[2019-07-31 07:32] airween commented on #2141
Could you try it **without** modsecurity? (On the same environment, of course...)

[2019-07-31 07:37] airween commented on #2138
Could you try it **without** modsecurity? Just disable it, any other settings remains as it is.

[2019-07-31 09:24] Vaibhavgoe commented on #2141
yes it is working fine by disabling the modsecurity in nginx configuration file. after enable it, it is not working.

[2019-07-31 09:35] airween commented on #2141
We have to see your full modsec_debug.log, not just the chunked lines what you shared above. Also need your nginx's error.log.

[2019-07-31 10:09] ZerooCool commented on #2139
Ok, first, i remove stretch , sid and testing from my sources.list
[code]

apt update

Subsequently you tell me that there is no package libapache2-modsecurity.
In my tutorial, I noticed that it is this package that allows to install ModSecurity.
I have wrong ?

Thanks for your advices :
[code]

[2019-07-31 10:40] airween commented on #2139
Does your problem still exist?

yes, I don't know about - could you check it at your site?
[code]

For Apache2, it called libapache2-mod-security2 (in Debian).

Don't know - where did you find that tutorial?

[2019-07-31 11:01] ZerooCool commented on #2139
[code]
We are right both.

This is my tutorial : https://wiki.visionduweb.fr/index.php?title=Installer_Apache2_sur_Debian

[2019-07-31 11:11] airween commented on #2139
Hmm...

Take a look to this:
https://packages.debian.org/search?keywords=libapache2-modsecurity&searchon=names&suite=stable&section=all

Note for the line at top of page: *Search in **all suites*** - I think it means there isn't a package like this.

The attached wiki had written in French, which is totally strange for me :), but I didn't found any lines which refers to a non-official Debian repos

[2019-07-31 13:39] mmelo-yottaa commented on #2136
Thanks for the insight, I will take a look at MS3 source to see the details.  Is it possible to limit the key renaming to cases where the JSON contains key:value pairs where the key is not specified?  That would make MS3 more back-compatible with MS2...

[2019-07-31 14:07] airween commented on #2136
With this patch you can avoid to renaming of JSON variables:
[code]
So, the `profile: ['foo', ...]` will remain as `profile, foo, ...`, not moving to `json.profile.array_0`. I think this is the most compatible with v2 :), but I guess there was an important reason to build this part to the code. Eg. with this patch some regression tests will failed, eg. [this](https://github.com/SpiderLabs/ModSecur

[2019-07-31 14:42] ZerooCool commented on #2139
[code]

I do not know if it works.
I read that it probably works, but, that there might be a lack of stability, since the versions do not match for ARP.

I uninstall.
[code]
I'm reinstalling.
[code]

[code]

Now, i can't install libapache2-modsecurity
What you said, actually !

[code]

[code]

Again,
I do not know if it works.
I read that it probably works, but, that there might be a lack of stabi

[2019-07-31 15:02] airween commented on #2139
hi,

look at this in the output of `apt-cache show`
[code]
May be that the ModSecurity runs under Apache2, but the problem still exists:
[code]

May be you can remove/update the libapr packages:
[code]
Remove the installed packages (perhaps only these 2 will affected), and install them again:
[code]
or you can skip the purge, and run just the `apt install` - that will upgrade the listed package(s)

[2019-07-31 15:19] ZerooCool commented on #2139
look at this in the output of apt-cache show
Sorry, i don't anderstand.

Sorry, only 1 version :
[code]

[code]

Sorry :
[code]

[2019-07-31 15:43] airween commented on #2139
I just showed a part of the output of your command. It means that the libapache2-modsecurity is just a "metapackage", and you can uninstall it safely.

Nevermind.

Could you show the outputs of these commands? I kept mine:
[code]

We have to be sure, that you don't have any other shared object, and have to see, where finds the mod_security module the apr so file.

[2019-07-31 18:08] ZerooCool commented on #2139
[code]

[2019-07-31 18:24] airween commented on #2139
This line is missing:
[code]
and what you see in the output near the libapr-1.so.0, next to the `=>`, that's the shared object/library, what you have to check with dpkg -S, and dpkg -l.

[2019-07-31 21:27] musklor commented on #2138
Without modsecurity I can upload a large file.

[2019-08-01 08:06] airween commented on #2138
I can't help more based on these information - see another topics, eg:
https://talk.plesk.com/threads/modsecurity-post-failure-with-413-request-entity-too-large.339896/

[2019-08-02 11:53] ZerooCool commented on #2139
[code]

Only that :
[code]

[2019-08-02 12:04] airween commented on #2139
Thanks - and sorry, I meant the `-l ...` needs the package name, not the library - that's why the
[code]
given
[code]

The output of your last command can see above:

so I assume that your installed versions of different components are consistent. That's why I don't understand this issue :). Could you restart your system? (If it was not till the last update...)

[2019-08-02 15:33] ZerooCool commented on #2139
For the moment, I have not restarted the system. You think that can influence the behavior?

I keep this exchange in the favorites, I come back in the days to come, once the progress of the moment stabilized.

Reboots are scary : D
`reboot`

[2019-08-02 22:35] mstrokin commented on #2142
Firefox still complains about the certificate because it uses weak/insecure encryption

[2019-08-03 08:11] NisariIDPal opened #2143 "Modsecurity errors show default Nginx page instead of custom error page"
**Description**

When a request exceeds the modsecurity anomaly score, access is denied for the request and redirects to 403 nginx error page even though there is a custom page added for the 403 status code in nginx configuration.

**Logs and dumps**

---flVTXfo9---H--
ModSecurity: Warning. Matched "Operator `Within' with parameter `.asa/ .asax/ .ascx/ .axd/ .backup/ .bak/ .bat/ .cdx/ .cer/ .cfg/

[2019-08-07 03:33] fakhrizulkifli commented on #2137
closed due to false positive.

[2019-08-07 03:33] #2137 closed, assigned to nobody

[2019-08-07 11:43] psetevik opened #2144 "Are ModSec & RuleSet thread-safe ?"
Just an information request.

Assuming a multhreaded application (N "worker" threads), can one use same instance of ModSec (eg modsec = msc_init();) and RuleSet (eg rules = msc_create_rules_set();) in different threads ? Are these read-only and thread-safe after the creation ?

Or do I need to create these per-thread ?

And lastly, can I reuse MSC Transactions so I dont have to create these anew e

[2019-08-07 18:11] fgsch opened #2145 "Error parsing %"
The following rule fails to parse:

`SecRule REQUEST_HEADERS "@contains %" "id:1"`

Escaping the % doesn't help.

AH00526: Syntax error on line N of ...: Error: Rules must have an ID.

Works with modsecurity 2, fails with 3.

[2019-08-09 08:50] azurit commented on #454
Hi guys, i'm still having problems with this in version 2.9.3 (apache with ITK):
Message: Audit log: Failed to lock global mutex: Permission denied

I tried to recompile modsecurity with --disable-collection-global-lock but errors are still logged.

[2019-08-09 20:31] victorhora commented on #2139
Closing this one since it's know configuration and workaround available.

[2019-08-09 20:31] #2139 closed, assigned to victorhora

[2019-08-09 20:36] victorhora commented on #2138
@musklor can you provide more details? Also make sure you set SecRequestBodyLimit as well. Also try with "SecRequestBodyLimitAction ProcessPartial"

[2019-08-09 21:58] ZerooCool commented on #2139
@victorhora Not really, no.
airween did help me, but at the moment I have the APR error on a version issue.

I have to restart the server, and, retry the installation since then, if I understood correctly.

For the moment, the workarounds have NOT worked.

[2019-08-10 07:32] musklor commented on #2138
With "SecRequestBodyLimitAction ProcessPartial", I have a connection error.
SecRequestBodyLimit very large.

Apache 2.4.38
libapache2-mod-security2/stable,now 2.9.3-1 and modsecurity-crs/stable,now 3.1.0-1 all

[2019-08-10 15:48] h0l0gram commented on #2142
[SSL/TLS check](https://www.ssllabs.com/ssltest/analyze.html?d=modsecurity.org) shows that the server does not support TLS 1.2 nor 1.3. No Forward Secrecy but insecure RC4 (TLS_RSA_WITH_RC4_128_*).
I assume that disabling the weak RC4 ciphers and enabling TLS 1.2 and 1.3 will fix this issue.

[2019-08-11 18:07] azurit commented on #1092
This is problem also on Debian Stretch.

[2019-08-14 12:52] mirkodziadzka-avi opened #2146 "REQUEST_BODY is set when it should not according to documentation"
I think there is a mismatch between modsec-3 implementation and modsec documentation.

According to https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#request_body
the REQUEST_BODY variable should be set only under 2 conditions.

1. If the WWWFormURLEncoded body processor is used
2. If no body processor is used and ctl:forceRequestBodyVariable is used in phase:1

In current

[2019-08-14 15:26] azurit opened #2147 "Concurrent logging buggy without /etc/passwd"
**Describe the bug**

When running in environment without /etc/passwd (or without access to it), concurrent logging is very buggy as it cannot find user names, the uninitialized/empty memory data is used as names of files in /tmp and in SecAuditLogStorageDir. The problem is in file apache2/msc_logging.c, function construct_auditlog_filename, lines:

[code]

The return value of function apr_uid_nam

[2019-08-14 18:13] azurit commented on #2147
Also file apache2/persist_dbm.c, functions collection_retrieve_ex, collection_store and collections_remove_stale.

[2019-08-14 19:09] airween commented on #2146
Just fyi, this is a know issue, and a(n ugly) PR available - but I only made it for to discuss:
https://github.com/SpiderLabs/ModSecurity/pull/2045

Also note, that there is a "feature request" for v2 - by this bug, the v3 can catch the XXE attack, v2 can't. :)
https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1319

[2019-08-14 20:04] airween opened #2148 "Seclang parser issue: wrong '\\' sequence handling"
**Describing of bug**
In v2, if a SecRule contains a sequence of `\\` (double backslash), the parser interprets it as a single `\` (backslash) character. This is because the reading of config file is the Apache job. The process chain in v2 is something like this: `ap_getword_conf` (declared in httpd.h), it is called from `ap_build_config` (declared in http_config.h), and the root of this chain is

[2019-08-15 09:32] azurit opened #2149 "FP: Rule 930110 - Path Traversal Attack (/../)"
**Describe the bug**

Rule number 930110 is getting triggered also on URLs like this (3 dots and only one slash):
example.com/something-here.../1234

**Server (please complete the following information):**
 - ModSecurity version (and connector): 2.9.3 with CRS 3.1.1
 - WebServer: Apache 2.4.25
 - OS (and distro): Debian Stretch

[2019-08-15 12:12] azurit commented on #2149
One more thing - this rule gets triggered TWO TIMES on the same such request as above:

Inbound Anomaly Score Exceeded (Total Inbound Score: 10 - SQLI=0,XSS=0,RFI=0,LFI=10,RCE=0,PHPI=0,HTTP=0,SESS=0): Path Traversal Attack (/../)

So my clients are getting score 10 which is my threshold for blocking.

[2019-08-15 12:50] airween commented on #2149
This isn't a ModSecurity bug, but the rule is wrong.

The workaround: replace the operator and its argument in file REQUEST-930-APPLICATION-ATTACK-LFI.conf in line 50 from this:

`""@pm ..\ ../"`

with this:

`"@rx (?:^|[\\/])\.\.(?:[\\/]|$)"`.

If it works, you can close this issue.

[2019-08-15 13:10] azurit commented on #2149
Where exactly should i report bugs in CRS rule set?

[2019-08-15 13:13] airween commented on #2149
Here:
https://github.com/SpiderLabs/owasp-modsecurity-crs/issues

But you don't need to make new issue, the PR is sent - see above: https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/1509

[2019-08-15 13:15] azurit commented on #2149
Thank you. Your fix works ok, closing.

[2019-08-15 13:15] #2149 closed, assigned to nobody

[2019-08-17 16:59] jiangsi520 opened #2150 "Execute sh bulid.sh installation error"
When I executed sh bulid. sh, the following errors occurred. They were all installed according to the method provided in the installation document.
![16K{YKSB2E({SQ2U@2Q% OK](https://user-images.githubusercontent.com/30169495/63215057-62782c80-c153-11e9-985a-aef24cac4d15.png)

[2019-08-17 18:28] csanders-git commented on #2150
make sure you have cmake, libtool, automake, and make

[2019-08-18 01:02] jiangsi520 commented on #2150
I have installed all four of the packages you mentioned, or there will be the above mistakes. Is there any relationship between the packages?

[2019-08-18 01:03] csanders-git commented on #2150
yes,  there is a relationship between these packages.

[2019-08-18 01:20] jiangsi520 commented on #2150
The same problem still happens.

[2019-08-18 04:30] csanders-git commented on #2150
I recommend taking a look at how the docker files build modsec, they build on top of Ubuntu, https://github.com/CRS-support/modsecurity-docker

[2019-08-18 09:02] #2150 closed, assigned to nobody

[2019-08-18 09:07] jiangsi520 opened #2151 "When I executed bulid. sh, the following error occurred. All dependency packages were installed."
When I executed bulid. sh, the following error occurred. All dependency packages were installed.
![image](https://user-images.githubusercontent.com/30169495/63222455-a4988100-c1da-11e9-8482-4b334432890c.png)

[2019-08-18 15:59] #2151 closed, assigned to nobody

[2019-08-18 16:20] jiangsi520 opened #2152 "The following error occurred in SH build. sh. What is the reason?"
The following error occurred in SH build. sh. What is the reason?
![image](https://user-images.githubusercontent.com/30169495/63227253-1989ac00-c217-11e9-9b26-ca7f47069fb9.png)
![image](https://user-images.githubusercontent.com/30169495/63227259-26a69b00-c217-11e9-877f-28ace6552255.png)

[2019-08-18 20:44] gotwf opened #2153 "Wiki - modsecurity3 missing dependency"
Wiki documentation for Minimal Centos7 module neglects to include pcre-devel in dependency installation.  No big deal, just thought you may want to know.  Page here:

https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes-for-v3.x

[2019-08-20 00:55] jiangsi520 commented on #2152
have already been solved

[2019-08-20 00:55] #2152 closed, assigned to nobody

[2019-08-20 03:12] jiangsi520 opened #2154 "Executing make error reporting"
Execute make error reporting.My operating system is the following version. The installation method used is wiki CentOS 6.x. Is the reason for the error related to my installation method, or to my operating system version, and can't modsecruity 3 be deployed under centos7?
![image](https://user-images.githubusercontent.com/30169495/63314635-e93b2e00-c33a-11e9-8569-840692fec003.png)
![3](https://use

[2019-08-26 09:30] khushbuparakh opened #2156 "clang: warning: comparison of constant 160 with expression of type 'char' is always false"
**Description**

/src/actions/transformations/remove_whitespace.cc:66:44: warning: comparison of constant 160 with expression of type 'char' is always false

#define NBSP 160    // non breaking space char
std::string value(val);
if (isspace(value[i]) || (value[i] == NBSP)) {

[2019-08-26 09:31] khushbuparakh commented on #2156
hi! I can work on the fix.

[2019-08-26 20:55] airween opened #2157 "Duplicated log messages when chained rule matched"
**ModSecurity v3 sends log lines multiple times**

If there is a chained SecRule (for eg. [CRS 920250](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/d70c985010b6c9bf613bf4e56ee88be704da3ecf/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf#L379)), then the engine sends the rule messages many times as the rule chained (the 920250 sends as two times).

The lines are in reversed order, at the fi

[2019-08-27 02:11] jiangsi520 commented on #2154
have already been solved

[2019-08-27 02:11] #2154 closed, assigned to nobody

[2019-08-27 03:40] jiangsi520 opened #2158 "Has modsecruity 3 removed CSRF protection? If not, where is the relevant configuration file?"
Has modsecruity 3 removed CSRF protection? If not, where is the relevant configuration file?

[2019-08-27 11:20] azurit commented on #868
Any news on this? This is still an issue in version 2.9.3 (file uploads are still broken with typo3).

[2019-08-27 14:28] azurit commented on #868
This should be considered also as a security problem as this information can be used to detect modsecurity and anti-virus software (i was really wondered how typo3 get to the script name and path used to run antivirus..).

[2019-08-27 18:21] azurit commented on #868
Is it safe (or relatively safe) to remove lines mentioned in the original issue text?

[2019-08-27 18:24] TobiasGrave commented on #868
The 2 problematic code lines were added in the year 2003 to fix an issue with file upload approver scripts written in PHP. As far as I understand, the problem was that PHP versions prior to 4.3.0 only had a single PHP binary for CGI and CLI mode, and CGI mode was activated automatically if CGI environment variables were present. Apache automatically sets CGI enviroment variables, so a file upload

[2019-08-29 06:17] jiangsi520 opened #2159 "Custom error interface"
**Describe the bug**

A clear and concise description of what the bug is.

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
 2. AuditLogs
 3. Error logs
 4. If there is a crash, the core dump file.

_Notice:_ Be carefully to not leak any confidential information.

**To Reproduce**

Steps to reproduce the behavior:

A **curl** command line that mimics the original request and reproduces the p

[2019-08-29 06:19] jiangsi520 commented on #2159
Misoperation

[2019-08-29 06:19] #2159 closed, assigned to nobody

[2019-08-29 13:11] danielwrayois opened #2160 "ModSecurity 3 - Log Format and Nginx Variables"
Hi, I am wondering if it possible to include Nginx variables into the ModSecurity 3 log output, for example our systems capture unique request and session ID's and we would find it very useful to include these two unique parametes in a ModSecurity event. This will allow our monitoring solution to show a combination of Nginx access.log (accepted) requests, and ModSecurity events / error.log (failed

[2019-08-29 19:15] airween commented on #2160
Hi @danielwrayois,

I think that your imagined feature isn't available without any hack.

In my opinion, the **request_id** and **session_id** variables are depends on your transaction. All of them generated by your webserver (nginx). ModSecurity - as I know - doesn't read any environment from the used webserver.

I guess your included log comes from your nginx's error.log. The ModSecurity generat

[2019-09-02 14:25] matthijs opened #2161 "[ModSecurity 3.x] Json output log, missing information?"
**Describe the bug**

When reviewing the output from a blocked request (intentionally) I am missing several pieces of information which are in the older modsecurity version (2.x).

The parts missing:
 - timings (duration, phase1 to phase5, garbage collection timing, storage read / write etc).
 - the action taken: I expect somewhere 'Access denied with code ..' or 'Warning.'

After further reviewin

[2019-09-03 18:01] stevendore opened #2162 "Access to previous phase's data"
**Describe the bug**

Given the below rule,

[code]

In ModSecurity v2, this test request (`curl localhost:8080/test.php?login=thisisatest`) is blocked. While in ModSecurity v3, this request passes does not get blocked. Does Phase 2 not have access to Phase 1's data?

**Logs and dumps**

Output of:
 DebugLogs (level 9)

[code]

2. AuditLogs

[code]

**To Reproduce**

[code]

**Server**
-ModSecurit

[2019-09-03 19:16] airween commented on #2162
Hi @steven-j-wojcik,

I've checked your report with ModSecurity own regression test framework, and I think your setup has some wrong setting, because the rule above works in phase1 and phase2 too.

Could you check my regression test file - you can find it here:
https://gist.github.com/airween/7b419e500205291c9228502fb5ed15e3

Copy this file to your $MSC_SRC_ROOT/test/test-cases/regression/ directo

[2019-09-03 19:27] stevendore commented on #2162
I must have something wrong in my API than. I am using the C API (FYI). I will dig further, thanks.

[2019-09-03 19:27] #2162 closed, assigned to nobody

[2019-09-03 19:34] airween commented on #2162
Okay, thanks - if you have any problem/question, just let me know.

Here is an example, if you need it:

https://gist.github.com/airween/c82bc79021e244d80a11c03ba4cc4a9b

[2019-09-09 10:55] Elavarasan83 opened #2163 "ModSecurity 3.x compilation in Windows x64 (for Apache Httpd)"
Regarding ModSecurity 3.x compilation in Windows x64 (for Apache Httpd)

We want to migrate ModSecurity 2.9.x to 3.0.3. ModSecurity is used in Apache Httpd(reverse proxy) in our project. Readme says ModSecurity build is not ready for Windows.

When will the build for Windows made available? Will we get build for Windows for future ModSecurity > v3.0.3 releases?
Are there any security vulnerabiliti

[2019-09-10 02:29] jiangsi520 opened #2164 "Error reporting when compiling and installing libModSecurity"
When compiling and installing libModSecurity, try the following commands. Make errors. What causes this problem?
![11](https://user-images.githubusercontent.com/30169495/64579516-c2aa6900-d3b5-11e9-9c68-85e3f53116f6.png)

I use V3 version The operating system is centos7。

[2019-09-10 03:20] csanders-git commented on #2164
Looks like you are missing maxmind development headers.

[2019-09-10 03:39] jiangsi520 commented on #2164
Hello, are you talking about the missing bag? Libmaxminddb-1.3.2.tar.gz, if so, I have installed this package

[2019-09-10 03:47] csanders-git commented on #2164
The error is indicating that it cannot find that it may be in an abnormal location. try using the locational flag.

[2019-09-10 06:28] jiangsi520 commented on #2164
Hello: I found that the target directory for compilation is the package under / usr / local / lib, but I have this package in Figure 2. So I'm very doubtful now. Are there any other places to configure?
![Y_ _VCVTI0W0{9%}_DL8M9D](https://user-images.githubusercontent.com/30169495/64589043-bbe01e00-d3d6-11e9-9f8e-d28ce4ee7b7f.png)

![MK5N} _}5O_B9_5VP8VHU}J](https://user-images.githubusercontent.co

[2019-09-10 08:26] grzech1983 commented on #1878
Hello,

is there any chance to investigate this issue? I'm trying to use ModSecurity in shared hosting scenario as a hoster. All websites are being runned with separate user in system for security reasons. They all inherit permissions from one user group (IIS_IUSRS). Whatever I do I just can't provide permissions for SecDataDir. I even tried to add Everyone permission for All operations on dir whi

[2019-09-11 06:29] airween commented on #2164
Try to pass the CFLAGS and CXXFLAGS to configure script:

[code]

[2019-09-13 15:48] zimmerle commented on #2164
HI @jiangsi520,

Libmaxminddb needs to be in your library path. Check your LD_LIBRARY_PATH to points to your libmaxminddb. Check it here: https://stackoverflow.com/questions/13428910/how-to-set-the-environmental-variable-ld-library-path-in-linux

[2019-09-13 15:48] #2164 closed, assigned to nobody

[2019-09-13 17:17] zimmerle commented on #2163
Hi @Elavarasan83,

ModSecurity v3 for Apache is still under testing is not recommended to production yet. Currently we don't have a recipe on how to compile ModSecurity v3 for windows.

[2019-09-13 17:17] #2163 closed, assigned to zimmerle

[2019-09-13 17:21] zimmerle commented on #2161
Hi @matthijs,

The timing information was removed on propose in favor of linux instrumentations. What kind of information you want to see on those logs?

[2019-09-13 17:24] zimmerle commented on #2160
Hi @danielwrayois,

Please refer to https://github.com/SpiderLabs/ModSecurity-nginx#modsecurity_transaction_id That should do what you are looking for.

[2019-09-13 17:24] #2160 closed, assigned to nobody

[2019-09-13 17:27] zimmerle commented on #2158
Hi @jiangsi520,

ModSecurity itself does not provide to your site any specific protection, that is up to the rules. Please double check the rules that you are using to see if they offer the CSRF protection that you are looking for.

[2019-09-13 17:27] #2158 closed, assigned to zimmerle

[2019-09-13 17:29] zimmerle commented on #2157
Hi @airween,

Thank you for the report, please provide a way to reproduce the issue.

[2019-09-13 17:31] zimmerle commented on #2156
Hi @khushbuparakh,

Thank you for the report. Indeed that will be a valid fix. Sorry for the long delay to answer. It will be a pleasure to have your contribution on that issue.

[2019-09-13 17:37] zimmerle commented on #2153
Hi @gotwf,

Fixed! Thanks!

[2019-09-13 17:37] #2153 closed, assigned to zimmerle

[2019-09-13 17:41] zimmerle commented on #2148
Hi @airween,

As explained earlier to you, the CRS is not a good to report issues because it has to many rules; having its own logic sometimes can be confuse to reproduce the issues. Please narrow down that to a rule that only reflect the problem.

[2019-09-13 17:43] zimmerle commented on #2147
Hi @azurit,

Thank you for the report, I am liking this issue to #2046 as it seems to be related.

[2019-09-13 17:56] zimmerle commented on #2146
Hi @michaelgranzow-avi,

In version two those configuration use to be very confusing, sometimes leading the user to access a variable that wasn't even set. Fooling the results of the inspection. As of 3.1, the idea is that the variable will be filled according to its usage, so, if there is one rule that uses the REQUEST_BODY the functionality will be on, and the variable will be filled. The opposi

[2019-09-13 17:58] zimmerle commented on #2145
Hi @fgsch,

Indeed, this demanding a parser change. Scaping won't solve as it is a parser issue. It will be further investigated. Thank you.

[2019-09-13 18:10] zimmerle commented on #2144
Hi @psetevik,

Both (msc_init and msc_create_rule_set) are meant to be used before the fork. Every process should share the same memory space as the rule could consume a significative amount of memory; we don't want to replicate that.

With that said, if you have to reload the rules I would recommend creating new workes, something that depends on the size of your rules that you want to load. We ha

[2019-09-13 18:10] #2144 closed, assigned to zimmerle

[2019-09-13 18:41] zimmerle commented on #2141
Hi @Vaibhavgoe,

Is this really version 3 or version 2? There is a known bug in version 2 regarding the buffer sizes that can cause exactly that behavior. If that is the case I strongly recommend you to move forward to version 3.

[2019-09-13 18:41] #2141 closed, assigned to victorhora

[2019-09-13 18:43] zimmerle commented on #2138
Hi @musklor,

It is very likely that you are facing a bug in version 2.x for nginx. Any chance to upgrade to version 3?

[2019-09-13 18:43] #2138 closed, assigned to victorhora

[2019-09-13 18:49] zimmerle commented on #2136
Hi @mmelo-yottaa,

It seems to me that it is more a rule issue than an engine problem. Matching with the key name in that scenario does not sound like a good idea. Changing the behavior of the engine may lead you to other consequences.

Important to notice that this naming schema was first made on v3 and ported to v2, not the other way around.

[2019-09-13 19:36] airween commented on #2157
Here is a gist:

https://gist.github.com/airween/42d00345d7f9de0082462c2417f47a5e

but I don't know why, the debug.log is empty when I run the test/regression_test.
With a real config, you can see that there are so many log lines how the rule chained.

[2019-09-13 20:16] airween commented on #2148
Hi @zimmerle,

here is a gist which contains a regression test:

https://gist.github.com/airween/7f40a0abfa2e8f636bf08893bfd4a4b9

As you can see, in the argument of operator there are 4 backslash before the unicode charcodes, but after the regression test's JSON parser reads that, those will be escaped, and will only `\\`. Also in the request argument: the `\\` will be `\`. It's important that th

[2019-09-13 20:35] airween commented on #2136
Hi @zimmerle,

sorry, I'm not sure that I understand this:

*Matching with the key name in that scenario does not sound like a good idea.*

You mean the end-users have to know, which keys are disabled when they use JSON request?

And for example if they buy a commercial application, then they needs to replace the string occurrence in whole code? :)

[2019-09-14 06:51] musklor commented on #2138
Apache issue

[2019-09-16 09:50] mirkodziadzka-avi commented on #2146
@zimmerle (by the way: @mirkodziadzka-avi here, not @michaelgranzow-avi :-) Thanks for the explanation. That `REQUEST_BODY` is only set when needed is an implementation detail which does not impact the semantic. And it does make sense to avoid unneeded settings.

My question is about changing the semantic:

If you are looking for CoreRuleset rules, they often have an `ARGS|REQUEST_BODY` construct.

[2019-09-17 06:09] aghontpi commented on #654
on ubuntu 14-lts this should work
apt install apache2-dev,

edit: i used "apache" & came around this issue, solved it by above fix.

[2019-09-17 13:31] zimmerle commented on #2146
Hi @mirkodziadzka-avi,

**What the manual suggests is still valid**, as long as you use the variable, it will be filled - giving the business logic that exists today. The same logic persists. But, regardless of **ctl:forceRequestBodyVariable**, if no one is using the variable it won't be filled.

How to write the rules is a decision that you have to make based on context. As you said, the amount o

[2019-09-17 13:35] zimmerle commented on #654
Hi there,

Please use ModSecurity connector instead: https://github.com/SpiderLabs/ModSecurity-nginx

[2019-09-17 13:55] zimmerle commented on #2136
Hi @airween,

The user is trying to execute the operator [PmFromFile](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#pmfromfile) at [ARGS_NAMES](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#ARGS_NAMES) which makes a lookup for the string _.profile_.

The [ARGS_NAMES](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29

[2019-09-17 13:58] zimmerle commented on #2157
Whenever you run the regression tests the debug log is printed on the console by the end of a failed test case.

[2019-09-17 14:04] zimmerle commented on #2162
Hi @steven-j-wojcik,

Looking at the log messages it seems like your rules are not even being executed. Likely you miss merging the rules with the msc_rule object.

[2019-09-17 14:07] zimmerle commented on #2161
I am going to close this issue until we hear from @matthijs again.

[2019-09-17 14:07] #2161 closed, assigned to zimmerle

[2019-09-17 14:07] airween commented on #2157
Sorry, I thought error.log, not debug.log. The duplicated logs are in webserver's error.log.

[2019-09-17 14:08] zimmerle commented on #2157
Same thing. The error log is in the console output.

[2019-09-17 14:09] stevendore commented on #2162
I found the issue. My API for the body processing  were unexpectedly not being executed. I have it all fixed up on my end. Thanks for coming back to this. The problem being on my end not MS.

[2019-09-17 14:13] nibaozhu8 commented on #2161
dear,
&nbsp;How to include duplicated rule(id is equals).
&nbsp;I find second rule cannot be match!
&nbsp;I doesn’t want to change ‘id’, is existing some hash or other key attributes?

------------------ Original ------------------
From: Felipe Zimmerle <notifications@github.com&gt;
Date: Tue,Sep 17,2019 10:07 PM
To: SpiderLabs/ModSecurity <ModSecurity@noreply.github.com&gt;
Cc: Subscribed <subscr

[2019-09-17 14:19] zimmerle commented on #2162
Not a problem. Although meant to help in the rule creation, the debugging log can be very useful to understand misfunction of the library <-> consumer. In your example it is clear that the rule was never executed.

[2019-09-17 14:21] zimmerle commented on #2161
Hi @nibaozhu,

Not sure if I can help you. My advice is to create an specific issue for your question, try to give a few details on your use case.

[2019-09-17 14:26] zimmerle commented on #2139
Hi @ZerooCool,

Indeed you have to re-compile ModScurity with the same APR version as you have in your Apache. Of course, the headers used in the compilation needs to match the same version as  the loaded library.

If you are working with debian packages try **apt source** to fetch the correct versions.

[2019-09-17 14:59] airween commented on #2157
Right, changed the regression test, see the new one:

https://gist.github.com/airween/3e9c40c4b6663b38168bbc08233e7660

The output:

[code]

with one request.

Thanks.

[2019-09-17 15:43] airween commented on #2136
I think the problem is with this behavior:

- **lfi** list contains ".profile" pattern (explicitly **with** a dot - not "profile", without dot)
- user send "profile" pattern **without** dot, not ".profile"
- even so, the engine evaluates it as matching

It's similar, if the rule contains `@rx array`, and looks up the `ARGS_NAMES|ARGS|XML:/*` - but none of them contains `array` - the engine now wil

[2019-09-17 16:49] zimmerle commented on #2136
Hi @airween,

I don't think there is a misunderstanding from my side, let me put in a different way -

The reason it matches is the fact that there is a naming convention on version 3 which allow the user to navigate/select an element of the JSON using its keys names.

[code]

If you think there is a problem in that structure, we will be pleased to consider a change. For that, I would recommend a

[2019-09-17 17:04] mirkodziadzka-avi commented on #2146
Hi @zimmerle ... So I'm official confused now.

If you say, what the manual suggest is still valid, does this means that we do not set REQUEST_BODY, if body processor is JSON, XML or MULTIPART?
Because this is what I read from the manual, what the coreruleset tests assume and what is different in current 3.x implementation.

[2019-09-17 18:17] ZerooCool commented on #2139
I have restart the serveur, with
[code]
sudo apt update upgrade

sudo apt autoremove libapache2-mod-security2
sudo apt install libapache2-mod-security2

But the same message :
 [:notice] [pid 24716] ModSecurity: APR compiled version="1.6.3"; loaded version="1.6.5"
 [:warn] [pid 24716] ModSecurity: Loaded APR do not match with compiled!

@zimmerle  how i can use the correct version from apt source

[2019-09-17 18:35] airween commented on #2136
Hi @zimmerle,

of course, you (and me too) understand the reason, why matches this pattern in the given example.

I'm talking about the effect (users don't know the reason, there isn't any documentation - except this issue), the possible solution, and about my opinion, which is I can't agree that there are some words (one or more - it doesn't matter) what user can't use in rule.

Correct - but the

[2019-09-17 18:47] zimmerle commented on #2136
@airween there is no limitation in the word naming from the engine. The word **profile** came from to different places: **the rule** and **the client's payload** (json).

[2019-09-17 18:51] airween commented on #2146
(Note, that I wrote [above](https://github.com/SpiderLabs/ModSecurity/issues/2146#issuecomment-521378672), I also ran into this issue [here](https://github.com/SpiderLabs/ModSecurity/pull/2045).)

@zimmerle,

the documentation said:
- *If the WWWFormURLEncoded body processor is used*
- *If no body processor is used and ctl:forceRequestBodyVariable is used in phase:1*

In ModSecurity2, if the CT is

[2019-09-17 19:01] airween commented on #2136
Yes, but the **rule** and the **client's payload** patterns are not equals: the rule pattern is wider than the payload. Therefore there shouldn't match the payload with the rule pattern.

So far it's because the engine used that word too.

What you wrote about the chaining rule can be a solution. But what do you think about my idea?

[2019-09-17 19:12] airween commented on #2139
Just my 2 cents:

first, you wrote you reinstalled libapache2-mod-security2, but the problem is with libapr1, not this package.

Then you should try:
[code]
here you can type:
[code]
and then re-install libapr1-dev again.

If the problem still exists, make a backup from your `/var/lib/apt/lists`, remove the files from there, and type:
[code]
and try again.

And one more idea: try to pass the versi

[2019-09-17 20:55] mirkodziadzka-avi commented on #2146
@airween In the case of `application/json` a body processor **is** used. So the second condition isn't met -  independent of `ctl:forceRequestBodyVariable`

[2019-09-17 21:04] zimmerle commented on #2136
@airween what is the problem that you are trying to solve?

[2019-09-17 23:28] zimmerle commented on #2139
Is your apache custom compiled or downloaded via apt?

[2019-09-18 06:29] airween commented on #2136
Consider a `SecRule` with this operator and an argument:

`@rx \.ANYWORD`

and imagine that you send a request with `application/json` content-type, and your json payload contains a key with name 'ANYWORD' - **not '.ANYWORD'**, just 'ANYWORD', without dot.

From the **point of users view**, you can really agree that this request has to match with the given rule?

You can say, that this isn't a bug

[2019-09-18 06:29] jayanth-ganganahalli commented on #1851
Hi,
I am trying to build mod_security v3.0.3 on windows machine. Is there a way to compile the source code? Please help.

[2019-09-18 06:44] airween commented on #2146
hi @mirkodziadzka-avi,

imagine that it works the other way around. :)

You're talking about CoreRuleSet, and it has a rule here:

https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/6debcaf02e226508a6ba78051847ecf5a0ab76b6/rules/REQUEST-901-INITIALIZATION.conf#L290-L300

[code]

So, as you can see, the second condition is true. And therefore the engine uses the REQUEST-BODY as correctly.

Bu

[2019-09-18 11:04] MyAlien opened #2165 "How to send an email attack is detected by ModSec."
Hello,
I am a beginner on ModSec.
How to send an email as soon as an attack is detected by ModSec.

For all ModSec rules.

I tried to add exec: /local/script.sh
Then restart Nginx but error every time.

Thank you .

[2019-09-18 11:17] zimmerle commented on #2165
Hi @MyAlien,

I would suggest you create a separated script, to go over the logs and alert you whenever convenient.

Putting the exec inside ModSecurity to send an email could lead to a performance issue.

Apart from that, what is the error message that you are getting? What is your ModSecurity version?

[2019-09-18 11:22] zimmerle commented on #2146
@airween we cannot assume that the CRS is workable.

[2019-09-18 11:22] MyAlien commented on #2165
ModSecurity version v3 .

Do you have a solution to be notified by email with the details of the attack?

Thank you .

[2019-09-18 11:24] MyAlien commented on #2165
OWASP ModSecurity CRS v3.2.0

[2019-09-18 11:25] zimmerle commented on #2146
Me too. Let me run a couple of tests and get back to the issue.

A clear fact to me is that it should not be that difficult to understand. Let's see what we can improve in v3 to make it crystal clear, regardless of backward compatibility.

[2019-09-18 11:26] zimmerle commented on #2165
Right, that is not your ModSecurity version, but the ruleset that you have loaded.

What is your webserver?

[2019-09-18 11:28] zimmerle commented on #1851
Hi @jayanth-ganganahalli,

There are some pieces of system-dependent software that needs to be written (or changed) in order to get it compiled for windows. Other than those small pieces it should compile fine with any c++11 env.

[2019-09-18 11:29] MyAlien commented on #2165
Server Web NGINX v1.15.8

[2019-09-18 11:33] airween commented on #2146
Meantime I made a regression test:

https://gist.github.com/airween/2c05460fb80b723f3ca4c7235c7f6242

Please review - I think @mirkodziadzka-avi is right. In this file there are two tests. The first one turn on the `forceRequestBodyVariable`, and looks up the `REQUEST_BODY` - it matched.

But at the second test, I didn't turned on this `ctl` action, so I expected that the result will `HTTP 200` -

[2019-09-18 11:36] zimmerle commented on #2136
@airween an operator cannot be used without a variable. What would be the variable in question?

[2019-09-18 11:38] airween commented on #2136
Of course the `ARGS_NAMES`, as the issue contains.

[2019-09-18 11:49] MyAlien commented on #2165
The server hosts websites also databases.

[2019-09-18 11:50] zimmerle commented on #2165
Can you send me the error message that you are facing?

[2019-09-18 11:59] MyAlien commented on #2165
When I add at the end of an rules exec:/loc/script-email.sh, I restart nginx and it causes an error.

[2019-09-18 12:00] zimmerle commented on #2165
Right, but can you send me this error message?

[2019-09-18 12:04] ZerooCool commented on #2139
@zimmerle I have install Apache with apt

I test ASAP with :

[code]

[code]

O

But, can't be found :
[code]

Then, i use :
sudo apt-get install libapr1-dev

[2019-09-18 12:04] MyAlien commented on #2165
sept. 18 14:02:41 www nginx[16067]: nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /etc/nginx/modsec/owasp-modsecurity-crs/rules/RESPONSE-980-CORRELATION.conf. Line: 35. Column: 85. Expecting an action, got:  \
sept. 18 14:02:41 www nginx[16067]: nginx: configuration file /etc/nginx/nginx.conf test failed
sept. 18 14:02:41 www systemd[1]: nginx.service: Control process exited

[2019-09-18 12:05] zimmerle commented on #2136
In that case, you are trying to lookup for a JSON key which is mapped to the JSON structure similar to XML. As the example of the rule below:

[code]
Here you are trying to look up if the JSON has a key name **any_key** inside any structure.
[code]

You may as well, want to check if **any_key** is on the "_root_" of the JSON:

[code]

If you use:

[code]
It will match, if there is a key **any_seco

[2019-09-18 12:06] MyAlien commented on #2165
Is it correct?

[2019-09-18 12:08] zimmerle commented on #2165
you may want to remove the escape character in front of the exec action. It will be:

[code]
You may want to double-check if in the context of the rules it is really doing what you meant it to do.

[2019-09-18 12:12] MyAlien commented on #2165
In ModSecurity you have no possibility to alert by email of an attack?

without using exec

[2019-09-18 12:12] jayanth-ganganahalli commented on #1851
Hi @zimmerle
Thanks for your quick reply.
Can I know what changes I should do in order to compile v3.0.3 source code?

[2019-09-18 12:12] MyAlien commented on #2165
Remove /
I still have an error.
`SecRule &TX:'/WEB_ATTACK/' "@ge 1" "t:none,exec:/opt/send-email-modsecurity.sh"`

[2019-09-18 12:13] MyAlien commented on #2165
`
-- L'unité (unit) nginx.service a commencé à démarrer.
sept. 18 14:11:21 www nginx[19407]: nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /etc/nginx/modsec/owasp-modsecurity-crs/rules/RESPONSE-980-CORRELATION.conf. Line: 35. Column: 37. exec: Lua support was not en
sept. 18 14:11:21 www nginx[19407]: nginx: configuration file /etc/nginx/nginx.conf test failed
sept. 18 14:11

[2019-09-18 12:16] zimmerle commented on #2146
@airween I always mention to you the importance of having clear test cases without too much unnecessary noise. In this example you have a rule marked as **chain**, but **without** a chained rule:

[code]

That may or may not affect the behavior of the test that you want to demonstrate. Please remove all unnecessary metadata and actions to make it clear to read.

Regardless, by reading you guys con

[2019-09-18 12:23] zimmerle commented on #1851
Don't know all of them by heart, but there is some platform dependent code already here:
https://github.com/SpiderLabs/ModSecurity/blob/d5b93c1013ca9c9a96c75369576b54832e9a2b48/src/utils/system.cc#L126-L131

Windows build was considered from the initial development process, so it was somewhat compartmentalized to allow an easy change whenever we manage to step forward on that direction. You are mo

[2019-09-18 12:25] airween commented on #2146
@zimmerle, you're right, sorry - I just realized that there where more not need lines in the original test (for chain action), and removed them to make cleaner test :).

Here is a more simple:
https://gist.github.com/airween/8deacdbe5fbea76642c61b2e3c710c1e

I think the bug also exists in v3, but please check the test.

[2019-09-18 12:26] sbind29893 opened #2166 "Configure Modsecurity in Apache2.4 Windows server"
I want to Configure Modsecurity on Apache2.4 windows sever.
I want to prevent SQLinjection & XSS attacks at server level.

[2019-09-18 12:31] zimmerle commented on #2166
Hi @sbind29893,

Do you have ModSecurity installed already?

[2019-09-18 12:35] zimmerle opened #2167 "Having exec working with scripts other than lua"
Version 3 supports the **exec** action, but it is only supporting Lua script.

As per the manual state, the exec action should also support other kinds of scripts or elfs.

The manual entry that describes the exec action: [ModSecurity Reference Manual#exec](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#exec)

Here we can find the current code for the exec action on v3

[2019-09-18 12:38] zimmerle commented on #2165
Hi @MyAlien,

I've just identified that version 3 is only supporting the execution of Lua script on the exec action.
I have created issue #2167 to track the progress of the implementation for that missing feature.

In the meanwhile, I suggest you go over the possibility to inspect the log files.

[2019-09-18 12:42] zimmerle commented on #2167
Reference to v2 code -
https://github.com/SpiderLabs/ModSecurity/blob/176276a931a6d61db38b908237c9aad1cea0d6ad/apache2/re_actions.c#L2219-L2244

[2019-09-18 12:43] MyAlien commented on #2165
OK thanks .

If I understand correctly: impossible to send a mail that there was a detected attack?
Even in Lua it is not possible?

[2019-09-18 12:47] zimmerle commented on #2165
The **exec** action should support the execution of _Lua_ scripts without further problem.

[2019-09-18 13:09] MyAlien commented on #2165
OK
Using Script Lua and restart nginx give error : Lua support was not enabled .

Is there anything installed?

[2019-09-18 13:11] airween commented on #2136
Hi @zimmerle, thanks for the detailed answer.

Now there is only one rule, which blocks this request - the mentioned 930120 in CRS. The reason as we know that the list in *lfi-os-files.data* file contains the ".profile" pattern. This rule checks not just the JSON request, but all of them. I'm not sure that we can extend the existing patterns with a `^`, because there are many other possible way to

[2019-09-18 13:19] zimmerle commented on #2165
Lua is an optional dependency for ModSecurity. It is enable/disable in compilation time. You need to re-compile your ModSecurity, making sure that you have the Lua devel package installed. By the end of _./configure_ you should see something like:

[code]

Notice the Lua entry.

[2019-09-18 13:29] zimmerle commented on #2136
That discussion is better to take place at the CRS community on the CRS GitHub project.

As mentioned earlier I don't think **.profile** by itself represents a **lfi** nor a **threat**. Very common to find websites with key as such: **user.profile equals something**. If that was up to me, I would review what is considered to be a lfi, possible by splitting this rule in more than one. But, I don't

[2019-09-18 14:10] MyAlien commented on #2165
How to install the Lua Module?

[2019-09-18 14:11] MyAlien commented on #2165
`adding module in /opt/lua-nginx-module
checking for LuaJIT library in /opt/luajit/lib and /opt/luajit/include/luajit-2.1 (specified by the LUAJIT_LIB and LUAJIT_INC env, with -ldl) ... not found
checking for LuaJIT library in /opt/luajit/lib and /opt/luajit/include/luajit-2.1 (specified by the LUAJIT_LIB and LUAJIT_INC env) ... not found
        ./configure: error: ngx_http_lua_module requires th

[2019-09-18 14:12] MyAlien commented on #2165
checking for LuaJIT library in /opt/luajit/lib and /opt/luajit/include/luajit-2.1 (specified by the LUAJIT_LIB and LUAJIT_INC env, with -ldl) ... not found
checking for LuaJIT library in /opt/luajit/lib and /opt/luajit/include/luajit-2.1 (specified by the LUAJIT_LIB and LUAJIT_INC env) ... not found
        ./configure: error: ngx_http_lua_module requires the Lua or LuaJIT library and LUAJIT_LIB i

[2019-09-18 14:16] airween commented on #2165
You have to install the Lua development files (or package), eg:

[code]

[2019-09-18 14:31] MyAlien commented on #2165
Ok thx

I can not find the modules ?

`-- L'unité (unit) nginx.service a commencé à démarrer.
sept. 18 16:28:24 www nginx[8287]: nginx: [emerg] dlopen() "/usr/share/nginx/modules/ngx_http_lua_module.so" failed (/usr/share/nginx/modules/ngx_http_lua_module
sept. 18 16:28:24 www nginx[8287]: nginx: configuration file /etc/nginx/nginx.conf test failed
sept. 18 16:28:24 www systemd[1]: nginx.service:

[2019-09-18 14:32] MyAlien commented on #2165
root@www:/opt/nginx-1.15.8# ./configure --add-module=/usr/share/nginx/modules
Not completed

[2019-09-19 05:03] Elavarasan83 commented on #2163
Hi @zimmerle
Thanks for the response.
If we remain in 2.9.x then do we miss any critical security fixes or memory leak fixes?

[2019-09-19 11:52] zimmerle commented on #2163
It is safe to remain in 2.9 for Apache. This is still under maintenance.

[2019-09-19 12:21] zimmerle commented on #2165
Is ```/usr/share/nginx/modules/ngx_http_lua_module.so```  exists?

[2019-09-19 13:13] zimmerle commented on #2142
Certificate renewed.

[2019-09-19 13:13] #2142 closed, assigned to victorhora, afoxdavidi

[2019-09-19 13:15] zimmerle commented on #2136
As stated here: https://github.com/SpiderLabs/ModSecurity/issues/2136#issuecomment-532305044 closing this issue.

[2019-09-19 13:15] #2136 closed, assigned to zimmerle

[2019-09-19 13:16] zimmerle commented on #2156
@khushbuparakh ?

[2019-09-19 20:26] MyAlien commented on #2165
No

`root@www:~# ls /usr/share/nginx/modules/
ngx_http_auth_pam_module.so  ngx_http_geoip_module.so         ngx_http_subs_filter_module.so    ngx_mail_module.so
ngx_http_dav_ext_module.so   ngx_http_image_filter_module.so  ngx_http_upstream_fair_module.so  ngx_stream_module.so
ngx_http_echo_module.so      ngx_http_modsecurity_module.so   ngx_http_xslt_filter_module.so
root@www:~#`

[2019-09-20 06:25] airween commented on #2165
Then you have to install it:
[code]
(on Debian/Ubuntu systems)

[2019-09-20 14:45] ZerooCool commented on #2139
I check with :
sudo dpkg -l |grep libapr1-dev

I have this version !
 ii  libapr1-dev                        1.6.5-1+b1                   amd64        Apache Portable Runtime Library - Development Headers

Then, what can i do ?
[:notice] [pid 24716] ModSecurity: APR compiled version="1.6.3"; loaded version="1.6.5"
[:warn] [pid 24716] ModSecurity: Loaded APR do not match with compiled!

I need down

[2019-09-20 16:42] MyAlien commented on #2165
Thx

`root@www:~# ls /usr/share/nginx/modules/
ndk_http_module.so           ngx_http_echo_module.so          ngx_http_lua_module.so          ngx_http_upstream_fair_module.so  ngx_stream_module.so
ngx_http_auth_pam_module.so  ngx_http_geoip_module.so         ngx_http_modsecurity_module.so  ngx_http_xslt_filter_module.so
ngx_http_dav_ext_module.so   ngx_http_image_filter_module.so  ngx_http_subs_fil

[2019-09-20 19:37] airween commented on #2165
Do you have a Debian system?

Please share with us this output:
[code]
You have to see something like this:
[code]
Also copy here this output:
[code]

Please put the outputs between 3 ` character, like this: ``` to format the output.

**Edit**: note, that [here](https://github.com/openresty/set-misc-nginx-module/issues/34) is the similar problem, and I think the solution was the order of modules -

[2019-09-20 20:03] airween commented on #2139
Show these output please:
[code]
and
[code]

[2019-09-21 16:48] mmelo-yottaa commented on #2136
Hi Felipe!

To me, the most fundamental issue here is the WAF is not applying rule match criteria to HTTP request/response URIs, headers, and payloads as they arrived at the WAF.  In my experience, rules are configured with match criteria based on how suspect HTTP traffic arrives at the WAF and dont take into account that the WAF might alter traffic before applying match criteria.

[2019-09-24 14:45] AMa78 commented on #1928
This is an ongoing issue.

We have an ip.pag file that grows to over 1.6gb, with ~800k of non-sparse data, at which point Apache workers start getting stuck on 'L'ogging tasks, producing a slowdown that at one point threatened the hosting server.

Removing the file just has it repopulate to a size that slows the system in 15mins or less.

The RAM disk solution is both temporary and inadequate: the

[2019-09-25 08:45] cano-devel opened #2168 "Trying to catch the log event when there aren't disruptive actions"
**Describe the bug**

I'm integrating libmodsecurity (3.0.3) in an HTTP proxy. I'm using the Cpp API.
I don't detect any log event when a SecRule matches and the action is not disruptive.
Reading the library documentation, I understand that the 'intervention' object is which returns the log event:
"
intervention
Check if ModSecurity has anything to ask to the server. Intervention can generate a lo

[2019-09-25 12:50] LMSBrubaker opened #2169 "pcre limit failure ( already set to 500000) on simple png file"
**Describe the bug**

we have many audit log entries of pcre limit erros for png pictures with a huge referer from doubleclick

**Logs and dumps**

Output of: audit_log
--e097961d-A--
[25/Sep/2019:14:21:00 +0200] XYtbrF6VruoaIc5w1XbecAAAAAM 11.11.11.11 58870 10.0.0.10 443
--e097961d-B--
GET /banner/zzzz/zzzz.png HTTP/2.0
Referer: https://www.zzzzz.at/banner/zzzzzz/index.html?clicktag=https://adcli

[2019-09-25 13:23] zimmerle commented on #2136
Hi @mmelo-yottaa,

The WAF is not altering the content, rather it is organizing in a fashion that is suitable to be placed inside a collection. Notice the variable name used above. It is not RAW data, it is not the collection value. It is a direct reference to a **collection name**, which is organized upon the criteria adopted by the engine. It is this way since the first version of the JSON parse

[2019-09-25 13:28] zimmerle commented on #1928
Hi @AMa78,

The .pag files holds data for persistent collections. If you have created very large collections, is very likely that you are going to have very large collections. What are the rules that you are using to create such collections?

[2019-09-25 13:32] zimmerle commented on #2168
Hi @alvarocano-zevenet,

That is indeed the correct behavior. The logging is only generated when there is an intervention. A rule match does not necessarily mean that a log should be generated. It could only increment a variable, for instance... What are you trying to achieve?

[2019-09-25 14:10] cano-devel commented on #2168
Hi @zimmerle,

The idea is to get rules that only logging when a rule matches. In fact, configuring de SecRuleEngine=DetectionOnly I haven't got the log intervention.

I miss an option to log and no disrupt the connection.

Thanks for your response

[2019-09-25 14:17] zimmerle commented on #2168
If you want to get logging for every match, you are going to do a few hacks on the library, as it wasn' t meant to be used that way. The question is: why you need to do that?

[2019-09-25 14:52] cano-devel commented on #2168
I think it is a way of disabling the WAF and take metrics about the impact that it could have. Else I don't understand the use of the 'log/nolog' actions and the 'SecRuleEngine=DetectionOnly' directive.

[2019-09-25 17:29] zimmerle commented on #2168
In that case you should rely on the DetectionOnly mode and use regular logging callback functions.

[2019-09-25 18:44] martinhsv commented on #2169
Hi @LMSBrubaker

Your Referer header is indeed regex-intensive when run against that particular CRS rule.

With that header I was able to reproduce the 'PCRE limits exceeded' outcome when using the default configuration.  However, it went away when I increased SecPcreMatchLimit and SecPcreMatchLimitRecursion in the modsecurity.conf file.

You mention having set those higher limits in apache.conf.

[2019-09-26 10:55] ledzepp4eva opened #2170 "POST requests of a certain size are returning a 413 instead of a 403"
**Describe the bug**

POST requests of a certain size are returning a 413 instead of a 403

**Logs and dumps**

Output of:
debug_log is 160MB in size. If you would like it please let me know
error_log
[code]
**To Reproduce**

Steps to reproduce the behavior:
Working:
[code]
Broken:
[code]
I've just filled test.txt with the word test over and over again and to force a 403 added `../../../` to the t

[2019-09-26 11:23] ledzepp4eva commented on #2170
Just gone some trial and error and found at what size this triggers:
403:
[code]
413:
[code]

[2019-09-26 11:37] ledzepp4eva commented on #2170
Full curl
[code]

[2019-09-26 12:24] airween commented on #2156
@zimmerle what do you think about the PR #2171?

[2019-09-26 20:17] martinhsv commented on #2170
Hi @ledzepp4eva

nginx has its own upload limit.  In nginx.conf, you may want to try configuring within the 'http {' block:
client_max_body_size 10M;

[2019-09-27 06:08] ledzepp4eva commented on #2170
Hi @martinhsv
I already have this set to 64M on the server.

Below is the nginx configuration:
[code]

The contents of /etc/nginx/modsec/1_moncur.me.uk_0.conf is:
[code]

Also when I whitelist the rule I can  upload fine and don't get a 413. I only get a 413 when Modsecurity blocks the request. But I believe it should be getting a 403 instead.

[2019-09-27 07:22] LMSBrubaker commented on #2169
yes, i have that in my httpd.conf, but the pcre limit dont go away:

[code]

i also looked at ther server-info site there is also the limit set:
In file: /etc/httpd/conf.modules.d/50-mod_security.conf

[code]

can i debug the limit anywhere else? in the running process?

[2019-09-27 10:14] cano-devel commented on #2168
Hi @zimmerlezen

I did some tests regarding the log issue and I got this [table](https://docs.google.com/spreadsheets/d/1AjX1MSBUNEcuGsGDSICos6EwtxAleDfVKsSAqq1mKL4/edit?usp=sharing)

The "print log" column shows when libmodsecurtiy is using the event intervention or the callback function to print in the log.

Looking at the table I get the following notes:

- The "log" action SecRule parameter lo

[2019-09-27 12:09] nflorian commented on #2052
@victorhora You have mentioned about a "workaround", but could you also mention where is it available? Thanks

[2019-09-27 13:02] taladar opened #2172 "Confusing behaviour with variable remote_addr (behaviour depends on mod_remoteip being loaded)"
We are using mod_rpaf to populate useragent_ip (the C source variable in the request record) among other things that mod_remoteip completely ignores (HTTPS, Port,...).

We have been using this setup for years and it works for all other Apache modules, log files, access control,...

Now we are trying to implement WAF using mod_security2 (initially on Debian stretch but later also on other versions

[2019-09-27 13:27] ccsalway opened #2173 "SQL Injection Attack - encoding issue"
I have modsecurity/2.9.3 running on apache/2.4.39 in front of gitlab/12.3.1.

When I try to set the admin password, I get an SQL Injection Attack, which doesn't make any sense.

[code]

From the file modsecurity_crs_41_sql_injection_attacks.conf, the rule looks like the following:

[code]

You will notice the regex shows ```(^[\"'`´’‘;]+|[\"'`´’‘;]+$)``` not ```(^[\"'`\xc2\xb4\xe2\x80\x99\xe2\x80\

[2019-09-27 14:46] ccsalway commented on #2173
Here's another one...

`Restricted SQL Character Anomaly Detection Alert - Total # of special characters exceeded`

There is only 1 special character but an allowance of {4,}

[code]

From the file modsecurity_crs_41_sql_injection_attacks.conf, the rule looks like the following:

[code]

Running the content through a URL decoder gives

`utf8=✓&_method=put&authenticity_token=ObaQ+OQro6VYSYPV4O7Ol8M

[2019-09-27 19:46] martinhsv commented on #2170
Hi @ledzepp4eva

Because you have your client_max_body_size within the 'location /' block, you might be encountering a situation where that setting is not in effect for the full duration of the transaction.  I wonder if you need to move your setting of client_max_body_size so that it is not within a 'location' block.  E.g.

location / {
  ...
  }
   client_max_body_size 64m;
}

If that doesn't hel

[2019-09-27 20:31] AMa78 commented on #1928
We have a collection of about 500 rules from public sources.  There's no
way to tell which of these is populating the persistent collection?  Or
which are the worst offenders for over-doing it?

Thanks,
Ashley Majzels,
Client Care Services

Terracor Business Solutions
204.477.5342 ext. 126
164 Marion St. | R2H 0T4
Winnipeg | Manitoba | Canada

<ashley.majzels@terracor.ca>  <http://www.terracor.ca/

[2019-09-30 06:53] ledzepp4eva commented on #2170
Hi @martinhsv,
Thank you for your response. That was the issue. I can move the setting for now. We don't support it on a per location block anyway, so it's not an issue.

Do you think this is worthy of a bug report that I understand the issue? Or would this be expected behaviour for ModSecurity?

Thanks for your time.
Liam

[2019-09-30 07:22] airween commented on #2170
@martinhsv:

I think if a request reaches any PHP limit, then the used webserver doesn't send the 413 response.

@ledzepp4eva:

Could you try that you turn off your engine (disable full ModSecurity module, or modify your `SecRuleEngine` variable from `on` to `off` or `detectonly`)? What happens?

[2019-09-30 07:26] ledzepp4eva commented on #2170
@airween Thanks, but We've already gotten to the bottom of the issue. https://github.com/SpiderLabs/ModSecurity/issues/2170#issuecomment-536427574

ModSecurity isn't picking up the client_max_body_size defined in `location {}` as modsecurity is enabled at `server {}`

[2019-09-30 13:09] martinhsv commented on #2170
Hi @ledzepp4eva

You're welcome.

It's definitely not a ModSecurity bug.

If you want to inquire further, you could consider doing so in an nginx venue.  However, I'm pretty sure that even from that perspective it will be seen as expected behaviour.  While I'm not an nginx config expert, I believe the basic flow of what was happening was:
1) Initially, the block 'location / {' was in effect -- and

[2019-09-30 13:09] #2170 closed, assigned to nobody

[2019-09-30 17:40] zimmerle commented on #1928
The SecRule is some-what-similar to a scripting language. The external resources need to be blocked, otherwise, the users will create temporariry files or collections without concerns about the computational resources available.

[2019-09-30 17:43] zimmerle commented on #2156
The comments about #2171 are on #2171.

[2019-09-30 18:02] zimmerle commented on #2173
Hi @ccsalway,

You may want to open that issue on the CRS project -
https://github.com/SpiderLabs/owasp-modsecurity-crs

[2019-09-30 18:02] #2173 closed, assigned to nobody

[2019-09-30 19:39] DHager commented on #1980
Thanks for this, just encountered the problem in the wild and was afraid I'd have to teach myself more C to properly fix it :)

[2019-09-30 20:31] martinhsv commented on #2169
Hi @LMSBrubaker

Do you have a file called mod_security.conf ?

If you did a standard install from CentOS7 repo it may be within the directory /etc/httpd/conf.d/

[2019-09-30 21:04] LMSBrubaker commented on #2169
the config is loaded. i can see the values with the apache server-info page.
but they seem to be uneffecitve :/

can i debug the limit anywhere else? in the running process?

[2019-10-01 19:26] thorstenkampe opened #2174 "Parsing of directives with blanks leads to error"
**Describe the bug**
Multiple directives in ModSecurity's configuration file lead to a generic error when there is more than one blank between key and value.

**To Reproduce**
Put `SecAuditLog /var/log/modsec_audit.log` into ModSecurity's configuration file
[code]
Now add one more space between `SecAuditLog` and the value:
[code]

**Expected behavior**

I expect no error because putting multiple s

[2019-10-01 23:36] martinhsv commented on #2169
Hi @LMSBrubaker

One suggestion:  Within your httpd.conf, move the SecPcre* directives so that they are prior to where the CRS conf files get included.  E.g.:

[code]

[2019-10-02 00:03] gmctl opened #2175 "Json log messages not received the dos-attack rule msg"
**Describe the bug**

JSON log messages not received the dos-attack rule msg;
the log of modsec_audit work well except for the log of `dos-attack` that it can intercept but not code the 912-dos-attack to log-messages.

A clear and concise description of what the bug is.

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)

 2. AuditLogs

- modsec_audit.log
[code]

 3. Error logs

- nginx/error.

[2019-10-02 00:07] gmctl commented on #2175
Is the matter `phaser:1` log will not produced in JSON format Log.

[2019-10-02 00:19] gmctl commented on #2175
- modsec_audit.log

[code]

[2019-10-02 08:07] hcomnetworkers opened #2176 "Docker build for httpd-alpine"
I'm a bit lost on creating a httpd-alpine container with modsecurity and all the internet is only full of nginx variants.

I have this Dockerfile:
[code]

It builds successfully. And with a `LoadModule security3_module modules/mod_security3.so` the apache configtest says the syntax is OK and when I start apache it at least looks happy:

[2019-10-02 07:49:06.132048] [notice] [pid 12] src/mod_securi

[2019-10-02 10:24] zimmerle commented on #2176
Hi @hcomnetworkers

There are two versions families of ModSecurity that are currently being supported: 2.x and 3.x. It is recommended for Apache users to stay in 2.x until we manage to have a stable release for the Apache connector. For Nginx, the recommendation is to use the 3.x family.

It seems like you are compiling the libModSecurity, rather than install a binary package. Once you have instal

[2019-10-02 10:24] #2176 closed, assigned to nobody

[2019-10-02 15:43] airween commented on #2156
What do you think about this solution?
[code]
and we can forgot the `static_cast<char>()`.

My idea is that the `std::string` is type of `std::basic_string<char>`, and the [`char`](https://en.cppreference.com/w/cpp/language/types#Character_types) could be `signed` or `unsigned`. We can check this with the condition.

[2019-10-03 13:40] martinhsv commented on #2175
Hello @gmctl

If I've understood you correctly, you're asking why CRS rule 912130 does not result in ModSecurity audit log output.  The short answer is that the rule specifically has 'nolog' as one of its actions.  Note also the comment before the rule:  'Block and track # of requests but don't log'.  If you read the comments at the top of the file there's also a note about the reason ('to prevent

[2019-10-03 13:40] #2175 closed, assigned to nobody

[2019-10-03 15:55] defanator opened #2178 "Regression tests from issue-1844.json are failing with segfault on FreeBSD"
**Describe the bug**

Six regression tests from https://github.com/SpiderLabs/ModSecurity/blob/v3/master/test/test-cases/regression/issue-1844.json are segfaulting on FreeBSD 11, FreeBSD 12.

**Logs and dumps**

Backtrace from regression_tests:

[code]

**To Reproduce**

Build libmodsecurity, run `gmake check-TESTS` or `gmake test/test-cases/regression/issue-1844.json.log`.

**Expected behavior**

[2019-10-03 16:23] defanator commented on #2178
Reverting this commit fixes `issue-1844.json` tests: https://github.com/SpiderLabs/ModSecurity/commit/beedddd6c66df0e08c1408547345b2ed5b26c1bb

[2019-10-03 17:26] defanator commented on #2178
For the record, the proposed patch fixes the issue for me on FreeBSD 11, FreeBSD 12, MacOS (10.14.6).

On MacOS I have clang as a compiler (FreeBSD also has clang as a default):

[code]

(I'm wondering why a lot of platforms with gcc did not catch this...)

[2019-10-04 10:45] sn0rcha opened #2180 "Ubuntu 18.04 - Nginx crashing"
Hey Guys,

I just did a fresh install of Ubuntu 18.04 and Nginx 1.17.4 and ModSecurity. Whenever I activate any rules (OWASP set for example), Nginx crashes every request with the following error:

[code]

Anyone have any ideas?

[2019-10-04 13:48] zimmerle commented on #2178
Thank you for the report @defanator. Going to investigate.

[2019-10-04 17:17] bartoszx commented on #2180
Hi. I've got same problem.
I thought I messed something with my Dockerfile but every build with any version of nginx cause the same error.

[2019-10-04 18:31] martinhsv commented on #2180
I have been able to reproduce this as well.  However, it does not occur with all rulesets.

For example, I was not able to reproduce this with a slightly older version (~four weeks ago) of CRS3 -- which means that using an older version of CRS3 may be used as a near-term mitigation of this issue.

[2019-10-04 20:37] zimmerle commented on #2178
Under test here - 97a6d00a5d44abeea5dc2549285d6468b94c9126 -- https://travis-ci.org/SpiderLabs/ModSecurity/builds/593726236

[2019-10-04 22:04] sn0rcha commented on #2180
Any chance you can provide the link to that ruleset so we don't have to try all the old ones :)

[2019-10-05 10:24] Rondore commented on #2180
I'm seeing this same issue on Ubuntu 16.04 with nginx 1.16.1 and OWASP rules. I rolled back the latest commit (beedddd) by running `git reset --hard d5b93c1013ca9c9a96c75369576b54832e9a2b48` and now I'm not getting the error anymore.

[2019-10-05 10:39] ei-ke commented on #2180
I can confirm this for the latest commit to v3/master of ModSec with the current OWASP CRS and the ModSec nginx connector. Using ModSec v3.0.3 doesn't produce that error.

System:
[code]
nginx
[code]
[code]
PS: `dlopen() "/etc/nginx/modules/ngx_http_modsecurity_module.so" failed (libmodsecurity.so.3: cannot open shared object file: No such file or directory)` can be ignored, I was updating the mod

[2019-10-05 17:11] airween commented on #2180
Could you try to reproduce this issue with [this](https://github.com/SpiderLabs/ModSecurity/pull/2179) fix?

[2019-10-05 21:06] gmctl commented on #2175
@martinhsv  yes, thank you!

[2019-10-06 16:56] bartoszx commented on #2180
I cant reproduce this issue with above fix.
It is working ok right now.

[2019-10-06 18:17] ei-ke commented on #2180
@airween I can confirm that #2179 solves this problem. Thank you!

[2019-10-06 18:22] airween commented on #2180
You don't need to say thanks for me :), the author of patch is @defanator.

And hope that these information helps to developers.

[2019-10-06 18:24] ei-ke commented on #2180
@airween whoops, then thanks to @defanator :)

[2019-10-07 11:38] #2178 closed, assigned to zimmerle

[2019-10-07 11:40] zimmerle commented on #2180
Duplicate of: #2178; Fixed by @defanator at: #2179

[2019-10-07 11:40] #2180 closed, assigned to zimmerle

[2019-10-07 13:15] martinhsv commented on #2169
I'll assume that my previous suggestion resolved the issue.  As a general note:  setting of SecPcre* limits has to occur before the regex rules that the modified limits are intended to apply to.

[2019-10-07 13:15] #2169 closed, assigned to martinhsv

[2019-10-07 13:30] LMSBrubaker commented on #2169
yes, sorry, Moving the SecPcreMatchLimit above the includes really helps!

thx

[2019-10-09 11:02] Elavarasan83 opened #2181 "Modsecurity v2.9.3 causes handle leak in Apache httpd"
Handle count is increasing in Apache httpd.
The behavior is seen with the environment:
_OS: Windows 10 x64
Modsecurity: v2.9.3
Apache:  v2.4.38 (or) v2.4.41_

Upon using the process explorer, I found that 'NT AUTHORITY\SYSTEM:3e7'  handle is frequently allotted and not released.
![image](https://user-images.githubusercontent.com/11024702/66475596-4dfc4480-eab1-11e9-883b-247339ba8932.png)

[2019-10-10 15:34] ZerooCool commented on #2139
[code]

[code]

[2019-10-10 15:47] airween commented on #2139
Right, now try:

[code]

What do you get?

[2019-10-10 15:55] ZerooCool commented on #2139
[code]

Not found.

[2019-10-10 16:10] zimmerle commented on #2181
Hi @Elavarasan83,

Can you give further details on the loaded rules? what if the rules are not loaded? do we still have the leak?

[2019-10-10 18:38] airween commented on #2139
Ah, looks like you've found a bug in the Debian package - I'll consult with maintainer of package.

Anyway, I think you can use the package, that's not a critical issue.

[2019-10-10 23:39] ZerooCool commented on #2139
You say, it's not a critical issue,
This :
"Loaded APR do not match with compiled" ?

If you have more info, with maintainer of package, i'm waiting for more info ;)

Thank you for your time.

[2019-10-11 03:57] xx-zhang commented on #2175
@majordaw i have found that the `dos-attack` log will produced if i don't set `SecAuditLogFormat JSON`;  but i think there is many difference with JSON and ABFH log. what's the best way to set, can you give some advice.

[2019-10-11 05:39] Elavarasan83 commented on #2181
Hi @zimmerle

Thanks for the response.
If rules are not loaded then there is no leak.
The moment Apache server receives the request from the client then 'NT AUTHORITY\SYSTEM:3e7' handle leak kicks off.
Here is the rule configuration section in httpd.conf
_`<IfModule security2_module>`
	Include /Apache/conf/crs/crs-setup.conf
	Include /Apache/conf/crs/rules/*.conf
        SecRuleRemoveById 920350
`

[2019-10-14 10:05] zimmerle commented on #2139
APR version mismatch could lead to undefined behavior, such as file handle leak, memory leak, crashes and so on. I definitely do not recommend the utilization on a production environment.

[2019-10-14 10:09] ZerooCool commented on #2139
As a result, I'd better uninstall mod_security and do without it.

[2019-10-15 13:03] prince-java opened #2182 "How to use modsecparser and mlogc?"
Recently I found out that the modsecparser can writes audit logs into a Postgres database,the mlogc can send audit logs to a central repository,but I can't find how to install them,I just found some configuration messages on https://github.com/Ixolit/modsecparser or https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29

[2019-10-15 13:09] zimmerle commented on #2182
Hi @prince-java,

The modsecparser is an independent project maintained by @terrorobe.

The mlogc is distributed altogether with ModSecurity version 2.

Whait is the verision of your ModSecurity?

[2019-10-15 13:14] prince-java commented on #2182
The verision of my ModSecurity is 2.9.3.
I find out there is a folder named "mlogc" in the tar file,but I don't know how to install、use or configuration.

[2019-10-15 13:16] prince-java commented on #2182
@zimmerle
Thank you for response!
The verision of my ModSecurity is 2.9.3.
I find out there is a folder named "mlogc" in the tar file,but I don't know how to install、use or configuration.

[2019-10-15 13:22] zimmerle commented on #2182
Mlogc will be built upon the compilation of ModSec. Proceed with the regular compilation and the binary will be generated in that folder.

[2019-10-15 13:31] prince-java commented on #2182
My ModSecurity has been installed.After that,there is a file named 'mlogc' in /usr/local/modsecurity/bin.
I just don't how to use it, add mlogc-default.conf in /usr/local/modsecurity-2.9.3/mlogc into httpd.conf?

[2019-10-15 14:01] prince-java commented on #2182
SecAuditLog "|/usr/local/modsecurity/bin/mlogc /usr/local/modsecurity-2.9.3/mlogc/mlogc-default.conf",like this?

[2019-10-15 18:23] zimmerle commented on #2182
There are some information here -
https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#secauditlog

[2019-10-15 18:23] #2182 closed, assigned to nobody

[2019-10-16 08:56] Nithinbs18 opened #2183 ".eml files blocked"
Hello team,

I have ModSecurity setup with Nginx and all the incoming .eml files to the container are being blocked by ModSec can you please let me know a workaround of the rule responsible for blocking this.
Thank you very much in advance.
BR,
Nithin

[2019-10-16 13:11] airween commented on #2183
Did you checked your debug and audit logs? What did you see there?

[2019-10-16 13:13] zimmerle commented on #2000
Merged at: d4dc3dbf2a647942b9b315a413a99cacae90a484

[2019-10-16 13:13] #2000 closed, assigned to zimmerle, victorhora

[2019-10-16 13:32] zimmerle commented on #2100
Hi @tech-ozon-io,

Did [SecUnicodeCodePage](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecUnicodeCodePage) worked for you?

If not, please re-open.

[2019-10-16 13:32] #2100 closed, assigned to victorhora

[2019-10-16 14:00] #1951 closed, assigned to zimmerle, victorhora

[2019-10-16 15:11] majordaw commented on #2175
Hi @xx-zhang,

I haven't played with `SecAuditLogFormat` option yet. I guess you wanted to ask @martinhsv. ;)

[2019-10-16 17:21] zimmerle commented on #2183
Hi @Nithinbs18,

It is very likely that the issue that you are facing is not related to ModSecurity itself, but to the rules that you have loaded. With further details on the reason why it got blocked, we can address the issue better.

Please re-open if needed.

[2019-10-16 17:21] #2183 closed, assigned to zimmerle

[2019-10-17 14:22] soufianebenali opened #2184 "Make ModSecurity CRS repositories easier to manage"
As discussed by @csanders-git and @bittner on Slack, and related to #1346 and #1420, we're proposing to simplify the repository structure and branching model of all repositories related to ModSecurity CRS.

1. [SpiderLabs/owasp-modsecurity-crs](https://github.com/SpiderLabs/owasp-modsecurity-crs)
2. [CRS-support/modsecurity-docker](https://github.com/CRS-support/modsecurity-docker)
3. [CRS-support

[2019-10-17 15:05] airween commented on #2184
Maybe this issue should be sent to [SpiderLabs/owasp-modsecurity-crs](https://github.com/SpiderLabs/owasp-modsecurity-crs/issues) rather than here?

[2019-10-17 15:12] soufianebenali commented on #2184
Moved the issue to https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1600.

[2019-10-17 15:12] #2184 closed, assigned to nobody

[2019-10-17 17:37] sergiospa opened #2185 "JSON output"
Hello,
I just wanted to check if there's any plan to make it easy to get JSON logs from ModSecurity. I've googled this and it seems like this is not an out of the box feature. I mean, there's no ModSecurity package yet you can just download and install to get JSON logs.
The only way, for now, seems to be compiling your own package.

This would be an awesome feature.
Best regards,
Sergio.

[2019-10-17 18:29] zimmerle commented on #2185
Hi @sergiospa,

ModSecurity is natively capable to generate the Audit logs into a JSON format.  However, it depends to be compiled with such support. What is the version of ModSecurity that you have running? is it a distro package or did you have it compiled by your self?

[2019-10-17 18:57] sergiospa commented on #2185
Hi @zimmerle ,
Thanks for your quick response.
By following this tutorial: https://malware.expert/tutorial/install-modsecurity-with-apache-on-ubuntu-16-04-lts/ , I installed ModSecurity for Apache 2.9.3 in Ubuntu 19.04. However I'm not sure if the ModSecurity version is the same, I didn't know how to check it. Maybe these logs help:
[code]

I was not able to get JSON logs with that installation. T

[2019-10-18 16:32] AndreMTrindade opened #2186 "Cannot load local GeoIPDB"
Hey guys.

I am trying to integrate modsecurity 3 with geoIP support and i want to use a local database, like i used with modsecurity 2.9, downloaded from maxmind. With modsec v3 i couldn't load the database.

Output from nginx -t comamnd:
Error reading file ???????????????/GeoIP.dat
nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: ????????/setup.conf. Line: 406. Column: 83. Fa

[2019-10-21 09:56] zimmerle commented on #2186
Hi @AndreMTrindade,

As of ModSecurity version 3, the maxmind package was made optional. It is very likely that your ModSecurity was compiled without such support. Did you have manually compiled it?

[2019-10-21 12:01] AndreMTrindade commented on #2186
Hey  @zimmerle,
Thank you very much for your response. Yes, i compiled manually and based on "./configure" output i think the GeoIP support is enable.
![temp](https://user-images.githubusercontent.com/33842216/67203093-26d33a80-f402-11e9-9a12-2145ec6b5fbc.png)

I downloaded GeoIp db from: https://geolite.maxmind.com/download/geoip/database/GeoLite2-Country.tar.gz and i use SecGeoLookupDb to import

[2019-10-21 12:52] zimmerle commented on #2186
Right, it seems that ModSecurity was compiled to use GeoIP (version 1) and the database is MaxMind (version 2). In that case, you can compile ModSecurity to support MaxMind, by installing the geoip2 dev packages on your distro. Or download the GeoIP database in the v1 format.

[2019-10-21 12:52] #2186 closed, assigned to zimmerle

[2019-10-21 19:49] gmariani commented on #589
Still getting this error. Using ModSec 2.9.3 on CentOS 7.7.

SecRequestBodyLimit 134217728
SecRequestBodyLimitAction ProcessPartial
SecResponseBodyLimitAction ProcessPartial

Someone tries to upload a 200mb+ file and i get this:
ModSecurity: Request body (Content-Length) is larger than the configured limit (134217728).
ModSecurity: Request body (Content-Length) is larger than the configured limit

[2019-10-21 20:25] zimmerle commented on #589
@gmariani those limits are also set on the webserver. please double check if that is not the case by disabling temporarily ModSecurity.

[2019-10-22 15:49] jofisiva opened #2187 "JSON request body contains =calc|a!z value mod security doesn't capture"
**Describe the bug**
The JSON request body contains calculator function
{
  "name": "=calc|a!z"
}

<IfModule security2_module>
  Include modsecurity-crs/crs-config.conf
   Include modsecurity-crs/rules/REQUEST-901-INITIALIZATION.conf

  Include modsecurity-crs/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf
  Include modsecurity-crs/rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf
</IfModule>

SecRule

[2019-10-22 17:06] zimmerle commented on #2187
Hi @jofisiva,

Thank you for the report, however, that is more about a rule issue than an issue within ModSecurity. You may want to open an issue at CRS - https://github.com/SpiderLabs/owasp-modsecurity-crs/

[2019-10-22 17:06] #2187 closed, assigned to zimmerle

[2019-10-23 09:13] scaarup opened #2188 "Releases, new versions?"
Hi.

This is not a bug report but I don't know where else to reach out to you. So the thing is, that I am building an rpm with libmodsecurity when a new version is out.
Looking at releases, 3.0.3 was released almost a year ago. There have been many commits to the v3/master though. Now I discovered that CHANGES has been updated in v3/master, but "v3.0.4 - YYYY-MMM-DD (to be released)" maybe indicat

[2019-10-23 10:44] zimmerle commented on #2188
Hi @scaarup,

We are aiming to have a release before the end of the year. It is very likely to be v3.1.0 instead of v3.0.4. We are short on resources that is why the release is taking so long.

You can refer to the CHANGELOG file the list all changes.

[2019-10-23 10:44] #2188 closed, assigned to nobody

[2019-10-23 10:54] scaarup commented on #2188
Thanks @zimmerle ,
Do you recommend that I, throughout the year, build rpms from commits to v3/master and consider them as production ready? Or should I only go for what is actually released as releases?

[2019-10-23 11:16] zimmerle commented on #2188
The master should be safe to use. There are few issues listed here on GitHub, but I don't see it as impeditive.

[2019-10-23 16:05] gmariani commented on #589
@zimmerle Unfortunately the server is for a client (a school) so I can't toy with it too much. I also don't have credentials to the web application they were using on the server to test. But i do know that after I raised the limit from:
```SecRequestBodyLimit 134217728```
to
```SecRequestBodyLimit 524288000```
they were immediately able to upload the file without issue.

But for reference, here ar

[2019-10-25 09:21] arjunvrm opened #2192 "Mod_security IPV6 ipMatchFromFile not working as expected."
Hello,

ModSec version is 2.7.3 used with IBM HTTP server
We have a scenario.
We use configuration like below.

SecRule REMOTE_ADDR "@ipMatchFromFile /etc/opt/cpf/conf/modsecurity_whitelist" "id:250000004,phase:1,nolog,allow"
SecRule REMOTE_ADDR "@ipMatchFromFile /etc/opt/cpf/conf/modsecurity_whitelist" "id:250000005,phase:5,nolog,skipAfter:WHITELIST_NOLOG"

ISSUE:
 When we whitelist an IPv6 addre

[2019-10-25 12:39] zimmerle commented on #2192
Hi @arjunvrm,

An update is really recommended as 2.7.3 is indeed a very old version. You can check the changelog on the release page -

https://github.com/SpiderLabs/ModSecurity/releases

Apart from that, it will be very interesting to have an example of the ipadress that there are falling so that we can put it on our regression tests. Do you think you can find these?

[2019-10-28 10:18] michaelgranzow-avi commented on #1793
@zimmerle : Could you please re-add the details of the bug now that it has been fixed and a lot of time has passed?

Looking at the diff it's not immediately obvious what the problem was. A check was added to make sure we only enter a branch if a pointer is null. So it's the opposite of a normal "guard against nullptr" check. However, the pointer isn't used directly inside the 'if' branch.

It wou

[2019-10-28 15:16] khushbuparakh commented on #2156
hi! Missed the updates. thanks, @airween for fixing on time

[2019-10-28 18:37] tinselcity commented on #1793
@michaelgranzow-avi I saved a local copy.  Since they've fixed quite a while ago, I'd have to assume it's relatively safe to give the details.  It's a bit strange though, and maybe hard to exploit (off by one on the heaps are _I think?_ -I'm no expert).

Here's link: [ip tree off by one description](https://github.com/tinselcity/experiments/tree/master/modsecurity/ip_tree_bug)

[2019-10-28 18:45] tinselcity commented on #1793
We have a slightly different data structure for our IP indexing/matching, but we've added a similar test.  Just FYI -not sure if modsecurity has added a specific one for this, but it might be easy to add:
[test for ipv4 addresses ending with 0](https://github.com/VerizonDigital/waflz/blob/master/tests/whitebox/op/wb_nms.cc#L51).  Our CI/CD has [asan](https://github.com/google/sanitizers/wiki/Addre

[2019-10-28 20:43] martinhsv commented on #588
This has been recently re-confirmed in v2.9, but it's unclear whether it's worth fixing the issue in that branch.

In v3.x, ctl:ruleRemoveTargetByTag does not currently support regex matching at all.

[2019-10-29 09:59] Raviyellaram opened #2194 ""MULTIPART_STRICT_ERROR""
Hi ,

We have facing front end "Internal Server Error" 500 for one of my application url.

Below mentioned observations has been captured in modsecurity logs.

Message: Access denied with code 44 (phase 2). Match of "eq 0" against "MULTIPART_STRICT_ERROR" required. [file "/xxxx/xxxx/xxxx/modsecurity.conf"] [line "82"] [id "3"] [msg "Multipart request body failed strict validation: PE 0, BQ 0, BW 0

[2019-10-29 19:09] martinhsv commented on #2194
Hi @Raviyellaram
I'm not entirely clear on what you are asking.  You have an HTTP request that is triggering MULTIPART_STRICT_ERROR because there is data in the request body that is before the first boundary.

If you are confident that nonstandard multipart requests are harmless for certain requests, and you just want to remove those detections, then you could turn off the rule for that particular

[2019-10-30 04:42] arjunvrm commented on #2192
I can try to get some examples that happened in the customer environment. But have anyone reported anything similar ?

The thing is that , we can add these IP's to the inline string like below and everything works.

SecRule REMOTE_ADDR "@ipMatch ::1,"IPVD adrress here"" "id:250000006,phase:1,nolog,allow"
Irrespective of the IPV6 address being short or long in the above string, the white listing wo

[2019-10-30 05:12] Raviyellaram commented on #2194
I just wanted to understand MULTIPART STRICT ERROR VALUES in detailed .

Please find the below configuration values in modsecurity.conf

SecRule MULTIPART_STRICT_ERROR "!@eq 0" \
"id:'3',phase:2,t:none,log,deny,status:44,msg:'Multipart request body \
failed strict validation: \
PE %{REQBODY_PROCESSOR_ERROR}, \
BQ %{MULTIPART_BOUNDARY_QUOTED}, \
BW %{MULTIPART_BOUNDARY_WHITESPACE}, \
DB %{MULTIPART

[2019-10-30 06:04] paimangala commented on #2192
Here is an example,
We have the below in our conf file.

SecRule REMOTE_ADDR "@ipMatchFromFile /etc/opt/cpf/conf/modsecurity_whitelist" "id:250000004,phase:1,nolog,allow"
SecRule REMOTE_ADDR "@ipMatchFromFile /etc/opt/cpf/conf/modsecurity_whitelist" "id:250000005,phase:5,nolog,skipAfter:WHITELIST_NOLOG"

And here, are the contents of the whitelist file.

Problem: When I make a brute force attack f

[2019-10-30 14:00] martinhsv commented on #2194
I won't go through them all, but I'll provide a few notes:

REQBODY_PROCESSOR_ERROR - this captures several major parsing errors. One example is if the Content-Type header says 'multipart/form-data' but no boundary is specified

MULTIPART_DATA_BEFORE - there is data in the body before the first boundary

MULTIPART_DATA_AFTER - there is data in the body after the final boundary

MULTIPART_INVALID_Q

[2019-10-30 14:00] #2194 closed, assigned to nobody

[2019-11-01 01:22] rodrigocnascimento opened #2195 "Can't log content of 302 requests behind a proxy"
**Describe the bug**
I'm trying to log requests on my apache proxy. All requests are logged but I can't log the POST content of my requests. I'm using the ```modsecurity.conf-recomended``` configurations, but change ```SecRuleEngine on``` to log everything, and added Audit log parts with C to log the body content.

This is what I'm getting. Thanks for your time.

[code]

[2019-11-01 08:45] molu8bits commented on #2185
Hi @sergiospa

Errors generated into Apache "error.log" don't support JSON logging as they are probably generated directly by Apache - not by the module.

I think you should check modsec_audit.log - that file supports JSON logging and you'll find there much more information.
This is just configuration option and supported since long time ago. All modsecurity2 >= 2.9 support that. Works with modsec

[2019-11-01 09:11] airween commented on #2195
How looks like your request?

This part is very interesting in your log:
[code]
Did you send a request with `Content-Type` `application/javascript`?

Could you check this?
`curl -d "p1=v1&p2=v2" -X POST http://127.0.0.1`

[2019-11-01 13:06] martinhsv commented on #2195
Hi @rodrigocnascimento

I see that your request is resulting in a 302.  If this is happening as a result of your Apache config, I suspect that request processing is being short-circuited and that body processing is not occurring at all.  In other words, if Apache sees a request to one url and the response is to 302 to a different url, then there's no real need for body processing to occur.

If you

[2019-11-01 13:42] martinhsv commented on #1037
While it is technically feasible to set a transaction variable called BASE64_DECODING_ERROR that gets set during the base64Decode transformation, doing so would be a bit questionable from a design perspective.

Transaction variables typically refer to attributes of the transaction, whereas this proposal would refer to the outcome of one rule's transformations.  We don't have (or at least I'm not a

[2019-11-01 13:42] #1037 closed

[2019-11-04 20:50] #2195 closed, assigned to nobody

[2019-11-04 22:18] kfkawalec opened #2196 "Problem with Audit Log"
I have nginx 1.16.1 with new version of modsecurity and all newest rules.
But on every request, event simple I have data in audit logs.

Of course I have `SecAuditEngine RelevantOnly`
All configuration from:
https://github.com/SpiderLabs/ModSecurity/blob/v3/master/modsecurity.conf-recommended
https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.3/dev/crs-setup.conf.example

How to change co

[2019-11-04 22:27] invent-uk commented on #2196
You are not alone, I have just identified the same problem on a modsec nginx stack. It must be a fairly recent defect, it was not present on the 6th of October.

[2019-11-05 11:15] julienbouquet commented on #2196
Same bug for me with nginx 1.17.5.

[2019-11-05 15:45] martinhsv commented on #2196
Thank you for reporting the issue.

This behaviour appears to have been triggered by the commit d4dc3dbf2a647942b9b315a413a99cacae90a484 (Make sure m_ruleMessages is filled after successfull match).

Until this issue is resolved, the prior commit ( 42da29fed15f072c5e40ad27d6e531b6300a4157 ) may be used to avoid this issue.

[2019-11-05 16:09] zimmerle commented on #1904
fixed as of: #2197.

[2019-11-05 16:09] #1904 closed, assigned to victorhora, martinhsv

[2019-11-06 10:09] KevinMahone opened #2198 "modsecurity Installation complete apache startup failed"
### 一、my environment

- Centos6.10
- apache:

![image](https://user-images.githubusercontent.com/42559137/68289036-67001180-00c0-11ea-97cc-dfcb1c00338c.png)
mysql
### 二、my question
1. When I finished installing modsecurity, I failed to restart apache
![image](https://user-images.githubusercontent.com/42559137/68289079-7bdca500-00c0-11ea-979c-3956c209a831.png)

[2019-11-06 15:07] michaelgranzow-avi commented on #1793
Thanks very much @tinselcity for the detailed background info.

Three observations:

1.  I cannot reproduce the issue from your test with current modsec. It looks like you branched from modsec before commit 21777aec41ec829181e9cea50ebf88d8cb47630c, which "fixes" (hides, really) the issue by allocating as many bytes as there are bits in the netmask. I think that change is wrong, but it means the he

[2019-11-06 16:34] martinhsv commented on #2198
Hello @KevinMahone

In ModSecurity, each SecRule (or chain) is identified by a unique 'id' that is specified within the actions section of the rule.  The error message is telling you that the id of the SecRule that appears on line 23 is duplicated somewhere else.  For example, if the rule on line 23 has an id of 200001, then another rule elsewhere also has the id 200001.

[2019-11-06 23:46] KevinMahone commented on #2198
So how can I adjust if all ids are configured to the same value?

[2019-11-06 23:47] KevinMahone commented on #2198
Should I set all the ids to be the same

[2019-11-06 23:58] KevinMahone commented on #2198
[httpd.txt](https://github.com/SpiderLabs/ModSecurity/files/3817228/httpd.txt)
Hi,This is my modsecurity.conf file,Could you take a look at it for me What was the problem?

[2019-11-07 03:48] martinhsv commented on #2198
The file that you have included does not look like a modsecurity.conf file.

If you got ModSecurity2.9 by doing something like sudo wget https://www.modsecurity.org/tarball/2.9.0/modsecurity-2.9.0.tar.gz,
and after untaring did `cp modsecurity.conf-recommended /etc/httpd/conf.d/modsecurity.conf`, then your /etc/httpd/conf.d/modsecurity.conf file should start with:

[code]

In this sample snippet i

[2019-11-07 10:18] michaelgranzow-avi commented on #1793
To verify the memleak, I added cleanup code for the tree, you'll need it to compile the above poc.
[code]

[2019-11-09 04:08] kadirerdogan commented on #1699
@victorhora this issue should be reopened and it's a modsecurity bug in lua engine. The problem occurs because current implementation (v3) of the inspectFile operator does not pass FILES_TMPNAMES parameter to lua engine.

[code]
This function should pass "str" parameter to lua engine as ``` return m_lua.run(transaction,str);```
And also there should be some changes in **src/engine/lua.h** and **sr

[2019-11-11 07:13] defanator commented on #2196
We're also experiencing this issue.

@zimmerle do you have any input on when this would be addressed given your release schedule?

[2019-11-11 18:10] #2198 closed, assigned to nobody

[2019-11-12 14:03] arnaud-landry commented on #2196
same problem here :/

[2019-11-12 14:51] martinhsv commented on #2196
A commit yesterday ( 199a9db3e26b3f5e7ed241c0de40a117cea7cd64 ) has resolved the main issue.

There is still an anomaly, however, compared with v2.9 behaviour.  If a rule chain begins with a rule with the nolog action, but the subsequent rules in the chain do not have 'nolog', then extra logging (as compared with v2.9) to part H will occur.

In OWASP CRS3, for example, three rules appear to be aff

[2019-11-13 06:02] defanator commented on #2196
@martinhsv I'm still seeing an entry for transaction which is not being blocked (return code is 200) with the following audit log configuration:

[code]

From the debug log:

[code]

(any ideas what is "6006"?)

[2019-11-13 08:43] grdey1 opened #2200 "expirevar does not take effect"
I am using the v3/master code, and I want to test the dos attack rule(REQUEST-912-DOS-PROTECTION.conf).
I found that the dos rule matched OK, but the expirevar action seemed has no effect.
After the ip entered the deny state, it would always in that state.
I use the InMemoryPerProcess class backend(not the lmdb class).

I have checked some issues related to this like #1803, #1778, #1754,
but got o

[2019-11-13 22:06] martinhsv commented on #2196
Hi @defanator,

6006 is the integer value of a bitmask representing the Parts that you have configured.

A=2, B=4, ..., Z=4096

ABIJDEFHZ, or reordered ABDEFHIJZ = 2+4+16+32+64+256+512+1024+4096 = 6006

[2019-11-20 13:53] beatsandpics commented on #1900
Any progress on this and a potential 2.9.2 fix? (not using 3.x)

[2019-11-20 18:19] zimmerle commented on #2145
My fix above is not 100% yet. Catch up the following error:
[code]

[2019-11-21 11:38] zimmerle commented on #2200
Closing in favor of #1803.

[2019-11-21 11:38] #2200 closed, assigned to nobody

[2019-11-21 21:23] martinhsv commented on #2196
With the recent commit ( 6395fe07ce397f85b14ce63f79cb124a9783c082 ), the remaining portion of this issue (mentioned above at resolved.https://github.com/SpiderLabs/ModSecurity/issues/2196#issuecomment-552926391 ) should now be resolved.

[2019-11-21 21:24] #2196 closed, assigned to martinhsv

[2019-11-22 13:43] zimmerle commented on #1645
v2.x empty lines and # are ignored -
https://github.com/SpiderLabs/ModSecurity/blob/v2/master/apache2/re_operators.c#L1321

Testing fb020c5 here -
https://github.com/SpiderLabs/ModSecurity/tree/v3/dev/issue_1645

[2019-11-22 17:51] zimmerle commented on #1645
Fixed as of: 42a16c71cfb995bb2cd76dab02f6fe7aa6b596be

[2019-11-22 17:51] #1645 closed

[2019-11-22 18:09] zimmerle commented on #1645
Let's make it part of pmf for now, as it is already ready. Later on, we move it towards a more global thing.

[2019-11-22 18:57] zimmerle commented on #2010
Error handlers are enabled on the **@validateSchema** operator -
https://github.com/SpiderLabs/ModSecurity/blob/42a16c71cfb995bb2cd76dab02f6fe7aa6b596be/src/operators/validate_schema.cc#L59-L68

Checking the feasibility to have it globally enabled.

[2019-11-23 06:12] kadirerdogan opened #2204 "ModSecurity 3.x inspectFile operator does not pass FILES_TMPNAMES parameter to lua engine"
The problem occurs because current implementation (v3) of the inspectFile operator does not pass FILES_TMPNAMES parameter to lua engine.

[code]
This function should pass "str" parameter to lua engine as ``` return m_lua.run(transaction,str);```
And also there should be some changes in **src/engine/lua.h** and **src/engine/lua.cc** file accordingly. The fix should not effect other script calls lik

[2019-11-25 18:20] zimmerle commented on #2010
Closed as of: 05e9e7cf31fe78a2dcf66719b8aef555354daf54

[2019-11-25 18:20] #2010 closed, assigned to zimmerle

[2019-11-26 07:10] kfkawalec commented on #2196
For me this dosent help (commit 199a9db3e26b3f5e7ed241c0de40a117cea7cd64).

I still have warnings:
ModSecurity: Warning. Matched "Operator `Eq' with parameter `0' against variable `TX:dos_block_timeout' (Value: `0' ) [file "/etc/nginx/modsec/rules/REQUEST-912-DOS-PROTECTION.conf"] [line "77"] [id "912110"] [rev ""] [msg ""] [data ""] [severity "0"] [ver ""] [maturity "0"] [accuracy "0"] [hostname

[2019-11-26 11:57] zimmerle commented on #2204
Merged as of: 6624a18a4e7fd9881a7a9b435db3e481e8e986a5

[2019-11-26 11:57] #2204 closed, assigned to zimmerle

[2019-11-26 20:56] pl853 commented on #1941
If it's worth anything. I fixed the problem by copying the unicode.mapping file to the nginx modsec folder.

`sudo cp path/to/cloned/modsec/repo/unicode.mapping  /etc/nginx/modsec/unicode.mapping`

[2019-11-26 22:05] martinhsv commented on #2196
Hi @kfkawalec,

I was not able to reply to your email.  Regarding your report, make sure you have both fixes -- i.e. that you are at least up to commit ( https://github.com/SpiderLabs/ModSecurity/commit/6395fe07ce397f85b14ce63f79cb124a9783c082 )

[2019-11-27 06:57] kfkawalec commented on #2196
Ok, I missed the second fix, I applied only the first.
Now its works.

[2019-11-28 15:55] marcstern opened #2206 "Problem in retrieving collections from Persistant Storage"
In collection_retrieve_ex(), we check if a key exist with the name "KEY":
   if (apr_table_get(col, "KEY") == NULL) ...

In collection_store(), we store the key with the name "__KEY":
   var_key = (msc_string *)apr_table_get(col, "__key");

Can somebody explain the logic?
I had problems when loading the IP collection - values were not correct.
By using "__KEY" at both places, everything works smoo

[2019-11-28 22:14] miguel-sharpmobile opened #2207 "Disabled rules in dashboard not updated"
**Describe the bug**

Disabled rules on the dashboard through https://dashboard.modsecurity.org/ does not propagate to the downloaded rules file.

Steps to reproduce:

**To Reproduce**

Steps to reproduce the behavior:

A **curl** command line that mimics the original request and reproduces the problem. Or a ModSecurity v3 test case.

1. Disable all rules through the dashboard
2. Configure ModSecu

[2019-11-29 11:59] zimmerle commented on #2207
Hi @miguel-sharpmobile,

Thank you for the report, however, that is no the best channel for this kind of issue. I would like to invite you to go over Trustwave support. There they will be able to help you better.

[2019-11-29 11:59] #2207 closed, assigned to nobody

[2019-12-02 10:39] marcstern opened #2208 "Memory leak in modsecurity_request_body_to_stream()"
msr->stream_input_data buffer is never unallocated, leading to a memory leak on each request.
We should use the request memory pool.
This needs passing the pool as parameter in modsecurity_request_body_to_stream() and in read_request_body(). The request memory pool is available when calling read_request_body() (in hook_request_late() ).

[2019-12-02 14:10] marcstern commented on #2208
first malloc() in msre_op_rsub_execute() should also be replaced

[2019-12-03 13:13] theBlueclouds opened #2209 "'ON' check on URLs in REQUEST_HEADERS:Referer: for 941100"
We found that 941100 rule is acting in the referrer for urls. But the regex provided, did not match the url. We suspect the regex provided in the documentation and the one that is actually triggered is different. We would need the correct regex to match the request.

The regex mentioned in the [941100 rule](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/rules/REQUEST-941-APPL

[2019-12-03 13:20] zimmerle commented on #2209
Hi @theBlueclouds,

The best project to answer that question is the CRS project -
 https://github.com/SpiderLabs/owasp-modsecurity-crs

Here we take care of the ModSecurity core. The CRS project is the one that provides the rule that you are concerned about.

[2019-12-03 13:20] #2209 closed, assigned to nobody

[2019-12-03 17:13] jwillberg opened #2210 "@RBL with IPV6 support ?"
Does @RBL operators have IPV6 support ?

https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#rbl

Other functions have in documentation IPV4 & IPV6 support, but not this.

[2019-12-04 02:13] eman1986 commented on #1777
looks like in ubuntu it's ```sudo apt-get install libapache2-mod-security2```

[2019-12-04 10:20] marcstern commented on #2208
I found a better solution: free the memory in modsecurity_tx_cleanup():
	/* Streams cleanup. */
	if (msr->stream_input_data != NULL) {
		free(msr->stream_input_data);
		msr->stream_input_data = NULL;
		msr->stream_input_length = 0;
		msr->stream_input_allocated_length = 0;
	}
	if (msr->stream_output_data != NULL) {
		free(msr->stream_output_data);
		msr->stream_output_data = NULL;
		msr->stream_ou

[2019-12-04 10:42] osamamaruf commented on #1900
@victorhora This happens to me regardless of the position of the  **charset=UTF-8;** placement in the `Content-Type` header as you have observed as well. We are using spring and spring add this header to all multi part requests. Only removing encoding format works. We can remove the encoding or add an exclusion but should not this be allowed by default?

[2019-12-04 13:50] nasirbas1 opened #2211 "IP collection is behaving like more of a primitive variable than HashMap."
Hi Team ,
We are facing a very trivial issue with modsecurity in conjunction with Nginx.
We have been constantly trying to get hands on the working of the persistant
collection storages, but they are behaving vaguely for each and every request.
If IP collection is indeed a hashmap and it uniquely maps each IP address to a
certain characteristic that we want, then its not working as described.
Even

[2019-12-04 14:04] prashan9775 commented on #2211
I am also facing the same issue

[2019-12-04 14:38] martinhsv commented on #1900
Hi @osamamaruf ,

Agreed, the issue described here is legitimate.  The charset= should not be flagged as an error.

We haven't forgotten about the issue.  It's currently on the to-do list for 3.1.1.

[2019-12-04 17:43] aramhovsepyan opened #2212 "modsecurity log message breaks JSON format compatibility"
Hi,
Both my apache and modsecurity audit logs are in JSON format that works pretty fine. However, when in certain cases Modsec writes to apache logs he format is not JSON compatible as the message content is not escaped: e.g.,

`{ "error_time":"Wed Dec 04 17:48:45 2019", "function" : "[-:error]" , "process" : "[pid 16688]" , "ip": "1.2.3:123", "message" : "[client x.y.z] ModSecurity: Request body

[2019-12-05 15:08] ledzepp4eva opened #2213 "Escaped Quotes causing nginx emerg errors"
**Describe the bug**

When the following SecRule is created it generates an Nginx configuration error

`SecRule MATCHED_VARS "@contains \"TX\"" "id:1, phase:1, t:none, nolog, pass, ctl:ruleEngine=Off"`

**Logs and dumps**

2019/12/05 14:57:11 [emerg] 1852#1852: "modsecurity_rules_file" directive Rules error. File: /etc/nginx/modsec/example.com.conf. Line: 36. Column: 97. Invalid input:  id:8, phas

[2019-12-05 22:53] martinhsv commented on #2213
Hi @ledzepp4eva,

Thanks for the report.

If you're looking for a workaround, something like "@rx \x22TX\x22" should accomplish the same thing.

[2019-12-06 07:51] prakash9999in opened #2215 "error: /usr/bin/ld: cannot find -llibmaxminddb"
While following the wiki
https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes-for-v3.x

I tried to install Modsecurity on Centos 7 Minimal
in the first step while libModSecurity
**I am getting the error as below when I am trying the make command:**

[code]

**The output of the configuration command is as below:**

[code]

### Wanted to add here is that I have installed libmaxminddb-1

[2019-12-06 11:10] ledzepp4eva commented on #2213
Thanks, I have tested this and it no longer fails the nginx configuration change and it does whitelist the quotes

[2019-12-06 11:10] #2213 closed, assigned to nobody

[2019-12-06 12:11] nasirbas1 commented on #2211
**_To anyone in future_** : There was this thing that we figured out for **DDoS protection** , we were initialising collections in SecRule , whereas this works only if done in SecAction .

[2019-12-06 12:11] #2211 closed, assigned to nobody

[2019-12-06 19:41] SigmazGFX commented on #2075
SO WHERE THE HECK IS THE WORKAROUND?!

[2019-12-06 20:28] martinhsv commented on #2212
Hi @aramhovsepyan ,

With the apache log format not natively json, you can indeed try to work around that by adding json metacharacters around predefined variables.  I'm not surprised, however, that you have encountered problems.

I can't think of any ModSecurity configuration options that would be particularly useful in your case.

What you probably can do, however, is exploit apache's piped logs

[2019-12-06 22:53] martinhsv commented on #2215
Hi @prakash9999in ,

Did you think you needed to install libmaxminddb from source, or was that a choice for some reason?  I just tried a fresh install on CentOS7-Minimal and only installed packages via yum, and my make completed successfully.

[2019-12-09 11:35] prakash9999in commented on #2215
Hi Martinhsv,

Thanks for your prompt response.
I installed from source to use the latest version of libmaxminddb which I am not getting when I am trying to install from yum.

Is there any known version compatibility issues ?

Thanks & Regards

[2019-12-09 11:48] zimmerle commented on #2215
Hi @prakash9999in,

Make sure that /usr/local/lib// is your library path. Otherwise, the compilation scripts will find it, but it will no be able to use in runtime.

[2019-12-09 11:48] #2215 closed, assigned to zimmerle

[2019-12-09 20:53] SigmazGFX commented on #2075
I just can't find the support I need to get this working properly with rotatelogs.exe.
One avenue I tried going down was to do it with PowerShell, but becsuse the log file is locked Clear-Contents can't do the job. and I refuse to (can't) restart IIS every time a modsec log gets too big.
I ended up using a little C# to get the job done. I now rotate our modsec logs with a scheduled task.
[LogPurge

[2019-12-10 12:47] KfirManSnunit opened #2216 "segfault at 0 ip 00007ffbbfa58646 sp 00007fff7c0c0d38 error 4 in libc-2.27.so"
Hello,
I've been trying for a while to figure out what cause the problem for unkilled worker, without success.
It started to happen since I installed ModSecurity-nginx according to this guide:
https://www.nginx.com/blog/compiling-and-installing-modsecurity-for-open-source-nginx/

I've seen these cases:
#19
#29
And it did not work for me.
It happens randomly and without any action on our part like

[2019-12-10 12:55] KfirManSnunit commented on #2216
That is the output of: "valgrind --leak-check=full --show-leak-kinds=all -v nginx"

==19276== Memcheck, a memory error detector
==19276== Copyright (C) 2002-2017, and GNU GPL'd, by Julian Seward et al.
==19276== Using Valgrind-3.13.0 and LibVEX; rerun with -h for copyright info
==19276== Command: nginx
==19276==
--19276-- Valgrind options:
--19276--    --leak-check=full
--19276--    --show-leak-ki

[2019-12-10 14:20] #2212 closed, assigned to nobody

[2019-12-11 08:52] KfirManSnunit commented on #2216
**And this is my nginx.conf file:**

[code]

[2019-12-11 12:27] zimmerle commented on #2216
Hi @KfirManSnunit

Do you happens to have the core dump?

[2019-12-11 13:06] KfirManSnunit commented on #2216
Hi @zimmerle
The only way I was able to get a stak trace is by valgrind.
On this server I run the deb package from nginx mainline repo without debug symbols.

This is the output of:
gdb --pid 6938 (nginx worker pid)

root@varnish62:~# gdb --pid 6938
GNU gdb (Ubuntu 8.1-0ubuntu3.2) 8.1.0.20180409-git
Copyright (C) 2018 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http:

[2019-12-11 13:12] zimmerle commented on #2143
Fixed on ModSecurity-nignx

[2019-12-11 13:12] #2143 closed, assigned to zimmerle, victorhora

[2019-12-11 13:18] zimmerle commented on #2216
It will be way better to have the debug symbols and the gdb-backtrace by the time that the process crash.

[2019-12-12 08:52] marcstern opened #2217 "Uninitialized memory leading to crash"
In apache2/persist_dbm.c, in collection_store(), we have the following declaration:
 char *username;

The variable is supposed to be initialized on line 392:
 apr_uid_name_get(&username, uid, msr->mp);

In case there's a problem in apr_uid_name_get(), the variable is not initialized. This leads to a crash on line 412:
 dbm_filename = apr_pstrcat(msr->, "/", username, ...

If username is initialize

[2019-12-12 09:12] KfirManSnunit commented on #2216
And if I rebuild NGINX with "--widht-debug" flag you think it will behave the same as the package installed with apt?

[2019-12-12 13:58] davidbalazs opened #2218 "Modsec rule causes nginx cu spin up a lot of worker processes"
**Describe the bug**

Hi there, we run Nginx in a Docker container as a sidecar in a pod in a Kubernetes cluster.
We have the ModSec module (version 3.0.3) enabled for Nginx.
In our Nginx configuration, we set the number of worker processes to be 16 (we have 16 cpu cores on our machines):
[code]

- With modsec **disabled**, it all works fine, we can see in the access logs that requests are process

[2019-12-12 14:28] airween commented on #2218
_Server (please complete the following information):
    ModSecurity version: 3.0.3 connector: ModSecurity-nginx **v0.1.1-beta**_

Sorry for the question, but are you sure you have this version?

[2019-12-12 14:59] davidbalazs commented on #2218
the connector version we use is actually v1.0.0, thanks for the heads up! I've updated the issue description.

Interestingly enough, in the nginx access logs it appears as `"connector":"ModSecurity-nginx v0.1.1-beta"`

[2019-12-12 15:24] martinhsv commented on #2216
Hi @KfirManSnunit ,

The flag '--with-debug' can, in some cases, make a segfault go away (depending on the type of bug), but I don't think that's what he means.

Have a look at:

Enabling Core Dumps (https://docs.nginx.com/nginx/admin-guide/monitoring/debugging/#enabling-core-dumps)
  and
Obtaining Backtrace From a Core Dump File (https://docs.nginx.com/nginx/admin-guide/monitoring/debugging/#back

[2019-12-12 15:26] airween commented on #2218
Could you try with the code from current master?

[2019-12-12 23:16] martinhsv commented on #2218
Hi @davidbalazs ,

I have tried a few things to try to recreate what you've seen but have not been successful so far (although my test environment is not particularly close to your deployment).

Clarification question:  Do I understand correctly that if you remove rule 920350, you don't see the problem any more?

[2019-12-13 11:31] davidbalazs commented on #2218
hi @martinhsv

From the behavior that I have seen so far, the number of processes increases over a period of 12 hours to a big number, it doesn't increase immediately.

To work around the issue, I whitelist the endpoint that is being hit via numeric ip (that used to trigger the rule 920350):

[code]

If I whitelist this endpoint, then all the healthcheck requests that are coming via direct IP won'

[2019-12-13 15:44] martinhsv commented on #2218
Hi @davidbalazs ,

Thanks, that clarifies your workaround.

What I would be interested in doing, however, is narrowing down whether processing of the rule itself is what is triggering the bad result, or if the content of the request is causing the bad result irrespective of whether that particular rule is active.

If you are willing to try an experiment or two, my first suggestion would be to alte

[2019-12-13 15:58] davidbalazs commented on #2218
Thanks @martinhsv

I will try now and let it run over the weekend to see that happens.

The ModSecurity version is v3.0.3 and it is built from the v3.0.3 tagged commit in github

[2019-12-16 08:51] nakacya opened #2220 "Auditlog is not output"
[code]
Blocked when executing the above (normally so far)
・ It is recorded in error log.
 ・Not output to Auditlog.

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
https://gist.github.com/nakacya/9614561b559cb04ac5d4edc35449621c
 2. AuditLogs
no log
 3. Error logs
[code]

 4. If there is a crash, the core dump file.
None

**Expected behavior**

A clear and concise description of what you ex

[2019-12-16 09:22] ggghuilei opened #2221 "modsecurity 2.9.3 does not work in nginx proxy."
**Describe the bug**

 - ModSecurity version: modsecurity 2.9.3
 - WebServer: nginx 1.14
 - OS : Linux

modsec.conf
Include "./modsecurity.conf"
Include "./owasp-modsecurity-crs-3.2.0/crs-setup.conf"
Include "./owasp-modsecurity-crs-3.2.0/rules/*.conf"

**Additional context**
I use Nginx configuration content as follows：

user root root;
worker_processes auto;
worker_cpu_affinity auto;

events {

[2019-12-16 12:55] zimmerle commented on #2220
can you please post how this "partial" JSON looks like?

[2019-12-16 13:52] nakacya commented on #2220
THX For reply

For example, this JSON is output but ruleid is not included.
[code]

[2019-12-16 20:40] martinhsv commented on #2220
Hi @nakacya ,

I'm not certain whether this is your issue, but there was a bug fix in October (https://github.com/SpiderLabs/ModSecurity/commit/d4dc3dbf2a647942b9b315a413a99cacae90a484 ) that may be relevant.  For that bug, the details that you note as missing were being omitted when the disruptive action was 'deny'.

If you're using 3.0.3 either from a repo package or from the 3.0.3-tagged github

[2019-12-16 21:02] martinhsv commented on #2218
Hi @davidbalazs ,

You could also consider proceeding with the suggestion from @airween , and use the code from HEAD of v3/master.

There have been quite a few bug fixes implemented over the past year+, at least one of which might be relevant ( https://github.com/SpiderLabs/ModSecurity/issues/1927 ). The symptoms reported in that bug aren't exactly the same as what you're seeing, but there are a f

[2019-12-17 00:27] nakacya commented on #2220
THX forreply @martinhsv

I checked, but it seems that the corresponding correction has been completed.
I was in trouble ...

[code]

[2019-12-17 01:43] nakacya commented on #2220
Oh?
I tried accessing it with a browser.
Why is the content of auditlog being favicon.ico
 Is it?

“xmlrpc.php?rsd=%00” should have been rejected by modsecurity ...

curl doesn't require a favicon, so why don't it appear in the auditlog?
[code]

[2019-12-17 03:34] martinhsv commented on #2220
Hi @nakacya ,

One thing I noticed that is a little unusual is your setting
[code]
This means you are telling ModSecurity to write to the audit log for transactions for any status code.  E.g. even if the HTTP Status Code is 200, that is considered 'Relevant' because of your setting, so log writing occurs.  But the "messages" portion of the log would be empty because ModSecurity has not populated i

[2019-12-17 04:26] nakacya commented on #2220
THX Reply @martinhsv

I'm trying to change this setting now, but the audit log shows a return code 200.
In error log (modsecurity log), 403 is recorded normally, and 403 is also displayed in the page display, and there is no problem.
[code]

In the first place, /favicon.ico does not exist.

[2019-12-17 04:48] nakacya commented on #2220
THX Reply @martinhsv

I'm sorry I made a mistake reading.

When I checked with the developer tool, I got the following three requests.
/xmlrpc.php?rsd=%00
/content.min.css
/favicon.ico
And xmlrpc.php was rejected. (As planned)
Others were loaded normally (this is also normal)

I think
Shouldn't Auditlog be issued only for xmlrpc.php rejection in this case?

[2019-12-17 10:03] davidbalazs commented on #2218
hi @martinhsv

I did the change to whitelist the endpoint for that specific rule as suggested (but still using ModSecurity v3.0.3):
[code]
and I can confirm that Nginx with ModSecurity worked properly over this period. The number of worker processes remained constant to 16 (which is the configured number) and the memory remained constant as well. So the issue seems to be around rule 920350.

I wil

[2019-12-17 14:17] Pupkur opened #2222 "Site https://modsecurity.org/ is down."
Site https://modsecurity.org/ is down.

https://www.isitdownrightnow.com/modsecurity.org.html

[2019-12-17 14:54] zimmerle commented on #2222
Thank you for the report. The responsible for the website is taking care of it.

[2019-12-17 15:42] rperper opened #2223 "This is an enhancement request to expose parsed rule results and default values."
We are a web server vendor and as an optimization, we'd like to avoid calling mod_security functions like msc_append_request_body and msc_append_response body (along with the associated intervention processing) when request/response body processing is disabled.  We'd sure like to have the parsed results of that info made available to us as API.

We see that msc_create_rules_set() gives us the pars

[2019-12-17 17:47] martinhsv commented on #2220
If requests for /content.min.ss and /favicon.ico return HTTP Status 200, then, based on those settings (SecAuditLogRelevantStatus "^[4-5]+"), there will be no audit log entry for those two requests.

However, logging is also controlled other ways, including at the individual rule level.  For example you could intentionally set a rule to include 'log,pass' amongst its actions.  And other rules that

[2019-12-17 23:57] nakacya commented on #2220
When you get the following URL
http://xxx.xxx.xxx.jp/xmlrpc.php?rsd=%00%22

Yes, I understand this.
But why is there no audit log for rejected /xmlrpc.php?rsd=%00%22?

The error log (log) is output as follows.
[code]

In crs-setup.conf, it is described as follows.
[code]

id: 949110 is set as follows.
[code]

In the case of setting above, it should be set that “id: 949110 is output to log and audi

[2019-12-18 07:38] KfirManSnunit commented on #2216
Sill not manage to build nginx with debug, but a new error appear today:

terminate called after throwing an instance of 'std::runtime_error'
  what():  random_device::random_device(const std::string&)
2019/12/18 09:15:52 [alert] 31845#31845: worker process 31846 exited on signal 6 (core dumped)
terminate called after throwing an instance of 'std::runtime_error'
  what():  random_device::random_de

[2019-12-18 11:21] #2222 closed, assigned to nobody

[2019-12-18 18:54] martinhsv commented on #2220
I'm sorry but I cannot reproduce what you are seeing.  With current v3/master and the rule and configuration details that you have supplied above, I get content in the audit log including the "messages" section that specifies the rule id as 949110.

For that request (http://xxx.xxx.xxx.jp/xmlrpc.php?rsd=%00%22):

To clarify, when you say 'nothing is output to the audit log' do you mean that litera

[2019-12-19 04:38] prince-java commented on #2185
Hi @zimmerle
I have a similar question,when i add "SecAuditLogFormat JSON" into modsecurity.conf,it appears some error:
`[root@VM_0_15_centos ~]# /usr/local/apache/bin/apachectl -t
AH00526: Syntax error on line 199 of /usr/local/apache/conf/modsecurity/modsecurity.conf:
Invalid command 'SecAuditLogFormat', perhaps misspelled or defined by a module not included in the server configuration`

The ver

[2019-12-19 04:42] prince-java commented on #2185
Hi @zimmerle
I have a similar question,when i add "SecAuditLogFormat JSON" into modsecurity.conf,it appears some error:
`[root@VM_0_15_centos ~]# /usr/local/apache/bin/apachectl -t

AH00526: Syntax error on line 199 of /usr/local/apache/conf/modsecurity/modsecurity.conf:
Invalid command 'SecAuditLogFormat', perhaps misspelled or defined by a module not included in the server configuration`

The ve

[2019-12-19 08:15] prince-java opened #2224 "Some questions about ModSecurity 3.0.3 with Apache"
1.Problem with the unicode map file
I have created the unicode map file,but it still reports error：
`Failed to open the unicode map file from: /usr/local/apache/conf/modsecurity/unicode.mapping`
My temporary solution is disable SecUnicodeMapFile,but I don't know whether there are other hidden dangers.
There is no such problem with ModSecurity 2.9.3.

2.Where is mlogc
I can't find mlogc after insta

[2019-12-19 14:55] zimmerle commented on #2224
Please, do not use libModSecurity with apache. Apache connector is still alpha, not ready for production.

[2019-12-19 14:55] #2224 closed, assigned to nobody

[2019-12-20 07:17] nasirbas1 opened #2226 "SecDataDir is not working in version 3"
I have tried every path with the SecDataDir. Have also tried everything with the permissions but have not been able to get the modsecurity to write to the disk . It just doesn't write to the disk.
It always keeps the collections in memory .

**SecDataDir /usr/local/secdatadir/**

Have provided secdatadir each and every permission but still have not been able to get the collections written . Can an

[2019-12-20 15:21] martinhsv commented on #2226
Hi @nasirbas1 ,

It sounds like you're talking about two different things.

SecDataDir is indeed not currently supported in ModSecurity v3.  Moreover, that is not intended to be the log location.

If you're using Parallel logging as your SecAuditLogType, the directory location is specified using SecAuditLogStorageDir.

[2019-12-20 18:39] Fluke667 opened #2227 "Problems compiling on Alpine/Nginx"
**sh build.sh**
**./configure**
**make**
**make install**
Making install in others
make[1]: Entering directory '/config/src/ModSecurity/others'
make[2]: Entering directory '/config/src/ModSecurity/others'
make[2]: Nothing to be done for 'install-exec-am'.
make[2]: Nothing to be done for 'install-data-am'.
make[2]: Leaving directory '/config/src/ModSecurity/others'
make[1]: Leaving directory '/conf

[2019-12-21 16:15] de-es commented on #2139
Here one can find version the mentioned Debian package 2.9.3-1+b1 compiled against 1.6.5:

http://ftp.debian.org/debian/pool/main/m/modsecurity-apache/libapache2-mod-security2_2.9.3-1+b1_amd64.deb

[2019-12-22 19:41] airween commented on #2139
I mentioned this package [here](https://github.com/SpiderLabs/ModSecurity/issues/2139#issuecomment-533691278), but this package isn't part of the Debian 10 (current stable). But may be you can try to grab it and install by manually.

[2019-12-22 19:46] nasirbas1 commented on #2226
Hi @martinhsv ,
There were some misnomers in there , have updated the description.
I actually meant the collection persistence only, not the logs . The logs part is working fine
and its correctly writing to the **/var/logs/modsec_audit.log**. Folder name might have
confused you.
So if SecDataDir is not supported in V3 as of now , is there no way around to persist the collections
to the disk , beca

[2019-12-23 07:29] KfirManSnunit commented on #2216
@martinhsv
I had a typo in the question about with-debug flag...
I thought core dump files could not be exported without rebuilding with-debug flag.
Thanks

@zimmerle
This is the output of the core file create by nginx according to the guidelines at:
https://docs.nginx.com/nginx/admin-guide/monitoring/debugging/#enabling-core-dumps

GNU gdb (Ubuntu 8.1-0ubuntu3.2) 8.1.0.20180409-git
Copyright (C)

[2019-12-23 17:26] ZerooCool commented on #2139
[code]
Nice !

`[:notice] [pid 16431] ModSecurity: APR compiled version="1.6.5"; loaded version="1.6.5"`

It's ok now !

[2019-12-23 21:23] mwahl217 commented on #1868
https://support.microsoft.com/en-us/help/17588/windows-fix-problems-that-block-programs-being-installed-or-removed

Clean up the dll files (2018) under system32 and syswow

[2019-12-27 02:17] RitaVratask commented on #1777
I was having the same issue and `sudo apt-get install libapache2-mod-security2` worked for me.

Thanks!

[2019-12-27 08:38] amelroua opened #2228 "cannot compile Modsecurity in openwrt for Mediatek platform"
**Describe the bug**
whenever I type make I got an error indicating that librt is not found
`
 /usr/bin/ld: cannot find -lrt.Code:/usr/bin/ld: cannot find -lrt collect2: error: ld returned 1 exit status make[3]: *** [Makefile:1601: libmodsecurity.la] Error 1 make[3]: Leaving directory '/root/ModSecurity/src' make[2]: *** [Makefile:3222: all-recursive] Error 1 make[2]: Leaving directory '/root/ModS

[2019-12-27 13:43] zimmerle commented on #2228
Hi @amelroua,

Can you try to re-install that package? Also, try to list if the files are really part of the package. It might be a transitional package.

[2019-12-27 14:34] #2227 closed, assigned to nobody

[2019-12-30 13:34] nasirbas1 commented on #2226
@zimmerle @martinhsv  Anything on this?

[2019-12-31 02:24] zimmerle commented on #2226
Hi @nasirbas1,

The Persistent collection on v3 depends on the backend support. By default, the memory back end is selected. It means that the collection indeed vanishes on every restart. You may want to enable the lmdb backend if you want to persist the collections on disk.

[2019-12-31 02:24] #2226 closed, assigned to nobody

[2019-12-31 12:15] amelroua commented on #2228
I tried to reinstall it but now I got a "cc1plus: out of memory allocating 6404724 bytes after a total of 34328576 bytes" error.  But, I have enough space in my device.

[2019-12-31 12:37] zimmerle commented on #2228
@amelroua, The linker is very memory intensive. You may want to cross-compile or use a bigger swap space

[2020-01-02 01:22] prince-java opened #2230 "Warnings when execute make command with modsecurity2.9.3"
These are  warnings when I execute make command with modsecurity2.9.3:
`libtool: compile:  gcc -DHAVE_CONFIG_H -I. -I../apache2 -DLINUX -D_REENTRANT -D_GNU_SOURCE -DVERSION_NGINX -I/usr/include/apr-1 -I/usr/include/apr-1 -I/usr/include/httpd -DWITH_CURL -I/usr/include/libxml2 -DWITH_PCRE_STUDY -DMODSEC_PCRE_MATCH_LIMIT=1500 -DMODSEC_PCRE_MATCH_LIMIT_RECURSION=1500 -DREQUEST_EARLY -DWITH_APU_CRYPTO

[2020-01-02 15:20] martinhsv commented on #2216
Hi @KfirManSnunit
Thank you very much for the backtrace.

Although it's not clear to me what combination of configuration and request is resulting in that execution path, there is at least a fairly obvious robustness issue in the code that we could mitigate.

I'll do a bit more investigation sometime over the next couple of days and get back to you.

[2020-01-03 15:07] asterite3 commented on #1062
This would happen if APR is compiled with `APR_POOL_DEBUG` (configure option `--enable-pool-debug=yes`).

In this case `apr_table_copy` will make an assetion that memory pool for the new table is a descendant of a pool of original table, which is violated at least here https://github.com/SpiderLabs/ModSecurity/blob/9675653/apache2/re.c#L1250

[2020-01-03 15:09] asterite3 commented on #873
This would happen if APR is compiled with `APR_POOL_DEBUG` (configure option `--enable-pool-debug=yes`).

In this case `apr_table_copy` will make an assetion that memory pool for the new table is a descendant of a pool of original table, which is violated at least here https://github.com/SpiderLabs/ModSecurity/blob/9675653/apache2/re.c#L1250

[2020-01-03 19:30] martinhsv commented on #2220
Hi @nakacya ,

Although I wasn't able to reproduce what you were reporting, investigation related to your report did show a problem with the combination 'nolog,auditlog' that would affect output in some cases.

A fix for this may be available in v3/master soon-ish.  But, in the meantime my suggestion to you would be to try changing your SecDefaultAction lines to be 'log,auditlog'.

[2020-01-05 09:27] FatnLazy opened #2231 "Issues with arrays"
Hi team,

i have installed modsecurity 2.9.3 and set the auditlog to be in json format so i could investigate and work with the logs in ELK.
when i was looking into the logs with Kibana i found out that most of the important information that i would like to use is inside of an array/arrays.
is there a way to configure the json format not to use arrays?

Bets Regards.
Alex

[2020-01-05 13:39] nakacya commented on #2220
Hello @martinhsv,

I'm sorry to reply late at the end of Japan.
I understand the log.

When will you fix it?
I want to keep a schedule open if possible

[2020-01-06 08:37] amelroua commented on #2228
Our system is implemented based on musl libc and not glibc. So, I got many errors related to librt and libpthread that are not identified. How can I compile Modsecurity in our system?

[2020-01-07 19:11] #1974 closed, assigned to zimmerle, martinhsv

[2020-01-07 19:19] #2066 closed, assigned to zimmerle, victorhora, martinhsv

[2020-01-07 20:20] martinhsv commented on #2157
This duplication issue was corrected in v3/master back on November with https://github.com/SpiderLabs/ModSecurity/commit/6395fe07ce397f85b14ce63f79cb124a9783c082

Only the final rule in a chain results in a 'Matched' message.  This is consistent with v2.9 behaviour and appears to have been an intentional design decision ... although that's a decision we may choose to revisit at some point.

[2020-01-07 20:20] #2157 closed, assigned to zimmerle

[2020-01-07 21:38] martinhsv commented on #2087
Hi @theMiddleBlue ,

To clarify, is the question here really only pertaining to v2.9?

In 3.x, REQUEST_BODY should successfully be populated even if the XML body processor has been engaged.  (I believe this change of behaviour for when REQUEST_BODY has been populated was an intentional one for v3.x -- although, granted, question has been raised as to whether this is the best way forward ( https://

[2020-01-07 22:17] airween opened #2232 "Strange logging behaviour in v3.1 against v3.0 and v.2"
As I know the 3.1 is coming soon, and I know there isn't a published code, but I grabbed the v3/dev/3.1-experimental, and made some tests.

I created two test for the regression test framework, you can find here:

https://gist.github.com/airween/7afda23a9979e2add46228c8f2f2d316

Note, that both tests are wrong, I set up a non-expected value for response to see the full output.

**How to reproduce*

[2020-01-07 22:18] martinhsv commented on #2231
Hi @Cry0k ,

Is this coming up because of known limitations with Kibana?  (I'm assuming so, partly since the auditlog format that is produced in v2.9 should be valid JSON.)

There really isn't any way for the ModSecurity-produced JSON logs to avoid using JSON arrays except by omitting information (for example, SecComponentSignature controls the 'components' array).  This is not likely a practical

[2020-01-07 22:30] martinhsv commented on #2220
Hi @nakacya ,

That fix for the 'nolog,auditlog' use case that I mentioned has been merged to v3/master.

Again, since I was not able to reproduce what you were reporting I cannot give assurance that that will fix your problem.

However, since you are using SecDefaultAction that includes 'nolog,auditlog', this newly-merged fix, _might_ be of some help.

[2020-01-08 01:24] zimmerle commented on #2232
thank you @airween. This code is under development, we expect to have a final version soon.

[2020-01-08 01:24] #2232 closed, assigned to nobody

[2020-01-08 01:25] zimmerle commented on #2221
Hi @ggghuilei,

For nginx, you may want to use libModSecurity with Nginx connector - https://github.com/SpiderLabs/ModSecurity-nginx

[2020-01-08 01:25] #2221 closed, assigned to nobody

[2020-01-08 01:26] #2231 closed, assigned to martinhsv

[2020-01-08 07:54] chetanmenge opened #2233 "Mod with Nginx - websocket request doesn't work"
Hello,
 I'm using Nginx and configure MOD. We have application which has http as well as websocket request. We are seeing issues with MOD enabled for websocket request, as below
 "WebSocket is closed before the connection is established" i.e websocket request are getting closed immediately.

If we remove MOD and try again then it works, so I would like to understand can we use MOD for application

[2020-01-08 10:49] FatnLazy commented on #2231
hi @martinhsv,

is there a way to make the values inside the array to be json object ?

Regards,

[2020-01-08 13:02] KfirManSnunit commented on #2216
Hi @martinhsv
10 days ago I made an update to Nginx 1.17.7 and since then the error was not repeated.
I can confirm that this bug is exist on versions 1.17.1 to 1.17.6 of Nginx And maybe before (And it's possible to see it only at a load of over 450 active connections).

Another thing that may be related, The error logs of all websites was full of warnings like:
**upstream response is buffered to

[2020-01-09 21:04] martinhsv commented on #2216
Hi @KfirManSnunit ,

Thank you very much for the update.

Based on that information, I'm not very likely to do further investigation.  It sounds likely that there was an underlying bug in nginx code (possibly only in the non-stable version 1.17) that they have since corrected.

Per my comment last week, in the coming days a small change may get merged into the ModSecurity nginx connector to exit m

[2020-01-09 21:07] martinhsv commented on #2218
Hi @davidbalazs ,

I was just curious if you had had opportunity to try current v3/master code.  Thanks.

[2020-01-10 02:57] nakacya commented on #2220
Hi, @martinhsv

Today I got a new repository and tested it.
After all the result did not change.

Basically, isn't the auditlog output for a deny rule?
The content of the test is as follows: The test conforms to rule: 949110, but is not output to auditlog.
[code]
I changed `log, \ `of rule: 949110 to `log, auditlog, \` but no auditlog is output.
If deny of rule: 949110 is changed to block, auditlo

[2020-01-10 12:13] zimmerle commented on #2216
@martinhsv  patch is now merged! thank you guys.

[2020-01-10 12:13] #2216 closed, assigned to zimmerle, martinhsv

[2020-01-13 16:29] dto20 opened #2237 "Logging to NGINX error_log but not audit"
**Describe the bug**

I'm testing a WAF setup with nginx, modsecurity and the OWASP ruleset. I am just running a simple XSS curl attack.

The attack is being blocked and a 403 is being returned. However, the attack isn't logged in the audit log, only the nginx error log. We need to send the logs to a SIEM and we need any blocks to be in the audit log.

**Logs and dumps**

Output of:
 1. DebugLogs

[2020-01-13 21:04] rpharrison commented on #680
I can get the v4 database but instead of one single file there are multiple .gsb4 files, how can these be used with mod security?

[2020-01-14 12:59] nasirbas1 opened #2238 "Leakage in Modsecurity WAF 3.0.1 with Nginx"
Hi Team ,
We are facing a very strange and serious issue with modsecurity on 🆖**INX.**
 We have a 4 core machine with 4096 worker_connections for nginx .
**1️⃣** When any IP is blocked via modsecurity, it takes some time (_which is few minutes to half an hour sometimes_) to reflect properly ; that is even when an IP is blocked some of the requests from that **blocked IP** still go through , and th

[2020-01-14 13:24] zimmerle commented on #2238
Hi @nasirbas1,

The memory storage is independent by worker. There is no sync. In order for you to get a sync you have to enable the LMDB collections.

[2020-01-14 13:24] #2238 closed, assigned to zimmerle

[2020-01-14 13:25] zimmerle commented on #2237
Is that happening within v3.0.3? is a new issue related to v3.0.4?

[2020-01-14 13:29] zimmerle commented on #2233
Currently, ModSecurity does not support WebSockets requests.

[2020-01-14 13:29] #2233 closed, assigned to zimmerle

[2020-01-14 13:30] zimmerle commented on #2230
Hi @prince-java,

Is that actually an error or just a warning message?

[2020-01-14 13:34] zimmerle commented on #2223
The idea is that the parser state can be disabled or enable in run time. having said that, the parsed values may not be represented as the value could be changed later on. Same for the limits.

[2020-01-14 13:34] #2223 closed, assigned to zimmerle

[2020-01-14 13:37] zimmerle commented on #2220
Hi @nakacya,

Can you create a minimalist ruleset to test such functionality?

[2020-01-14 13:37] #2185 closed, assigned to zimmerle

[2020-01-14 13:39] dto20 commented on #2237
It's 3.0.4 I think. I am just cloning v3/master and building from source in my docker file.

[2020-01-14 13:39] #2218 closed, assigned to zimmerle

[2020-01-14 13:40] #2168 closed, assigned to zimmerle

[2020-01-14 13:54] prince-java commented on #2230
@zimmerle
Thank you for reply.It's just a warning message,such as:
`/usr/include/apr-1/apr_file_info.h:336:27: note: expected ‘const char **’ but argument is of type ‘char **`

[2020-01-14 14:22] zimmerle commented on #2230
That is not comfortable, however I believe it to be quite common in v2.x.

[2020-01-14 14:22] #2230 closed, assigned to zimmerle

[2020-01-14 14:55] otaconix commented on #2052
@nflorian I believe @victorhora means you actually disable rule 200002 by doing something like this:
[code]

Followup question to @victorhora: from a cursory look at the code, the fact that the body could not be parsed as valid JSON does not impact the processing of any rules that check the body contents. Is that a correct assessment?

For other readers of this issue: that would mean that disablin

[2020-01-14 17:13] nasirbas1 commented on #2238
@zimmerle @martinhsv Guys Why is it that even after hours of blocking , some requests from **blocked IP** still manage to go through?

Memory is independent per worker that is fine. The communication take place between all workers at intervals with **SMDB** which contains the entry of IPs blocked ? This should take some time, which is okay . But some requests from IPs still manage to go through af

[2020-01-15 03:10] nakacya commented on #2220
Hi @zimmerle

How simple rules are suitable?

[code]

Ummmmmmm…….

[2020-01-15 14:59] nasirbas1 opened #2240 "LMDB installed perfectly but its not showing up in working"
Hi @zimmerle ,

For persistant collections, we recompiled modsecurity with lmdb flag after installing lmdb,
and the installation worked perfectly fine and lmdb showed up in the installed packages after
running the
**./configure --with-lmdb** script

However lmdb is not working. Its not showing up in logs, nor are there any errors anywhere. Is there
any way to verify the installation .

Also for **

[2020-01-15 16:35] dto20 commented on #2237
I've done some further troubleshooting. If I change `SecRuleEngine` to  `DetectionOnly` the audit logging works. If I then change it to `On` it only logs in the nginx error log, I'm still unsure as to why.

[2020-01-15 17:14] n0tabot opened #2241 "Something about performance loss"
Hi，
I deployed nginx1.16 as a proxy with modsecurity v3.0.3  and OWASP-CRS. And I ran a performance test on it with Jmeter.
When i switched off the modsec, the throughput was about 1500/sec，and when i turned it on, the throughput was only 800/sec, while doubled the response time.
I wander is it common that the modsec would loss 50% throughput or QPS, or there was something i should configure nginx

[2020-01-15 18:11] blaksec opened #2242 "F-Secure marks modsecurity-v3.0.4.tar.gz as infected by VEX.Webshell (Malware.HTML/Infected.WebPage.Gen2)"
F-Secure marks modsecurity-v3.0.4.tar.gz as infected by VEX.Webshell (Malware.HTML/Infected.WebPage.Gen2)

See https://www.virustotal.com/gui/file/b4231177dd80b4e076b228e57d498670113b69d445bab86db25f65346c24db22/detection

EDIT: This might have something to do with the fact that xss-html5secorg.txt and xss-xenotix.txt carry various signatures. Still would be nice to get a sign-off from the Mod Sec

[2020-01-15 23:46] nakacya commented on #2220
I repeated the test.

When `SecRuleEngine DetectionOnly` was selected, it was confirmed that auditlog was output even in the following cases.

When `SecRuleEngine On` was Not Output a auditlog

[code]

config
[code]

[2020-01-16 11:20] nasirbas1 commented on #2240
@brenosilva @victorhora @chaizhenhua @p0pr0ck5
Can anyone please look into the issue

[2020-01-16 12:01] zimmerle commented on #2241
Hi @n0tabot,

It is expected to have a performance loss, that is proportional to the loaded rules. You can have more information on the performance impact by looking at: https://github.com/defanator/modsecurity-performance

[2020-01-16 12:01] #2241 closed, assigned to zimmerle

[2020-01-16 12:05] zimmerle commented on #2240
Hi @nasirbas1,

Please make sure that nignx/connector is using the library that you have compiled with lmdb support. It is very likely that your webserver/connector is using the old library.

[2020-01-16 12:05] #2240 closed, assigned to zimmerle

[2020-01-16 13:16] nasirbas1 commented on #2240
@zimmerle for the leakage part will requests from blocked IP's stop leaking through with **lmdb** because with **smdb** even after hours of blocking some of the request still go through.

[2020-01-16 13:50] zimmerle commented on #2240
@nasirbas1 the manner to block the request (timeout, number of attempts, block time, etc...) should consider that the counter increment is not atomic. There may be a difference from multiprocess sync.  Regardless, from my experience, the lmdb sync is quite fast. 1 hour without a sync, sounds to me that you are still using the memory collection still.

Regardless, if your intention is to block a gi

[2020-01-16 17:22] amelroua opened #2243 "ModSecurity cannot consider the defined security rules"
I installed Modsecurity in nginx but when I test the following basic rule:
SecRule ARGS:testparam "@contains test" "id:1234,deny,status:403"
the output of the test :
curl localhost?testparam=test
the result should give 403 status. However,
I get : <html>
<head><title>301 Moved Permanently</title></head>
<body bgcolor="white">

[2020-01-17 11:50] nasirbas1 commented on #2240
@zimmerle
Regarding your earlier comment
**"Please make sure that nignx/connector is using the library that you have compiled with lmdb support. It is very likely that your webserver/connector is using the old library."**

I don't thinks this is the case , I removed all the symlinks and folders , basically recompiled everything and its still not working . I think it has taken up the storage mode ,

[2020-01-17 12:00] nasirbas1 commented on #2243
@amelroua Try setting phase:1 to the last part . Can you also please attach the modsec debug logs against this request

[2020-01-17 12:17] zimmerle commented on #2240
you can enable ModSecurity debug logs. You will see the actual value of each variable upon resolution time. you can also set the numbers of workers to 1 to test if the problem is within the workers sync.

[2020-01-17 12:20] zimmerle commented on #2243
Hi @amelroua,

You have to identify if this 301 happens before the ModSecurity inspection. Or if it is a consequence of the 403. What happens if you try the **curl** without ModSecurity?

[2020-01-17 12:28] nasirbas1 commented on #2240
@zimmerle  So I have already turned the debug logs at level 9. Its correctly setting the variable , but I think its not able to persist it to the **lmdb** because on the very next request the value previously set in the variable is blank .... The same works perfectly, when I compile it with **smdb** . There seems to be no entry in the logs related to the persistance of values to lmdb

[2020-01-17 12:31] zimmerle commented on #2240
if you don't have multiple workers nor restart the webserver the value should be persistent regardless of the collection backend. Can you share the rules that you are using?

[2020-01-17 12:41] nasirbas1 commented on #2240
@zimmerle I do have multiple workers Please find below the rules

**Initialize IP Collection using the IP address which comes as True-IP from load-balancer**

SecRule REQUEST_HEADERS:True-IP "^\b(\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\b" "id:660001,phase:1,t:none,pass,log,capture,setvar:tx.client_ip=%{tx.1}"
SecAction "phase:1,nolog,pass,initcol:ip=%{tx.client_ip}"

 **logic to block any ip basically

[2020-01-17 13:00] zimmerle commented on #2240
What is the patch to your lmdb file? is it consistent? can you keep only a single worker for testing?

[2020-01-17 13:09] nasirbas1 commented on #2240
**SecDataDir /etc/nginx/modsec/storage/**

_Have added all the permissions , so the user has all the permissions to write to this folder_

If you meant version its **2.9.1**

   **+ LMDB                                          ....found v2.9.1
      -llmdb  , -DWITH_LMDB**

P.S. Apart from ._/configure --with-lmdb_ & _SecDataDir /etc/nginx/modsec/storage/_ , do we need to do anything else to turn

[2020-01-17 13:55] zimmerle commented on #2240
please check the content and size of the files....

[2020-01-17 13:56] nasirbas1 commented on #2240
@zimmerle which files ... the ones which **lmdb** is supposed to create ?
like ip.pag and ip.dir ? If so no such file exists

[2020-01-17 14:05] zimmerle commented on #2240
So, the support to lmdb does not seems to be enabled. let's figure out why....

Please paste the results of:
[code]

(change the path to nginx binary to match to your installation)

[2020-01-17 14:17] nasirbas1 commented on #2240
_ldd /usr/local/nginx/sbin/nginx_   returned this

**[root@ip-10-0-1-242 sbin]# ldd /usr/local/nginx/sbin/nginx
	linux-vdso.so.1 =>  (0x00007ffd07db5000)
	libdl.so.2 => /lib64/libdl.so.2 (0x00007f84ff51c000)
	libpthread.so.0 => /lib64/libpthread.so.0 (0x00007f84ff300000)
	libcrypt.so.1 => /lib64/libcrypt.so.1 (0x00007f84ff0c9000)
	libpcre.so.1 => /lib64/libpcre.so.1 (0x00007f84fee67000)
	libz.so.1

[2020-01-17 14:20] zimmerle commented on #2240
how have you compiled the connector?

[2020-01-17 14:30] nasirbas1 commented on #2240
@zimmerle **I didn't find instructions to compile the connector anywhere**
We have used the below steps for compilation

**Step 1** -> _Installing dependencies_
apt-get update && apt-get install -y automake bison build-essential g++ gcc libbison-dev libcurl4-openssl-dev libfl-dev libgeoip-dev liblmdb-dev libpcre3-dev libtool libxml2-dev libyajl-dev make pkg-config zlib1g-dev

**Step 2** -> _Compil

[2020-01-17 14:39] nasirbas1 commented on #2240
@zimmerle **I didn't find any instructions to compile the connector anywhere**
_We have used the below steps for compilation_

**Step 1 -> Installing dependencies**
apt-get update && apt-get install -y automake bison build-essential g++ gcc libbison-dev libcurl4-openssl-dev libfl-dev libgeoip-dev liblmdb-dev libpcre3-dev libtool libxml2-dev libyajl-dev make pkg-config zlib1g-dev

**Step 2 -> Compi

[2020-01-17 15:27] amelroua commented on #2243
Yes, the curl without modsecurity gives the same 301 status.

[2020-01-17 15:43] airween commented on #2240
I think that's a wrong way, LMDB was linked to libmodsecurity, not for the Nginx or the Nginx module.

You can check that is linked or not with this command:
[code]
and you have to see something like this:
[code]
If the output of the command is empty, that means lmdb wasn't linked to libmodsecurity.

[2020-01-17 15:46] nasirbas1 commented on #2240
@airween How is the linking to be done ?

[2020-01-17 15:56] airween commented on #2240
You don't need to care with linking, if you pass the `--with-lmdb` the build system will do that.

What's the output of the command above?

[2020-01-17 16:00] nasirbas1 commented on #2240
@airween I did run the configure script with **lmdb** flag and this is the complete output

checking for a BSD-compatible install... /bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... /bin/mkdir -p
checking for gawk... gawk
checking whether make sets $(MAKE)... yes
checking whether make supports nested variables... yes
checking for g++... g++
c

[2020-01-17 16:07] airween commented on #2240
Please, run this command, and share with us the result:

[code]

I assume your path is `/usr/local/lib/libmodsecurity.so` or `/usr/local/modsecurity/lib/libmodsecurity.so`. If you aren't sure, try this: `find /usr -name "libmodsecurity.so"`.

[2020-01-17 16:12] nasirbas1 commented on #2240
@airween

ldd /usr/local/modsecurity/lib/libmodsecurity.so | grep lmdb

**liblmdb.so.0.0.0 => /lib64/liblmdb.so.0.0.0 (0x00007f40147b3000)**

[2020-01-17 16:22] airween commented on #2240
Right, this means that the lmdb was successfully linked to your library.

Have you seen the `modsec-shared-collections` and `modsec-shared-collections-lock` files in your filesystem? Use the find command: `find / -name "modsec-shared-collections"`. What's this output?

[2020-01-17 18:22] nasirbas1 commented on #2240
@airween The command dumped following output

**/etc/nginx/production/modsec-shared-collections
/etc/nginx/modsec/modsec-shared-collections
/etc/nginx/modules/modsec-shared-collections
/etc/nginx/modsec-shared-collections
/etc/nginx/modsec-shared-collections
/etc/modsec-shared-collections
/root/modsec-shared-collections
/opt/nginx-1.16.1/modsec-shared-collections
/modsec-shared-collections**

[2020-01-17 18:33] airween commented on #2240
Well, that's a very impressive list :).
Which one is the last modified? Could you rename all of them (eg. modsec-shared-collections to modsec-shared-collections.bak), and restart your nginx? Then try to find this file again. IMHO only one file used...

[2020-01-17 18:34] z0r0 opened #2244 "Fix Documentation link for 3.x reference manual."
Hello, in trying to access the reference manual for 3.x, it appears to be unavailable. The link on the [wiki](https://github.com/SpiderLabs/ModSecurity/wiki) points to an unavailable page for the 3.x [reference manual](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v3.x%29)

[2020-01-18 07:32] nasirbas1 commented on #2240
@airween , So I renamed all the **modsec-shared-collections** and **modsec-shared-collections-lock**
files . After restarting nginx it created a **modsec-shared-collections** file again in **' / '** **_(root)_** directory. How is this information to be used ? Because **LMDB** is still not working

[2020-01-18 07:34] nasirbas1 commented on #2243
@amelroua So **301**  is not because of modsecurity. Check your debug logs against this request . You will get a fair idea what is happening

[2020-01-18 07:34] nasirbas1 commented on #2243
@amelroua  So **301** is not because of modsecurity. Check your debug logs against this request . You will get a fair idea what is happening

[2020-01-18 08:31] airween commented on #2240
If the `modsec-shared-collections` file created after the nginx restart, then it means libmodsecurity **uses** it. You can check it some other way, eg. see the date of file after you sent a request which forces the engine it use the collection (through any rule), eg `IP`, ...

If it doesn't **work** that means your rules aren't doing what you expect.

[2020-01-18 10:13] nasirbas1 commented on #2240
@airween What is the relation between **modsec-shared-collections**  and **LMDB** storage ? I saw
in articles that  modsecurity creates **ip.pag** & **ip.dir** files for storage _(the path to which is defined in **SecDataDir**)_

**ALSO Observations after running requests**

**1️⃣** On every such request which reads values from collection, the **modsec-shared-collections-lock** files gets updated