[2020-08-17 11:14] ibsteklodom opened #2384 "Jitsi meet and REQUEST-941-APPLICATION-ATTACK-XSS"
We have nginx proxy server with nginx-modsecurity. [Jitsi](https://jitsi.org) installed behind this proxy. It is in the nginx logs:
1) _Aug 17 08:34:24 nginx-01 nginx: 2020/08/17 08:34:24 [info] 32747#32747: *685627 ModSecurity: Warning. Matched "Operator `Rx' with parameter
`\xbc[^\xbe>]*[\xbe>]|<[^\xbe]*\xbe' against variable `XML:/*' (Value:
`\xd0\x92\xd1\x8b\xd0\xba\xd0\xb8\xd0\xb4\xd1\x8b\xd0

[2020-08-17 12:27] zimmerle commented on #2384
Hi @ibsteklodom this is very likely to be a false positive. That is not really a ModSecurity issue, is more likely to be a issue with the rule set that you have loaded. Said that, the better place to have this issue is within the rule set repository.

[2020-08-17 12:27] #2384 closed, assigned to zimmerle

[2020-08-18 07:01] ibsteklodom commented on #2383
I found a way to transfer modsecurity logs to OSSIM.

1) I created file /etc/rsyslog.d/modsecurity.conf on host with modsecurity and reboot service rsyslog. Config:
$ModLoad imfile
$InputFileName /var/log/modsec_audit.log
$InputFileTag modsecurity:
$InputFileStateFile modsec_audit_log
$InputFileSeverity info
$InputFileFacility local6
$InputRunFileMonitor
*.*  @@OSSIM IP

2) On side ossim create /e

[2020-08-18 11:29] zimmerle commented on #2383
Hi, @ibsteklodom

You may need an specific parser for version 3. Notice that version 3 is capable to output logging is json format. This json format can be easily parsed.

[2020-08-18 20:54] drmuey opened #2385 "configure flags that do not work or are missing"
**Describe the bug**

We have some libraries that are in non-standard locations we want to build with.

So for example, I can have `--with-libxml=<PATH>` and `./configure` uses it correctly and `make` has it as well.

Other flags have issues:

1. --with-libcurl=… is ok in `./configure`  but then `make` does not have it and then fails w/ can’t find `curl/curl.h` even though the path output by confi

[2020-08-19 23:26] zimmerle commented on #2385
**libModSecurity** _configure_ script is meant to configure the build options for the libModSecurity only. Things that aren't dependencies or options for ModSecurity are labeled as **unrecognized option**. That is the case for the option ```--with-brotli```. Internally, libModSecurity does not make usage of _brotoli_, therefore configure does not recognize it as a valid option. The same is also tr

[2020-08-20 18:54] drmuey commented on #2385
Thanks @zimmerle  👍

[2020-08-20 19:16] drmuey commented on #2385
looking a bit deeper on the non-curl ones:

If I `ldd libmodsecurity.so.3.0.4` I get this:

C7:

* `libcrypto.so.10` and `libssl.so.10` comes from `openssl-libs-1:1.0.2k`
* indeed does not have nghttp or brotli

C8:

* has `libcrypto.so.1.1` and `libssl.so.1.1` from `openssl-libs-1.1.1`
* has `libnghttp2.so.14` from `libnghttp2`
* has `libbrotlidec.so.1` and libbrotlicommon.so.1 from `brotli`

So

[2020-08-20 19:38] drmuey commented on #2385
Actually I wonder if the openssl issue would go away too w/ the libcurl option being fixed since our libcurl also builds against our openssl 🤔

[2020-08-20 20:18] zimmerle commented on #2385
Yes, the _OpenSSL_ is a dependency that came from _libcurl_ the **ldd** is not only showing the dependencies form ModSecurity but also the dependencies of the dependencies. At run time, as the process resides in the same memory space, the _OpenSSL_ needs to be the same for **ModSecurity**, **libcurl**, and the **webserver**.

Compile with one version and use another one in run time can get you in

[2020-08-20 21:30] drmuey commented on #2385
Yeah thanks, that is inline with me thinking that if `--with-curl` worked the rest would fall in place 👍

[2020-08-20 21:35] zimmerle commented on #2385
Can you paste here the content of the folder: ```<CURL PATH>/include```  ?

[2020-08-20 21:54] drmuey commented on #2385
you bet @zimmerle !

[code]

[2020-08-21 05:49] altmas5 commented on #2300
Hi, same issue, this are the versions:
[code]

[2020-08-21 15:52] sina-grz opened #2386 "Unable to retrieve collection"
i am running a httpd(apache2) image on docker
the problem is mod security cannot cash objects so i cant use indexer or counter to use in my rules
this is a simple log off a simple get request where i have configed in a location scope
[code]
[code]
does it need any especial config to store object in memory?

i also tried to use SecDataDir but i got permission denied stuff which it seems doesnt have

[2020-08-21 17:13] zimmerle commented on #2386
Hi @sna-king

Within v2 it is possible to have persistent collections. They work via **sdbm**. The communication in between different process (and/or threads) happens via a file managed via **sdbm**. Without the file won't be communication in between the threads therefore the functionality will not work to satisfaction.

Please review your docker configuration and make sure that the **sdbm** files

[2020-08-21 17:13] #2386 closed, assigned to zimmerle

[2020-08-22 10:12] sina-grz commented on #2386
i havnt found any thing about dbm and sdbm configs in docker

`[Sat Aug 22 10:10:12.465295 2020] [:error] [pid 11:tid 140217980487424] [client 127.0.0.1:38304] [client 127.0.0.1] ModSecurity: collection_store: Failed to access DBM file "/usr/local/apache2/logs/data/daemon-resource": Permission denied [hostname "localhost"] [uri "/index"] [unique_id "X0DvBKl@v3PoFyiZrWSEWgAAAIA"]`

what about the s

[2020-08-22 13:56] sina-grz commented on #2386
problem solved in alternative way:
-------
i haven't found any solution to store collections in memory but i have fixed it by giving SecDataDir a folder with full access for any body in my case because i have used a directory witch was inside a parent directory created by httpd apache image (usr/local/apache2/*)

using data session file and handling this variable in a file is not good and optimize

[2020-08-24 11:50] zimmerle commented on #2386
Hi @sna-king, is the same thing for logging; If you try to save it in a folder that you don't have permission ModSercurity will fail to save the file. Regardless being in the container or not, ModSecurity will respect the permission on the file system.

[2020-08-28 16:02] martinhsv commented on #2344
Just to wrap up one aspect discussed in this ticket:  This was discussed further offline and there is no evidence that this particular issue can result in a memory overwrite or a crash.

The non-sanitization that was confirmed on July 10, however, is a legitimate issue.

[2020-08-28 17:57] martinhsv commented on #2357
Just to add a little bit of extra information ...

There are actually two escaping subcases here:
1) If an rx pattern contains both static content and macro expansion content (e.g. "@rx a(b|c)d%{TX.MyCustomVar}", in v2.9 regex special characters in _both_ the the macro value and the static portion 'a(b|c)d' will have the special characters escaped.  This was in the example in the original posting

[2020-08-28 18:03] #2362 closed, assigned to nobody

[2020-09-01 10:46] LDR0305 opened #2388 "how make my modsecurity send log to syslog"
Hello,
how make my modsecurity send log to syslog,
thank you.

[2020-09-01 10:49] LDR0305 commented on #2388
Can you answer me in detail

[2020-09-01 14:28] denity opened #2389 "There may be a mispell in src/engine/lua.cc"
In src/engine/lua.cc, on row 158.

Compared to the previous version is '#ifndef WITH_LUA_5_1' and the latest version is '#if defined(WITH_LUA_5_1) and !defined(WITH_LUA_5_4)', which will break the configure progress on Lua 5.1.

[2020-09-02 04:04] LDR0305 commented on #2388
modsecurity-v3

[2020-09-02 11:19] zimmerle commented on #2389
Hi @denity

I will have a look at it. That change was made to support 5.4. Going to fix it.

[2020-09-02 12:18] marcstern commented on #2357
Very good analysis @martinhsv.
I'm happy to see that V3 behaves the non-escaped way.

[2020-09-02 15:05] ChrisBurgdorff opened #2390 "IIS Missing GeoIP and optional Dependencies?"
Does IIS on Windows support the GeoIP Dependency for ModSecurity?

Hi,
I'm not sure if this is the write place to post this, but I have IIS 8 running on Windows Server 2012 with ModSecurity IIS 3 installed. It works, however I can't seem to use the GeoIP dependency (which is listed as optional for Linux). Here is the output from dumpbin.exe:

Dump of file ModSecurityIIS.dll

File Type: DLL

  Imag

[2020-09-02 15:42] zimmerle commented on #2390
Hi @ChrisBurgdorff

Can you share more details on how you got this ModSecurity installed?  It was the MSI that we have available here? or other source?

[2020-09-02 16:35] sina-grz opened #2391 "REMOTE_ADDR variable or initcol action doesn't work probably"
im trying to set up a simple anti ddos rule
like:
[code]

at first it seams fine and evrything work well , when i reach max limit for my ip in Chrome browser it blocked me and let me pass after 10 sec passed, if i try to connect to server with diffrent browser like firefox i can access server till i reach the max rate with firefox or curl actually it seems it doesn't work with ip ,it more using he

[2020-09-02 16:37] sina-grz commented on #2391
![image](https://user-images.githubusercontent.com/22452466/92011355-3597b700-ed60-11ea-9896-6533d9892464.png)
more friendly log

[2020-09-02 22:08] drmuey opened #2392 "`SecAuditLogStorageDir` behavior change from 2.9 to 3.x"
**Describe the bug**

Given identical configuration (see the last section of the post for details) for Apache and mod sec 2 and thenginx connector and mod sec 3.0 `SecAuditLogStorageDir` behaves this way:

1. Apache logs to `$SecAuditLogStorageDir/<USER>/YYYYMMDD/…`
2. nginx logs to `$SecAuditLogStorageDir/YYYYMMDD/…`

**To Reproduce**

1. configure an Apache machine like below
2. configure an ngi

[2020-09-02 22:59] zimmerle commented on #2392
Hi @drmuey

Per se, the fact that the behavior has been changed does not characterize a malfunction. Is there a problem by having the directory with/without the user name?

[2020-09-03 07:42] ChrisBurgdorff commented on #2390
I think it was through the Web Platform Installer in IIS actually.

[2020-09-03 15:58] drmuey commented on #2392
It feels like it does if the same config behaves differently when 3.0 is supposed to mostly operate the same as 2.9. For example, if X is not supported in 3.0 that is one thing but if 2.9 has X and 3.0 has X they should work the same.

Yes, the data is no longer organized per user so its impossible (¿really hard?), for example, to have an interface that shows a given user’s data.

People and tools

[2020-09-03 16:04] drmuey commented on #2392
Another interesting behavior change, which I feel like was a bug fix in 3.0, is what it does when a rule is hit:

For example, using the identical config in the OP, say I trip rule `949110`:

- on 2.9 I get a 403, and the request still happens (php is processed), and its logged as a warning
- on 3.0 I get a 406, the request does not happen (content is 406 error), and it is logged as an error

Was

[2020-09-03 19:48] zimmerle commented on #2392
@drmuey

Here is an explanation why v3.0 was created -
http://blog.zimmerle.org/2016/01/an-overview-of-upcoming-libmodsecurity.html

As you may have noticed, part of the original motivation was to change some behaviors that were not so intuitive; These no so intuitive things were, mostly, consequence of a technical limitation imposed by the technology behind v2.0 creation. Initially the intention

[2020-09-03 19:59] drmuey commented on #2392
Thanks @zimmerle much appreciated!

Here is the some info you rquested:

* There is no chroot happening on these boxes.
* The config in the original post I truncated the rule includes but everything else is accurate for both Apache and NGINX.
* Here are the actual rule includes (those files are from OWASP CRS v3.3.0 with no modifications):

**Apache**:

[code]

**NGINX**:

[code]

[2020-09-07 01:23] sule01u opened #2395 "Under high concurrency condition, the DOS count reaches the block value without successful block"
I used WRK tests to block requests up to three times the DOS block value
I use curl to initiate loop requests, which can be counted and blocked

[2020-09-08 12:24] zimmerle commented on #2395
Hi @BigTree975

What is your ModSecurity version? is it running on Apache, NGINX, others? What are the rules that you have running to protect against DOS?

[2020-09-08 12:29] zimmerle commented on #2392
@drmuey how your Apache is running under different usernames?

[2020-09-08 12:58] drmuey commented on #2392
We set `SecAuditLogStorageDir <dir>` and `SecAuditLogType Concurrent` when under mod_ruid2 or ITK which would then be configured in a vhost with`RUidGid <user> <group>` or `AssignUserID <user> <group>` respectively.

[2020-09-08 18:15] zimmerle commented on #2392
How have you mimic the behavior of **RUidGi** and **AssignUserID** on the nginx environment?

[2020-09-09 13:04] drmuey commented on #2392
🤦 of course … nginx doesn’t have a mechanism for that, derp. I forgot that ruid2 is enabled by default in our default profiles.

Still, mod sec 2.9 when I take that part away from apache (no ruid2 or itk) Concurrent logs go to `$SecAuditLogStorageDir/nobody` and not `$SecAuditLogStorageDir`.

[2020-09-09 18:20] hazardousmonk commented on #2300
Same issue. Is it fixed in the new version?

[code]

[2020-09-09 19:24] jeremyjpj0916 opened #2397 "Looking for permission to mention ModSecurity logo in conf talk"
We have been leveraging ModSecurity v3 on nginx for awhile (its why you have seen me raise issues + pr's here and in the nginx bridge repo).

We would like to give just a quick shout out to mod security opensource waf as well as the folks over at OWASP CRS(we got their permisison already for their logo use).

We were hoping to include this in a slide:

![image](https://user-images.githubuserconten

[2020-09-10 08:33] sule01u commented on #2395
I don't know whether this problem belongs to ModSecurity or Coreruleset, I hope to get help

nginx 1.16.0
modsecurity v3
coreruleset v3.3

[code]

[REQUEST-912-DOS-PROTECTION.conf.txt](https://github.com/SpiderLabs/ModSecurity/files/5200206/REQUEST-912-DOS-PROTECTION.conf.txt)

[2020-09-10 13:21] zimmerle commented on #2397
Hi @jeremyjpj0916

Glad to hear that you want to promote ModSecurity. I do not have the authority to make such authorization, but I can connect you to the right pears. Do you mind dropping me an email at fcosta@trustwave.com ?

[2020-09-10 13:21] #2397 closed, assigned to nobody

[2020-09-10 13:34] zimmerle commented on #2395
@BigTree975

That is a tricky question. The request count is not precise. There are two different back-ends in ModSecurity for collections: **LMDB** and **in-memory**. The first provide inter communication in between the different process/threads/works. The second is per worker. Having said that, the first thing to be checked is what back-end have you selected. You can discover the back-end by hav

[2020-09-10 13:34] #2395 closed, assigned to zimmerle

[2020-09-10 13:38] zimmerle commented on #2392
@drmuey I am facing some issues to reproduce such scenario on a plain Apache with a plain ModSecurity. I am wondering, if by any chance, you have a custom Apache or even a custom configuration to address that particular behavior. If not ruid2, maybe something else?

Could you share the peculiarities of your environment?

[2020-09-10 14:35] ledzepp4eva opened #2398 "Variable for DetectionOnly and On"
Hey,
Not really a bug request more a question if at all possible.

Is there a way to log a variable with a rule that tells me if the mode is DetectionOnly or On

For example like:
`logdata:'Matched Data: %{TX.0} found within %{MATCHED_VAR_NAME}: %{MATCHED_VAR}`
Or using
`tag:'attack-rfi',`

But tag with a variable that returns the status of SecRuleEngine

I think it would useful so we can see just

[2020-09-10 15:36] jeremyjpj0916 commented on #2397
Doing so now, thanks.

[2020-09-10 20:37] drmuey commented on #2392
Sure @zimmerle, basically on a cPanel box:

1. `ea_install_profile --install /etc/cpanel/ea4/profiles/cpanel/default.json` (essentially what a fresh box already has)
2. `yum erase -y ea-apache24-mod_ruid2`

Do you happen to have access to a cPanel box? If not, a development license might be just the thing :) https://cpanel.net/developer-license-app/

We do patch mod security 2.9 and Apache 2.4 but

[2020-09-11 07:54] sule01u commented on #2395
Thank you very much for your answers !

[2020-09-11 09:42] dl213 commented on #2388
I am looking for this solution too, no detail guide for this on nginx with modsecurity

[2020-09-14 14:12] drmuey opened #2400 "SecRuleScript “Example Usage” errors w/ “directive Rule id: 0 is duplicated”"
**Describe the bug**

https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecRuleScript

`nginx -t` and `httpd -t` both error w/ `directive Rule id: 0 is duplicated`

**To Reproduce**

Steps to reproduce the behavior:

0. include OWASP3 rules (v3.3.0 ATM)
1. Configure `SecRuleScript` w/ an action of `"block"` like the doc example
2. nginx -t == `directive Rule id: 0 is dupli

[2020-09-14 18:21] zimmerle opened #2401 "ModSecurity, Regular Expressions and Disputed CVE-2020-15598"
There is a dispute around the CVE-2020-15598.

OWASP CRS made their claims here: https://coreruleset.org/20200914/cve-2020-15598/

ModSecurity position is detailed here: https://www.trustwave.com/en-us/resources/blogs/spiderlabs-blog/modsecurity-regular-expressions-and-disputed-cve-2020-15598/

[2020-09-15 08:44] xx-zhang opened #2402 "modsec_audit.log not show when i make the SecRuleEngine On"
**Describe the bug**

A clear and concise description of what the bug is.

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
 2. AuditLogs
 3. Error logs
 4. If there is a crash, the core dump file.

**there is no any modsec_audit.log and modsec_debug.log . and when i set SecRuleEngine  DetectOnly, it will show.**

_Notice:_ Be carefully to not leak any confidential information.

**To Reprodu

[2020-09-15 22:11] martinhsv commented on #2402
Hi @xx-zhang ,

I'm not entirely sure I understand what problem you are describing.  In particular, I don't know what you mean by "and when i set SecRuleEngine DetectOnly, it will show."

Nevertheless, I'll try to provide you with a few tips/suggestions:

1) if there is no modsecurity debug file at all, it probably means one of A) you don't have SecDebugLog specified, which is usually done in your

[2020-09-16 04:25] xx-zhang commented on #2402
i have make modsecurity-v3.0.4 -> 3.0.3 and or the config is the same. then have solved that problem . thank you. i think maybe someone else will meeting the same problem. then i will come to see .

[2020-09-16 04:25] #2402 closed, assigned to nobody

[2020-09-17 11:45] HL123 opened #2403 "undefined reference to 'lua_pcallk'..."
**Describe the bug**

I will use modsecurity( support lua) .when i do "make ", modesecurity will error as follow:

../../src/.libs/libmodsecurity.so: undefined reference to `lua_pcallk'
../../src/.libs/libmodsecurity.so: undefined reference to `lua_getglobal'
../../src/.libs/libmodsecurity.so: undefined reference to `lua_setglobal'

When i have doen this
1、upload LuaJIT-2.0.2.tar.gz
2、tar -zxvf Lu

[2020-09-17 12:44] zimmerle commented on #2403
What is likely to be happening is that you are having a conflict of Lua versions. One version is used during the compilation, and a second version is being used on run time. Is that a reason why you keep three different Lua versions on the machine?

[2020-09-18 00:46] HL123 commented on #2403
the  lua 5.2 was default on  suse linux，

the LuaJIT-2.0.2 was i install, while i cannot compile rightly.

so i have install the lua53-devel-5.3.4-lp152.4.112.x86_64.rpm, and the modsecrity can execute "./configure " but execute "make and make install " show error .

OR  I don't know how to  reference the version .  can you help me ,which step i can do . Or where have a tutorial ?

Thank you very

[2020-09-18 11:31] MapTracy opened #2404 ""SecRuleEngine On" No message in audit log"
hi
i'm using modsecurity-v3.0.4 Release . When i use DetectionOnly mode, there are messages in auditlog. When i use "SecRuleEngine On" , there are no messages in auditlog, even if the rule is trigged. But i can find the record in nginx's error.log

and here is my modsecurity.conf

SecAuditEngine RelevantOnly
SecAuditLogRelevantStatus "^(?:5|4(?!04))"
SecAuditLogParts ABCDFHZ
SecAuditLogType Concur

[2020-09-21 02:56] LubinLew opened #2405 "parameters --with-lua not work"
**ENV**
CentOS 7.8 (3.10.0-1127.13.1.el7.x86_64)
[ModSecurity v3.0.4](https://github.com/SpiderLabs/ModSecurity/releases/tag/v3.0.4)
[Lua v5.3.5](https://www.lua.org/ftp/lua-5.3.5.tar.gz)
[libmaxminddb v1.4.3](https://github.com/maxmind/libmaxminddb/releases/tag/1.4.3)

**Problems**
I built lua(make local) and libmaxminddb(local prefix) in local directory,
 I try use --with-lua --with-maxmind to c

[2020-09-21 08:12] ghost opened #2406 "error: 'LUA_ERRGCMM' was not declared in this scope case LUA_ERRGCMM"
Compilation error on centos7.7

`engine/lua.cc: In member function 'int modsecurity::engine::Lua::run(modsecurity::Transaction*, const string&)':
engine/lua.cc:160:18: error: 'LUA_ERRGCMM' was not declared in this scope
             case LUA_ERRGCMM:
                  ^
make[3]: *** [engine/libmodsecurity_la-lua.lo] Error 1
make[3]: Leaving directory `/www/ModSecurity/src'
make[2]: *** [all-recurs

[2020-09-21 11:40] zimmerle commented on #2405
Duplicate of #2403. Please, use v3.0.4 instead.

[2020-09-21 11:40] zimmerle commented on #2406
Duplicate of #2403. Please, use v3.0.4 instead.

[2020-09-21 11:42] zimmerle commented on #2405
The dup is actually #2389

[2020-09-21 11:42] zimmerle commented on #2406
The dup is actually #2389

[2020-09-21 13:20] zimmerle commented on #2389
Fixed by 377fb72

[2020-09-21 13:20] #2389 closed, assigned to zimmerle

[2020-09-21 13:23] #2406 closed, assigned to nobody

[2020-09-21 13:23] #2405 closed, assigned to nobody

[2020-09-21 13:26] zimmerle commented on #2403
Hi @HL123

We recommend you to choose one version of Lua to use. Once you have pick the version that you are going to use, we can identify what is going on. I recommend you to use the version that comes with the distribution. That way you avoid to have conflicting versions on runtime.

[2020-09-22 00:50] ChrisBurgdorff commented on #2390
Hi,
It seems I had the path to the .db file formatted incorrectly. Once i fixed that it works.
Sorry. If anyone finds this, the path to the Geo DB file in Windows is written just like in linux.

[2020-09-22 00:50] #2390 closed, assigned to zimmerle

[2020-09-22 18:21] marcstern opened #2407 "Memory leak in msc_pregcomp_ex"
apr_pool_cleanup_register() is called at the very end of the function.
In case any problem occurs (e.g., regex cannot compile) we return immediately, so the cleanup is never performed.

apr_pool_cleanup_register() should be called right after calling pcre_compile() to cleanup memory allocated by pcre.

[2020-09-23 08:50] marcstern opened #2408 "Incorrect cleanup?"
hook_post_config() is called twice: once during config check, once during real load.
In hook_post_config(), we call modsecurity_init() only on the real load. However, apr_pool_cleanup_register() is always called. This leads to calling module_cleanup() and modsecurity_shutdown() also called during config check.
Although modsecurity_shutdown() does nothing (for the moment), I think it's a mistake an

[2020-09-23 12:21] zimmerle commented on #2407
@marcstern Please mention the code part here.

Usually when a regex is not compiled ModSecurity failed to start, the process die and the kernel will free-up the memory resources. Whats leads you to believe that this is an issue?

[2020-09-23 12:25] zimmerle commented on #2408
@marcstern please cite the portion of the code that you are talking about.

ModSecurity v2 works as an Apache module, therefore it uses the life cycle of a module. The configure check is confusing but mandatory to be implemented in the module. Yes, all rules are loaded twice as needed in order to support the apache module schema. The Apache community maybe the one more suitable to discuss the beha

[2020-09-23 12:25] #2408 closed, assigned to nobody

[2020-09-24 11:38] marcstern commented on #2407
There's one case where we return before cleaning up.
It's in case of a memory allocation problem, so it should hopefully not happen often.
However, in the case we add another test in the middle (and we should probably add one with the fix https://github.com/SpiderLabs/ModSecurity/issues/610), we'll introduce a memory leak.

[2020-09-24 11:42] marcstern commented on #2408
Sorry for the confusion.
hook_post_config() in mod_security2.c is called twice. This is the normal behaviour.
My point is that apr_pool_cleanup_register() is called on the first time also, although modsecurity_init() was not called, so there's nothing to clean-up.
This doesn't pose a problem for the moment because the clean-up doesn't do anything. If we clean-up something, we'll ending in cleaning

[2020-09-24 15:15] snuffy1987 commented on #2360
Do you have status engine turned on? Are you able to resolve status.modsec.org from that host? Can you check with tcpdump port 53? Such behavior I encountered when I turned on modsec in an offline environment and it waited few seconds for response to status engine. It was not reachable of course. When I turned off status engine it worked fast again, because mod_sec was not resolving.

[2020-09-25 18:38] zimmerle commented on #2403
@HL123 closing the issue. I am assuming that you have it sorted. If not, please re-open.

[2020-09-25 18:38] #2403 closed, assigned to zimmerle

[2020-09-26 14:21] HL123 commented on #2403
ok thanks~~

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "SpiderLabs/ModSecurity"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年9月26日(星期六) 凌晨2:38
收件人:&nbsp;"SpiderLabs/ModSecurity"<Mo

[2020-09-27 10:57] welljsjs commented on #717
Facing the same issue - is there any update on this, did this ever receive some more attention?

[2020-09-28 03:35] xx-zhang commented on #2237
@averges i tryd flow to build modsecurity but no using. what's the mater.
[code]

modsecurity-7e0bc + modsecurity-nginx-v1.0.1

[2020-09-28 07:03] HL123 opened #2409 "modsecurity v3 ,Centos 7, the lua not work"
**Describe the bug**
i use nginx modsecurity ，want to support lua .while i have edit modsecurity.conf as follows

SecRuleScript "/usr/local/lua/exec.lua" "block"

OR

SecRule ARGS:testparam  "@contains test" "phase:2,id:113,pass,exec:/usr/local/lua/exec.lua,auditlog"

OR

SecRule ARGS:p attack "phase:2,id:113,block,exec:/usr/local/lua/exec.lua" .

the exec lua  as follows :

#!/usr/local/bin/lua
f

[2020-09-28 07:28] HL123 commented on #2409
i have know throw debug ,thanks .

and i will try do it .

[1601277762] [/?testparam=test] [2] Failed to execute lua script: /usr/local/lua/exec.lua (before main) - /usr/local/lua/exec.lua:20: attempt to index global 'file' (a nil value)

[2020-09-28 07:28] #2409 closed, assigned to nobody

[2020-09-29 09:37] LDR0305 opened #2410 "modsec's parser"
hello,can you tell me how the two files seclang-scanner.ll and seclang-parser.yy are compiled,I am currently working on related development,thank you very much.

[2020-09-29 09:38] LDR0305 commented on #2410
@zimmerle

[2020-09-29 11:28] LDR0305 commented on #2410
If compile directly with flex and bison, it will produce different results

[2020-09-29 11:29] LDR0305 commented on #2410
can you help me？

[2020-09-29 11:33] airween commented on #2410
[code]
I think this is what you want: `./configure --enable-parser-generation ...other-options...`

[2020-09-29 14:15] martinhsv commented on #2410
It does depend, at least, on which version of software was used.  I believe the current version of v3/master used bison v3.5.3.

You can try matching that version to minimize changes.  But, depending on what you're trying to do, you might not care that bison-generated code is different from what is in the ModSecurity depo.

[2020-09-29 14:55] martinhsv commented on #2398
Hi @ledzepp4eva ,

I'm not aware of a way to do that.

[2020-09-29 14:57] ledzepp4eva commented on #2398
Thanks okay. I just wanted to ask, just in case. :)

[2020-09-29 14:57] #2398 closed, assigned to nobody

[2020-09-29 16:35] martinhsv commented on #2388
Hi,

ModSecurity produces logging in nginx's error.log file.  If you want to send these log messages to syslog, nginx configuration does support that.  There are some instructions here:
https://docs.nginx.com/nginx/admin-guide/monitoring/logging/#syslog
http://nginx.org/en/docs/syslog.html

If you are instead inquiring about ModSecurity's audit log (typically called modsec_audit.log), I don't beli

[2020-09-30 06:21] LDR0305 commented on #2410
Thank you very much.
@martinhsv @airween

[2020-09-30 17:39] zimmerle commented on #2410
@LDR0305 are you willing to use the LALR to to a different scenario that is not modsec? By default we distribute that compiled, in our dev environments we generate it we avoid to generate on all compilation to avoid creating too many dependencies.

[2020-09-30 17:39] #2410 closed, assigned to nobody

[2020-09-30 20:56] welljsjs commented on #2041
This is still an issue for us, we're on e9dce44f6a51d4631f0f8c8587738abf55db48b1.

Sorry what exactly is the workaround @jptosso ?

[2020-10-01 14:33] chakir123123 opened #2411 "Libmodsecurity with the 4 paranoia levels"
Hi,
I want to test modsecurity in the four paranoia levels so I uncommented following rule in crs-setup.conf and I changed paranoia level  to 3 but when I tested I found in the modsec_audit.log tag paranoia level:2 and not 3.
I have installed modsecurity v3 with CRS v3.3.0
![Capture](https://user-images.githubusercontent.com/62439237/94823194-e054d100-0403-11eb-9763-376561aa93f6.PNG)
![Capture1](h

[2020-10-01 15:02] martinhsv commented on #2411
Hello @chakir123123 ,

In your paste of content from the modsec_audit.log, you have highlighted ' [tag "paranoia-level/2"] '.

The string output here is not the paranoia level that you have set in your SecAction directive.  Rather, it is the paranoia level of the rule.  If you have opted for a paranoia level of 3, you can see audit log output pertaining to rules from any of paranoia level 1, 2, or

[2020-10-01 15:24] chakir123123 commented on #2411
Hello @martinhsv , thank you very much for your quick reply.
Sorry, but I don't understand what I have to do to test modsecurity with the different levels?
I want to run a lot of attacks with the burp suite to see how modsecurity will react in the 4 levels.

[2020-10-01 15:43] martinhsv commented on #2411
You can test ModSecurity with the CRS rules by doing what you have done.  In your SecAction with id:900000, you can vary the paranoia level that you wish to set.

Just be aware that when you set a paranoia level, all of the rules at that level AND LOWER will be in effect.

If what you really want to do is, for example, have *only* the paranoia-level 3 rules active (and none of level 1,2, or 4 rule

[2020-10-01 15:43] #2411 closed, assigned to nobody

[2020-10-01 21:20] martinhsv commented on #2404
Hi @MapTracy ,

By 'modsecurity-v3.0.4 Release' you mean the official tagged version? -- either from an installed repo version, or if from github the tagged version ( https://github.com/SpiderLabs/ModSecurity/commit/753145fbd1d6751a6b14fdd700921eb3cc3a1d35 )

If you can see the expected output in the audit log when using DetectionOnly, but not when 'On' then that rules out several types of configu

[2020-10-02 20:41] martinhsv commented on #2380
Hello @HQuest ,

I have submitted a pull request in the connector code ( https://github.com/SpiderLabs/ModSecurity-nginx/pull/225 ) that should address the issue that you have raised here.

However, I have thus far not been able to test your particular deployment (I've had some trouble building quiche).  So, if you were interested in confirming these changes in your environment, that would probabl

[2020-10-05 06:37] rusk0 opened #2413 "message body size"
**Describe the bug**

A clear and concise description of what the bug is.

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
 2. AuditLogs
 3. Error logs
 4. If there is a crash, the core dump file.

_Notice:_ Be carefully to not leak any confidential information.

**To Reproduce**

Steps to reproduce the behavior:

A **curl** command line that mimics the original request and reproduces the p

[2020-10-05 06:38] #2413 closed, assigned to nobody

[2020-10-05 07:49] satchidipu174 opened #2414 "How to encrypt "username" and "Password" in response body of audit log by using Modsecurity 3.0.4"
How to encrypt  "username" and "Password" in response body of audit log by using Modsecurity 3.0.4.
Please share what changes need to do in Modsecurity and Nginx as well.

[2020-10-05 12:46] zimmerle commented on #2414
Hi @satchidipu174,

I think you are referring to [log sanitizer](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#sanitiseArg). Log Sanitizer is not yet ready on v3.

[2020-10-05 12:46] #2414 closed, assigned to nobody

[2020-10-05 13:16] satchidipu174 commented on #2414
Hello zimmerle,
Yes I am taking about Log sanitizer. On which version we can expect it.

[2020-10-06 10:57] askifyouneed opened #2415 "Rule id:920350 block only in PL=4"
**Describe the bug**

On the new server RHEL 8.2 I have to move to the CRS 3:
[code]
I do not understand the logic, because the rule # 920350 block requests when I set in the crs-setup setvar:tx.paranoia_level=4 only.

When I verify the file REQUEST-920-PROTOCOL-ENFORCEMENT.conf
[code]
there is no tag: paranoia-level
so how to manage this rule, and how to find out on which paranoia-level will be a

[2020-10-06 11:48] zimmerle commented on #2415
Hi @askifyouneed you may want to ask that question on the OWASP CRS project - https://github.com/coreruleset/coreruleset

[2020-10-06 11:48] #2415 closed, assigned to nobody

[2020-10-06 12:47] askifyouneed commented on #2415
Which exactly https://github.com/coreruleset/coreruleset/issues/new/choose.
Help and support redirect to the stackexchange which is empt,
OWASP Core Rule Set mailing list redirect to the Google groups which are used by nobody
:(

[2020-10-06 13:11] zimmerle commented on #2415
I am sorry to hear that. They have moved recently to a new home. Trustwave note on that - https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.3/dev/README.md

[2020-10-06 13:55] studersi opened #2416 "Log entries truncated"
**Describe the bug**

Error log entries are truncated if the error log line is long enough. This cuts off information like the rule tags, sometimes even severity etc.

This comes up in the context of CRS where tags are used extensively. However, the CRS project cannot do much to mitigate this.

**Logs and dumps**
Here is a selection of rules where the tags are truncated. Note that sometimes the ta

[2020-10-06 14:55] askifyouneed commented on #2415
sorry but I still can not find the issue where I can put my question (besides Google groups, but it looks dead)

[2020-10-06 15:32] airween commented on #2415
Hi @askifyouneed,

that's a bit old, there are so many modification in newer versions.

you mean eg. if the PL=2 then this rule isn't activated?

I assume the lines above begins with the line numbers in rule - but it's a bit weird, because this rule in the v3.0/master starts in line [788](https://github.com/coreruleset/coreruleset/blob/v3.0/master/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf#L788).

[2020-10-06 18:45] askifyouneed commented on #2415
The packages from the RedHat repo are a little bit old, so I copy .conf, .data and crs-setup.conf from the
https://github.com/coreruleset/coreruleset/archive/v3.3.0.tar.gz

[code]

But it is worse, when I set PL=4 in crs-setup.conf
[code]

I get only warning without real block:

[code]

[2020-10-06 18:51] airween commented on #2415
hi @askifyouneed,

this is correct,

Please check your `SecRuleEngine` setting in your modsecurity.conf file.

[2020-10-06 18:55] martinhsv commented on #2400
Hi @drmuey ,

I have tried this in both ModSecurity v3.0.4 and in current v3/master and I was not able to reproduce what you have reported.

What version of ModSecurity are you using?
Since you have reported that it does not occur if CRS rules are present, have you been able to narrow down what portion of CRS conflicts with your custom rule file (that contains the triggering SecRuleScript)?
And ca

[2020-10-06 20:04] martinhsv commented on #2416
Hi @studersi ,

It sounds like you are talking about truncation in Apache's error.log rather than ModSecurity's audit log.

In which case I think it's likely that the truncation is not performed by ModSecurity code.  I.e. I expect it's more of an Apache limitations/configuration issue.

Have you tried adjusting Apache settings?  It looks like something like this might be of use to you:
https://www

[2020-10-06 20:47] drmuey commented on #2400
@martinhsv Thanks for your help!

Same as #2392 (except nginx has updated to 1.19.3 since):

**Server:**
 - WebServer: apache v2.4.46
   - ModSecurity version: mod_security2 v2.9.3
 - WebServer: nginx v1.19.1
   - ModSecurity version (and connector): libmodsecurity v3.0.4 with nginx-connector v1.0.1]
 - OS (and distro): CentOS 7

**Rule Set:**
 - only running owasp CRS v3.3.0

**Additional context

[2020-10-06 20:52] askifyouneed commented on #2415
[code]

[2020-10-06 21:14] airween commented on #2415
I think this happens because the rule [920350](https://github.com/coreruleset/coreruleset/blob/v3.3/master/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf#L721) has the [`block`](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#block) action, which performs the disruptive action defined in `SecDefaultAction` [here](https://github.com/coreruleset/coreruleset/blob/v3.3/master/crs-s

[2020-10-06 21:24] martinhsv commented on #2416
Hi @studersi ,

Is the information that you need present in the ModSecurity audit log?  If so, you could consider using that as your full data source.

[2020-10-07 04:23] Piju99 commented on #2293
Hi, I also got this error. Can help me to solve it?
Im using nginx 1.16.1

[2020-10-07 08:37] askifyouneed commented on #2415
Sorry but I do not understand. In my opinion it should be blocked despite these lines in crs-setup.conf?
[code]

[2020-10-07 09:12] airween commented on #2415
I think no. Please read how [`block`](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#block) action works.

[2020-10-07 12:36] zimmerle commented on #2293
Hi @Piju99,

Have you compiled ModSecurity from GitHub or are you using a package from your distribution?

[2020-10-07 12:39] zimmerle commented on #2415
I delighted to see that knowledgement is built atop of this discuss, and @askifyouneed is mitigating doubts. Perhaps you want to move this subject to a more adequate place such as the CRS GitHub issues. There you will be able to address it better. Thank you.

[2020-10-07 19:55] martinhsv commented on #2400
Hi @drmuey ,

Thanks for the clarification.

I do now have a use case where I can reproduce the symptom you described.  (It might not be exactly the same as the trigger in your case, but I don't think that matters.)

If including an id works for you, you may wish to continue doing that.

Note that we may move towards requiring an id to be specified for SecRuleScript (the same as is required for Se

[2020-10-07 21:05] drmuey commented on #2400
Cool thanks @martinhsv, requiring an id is a good idea. Doing it in 3.0 should work for us since its an experimental feature ATM so. I think we were just using the documentation as a guide during QA and hit this as a behavior difference w/ 2.9.

Worst case is the documentation needs updated to have a valid example and the behavior difference needs listed somewhere.

Thanks  again 👍

[2020-10-08 08:38] Piju99 commented on #2293
yes, I have compiled that. But still got the error. Also checked and update GeoIP

nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /etc/nginx/owasp-modsecurity-crs/rules/REQUEST-910-IP-REPUTATION.conf. Line: 75. Column: 22. This version of ModSecurity was not compiled with GeoIP or MaxMind support.  in /etc/nginx/nginx.conf:50

[2020-10-08 08:46] Piju99 opened #2418 "Failed to map segment from shared object: Permission denied) in /etc/nginx/nginx.conf"
I have check _nginx -t_ and the configuration file is ok and successful. But it failed when I want to _systemctl start nginx.service_ . I got the following error.

 [emerg] 8572#0: dlopen() "/etc/nginx/modules/ngx_http_modsecurity_module.so" failed (/etc/nginx/modules/ngx_http_modsecurity_module.so: failed to map segment from shared object: Permission denied) in /etc/nginx/nginx.conf:10

[2020-10-08 09:24] finbourne-bot-public commented on #2341
We are seeing the same issue (POST with non-empty body hangs if using http2, but is fine if using http1.1). Disabling use of http2 is not an option for us. Are there plans/an eta for a fix?

[2020-10-08 09:28] askifyouneed commented on #2415
@zimmerle of course you are right, the problem is that there is no place where these questions could be set.
If you point me the right link I will move the discussion to this place :)

[2020-10-08 11:26] studersi commented on #2033
This was fixed in https://github.com/SpiderLabs/ModSecurity/pull/2189. Closing the issue.

[2020-10-08 11:26] #2033 closed, assigned to victorhora

[2020-10-08 12:16] zimmerle commented on #2293
@Piju99 you need to make sure that you have GeoIP and/or MaxMind development packages in your server. Notice the summary after the execution of ```./configure```. There will be detailed info on the dependencies support.

[2020-10-08 12:18] zimmerle commented on #2418
You are like to be using fine access controls such as (SELinux or AppArmor). Make sure to bless **ModSecurity library** and/or **ngnix elf** with the permission to use _shared memory_. This is needed to provide communication in between the different nginx workers.

Let me know you distribution and details, I may be able to give you further assistance.

[2020-10-08 12:18] #2418 closed, assigned to zimmerle

[2020-10-08 20:46] martinhsv commented on #2416
There is a size limit set within ModSecurity 2.x code that impacts how much data can be written to Apache's error.log file.

(It may be that this limiting factor was originally based on a hard limit within Apache HTTP Server that has since been superseded.)

I experimentally tried increasing the size of the array at this line from 1024 to 2048 and had positive results for your use case:

https://g

[2020-10-08 20:52] #2388 closed, assigned to nobody

[2020-10-09 06:03] satchidipu174 opened #2419 "Log sanitizer by help of nginx"
Hello As Log sanitizer is not available in V3. We are using Modsecurity 3.0.4 with nginx 1.18. So is there any other method/modules by which we can do Log sanity. Please let me know for the same

[2020-10-09 12:24] zimmerle commented on #2419
hi @satchidipu174, not that i know of. Never tried. I will keep this open to see if someone from the community have an alternative for that.

[2020-10-10 10:30] MapTracy commented on #2404
Hi @martinhsv

I had solved my problem with victorhora/ModSecurity-nginx@ac3e8a9

Thank you for replying to my message.

[2020-10-10 10:30] #2404 closed, assigned to nobody

[2020-10-11 16:45] cedricfortin commented on #624
I was able to resolve the issue running the following commands:
`%windir%\system32\inetsrv\appcmd.exe uninstall module "ModSecurity IIS (32bits)"`
`%windir%\system32\inetsrv\appcmd.exe uninstall module "ModSecurity IIS (64bits)"`

The problem was that ModSecurity module was registered in IIS but was not installed.
Once the modules were removed from IIS I was able to run the installer without any p

[2020-10-13 19:27] dbergan opened #2420 "MaxMind legacy database gone"
Hi,

I have a new server with ModSecurity (via WHM/cPanel) and I'd like to filter web requests from foreign countries. The [wiki here says to enable geolocation we have to get the legacy database from MaxMind](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#secgeolookupdb). However, MaxMind [no longer has the legacy database for download on their website](https://dev.max

[2020-10-13 19:51] dbergan commented on #2420
I emailed MaxMind if I could get a legacy database for this, and here is their response:

Hello David,

Apologies, but we stopped hosting and maintaining the GeoLite Legacy databases at the beginning of 2019 - we now only offer that database in the current GeoLite2 format. As a consequence, I believe that ModSecurity integration is no longer functional. Even if you were able to locate an old versi

[2020-10-13 22:59] zimmerle commented on #2420
Hi @dbergan,

ModSecurity 3.0 already support the new format. The version 2.x does not. However there are scripts which aiming to convert one format to another, such as - https://github.com/sherpya/geolite2legacy

[2020-10-13 22:59] #2420 closed, assigned to nobody

[2020-10-14 12:57] tomsommer commented on #2420
See #1727

[2020-10-14 15:02] TheLegent27 opened #2421 "Calling libmodsecurity from my application, is it possible?"
Hey, it is possible to create standalone application? I was looking in [examples/](https://github.com/SpiderLabs/ModSecurity/tree/v3/master/examples/), I read some of the documentation and try to understand it. I know you can embed it into nginx or apache. But I want to call ModSecurity from my own app to check if requests are safe, it is possible?
EDIT: Maybe I specify more I want to use libmodse

[2020-10-14 16:05] satchidipu174 opened #2422 "Steps required to install nginx with modsecurity 2.9.3"
Hello Team,
Please share any document or link how to install Nginx with Modsecurity 2.9.3.

[2020-10-14 16:23] zimmerle commented on #2422
Hi @satchidipu174 for nginx we recommend you to use the libModSecurity aka version 3.0.

Is there any particular reason for you to use the version 3?

[2020-10-15 01:45] satchidipu174 commented on #2422
As there is no Log sanity in v3. So for Log sanity or for password encryption in audit log I want to use modsecurity 2.9.3 with Nginx. I am unable to get any proper installation documents so please share any documentation link or if there is any compatibility issue please suggest me for the same.

[2020-10-16 15:24] michaelgranzow-avi opened #2423 "Incorrect log message from modsec v3 for CRS rule 920450"
**Describe the bug**

In chained rules, if actions 'msg' or 'logdata' contain variables like %{MATCHED_VAR}, and are used in a rule that isn't the last in the chain, the wrong MATCHED_VAR can end up in the logs.

**Logs and dumps**

The following regression test reproduces the bug:

[code]
Full logs from regression test:

[code]

**Expected behavior**

msg shows "Illegal header [restricted]" . Obs

[2020-10-16 15:26] zimmerle commented on #2423
Interesting observation.

Thank you for the regression @michaelgranzow-avi that speed up things.

[2020-10-16 18:56] michaelgranzow-avi commented on #2423
@zimmerle I've improved the test, so it actually checks for the error log.

[2020-10-16 20:30] martinhsv commented on #2290
Hi @kfkawalec ,

Are you still having an issue?

[2020-10-16 21:17] martinhsv commented on #2118
Hi @airween ,

This is quite old, do you still consider this to be a live issue?

If so, I would make some observations ...

It looks to me like a couple of different things have been mixed here:

1) ModSecurity will automatically do one url decode of query arguments and of application/x-www-form-urlencoded post arguments.  In other words, if the query string is '?aaa=b%62b', then the value of 'aa

[2020-10-19 06:19] kfkawalec commented on #2290
In this case I switch from my own WAF installation to Azure WAF (also with ModSecurity).
So I dont known if this in still a problem.

[2020-10-19 06:19] #2290 closed, assigned to nobody

[2020-10-19 07:56] hazardousmonk commented on #2381
I'm still not able to resolve this. As nginx works with the ModSecurity  + CRS ruleset, the memory size grows and grows until Nginx crashes. I've hacked around it by forcing nginx to restart as soon as it crashes, but that's a really bad fix. I tried to use the experimental version, however that didn't work out (the vhost on which ModSecurity is running was not working with the following error)`[a

[2020-10-19 07:59] albgen commented on #2381
hi,
in my case, the issue, i think it was because i was loading the rules on each server directive which means many times as the number of server directives. Moving the loding of the rules on the main nginx.conf file fixed 2 issues: 1)The memory leak one which is the current issue and also 2)the slow start of nginx

[2020-10-19 09:13] hazardousmonk commented on #2381
Unfortunately each vhost is running a different application, and the ruleset is fine tuned for each one. So loading the rules in the nginx.conf isn't something that's possible. Is the 3.0.4 or v3/master the latest stable version?

[2020-10-19 09:50] amorozkin opened #2425 "'SecResponseBodyAccess Off' does not prevent response body from being logged (SecRuleEngine == DetectionOnly)"
Hi!
Setting  _SecResponseBodyAccess_ to _Off_ does not prevent response body from being logged ( _SecAuditLogParts ABIJDEFHZ_)

Does it mean that with _SecResponseBodyAccess Off_ ResponseBody is still being intercepted?

**Expected behaviour** - according  to https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#SecAuditLogParts "_E: Intermediary response body (present only if Mod

[2020-10-19 13:09] #2300 closed, assigned to zimmerle, martinhsv

[2020-10-19 14:10] martinhsv commented on #2425
Hi @amorozkin ,

I'll first confirm your observation:  in ModSecurity v3, part E logging can indeed occur even when SecResponseBodyAccess is Off.

The message that you are seeing ('Response body is disabled, returning...') indicates that any rules inspecting the response body will be skipped.  The message does not mean that part E logging will be omitted (if E is one of the parts that has been req

[2020-10-19 17:04] #2422 closed, assigned to nobody

[2020-10-19 17:05] zimmerle commented on #2421
Hi @TheLegent27,

Sure thing. That is  the idea behind v3. It is now a library and you can embed it on your application without a problem. The examples folder is the place to start your research.

[2020-10-19 17:05] #2421 closed, assigned to zimmerle

[2020-10-19 17:09] zimmerle commented on #2391
Hi @sna-king,

The counter are precise within the worker, multiple workers can have different. Your threshold should considers this fact while considering some requests set to be a DoS.

[2020-10-19 17:09] #2391 closed, assigned to nobody

[2020-10-19 17:17] satchidipu174 commented on #2422
Please help me to to install modsecurity 2.9 with nginx

[2020-10-19 17:49] zimmerle commented on #2376
@WGH- ping. Can you assist me with some testing on that matter? I think we have already mitigated that issue +  a couple of changes for the benefit of performance && usability. It would be wonderful if I can count on you to test this again.

[2020-10-19 19:31] michaelgranzow-avi commented on #2423
One more observation: the behaviour in v2 is not fundamentally different. That is, the order of loops over rules, variables, transformations etc is similar. What is different is that 'meta actions' like id, msg etc can only be attached to the first rule in a chain. And those actions are executed after *all* rules have fired in the chain. Therefore, the 'msg' action in the test above is executed wh

[2020-10-19 21:12] amorozkin commented on #2425
Thanks, @martinhsv

Another way to skip E part under these circumstances is by setting _SecResponseBodyMimeType_  to something like _text/doesnotexist_ - which seems to me more preferable one as it allows to save some RAM by skipping copy response body in _Transaction::appendResponseBody_ function.
BTW - may be adding `if (m_rules->m_secResponseBodyAccess != RulesSetProperties::TrueConfigBoolean)`

[2020-10-20 08:07] albgen commented on #2381
oh i see.  That's a big issue.
If i'm not wrong, i read some times ago that this issue with the loading of the rules is being fixed but it will take a lot of time...
btw i always use v3/master

[2020-10-20 11:22] michaelgranzow-avi commented on #2423
The following patch fixes the issue for me (and doesn't break any of the existing regression tests):

[code]
I would open a PR, but it seems I don't have the permissions.

[2020-10-20 12:59] danielwrayois opened #2426 "Space in REQUEST_COOKIE is triggering 941100 XSS attack rule"
Hi,

The following userid cookie ```rXXAAl OnJK6gwAXXXXeAg==``` generated by Nginx appears to trigger the xss rule 941100, the uuid is generated per user session so it is intermittent, however the only consistent pattern is that the userid cookies that are blocked contain a space " ", rather than a plus "+" character.

[code]
Nginx: 1.17.9
CRS ruleset: 3.0.2
ModSecurity: v3/master from around 29th

[2020-10-20 13:08] zimmerle commented on #2423
@michaelgranzow-avi You should have permission for the pull request. However I would like to highlight the fact that we are also working on 3.1-experimental. There, this particular piece of code may look a bit different. In particular, how the MATCHED_VAR is set.

As a side note, do you have the effort to help us testing v3.1-experimental?

[2020-10-20 13:11] zimmerle commented on #2381
The last

The last released version is [3.0.4](https://github.com/SpiderLabs/ModSecurity/releases/tag/v3.0.4).

The experimental branch is the 3.1-experimental

[2020-10-20 13:11] zimmerle commented on #2381
did you had the chance to test this particular issue in 3.1-experimental?

[2020-10-20 13:16] zimmerle commented on #2426
Ha @danielluke. Thanks for the report. That seems to be an [libInjection](https://github.com/libinjection/libinjection) issue. Let me dig a little bit on that and I will get back to you.

[2020-10-20 19:26] albgen commented on #2381
Nope. I can test it but it will take same take because it is not very deterministic the appeareance of the memory leak bug.

The slow start on the other hand can be tested. Will try tomorrow and let you know.

[2020-10-20 19:31] zimmerle commented on #2381
thank you.

[2020-10-20 23:18] dbaynak-cl opened #2427 "Temporary file is deleted before @inspectFile is triggered if SecUploadKeepFiles set to Off and SecTmpSaveUploadedFiles set to On"
**Bug description**

If:
- SecUploadKeepFiles is disabled
- SecTmpSaveUploadedFiles is enabled
- a multipart file is uploaded,

Then the file is deleted immediately and no rules could observe this file - this behaviour looks like a bug for me (because of the 2nd item in additional context and the fact that ModSecurity v2.9 behaved as expected in such situation).

**Log, configs, rules**

ModSecuri

[2020-10-21 02:45] danielluke commented on #2426
Hi @zimmerle, I think you meant to tag @danielwrayois and not me :)

[2020-10-21 09:35] albgen commented on #2381
hi zimmerle,

i cannot compile that branch...

cd /root
rm -rdf /root/ModSecurity/
sudo git clone --depth 1 -b v3/dev/3.1-experimental --single-branch https://github.com/SpiderLabs/ModSecurity
cd ModSecurity
sudo git submodule init
sudo git submodule update
sudo ./build.sh
sudo ./configure --with-maxmind=no
sudo make #**here the errors**

![image](https://user-images.githubusercontent.com/7231968/

[2020-10-21 12:03] zimmerle commented on #2376
I think that it is no longer an issue in [v3.1-experimetal](https://github.com/SpiderLabs/ModSecurity/tree/v3/dev/3.1-experimental). Therefore I am closing it.

The problem was related to a broken copy constructor for an Action that wasn't updating the reference to a new rule. Leading to an invalid memory access.

[2020-10-21 12:33] zimmerle commented on #2381
Can you confirm the last commit hash in your branch?

[2020-10-21 12:33] zimmerle commented on #2426
sorry :)

Hi @danielwrayois :P

[2020-10-21 12:47] albgen commented on #2381
The following is what git log says, so seems the last one..

This is another nginx installation with ModSec and the same issue even here. Just tried on another machine to be sure that is not environment issue.

[2020-10-21 13:40] zimmerle commented on #2381
I am going to verify and get back to you. thanks

[2020-10-21 13:57] zimmerle opened #2428 "Having matched var using VariableValue"
There is no need to resolve VariableValue to save MATCHED_VAR. Instead MATCHED_VAR can hold the VariableValue instance till its utilization. Delaying the resolution if/till it is really needed.

Related piece of code -
https://github.com/SpiderLabs/ModSecurity/blob/baf189938e9edf6e2f71142f69d58e021d49cac1/src/rule_with_operator.cc#L84-L92

[2020-10-21 13:57] zimmerle commented on #2428
Somewhat related to #2423

[2020-10-21 16:39] ghost opened #2429 "modescurity.conf is Not Valid According to Apache2"
System: Ubuntu 20.04
ModSecurity branch: v3/master (compiled from source)
ModSecurity version: 3.0.4
Apache version: 2.4

**Describe the bug**
modsecurity.conf is not being properly interpreted by apache2.

**Logs and dumps**
_AH00526: Syntax error on line 7 of /etc/apache2/mods-available/modsecurity.conf: Invalid command 'SecRuleEngine', perhaps misspelled or defined by a module not included in t

[2020-10-21 17:13] zimmerle commented on #2429
Hi @DrewPlots,

v3 for Apache is not yet stable. You can check for further info here -
https://github.com/SpiderLabs/ModSecurity-apache/blob/master/README.md#modsecurity_rules_file

[2020-10-21 17:13] #2429 closed, assigned to nobody

[2020-10-21 18:54] ghost commented on #2429
@zimmerle

If I am able to get ModSecurity running on apache (which I believe I'm on the verge of doing), is there a place I can submit a Wiki page on the setup for apache2?

[2020-10-22 19:45] ghost opened #2431 "cc1plus error -fsanitize-coverage=4"
**Describe the bug**

`-fsanitize-coverage=4` throws an error using

`./configure --with-curl=/usr --with-lmdb=/usr --enable-afl-fuzz --enable-parser-generation --enable-mutex-on-pm`

after running command `export CXX=afl-clang-fast++` and finally `make`.

**Logs and dumps**

Specfically:
```cc1plus: error: unrecognized argument to ‘-fsanitize-coverage=’ option: ‘4’```

Generally:
[code]

**To Rep

[2020-10-22 19:51] airween commented on #2118
Hi @martinhsv,

thanks for detailed info.

Yes, this is a really old idea, and perhaps a bit outdated. Meantime we've started to remove the double decoding, see this [PR](https://github.com/coreruleset/coreruleset/pull/1845). The given example (942210) isn't affected there, but hope we can find a solution.

If it needs, I'll reopen this issue - but now I'm going to close that.

Thanks again.

[2020-10-22 19:51] #2118 closed, assigned to nobody

[2020-10-22 20:10] zimmerle commented on #2431
Those flags are dependent on your infrastructure/clang are you really interested in run afl on ModSec?

[2020-10-22 20:27] ghost commented on #2431
To be honest, I don't know what I'm getting myself into.

I don't know why I would need afl (or any other options for that matter).

It sounds like afl isn't essential, so the answer to your question is: *no, I'm not that interested* and thus, will run ModSec without it.

However, that leaves me wondering what the use of afl on ModSec is.

[2020-10-22 20:32] martinhsv opened #2432 "ctl:ruleRemoveTargetByTag does not support regex in ModSecurity v3.x"
Issue https://github.com/SpiderLabs/ModSecurity/issues/588 was raised against ModSecurity v2.9.x.  In those versions ctl:ruleRemoveTargetByTag does support regular expressions, but the raised issue noted that some regex metacharacters cause difficulties.

This new issue is being created to separately track the different state of affairs in v3.x.

In particular, ctl:ruleRemoveTargetByTag works corr

[2020-10-23 13:47] martinhsv commented on #2427
Agreed.  Clearly a bug.

[2020-10-23 17:48] #2131 closed, assigned to zimmerle

[2020-10-26 10:14] studersi commented on #2416
@martinhsv: Thanks, I will look into it. Do you think it would make sense to create a configuration directive for this?

[2020-10-26 15:17] artemvarlyga opened #2434 "Apache with loaded modsecurity has crashed on my server with the signal 11, Segmentation fault in apr_global_mutex_lock ()"
Hello
I have faced the issue that Apache with loaded ModSecurity has crashed on a couple of servers with signal 11. running with  Imunify360 commercial ruleset
ModSecurity-apache v2.9.3.
Apache/2.4.46
Server loaded:  APR 1.6.5, APR-UTIL 1.6.1
Compiled using: APR 1.6.5, APR-UTIL 1.6.1
Architecture:   64-bit
Server MPM:     event
Panel -DirectAdmin
Cloudlinux OS  -  release 7.8

**Logs and dumps**
I

[2020-10-27 01:49] HQuest commented on #2380
The commit was tested with positive results: the REQUEST_PROTOCOL variable is now fully respected as expected and does accept the new HTTP/3 (or custom protocols - not expected but a test case nonetheless). Appreciated for reviewing this.

[2020-10-27 06:05] Piju99 commented on #2418
Need your further assistance.

OS: CentOs 7
Nginx 1.6
Modsec v3

I have tried _setenforce 0_ but still got the error.

[2020-10-28 12:30] michaelgranzow-avi commented on #2423
@zimmerle : I've created PRs against master/v3 and 3.1-experimental - please review.

[2020-10-28 16:22] hsluoyz opened #2437 "How to parse the SecLang format CRS rules in another language like Go?"
We want to write a scanner & parser in Go to parse the CRS rules so we can process these rules in Go (this is our goal). I noticed there are lex and yacc files: `seclang-scanner.ll` and `seclang-parser.yy` in: https://github.com/SpiderLabs/ModSecurity/tree/v3/master/src/parser

I also found the lex & yacc tools in Go:

Go lex: https://github.com/kivikakk/golex
Go yacc: https://godoc.org/golang.org

[2020-10-28 21:04] martinhsv commented on #2380
Hi @HQuest ,

Thanks for the update.

Please keep in mind that the referenced pull request merely transfers the protocol name correctly.  The pull request should not be read to imply any other support for that new HTTP version.

To my knowledge, there hasn't been any concerted testing that other ModSecurity functionality works correctly with various (experimental or otherwise) builds of HTTP/3 --

[2020-10-29 03:18] ghost opened #2438 "nginx restart error: libmodsecurity.so undefined symbol ngx_module"
I sincerely thank _you smart people_ for the passion & work you commit in thought process & problem solving. I envy that level of intelligence.

Without further ado - here is my issue:

**Describe the bug**

I set libmodsecurity.so & modsecurity.conf directives in nginx.conf & restart nginx:
I get an error regarding an undefined symbol in "ngx_module".

**Logs and dumps**

`nginx: [emerg] dlsym()

[2020-10-29 13:22] zimmerle commented on #2438
Hi @DrewPlots,

Thank you, for using ModSecurity :+1:

It seems like you have an issue during the compilation. Is this ```libmodsecurity.so``` compiled by you? or you got it via **apt-get** ?

[2020-10-29 13:30] airween commented on #2438
@DrewPlots,

you wrote:

[code]
you can't load this module directly. The next line in your config will load this module, you can check that:

[code]
if the .so file is there. You have to see something similar:

[code]

[2020-10-29 14:39] ghost commented on #2438
Thank you @zimmerle and @airween for replying.

@zimmerle

Yes, I compiled libmodsecurity with the following command:

`sudo ./configure --with-curl=/usr --with-lmdb=/usr --enable-parser-generation --enable-mutex-on-pm`

The configuration output is listed at the bottom of the first post.

I also did not receive any explicit error, however I did receive these messages after ./configure:

[code]

Th

[2020-10-29 15:35] zimmerle commented on #2438
Is that any reason for you to use: ```--enable-parser-generation --enable-mutex-on-pm```  the ```--enable-mutex-on-pm``` this option will make your ModSecurity slower.

Once you have libModSecurity workable you have to get the nignx connector workable. That is the one that you need to load on your nginx -
https://github.com/SpiderLabs/ModSecurity-nginx

[2020-10-29 16:58] zimmerle commented on #2423
All merged. Patch available on both: v3/master and 3.1-experimental. Thank you @michaelgranzow-avi

[2020-10-29 16:58] #2423 closed, assigned to zimmerle

[2020-10-29 17:18] zimmerle commented on #2437
Hi @hsluoyz,

That is a very interesting question. Assuming that you want to inspect some traffic using **golang**, why not use a binding of the library. The library can do the heavy work of deal with the parser or even inspect some content, yet, inside **golang**. Is this an option?

[2020-10-29 17:26] ghost commented on #2438
I'm looking to post a Wiki page once I resolve my errors; that is the main reason for including all the extra features (mainly to make note of working dependencies).

I removed the old libmodsecurity.so & recompiled it using `sudo ./configure --with-curl=/usr --with-lmdb=/usr --enable-parser-generation`.
I also placed the crs-setup.conf & rules includes in modsecurity.conf and added the `modsecuri

[2020-10-29 17:34] zimmerle commented on #2438
Do you have the file **scanners-user-agents.data** on your disk?

[2020-10-29 18:04] ghost commented on #2438
Thank you for that!

I forgot to copy the entire rules directory from coreruleset.

Error resolved by removing /etc/nginx/modsec/rules and using `sudo cp -r /opt/coreruleset/rules /etc/nginx/modsec/`.

[2020-10-29 18:04] #2438 closed, assigned to zimmerle

[2020-10-29 18:28] ghost opened #2439 "Add Wiki Page | Request"
Apologies for making an issue report that isn't related to an issue.
However, I am trying to locate a way to add a Wiki page of the nginx setup guide I've written for the ModSecurity community.

It is formatted in AsciiDoc and is a complete guide (not a Compilation Recipe).
Where is the correct place to submit this document to get it online?

[2020-10-29 21:16] WGH- commented on #2376
Still crashes for me, although in different place now.
[code]

8aa3e3439d697e70b09b029b85e8a83a6edb7bc4 is the first certainly bad commit, and 67b08dfe43633e63dfe6d1e386879519d634185f crashes due to apparently unrelated problem:
[code]

[2020-10-29 22:34] zimmerle commented on #2376
Thanks @WGH-, is this the **benchmark** utility for ModSec? Which rules are loaded?

Good to know that it is in a different piece of the code, it means that we have solve the first issue.

[2020-10-29 22:40] zimmerle commented on #2439
Hi @DrewPlots,

Yep, the wiki page is welcomed. You can try the ModSecurity-nginx wiki, here:
https://github.com/SpiderLabs/ModSecurity-nginx/wiki

[2020-10-29 22:45] ghost commented on #2439
Unfortunately for me, there is no "Edit" or green "New Page" button for me on the ModSecurity-nginx or ModSecurity Wiki pages. There are those buttons on the ModSecurity-apache Wiki, however.

Edit:
I reopened this issue because I want privileges to post the installation instructions I have created for the ModSecurity Wiki.

[2020-10-30 00:57] WGH- commented on #2376
No, it's my own private code. I'll try to give you either good ASAN diagnostic, or a simple test case, hopefully tomorrow UTCish.

On October 30, 2020 1:35:04 AM GMT+03:00, Felipe Zimmerle <notifications@github.com> wrote:

[2020-10-30 05:42] hsluoyz commented on #2437
@zimmerle thanks for answering it. But it seems that I didn't find an available Go binding: https://github.com/SpiderLabs/ModSecurity#bindings

Writting a binding seems to be a tough work.. Is there any easier way to tackle this?

Update:

Go back to my original question, is the lex & yacc not working for the current ModSec 3.x branch? If it works, it should be a pretty good way to do it.

[2020-10-30 13:48] zimmerle commented on #2376
perfect! thank you. I am merging some other stuff that should not impact with those.

[2020-11-01 11:07] hazardousmonk commented on #2381
I've tried everything, even boosting the RAM on my instance, however it is still crashing at times. Will using another operating system help? I have a similar setup running on Debian 10 (not as many vhosts though), that has not yet crashed.

[2020-11-01 19:32] WGH- commented on #2376
Making asan give proper diagnostics was harder than I expected. Turned out I have to

1) compile C++ library itself with asan, otherwise non-instrumented `dynamic_cast` implementation crashes without giving proper diagnostics,
2) increase quarantine memory size with `ASAN_OPTIONS=quarantine_size_mb=4096`.

[code]

[2020-11-02 21:52] DrewPlots commented on #2439
Here is the guide: https://pastebin.com/Es0aEHGq

Perhaps someone with WIki priviliges can post it (using AsciiDoc) on the ModSecurity Wiki.
All the necessary information is included (WAF, OS, Server, Module, and Rule Set).

Please do not attribute the work to me.

Don't mind the content warning; it's safe.

[2020-11-02 23:22] DrewPlots commented on #2439
I cannot access the Wiki, so I provided the guide via pastebin; case closed.

[2020-11-03 12:55] zimmerle commented on #2376
Thank you @WGH-. Your feedback is very important. Going to approach that with a different perspective.

Ideally (long-term-plan) we won't have _t:none_ computation on **runtime**. Rather we want to have it **pre-computed** on load time. Only exception if the action was added in run-time. The issues that you are facing is maybe a collateral from a middle state. Let me finish that t:none pre-computa

[2020-11-03 13:04] zimmerle commented on #2437
Hi @hsluoyz,

The **lex** && **yacc** are working fine here. They are used by _ModSecurity_ to load the rules.

Usually, the reason to create a binding are:

1. Easy than rewrite.
2. Keep compatibility for further changes.

It is no different for libModSecurity. Apart for parsing the rules, there is the logic applied to the rules and implementation for operators and transformations.

[2020-11-03 13:05] zimmerle commented on #2431
afl is something to test ModSecurity is not something to run ModSecurity with. For further info on AFL - https://github.com/google/AFL

[2020-11-03 13:05] #2431 closed, assigned to nobody

[2020-11-03 13:25] #2115 closed, assigned to zimmerle, victorhora

[2020-11-03 16:03] kwaazaar commented on #1774
I tried the SecAuditLogType HTTPS, but with no results. No HTTP call is being performed at all. No entries in the modsecurity debug log (I only see rule processing output) and nothing in the nginx logfiles.

[2020-11-03 22:06] WGH- commented on #2376
It can be easily reproduced with `test/benchmark/benchmark.cc` and the following rule set:

[code]

This is the fix:
[code]

[2020-11-03 22:06] #2110 closed, assigned to zimmerle, victorhora, martinhsv

[2020-11-03 22:13] martinhsv commented on #2376
Hi @WGH- ,

I came to the same conclusion as you a few minutes ago.

The current code essentially results in two different unique_ptr smart pointers 'owning' the same object.

[2020-11-03 22:16] zimmerle commented on #2376
thank you guys 👍

[2020-11-03 22:39] WGH- commented on #2376
Fixing that, I have a null pointer dereference crash now:
[code]

I debugged it a bit, and `addGenericMatchAction(std::dynamic_pointer_cast<ActionWithExecution>(a));` line in `RuleWithActions::RuleWithActions` seems to insert a null pointer into the `m_executeIfMatchActions;` list.

Here's a rule set to reproduce it with `test/benchmark/benchmark`:

[code]

[2020-11-04 06:48] hsluoyz commented on #2437
Hi @zimmerle

Our parser code needs to run on Windows. So I guess the binding option doesn't work because it still depends on the libModSecurity lib, which is only available on Linux now. And moreover, there's no a Go binding right now. Writing an entire binding for ModSec in Go seems more difficult than writing a parser in Go from scratch.

And it seems I'm also wrong with lex && yacc, which seem

[2020-11-04 07:52] airween commented on #2437
Hi @hsluoyz,

it's not clear what do you want to do with parsed rules :), so if you need only the AST, you can check a similar project in python3: [msc_pyparser](https://github.com/digitalwave/msc_pyparser).

May be this helps you.

[2020-11-04 18:34] martinhsv commented on #2376
Hi @WGH- ,

Thanks for calling attention to that additional problem.  I can reproduce it, and I think I see the underlying problem.

[2020-11-04 19:49] ghost opened #2442 "Collection multi vars"
Hello,

When saving a value on several variables (setvar), the value actually taken into account is only the last one.

I reproduced the problem by creating a regression rule.

Example:
[
   {
    "enabled":1,
    "version_min":300000,
    "title":"Testing multi variables :: m.set SESSION & GLOBAL (1/1)",
    "resource":"lua",
    "client":{
      "ip":"200.249.12.31",
      "port":123
    },

[2020-11-04 19:57] martinhsv commented on #2376
Just to note that this most recent issue also applies to ctl:auditEngine

[2020-11-05 01:10] zimmerle commented on #2427
fixed at d72be1c4701aa54823a8befc83797abd8f771bc3 by @martinhsv

[2020-11-05 01:10] #2427 closed, assigned to martinhsv

[2020-11-05 20:20] martinhsv commented on #2376
Regarding the v3.1-experimental crashes caused by ctl:forceRequestBodyVariable and ctl:auditEngine ...

These have never been properly supported in v3, and yet in current v3 code, the standard '... is not supported ...' error behaviour is not triggered.  The crash in v3.1 is merely a more obvious symptom than failing silently.

The immediate plan is to have both of these actions trigger the standa

[2020-11-06 00:34] martinhsv commented on #2385
Hi @drmuey ,

The configure file runs
[code]
within whatever directory prefix you specified.

It is counting on the output of that to supply any -I<whatever include path> that is necessary for compilation.

However, 'curl-config --cflags' may return a blank line if it doesn't think you need any special flags -- and if it is an irregular install of curl, then one can see how a problem might occur.

[2020-11-06 12:34] zimmerle commented on #2376
Both crashed are addressed by @martinhsv, under QA here - https://travis-ci.org/github/SpiderLabs/ModSecurity/builds/741862888

[2020-11-06 18:46] WGH- commented on #2376
It no longer crashes in my benchmark :+1:

It seems to leak memory like crazy though, which is also reported by ASAN (to clarify, it certainly leaks without ASAN as well). It's not just one-time leak on e.g. rule loading, the memory consumption keeps increasing with every processed transaction.

The commit I tested is 15fc0481f17d0527b54dca7987041cdc633c05e5

[2020-11-06 19:36] WGH- commented on #2376
There's lots of leaks with slightly different stack traces, but I believe these are the three main types:

[code]

[2020-11-07 22:12] syragon commented on #89
This does not work in ModSecurity 2.9 and Apache. Am able to log a %{MATCHED_VAR} and %{MATCHED_VAR_NAME}, so it detects the array fine, but ctl does not appear to be taking %{MATCHED_VAR_NAME} or %{MATCHED_VAR} when it's passed to it. The only solution was moving rules to the global config outside the VirtualHost. Really bad. Not impressed with Modsecurity team, so many open issues and bugs like

[2020-11-08 18:36] martinhsv commented on #2376
Thanks @WGH-  for raising those memory leaks.

I have created a pull request (https://github.com/SpiderLabs/ModSecurity/pull/2446) for the first of the three that you mention.

[2020-11-09 16:41] kwaazaar commented on #2383
I found that SecAuditLogType HTTPS doesn't seem to do anything at all (nginx ingress controller), so I used fluend (tail input) to post all json data to a custom api that takes the json and posts a custom event to Application Insights. If you can use an existing output plugin for fluentd (like Elastic), then you don't need the custom code for transformation.

[2020-11-09 16:49] kwaazaar commented on #717
Not a regex, but I have this line:
[code]

But the request is blocked with the message:
[code]

Isn't this the simplest of all rule updates? Am I misunderstanding how this is supposed to work?

[2020-11-09 17:01] martinhsv commented on #717
Hi @kwaazaar ,

It sounds like your use case is a duplicate of
https://github.com/SpiderLabs/ModSecurity/issues/2251

That bug was fixed early in 2020 (but after v3.0.4).

If you do not wish to update to more recent code at this time, the workaround is to use the regex equivalent:
SecRuleUpdateTargetById "!ARGS:/Password/"

[2020-11-09 17:21] zimmerle commented on #2376
notice that there is a memory leak on the matched_vars as stated here: #2428

[2020-11-09 17:31] martinhsv commented on #2376
Yes that's right.  The 2nd of 3 mentioned by WGH- on Nov. 6 is a duplicate of the '// FIXME: Memory leak.' cited in: #2428

[2020-11-10 16:45] drmuey commented on #2385
@martinhsv thanks! I think that is the problem.

When I rely on `$PATH` ➜ `curl-config --cflags` is empty, because its the system one

When I call the one from `--with-curl=<CURL PATH>` ➜

[code]

So yeah looks like whatever calls `curl-config --cflags` needs to factor in `--with-curl=…` 👍

[2020-11-11 03:18] Hello-Linux opened #2447 "Modsecurity How to get real IP address??"
Our nginx server has gone through a layer of proxy, and the real user address cannot be obtained using REMOTE_ADDR,But our proxy server has a variable ($http_x_forwarded_for) to get the user's real IP address,So what is the solution for modsecurity?
[code]

[2020-11-11 06:16] tanvir-retailai opened #2448 "Rules blocking Google OAuth2 redirect (callback) URLs"
**Describe the bug**

I implemented Google OAuth2 authentication on my website. After user authenticates successfully on Google login screen, Google redirects the browser to an URL on my site that looks like this: https://site/somepath/somescript.php?state=#####&code=#####&scope=email+profile+https://www.googleapis.com/auth/userinfo.profile+https://www.googleapis.com/auth/userinfo.email

(https://

[2020-11-11 08:31] airween commented on #2447
You can use the `REQUEST_HEADERS:X-Forwarded-For` variable instead of `REMOTE_ADDR`.

[2020-11-11 09:49] Hello-Linux commented on #2447
@airween  Thank you very much, I will try it

[2020-11-11 10:57] Dark-Schnitzel commented on #2447
This is also working for me, but if i you are using apache with mod_remoteip you should turn these off, otherwise this is empty. you can log this also via apache and logformat:
LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"
https://www.techstacks.com/howto/log-client-ip-and-xforwardedfor-ip-in-apache.html

[2020-11-11 14:18] martinhsv commented on #2448
Hello @tanvir-retailai ,

It looks like you are inquiring about a specific CRS rule.  CRS rules are handled by a separate group:
https://github.com/coreruleset/coreruleset

They have a reporting mechanism including for false positives.

In general, generic rule sets (like CRS) can be very useful but they often do generate at least some false positives that necessitate rule customization for a part

[2020-11-11 14:52] martinhsv commented on #2442
Hello @Minasu ,

I was not able to reproduce this (in v3.0.4).  What version of ModSecurity are you using?

[2020-11-11 15:30] ghost commented on #2442
Hello @martinhsv,

I am using this version, 3.0.4, with lmdb database.

[2020-11-11 16:37] airween commented on #2442
@martinhsv few additional info - hope that will helps you.
[code]
Regression test file is [here](https://gist.github.com/airween/f62c7b15f96dc4e53f907fab6581d1f8).

And [here](https://gist.github.com/airween/09a9c8dd033eaf5fa317bc6da07c64a4) is a small utility which helps to debug the collection.
[code]
There is only one variable with name `::::test` and value `1`, which is the last `setvar`. If I

[2020-11-11 17:55] martinhsv commented on #2442
Hi @Minasu ,

OK, I see what you mean.

Note, however, that SESSION variables are intended to be used in conjunction with setsid.  When used that way, I expect the data would be successfully distinguished from similarly-named GLOBAL data names.

E.g. if you copy the existing request in action-setsid.json, and then do something like this...
[code]

Now the debug output includes ...
[code]

[2020-11-11 19:32] ghost commented on #2442
Thank you.

So I have to check if the setsid is not null, otherwise I will overwrite another variable.

[2020-11-12 04:19] deployer-retailai commented on #2448
Hi @martinhsv,

Thank you for your valuable response.

I will contact the group which you recommended.

[2020-11-12 04:20] tanvir-retailai commented on #2448
Hi @martinhsv,

Thank you for your valuable response.

I will contact the group which you recommended.

[2020-11-12 04:20] #2448 closed, assigned to nobody

[2020-11-12 05:31] Hello-Linux commented on #2447
@Dark-Schnitzel   I use Nginx

[2020-11-12 06:33] Hello-Linux commented on #2447
@airween
@Dark-Schnitzel
This seems to have no effect, my nginx logs show the realip(x_forwarded)

{ "@timestamp": "2020-11-12T14:26:06+08:00", "remote_addr": "100.97.166.33","request_time": "0.000","upstream_response_time": "","status": 200,"x_forwarded": "36.110.73.230","http_referer": "","request": "GET /status HTTP/1.1","upstream_addr": "","body_bytes_sent":637,"request_body":,"http_user_agent

[2020-11-12 07:49] #2439 closed, assigned to zimmerle

[2020-11-12 08:46] pengyejun opened #2450 "hmac settings failed"
**Describe the bug**

reference the link https://www.trustwave.com/en-us/resources/blogs/spiderlabs-blog/modsecurity-advanced-topic-of-the-week-hmac-token-protection/
I try to configure hmac in modsecurity, but the homepage is loaded disorderly。

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
 2. AuditLogs
 3. Error logs
 4. If there is a crash, the core dump file.
debug log
[modsecurity_d

[2020-11-12 09:41] ghost commented on #2450
I'm going to ask forgiveness from the DevGods if I am wrong here.

Does this potentially have to do with the ModSecurity dependency of the _flex_ package and configure option "--enable-parser-generation"?

[2020-11-12 09:57] airween commented on #2447
What's your goal?

I tried with your examples (`X-Forwarded-For` is `36.110.73.230` and your `SecRule`), and I got this in `debug.log`:
[code]
in the `error.log`:
[code]

So, I think the IP address above is from CN, but you deny the request if the COUNTRY_CODE is not US. If you want to allow the request only from CN, you should replace the `US` by `CN`.

[2020-11-12 11:21] Hello-Linux commented on #2447
My problem now is that the configuration does not take effect. My ip address is China and only the United States is allowed in the configuration. However, my website from China is not denied and can be accessed normally, so why does my configuration not take effect?

[2020-11-12 11:28] Hello-Linux commented on #2447
@airween
I should be denied access to this website from China, but in reality, I can access it normally. Why is that?

[2020-11-12 11:32] airween commented on #2447
What is your `SecRuleEngine` setting?
Could you turn on the debug log, and see what happens?

[2020-11-12 11:37] Hello-Linux commented on #2447
@airween
Okay, I'll go home and open the debug mode to observe

[2020-11-12 13:27] Hello-Linux commented on #2447
@airween
![001](https://user-images.githubusercontent.com/17851645/98946058-56ce0e00-252e-11eb-9829-8e6394ad047d.png)

My SecRuleEngine is set to On,and I see the debug log is show below
![QQ图片20201112212545](https://user-images.githubusercontent.com/17851645/98945720-da3b2f80-252d-11eb-9260-5452b50186f1.png)

and my crs-setup.conf is
![003](https://user-images.githubusercontent.com/17851645/98946

[2020-11-12 15:10] martinhsv commented on #2450
Hello @pengyejun ,

I haven't examined your posting in detail, but I did notice immediately:
[code]

If you are you really using nginx with ModSecurity v2.9.2, please be aware that that is not recommended.

With nginx, it is recommended to use ModSecurity v3.x

[2020-11-12 15:24] pengyejun commented on #2450
Hi @martinhsv
   thank you for your reply, But due to some historical reasons, I cannot quickly upgrade to v3 version now. Is there any other alternative?

[2020-11-12 15:52] martinhsv commented on #2450
Not really, I'm afraid.  Again, it's simply a not-recommended (and hence not-supported) deployment.

For use with nginx, please upgrade to ModSecurity v3.0.x.  Thanks.

[2020-11-12 15:52] #2450 closed, assigned to nobody

[2020-11-12 16:39] airween commented on #2447
If you only see these lines in your debug.log:
[code]

then it means that header isn't presented.

You **must** see these lines too:
[code]
from 2nd to 4th.

Btw, what is the value of the `SecDebugLogLevel` in your conf? Set it to 9 and check again.

[2020-11-12 17:05] celesteking commented on #589
Which leads me to believe `SecRequestBodyLimitAction ProcessPartial` doesn't actually work in v2.9.3.

[2020-11-12 17:38] martinhsv commented on #589
@celesteking ,

I don't think that's a correct conclusion.

Be aware, however, that ProcessPartial essentially means that ModSecurity may be examining truncated body content.

If the request is of Content-Type application/x-www-form-urlencoded, then the partial body content will likely still look validly-formatted to ModSecurity.

On the other hand, if the Content-Type is multipart/form-data, then

[2020-11-12 18:22] martinhsv commented on #2442
@Minasu : Note that even if there were no potential for conflict with an identically-named variable within GLOBAL, you would typically still want to take care to be using SESSION variables only when setsid has been set.

The point of using a SESSION variable (rather than GLOBAL) is to track some data on a per-session basis.

If you want to be recording some data to be associated with a particular

[2020-11-13 01:18] Hello-Linux commented on #2447
@airween
I have set SecDebugLogLevel  to 9,the logs is below,and there is no "Matched vars updated" phrase in my debug.log  Is it because the ip address does not match? I changed several public IP addresses and it seems that it doesn’t work.

![2020-11-13 09-16-48 的屏幕截图](https://user-images.githubusercontent.com/17851645/99016035-2a97a900-2591-11eb-8d02-28a6d82e8778.png)

and  the maxmind website

[2020-11-13 01:55] Hello-Linux commented on #2447
@airween
Today I used a foreign IP address to test my website and prompted this error,"Database is not open. Use: SecGeoLookupDb directive.",but I have set it in crs-setup.conf
![2020-11-13 09-54-49 的屏幕截图](https://user-images.githubusercontent.com/17851645/99019007-62551f80-2596-11eb-9b9a-084efafdae75.png)

![2020-11-13 09-49-38 的屏幕截图](https://user-images.githubusercontent.com/17851645/99018723-bf

[2020-11-13 02:12] Hello-Linux commented on #2447
The I change the rule is
[code]
I can also visit the website normally using a foreign IP address,not deny!
![2020-11-13 10-09-40 的屏幕截图](https://user-images.githubusercontent.com/17851645/99020033-a6e1ba80-2598-11eb-8a09-e313dc50c825.png)

[2020-11-13 03:31] Hello-Linux commented on #2447
@airween
Sometimes the log show Database is not open. Use: SecGeoLookupDb directive,but the SecGeoLookupDB I have set
![2020-11-13 11-27-11 的屏幕截图](https://user-images.githubusercontent.com/17851645/99025309-81a67980-25a3-11eb-88f3-cf9b00dc3d5b.png)
![2020-11-13 11-28-34 的屏幕截图](https://user-images.githubusercontent.com/17851645/99025313-83703d00-25a3-11eb-9c7e-3a080669ec77.png)

[2020-11-13 05:08] Hello-Linux commented on #2447
@airween
I use wireshark to grab the data packet of the proxy server, and you can also find the header  in the request header-X-Forwarded-For: 52.29.177.64,so I think the modsecurity can get the header-X-Forwarded-For?
[code]

[2020-11-13 07:11] airween commented on #2447
@Hello-Linux,

could you show me the final part of the output of the `./configure ...` script?

I mean:
[code]

And what did you get for this command?
[code]

Please don't insert screenshot, just copy the text and insert here. Use the "Insert code" item at the menu bar.

[2020-11-13 07:38] Hello-Linux commented on #2447
@airween
the status is
[code]
and the geoLite2-Country.mdb is  GeoLite2-Country.mmdb
[code]

[2020-11-13 07:54] airween commented on #2447
Please run the `configure` script as you use it (with your options), and show me the **last part of the output**, from the line `configure: creating...`

[2020-11-13 07:57] Hello-Linux commented on #2447
@airween
the out put is
[code]

[2020-11-13 10:53] airween commented on #2447
MaxMind support seems to be missing:
[code]

[code]
Try to install the libmaxmind library and recompile the engine.

[2020-11-13 12:00] marcstern commented on #2357
Any chance to have this merged in 2.9? Thanks

[2020-11-13 14:01] Hello-Linux commented on #2447
@airween  ok, I will install libmaxminddb and libmaxminddb-devel

[2020-11-13 15:11] Hello-Linux commented on #2447
@airween
When I install libmaxminddb and libmaxminddb-devel
[code]
the ./configure  show this
[code]

but when I run make is show some error blow
[code]
![2020-11-13 23-08-33 的屏幕截图](https://user-images.githubusercontent.com/17851645/99087212-77b56280-2605-11eb-8fcc-259ff666ab95.png)

[2020-11-13 15:18] airween commented on #2447
Your `libmaxminddb` is too old.

See issue [#2254](https://github.com/SpiderLabs/ModSecurity/issues/2254) (and the solution too).

[2020-11-13 15:55] Hello-Linux commented on #2447
@airween  Ha Ha....Finally succeeded, thank you very much!

[2020-11-13 15:55] #2447 closed, assigned to nobody

[2020-11-14 00:35] Hello-Linux opened #2452 "Can modsecurity-nginx be used in a production environment now？"
Can modsecurity-nginx be used in a production environment now? And what are the benefits of business rules? what are the advantages of modsecurity business rules compared with commercial waf products on the market?

[2020-11-16 09:34] tomcon21 commented on #1999
Hi @victorhora,

I am get prompted to select an application to run the ModSecurityIIS_2.9.3-64b.msi.**asc** on Windows.
Is there additional software required to complete the installation or must I rename the file to drop the .asc file extension..

I am not sure of what the work around is..... Thanks...

[2020-11-16 11:31] zimmerle commented on #2452
Hi @Hello-Linux,

Yes, ModSecurity v3 for nginx is production ready.

As of the business rules, I recommend you to contact which individual provider in their own site and ask those questions. For Trustwave commercial rules you can go ever here - https://modsecurity.org/commercial-rules.html#:~:text=Trustwave%20now%20provides%20a%20commercial,Cross%2Dsite%20Scripting%20(XSS)

[2020-11-16 11:31] #2452 closed, assigned to zimmerle

[2020-11-16 11:38] zimmerle commented on #2437
@hsluoyz  write the binding should not be hard. As the the Python bindings already exists, and it is using pybind11, you can use that as a base. Check it here - https://github.com/pymodsecurity/pymodsecurity

As of the windows compilation, should be straight forward. We can try to help you to build.

I would avoid to re-write parsers or implementation. The bindings will give you all the fixies and

[2020-11-16 11:38] #2437 closed, assigned to zimmerle

[2020-11-16 13:04] #2385 closed, assigned to zimmerle, martinhsv

[2020-11-16 13:13] zimmerle commented on #2381
@hazardousmonk  Have you had a chance to test v3/dev/3.1-experimental ?

[2020-11-16 14:58] zimmerle commented on #2041
Fix under QA here - https://travis-ci.org/github/SpiderLabs/ModSecurity/builds/743954613?utm_source=github_status&utm_medium=notification

[2020-11-16 15:57] gpapakyriakopoulos opened #2454 "ModSecurity with Nginx does not log in audit log file with SecAuditEngine RelevantOnly"
**Describe the bug**

I have a simple setup using Nginx, libmodsecurity and Nginx-connector on Debian 10 and currently testing its capabilities.
It seems that when the SecAuditEngine option is set to RelevantOnly, no requests are logged in the audit log even if they trigger a ModSecurity rule. The engine is set to DetectionOnly as I currently want to actions to be taken. (but turning it On makes n

[2020-11-16 16:16] martinhsv commented on #2454
Hi @gpapakyriakopoulos ,

I'm not clear on why you have disabled SecAuditLogRelevantStatus.

'SecAuditEngine RelevantOnly' is interrelated with SecAuditLogRelevantStatus.

The former does indeed tell ModSecurity that you want to limit audit logging to 'relevant' HTTP requests.  The latter defines exactly what you mean by 'relevant'.

[2020-11-16 16:39] gpapakyriakopoulos commented on #2454
@martinhsv Hey Martin. Thanks for answering so fast.

Let me preface by saying that it makes no difference to the issue reported above. While the relevant status codes are indeed logged on the audit log if returned by the web server (ex. a 401 or 403 is logged on the audit log), the requests with 200 HTTP response codes that **do** trigger a ModSecurity rule are not logged in the audit log at all.

[2020-11-16 17:49] martinhsv commented on #2454
Oh, that clarifies your use case a bit

I have just tried this with both ModSecurity tagged-version v3.0.4 (from January), as well as from v3/master.  I was not able to reproduce your report; audit log output was produced as expected.

One thing:  You stated above: 'with nginx-connector master branch'.  Do you mean the most recent version of the connector's v3/master?  I ask because there was a fi

[2020-11-16 18:18] gpapakyriakopoulos commented on #2454
I did fetch the connector using `git clone --depth 1 https://github.com/SpiderLabs/ModSecurity-nginx.git` and built the setup just today so I assume it is the latest v3/master.

Clarifications in case it matters. For ModSecurity I am using the Debian version through libmodsecurity3 and libmodsecurity-dev. The connector was compiled locally against the 1.14.2 Nginx version using the version from ht

[2020-11-16 19:17] gpapakyriakopoulos commented on #2454
Update : While investigating further, it seems that although the logging mentions ModSecurity version 3.0.4, in reality I am using version 3.0.3 (not sure how this discrepancy happened). I am currently trying to also build ModSecurity from source with the latest v3/master and retest the scenario.

[2020-11-16 19:31] gpapakyriakopoulos commented on #2454
It was indeed a version issue, version 3.0.4 built from source works as expected. I apologise for the inconvenience.

[2020-11-16 19:31] #2454 closed, assigned to nobody

[2020-11-18 13:13] fggillie commented on #535
Hello,

Is there any estimation on until when sanitising of part H will be implemented? For the moment all we can do to avoid sensitive data ending up in the logs is to remove part H when those attributes are present. Would be really nice to still have it :)

Thanks for all you are doing here!

[2020-11-19 15:37] rgvargas29 opened #2456 "IIS 10 + modsecurity on docker problem with SecDataDir"
Hi gurus
Im having problems trying to configure SecDataDir param on my current setup, when the parameter is activated on modsecurity.conf I stop getting data in my audit file, and these files are created empty in my folder

DefaultAppPool-global.dir
DefaultAppPool-global.pag
DefaultAppPool-ip.dir
DefaultAppPool-ip.pag

My application runs fine but no log is generated in the audit.

Can someone ple

[2020-11-19 19:36] gstanchev commented on #1975
Hi, any news on resolution?

[2020-11-20 07:37] liuyi opened #2457 "[Question]Is branch "Master" is more stable than branch "3.0.4"? I need install on ubuntu with nginx."
NOT BUG, Just want to know which branch can be use in production env.

Thanks!

[2020-11-20 12:30] jatgh commented on #2340
Hi!
Any news on the issue?
I have to say that supposed workaround is not much of a savior, if you use `SecAuditEngine RelevantOnly` setting.
That's because creating a rule to add `EpochTime` field (just like creating any rule that works unconditionally) makes any request to be considered as relevant (i.e. triggered a rule).
Please, correct if if I'm wrong here.

[2020-11-20 14:48] martinhsv commented on #2340
Hi @yesjustyet ,

No, I'm afraid there's no update.

I agree that the TIME_EPOCH workaround is not going to be convenient for all deployments.

If your ruleset is small, you could potentially add the extra output to each pre-existing message.  Alternatively, if you're using something like CRS's anomaly scoring method, you could add the TIME_EPOCH output to the phase:5 rule that actually makes the

[2020-11-20 21:38] zimmerle commented on #2457
Hi @liuyi,

v3/master contains the latest modification on v3. If you know well ModSecurity you can have it working. The difference may not be applicable to stability but other concerns, here are the differences from the released version to v3/master -

https://github.com/SpiderLabs/ModSecurity/blob/afefda53c69bb17e2ec16d24dd6fbc2c8fd7d063/CHANGES#L4-L33

👍

[2020-11-20 21:38] #2457 closed, assigned to zimmerle

[2020-11-20 21:40] zimmerle commented on #2456
Hi @rgvargas29,

That is likely to be a permission issue.  I would recommend you to change ```SecDataDir``` to a public folder in order to double check if there is a permission issue on the folder.

[2020-11-20 21:44] rgvargas29 commented on #2456
Hi @zimmerle
I've tryed to give permissions to Eveyone, use different locations for the files and everything i can think off, still when SecDataDir is deactivated audit works ok with no change on folder destination, but when SecDataDir is activated, files get created but no data is written on them
It is clearly related to this param and some permissions but even with Everyone is not working
Any ot

[2020-11-20 21:47] zimmerle commented on #1975
Hi @gstanchev,

Not really. Latests release for IIS was - [v2.9.3](https://github.com/SpiderLabs/ModSecurity/releases/tag/v2.9.3)

[2020-11-21 16:24] mackov83 opened #2458 ""gzip_types" directive Rule id: 200000 is duplicated"
### Description
Not sure this is a bug, just trying to get some assistance.

I have two virtual server config files which perform reverse proxy tasks. One already had modsecurity enabled and was working fine. The other I have just finished configuring so have enabled modsecurity for the first time.

As soon as I enable modsecurity on the second virtual server .conf, I get the rule ID duplicated er

[2020-11-23 13:11] zimmerle commented on #2458
Hi @mackov83,

I see that you have three different inclusions on your main configuration -
[code]

Disabling the last one still leads to the problem?

[2020-11-23 19:13] martinhsv opened #2459 "v3.1-experimental branch -- audit log messages missing when DetectionOnly"
Within current v3/dev/3.1-experimental ,

Audit log messages are produced as expected when 'SecRuleEngine On' but not when DetectionOnly

[2020-11-23 23:01] frkngksl opened #2460 "Modsecurity Lua External Module Usage"
Hi,

I want to develop some rules using Lua scripts. All things in terms of Lua are okay, ModSecurity sees and executes rules, runs the Lua script etc. However, whenever I want to add a Lua module that is downloaded and installed with using Luarocks packet manager. For example let's say this module is 'bit' module that allows user to perform some bit manipulations. I add the following line to scri

[2020-11-23 23:47] zimmerle commented on #2460
Hi @frkngksl,

Is **luarocks** installed in the system or for your user? Remember that your webserver user is very likely to be a different user with different *env* vars.

[2020-11-24 15:31] martinhsv commented on #2459
There is an intersecting issue where the 'nolog' action is not being correctly processed.

Because there isn't a separate, user-visible use case in the code as it stands today, I'll address this additional issue in the same pull request.

[2020-11-24 17:07] frkngksl commented on #2460
Hi @zimmerle,

Thanks for your help, I wasn't aware that I should also change the Apache's env vars. However, there is still an error that avoids me to run my script. The debug.log says that:

`/usr/local/lib/lua/5.1/bit.so: undefined symbol: luaL_register`

Do you know anything related to the cause?

[2020-11-24 17:26] frkngksl commented on #2460
I guess the problem was solved after installing lua 5.2 instead of lua 5.1 . Should I report it as a bug?

[2020-11-26 06:24] #2460 closed, assigned to zimmerle

[2020-11-26 11:40] zimmerle commented on #2460
That is very likely to be an environment variable problem as well. Check the **LD_LIBRARY_PATH** env. variable. It should contains a path towards you _lua*.so_ file

[2020-11-30 21:19] #2459 closed, assigned to martinhsv

[2020-11-30 21:22] zimmerle commented on #2296
fixed by 910a1877a9ec673f36c139e6a3e941812b8e986e

[2020-11-30 21:22] #2296 closed, assigned to zimmerle

[2020-12-01 13:00] zimmerle commented on #89
SecRuleUpdate*ById is no longer an issue with version 3.0.

[2020-12-01 13:00] #89 closed

[2020-12-01 13:01] zimmerle commented on #151
Due to limitation to support such feature in different webservers, the @rsub is no longer an option in v3.0. Therefore, closing this issue.

[2020-12-01 13:04] zimmerle commented on #170
This was an issue back on the 2.x architecture. No longer an issue in 3.0. On 3.0 the phases are independent and the content hit the inspection/delivered to the client whenever it is ready by the webserver. Indeed, for response and request body we are not inspecting on the buffer arrival but when it is fully delivered. This could be a further improvement, as for the other items, i think we have it

[2020-12-01 13:04] #170 closed

[2020-12-01 13:06] #171 closed

[2020-12-01 13:07] #151 closed

[2020-12-01 13:08] zimmerle commented on #179
The auditlogs now came in two different options: JSON and the regular one. It is my understanding that JSON qualifies to close such issue.

[2020-12-01 13:08] #179 closed

[2020-12-01 13:11] zimmerle commented on #214
The TFN collection will be always populated within the content specified in the RULE itself and in the default action. With that, it will be possible to know those by the time that the rule is written. I am not sure if there is the need for such variable.

[2020-12-01 13:11] #214 closed

[2020-12-01 13:16] zimmerle commented on #217
boolean operations with operators could be treated with "**chained**" rules. Therefore such functionality can be achieved on 3.0.

[2020-12-01 13:16] #217 closed

[2020-12-01 13:17] zimmerle commented on #223
Since the audit are JSON, such registration is no longer needed.

[2020-12-01 13:17] #223 closed

[2020-12-01 13:20] zimmerle commented on #298
I think most of the issues are covered by: JSON-Audit + unique id related to the server log. With that a SIEM easily connect the dots and show all the information suggested here.

[2020-12-01 13:20] #298 closed

[2020-12-01 13:21] zimmerle commented on #293
Within v3.0 the offset of the matches are registered as part of the logging allowing the user to easily identify where the match came from. Including all the transformations applied on the content.

[2020-12-01 13:21] #293 closed

[2020-12-01 13:26] zimmerle commented on #903
@marcstern can you give a concrete example where such sort will be needed?

[2020-12-01 13:27] zimmerle commented on #340
Setvar with with macro expansion should be enough to achieve such functionality. I cannot foresee a use case scenario where a limitation is imposed.

[2020-12-01 13:29] zimmerle commented on #346
Such feature will break the compatibility within different webservers and such feature can be easily handle by the webserver itself. I cannot foresee a limitation where such feature is mandatory.

[2020-12-01 13:29] #346 closed

[2020-12-01 13:30] #347 closed

[2020-12-01 13:33] zimmerle commented on #364
As we have a parser on v3, we could easily have that implemented per-transformation. Said that, we no longer need to have such issue.

[2020-12-01 13:33] #364 closed

[2020-12-01 13:34] zimmerle commented on #374
SSL variables are available via ENV variable. No need to have this feature duplicated on ModSecurity.

[2020-12-01 13:34] #374 closed

[2020-12-01 13:35] #410 closed

[2020-12-01 13:35] zimmerle commented on #414
That is up to the operator.

[2020-12-01 13:35] #414 closed

[2020-12-01 13:38] ofmarconi opened #2462 "MediaWiki redirects to the homepage after editing the post (with many external links)"
**Describe the bug**

Hi, I don't have anything to do with security, I updated it as WHM sent it to "OWASP CRS v3.x for ModSec 2.9 (via RPM)"

It turns out that now I can't put many external links in a publication in MEDIAWIKI, would that have any solution besides disabling security?

Thanks!

**Logs and dumps**

https://imgur.com/a/mca3e7m

The interesting thing is that this is not my IP, so why

[2020-12-01 13:39] zimmerle commented on #462
On v3 this list is clear as the class that supports variable expansions has m_couldContainsMacro set to true.

https://github.com/SpiderLabs/ModSecurity/blob/587cbf39153fccb9cd129433609835fa83064bc4/src/operators/within.h#L34

[2020-12-01 13:39] #462 closed

[2020-12-01 13:40] zimmerle commented on #465
no feedback since 2013. closing.

[2020-12-01 13:40] #465 closed

[2020-12-01 13:41] zimmerle commented on #478
Logically-wise such feature could be achieved by having the chained rules. Closing till we have a better example why such feature will be important.

[2020-12-01 13:41] #478 closed

[2020-12-01 13:42] #527 closed

[2020-12-01 13:44] #557 closed

[2020-12-01 13:44] #588 closed

[2020-12-01 13:46] #573 closed

[2020-12-01 13:46] zimmerle commented on #610
Closing due to no feedback.

[2020-12-01 13:46] #610 closed

[2020-12-01 13:47] zimmerle commented on #648
This is a feature of 3.1. Already implemented.

[2020-12-01 13:47] #648 closed

[2020-12-01 13:48] zimmerle commented on #2462
Hi @ofmarconi,

I think you are facing some issues with the rules. The best place to ask such question is on the OWASP CRS project.

[2020-12-01 13:48] #2462 closed, assigned to nobody

[2020-12-01 13:49] zimmerle commented on #2458
No feedback. Closing.

[2020-12-01 13:49] #2458 closed, assigned to zimmerle

[2020-12-01 13:51] zimmerle commented on #2434
Hi @artemvarlyga,

please double check if you have a version mismatch. That is very likely to be the kernel of the issue.

[2020-12-01 13:51] #2434 closed, assigned to nobody

[2020-12-01 13:51] zimmerle commented on #2428
Done! waiting for feedback.

[2020-12-01 13:51] #2428 closed, assigned to martinhsv

[2020-12-01 13:53] ofmarconi commented on #2462
THX 👍

[2020-12-01 13:53] zimmerle commented on #2426
Kamino closed and cloned this issue to [libinjection/libinjection](https://github.com/libinjection/libinjection/issues/9)

[2020-12-01 13:53] #2426 closed, assigned to nobody

[2020-12-01 13:58] zimmerle commented on #2416
Hi @studersi,

It is very important to select what kind of information you choose to appear in you logging. You can filter that by changing the content of variables that are going to be resolved and so on. It seems like your rules are too verbose. Can you share what rule is causing the issue?

Increase the size of the logging leads to performance issues, may not be the solution of this specific pr

[2020-12-01 14:02] zimmerle commented on #2376
all issues reported here are now mitigated -- 587cbf39153fccb9cd129433609835fa83064bc4

[2020-12-01 14:03] zimmerle commented on #2381
ping.

[2020-12-01 14:04] zimmerle commented on #2372
@kaingeyy are you using 3.1-experimental branch?

[2020-12-01 14:08] zimmerle commented on #2361
Hi,

That is a limitation on nginx. At this phase is not possible to redirect the user any longer. The reason for that is the fact that nginx already delivered the response headers to the user. At this stage only drop is possible.

[2020-12-01 14:08] #2361 closed, assigned to zimmerle

[2020-12-01 14:09] #2350 closed, assigned to zimmerle

[2020-12-01 14:19] zimmerle commented on #2324
The variable values computation in between the different threads are made by random factor after each request. Increase a counter is ok, but, it will not represent the total amount of requests and the value will be different for each thread/worker/process. Having said that, checking the counter value needs to consider this factor.

[2020-12-01 14:19] #2324 closed, assigned to zimmerle

[2020-12-01 14:19] #2326 closed, assigned to zimmerle

[2020-12-01 14:22] zimmerle commented on #2325
ModSecurity version 2.x has some limitations on the utilization of SecRuleRemove inside virtual hosts. That limitation no longer exists in version 3. I think that is may be the case.

[2020-12-01 14:22] #2314 closed, assigned to zimmerle

[2020-12-01 14:23] #2351 closed, assigned to zimmerle

[2020-12-01 14:52] albgen commented on #2381
hi, its for me the ping?

[2020-12-01 15:06] martinhsv commented on #2416
@zimmerle ,

CRS rule 942130 is given as an example in the coreruleset issue that he cited ( https://github.com/coreruleset/coreruleset/issues/1888 ).  I  found this effect pretty easy to reproduce with this and other CRS rules.

Note that in the coreruleset issue, dune73 states that CRS is planning to revamp the tagging system, so I'm not sure how widespread and/or continuing of a problem this is

[2020-12-01 15:22] albgen commented on #2381
btw, does not compile again
![image](https://user-images.githubusercontent.com/7231968/100759764-4accc200-33f1-11eb-931f-7e2b8e83dd02.png)

git log
![image](https://user-images.githubusercontent.com/7231968/100759922-7bacf700-33f1-11eb-8e54-f2bc69460725.png)

[2020-12-01 17:50] marcstern commented on #903
`/req?p=cmd&p=/c&p=...`
The previous line leads to "p=cmd,/c,..." is ASP (and others) which can be used to perform an attack (in this concrete example, the comma is a valid separator in Windows commands).
We currently can detect this by concatenated all values and adding a comma between these.

However, the following evasion rendres this impossible:
`/req?p=cmd&a=xyz***&p=/c&p=...`

By having a so

[2020-12-01 17:56] marcstern commented on #340
From my example above:
`SecRule ... "setvar:'TX.HPP_%{MATCHED_VAR_NAME}=%{TX.HPP_%{MATCHED_VAR_NAME}},%{MATCHED_VAR}'"`
This would require double (recursive) macro replacement: %{TX.HPP_%{MATCHED_VAR_NAME}}
This obviously doesn't work.
Note that the first part works (TX.HPP_%{MATCHED_VAR_NAME}=).

However, by having a concatenation operator similar to the '+' (ex: '>'), we could write it:
`setvar:

[2020-12-01 18:01] marcstern commented on #374
You currently cannot test a SSL variable like ENV:SSL_CLIENT_S_DN_CN

[2020-12-01 18:03] marcstern commented on #465
No feedback from _your_ side :-(
I proposed the "tfnOption:ignoreInvalidPercents" but you never replied ...

[2020-12-01 18:04] marcstern commented on #462
Maybe non-developers would also want this in the doc, no?

[2020-12-01 18:07] marcstern commented on #610
No feedback?
There's a pull request waiting: https://github.com/SpiderLabs/ModSecurity/pull/2263
Do you close an issue because the development doesn't give any feedback?
Sorry but I cannot understand your logic!

[2020-12-01 18:19] martinhsv commented on #903
Based on the example, it doesn't seem like this proposal actually has anything to do with sorting per se.  I.e. there is no processing difference between varying orders of unlike-named arguments.

Your example seems to only be about aggregating like-named arguments.

(For anyone following this who is unfamiliar with the concatentation being referred to, some backends (chiefly IIS) will concatenate

[2020-12-01 23:33] zimmerle commented on #340
What is the use case for setting a key based in a variable, not the value?

[2020-12-01 23:38] zimmerle commented on #374
What you meant by DN_CN? All the **client_s** variables are correctly populated by SSL. As long as you have the client authentication is enabled, those variable will be populated accordingly.

https://httpd.apache.org/docs/2.4/mod/mod_ssl.html#page-header

[2020-12-01 23:45] zimmerle commented on #462
Sure. Now we have the technical meaning to do this as oppose to before, where those couldn't be computed easily. This means that documentation will be easy. It is a know issue that we have to have a better documentation. Want to help us on that task?

[2020-12-01 23:50] zimmerle commented on #610
Issue #2263 has a pretty write up and details the issue and how to reproduce. No need to keep this one. It will only fragment any discussion on the subject.

[2020-12-02 00:13] zimmerle commented on #340
@martinhsv  pointed me to a valid use case scenario for this one. I understand its value. Working on it.

[2020-12-02 00:59] zimmerle commented on #340
Implemented at 95dc23a5aa30e659ed312999b45808a393e92e28. Code is on QA. Still need some love. Definitively needs better test cases.

With that:
https://github.com/SpiderLabs/ModSecurity/blob/95dc23a5aa30e659ed312999b45808a393e92e28/test/test-cases/regression/action-setvar.json#L30-L34

We expect to have this:
https://github.com/SpiderLabs/ModSecurity/blob/95dc23a5aa30e659ed312999b45808a393e92e28/t

[2020-12-02 11:29] celesteking commented on #2324
What are you talking about? There's a global lock around those operations, they were supposed to be atomic.
Secondly, why on earth is `IP` collection incrementing atomically as expected while `RESOURCE` is not? What's so special about it?

[2020-12-02 12:37] liuyi opened #2463 "[question] How to unblock IP adress from blocked list?"
For test purpose, my IP address was blocked by ModSecurity with Nginx. I don't want add my IP to the whitelist, because the IP is  dynamic address.

Is there a way to unblock the IP from blocked IP list or request list?

Thanks!

[2020-12-02 14:48] zimmerle commented on #2463
Hi @liuyi that depends on how your ip got blocked or the rules in question. Do you mind to share the logging that says your ip is blocked?

[2020-12-02 15:12] zimmerle commented on #340
New test cases at b8478b1

[2020-12-02 16:59] marcstern opened #2464 "Incorrect log unlock"
In modsecurity.c, line 143, a lock can fail:
[code]

In msc_logging.c, line1454, we always try to unlock it:
`rc = apr_global_mutex_unlock(msr->modsecurity->auditlog_lock);`
This leads to errors in the log.

We should add a watchdog:
[code]

[code]

[2020-12-02 16:59] zimmerle commented on #215
Having support for variable counter on macros at v3/dev/issue_215 -- 7857031f569b350a68c0c1174ef0cc105435584a

In v3 collection variables (Anchored ones, e.g. REQUEST_HEADERS) are expanded to all values.

[2020-12-02 17:20] marcstern commented on #340
That's great.
Any chance to have it in 2.9.x?

[2020-12-02 17:21] zimmerle commented on #2464
Hi @marcstern, thank you for the report.

### modsecurity.c

that is what we have on the line 143 -

https://github.com/SpiderLabs/ModSecurity/blob/12cefbd70f2aab802e1bff53c50786f3b8b89359/apache2/modsecurity.c#L143

I believe you don't have the most recent version or a custom one. The code that you are referring to is available here:

https://github.com/SpiderLabs/ModSecurity/blob/12cefbd70f2aab8

[2020-12-02 17:21] #2464 closed, assigned to zimmerle

[2020-12-02 17:22] marcstern commented on #903
As I explained, if you try (like in the CRS rules) to do it on unsorted ARGS, you can evade it. This is why we need (also) a sorted collection.
But, as I said, being able to create our own collection would be much better (and allows a lot of other use cases).

[2020-12-02 17:24] marcstern commented on #374
Yes, but in the "SSL" space which is not available to ModSecurity rules

[2020-12-02 17:25] marcstern commented on #462
As I'm working with Apache, I'm still in 2.9 ...

[2020-12-02 17:28] marcstern commented on #610
Then it's because it's a duplicate, OK

[2020-12-02 17:33] marcstern commented on #2464
Why don't we log the creation failure but the unlock failure?
The other way around seems much more logical, no?

[2020-12-02 17:49] d0q commented on #2434
Hello, dear @zimmerle could you please clarify, what version mismatch need to check? It looks like I have the same issue on my server.

Thank you.

[2020-12-02 17:56] zimmerle commented on #2464
Either way the user will be informed about the issue. But, the second check is there for others reasons, we hake to keep it. So, adding a new check is possible and will improve the usability for the user. Not a bug fix but an improvement.

It won't improvement to the usability if we shown the error twice (config: I. check II. loading) and if we somehow interfere on Apache life cycle, particular th

[2020-12-02 18:32] martinhsv commented on #2352
I have looked into this a bit more, so by way of update ...

First, I'll agree that it would be nice to loosen this restriction somewhat if possible.  Even in English, use cases for a single quote (particularly when used as an apostrophe) are not trivially rare -- particularly when using certain proper names (e.g. filename="o'toole.txt")  And this can be even more common in other languages where a

[2020-12-02 20:58] airween opened #2465 "SecRequestBodyAccess off skips the phase:2 rules"
**Describe the bug**

If the `SecRequestBodyAccess` is `off`, then the engine skips all rules which has `phase:2` action.

**To Reproduce**

[Here](https://gist.github.com/airween/f20120d8e419cd72c03ecb2aeb6a54fe) you can find a regression test case.

In the debug log you can see this line:
[code]

**Expected behavior**

As you can see, the request contains an XML payload (CT doesn't count...), an

[2020-12-02 21:14] airween commented on #2465
Sorry to say, but same behavior in case of `SecResponseBodyAccess` - if it's `off`, then whole `phase:4` ignored.

Test case [here](https://gist.github.com/airween/f5993c1064a5c9de6e8741c7f4cbdcec). Problem is similar: the function returns by true if the body access is off, the evaluation won't called.

[2020-12-02 22:06] martinhsv commented on #2465
Hmm.  I guess I can understand why it was coded that way (and some might even challenge whether it's a bug at all).

Given that phase:2 occurs at 'request body has been received', and one does not want to access the request body, it's not immediately obvious why one would write a rule to occur at phase:2.  I.e. if your rule is checking request headers, why not make it a phase:1 rule?  For example,

[2020-12-02 22:23] dune73 commented on #2465
You hit the nail on the head with your reasoning why most rules are written in phase 2. A quick peek at the Trustwave rule set tells me that it's over 99% of the rules. The ratio is better with CRS, but this is a serious problem and I hope you can fix this soon.

[2020-12-02 22:23] airween commented on #2465
Thanks for quick response - I just followed the mod_security2 behavior.

While it works as I wrote that expected, I assume the v3 should follow that way - or make a separated documentation, how the new version works.

Anyway, using of `phase` action is just one thing - the another is the #2273: if the `SecRequestBodyAccess` is off, why does engine start to parse that?

[2020-12-03 09:14] marcstern commented on #2464
We should log the real problem: the mutex creation => uncomment lines 139 & 140.
If we don't stop (I won't discuss this choice), then we should not log the mutex deletion failure if the creation was logged => my fix is inline with that.

[2020-12-03 09:16] marcstern commented on #2352
If refusing single quotes is a security feature, I think it's a mistake. this should be implemented by a rule, so it can be managed correctly.
The parser should accept it and a rule can forbid it.

[2020-12-03 09:21] super-23 opened #2466 "[emerg] 1035#1035: unknown directive "modsecurity""
[emerg] 1035#1035: unknown directive "modsecurity"

This error appears in the nginx log.

What's the problem?

[2020-12-03 09:22] marcstern commented on #2465
Several reasons:
- with "configure --enable-request-early", phase 1 rules cannot be embedded in Location
- some header rules may depend on request body (for instance the body size)
- etc.

[2020-12-03 11:52] zimmerle commented on #2464
@marcstern

   * I complete agree with you, we should warn the user that the mutex failed to be created -- As part of apache configuration parser I am afraid that there are some limitations. We can improve the run time warning by having a better warning message.
   * I complete disagree in hiding error messages from the user. How the user will be able to understand that logging is failing if we do

[2020-12-03 11:54] zimmerle commented on #2466
@super-23 it is very likely that you don't have the ModSecurity connector running in yours nginx.

Here is the manual with others configuration directives -
https://github.com/SpiderLabs/ModSecurity-nginx#usage

Make sure you have the module loaded.

[2020-12-03 11:54] #2466 closed, assigned to zimmerle

[2020-12-03 12:17] marcstern commented on #2464
`I complete disagree in hiding error messages from the user`
You misunderstood my remark.
I said that we should warn the user about the mutex creation failure and **then** suppress the warning about the deletion when it's a consequence of the creation failure (that was logged).

[2020-12-03 12:42] zimmerle commented on #2465
Not executing the rules seems to be a little too radical for my taste. On the other hand, I understand the value of not running it for performance reasons and other points cited below. Furthermore, it is easy to maintain the rules by having the **execute-ever** approach, given that it will allow _cross-phases variables_ in a single Rule.

The _cross-phase variables_ is controversial. Although it f

[2020-12-03 14:44] martinhsv commented on #2352
@marcstern ,

That's (mostly/sort of) exactly what happens now.  The presence of a single quote within the value does not halt parsing.  Any block of the transaction will occur as a result of a rule that checks either MULTIPART_STRICT_ERROR ( as rule 200003 in modsecurity.conf-recommended does) or a more specific check for the value of MULTIPART_INVALID_QUOTING).  In other words this already can b

[2020-12-03 16:14] marcstern commented on #2352
We can check that with a chained rule

[2020-12-03 16:41] martinhsv commented on #2352
By which I guess you mean, the first rule in the chain checks that the overall Content-Type was indeed multipart (or more likely checking REQBODY_PROCESSOR) and then the second rule in the chain checks for single-quote chars.  That's fair.  But then a separate rule is needed to also check filename content, for example.  I'm still not completely sold that this approach would overall yield a cleaner

[2020-12-03 16:43] marcstern commented on #2352
That's the goal of the FILES_NAMES collection

[2020-12-03 16:45] martinhsv commented on #2352
I didn't mean that a second chained rule pair comparable to the first one was required.  Merely that an additional rule would be needed.

[2020-12-03 23:32] WGH- commented on #2376
You forgot to add some headers to `pkginclude_HEADERS` list. Namely, `anchored_set_variable_match_vars.h`, `anchored_set_variable_match_vars_names.h`, and `anchored_variable_match_var_name.h`.

The last leak is still not fixed. The first constructor of `VariableValue` doesn't free the pointer stored in `m_value`.

[code]

[2020-12-04 07:36] marcstern commented on #2352
And it's normal to use an additional rule to perform a separate functional check ;-)

[2020-12-04 12:00] zimmerle commented on #2376
Thank you @WGH- going to look into those.

[2020-12-04 12:49] airween commented on #2465
Another use case: when the variable is a collection name, eg. `TX`.

[code]

https://github.com/coreruleset/coreruleset/blob/af619744cbf25bca1d25c3bb27749951a4a4fb4f/rules/REQUEST-949-BLOCKING-EVALUATION.conf#L76-L91

I think this is justified, because the rule counts scores in the REQUEST phases, and it must to wait the end of these phases.

[2020-12-04 13:55] dune73 commented on #2465
@zimmerle: I think there is nothing wrong with giving the user a way to skip phases completely. It just should not be implicit and undocumented. If the option exists, it should be via a dedicated directive.  I also like the idea of ModSecurity warning about rules not doing what people expect. The traditional phase:1 rule with ARGS_POST is silently ignored and that is very taxing on newbies. Person

[2020-12-04 13:59] zimmerle commented on #2465
The last rule in a phase does not **necessarily** be the first rule of the subsequent phase. It could be the last in the current phase.

[code]

Order-wise this is equivalent -
[code]

Notice that in the former you are taking an action when the headers may be already delivered to the end application. In other words: **actionB** happens a phase before **actionA**.

[2020-12-04 17:22] azrdev opened #2468 ""Rule processing failed (id=, msg=)." on SecRule STREAM_INPUT_BODY @rsub"
### **Describe the bug**

I'm trying to intercept uploads of (malicious) files, removing the file content and replacing the file name with a message to the user. (All this because the CMS behind appears to be not that intelligent).

I wrote the following rule:

[code]

**Logs and dumps**

Which filters my test file through runav.pl, then goes on with the pipeline because a virus (EICAR test string

[2020-12-04 20:23] martinhsv opened #2469 "v3.1-experimental branch -- multiple memory leaks"
Within current v3/dev/3.1-experimental, I believe I have identified some additional memory leaks that have not yet been addressed:

1) set_env.cc:41
2) modsec_build.cc:30
3) validate_dtd.cc:52 (this one may be a false positive -- needs more investigation)

[2020-12-07 09:20] albgen opened #2470 "Question regarding rotating logs of modsec"
Hello dears,

i'm running modsec on latest nginx on centos7. The problem is that i cannot rotate the logs with logrotate.

My logrotate config file for modsec is the following:

[2020-12-07 12:58] zimmerle commented on #2465
Some facts were somewhat related to that issue -

The recommended configuration file, with the description of why we think it is quintessential to have Request Body Inspection **On**:

https://github.com/SpiderLabs/ModSecurity/blob/afefda53c69bb17e2ec16d24dd6fbc2c8fd7d063/modsecurity.conf-recommended#L12-L16

One that may be writing the rules is reading the logs that state -
https://github.com/Spi

[2020-12-07 13:07] dune73 commented on #2465
I do not think you should remove configuration options. But that's for a long term discussion.

Near term: Will you revert 379f370 or how do you plan to fix this until the long term solution pans out?

[2020-12-07 13:20] zimmerle commented on #2470
Hi @albgen,

libModSecurity is not implementing the support for ``` kill -USR1```. Try **nginx reload** instead.

To follow the development of this feature, keep an eye on this issue: #2304

[2020-12-07 13:20] #2470 closed, assigned to zimmerle

[2020-12-07 17:16] zimmerle commented on #2469
## set_env

I believe you are referring to:

https://github.com/SpiderLabs/ModSecurity/blob/afefda53c69bb17e2ec16d24dd6fbc2c8fd7d063/src/actions/set_env.cc#L40

Is it a consequence of **strdup**? that was used to set the variable. It is gone when the process exit.

## modsec_bulid

Duplicate as the memory leak reported on #2376. Fixed.

Here the variable is generated:
https://github.com/SpiderLabs

[2020-12-07 17:35] zimmerle commented on #2376
@WGH-

- [x] VariableValue constructor was changed.
- [X] anchored_set_variable_match_vars.h, anchored_set_variable_match_vars_names.h, and anchored_variable_match_var_name.h are now part of pkginclude_HEADERS.

New **_VariableValue_** constructor -
https://github.com/SpiderLabs/ModSecurity/blob/5f38e37f73f151db49e3f34981adc96d03633889/headers/modsecurity/variable_value.h#L98-L108

**_pkginclude_H

[2020-12-07 17:37] martinhsv commented on #2469
set_env.cc:  Perhaps I'm misunderstanding you but waiting for the process to terminate doesn't help here.  Because the memory allocation is occurring in the execute function, this is a per-transaction leak.

[2020-12-07 17:43] martinhsv commented on #2469
modsec_build.cc:  Yes, the heap memory allocation is happening in that particular VariableValue constructor.  And it is due to the line with that push_back in modsec_build.cc.

But, like the previous case, because this is occurring within the evaluate function, this is a per-process leak.

[2020-12-07 17:51] martinhsv commented on #2469
validate_dtd:

No, it's at validate_dtd.cc:52 (line number from 3.1-experimental):
[code]

I haven't fully confirmed this one, but I believe this is the same sort of issue; this line of code is in the evaluate function which means it runs every transaction and overwrites the the previous value of the pointer m_dtd. Which means that the memory that had been pointed to is leaked on a per-transaction

[2020-12-07 17:53] martinhsv commented on #2469
None of the above were already fixed in 3.1-experimental when I ran the tests on Friday -- I did make sure to run against the current revision of 3.1-experimental as of that date.

[2020-12-07 17:56] WGH- commented on #2469
In glibc, `setenv` seems to behave better wrt memory management, as it tries to reuse the `KEY=VALUE` pairs if possible. But it will still leak memory if called with different arguments, and nothing can be done to prevent this.

What's the use case for the setenv operator, anyway? Manipulating the global process state from transaction handling code seems like a bad idea.

[2020-12-08 07:41] tomasdeml commented on #2381
We are also experiencing a memory leak on reload signal. It seems that the leak started manifesting when we enabled `SecAuditLog /dev/stdout` in our rule set (however, we have not confirmed this yet). On reload, the memory of the master process consistently grows about 6 MB.

The leak is definitely present in the latest `v3/master` branch (afefda53c69bb17e2ec16d24dd6fbc2c8fd7d063) but it seems tha

[2020-12-08 07:42] tomasdeml commented on #2469
FYI https://github.com/SpiderLabs/ModSecurity/issues/2381#issuecomment-740444106

[2020-12-08 10:46] albgen commented on #2470
i tried with the following config
[code]
but the result was the following which means the new log for the day is 0:

![image](https://user-images.githubusercontent.com/7231968/101474062-e5c22080-394a-11eb-8579-c7a2d9a9ed58.png)

[2020-12-08 13:23] marcstern commented on #2464
I think I understand the reason the creation failure was not logged: it's only because, in modsecurity_init(), we have no access to "server_rec" struct to use ap_log_error().
This seems to me a technical limitation only.

[2020-12-08 13:27] marcstern opened #2472 "sanitiseMatchedBytes only works with 1 digit parameters"
sanitiseMatchedBytes:5/8 => OK
sanitiseMatchedBytes:10/2 => not accepted => sanitizes the whole string

In msre_action_sanitizeMatchedBytes_init():
`if (action->param != NULL && strlen(action->param) == 3)`
should be
`if (action->param != NULL && strlen(action->param) >= 3)`

[2020-12-08 17:57] martinhsv commented on #2469
Regarding the 2nd of 3 leaks reported in this issue (i.e. modsec_build), as stated

Confirmed.  No further work required for this one.

[2020-12-08 18:40] martinhsv commented on #2469
Adding an additional one:

4. validate_schema.cc:85

This is structurally similar to the previous-reported validate_dtd.cc leak, and is likewise a per-transaction memory leak
[code]

[2020-12-08 22:21] martinhsv commented on #2469
I'm going to recommend we leave aside the leak identified above as '1) set_env.cc:41'

If and when we want to improve this, a likely avenue (as suggested by @WGH- ) would be to use setenv() instead of putenv().

But for now:
- this issue is not new to 3.1 -- it is pre-existing in 3.0.x, which means taking time to deal with this now is of doubtful immediate value
- no one in the community has compl

[2020-12-09 03:18] danfromtitan commented on #2260
This is caused by the error_log setting in nginx.conf, default is _error_ (or _notice_ in ingress-nginx) and it must be set to _info_ before you can see the logs of the preceding rules match.

[2020-12-09 07:05] dune73 commented on #2465
Any news on this front or a plan to share?

Infos from CRS: We merged a PR (-> 1941) that shifts all the CRS rules that can run in phase:1 into phase:1. This allows ModSecurity v3 users to mitigate this security vulnerability by running the development version of CRS (v3.4/dev) and edit the rule 949110 to run in phase 1. We are now preparing a minor release (likely 3.3.1) that will allow blocking

[2020-12-09 14:47] zimmerle commented on #2472
I think @marcstern is trying to highlight something is this piece of code -
https://github.com/SpiderLabs/ModSecurity/blob/12cefbd70f2aab802e1bff53c50786f3b8b89359/apache2/re_actions.c#L445-L454

This piece of code is used by a functionality named **sanitaseMatchedBytes**; further information available here -
 https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#sanitiseMatch

[2020-12-09 16:57] hazardousmonk commented on #2381
Sorry for the delayed response. I built it, however it crashed on launch - it was a production server down for maintenance so I had to revert back to safer territory. I will try this again and keep you posted. Probably Nginx 1.19 and the Dev version. I'm just curious as to how everyone is dealing with this so far? I've hacked a quick script to restart nginx the moment it sees those evil lines in t

[2020-12-09 21:50] zimmerle commented on #2469
Summarize:

- [X] set_env.cc
- [X] modsec_build.cc
- [ ] validate_dtd.cc

It is essential to mention that those are issues regarding specific functionality - One may face it upon utilizing those resources' unitedness.

## set_env.cc

There is interesting information on the subject here: [StackOverFlow](https://stackoverflow.com/questions/5873029/questions-about-putenv-and-setenv).

Indeed, **seten

[2020-12-09 22:06] zimmerle commented on #2381
Hi @hazardousmonk  thank you for have it tested. You could have it compiled and just changed library file or export a different **LD_LIBRARY_PATH** together with the nginx _**.so**_ addon.

At this phase of the development I would prefer if you don't have it running headless. Specially if it not starting properly. Do you happens to have the logging related to the event?

[2020-12-09 22:06] martinhsv commented on #2469
Just so it doesn't get forgotten ...

validate_schema.cc was added later as a fourth item. It is comparable to the validate_dtd.cc issue and has a similar pull request available.

[2020-12-10 16:09] reverieinc123 opened #2475 "Website crawl issues with status code 406"
**Describe the bug**
We can't able to audit website using SEMRush tool in order to do that we need to whitelist below mentioned IPs.

Domain: www.reverieinc.com

**Logs and dumps**

User-agent: Mozilla/5.0 (compatible; SemrushBot-SA/0.97; +http://www.semrush.com/bot.html)

IP addresses: 46.229.173.66, 46.229.173.67, 46.229.173.68

[2020-12-10 16:24] zimmerle commented on #2475
Hi @reverieinc123,

The ModSecurity is just the engine. The inspections are held by the rules that you have loaded. What you have loaded is a custom rule or some public rule set?

[2020-12-11 03:25] reverieinc123 commented on #2475
Actually we have used SEMRush tool to audit our website www.reverieinc.com but its shows an error called blocking SEMRush bot crawler. We have contacted the SEMRush team as they mentioned The software can block our bots from crawling a website & thus prevent users from fully benefitting from our platform's functionality.

You may contact Mod Security in order to whitelist our bot.

I would like to

[2020-12-11 10:29] hazardousmonk commented on #2381
I actually compiled it into nginx rather than building a dynamic module - I will try to load it as a dynamic module. I'm not quite sure how to run it in non-headless mode. If you could point me in the right direction I'll be more than happy to help out on this and send you the full verbose logs.

I can also confirm that v3.0.4 is stable and does not have this condition.

[2020-12-11 17:12] zimmerle commented on #2475
@reverieinc123,

ModSecurity process a ruleset against a request in order to asses if a request looks like something malicious or not.  The one who classify a request as malicious is the ruleset. Somewhere in your ModSecurity configuration file you have a rule that is blocking the requests from this crowler.

Usually, when such thing happens it is the case to put the bot in some sort of allow list

[2020-12-13 04:32] reverieinc123 commented on #2475
Dear Team,

FYI, attached log report.

Regards,
Sudhakar

On Fri, Dec 11, 2020 at 10:42 PM Felipe Zimmerle <notifications@github.com>
wrote:

--
The information contained in this e-mail message and/or attachments are
confidential or privileged information of Reverie Language Technologies
Pvt. Ltd. Unauthorized dissemination, use, review, distribution, printing
or copying of the information contain

[2020-12-14 11:48] zimmerle commented on #2475
Hi @reverieinc123

Can you double check the logging link or upload? it is not on part of this issue.

[2020-12-14 16:39] zimmerle commented on #2472
@marcstern ping?

[2020-12-15 04:19] SandakovMM opened #2476 "Change SecRuleRemoveByMsg behaviour to looking of substring"
Hi guys. I have a little proposal for modsecurity that i want to discuss with you.

**Background:**
I am trying to move from modsecurity 2.9 to modsecurity 3.x and found out some behaviour changes of SecRuleRemove* directives.
On modsecurity 2 _SecRuleRemoveByTag_ and _SecRuleRemoveByMsg_ was an regular expressions. But for 3.x behaviour of this directives changed to checking if string exact match

[2020-12-15 11:59] marcstern opened #2477 "Incorrect function"
In msc_logging.c, line 1458:
msr_log(..., apr_proc_mutex_lockfile(msr->modsecurity->auditlog_lock), ...

apr_proc_mutex_lockfile() must be replaced by apr_global_mutex_lockfile() because msr->modsecurity->auditlog_lock is of type 'apr_global_mutex_t *'.
It simply avoids a warning but could become a bug in future version of libapr.

[2020-12-15 13:42] zimmerle commented on #2477
There is no such content on line 1458. At 1458 that is what we have -
https://github.com/SpiderLabs/ModSecurity/blob/12cefbd70f2aab802e1bff53c50786f3b8b89359/apache2/msc_logging.c#L1457-L1459

If we rollback the code to March of 2016 ([2.9.1](https://github.com/SpiderLabs/ModSecurity/tree/v2.9.1)), the content of 1458 is something somewhat similar to the content that you have highlighted -
https:/

[2020-12-15 13:42] #2477 closed, assigned to zimmerle

[2020-12-15 14:40] marcstern commented on #2477
Indeed, sorry for the false positive, I mixed up 2 repos.

[2020-12-16 13:22] zimmerle commented on #2475
@reverieinc123 ping.

[2020-12-16 13:37] reverieinc123 commented on #2475
Hi Team,

Could you please help me with this issue?

When we run Site Audit on SEMRush tools this is what I'm facing.

For the same thing, i have downloaded the log and attached the same please
take a look.

[image: image.png]

Regards,
Sudhakar

On Wed, Dec 16, 2020 at 6:52 PM Felipe Zimmerle <notifications@github.com>
wrote:

--
The information contained in this e-mail message and/or attachments

[2020-12-16 13:38] zimmerle commented on #2469
Last update -
- [X] set_env.cc
- [X] modsec_build.cc
- [X] validate_dtd.cc
- [X] validate_schema.cc

All issues are now closed!

[2020-12-16 13:47] zimmerle commented on #2475
@reverieinc123 I am afraid you have to go over the GitHub website and paste your log

[2020-12-16 15:28] reverieinc123 commented on #2475
IP addresses of Semrush Bot ( Site Audit ): 46.229.173.66, 46.229.173.67, 46.229.173.68

REQUEST:
curl -i -sS -L --proto-redir -all,http,https --max-time 5 -A 'Mozilla/5.0 (compatible; SemrushBot-SA/0.97; +http://www.semrush.com/bot.html)' http://reverieinc.com/

RESPONSE:
HTTP/1.1 406 Not Acceptable
Date: Wed, 16 Dec 2020 13:31:34 GMT
Server: Apache
Content-Length: 226
Content-Type: text/html; ch

[2020-12-16 15:29] reverieinc123 commented on #2475
Posted in the website please take a look.

Regards,
Sudhakar

On Wed, Dec 16, 2020 at 7:17 PM Felipe Zimmerle <notifications@github.com>
wrote:

--
The information contained in this e-mail message and/or attachments are
confidential or privileged information of Reverie Language Technologies
Pvt. Ltd. Unauthorized dissemination, use, review, distribution, printing
or copying of the information cont

[2020-12-16 16:14] zimmerle commented on #2475
@reverieinc123  The error log is something that you can grab from your webserver log. In the logs we will have information on why such request got blocked. For instance: the **rule ID** and **rule message**.

You may want to look at your webserver  _errorlog_. There, you will find the logs and the rule that actually caused this request to be blocked.

[2020-12-16 18:38] marcstern commented on #2472
You're correct about the my request @zimmerle. It would allow to specify "12/36"
You're also correct that it would accept the "xx/y" syntax.
Currently, it checks the syntax and, if incorrect, it uses 0.
You could extend the syntax check to more than 1 character to have the exact same behaviour or you could use strtol() which converts invalid strings to 0 (the version we implemented because it's th

[2020-12-17 20:13] martinhsv commented on #2465
Nothing substantial to report yet.  This matter is currently under active discussion.

[2020-12-18 09:12] dune73 commented on #2465
Could we be part of the discussion, please? This issue affects our users, so we would like to chime in too. @zimmerle told us several times to report issues here on github so things could be discussed in public. If you discuss this behind closed doors now, this would be a contraction.

[2020-12-18 09:58] dune73 commented on #2465
Update from the OWASP ModSecurity Core Rule Set project:

* We have shifted all rules that can run in phase 1 into phase 1 for the v3.4/dev branch
* We have introduced a new configuration option "Early Blocking" that allows you to block at the end of phase 1. See crs-setup.conf. (Again for the 3.4/dev branch)

https://github.com/coreruleset/coreruleset

With these two changes, we provide you with

[2020-12-18 12:43] gianks opened #2480 "ModSecurity 3 - Windows Apache/Nginx Connector"
Hi all,
it's been a while since the last update i could find on this topic.
We are facing the need to provide ModSecurity v3 in Windows environment.
Currently using IIS with 2.9.4.

What's the current status?
Is it plausible to compile and use it with Apache or Nginx on Windows to your knowledge?

Thanks!

[2020-12-18 15:27] zimmerle commented on #2480
Hi @gianks

That is good to hear. We are aiming not only to have it working for Nginx / Apache on windows but also IIS.

It is feasible to have v3 compiled on Windows using the VS build tools. However, some modifications are needed to be done. As we develop the code or review contributions, we make it easy to extend to the Windows platform.

Some example of things that demands changes are -

https

[2020-12-18 23:55] skwokie opened #2481 "Not able to remove 200003 with ruleRemoveById"
**Describe the bug**

200003 still being triggered after it has been removed in REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf as followed:
[code]

**Logs and dumps**

Output of:
 AuditLogs
[code]
 Error logs
[code]

**Expected behavior**

Should the rule be disabled for the specified uri?

**Server (please complete the following information):**
 - ModSecurity version (and connector): Modsec verion:

[2020-12-19 18:32] ghost opened #2482 "Disregard (delete, if you can)"
Disregard this message.
My solution is Cloudflare.

[2020-12-20 07:36] #2482 closed, assigned to nobody

[2020-12-20 17:14] martinhsv commented on #2481
Hi @skwokie ,

You are likely experiencing an effect of rule execution order.  Since 200003 (assuming you're using the rule with that id from modsecurity.conf-recommended) and your exception rule are both phase:2 rules, the order in which the rules are included matters.

In your case, likely the simplest way to address this is to change your exclusion rule to run in phase:1.  Since it is testing R

[2020-12-21 09:44] cyndy08 opened #2483 "Bind Modsecurity with a Nodejs Application"
**Describe the bug**
Hello everyone,
 i am currently working on my Bachelor thesis and it is about testing the security of some open source Web application firewalls. So i am testing Modsecuriy and Naxsi from Nginx. For the tests i am using two vulnerable web applications: Damn Vulnerable web app and the Juice Shop from OWASP. Running Modsecurity with the DVWA worked fine. But I am not able to run

[2020-12-21 12:28] zimmerle commented on #2483
Hi @cyndy08,

Glad to hear that you are interested in use ModSecurity in your project.

I would advise you to stay with the first approach, having ModSecurity as a proxy on either Apache or Nginx, as this is the most straightforward setup for ModSecurity. Consequently, allow you to focus on the kernel of your work.

Did you have a chance to have the debug logs enabled when you tried the ModSecurit

[2020-12-21 13:22] zimmerle commented on #2376
- [X] #2469 is closed.
   - [ ] #2381 under investigation.

[2020-12-21 13:25] WGH- commented on #2376
@zimmerle hey, do you need ASAN memory leak output regarding rules loading? I believe I had quite a lot of reported leaks related to it as well. I didn't show them because per-transaction memory leaks were more concerning at that moment.

[2020-12-21 13:29] zimmerle commented on #2376
@WGH- It will be amazing if you manage to share those. We want to mitigate all those memory related issues. Even small leaks can be very annoying depending on the deployment. thanks!

[2020-12-21 13:49] cyndy08 commented on #2483
Hi @zimmerle ,

thank you replying.  The log file only writes something when a request is blocked by ModSecurity. I know that all the requests are being proxied to modsecurity because this sql injection is blocked: ' or 1=1;--
But when i send  a single apostrophe(') or  something like test@mail.com' , they are not blocked. Also XXS are not blocked.
So that is why i am confused. I feel like Modsecu

[2020-12-22 01:22] gianks commented on #2480
Hi,
we are working on it although some issues are slowing down the ops.
Is there any problem in using cygwin or mingw to compile modsecurity?
Would this cause troubles with the connectors?

[2020-12-22 01:56] Hello-Linux opened #2484 "Can ModSecurity create a GUI panel?"
Can ModSecurity create a GUI panel?

[2020-12-22 11:37] zimmerle commented on #2480
@gianks not that I heard about. Please do share your experience on that process, it will be vary valuable.

[2020-12-22 12:16] zimmerle commented on #2483
@cyndy08 There is this DebugLogs that you can use to verify if every request is being inspected or not.

In order to enable the DebugLogs, you can use:

[code]

In the file, all the details of the inspection will be printed.

[2020-12-22 12:47] zimmerle commented on #2484
I am afraid I did not get exactly what you meant. Do you mind to explain a little bit what you want to accomplish? Is that a UI for logging? ui for rules configuration? ui using ModSecurity _secrule_ language?

[2020-12-22 13:36] airween commented on #2484
No.

May be you're looking something like this:

https://fossil.include-once.org/modseccfg/index

It's available through PyPI:

https://pypi.org/project/modseccfg/

HTH.

[2020-12-22 14:01] #2481 closed, assigned to martinhsv

[2020-12-22 14:21] WGH- commented on #2376
Commit 81dcf2947d1d1fd757c2cf0d8a39be98605226bf. I didn't do any analysis, but if you  need assistance with debugging or fixing, please ping me.

[modsec_asan.log](https://github.com/SpiderLabs/ModSecurity/files/5730288/modsec_asan.log)

[2020-12-22 18:24] skwokie commented on #2481
Thx, @martinhsv .

[2020-12-22 18:58] theseion commented on #1803
@pixelicous Sorry, this is very late.

You're using `expirevar`, which does not work (at least it didn't when I wrote the workaround). Make sure to do everything as it's done in the workaround because there are a couple of things that matter (e.g. casing, phase order).

[2020-12-22 23:11] #2469 closed, assigned to zimmerle, martinhsv

[2020-12-23 13:07] zimmerle commented on #2484
@Hello-Linux: Please re-open the issues if you did not found your answer already.

[2020-12-23 13:07] #2484 closed, assigned to zimmerle

[2020-12-24 01:15] zimmerle commented on #2465
**Sec[Request|Response]BodyAccess** is no longer necessary. Back in the day, it was essential to save computational resources. With progress, ModSecurity managed to have the parser smart enough to figure with any variable that uses request|response body is in use; if so, turn on the processing automatically. :heart_eyes:

Considering how smart the parser is nowadays, it is natural to deprecate tho

[2020-12-24 02:50] kfirfer commented on #1782
Hi

I also came across this situation and Im facing the same problem
How to reproduce:

Im using Kubernetes cluster with NingX ingress controller
This is the annotation I placed:

[code]

And I setup oauth2 proxy + kubernetes dashboard

And also added this annotations on the ingress:
[code]

But the modsecurity doesnt ignore rule 920170

[2020-12-24 14:40] HOSTED-POWER commented on #589
We have the same feeling, we have:

    SecRequestBodyLimitAction ProcessPartial
    SecResponseBodyLimitAction ProcessPartial

and yet we see:

ModSecurity: Multipart parsing error: Multipart: Final boundary missing.
ModSecurity: Request body (Content-Length) is larger than the configured limit (13107200).
ModSecurity: Error reading request body: Software caused connection abort

[2020-12-26 03:01] yhojann-cl commented on #1630
[code]

[2020-12-28 10:59] airween commented on #2465
Do you think this isn't necessary in these days? Or why do you classify this as an argument?

The point is here the **automatically**. I'm not sure this is a good idea (I mean to deprive users of the right to decide).

Sorry, I don't share your opinion. It **definitely isn't** natural for most users (just see the mentioned issues in initial comment). These "flags" (like **Sec[Request|Response]Body

[2020-12-28 12:41] zimmerle commented on #1630
Do you have ModSecurity v3 compiled? what is the summary for your ```./configure```?

[2020-12-28 15:53] zimmerle commented on #2465
I am afraid I did not paraphrase this. Maybe, however, disable **SecRequestBodyAccess**  is not **essential** to many users.

Perhaps I did not make myself clear. I am saying that the engine will enable such configuration as long as the user demands it.

Looking at the illustration below, because the user has used **REQUEST_BODY**, the engine recognizes that he/she wants to examine the _request bo

[2020-12-29 03:59] SandakovMM commented on #2465
Hello, @zimmerle
I just want to check that I clearly understood how using of request body can be disabled after removing of **Sec[Request/Responce]BodyAccess**. Seems like there is a two way:
- Use **SecForce[Request|Response]BodyAccess** just like **Sec[Request/Responce]BodyAccess** was used before. But I need to be ready that this going to disable full phase 2, 4.
- Use construction with **SecRe

[2020-12-29 09:23] airween commented on #2465
I'm afraid we moved a little away from the original issue.

First, please help me to clarify your terminology. From your point of view, _body processing_ == whole phase:2?

Then take a look to this rule:

[code]

This is a non-commercial rule from Comodo, especially for ModSecurity-nginx combo. There are tons of like this, also like in other commercial and/or non-commercial rule sets (I mean: mixe

[2020-12-29 11:37] airween commented on #2465
Just one note - please take a look to this regression test:

[No SecRequestBodyAccess directive regression test](https://gist.github.com/airween/1bde4696b24e51ad33b61f9f9b63ce8d)

As you can see, in the configuration section there isn't `SecRequestBodyAccess` - it's completely missing.

Now see the output (the expected result is 200, because the request body processing isn't enabled, and rule proc

[2020-12-29 13:14] dune73 commented on #2465
@zimmerle I get the feeling the proposed change / solution for this regression is trying to do things in an intransparent way, kind of outsmarting the user. That usually leads to a disruption of existing use cases.

I prefer an engine to have an explicit way to configure it. Even more an engine that has ambiguous variables like ARGS that can be stuffed in phase 1 but also in phase 2.

Under the li

[2020-12-29 17:48] zimmerle commented on #2465
@SandakovMM

[SecRequestBodyLimit](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#secrequestbodylimit) allows ModSecurity to verify the request body size. If the size is above a threshold, [SecRequestBodyLimitAction](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#secrequestbodylimit) will be taken. I don't recommend [SecRequestBodyLimit](http

[2020-12-29 18:00] zimmerle commented on #2465
@airween

In essence, this may be related to the use case of the user who loaded a set of rules and later decides to disable those rules due to having **SecRequestBodyAccess to Off**. I raise that use case scenario here: [[1]](https://github.com/SpiderLabs/ModSecurity/issues/2465#issuecomment-750693231). To address that niche use, I also have suggested the existence of **SecForceRequestBodyAccess*

[2020-12-29 18:10] airween commented on #2465
Actually (as I wrote in my next comment, the **SecRequestBodyAccess** is default **On**, if there isn't present in config file) I don't see the difference between the suggested **SecForceRequestBodyAccess** and the current one.

[2020-12-29 18:14] zimmerle commented on #2465
@dune73

I prefer to stick with the technical facts and concrete examples; this proposal suggests configuration labels/semantic a bit more consistent for the end-user. Let's exemplify using use case scenarios -

## Before this proposal (The use case A)

##### Request Body Processed
[code]

##### Request Body Processed
[code]

#####  Request Body Processed (or not, up to the branch in question. see

[2020-12-29 18:18] zimmerle commented on #2465
I am afraid that this is not accurate. You may want to have a look at the illustration on [[4]](https://github.com/SpiderLabs/ModSecurity/issues/2465#issuecomment-752190282), specifically on the _Item 2_ of the **use case B**.

[2020-12-29 18:32] airween commented on #2465
First I just want to clear the **SecRequestBodyAccess**. The behavior of this variable is totally different than **SecResponseBodyAccess**.

Have you checked my [regression test](https://gist.github.com/airween/1bde4696b24e51ad33b61f9f9b63ce8d)?

Can you confirm that if **SecRequestBodyAccess** isn't in the config, the engine assumes it's **On**?

[2020-12-30 01:50] tanvir-retailai opened #2486 "Nginx returning 500 Internal server error for JSON rest API"
**Describe the bug**

I implemented a REST API service. My REST API service running under nginx proxy with modsecurity. It's working fine and modsecurity also doing well. Now, all my api requests are using `Content-Type` http header parameter. All my API working pretty well if I  call the API by passing the content type as `Content-Type: application/json`. However, if I pass the content type param

[2020-12-30 14:32] martinhsv commented on #2486
Hello @tanvir-retailai ,

I tried your test case with ModSecurity v3.0.4 but was not able to reproduce what you have reported.

At v3.0.2, the ModSecurity version that you are using is quite old.  It could be that that there is a bug in that earlier version that does not exist in current code.  My suggestion would be to try upgrading your ModSecurity to v3.0.4.

If you still experience the problem

[2020-12-30 17:28] martinhsv commented on #2465
Just to clarify only the last question ...

In the case where SecRequestBodyAccess has not been specified at all in the configuration files, (and ctl:requestBodyAccess has not been used):

In v2.9.3 this is the same as if one had specified 'SecRequestBodyAccess Off'.

In v3 this is the same as if one had specified 'SecRequestBodyAccess On'

[2020-12-30 18:00] airween commented on #2465
That's what I wrote above.

And therefore IMHO there isn't any difference between the [two scenarios](https://github.com/SpiderLabs/ModSecurity/issues/2465#issuecomment-752190282) (except the case with `RESPONSE_HEADERS` variable, which is clear).

[2020-12-31 00:51] mguinness commented on #1851
Issue https://github.com/SpiderLabs/ModSecurity/issues/2480 contains the following comment that sounds hopeful.

[2020-12-31 14:12] zimmerle commented on #1851
@mguinness We are waiting to hear the feedback form @gianks on the issue #2480. The first step is to have the ModSecurity library compiled on Windows. @gianks is working on it.

[2020-12-31 18:17] zimmerle commented on #2465
From the **user's perspective**, the request body processing **is always on**; Once a _variable that depends on the request body_ is used, the _request body process_ will be _available_, therefore On. This proposal plays a difference when the request body is not used—in such a case, having the request body inspection always-on will not optimally use resources.

As pointed by @martinhsv, even our d

[2021-01-02 16:19] cyndy08 commented on #2483
@zimmerle Thank you for replying.

I enabled the DebugLogs for my nodejs-application (OWASP Juice Shop) and i  have found out that the responses are not being analyzed from ModSec. That is the reason why all the requests are not beeing blocked.  All the rules that analyzed responses form the webserver are not being invoked, like RESPONSE-950-DATA-LEAKAGES.conf.
Is it due to the fact that all reque

[2021-01-02 17:47] tanvir-retailai commented on #2486
@martinhsv Thanks for your reply.

I tried v3.0.4 and after running `./configure` I got following in my terminal:

[code]

After that I run `make` and got following error:

[code]

I checked and confirmed that all other libraries installed properly. Any idea?

[2021-01-02 18:38] mguinness commented on #2356
I had another problem using the Windows installer which was seeing error 2503 followed by error 2502 in the event log.

If you encounter these errors it can be resolved by granting appropriate permissions to C:\WINDOWS\TEMP for the user.

[2021-01-02 20:26] mguinness commented on #877
I know this is an old issue, but for others that want to get rid of the annoying "The description for Event ID 1 from source ModSecurity cannot be found" text, you can run the following command as an administrator.

`eventcreate /ID 1 /L APPLICATION /T INFORMATION  /SO ModSecurity /D "Test entry"`

This creates an event source in the registry at HKLM\SYSTEM\CurrentControlSet\Services\EventLog\Appl

[2021-01-02 21:17] mguinness commented on #2082
I think the [README](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/iis/wix/README.TXT) is a little misleading, all you should need is below (tested as working).

[code]

Also see https://github.com/SpiderLabs/ModSecurity/issues/769#issuecomment-269029452 to allow a site to override the global config and have it's own.

[2021-01-03 17:48] mr-djan opened #2487 "SecConnEngine"
ModSecurity for Apache/2.9.1
Apache/2.4.25
Debian 9.13

SecConnEngine, SecConn[Read|Write]StateLimit - does not work and does not detect slowhttp dos attack.
I test my web server with - slowhttptest -c 1000 -B -g -o my_server_stats -i 110 -r 200 -s 8192 -t FAKEVERB -u https://tost.ua -x 10 -p 3
After starting my web server immediately stops serving content - [mpm_prefork:error] [pid 16788] AH00161

[2021-01-04 11:45] zimmerle commented on #2483
Hi @cyndy08,

Can you paste the **DebugLog** for a request here? Those are the configuration that can affect the response body -

   - [SecResponseBodyLimit](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecResponseBodyLimit)
   - [SecResponseBodyLimitAction](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecResponseBodyLimitAction)
   - [Se

[2021-01-04 11:58] zimmerle commented on #2486
@tanvir-retailai That is happening because the libMaxMind is not on yours LD_LIBRARY_PATH. You can either install maxmind on your distribution library path, or add this new path to the list of library paths. Further info on the former - https://stackoverflow.com/questions/13428910/how-to-set-the-environmental-variable-ld-library-path-in-linux

[2021-01-04 12:04] zimmerle commented on #2487
Hi @d-mihaylenko is there any reason why you are not using [v2.9.3](https://github.com/SpiderLabs/ModSecurity/releases/tag/v2.9.3)?

[2021-01-04 13:21] cyndy08 commented on #2483
Hi @zimmerle ,
yes it is ModSecurity for Apache.
This is the request i sent:
![image](https://user-images.githubusercontent.com/34345663/103539275-0d4bd080-4e98-11eb-9661-fad43ebdb524.png)
I put a single quote as email so it should be blocked by Modsecurity because the response of the server contains sensitive information. But Modsecurity doesnt block this.
This is the answer of the server:

![ima

[2021-01-04 13:56] zimmerle commented on #2483
Can you paste here the **DebugLogs** for this transaction ?

[2021-01-04 14:04] cyndy08 commented on #2483
This is the first part of the debuglog file:

#### Login
[code]

#### whoami
[code]

[2021-01-04 14:18] mr-djan commented on #2487
Ok, i upgrade and create new https://github.com/SpiderLabs/ModSecurity/issues/2488

[2021-01-04 14:18] #2487 closed, assigned to zimmerle

[2021-01-04 14:21] mr-djan opened #2488 "SecConnEngine not work with ModSecurity for Apache/2.9.3"
ModSecurity for Apache/2.9.3
Apache/2.4.38
Debian 10.7

SecConnEngine, SecConn[Read|Write]StateLimit - does not work and does not detect slowhttp dos attack.
I test my web server with - slowhttptest -c 1000 -B -g -o my_server_stats -i 110 -r 200 -s 8192 -t FAKEVERB -u https://tost.ua -x 10 -p 3
After starting my web server immediately stops serving content - [mpm_prefork:error] [pid 16788] AH00161

[2021-01-04 15:10] cyndy08 commented on #2483
[code]

[2021-01-04 15:26] cyndy08 commented on #2483
Should i post the whole file? it is really big

[2021-01-04 15:34] cyndy08 commented on #2483
[code]

[2021-01-04 15:45] cyndy08 commented on #2483
[code]

[2021-01-04 16:27] cyndy08 commented on #2483
Please how can it reopen the issue? I did not want to close it.

[2021-01-04 17:39] zimmerle commented on #2488
I have tested it here, and it seems to be working as expected. Check the attached video.

https://user-images.githubusercontent.com/428268/103562750-5c930080-4e9a-11eb-9b61-669e14a2730f.mp4

[2021-01-04 17:46] mr-djan commented on #2488
Thanks for the help. It turns out that I enabled it incorrectly or did not enable it at all. Can you please help with the configuration?

I added three lines in the file /etc/modsecurity/modsecurity.conf
[code]

Next, I use the file in /etc/apache2/mods-enabled/security2.conf

[code]

Am I doing something wrong? I also attached modsecurity directory.
[modsec.tar.gz](https://github.com/SpiderLabs/M

[2021-01-04 17:58] zimmerle commented on #2488
My pleasure. In that cases, I prefer to isolate blocks of the configuration to narrow down the problem. I would place the the **SecConn** configurations inside the ```<IfModule security2_module>``` block. Afterwards, I would enable the external configurations one-by-one. Initially I would use:

[code]
Once that is working I would move forward to include it as external file, and so on... The wildca

[2021-01-04 18:09] mr-djan commented on #2488
I made the configuration as you wrote and still does not work, the server does not block the attacking host, help please.

<img width="1440" alt="Screenshot 2021-01-04 at 20 07 48" src="https://user-images.githubusercontent.com/17220673/103565197-924ede00-4ec8-11eb-88ed-28af0941d52b.png">
<img width="606" alt="Screenshot 2021-01-04 at 20 07 57" src="https://user-images.githubusercontent.com/172206

[2021-01-04 18:40] zimmerle commented on #2488
What if you disable all the others configurations by removing all the **IncludeOptional**?

[2021-01-04 18:44] mr-djan commented on #2488
Yes, and I have the same result(
<img width="261" alt="Screenshot 2021-01-04 at 20 44 01" src="https://user-images.githubusercontent.com/17220673/103568101-a3e6b480-4ecd-11eb-984d-c2f840d1fc6b.png">

[2021-01-04 20:33] ommbeu opened #2489 "False positives: NextCloud + YUM problem"
Hi, I have recently installed and setup Mod_security on my web server and I have some problems with false positives - the client gets blocked because of this false positives. I have find some temporary solutions for my problems but as I'm new to Mod_security I ask if anybody here can help me with this issues.

I have two problems - one with my subdomain with Nextcloud and another subdomain where I

[2021-01-04 21:38] zimmerle commented on #2488
What if you remove the IfModule? How are you testing that the server is hanging?

[2021-01-04 21:53] mr-djan commented on #2488
Nothing, its still not work, but other modsecurity options and rules works without problems, I have problems only with SecConnEngine
I'm testing with - slowhttptest -c 1000 -B -g -o my_server_stats -i 110 -r 200 -s 8192 -t FAKEVERB -u https://test.com.ua -x 10 -p 3
and after that in /var/log/apache2/error.log I saw:
[mpm_prefork:error] [pid 27648] AH00161: server reached MaxRequestWorkers setting,

[2021-01-04 21:54] zimmerle commented on #2488
I would expect to have something like this -
[code]

[2021-01-04 21:56] mr-djan commented on #2488
I am also waiting for this, but whatever I do, nothing helps
Other options works correctly, like this
[Mon Jan 04 23:48:21.929912 2021] [:error] [pid 30141] [client 10.0.174.221:56041] [client 10.0.174.221] ModSecurity: Warning. Pattern match "^$" at REQUEST_HEADERS:User-Agent. [file "/etc/modsecurity/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf"] [line "671"] [id "920330"] [msg "Empty User Agent H

[2021-01-05 09:49] airween commented on #2465
I'm afraid we still don't understand each other.

You are constantly talking about the _request_body_ processing, but the issue is not that. As I wrote the name of this issue: _SecRequestBodyAccess off skips the **phase:2** rules_ - the problem is this. The `SecRequestBodyAccess off` turns off the whole 2nd phase. Not just the access of the variables, but the whole phase.

I asked this [here](http

[2021-01-05 10:28] dune73 commented on #2465
I'm a bit busy at the moment not the least because I am working on CRS in order to mitigate this problem (see above).

But here is a use case.

I'm looking at a random rule from Trustwave's Spiderlab rules. I've picked 2028041. It's a rule in phase:2 that inspects a request to detect a cPanel XSS vulnerability. The rule refers to http://osvdb.org/show/osvdb/28041 for documentation, but this result

[2021-01-05 11:51] zimmerle commented on #2488
@d-mihaylenko it could be something related to your general Apache configuration. Are they __SecConn*__ directives expressed on the main Apache configuration? You may want to temporarily disable the vhosts, making the configuration as plain as possible.

[2021-01-05 12:21] zimmerle commented on #2489
Hi @ommbeu,

Very good to see a report as detailed as yours :)

You may want to open an issue on the [OWASP CRS project](https://github.com/coreruleset/coreruleset).  On this repository we deal with stuff related to **ModSecurity core** as oppose to the Rules Set. I am pretty sure that they will be able to help you there.

[2021-01-05 12:21] #2489 closed, assigned to nobody

[2021-01-05 12:22] zimmerle commented on #2486
I am assuming that the problem is fixed, therefore closing this issue. if it is not the case, please re-open.

[2021-01-05 12:22] #2486 closed, assigned to martinhsv

[2021-01-05 13:05] mr-djan commented on #2488
I brought up a test VM today. I installed only Apache and modsecurity there and still the Secconn does not work. I tried to enable it both in the Apache modules and in the modsecurity config. The result is the same. Please help me with correct config for apache.

[2021-01-05 16:24] kfirfer opened #2490 "Disabling rule / modsecurity"
Hello,
I'm using nginx ingress with the owasp-modsecurity-crs rules turned on
Tried to disable rule id 932130 with this config:
[code]

But it doesn't works
I also tried to disable modsecurity:
[code]

But still getting blocks by this rule

This is example of the url I tried:
[code]

I really dont know why

This is the full config part of the nginx server:

[code]

[2021-01-05 16:46] kfirfer commented on #2490
Hi

I found what causes the problem

When Im using oauth , e.g.:
[code]

It does not let me ignore the modsecurity

[2021-01-05 19:07] martinhsv commented on #2465
To clarify:

The proposed path forward does not include continuing to skip a phase for which rules exist in the rule set.  Going forward, if there are phase:2 rules, phase:2 will not be skipped.

[2021-01-05 19:33] ommbeu commented on #2489
Hi @zimmerle
thank you for your reply. I will write to the repository you have suggested.

Best regards.

[2021-01-05 20:05] dune73 commented on #2465
Thank you @martinhsv. That clarification is dearly welcome. Things and the path forward may look clear for you developers, but for us it's more of an Enigma.

Can you share a roadmap when you will be implementing / releasing the fix that will no longer skip a phase with existing rules?

[2021-01-05 21:35] cyndy08 commented on #2483
Hello @zimmerle , could you find something from the debuglogs?

[2021-01-06 01:27] leibaogit opened #2491 "Connector support for the HAProxy"
Hi All

Well, this is not a bug, just a new requirement that I want to connect the libmodsecurity to the haproxy community.
As we know, the HAProxy has a [SPOE](https://github.com/haproxy/haproxy/blob/master/doc/SPOE.txt) to offload the stream out of the haproxy, and there is a [SPOE for the V2 Modsecurithy](https://github.com/haproxy/haproxy/tree/master/contrib/modsecurity).

Now since the modsec

[2021-01-06 10:24] cyndy08 opened #2493 "Modsecurity Supported protocols"
Hello everyone,

i want to know if Modsecurity supports other protocols than HTTP like FTP, DNS , LDAP or anything else.
And also where can i find information about the supported encoding-types in Modsecurity?

Any help will be appreciated.
Thank you

[2021-01-06 10:52] airween commented on #2493
it supports only HTTP.

You can take a look to Zorp if you want other protocols:

http://balasys.github.io/zorp/about/

It has a commercial support, which supports many-many others.

[2021-01-06 11:43] zimmerle commented on #2493
@cyndy08 what exactly you meant by encoding-types? like **multipart/form-data**?

[2021-01-06 12:26] zimmerle commented on #2491
@leibaogit,

That is a very welcoming addition. We have a group of developers that are working on something similar. Instead of creating the connector in C, they use the [golang ModSecurity library bindings](https://github.com/rikatz/go-modsecurity) to expand their haproxy.

In their case, they are building this [ingress-security-agent](https://github.com/rikatz/ingress-security-agent/).

They alr

[2021-01-06 12:38] rikatz commented on #2491
Hello @leibaogit

We've been discussing some way to provide modsecurity to be consumed by the Kubernetes Ingresses (mainly haproxy and nginx) in a independent way. Like instead of compiling nginx with the whole modsecurity things, having a separate scalable modsecurity container that can be the effective "judger" for those ingresses.

With this introduction, ISA (the referenced project by @zimmerl

[2021-01-06 12:55] airween commented on #2465
Thanks! Now there is only one thing left: clarify the fate of variable `SecRequestBodyAccess` (or `SecForceRequestBodyAccess`).

I still don't see the difference between the old and the new variable - see this table:

| Value        | `SecRequestBody`                   | `SecForceReqiestBody` |
| ------------- | ---------------------------------------- | -------------------------------- |
| not se

[2021-01-06 13:02] cyndy08 commented on #2493
Thank you, i will have a look at it.

[2021-01-06 13:05] cyndy08 commented on #2493
@zimmerle yes i mean like application/x-www-form-urlencoded, multipart/form-data, application JSON or anything else.

[2021-01-06 14:20] mr-djan commented on #2488
Help me please, anybody. SeccConnEngine it still doesn't work, which configuration I would not use

[2021-01-06 14:57] leibaogit commented on #2491
Thanks @rikatz @zimmerle for replying.

As discussed in this [issue](https://github.com/haproxy/haproxy/issues/1021), seems directly connect to the haproxy is not a good option, and as suggested, we still need the SPOE support which can offload the analysis to a bigger cluster to unblock the high efficient lb/gw.

And glad to know there's already discussion on this, and want to know whether the so

[2021-01-06 15:07] azurit opened #2494 "Problems with blocking if response is using compression"
**Describe the bug**

When blocking a request, which uses output compression (for example Content-Encoding: gzip), in phase 4 (so response headers are already created by application), blocking is NOT done properly because `Content-Encoding: gzip` will already be send to client so it awaits compressed response - on the client side, browsers will show error similar to this (this one is from Firefox)

[2021-01-06 16:59] zimmerle commented on #2494
Hi @azurit,

Indeed, once the response headers hit the client, there is no much we can do to change the parameters that were already sent. The best thing to do in that scenario is to block the request abruptly as opposed to respecting the disruptive action informed on the rule.

At a given phase N, there is no way to know that at phase N+1 a rule will match, leading to a block. As phase occurs ind

[2021-01-06 17:06] azurit commented on #2494
Hi @zimmerle,

are headers already sent in phase 4? I thought they are still only buffered somewhere.

I'm trying to block web shells which are identified by searching for patterns in resposne body (see https://github.com/coreruleset/coreruleset/pull/1962). When implementing this feature i come accross few web shells which are doing response body compression on purpose to hide themself - and it's

[2021-01-06 17:10] zimmerle commented on #2494
Is it running on a nginx or Apache? which version of ModSecurity are you targeting? and What kind of deployment do you have?

[2021-01-06 17:12] azurit commented on #2494
Apache, modsec 2.9.3 (but both mentioned PRs should work also in version 3). What do you mean by 'deployment'?

Anyway, if headers are already sent, we cannot change them. What about to check if client is expecting compression (`Content-Encoding` header was sent with `gzip` or similar values) and, if yes, compress our response?

[2021-01-06 17:34] zimmerle commented on #2493
Implementation-wise we call those as **request body processor**; Currently, we support the following -

   - JSON - [request_body_processor/json.cc](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/request_body_processor/json.cc)
   - XML - [request_body_processor/xml.cc](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/request_body_processor/xml.cc)
   - Multipart - [reque

[2021-01-06 17:34] #2493 closed, assigned to zimmerle

[2021-01-07 00:09] cyndy08 commented on #2493
@zimmerle
Is JSON also supported for the responses? Or is it only possible for requests processing?

[2021-01-07 03:02] martinhsv commented on #2465
Hi @airween ,

I'll try to reiterate and rephrase what @zimmerle has described above as it pertains to your latest inqury ...

On the surface it may look like SecRequestBodyAccess is being replaced with identical functionality, merely under a different name (e.g. 'SecForceRequestBodyAccess Off', or 'SecDisableRequestBody On'). However, there are a couple of differences:

1) There is a slight nuanc

[2021-01-07 13:32] zimmerle commented on #2494
The behavior of sending the **response headers** before inspecting the **response body** may vary from server to server. The deployment is how ModSecurity is working on your environment (e.g., as a proxy on an independent server, embedded in the app webserver).

The thing to consider is what type of _disruptive action_ you want to take that will lead to the response body's delivery or response bod

[2021-01-07 13:44] zimmerle commented on #2493
Not at this point. There is a request to support the JSON decoding more generically, allowing it to apply to generic fields via transformation. The issue is here: #687. We miss effort to have it implemented.

IMHO, the inspection of the response body struct is less prevalent. For example, when the **response body** is inspected against data leak, the **rule writer** is looking for a pattern like a

[2021-01-07 14:01] azurit commented on #2494
It's embedded.

I'm using 'deny' action.

If headers were already sent to client (i.e. we are in phase 4 using embedded modsecurity) AND they included header `Content-Encoding` with value `gzip`, the client is expecting gzipped response. If we decide to deny this request and do NOT send original response body, we need to compress our new response body so client is not confused.

This would be sooo

[2021-01-07 14:46] zimmerle commented on #2494
Once the request was disruptive blocked by a **deny** action, there is no content to be delivered to the user -- a possible malicious player in that case.

Indeed it should be faster and more generic (e.g., available to other variables). One of the ideas is to support _Lua_ is to encourage prototyping; it fits the implementation that you have made :+1:

Looking at your code https://github.com/core

[2021-01-07 15:26] azurit commented on #2494
This isn't always true, HTTP specification is not disallowing content with status 403 (which is the modsecurity default/recommended status for deny action). Even more, default Apache installation is sending also content:
[code]

This is why browsers are showing `Content Encoding Error` error - original content was compressed and was replaced by uncompressed one.

[2021-01-07 16:52] zimmerle commented on #2494
I may be misreading the circumstances. From what you have described, the request was blocked after the headers being sent to the client. In this scenario, the browser receives a code 200 with headers signaling the response body will be compressed. But, no response body at all - leading to the browser error. That is the expected scenario.

In this last example, you are showing a request for which t

[2021-01-07 16:55] azurit commented on #2494
Just run PHP script with modsec rule in my original message above, problem is 100% reproducable.

EDIT: Tested with Apache 2.4.

[2021-01-07 17:09] azurit commented on #2494
Here is a response from server, which was modified (blocked) by modsecurity, catched by curl (as you can see, content is in clear text, not gzipped but contains header `Content-Encoding: gzip` [because original content, removed by modsec, was gzipped]):

[code]

This one is also catched by curl but was NOT blocked by modsecurity, so original, gzipped, content was sent (as you can see, content is r

[2021-01-07 17:10] azurit commented on #2494
Am i beeing more clear?

[2021-01-07 17:29] zimmerle commented on #2494
The reason why I have asked for the **tcpdump** is because I want to understand what is happening on your environment.
The results of my tests show a different scenario. Using the _PHP_ script that you have posted, that is the out-coming I have -

[code]

As for ModSecurity debug log -
[code]

error log -
[code]
----
Without the rule interference -

[code]

In the case of the PHP script, it seems

[2021-01-07 17:37] azurit commented on #2494
Please can you recheck that you are doing 'deny' in phase 4? This is important (i see you changed my blocking rule a little so i just want to be sure, thank you).

[2021-01-07 17:38] zimmerle commented on #2494
It is possible to double check that on the **error_log** and **debug_log** -  https://github.com/SpiderLabs/ModSecurity/issues/2494#issuecomment-756262456

[2021-01-07 17:41] azurit commented on #2494
Sorry, didn't notice that. Hm. In my Apache installation i have mod_deflate enabled - the only thing which i can think of that could be related.

[2021-01-07 17:47] azurit commented on #2494
Another difference between my and your installation is a way how PHP is run - you seems to be using mod_php but i'm running it as FastCGI (PHP-FPM).

[2021-01-07 17:51] azurit commented on #2494
That's it! After switching to mod_php, problem is gone.

[2021-01-07 17:57] azurit commented on #2494
I'm digging into it deeper to find out why FastCGI is doing such a mess. Running PHP using PHP-FPM is much better, has lots of advantages and in fact, we completely moved from mod_php to FPM. I'm trying various Apache configurations and see if there's any difference (but no luck yet).

[2021-01-07 18:48] azurit commented on #2494
My findings (based on observing and strace-ing of php-fpm/apache processes):
 - when using PHP-FPM, if request is blocked by modsecurity, Apache keeps all headers set by PHP without touching them
 - when using mod_php, if request is blocked by modsecurity, Apache resets the whole response and sets everything, including headers, from scratch (so i even cannot see my header 'X-test-blocking' which w

[2021-01-07 20:36] cyndy08 commented on #2493
I really appreciate your help and your answers help me a lot for my dissertation on Modsecurity.

 That means there is actually no support for response processing in Modsecurity but there is a general way to inspect a response body against data leak. Am i right?
Related to my issue #2483 the response body contains data leak because the response of the webserver gives information about the database

[2021-01-08 11:59] zimmerle commented on #2494
Congrats! Nice finding. :1st_place_medal:

It seems like in the second case, Apache is using the error page including the page headers. Different from the first case. It could be an issue on **PHP-FPM** or the order of the modules execution are incorrect. That may justify why you have the _RESPONSE_BODY_ in gzip format.

You may want to re-order the **mod_** here -

https://github.com/SpiderLabs/M

[2021-01-08 12:11] azurit opened #2495 "Improper handling of relative paths by exec action"
**Describe the bug**

When using `exec` action with relative path to the Lua script, the absolute path is resolved to "CWD of running process + path specified as argument". I believe this is a bug as all other places where relative path can be specified (for example `SecRuleScript`) are resolved to "path of file in which rule is saved (parent file) + path specified as argument".

**Expected behavi

[2021-01-08 12:18] zimmerle commented on #2488
Hi @d-mihaylenko,

Did you managed to solve the problem?  Is it possible for you to upgrade Apache to __Apache/2.4.46__ ?

[2021-01-08 17:34] PedroFTW opened #2496 "[Question] Is it possible to change a CRS rule's severity?"
I want to change a rule's severity from CRITICAL to NOTICE.

The rules in question are the 951 DATA LEAK rules, that exist in OWASP's Core Rule Set

```owasp-modsecurity-crs/rules/RESPONSE-951-DATA-LEAKAGES-SQL.conf```

I tried doing that using SecRuleUpdateActionById, but to no avail.

If this is not yet supported, I would like to transform this into a feature suggestion.

[2021-01-08 19:06] azurit commented on #2496
What version of modsecurity are you using?

[2021-01-08 19:41] PedroFTW commented on #2496
@azurit I'm on 3.0.3

[2021-01-08 20:00] azurit commented on #2496
You cannot change severity of whole file of rules, you need to specify IDs of rules you want to change.

[2021-01-08 20:46] PedroFTW commented on #2496
So, I tried doing that, and couldn't do it.

I tested on one rule, 951220 doing something like this:

```SecRuleUpdateActionById 951220 "severity:'NOTICE'"```

And it didn't worked.

So, I noticed that the rule 951220 itself has a chained rule that actually contains the regex to match and the setvar's to the scores

Here's the rule:
[code]

I'm guessing I need to provide the chain to modify the wh

[2021-01-08 20:48] azurit commented on #2496
You can use an offset for that, see:
https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#SecRuleUpdateActionById

Anyway, i don't think this is the problem. Where did you put your `SecRuleUpdateActionById`? It must go into `/etc/modsecurity/crs/RESPONSE-999-EXCLUSION-RULES-AFTER-CRS.conf`.

[2021-01-08 20:52] PedroFTW commented on #2496
So, in theory, it's set in a different file that is then appended to the .conf when building the container.

I'll test it out inserting directly to check if the problem is there.

[2021-01-08 20:54] azurit commented on #2496
In fact, it just must be set AFTER the rule definition which you want to update. File `/etc/modsecurity/crs/RESPONSE-999-EXCLUSION-RULES-AFTER-CRS.conf` is loaded as last one.

[2021-01-08 21:10] azurit commented on #2496
Btw, why you want to change the severity?

[2021-01-08 21:22] PedroFTW commented on #2496
Well, in the system we have several tables that return some SQL keywords and. With the rule set as critical, every one of them will cause a failure in modsec. I want to change it to a notice so we still keep track of data leaks, without failing on points where the system actually needs to return SQL keywords.

I don't want to treat it endpoint by endpoint cause it's a fuckton of them. Hahaha

[2021-01-08 21:30] azurit commented on #2496
By changing the severity you won't stop CRS from blocking the request.

[2021-01-08 22:50] ghost opened #2498 "bromm"
**Describe the bug**

A clear and concise description of what the bug is.

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
 2. AuditLogs
 3. Error logs
 4. If there is a crash, the core dump file.

_Notice:_ Be carefully to not leak any confidential information.

**To Reproduce**

Steps to reproduce the behavior:

A **curl** command line that mimics the original request and reproduces the p

[2021-01-09 00:36] PedroFTW commented on #2496
Well, as far as I understood, a notice hands out a lower score than a critical error. So, it would take multiple to block it, isn't it like that? Sorry for the ignorance. Hahaha

[2021-01-09 08:28] azurit commented on #2496
Yes but score is not determined by severity variable - see the rule you posted above, score is added at the end using 'setvar' actions.

[2021-01-11 12:04] PedroFTW commented on #2496
Hmm, I see, so is it possible for me to change the chained rule action so I can alter the setvar's?

[2021-01-11 12:38] azurit commented on #2496
I have never tried to change setvars so i'm not sure if you'll be successfull. Anyway, you can access chained rule using an offset, see here:
https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#SecRuleUpdateActionById

So, it should be:
`SecRuleUpdateActionById 951220:1 "..."`

[2021-01-11 18:14] #2498 closed, assigned to nobody

[2021-01-11 20:03] PedroFTW commented on #2496
@azurit Thanks for your help. I was able to solve my problem with your help.

[2021-01-11 20:03] #2496 closed, assigned to nobody

[2021-01-12 10:51] zimmerle commented on #2494
@azurit any progress on this ?

[2021-01-12 11:04] zimmerle commented on #2495
@azurit

The path resolution for _external resources_ in v2 depends on each feature. That is different for version 3, where a pattern is in place -

https://github.com/SpiderLabs/ModSecurity/blob/310cbf899bf55f101cfa595b6da5ed1cd0af90fa/src/utils/system.cc#L65-L108

The general rule in version 3 -

   -  absolute path;
   -  relative to the current dir;
   -  relative to the configuration file.

C

[2021-01-12 11:04] #2495 closed, assigned to zimmerle

[2021-01-12 11:13] zimmerle commented on #2491
@leibaogit @rikatz, since you guys are introduced, can I close this issue?

@leibaogit, you may want to share the project where we can find the progress on the implementation.

[2021-01-12 11:40] zimmerle commented on #2490
@kfirfer The rules are placed respecting a hierarchy inside nginx configuration. An specific location or path can count on specific configuration. Interesting arcticle that describes the configuration schema - https://www.journaldev.com/26618/nginx-configuration-file

Did you managed to have the issue solved?

[2021-01-12 11:48] leibaogit commented on #2491
@zimmerle very glad you introduced us, and with these information, we will try to leverage, and if more questions on these, we will open new one, so now we can close this issue, thanks.

[2021-01-12 11:51] zimmerle commented on #2491
My pleasure :) :rocket: :rocket:

[2021-01-12 11:51] #2491 closed, assigned to zimmerle

[2021-01-12 11:57] zimmerle commented on #2488
I am assuming that the problem was resolve, closing the issue. Please re-open if that still an issue.

[2021-01-12 11:57] #2488 closed, assigned to zimmerle

[2021-01-12 12:00] zimmerle commented on #2483
@cyndy08 Do you happens to be setting [SecResponseBodyAccess](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#secresponsebodyaccess) in your configuration?

[2021-01-12 12:01] zimmerle commented on #2480
@gianks any progress so far?

[2021-01-12 12:51] zimmerle commented on #2475
I am assuming that the user have sorted out the issue.

[2021-01-12 12:51] #2475 closed, assigned to zimmerle

[2021-01-12 13:28] zimmerle commented on #2373
@wutchzone  Is this issue already solved?

[2021-01-12 13:31] zimmerle commented on #2366
@emerzon That is very likely to be a problem related the version mismatch of the APR library. On the Apache's/ModSec's initialization there is information about the loaded libraries. Is there any warning mentioning about a possible version mismatch?

[2021-01-12 14:01] cyndy08 commented on #2483
Yes  SecResponseBodyAccess  is already  set to On.
But it still not working

[2021-01-12 14:09] zimmerle commented on #2483
My recommendation is for you to reduce the amount of rules, so that you can understand what is going on with your **response body** inspection. Lets try to unload CRS and have this rule instead -

[code]

Check the debug logs, have a look at the debuglogs, you should be able to see the rule being processed.

[2021-01-12 14:38] cyndy08 commented on #2483
Thank you for you suggestion. How can i disable the CRS? Should  i just remove the include from my configuraton file?

[2021-01-12 14:40] zimmerle commented on #2376
@WGH-,

Thank you for providing the _asan output_; I have changed the **Makefiles.am** a bit to make easier to use compilation flags via _CXX_FLAGS_, such as ```-fsanitize=address -fno-omit-frame-pointer``` (b7d616a40ce186e6879ec3a0d59247002ede7377) -

https://github.com/SpiderLabs/ModSecurity/blob/b345d1a5a94668e0289efcd65261f27012b9d462/src/Makefile.am#L334-L335

Remove all the leaks from the pa

[2021-01-12 15:27] zimmerle commented on #2483
That would do it.

[2021-01-12 16:22] defanator commented on #2465
Hi @dune73, gentlemen,

I took a chance to perform a quick testing of CRS v3.3.1-rc1 with the `tx.blocking_early` option, and noticed some weird behaviour with current libmodsecurity (v3/master as of today) and nginx connector (master as of today), check the 4 cases below:

[code]

The weird thing is that HTTP response is completely broken when `tx.blocking_early=1` (no matter how SecRequestBodyAc

[2021-01-12 22:34] cyndy08 commented on #2483
This is what i got from the debuglogs by performing an sql injection with ' as email and having only your suggested rule loaded :
[code]
Why does Modsecurity invoke my rule in the phase REQUEST_BODY although the rule should inspect the RESPONSE_BODY?.  And no rule is invoked in the phase RESPONSE_BODY?
And what does the following message mean?
[code]
Update:

After changing my rule to ```SecRule R

[2021-01-13 02:57] NZUser01 commented on #729
Easily fixed by the following workaround;
1. Create a Modsecurity rule;
    SecRule REQUEST_URI "robots.txt" "id:400131,phase:1,log,msg:'Redirecting to URL',status:444,deny"

2. Create a rule in IIS Manager.
    Click Sites > website > Error Pages > Right click and go to Add.
    Enter status code of 444 and click on 'Respond with a 302 redirect'. Enter the URL of the error page you wish to displa

[2021-01-13 06:35] ashishkpal opened #2500 ""949110": False positive"
Hi,

I am observing Error. please help to resolve the same

2021/01/12 11:04:00 [error] 3102#3102: *899 [client 127.0.0.1] ModSecurity: Access denied with code 403 (phase 2). Matched "Operator Ge' with parameter 5' against variable TX:ANOMALY_SCORE' (Value: 8' ) [file "/usr/local/coreruleset-3.3.0/rules/REQUEST-949-BLOCKING-EVALUATION.conf"] [line "80"] [id "949110"] [rev ""] [msg "Inbound Anomaly

[2021-01-13 12:03] zimmerle commented on #2500
Hi @ashishkpal,

That is likely to be a false positive that is due to your **ruleset**. You may want to open an issue on **CRS github** repository. There, they will be able to assist you in fixing this issue.

[2021-01-13 12:03] #2500 closed, assigned to nobody

[2021-01-13 14:00] zimmerle commented on #2483
It is looking at the **RESPONSE_BODY**, but the **RESPONSE_BODY** is gzip compressed. The simplest way to circumvent that is to actually disable the **mod_deflate** and/or **mod_gzip** in your _Apache_.

If you want to understand better gzip compression vs. ModSecurity in Apache, have a look at issue #2494 opened by @azurit. There is this comment https://github.com/SpiderLabs/ModSecurity/issues/24

[2021-01-13 14:08] azurit commented on #2494
@zimmerle sorry for late response! I didn't have much time to look into this, i was only trying few changes in modsecurity source code, none of them helped (but i was little lost in it as i'm not C coder). Also, i'm not sure if this is a problem of modsec, maybe Apache itself causes it.

[2021-01-13 14:16] azurit commented on #2483
@cyndy08 as @zimmerle already stated, the `RESPONSE_BODY` is gzipped as it starts with `\x1f\x8b`, which is a, so called, 'gzip magic number'. modsecurity itself don't done this, it was gzipped either by application you are testing or a web server which is proxying requests to modsecurity. In your type of installation (i.e. using proxy) i would suggest to enable `SecDisableBackendCompression`, it

[2021-01-13 14:17] zimmerle commented on #2483
well noticed, the **SecDisableBackendCompression** should handle this case.

[2021-01-13 15:27] zimmerle commented on #2494
No worries. If you want discuss something on the implementation, feel free to reach me via email. I have limited time, but I always respond.

All _modules_ work orchestrated in a chain of events inside **Apache**.  All _modules_ and _Apache_ itself makes some assumptions that sometimes are undesired to other modules. The investigation could be very time intensive.

[2021-01-13 15:48] #2490 closed, assigned to zimmerle

[2021-01-13 16:03] zimmerle commented on #2494
Linking this issue with #944.

[2021-01-13 16:19] zimmerle commented on #2047
This is something that we already have on v3, an example of the v3 auditlogs -

[code]

[2021-01-13 16:19] #2047 closed, assigned to zimmerle

[2021-01-13 16:22] #2257 closed, assigned to zimmerle

[2021-01-13 16:22] #2366 closed, assigned to zimmerle

[2021-01-13 16:23] #2463 closed, assigned to zimmerle

[2021-01-13 16:31] #2383 closed, assigned to zimmerle

[2021-01-13 16:32] #2372 closed, assigned to zimmerle

[2021-01-13 17:45] manishnss opened #2501 "Problem in unblocking IP after brute-force detection"
Hello Folks,

I have created a rule to detect the Brute-force detection on a login page. The detection works as intented but on providing a valid login details rules doesn't trigger. Also, the counter doesn't change if the defined duration passed.

Can anyone please help me in resolving the issue?

Environment Details:

- Local setup in Virtual Box
- Docker environment (Nginx)
- CRS 3.0.2

Follwin

[2021-01-14 12:29] zimmerle commented on #638
Dropped due to technical limitation of doing it right on nginx.

[2021-01-14 12:29] #638 closed

[2021-01-14 13:13] zimmerle commented on #789
badips is no longer available ;(

[2021-01-14 13:13] #789 closed

[2021-01-14 17:50] zimmerle commented on #890
fixed as part of #2049

[2021-01-14 17:50] #890 closed

[2021-01-14 19:22] cyndy08 commented on #2483
@zimmerle @azurit  thank you. Everything is working fine now.

[2021-01-14 20:27] WGH- commented on #2376
Yep, no leaks! 👍🏻

Interesting, because I didn't have any problems with enabling sanitizers. Well, caused by ModSecurity build scripts, at least :)

[2021-01-14 22:06] zimmerle commented on #2483
good to hear! your pleasure.

[2021-01-14 22:06] #2483 closed, assigned to nobody

[2021-01-14 22:11] zimmerle commented on #2376
Good to hear :star_struck: :nerd_face: :star_struck: :nerd_face: :star_struck:

I will try to have the leak check on our QA as well ;) 💯 :sunglasses:

[2021-01-15 15:05] #1952 closed, assigned to victorhora

[2021-01-15 15:35] zimmerle commented on #1950
As of [3.1-experimetal](https://github.com/SpiderLabs/ModSecurity/tree/v3/dev/3.1-experimental) the tag computation is built on rules load time. The idea of having binary operations to identify tag is still valid and most likely will add a performance benefit.

We don't support macro expansion in the TAGs. The need for that is still questionable, given the amount of computation that is involved.

[2021-01-15 15:35] #1950 closed, assigned to zimmerle

[2021-01-15 15:37] #1357 closed

[2021-01-15 15:40] zimmerle commented on #1584
@azurit proposed a Lua script in #2494. The idea is to have a transformation to perform **gunzip**.

[2021-01-15 17:00] zimmerle commented on #1238
Issue #2494 is a perfect example of a use case for the suggestion made by @lifeforms. The code in Lua is pretty straight forward and could very well fit a transformation.

Something like -
[code]

The analogous for **Python** or whatever **script language** we natively support.

Being a **Lua** script, performance-wise, may be negligent as the GZip operation itself is the one to have the heavy lif

[2021-01-15 17:30] azurit commented on #1238
I like the `t:lua` idea!

Btw, here is the newest version of the mentioned Lua script:
[code]

[2021-01-18 10:50] dune73 commented on #2465
Hey @defanator, thank you for trying this out for us. The behavior is indeed quite unexpected - and very much not desired.

We could reproduce your problem, but only with an outdated modsec/nginx connector. You write you are running with the latest master. So given our own research, this should not happen in your setup.

So could you please confirm, the problem is persistent with latest master Mod

[2021-01-18 14:30] zimmerle commented on #2294
Here there is a brief description of what may be happening - https://stackoverflow.com/questions/949959/why-do-64-bit-dlls-go-to-system32-and-32-bit-dlls-to-syswow64-on-64-bit-windows

[2021-01-18 14:30] #2294 closed, assigned to zimmerle

[2021-01-18 16:22] zimmerle commented on #2360
Closing this as I did not managed to reproduce it any longer on v3/master.

[2021-01-18 16:22] #2360 closed, assigned to zimmerle

[2021-01-18 16:22] #2376 closed, assigned to zimmerle, martinhsv

[2021-01-18 16:23] zimmerle commented on #2381
As mentioned on #2376 we no longer have leaks on the reloads. That is valid for 3.1-experimental.

[2021-01-18 16:23] #2381 closed, assigned to zimmerle

[2021-01-18 16:25] zimmerle commented on #2501
@manishnss  is that ModSecurity version 3 or version 2?

[2021-01-18 16:27] manishnss commented on #2501
@zimmerle Version 2.x

is there a chance that I am using a local env to test this rule and causing this issue? As my IP will be same all the time even after passing the defined time.

[2021-01-18 16:27] zimmerle commented on #2377
#2379 is already merged. Marking this one as fixed.

[2021-01-18 16:27] #2377 closed, assigned to martinhsv